[2021-03-15 19:52] dadjeibaah commented on #5630
Fixed by PR#5890

[2021-03-15 19:52] #5630 closed

[2021-03-15 20:41] kleimkuhler commented on #5801
Looks like this will be fixed by linkerd/website#989

[2021-03-15 20:43] kleimkuhler commented on #5800
@lagalbra Yep just open a PR in the [linkerd/website](https://github.com/linkerd/website) repo and reference this issue in the description. Thanks!

[2021-03-15 20:53] kleimkuhler commented on #5764
Great to hear @fpetkovski thanks for the update.

[2021-03-15 20:53] #5764 closed

[2021-03-15 21:25] hoboken515 commented on #5905
@aledbf thanks, this annotation is something I can try.

@olix0r This was our design for how we envisioned this. But I had overlooked the fundamentals of how nginx pools podIPs from the service.
![image](https://user-images.githubusercontent.com/7559464/111223111-b571ca00-85aa-11eb-96bf-efc910bb9e3f.png)

The two suggestions of `nginx.ingress.kubernetes.io/service-upstream` annotation or fully mig

[2021-03-16 08:14] bhavin192 commented on #5162
The actual problem of getting this working across multiple cluster is still there, I think.

This is with the latest release `stable-2.10.0` and the guide <https://linkerd.io/2.10/tasks/multicluster/>:

When I try to mirror the headless service `hello.htest.svc.cluster.local` from `east` cluster to `west`, it gets created as a ClusterIP service `hello-east.htest.svc.cluster.local` in the `west` cl

[2021-03-16 08:49] LaumiH commented on #5162
No @bhavin192 , this is the behavior that Linkerd is offering for now. I came up with the idea of letting Linkerd create ClusterIP Services for each Pod in a StatefulSet in the remote cluster where they are mirrored. Otherwise, this can be regarded as a manual workaround.

[2021-03-16 09:13] vukhanhtruong commented on #5331
I'm having the same issue with **ericsuhong**

[2021-03-16 10:39] praveenpattisapu commented on #5853
This issue still persists and please reopen the issue, I can reproduce the issue.

[2021-03-16 14:48] #5901 closed

[2021-03-16 14:50] wmorgan opened #5909 "idea: `linkerd check --short`"
We often ask people to give us the output of `linkerd check` while helping them figure out an issue they're having with Linkerd. The full output of this command is very verbose. Add a `--short` flag that just gives the overall status plus the error(s) encountered, in a compact format that can be pasted into e.g. Slack.

Maybe embed the CLI and CP versions in the output as well.

[2021-03-16 17:27] hoboken515 commented on #5905
I had misinterpreted again. I thought the `nginx.ingress.kubernetes.io/service-upstream` had to go on the nginx-ingress pods and impacted all ingresses of that nginx-class. But while testing this I realized this annotation goes on the individual ingresses themselves. Essentially allowing me to do that case by case opt-in I had mentioned as a QoL improvement.

👍 👍 👍

[2021-03-16 17:47] riccardofreixo opened #5912 "When rolling pods with multiple named ports, destination sometimes returns port 0"
We have hit this issue in production a few times in recent weeks. The observable symptoms are:

1. The source `linkerd-proxy` resolves the destination port of one or more addresses to port 0.
2. The destination `linkerd-proxy` fails to connect locally to port 0, and receives an OS error 111.
3. If this is a HTTP connection, the destination `linkerd-proxy` handles that failure by responding with a

[2021-03-16 18:23] electrical opened #5913 "mysql galera replication weirdness"
## Bug Report

### What is the issue?

When using mysql galera cluster and opaque ports thing don't seem to work as one would like.
Ports 3306 (mysql) and 4444 (SST) seem to function fine when opaque but 4567 (galera comms ) and 4568 (IST) don't seem to like it.
From what i've been able to find out so far is that it's caused by the fact that the traffic comes from localhost ( linkerd-proxy ) inste

[2021-03-16 18:25] olix0r commented on #5913
Install process should be similar to the one described here https://github.com/linkerd/linkerd2/issues/5648#issuecomment-785323473

[2021-03-16 19:20] #5886 closed

[2021-03-16 21:13] diversario commented on #5830
I'm interested! Will try to do that ASAP.

[2021-03-16 23:38] adleong commented on #5902
To clarify, I think this is happening in the topology map, not the octopus graph.

Clicking on a node in the topology map logs this error in the browser console:

[code]

I'm not sure how to get more helpful details out of that error because of webpack, but this should be easy to reproduce on a local web instance.

[2021-03-17 06:25] Pothulapati commented on #5867
@adleong There are a couple of doc updates still in flight i.e
- Flagger Canary
- ArgoCD

Both of the above require changes in external repos, and I am tracking them. Will close this once they are fixed.

[2021-03-17 06:26] #5889 closed

[2021-03-17 06:48] Pothulapati commented on #5703
Done via https://github.com/linkerd/linkerd2/pull/5851

[2021-03-17 06:48] #5703 closed

[2021-03-17 06:51] Pothulapati commented on #4459
Fixed via https://github.com/linkerd/linkerd2/pull/5408, updated at https://github.com/linkerd/linkerd2/pull/5908

[2021-03-17 06:51] #4459 closed

[2021-03-17 07:03] Pothulapati commented on #4833
Linkerd now uses the same flags i.e `--values`, etc as that of Helm but does not use the helm way of storing configuring and does that on its own!

[2021-03-17 07:03] #4833 closed

[2021-03-17 07:05] Pothulapati commented on #3406
This is fixed now. Both `grafana`, `prometheus` are enabled by default but optional now. [Check the configuration fields to see how to disable them during install.](https://github.com/linkerd/linkerd2/tree/main/charts/linkerd2)

[2021-03-17 07:05] #3406 closed

[2021-03-17 11:46] prydeep opened #5914 "Linkerd Init:ImagePullBackOff issue"
I am trying to deploy linkerd on AKS cluster and control plane pods are throwing Init:ImagePullBackOff

linkerd-controller-6d597b5648-8t8wk       0/2     Init:ImagePullBackOff   0          106m
linkerd-destination-7cfcd9469d-9rvd8      0/2     Init:ImagePullBackOff   0          106m
linkerd-heartbeat-1615975500-msslg        0/1     ImagePullBackOff        0          97m
linkerd-identity-54dd6d54dd

[2021-03-17 13:22] alpeb commented on #5914
Can you check the events on those pods to double check the right image+tag is getting pulled?

[2021-03-17 13:41] prydeep commented on #5914
Thank you alpeb.

Events:
  Type     Reason   Age                      From     Message
  ----     ------   ----                     ----     -------
  Normal   Pulling  49m (x39 over 3h44m)     kubelet  Pulling image "cr.l5d.io/linkerd/proxy-init:v1.3.9"
  Normal   BackOff  9m19s (x949 over 3h44m)  kubelet  Back-off pulling image "cr.l5d.io/linkerd/proxy-init:v1.3.9"
  Warning  Failed   4m33s (x9

[2021-03-17 14:10] kleimkuhler commented on #5162
@LaumiH Thanks for linking the Slack discussion. I see now you explained it well in the description, but reading the other conversation added some more context that I was missing. I'll reopen this for now because it's not fixed by changes in 2.10 and it's probably worth a little more discussion.

[2021-03-17 14:12] alpeb commented on #5914
Would it be possible for you to run something like `dig cr.l5d.io` in your cluster to see if that domain is being properly resolved?

[2021-03-17 14:21] prydeep commented on #5914
bash-5.0# dig cr.l5d.io

; <<>> DiG 9.16.6 <<>> cr.l5d.io
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39185
;; flags: qr rd ra; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;cr.l5d.io.			IN	A

;; ANSWER SECTION:
cr.l5d.io.		30	IN	CNAME	linkerd.docker.scarf.sh.
linker

[2021-03-17 15:13] kellycampbell opened #5917 "linkerd repair segfault in 2.10.0"
## Bug Report

### What is the issue?

[code]

### How can it be reproduced?

Running the repair command while upgrading a cluster from 2.9.2 to 2.10.0

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.17.11
- Cluster Environment: kops
- Host OS: Debian stretch
- Linkerd version: 2.10.0

### Possible solution

Using linkerd version 2.9.4, the repair command works.

##

[2021-03-17 16:16] MatteoJoliveau commented on #5446
Hello @adleong, sorry to revive an old issue but I'm facing the same problem: generating the trust anchor and issuer certificates via cert-manager, with everything managed via ArgoCD.

The problem I'm facing is related to the base64 encoding the identity controller expects for the envar `LINKERD2_IDENTITY_TRUST_ANCHORS`, that is impossible to achieve when reading the value from a Kubernetes secret

[2021-03-17 19:33] adleong commented on #5897
I spent a little bit of time and wasn't able to reproduce this.  However, I have not yet tried with the dashboard exposed through ambassador.

[2021-03-17 21:12] #5818 closed

[2021-03-17 21:49] alpeb commented on #5914
Still having issues? Sounds like something particular to your cluster given we haven't had similar reports. Any way to access cluster logs (docker's in particular)? Or perhaps you can also check general events in the cluster that might surface things like disk pressure or docker GC failing, etc.

[2021-03-17 21:56] alpeb commented on #5894
Fixed by #5906

[2021-03-17 21:56] #5894 closed

[2021-03-17 22:44] adleong commented on #5715
Hi @Neru007! Unfortunately, we have not had a chance to look at the TCP dump you attached.  Generally speaking, the more work you can do to narrow down the problem, the easier it is for us to investigate.

I'll also note that stable-2.9.4 is a point release on the 2.9 branch and actually does not include recent edge releases.  It would be super helpful if you could test stable-2.10.0 or the latest

[2021-03-17 22:59] adleong commented on #5880
Thanks @irizzant!  This is pretty weird.  Are you able to share full logs from the the forwarder's Linkerd proxy and the aggregator's Linkerd proxy?  Ideally, first setting the proxy log-level to `linkerd=debug,info`.  This should give us some additional context about what might be happening here.

[2021-03-17 23:04] adleong commented on #5331
@michalpacholczyk Thanks for the detailed report!  We have recently released Linkerd stable-2.10.0 and I'd recommend trying that version.  If you still encounter problems, I'd recommend opening a new issue where we can focus on the specifics of the problems you're encountering.

[2021-03-17 23:05] adleong commented on #5331
@vukhanhtruong I'd recommend opening a new issue with as many details and specifics as possible.  This will make tracking down the issue much easier.

[2021-03-17 23:13] adleong commented on #5662
Linkerd doesn't have a dependency on any specific DNS implementation (coreDNS vs kubeDNS vs other).  The Linkerd proxy simply uses DNS to resolve the address of the identity controller in the control plane.  Any issues with DNS or DNS timeouts will prevent the Linkerd proxy from being able to establish an identity.

With that all said, we've changed the way we do DNS queries to be a bit more defen

[2021-03-18 01:11] riccardofreixo commented on #5912
This is fixed by https://github.com/linkerd/linkerd2/pull/5911.

[2021-03-18 01:31] prydeep commented on #5914
Tried to pull images and push them to ACR repo, linkerd namespace I am able to resolve but linkerd-viz I am still seeing issues
for example web pod in linkerd-viz has events
Warning  Failed   12m (x1451 over 5h42m)    kubelet  Error: ImagePullBackOff
  Normal   BackOff  2m43s (x1493 over 5h42m)  kubelet  Back-off pulling image "cr.l5d.io/linkerd/proxy-init:v1.3.9"

I have already pulled the images

[2021-03-18 02:59] yashvardhan-kukreja commented on #5909
Hi @wmorgan , I'd like to pick this issue up :)

[2021-03-18 06:53] #5837 closed

[2021-03-18 07:35] prydeep commented on #5914
Hi alpeb,

Is linkerd-viz compulsory, my main usecase is to use only mTLS?

[2021-03-18 08:05] irizzant commented on #5880
Will definitively do @adleong , thanks

[2021-03-18 09:21] Pothulapati commented on #5917
Hey @kellycampbell, Thanks for raising this issue!

I see what's happening! This is because the `linkerd-config` format changed from `2.9` to `2.10` and thus some of the expected fields were missing. I have a [change which can fix this](https://github.com/linkerd/linkerd2/commit/439c804a2d28890ba5189027414930309fb56103) **but** that means that we are upgrading to the `2.10` format even when the co

[2021-03-18 11:47] prydeep commented on #5914
I pushed images to our ACR but when I inject, I still see it pointing to linkerd repo, any changes that I should do particularly?

[2021-03-18 12:59] #5912 closed

[2021-03-18 13:07] kleimkuhler commented on #5914
No the viz extension only provides only metrics and visibility features; the core install is responsible for mTLS.

The `inject` command provides a `--registry` flag that you may find useful for changing the registry it is pulled from. Additionally, on install I think you should be able to use the `--set proxy.image.name="..."` flag to set your proxy registry for all injected apps. If you look at

[2021-03-18 13:27] wmorgan commented on #5909
@yashvardhan-kukreja fine by me, but I'd wait to see whether one of the maintainers thinks this is a good idea first. 😅

[2021-03-18 13:34] yashvardhan-kukreja commented on #5909
Sure :)

[2021-03-18 13:40] prydeep commented on #5914
Thank you Kevin, will try this and will get back to you if I see any issues

[2021-03-18 14:13] prydeep commented on #5914
Kevin, can we also pass imagepullsecret while injecting using --registry flag?

[2021-03-18 14:21] jalwandyags opened #5922 "High latency one of our services when Linkerd is enabled (mTLS related?)"
## Bug Report

### What is the issue?
Currently, we've noticed a huge delay on one of our services, every time someone calls an endpoint that access the database, there's a 10 second delay on endpoint returning an answer. When disabling Linkerd on that pod, it's below 500ms. We have several other services that are running and connected to same DB Instance, and their response time is fine and not a

[2021-03-18 16:57] jalwandyags commented on #5922
Just to be clear, this cluster is in UAT, I've isolated it also so won't affect anyone if we need to break it :)

[2021-03-18 16:58] olix0r commented on #5909
I think ideally a `--short` (or something) CLI output would _only_ include warnings/errors and a final summary line displaying the number of OK/WARN/ERROR checks.

@yashvardhan-kukreja We'd love help here :D

[2021-03-18 17:03] #5892 closed

[2021-03-18 17:06] olix0r commented on #5880
Out of curiosity, can you try setting this annotation directly on your pod specs rather than the namespace? This may be related to #5736

[2021-03-18 17:07] olix0r commented on #5868
@kirinnee-atomi I'm going to close this for now but please let us know if you see this issue on stable-2.10.0 or more recent edge releases. Thanks.

[2021-03-18 17:07] #5868 closed

[2021-03-18 17:09] prydeep commented on #5914
Can I also deploy viz using --registry flag? I pushed viz images too to ACR but still I am seeing image pull back (pointing to linkerd registry images)

[2021-03-18 17:29] #5881 closed

[2021-03-18 17:31] kleimkuhler commented on #5914
@prydeep Yes similar to the `--set` flag above, you'll want to do the same here for the viz extension: `linkerd viz install --set defaultRegistry="..."`. Does that help out?

[2021-03-18 17:49] prydeep commented on #5914
@kleimkuhler I tried that but still seeing Failed to pull image "cr.l5d.io/linkerd/proxy-init:v1.3.9": rpc error: code = Unknown desc = Error response from daemon: Get https://cr.l5d.io/v2/: proxyconnect tcp: dial tcp: lookup proxy.conexus.svc.local: Temporary failure in name resolution

[2021-03-18 17:56] prydeep commented on #5914
I have given command like this

linkerd viz install --set proxy.image.name="xxxx.azurecr.io/proxy-init:v1.3.9" --set defaultRegistry="xxxx.azurecr.io"| kubectl apply -f -

[2021-03-18 18:56] kleimkuhler commented on #5914
@prydeep These should be separate commands. Installing the viz extension is separate from the core installation. Additionally, if all the images are in your own registry, you'll need to set those accordingly. I'd encourage you to take a look at the [values.yaml](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/values.yaml) to see where I'm getting these from.

So for your case I would

[2021-03-18 19:25] emcay commented on #5864
Thanks, unfortunately that will take us some time, I will respond back with results.

[2021-03-18 19:52] kleimkuhler commented on #5922
@jalwandyags Thanks for providing the logs this is helpful.

The timeout is caused by Linkerd failing protocol detection. After 10 seconds, it lets the traffic continue to pass through. We can see on these log lines that the outbound request is for `3306`. Interestingly, `3306` is in Linkerd's [default list](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/values.yaml#L107) opaque por

[2021-03-18 20:20] jalwandyags commented on #5922
Hi @kleimkuhler thank you for your swift response!
1.
Nothing was overwritten as far as I know (I was the one setting it up), what was done is simply `linkerd install` and we left it like that as we didn't want to experiment with the options at this stage.

2.
10.71.20.207 is the MySQL RDS (AWS) which is on the same network as Kubernetes (VPC) so that's odd, funnily enough our other services are c

[2021-03-18 20:25] jalwandyags commented on #5922
@kleimkuhler
[code]

[2021-03-18 20:57] kleimkuhler commented on #5922
@jalwandyags The destination profile returned is a little surprising: `DestinationProfile { fully_qualified_name: "", opaque_protocol: false, ..., endpoint: None }`

If the destination service found a pod for the `10.71.20.207:3306` endpoint, then the final field `endpoint` would have a value—instead we're seeing that it's empty. So we need to figure out why it's not finding a pod for that endpoin

[2021-03-18 21:10] kleimkuhler commented on #5922
@jalwandyags So I missed in your last comment:

So the MySQL RDS is not actually on the cluster, which is why we have an empty endpoint for it from the destination server. Because this is the case, we can't discover that it should be opaque traffic.

To fix this, you'll need to add `3306` to the `config.linkerd.io/skip-outbound-ports` annotation on the pods communicating with it. This bypasses the

[2021-03-18 21:39] dadjeibaah opened #5926 "RabbitMQ integration tests fail when running in arm64 env"
It looks like we can't run the RabbitMQ integration tests in an arm64 environment.
We might need to update the `rabbit-client` image to one that has an arm64 build.
[code]

It looks like the current rabbitmq client docker image does not have an arm64 build manifest
[code]
//cc @barkardk

[2021-03-18 21:49] irizzant commented on #5880
Ok, here are the linkerd-proxy logs from forwarder:
[code]

In order for you to be able to run the tests, I attach here the manifests used and here's the procedure to use them:
1. install linkerd (last edge version)
2. create a fluentd namespace with the namespace.yaml file
3. helm repo add bitnami https://charts.bitnami.com/bitnami
4. helm install fluentd -f values.yaml -n fluentd bitnami/fluentd

[2021-03-18 22:07] barkardk commented on #5926
@dadjeibaah  Apologies, I missed that. Ill get right on it

[2021-03-19 08:55] jalwandyags commented on #5922
@kleimkuhler thank you! Will get this sorted and let you know if this worked.

[2021-03-19 09:59] Pothulapati commented on #5897
Hey @vikas027, I was not able to replicate this, especially because of the comples setup i.e ambassador and EKS.

Can you provide us more logs i.e web's and tap's. Both the component and proxy logs would be useful. 🤔

[2021-03-19 10:40] jalwandyags commented on #5922
@kleimkuhler
In the deployment manifest I added:
[code]
Looking at TAP, the issue still happening.

From linkerd proxy:
[code]

Describing pod:
[code]

[2021-03-19 10:42] dominikbraun commented on #5156
I'd take this one up if @cpackingham currently isn't working on it.

[2021-03-19 10:52] Pothulapati commented on #5718
Hey @Szymongib, Thanks for taking this up.

That makes sense.
-  `config.linkerd.io` should always be a annotation, for pods and services ( I think we only set the opauqe ports annotation and nothing else for services).
- `mirror.linkerd.io/exported` and `linkerd.io/inject` are set as a labels (as they are set by the user).

I think we don't have to check for control plane annotations and labels a

[2021-03-19 10:55] kleimkuhler commented on #5922
@jalwandyags great thanks for the update!

[2021-03-19 10:55] #5922 closed

[2021-03-19 13:48] Pepsi1k commented on #5599
@adleong I use stable-2.10.0 and I see the same logs on all linkerd-proxy containers
[code]

[2021-03-19 17:54] adleong commented on #5156
Thanks for your interest, @dominikbraun, but actually I think this is already done.  The `--config` flag has been renamed to `--values` and now correctly supports specifying `-` for stdin.

[2021-03-19 17:54] #5156 closed

[2021-03-19 21:31] hwaastad opened #5932 "DNS issues in linkerd2 > 2.8.1"
## Bug Report

### What is the issue?
linkerd pods does not start due to dns issues.
Linkerd2 2.8.1 is working fine

### How can it be reproduced?

### Logs, error output, etc
controller-proxy
[code]
destination-proxy:
[code]
identity
[code]
identity-proxy:
[code]

services:
[code]

pods:
[code]
(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

###

[2021-03-20 02:43] vikas027 commented on #5897
Hello @Pothulapati and @adleong,

Thanks for looking into this. I am seeing the same behaviour in a GKE cluster too with Linkerd versions 2.8 and 2.9 too.
It is quite likely something is not configured correctly in my Ambassador configure for Linkerd, rest everything is working fine on Ambassador.

Here are some logs. Please let me know should you need any more logs.

Firefox developers tool (`403

[2021-03-20 06:43] reynn opened #5933 "New release process from #5929 caused only arm64 versions to publish"
## Bug Report

### What is the issue?

Build/Release process no longer publishes a Darwin amd64 binary. Both Darwin binaries are for arm64

### How can it be reproduced?

Download the release assets for https://github.com/linkerd/linkerd2/releases/tag/edge-21.3.3 for darwin. On non-M1 macs neither work.

### Logs, error output, etc

[code]

[2021-03-21 09:09] BouweCeunen commented on #4646
I know it's closed, but anyone any resolution for this? I only installed viz through what the docs told me.

[2021-03-21 12:35] prydeep commented on #5914
Thank You @kleimkuhler, checking this

[2021-03-22 14:50] #5933 closed

[2021-03-22 16:30] Pothulapati commented on #5246
I can take this up. I will start with removing the support for `destination.Get` with IP queries and then make the relevant proxy changes (if possible)

[2021-03-22 17:50] jijeesh opened #5935 "Custom jaeger ns is not supporting in helm chart"
document referred https://linkerd.io/2.10/tasks/automatically-rotating-webhook-tls-credentials/

[code]

Release "linkerd-jaeger" does not exist. Installing it now.
Error: rendered manifests contain a resource that already exists. Unable to continue with install: Namespace "linkerd-jaeger" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; label val

[2021-03-22 17:58] jijeesh commented on #5935
I have sent a to solve this issue [PR](https://github.com/linkerd/linkerd2/pull/5937)

[2021-03-22 20:25] olix0r commented on #5198
We might be able to just avoid static compilation/musl for now and use https://github.com/GoogleContainerTools/distroless to provide a base image with glib

[2021-03-22 21:29] #5926 closed

[2021-03-23 07:37] prasus opened #5938 "Linkerd injected apps fails when connecting to pods deployed with hostNetworking."
## Bug Report

### What is the issue?

A couple of our linkerd injected apps are failing when connecting to our non meshed scyllaDB pods, The scyllaDB pods are deployed using `hostNetwork: true`,  it works without any issues when connecting to scyllaDB pods deployed **without** using `hostNetwork: true` option.

I came across [issue/5394](https://github.com/linkerd/linkerd2/issues/5394) and this [

[2021-03-23 13:32] kleimkuhler commented on #5938
@prasus Sorry that you have ran into this issue! We recently closed a duplicate of this: #5881. The PR that closed it was #5904.

This is currently fixed in the most recent `edge-21.3.3` so I'd urge you to try that version. If you prefer to remain on stable, it will also be released as part of `stable-2.10.1`; we don't have an exact date for that but it should be soon.

I'll keep this open if you'

[2021-03-23 14:34] Wenliang-CHEN opened #5939 "Linkerd-destination OOM caused by pods with duplicate IP address"
## Bug Report

### What is the issue?

Linkerd-destination got into OOM and failed all the traffic when 2 pods are assigned the same IP, one of which is till under "Terminating" phase.

This is caused by a [AWS CNI behavior](https://github.com/aws/amazon-vpc-cni-k8s/issues/1091).

[code]

### Logs, error output, etc

Statuses of linkerd-destination
[code]

The state of the linkerd-destination of t

[2021-03-23 17:46] #5740 closed

[2021-03-23 19:26] RajKuni commented on #5662
Okay, I will try deploying stable-2.10.0 and post my findings!

[2021-03-23 21:32] olix0r opened #5945 "Update webpack to v5"
The project still uses webpack v4; but we probably want to be on v5 to pick up more recent dependencies (and security fixes).

See https://webpack.js.org/migrate/5/

[2021-03-24 03:57] prasus commented on #5938
Thanks much for the update, @kleimkuhler 👍🏿 We have recently upgraded to `stable-2.10.0` and everything seems to work fine except the ones using hostNetworking and we prefer to stay on a stable release so I am closing this for now, will upgrade to `stable-2.10.1` when it's available and open a new request if the problem persists with `stable-2.10.1`, Thanks! 🙏🏿

[2021-03-24 03:57] #5938 closed

[2021-03-24 06:39] #5935 closed

[2021-03-24 10:18] praveenpattisapu opened #5947 "Error calling Prometheus from the control plane: server_error: server error: 503:linkerd-viz"
## Bug Report
Cannot connect to Linkerd Viz: Error calling Prometheus from the control plane: server_error: server error: 503
Validate the install with: linkerd viz check

### What is the issue?
We recently upgraded to linkerd2.10.1 as we have some DNS issues with stable 2.9.2, when ever we execute the below command,
linkerd2 viz stat deploy -n dev-nsj, getting the below error and the only way to

[2021-03-24 10:38] rio opened #5948 "Linkerd 2.10 and Traefik ingress requires setting port 8443 as opaque"
A while ago I made this PR https://github.com/linkerd/website/pull/995 documenting a case where when traefik's default helm chart is used along with linkerd 2.10 the websecure port 8443 should be added to the opaque ports otherwise timeout's will occur. I find this a bit confusing because I was under the impression that client initiated TLS would just work, but if that was the case why is port 443

[2021-03-24 12:51] #5939 closed

[2021-03-24 15:15] alpeb commented on #5948
Thanks a lot @rio for the effort on creating a reproducible case :+1:

Port 443 would still work if it wasn't marked as an opaque port, but in that case we're certain that the outcome is for the proxy to just let through those connections, so we just mark it as opaque by default. The same case could be made for port 8443, but I don't know how "official" that port is to be for TLS.

I will give a t

[2021-03-24 18:18] Esardes opened #5951 "linkerd 2.10 regression when meshing a forward-proxy"
## Bug Report

### What is the issue?
In linkerd < 2.10, I could mesh a pod and a forward proxy and use my proxy from my pod as any other service.
Now I get different errors in different cases.

### How can it be reproduced?
Have a meshed forward proxy, an unmeshed one, a meshed pod, and an unmeshed one at the ready.
Errors mentioned below can be found [here](https://gist.github.com/Esardes/84cd8f

[2021-03-24 21:17] adleong commented on #5947
Hi @praveenpattisapu, linkerd 2.10.1 has not been released, did you mean 2.10.0?

Looking at the logs, it appears that Prometheus is trying to connect to the Kubernetes API at `192.168.0.1` which seems pretty weird.  I'm not sure why it would do that.  Can you provide specific steps for reproducing this?  e.g. exactly which commands to run at which versions to get into this state?

[2021-03-24 21:24] adleong commented on #5865
@kleimkuhler @tyzbit I see that #5879 has been closed.  Is there anything further to do on this issue or should we close this one as well?

[2021-03-25 00:34] tyzbit commented on #5865
I think this is close enough to being a duplicate of #5852 that it can be closed.

[2021-03-25 01:43] #5865 closed

[2021-03-25 01:44] kleimkuhler commented on #5852
The fix for this is available in the current edge `edge-21.3.3`. If anyone on this thread would like to confirm that would be helpful! I'll keep it open for a little while longer for any follow-up debugging if needed.

[2021-03-25 09:24] praveenpattisapu commented on #5947
@adleong yes, the version is 2.10.0.
yes it is very easy to replicate the issue as this issue is happening almost everyday and all i have to do is restart the prometheus pod and that will establish the connection again to dashboard etc but we cannot go live "as is" until this issue is fixed.

How to Re-Produce:

1.Install a K8 Cluster in AKS
2.Deploy some applications
3.Install latest stable linke

[2021-03-25 12:26] de-sh commented on #5899
Hey folks, I am just trying to learn more about the linkerd repo, could I contribute to solving this issue?

If yes
- I would like to know what all information are we trying to display
- To confirm, are we thinking of updating web/app/js/components/ServiceMesh.jsx? I am new to React/JSX, but I think I could learn this fast enough.

[2021-03-25 14:36] prydeep commented on #5914
@kleimkuhler I was able to fix this thank you, one question do I need to inject linkerd to Ingress Controller too?
 I have added annotation to my ingress though, but I am not sure if I have to add to my ingress controller too.

[2021-03-25 16:56] kleimkuhler commented on #4870
If anyone on this thread would like to try the most recent edge `edge-21.3.4`, PR #5904 is included and it fixed some other issues with Datadog (and host network pods in general). I'll keep this open for a little while longer for follow-up questions or comments.

[2021-03-25 17:02] kleimkuhler commented on #5541
@joewilliams sorry that I did not get back to you on this. Around these releases, fail-fast errors were occurring for any one of several reasons and it was tough to get an idea about what exactly the issue was without more verbose logging.

`stable-2.10.0` has since been released which will fix your issue, so I'm hoping you will be okay upgrading to that.

[2021-03-25 20:45] benmathews opened #5955 "Using external prometheus gets "certificate signed by unknown authority" error"
I've installed the linkerd-viz-2.10.0 helm chart configured with `prometheusUrl: 'https://prometheus.....` When accessing the dashboard (svc/web) I get errors on the screen and logs

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.17.11
- Cluster Environment: self hosted
- Host OS: Ubuntu 18.04?
- Linkerd version: 2.10.0

[2021-03-25 20:46] alpeb commented on #5948
For the life of me, I couldn't make this work again with the latest edge :man_shrugging:

@ver would you mind taking a look? To summarize, I'm trying to have an injected Traefik ingress receive TLS connections in its port 8443, without having to set that port to opaque.
I've modified the script above in [this gist](https://gist.github.com/alpeb/08ef54ce1e8b240cc7fdeae03659b716) with these changes:

[2021-03-25 21:07] 1vanzamarripa commented on #5786
@cpretzer I tried this one:

`Set restartPolicy: never in the proxy-init PodSpec`

it didn't work:

`Error from server (Invalid): error when creating "linkerd2-stable-2.9.4.yaml": Deployment.apps "linkerd-prometheus" is invalid: spec.template.spec.restartPolicy: Unsupported value: "Never": supported values: "Always"`

[2021-03-25 21:42] kleimkuhler commented on #5914
In order to get mTLS and additional service mesh features from the ingress it will be need to be injected. There are some [docs](https://linkerd.io/2.10/tasks/using-ingress/) explaining if you'd like to annotate with `linkerd.io/inject: enabled` or `ingress`.

[2021-03-25 21:42] #5914 closed

[2021-03-25 22:50] adleong commented on #5955
Hi @benmathews!

This error indicates that linkerd-viz was unable to validate the TLS certificate of your Prometheus instance running at `https://prometheus.platform.vivint.com`.  How was the TLS certificate for Prometheus (or the ingress in front of it) generated?

[2021-03-26 10:40] balajivenkataraman opened #5958 "Connection closed error=connection closed before message completed"
## Bug Report

### What is the issue?
Getting a lot of connection closed error after upgrading Linkerd and K8.

We were running K8 version 1.18.10 and Linkerd 2.8.1 and we had no issues. We upgraded to K8 1.19.7 and Linkered 2.10.0 and we are getting a lots of connection closed error.

INFO ThreadId(01) inbound:accept{client.addr=10.114.48.206:50588 target.addr=10.114.48.245:8080}: linkerd_app_cor

[2021-03-26 12:08] gaborho opened #5959 "cr.l5d.io does not work when accessed through Docker Proxy"
## Bug Report
We experienced that cr.l5.io stopped working since couple of days when accessed through a Docker Registry Proxy. We tested with Nexus and with Artifactory as well.

### What is the issue?
`2021-03-26T11:57:41.147Z [jfrt ] [INFO ] [4e133decf82980e6] [DockerV2VirtualRepoHandler:117] [http-nio-8081-exec-8] - Fetching docker manifest for repo 'linkerd/controller' and tag 'stable-2.9.4'
2

[2021-03-26 13:17] networkop commented on #5679
I came across a similar issue in my environment. This happens if endpoints of the `kubernetes.default` are listening on non-standard HTTPs port, e.g. 6443.
What happens is (starting from 1.6) Cilium performs client-side socket load-balancing, i.e. re-writes connect syscalls for clusterIPs with one of the endpoint IPs. So linkerd tries to connect to `10.96.0.1:443` but cilium rewrites this to somet

[2021-03-26 13:18] wmorgan commented on #5958
Is the system working normally otherwise, and you just see new errors in the logs? Or do you see an actual performance degregation?

Can you give us some more details about what type of traffic you're seeing these errors on, and when they occur? On startup? Sporadically? When pods are being rescheduled? Etc.

[2021-03-26 13:28] balajivenkataraman commented on #5958
Hello , the app mainly works fine apart from we do see 502 getting logged for all the websocket calls. We have a Azure application gateway deployed in front of this and we see 502 logged.
![image](https://user-images.githubusercontent.com/26010569/112638333-0d27f500-8e37-11eb-88a6-9cc86f200359.png)

[2021-03-26 14:22] kleimkuhler commented on #5786
@1vanzamarripa seems this is tracked upstream in kubernetes/kubernetes#24725.

However, I think the first solution provided makes the most sense in this case. The container should be capable of handling the case when the rules already exist instead of erroring out.

[2021-03-26 14:50] alpeb commented on #5948
I did try using  `Middleware` and `IngressRoute` as detailed in the [docs](https://linkerd.io/2.10/tasks/using-ingress/#traefik) with exactly the same results unfortunately.

[2021-03-26 16:46] olix0r commented on #5958
@balajivenkataraman We'll have the best chance at fixing this if you can provide an example application (via Kubernetes manifests) that exhibit this behavior.

[2021-03-26 16:48] olix0r commented on #5959
@gaborho I'll see if there's anything we can do on the hosting side to fix this -- in the meantime you can probably change the registry to `ghcr.io/linkerd/...` to work around this

[2021-03-26 17:04] olix0r commented on #5843
@vasi-grigo are you able to try there latest edge release? We believe that we've fixed this class of issue. Can you confirm that this is the case? We plan to include this fix in an upcoming stable-2.10.1, so we want to be sure we've actually resolved the issue.

[2021-03-26 17:16] #5902 closed

[2021-03-26 17:36] #5693 closed

[2021-03-26 18:21] akowald commented on #5947
I am getting a similar error just trying to complete the [Getting Started](https://linkerd.io/2.10/getting-started/) tutorial. The `linkerd check` after `linkerd viz install | kubectl apply -f -` just stalls out with the same error `Error calling Prometheus from the control plane: server_error: server error: 503`. Same logs from Prometheus as the OP. I did notice the linkerd-heartbeat pod failing

[2021-03-26 22:26] olix0r commented on #5948
@rio thank you for the detailed repro! This made this issue much easier to track down.

I've got a fix up here https://github.com/linkerd/linkerd2-proxy/pull/958 that we'll include in next week's edge release as well as the upcoming stable-2.10.1 release.

If you'd like to confirm this in the meantime, I've published a proxy image with the fix that can be used by setting the annotations:
[code]

[2021-03-27 09:56] rio commented on #5948
@olix0r, Yes I can confirm it for the test setup I've made! I love (almost) one-line fixes ;) To test it on the system I originally encountered it I'd have to rebuild the image for arm64. I'll probably not be able to do that this weekend. Thanks for the fix though!

[2021-03-27 19:20] olix0r commented on #5948
I've built `ghcr.io/olix0r/l2-proxy:tls-detect.dd75b4c5` for multiarch (amd64 and arm64) in case that helps. But I agree we should keep this open until we've got the fix more generally available.

[2021-03-27 20:17] rio commented on #5948
Thanks, this one works. Looking forward to the next point release.

[2021-03-28 10:03] JoergM opened #5963 "Linkerd 2.10: No retry after timeout"
## Bug Report

### What is the issue?

When configuring a timeout and isRetryable at the same Route there will be no retry after a timeout.

### How can it be reproduced?

Setup the booksapp demo as described in https://linkerd.io/2.10/tasks/books/. Do also setup the service profiles including the examples for retries and timeouts.

Then `kubectl -n booksapp edit sp/books.booksapp.svc.cluster.loca

[2021-03-29 08:46] hanoisteve opened #5965 "Support Multi-Cluster Routing for North/South communication."
## Feature Request
Allow routing across multiple clusters.

### What problem are you trying to solve?
Currently an Ingress only supports routing within a single cluster.  But with multi-cluster it will be useful to route across the clusters.

### How should the problem be solved?

What do you want to happen? Add any considered drawbacks.
Support routing across clusters for north/south traffic.

##

[2021-03-29 10:44] electrical commented on #2833
For future reference. A shutdown hook was added in https://github.com/linkerd/linkerd2-proxy/pull/811

[2021-03-29 10:45] electrical commented on #1869
For future reference. A shutdown hook was added in https://github.com/linkerd/linkerd2-proxy/pull/811

[2021-03-29 10:53] danoshi opened #5966 "external prometheus gets "certificate signed by unknown authority" error"
## Bug Report

### What is the issue?
Hi we are using linkerd version stable-2.9.2 and trying to use our own prometheus. We set the "prometheusUrl" parameter correctly but every time when we access the dashboard we get "https://prometheus......./api/v1/query\": x509: certificate signed by unknown authority"

Is there a way or parameter where we can tell the linkerd where the certificate are stored

[2021-03-29 14:26] olix0r commented on #2833
And the shutdown hook can be called automatically by [`linkerd-await`](https://github.com/olix0r/linkerd-await)

[2021-03-29 18:46] #5945 closed

[2021-03-29 19:24] ericsuhong commented on #5198
Did we get any traction on this issue? We are being flagged by internal tools for base ubuntu image vulnerability for following three containers: **proxy-init**, **proxy**, and **web**

[2021-03-29 20:29] adleong commented on #5965
Hi @hanoisteve.  In order for this to be actionable, you'll need to provide a lot more details about exactly the behavior that you're looking for and how you would like it to work.

Notably, Linkerd does not include an ingress controller: https://linkerd.io/2.10/features/ingress/

One potential solution would be to configure your ingress to route to a mirror service created by Linkerd's multiclust

[2021-03-29 20:32] adleong commented on #5963
Hi @JoergM!  This is the intended behavior.  The timeout applies to the request in its totality, including retries.  This behavior and the motivation behind it is described here: https://linkerd.io/2.10/features/retries-and-timeouts/

[2021-03-29 20:33] #5806 closed

[2021-03-29 23:41] #5736 closed

[2021-03-30 10:28] hanoisteve commented on #5965
Well I think its good that Linkerd does not provide a separate Ingress controller as the inbuilt one is quite stable and we like to use it where possible.   I will look into service mirroring.  where could I find out more about the gateway component? I want to know what it can do out of the box and also how it can be customized.

[2021-03-30 16:26] #5955 closed

[2021-03-30 16:27] kleimkuhler commented on #5672
@virenrshah and @alekseiplotnikov I've been trying to reproduce this, but have not seen it occur on any app pod's proxy yet. I'm installing linkerd, linkerd-viz, and then injecting an application like [emojivoto](https://github.com/BuoyantIO/emojivoto).

There are a few questions I have. Feel free to answer as many as you can—I would really appreciate it!

1.  Is there anything unique about the po

[2021-03-30 16:30] JoergM commented on #5963
@adleong Thanks for the answer I have actually read the linked documentation several times before, but only after your answer I read it as an overall timeout. It is stated very indirectly. Would it make sense to state this fact in a more direct way in the documentation? Maybe I am not the only one who doesn't get it.

The comment in the service profile template also doesn't mention retries:
[code]

[2021-03-30 18:48] adleong commented on #5965
Reading through the multicluster guide: https://linkerd.io/2.10/tasks/multicluster/ and the multicluster helm chart: https://github.com/linkerd/linkerd2/tree/main/multicluster/charts/linkerd-multicluster are probably the best places to start.  If you have further questions, don't hesitate to ask in the Linkerd slack!

[2021-03-30 18:48] #5965 closed

[2021-03-30 18:50] adleong commented on #5963
We'd absolutely welcome a docs PR to help make this more explicit.

As for adding retries after the timeout, we're open to discussion.  The most important questions to address would be: exactly what problem are you trying to solve, and can that problem be solved with existing tools?

[2021-03-31 00:08] dadjeibaah commented on #5880
I looked into this all little and there are a few things that stood out to me.

- The `forwarder` which is sending requests to the `aggregator` is logging `Connection closed reason=tls handshake eof` which leads me to believe TLS isn't working the way we expect between the forwarder's client proxy and the aggregators server proxy.
- I notice that the `aggregator` indeed receives request from the `

[2021-03-31 06:49] rustrial opened #5975 "Linkerd-proxy forwards traffic to the wrong Pod"
## Bug Report

We observe that Pods running in [proxy ingress mode](https://linkerd.io/2.10/tasks/using-ingress/) send traffic to the wrong (Service) target Pods.

It took us 8 hours of debugging today, to figure out that a production incident is actually caused by the buggy behaviour of linkerd2 described below.

### What is the issue?

### How can it be reproduced?

We can reproduce with the fol

[2021-03-31 08:29] JoergM commented on #5963
Ok. I will create the PRs and a feature request. It will probably take some days.

[2021-03-31 12:05] virenrshah commented on #5672
@kleimkuhler I installed linkerd viz again into my already injected cluster and deploy. So far, I have not seen any repeat of the error msgs but will keep an eye out. I will be doing another deploy soon so that might trigger it.

[2021-03-31 12:56] kleimkuhler commented on #5932
@hwaastad I'm working on reproducing this, but have not had luck so far. I've been running a Cilium cluster through Kind as described in their [documentation](https://docs.cilium.io/en/v1.9/gettingstarted/kind/) and installing linkerd `stable-2.10.0`. Linkerd installs without any issue.

There is another issue #5679 where @networkop [commented](https://github.com/linkerd/linkerd2/issues/5679#issue

[2021-03-31 12:57] kleimkuhler commented on #5679
@networkop Thanks for the comment here. I just replied to you in a different issue #5932 that is still open. If you have any more input there I'd appreciate it!

[2021-03-31 15:37] ahmetgeymen opened #5976 "502 Bad Gateway from /metrics on jaeger within linkerd-jaeger extension"
## Bug Report

### What is the issue?

Jaeger that comes within linkerd-jaeger extension, returns 502 from /metrics endoint. State is shown as `DOWN` at targets page on prometheus.

![Screen Shot 2021-03-31 at 18 02 54](https://user-images.githubusercontent.com/3007479/113170779-8b2d3700-924f-11eb-8ff7-008d0c95d922.png)

### How can it be reproduced?

First install linkerd-jaeger extension, then i

[2021-03-31 17:34] olix0r commented on #5880
@dadjeibaah thanks! at a glance, this sounds likely related to an issue we fixed last week (https://github.com/linkerd/linkerd2/issues/5948) -- it would be good to test this again once this week's edge release is out or with the workload annotations:
[code]

[2021-03-31 19:24] dadjeibaah commented on #5947
@praveenpattisapu are you able to determine how long it takes for the Prometheus pod to get into this state on a fresh install? It looks like Prometheus isn't able to reach the K8s API. Are you able to manually exec into a different pod and try reaching the K8s API on that same IP?

[2021-03-31 20:35] kleimkuhler opened #5977 "Support more config annotations on namespaces"
## Feature Request

The proxy injector does not ensure pods inherit `config.linkerd.io` annotations from their namespace if they do not have one specified themselves. The exception for this is the `opaque-ports` annotation. #5941 added this inheritance, but also added additional handling for properly displaying when workloads were annotated or injected.

Those changes should be extended to handle

[2021-04-01 05:46] #5374 closed

[2021-04-01 08:35] networkop commented on #5932
@kleimkuhler it does look like a similar issue. Specifically, based on this error:
[code]
I was initially baffled by this behaviour as well and asked a question on Cilium slack https://cilium.slack.com/archives/C1MATJ5U5/p1616758365247100

TLDR; cilium moves service load-balancing functionality inside the pod, so in your NAT redirect rules you have to account for any ports that endpoints may have.

[2021-04-01 16:50] #5898 closed

[2021-04-01 17:10] olix0r commented on #5198
@ericsuhong This is scheduled for stable-2.11.0. The best way to make this happen quickly is to submit a PR, though :D

[2021-04-01 17:14] olix0r commented on #4743
For this, I think we need to close the stream when a pod is terminated so that the proxy has to re-resolve the address.

[2021-04-01 17:15] #5976 closed

[2021-04-01 17:16] olix0r commented on #5963
I'm closing this issue for now, but please let us know if you run into any more problems!

[2021-04-01 17:16] #5963 closed

[2021-04-01 17:17] Pothulapati commented on #5976
@ahmetgeymen We fixed this in https://github.com/linkerd/linkerd2/pull/5979 by exposing `14269` in jaeger and setting the prometheus port annotation to be the same.

Feel free to try it out and give us feedback.

[2021-04-01 20:04] adleong commented on #5331
Since there doesn't seem to be anything actionable here, I'm going to close this issue.  I recommend that anyone who sees this type of behavior in Linkerd stable-2.10.0 open a new issue with as many details and specifics as possible.

[2021-04-01 20:04] #5331 closed

[2021-04-01 20:06] adleong commented on #5715
Closing this for now.  If you continue to see this behavior in stable-2.10.0 please feel free to re-open or create a new issue.

[2021-04-01 20:06] #5715 closed

[2021-04-01 20:44] dadjeibaah commented on #5899
Hi @de-sh thanks for your interest in working on this! It would be super awesome to list all installed extensions on this page.

Ideally, this extension info would look very similar to what we already display for the core control plane.
![image](https://user-images.githubusercontent.com/2197104/113349307-7313f100-92fd-11eb-87c5-26fd384ff4e1.png)

I envision adding a new section below the one above

[2021-04-01 21:21] dadjeibaah commented on #5880
@olix0r, @irizzant I've ran the reproduction steps and used the latest edge (edge-21.4.1) and I think this issue has been fixed. I no longer see the `tls handshake` errors and can see forwarded logs in the aggregator.
[code]
It would be good to test this out on your end @irizzant to confirm that this is fixed.

[2021-04-01 22:44] ahmetgeymen commented on #5976
Thanks for the interest and the fix. I would try it out as soon as when next stable version is released.

[2021-04-02 01:10] dadjeibaah opened #5981 "Support dynamic autocompletion in CLI"
Linkerd's CLI supports static autocompletion for commands, subcommands, args and flags after hitting [tab][tab]:
[code]
It'd be great to get autocompletion to work with cluster resources. For example you should be able to run this command and get a list of meshed deployments to use in the stat command:
[code]

Looking through cobra's docs, we can achieve this by using [`ValidArgsFunction`](https:/

[2021-04-02 11:00] irizzant commented on #5880
@dadjeibaah Thanks, I'm going to try and let you know

[2021-04-02 11:33] irizzant commented on #5880
@dadjeibaah  I confirm the last edge release is working as expected on my side too, thank you

[2021-04-02 13:16] kleimkuhler commented on #5880
@irizzant It was just released yesterday in `edge-21.4.1` which is a candidate for `stable-2.10.1`. We'll make the call early next week on if we need another edge or if we'll release the new stable next week.

[2021-04-02 14:01] irizzant commented on #5880
Ok @kleimkuhler thank you

[2021-04-02 14:01] #5880 closed

[2021-04-04 07:53] hwaastad commented on #5932
@networkop, @kleimkuhler,  thanks for the info. And surly, when skipping outbound 6443 it's all ok.
I notice the 2.11 label so I'm looking forward to the fix.

[2021-04-05 07:50] Pothulapati commented on #5975
With awesome help from @kleimkuhler, I was able to replicate this. I think the problem is with **a outbound proxy in ingress mode**. My guess is that this could be something to do with the cache logic there, as the proxy seems to choose the latest value from the header `l5d-dst-override` and route **all** requests with that header there.

Steps to replicate:

[code]

Thanks @rustrial for raising t

[2021-04-05 16:51] lagalbra commented on #5801
Fixed; see https://github.com/linkerd/website/pull/989

[2021-04-05 16:51] #5801 closed

[2021-04-05 21:47] jandersen-plaid opened #5988 "Linkerd proxy gRPC connections to unmeshed services result in `TOO MANY PINGs` with specific keepalive settings"
## Bug Report

### What is the issue?

We recently upgraded to linkerd stable-2.10 and discovered that some unmeshed applications would have connection disconnects after about 10 seconds. The general problem would present itself as:
1. A client from outside the cluster connects to an ingress with a linkerd-proxy sidecar
2. The linkerd-proxy would connect to the backend unmeshed application
2. The

[2021-04-05 23:05] divanikus commented on #5975
Having just the same issue with my setup. Linkerd 2.10, Nginx ingress controller in `inject: ingress` mode and K8s 1.18.

[2021-04-06 00:27] virenrshah commented on #5672
@kleimkuhler So, just a data point. I can't make changes to this cluster right now (even increasing the log level because it's production) but we started getting these errors without any re-deploy of the application/services/pods. You can see it jumping up and there was no change in deploy at that time.
<img width="1103" alt="Screen Shot 2021-04-05 at 8 23 22 PM" src="https://user-images.githubuse

[2021-04-06 03:25] SVronskiy commented on #3962
Hello!

[Disabling of using header l5d-dst-override](https://github.com/linkerd/linkerd2/blob/main/CHANGES.md#edge-20103)  in linkerd 2.9 makes it impossible to get in to green/canary service by header for running complience tests.

We definetley need some alternative way how to get in to the green/canary service for testing it, so implementing TrafficSplit.specs.smi-spec.io/v1alpha4 is requred fo

[2021-04-06 09:38] praveenpattisapu commented on #5947
@dadjeibaah it takes 20 mins for the promotheus pod to come into this state and i am now testing the connectivity from the pod to k8 API server

[2021-04-06 13:10] praveenpattisapu commented on #5947
@dadjeibaah yes, i am able to curl to k8 api server from a diff pod, do we need a network policy in place as they are in 2 different name spaces?

[2021-04-06 13:16] tobygale commented on #5672
We're seeing the same issue and have also found that restarting the Prometheus pod fixes the issue for a seemingly random period of time.

After seeing a commit that references this issue further up the thread that mentions protocol detection, we've found a more stable work-around by adding the `config.linkerd.io/opaque-ports: "4191"` annotation to deployments.

[2021-04-06 13:29] electrical commented on #5310
I think we can close this now with the modules introduced in 2.10
If it's not installed it won't show up :-)

[2021-04-06 13:29] #5310 closed

[2021-04-06 13:42] praveenpattisapu commented on #5947
C:\Users\praveen>linkerd21 viz stat deploy -n dev-nsj --verbose
time="2021-04-06T14:40:53+01:00" level=debug msg="Starting port forward to https://aks-xxx-xxxxxx.northeurope.azmk8s.io:443/api/v1/namespaces/linkerd-viz/pods/metrics-api-75dfd8c75-vc7mb/portforward?timeout=30s 51750:8085"
time="2021-04-06T14:40:53+01:00" level=debug msg="Port forward initialised"
time="2021-04-06T14:40:53+01:00" leve

[2021-04-06 13:43] praveenpattisapu commented on #5947
PS C:\Users\> curl http://localhost:49470/api/v1/SelfCheck

 StatusCode        : 200
StatusDescription : OK
Content           : {15, 0, 0, 0...}
RawContent        : HTTP/1.1 200 OK
                    Linkerd-Error: Internal Server Error
                    Content-Length: 19
                    Content-Type: application/octet-stream
                    Date: Tue, 06 Apr 2021 13:21:58 GMT

[2021-04-06 14:59] olix0r commented on #5975
For nginx, there's a pretty simple workaround:

If you change `linkerd.io/inject: ingress` to `linkerd.io/inject: enabled`, the proxy won't use this buggy client caching logic.

Then, in order to enable traffic splits, etc, you can set the `nginx.ingress.kubernetes.io/service-upstream` annotation on your ingress resources so that nginx communicates directly with service IPs so that linkerd can do

[2021-04-06 15:02] #5975 closed

[2021-04-06 15:26] praveenpattisapu commented on #5947
After restarting the prometheus pod, it all works and this is the result again,pls see the diff when it works and when it does'nt

C:\Users\praveen.pattisapu>linkerd21 viz stat deploy -n dev-nsj --verbose
time="2021-04-06T16:21:05+01:00" level=debug msg="Starting port forward to https://aks-xxx-xxxxxx.azmk8s.io:443/api/v1/namespaces/linkerd-viz/pods/metrics-api-75dfd8c75-vc7mb/portforward?timeout=

[2021-04-06 17:21] RajKuni commented on #5662
@adleong I got around to deploy 2.10.0 and it works! Proxies spin up and are ready within a couple of seconds. What changes were introduced in 2.10.0 that fixed the slow DNS queries?

And any guarantees that this behavior won't resurface in a future release?

[2021-04-06 20:04] kleimkuhler commented on #5951
@Esardes It would be helpful if you are able to test a more recent edge such as `edge-21.4.1`. It includes a fix which was causing issues with inbound TLS detection. It's possible the forward proxy's Linkerd proxy is hitting this issue. I'm not too confident about that, but it would be worth testing.

Meanwhile I started working on trying to reproduce this myself and don't have a significant updat

[2021-04-06 20:06] olix0r commented on #5662
@RajKuni https://github.com/linkerd/linkerd2/pull/5707 changed our proxy configuration to use `.`-terminated FQDNs for proxy DNS names, which eliminates the need to traverse the DNS search path to resolve control plane components.

[2021-04-06 20:06] #5662 closed

[2021-04-06 20:33] RajKuni commented on #5662
Ah, I see. Thank you!

[2021-04-06 21:28] dadjeibaah commented on #5913
Hi  @electrical, I've ran through your reproduction instructions and I'm indeed seeing some weirdness.
When starting up the cluster it seems like the first galera instance gets set up with no problem. However
once a second node gets added into the mix, and both those nodes try to join and form a cluster, the second
node has trouble figuring out the IP address of its peer. In the logs it looks like

[2021-04-06 21:37] dadjeibaah commented on #5913
So in summary:
1. Galera seems to rely on the source IP of a connection in order to work correctly so we should add `skip-inbound-ports` to its workload config to get things setup.
2.We should address the issue where outbound clients don't skip proxying these types of "inbound skipped port" connections.

[2021-04-06 21:40] jsoref opened #5994 "linkerd uninstall should have a web link for guidance"
## Feature Request

### What problem are you trying to solve?

We're trying to remove linkerd2 (or rather, we tried to remove it, and then cert-manager and some other things ended up broken).

Specifically we:
1. disabled linkerd in all namespaces (we knew about, we missed `linkerd-viz`) except `linkerd`
2. restarted as many of our deployments/replicasets as we could (we missed two)
3. deleted the

[2021-04-06 22:19] jsoref commented on #5994
I manually deleted:
[code]

and then:
[code]

And at some point I deleted the `linkerd-viz` namespace.

[2021-04-06 23:03] dadjeibaah opened #5995 "Proxy tries to initiate TLS on skipped inbound port application"
While investigating #5913, it looks like the outbound side of the proxy tries to proxy a TLS connection on a server that has its `skip-inbound-ports` configured. It seems as if the outbound proxy gets discovery info about where to send the request from the `destination` service, however, this info does not  include info about the server's `skip-inbound-ports` configuration.

The outbound proxy the

[2021-04-07 00:21] electrical commented on #5913
@dadjeibaah thank you so much for digging into this further. I saw same kind of behaviour when I only skipped inbound but assumed I was doing something wrong vs linkerd proxy not handling it correctly and therefor never reported it.

[2021-04-07 06:53] jroper commented on #3756
Is this really `wontfix`? Isn't the point of mTLS that you can ensure that only clients you know connect? If you're not ensuring that only clients you know connect, then there's no point using mTLS right? So, if you can't read a header to see if mTLS was used for a particular connection.... then what has mTLS achieved? An attacker can just make a plaintext connection, Linkerd will accept it with n

[2021-04-07 11:37] kolloch commented on #5975
@olix0r [The docs](https://linkerd.io/2.10/tasks/using-ingress/) suggest that service profiles etc only work with  `linkerd.io/inject: ingress`.

For me, that was always weird because service profiles would also work in pod to service traffic in general. Do they mean if you don't set the `Host` header to the one used in your service profile?

Any downsides to not using the ingress mode? We use Glo

[2021-04-07 14:37] RagingPuppies commented on #5684
is there a way for stupid people like me to apply the fix? such as command to run or whatever?

[2021-04-07 14:41] olix0r commented on #5975
@kolloch The docs are probably a bit over-simplified to fit a configuration that works for all ingresses without having to dig into specific ingress features... and we've only recently learned about the `nginx.ingress.kubernetes.io/service-upstream` annotation. I'm unsure if similar configuration exists for other ingresses.

Since Linkerd 2.9, by default, Linkerd doesn't actually use request heade

[2021-04-07 18:32] mateiidavid commented on #5684
Hey @RagingPuppies this should have been fixed in PR #5722 -- think it was shipped in stable 2.9.4.

If you're having similar problems I suggest giving any version (including an edge) > 2.9.4 a try, and if it persists it might be worth opening a new issue.

[2021-04-07 18:35] kleimkuhler commented on #5951
@Esardes I have created an Nginx forward proxy and tested this on `stable-2.10.0`. Unfortunately I'm not seeing the errors that you have run in to. I'll leave some steps on how to setup my forward proxy in a cluster; maybe you can use that to see what happens for you?

The forward proxy image is `ghcr.io/kleimkuhler/nginx-forward-proxy:v0.0.1`. You can run this by itself an confirm that `curl -x`

[2021-04-07 19:02] #5800 closed

[2021-04-07 20:13] adleong commented on #5988
Thanks for the detailed report and for all the investigation that you've done to dig into this, @jandersen-plaid.  It's certainly news to me that the Go gRPC implementation is so sensitive about the number of PINGs that it can accept.  There are a number of different possible ways to address this (making the keepalive configurable, as in your PR #5989 is one of them) and we need to do a bit of res

[2021-04-07 20:36] jandersen-plaid commented on #5988
Fantastic! I realize the issue itself is a bit of an edge one, and we would rather not fork the linkerd proxy and eventually fall out of date with the upstream, so I am happy to help out or submit followup PRs for the chosen solution.

[2021-04-07 20:58] #5917 closed

[2021-04-07 21:18] adleong commented on #5994
@jsoref sorry that you had such a frustrating experience.  I think the docs that you are looking for are here: https://linkerd.io/2.10/tasks/uninstall/

Please let me know or file a PR if you have any suggestions for how we can improve those docs or make them more discoverable.

[2021-04-07 21:31] kleimkuhler commented on #5843
Please reopen if you run into this issue again, but this should be fixed by #5904 which is available in the recent edges and will be in stable 10.1.

[2021-04-07 21:31] #5843 closed

[2021-04-07 21:33] kleimkuhler commented on #4870
If you run into this issue again please feel free to open a new one with more recent logs and description. The Datadog issue was fixed in #5904 and the more recent edges and stable include more helpful logs. Thanks!

[2021-04-07 21:33] #4870 closed

[2021-04-07 21:46] jsoref commented on #5994
1. At some point, this didn't work:
[code]

2. In theory, having the `linkerd uninstall` error message point to that page does seem like the right thing to do (then it's just a matter of fixing the page).

[2021-04-07 21:50] adleong commented on #5994
Can you give us more information about what didn't work about `linkerd viz uninstall | kubectl delete -f -` or steps to reproduce the failure?

[2021-04-07 22:26] jsoref commented on #5994
[code]

- That message doesn't say how to uninstall linkerd-viz, just that I should.
[code]
This yielded *nothing*.

[code]

This did stuff, but as you can see, it didn't result in everything going away. It's unclear if that was just getting advice to do in the wrong order, and would have worked better later, or if it actually went wrong.

[2021-04-07 22:31] jsoref commented on #5994
Fwiw, I'm not a huge fan of `linkerd uninstall | kubectl delete -f -` -- I guess it works because the errors go to stderr and only useful input for `kubectl delete -f -` goes to stdout. But, it's really kinda scary.

It seems like it would be better to have `linkerd uninstall --is-it-safe-yet` which could say:
[code]
And return a non zero exit code. Then people could run the equivalent of:
[code]

[2021-04-07 22:32] jsoref commented on #5994
the fact that `linkerd viz uninstall` did nothing and said nothing was obviously incredibly unhelpful, especially given that everyone seemed to expect it would do something.

[2021-04-07 22:45] adleong commented on #5994
If `linkerd viz uninstall` produced no output, this means that no linkerd-viz resources were found on the cluster to delete.  This means that the Viz extension had not yet been installed or it had already been successfully uninstalled.

But your point is well taken that producing no output whatsoever is confusing behavior.  Having `linkerd viz uninstall` print a message to stderr in this case sayi

[2021-04-08 00:25] jsoref commented on #5994
Do note that there *was* stuff to uninstall:

[code]

And `linkerd uninstall` told me there was stuff in viz!

The disconnect between the two commands is clearly a bug.

And yes, producing no output is of any kind should definitely be improved by producing some output.

I'd encourage it to include a sanity check.

`linkerd viz uninstall` should try, and if it produces no output, before saying `the

[2021-04-08 12:27] kolloch commented on #5975
@olix0r timely, great and clear reply. Thank you very much!

I'd suggest to more or less to copy this to the docs :)

[2021-04-08 12:55] kleimkuhler commented on #5591
@fpetkovski Have you ran into this recently on stable 2.10 or more recent edges?

[2021-04-08 13:19] kleimkuhler commented on #4219
@joewilliams Sorry there has been no response on this. We'll make sure to discuss and consider options to solve this issue and your linked discussion.

For your `l5d-forwarded-for` example, what use case do you have in mind for when both that and `x-forwarded-for` are set? Do you see a scenario when they would be different? It seems worth at least adding the `x-forwarded-for` header without config

[2021-04-08 13:23] kleimkuhler commented on #2746
This will be a feature in the next stable—2.11. We're still working on the more general proposal, but issues will start opening up to break out this work. I'm going to keep this closed for now since a policy meta-issue will probably come out from this planning.

[2021-04-08 13:37] kleimkuhler commented on #5599
@Pepsi1k the `Failed to resolve control-plane component error=end of stream reached` errors have been fixed and are part of the recent edges such as `edge-21.4.1`. This fix will be included in stable 10.1.

The `Failed to resolve control-plane component error` are not significant and resolve once all control plane components start up.

If you continue to run into issues, please open a new issue so

[2021-04-08 14:55] rustrial commented on #5975
@olix0r Are you sure that only `ingress` mode is affected. We reconfigured our gloo gateway to run in `default` mode (`linkerd.io/inject: enabled`) and we still observe the behaviour described in this bug report.

[2021-04-08 15:21] divanikus commented on #5975
For my setup switching to `linkerd.io/inject: enabled` did helped. At least I can't reproduce it with my test. I have also removed the `l5d-dst-override` headers though.

[2021-04-08 15:28] olix0r commented on #5975
@rustrial

Yeah, I'm pretty confident that the bug only impacted ingress mode -- the logic that could cause a cache collision is only present in the ingress code.

I'd start by double-checking that the ingress proxy is actually running in the correct mode:

[code]

This should not return anything.

Assuming that ingress is actually off, there are a few things we can try to get more information:

*

[2021-04-08 15:51] jsoref commented on #4219
`x-forwarded-for` would tell me about the external proxy, and `l5d-forwarded-for` would tell me where in the cluster the request came from.

I have an nginx backend pod that offers debugging information for clients, and it'd be nice for me to not mention the linkerd internal details.

[2021-04-08 16:33] #3450 closed

[2021-04-08 16:37] olix0r commented on #5672
After researching this, we're pretty sure that this error message is innocuous. We've updated the admin server so that this situation is handled gracefully by the proxy. This updated proxy is available on recent edge releases and will be included in stable-2.10.1.

[2021-04-08 16:37] #5672 closed

[2021-04-08 20:00] kleimkuhler commented on #5932
Thanks for linking the slack conversation @networkop. Indeed after recreating a Kind cluster with Cilium and specifying ` --set hostServices.enabled=true` I see the same errors during installation.

Right now I'm not sure what the path forward is for Linkerd to work with this setting, but there are currently two solutions:
1. Add `6443` to the skip outbound port list
2. If you do not need host ser

[2021-04-08 22:34] adleong commented on #5994
Can you provide steps to reproduce the issue where there are Viz components on the system but `linkerd viz uninstall` produces no output?  That's not a bug I've seen before.

[2021-04-08 22:42] jsoref commented on #5994
I don't have a log of everything I've done, and I'm not sure if it was something I did this week, a month ago, or 6 months ago, or that someone else did. The list of things that were available to be removed are above, so one should be able to figure out what it was thinking.

I do have 4 more clusters where I'll be removing linkerd. So, I'll get some more chances. I'll try to record each and every

[2021-04-08 22:46] adleong commented on #5994
Thanks, @jsoref, that would be helpful!

In my testing, `linkerd viz uninstall` detects and removes the components you listed above:

[code]

[2021-04-08 22:50] CannibalVox commented on #3985
I got bitten by this today, so here's a sketch of some thoughts I had on reading this:

* One of linkerd's benefits is being memory-light, so it would be good to know what memory "budget" people find reasonable for a payload-retry feature.  To me 500kb of cache space sounds good, but tight, but for a proxy that was [benchmarked at 5.7MB at 500rps](https://linkerd.io/2019/05/18/linkerd-benchmarks/)

[2021-04-08 23:20] jsoref commented on #5994
I suspect it's easier to read the code and look for early exits than to test empirically.

Fwiw, I'm running linkerd stable-2.10 from brew.

[2021-04-09 11:16] davi5e commented on #3450
An an outsider following these developments, will Linkerd Await move it's binaries from the current repository to this one?

This has major implications in our Dockerfiles and it would likely brake stuff if we are not prepared. Also, I would think this concern apply for other people as well, hence this follow up.

[2021-04-09 12:14] callumeveratt opened #6005 "Error creating admission webhook. Request Denied"
## Bug Report

### What is the issue?
We have just swapped to using cert-manager to manage rotation of certificates (only recent change) after redeploying the entire cluster admission webhooks now fail with:
`Error creating: admission webhook "linkerd-proxy-injector.linkerd.io" denied
  the request: failed to unmarshal JSON from: /var/run/linkerd/config/values:
  error unmarshaling JSON: while dec

[2021-04-09 13:13] kleimkuhler commented on #3450
@davi5e Yes that is correct. The first release under the Linkerd org is [0.2.3](https://github.com/linkerd/linkerd-await/releases/tag/release%2Fv0.2.3). Sorry this was not mentioned until now!

[2021-04-09 13:17] kleimkuhler commented on #6005
@callumeveratt It looks like the timestamp `""2006-01-02T15:04:05Z07:00""` is double wrapped in double quotes. I would expect it to be `"2006-01-02T15:04:05Z07:00"`. Is this something that cert-manager is incorrectly generating?

[2021-04-09 13:22] callumeveratt commented on #6005
@kleimkuhler Where about are you thinking it could be generated? Looking at the certificate request the following is returned:
`kubectl describe certificaterequests -n linkerd
Name:         linkerd-identity-issuer-nqfdf
Namespace:    linkerd
Labels:       app.kubernetes.io/managed-by=Helm
Annotations:  cert-manager.io/certificate-name: linkerd-identity-issuer
              cert-manager.io/certific

[2021-04-09 13:23] callumeveratt commented on #6005
@kleimkuhler Where abouts are you thinking it could be generated by cert-manager? certificate request shows the following

[2021-04-09 14:45] olix0r commented on #6005
This error is likely being thrown by https://github.com/linkerd/linkerd2/blob/a393c42536d569e5a9becc3b1dd8227063fba478/pkg/config/config.go#L37-L64 and invoked by https://github.com/linkerd/linkerd2/blob/a11012819c366574e07fadbbdf4e4a341d0cae54/controller/proxy-injector/webhook.go#L39-L39 -- when trying to parse the ConfigMap from  `/var/run/linkerd/config/values` in the injector pod.

Can you sha

[2021-04-09 14:57] callumeveratt commented on #6005
@olix0r Here you go:

[2021-04-09 14:57] callumeveratt commented on #6005
@olix0r Here you go:
[code]

[2021-04-09 15:29] olix0r commented on #6005
At a guess, I think the problem is that the `identity.crtExpiry` field is empty:
[code]

In a healthy cluster I see this set as, for instance:
[code]

So, it would be great if we could handle this error more gracefully in our parsing code; but I think you'll also need to ensure that your config is generated properly.

How did you go about creating this cluster?

[2021-04-09 16:18] olix0r opened #6007 "cli: Emit usage messages on stderr when appropriate"
I incorrectly ran `linkerd viz upgrade`, which isn't actually a command, this makes for some awkward, unhelpful output:

[code]

This is because the error message is printed to stdout and not stderr:
[code]

When a usage error is encountered, we should print usage messages to stderr, not stdout.

[2021-04-09 18:43] leecalcote opened #6009 "[Question] Link to roadmap"
## Question

Is there a link to the roadmap? I've seen links to the Linkerd2 roadmap pointing to  https://github.com/linkerd/linkerd2/blob/main/ROADMAP.md. I also see the following in Linkerd's docs regarding roadmap:

Will you confirm whether there is a published project roadmap outside of the list of active GitHub issues?

[2021-04-09 19:48] adonaicosta opened #6012 "error when try tap deploy"
after install linkerd 2.10, and linkerd-viz I received erro on container of tap

[code]

I've restart deploy on linkerd and linkerd-viz namespaces but without sucess.

This is an EKS cluster v.1.18

#### `linkerd check` output
[code]

### Environment

- Kubernetes Version: 1.18.9
- Cluster Environment: EKS
- Host OS:
[code]
- Linkerd version: 2,10

[2021-04-09 20:08] callumeveratt commented on #6005
@olix0r  Currently in my helm chart I have it set as blank, I assumed this would come from the certificate certmanager issues. Is there another value I need to provide in here when using Kubernetes.io/tls as the scheme?

[2021-04-09 22:56] adleong commented on #6007
Unfortunately cobra doesn't make this easy.

This behavior is due to this cobra bug https://github.com/spf13/cobra/issues/706 which the maintainers seem reluctant to fix.  As a workaround, we can set `Args:  cobra.NoArgs` and a dummy `Run` function on the subcommand.  This gives us the desired behavior that calling `linkerd viz foobar` results in an error being printed to stderr:

[code]

Unfortun

[2021-04-10 13:46] cpretzer commented on #6012
[code]

@adonaicosta Are these errors continuing to be logged? It looks like tap is trying to connect to the linkerd control plane components, but the certificates for those components has not been created.

If there are any logs in the control plane components, please share those, as well.

The only reason that I can think of that `tap` would initiate a connection to all the control plane compone

[2021-04-11 15:12] de-sh commented on #5899
Hey @dadjeibaah, I have to admit that I feel really bad not being able to setup linkerd from source at this point. Is there any good resource such as a video walk-through of the process to ensure that I am not faltering some where?

Extremely sorry if this isn't the right place to voice my discomforts faced in getting started.

[2021-04-12 10:31] callumeveratt commented on #6005
Update - so removing the following from the Helm Chart made it happy again:
` # must match the expiry date in crtPEM
    crtExpiry: |`

I'll leave this open if required because, as suggested, the error around it could be clearer but my issue is solved.

[2021-04-12 12:31] divanikus opened #6019 "linkerd-proxy blocks outgoing connections after a while"
## Bug Report
I'm facing a really nasty issue with linkerd-proxy sidecar. After a while it blocks connections to several in or out of the cluster addresses until I restart it. From the app point of view, connection get "connection refused" state and is being dropped.

### What is the issue?
App just stop working after several hours.

### How can it be reproduced?
I do not see any real pattern yet,

[2021-04-12 12:34] divanikus commented on #6019
Killing (`kill -9`) the linkerd-proxy resolves the problem for a while

[2021-04-12 13:28] kleimkuhler commented on #5899
@de-sh No worries! We have instructions updated for 2.10 that result in a locally built Linkerd installation [here](https://github.com/linkerd/linkerd2/blob/main/BUILD.md#comprehensive). If you make changes to the dashboard component, you can use those steps to see the changes you make.

For this change specifically, it may be a little quicker to not rebuild Linkerd each time. You may want to look

[2021-04-12 13:59] kleimkuhler commented on #6019
@divanikus It looks the issue here is coming from the `FailedPrecondition, message: "IP address conflict ...` error. All the other errors about `http2 error: protocol error` are probably caused by this; we've seen this in a few other cases where the response is too big and it results in a protocol error.

Fortunately, this was already fixed by #5893 and #5904 and is already included in the edges—t

[2021-04-12 15:29] #3962 closed

[2021-04-12 15:43] olix0r opened #6020 "proxy: Potential panic in IPv6 address handling"
The proxy does not correctly handle IPv6 addresses when coercing them to authorities. https://github.com/linkerd/linkerd2-proxy/commit/dbf898aea0d1c516e3d6f0c34a34b29c7903ad44 implements a test that fails.

Caught by https://oss-fuzz.com/testcase-detail/6502844766224384

[2021-04-12 18:19] #6020 closed

[2021-04-12 21:45] divanikus commented on #6019
Just installed `edge-21.4.3`, hope it would fix most of the problems

[2021-04-12 22:40] adleong commented on #6012
@adonaicosta your logs indicate that the tap controller is attempting to establish taps on each of the Linkerd control plane pods but it failing because those pods don't have TLS identities.  This is weird for a couple of reasons:

* of the control plane components, only `linkerd-destination` and `linkerd-controller` have tap enabled.  The tap controller should not be attempting to tap the other c

[2021-04-12 22:55] adleong commented on #6005
That's great to hear, @callumeveratt!  I agree that giving a more descriptive error would be ideal but given that this error comes from an underlying json parsing library, it's not trivial.  Given that setting `crtExpiry` is described in https://linkerd.io/2.10/tasks/install-helm/ I'm inclined to close this issue.  But if you have any specific ideas on how to make this clearer, we'd welcome a PR!

[2021-04-12 22:55] #6005 closed

[2021-04-13 02:53] kleimkuhler commented on #6019
@divanikus Great! I'll keep an eye out for any further updates from you; hopefully this is fixed by the upgrade.

[2021-04-13 11:41] divanikus commented on #6019
Well, I hope that's a coincidence, but today we got that on our external ingresses. Red line is 50x errors.
![image](https://user-images.githubusercontent.com/3438036/114546707-29fd5e80-9c66-11eb-80d8-63dffe1a2118.png)

[2021-04-13 11:59] BouweCeunen commented on #6019
The same with me. Very odd indeed. I temporarily removed the sidecar.

[2021-04-13 12:19] tarvip commented on #5672
@olix0r this fix in upcoming stable-2.10.1 affected only admin server or proxy in general? The reason why I am asking is that we have some other services also that are having interesting messages after upgrading to stable-2.10.0. For example a service that is using Akka HTTP started logging following error:
[code]

when I restart this service, then it is gone for some time, but then reappears rand

[2021-04-13 13:01] kleimkuhler commented on #6019
@divanikus @BouweCeunen Okay and can either of you provide the logs from the proxy container that is on the edge release? The logs that were originally posted above should not be there in the most recent edge, but I'm hoping there is something else to look at.

While you are at it, logs from the destination controller (app and proxy container) could be helpful as well. Sorry that you're both seein

[2021-04-13 13:08] kleimkuhler commented on #5672
@tarvip Do you have any of the app's proxy logs around the time that you see this? It would be helpful to see if it's failing to detect a protocol or something and passing it through to the app container.

[2021-04-13 13:53] hopik007 opened #6026 "Linkerd check from container"
## Feature Request

### What problem are you trying to solve?

We would like to monitor cert expiration directly from specific container and push result to the pushgateway.

I am writing simple script which call k8s API and checking certs from secrets
ie :
[code]

### How should the problem be solved?

It will be better call "linkerd check"  directly from container via k8s API and get output which

[2021-04-13 14:14] divanikus commented on #6019
I have lots of the following on the ingresses' sidecars
[code]
![image](https://user-images.githubusercontent.com/3438036/114566642-27f1ca80-9c7b-11eb-9b00-6fddabfe73fc.png)
[code]

On the service side
[code]

[2021-04-13 14:20] tarvip commented on #5672
I investigated one case, I didn't have raw log available anymore, but I was using logs in kibana.
For example when we had this `0x16` in our logs, like 760 messages per second, in the same second there were 76 following messages in proxy-log:
[code]

and 8 following messages:
[code]

`10.1.21.79` belonged to traefik pod and `10.1.4.38` to linkerd-viz.prometheus.
I checked also traefik pod proxy lo

[2021-04-13 14:45] olix0r commented on #5672
@tarvip It would be best to open a new issue for the problem you're seeing.

Any log messages with `"spans":[{"name": "daemon"}` are unrelated to your application problem--and as mentioned in this issue, these are innocuous and have been fixed.

It would also be helpful if you can configure the proxies with the pod annotation `config.linkerd.io/proxy-log-level: linkerd=debug,warn` so that we have

[2021-04-13 15:25] n-oden opened #6027 "intermittent 502 errors seen by the k8s healthchecker that do not seem to originate in the serving pod"
## Bug Report

(see long slack thread at https://app.slack.com/client/T0JV2DX9R/C89RTCWJF/thread/C89RTCWJF-1618320744.148700)

### What is the issue?

At intermittent times, readiness probe healthchecks from the kuberenetes healthchecker receive 502 errors which seem to originate in linkerd-proxy rather than the serving pod.

### How can it be reproduced?

I am frankly a little baffled on this sco

[2021-04-13 16:28] tarvip commented on #5672
@olix0r thanks, I will open new issue when I have more data available.

[2021-04-13 21:03] wmorgan commented on #3756
Thanks @jroper . It's not wontfix; that was just stalebot being overzealous.

Generally speaking, we're open to the idea of passing identity info to the application, though whether "passing the cert" is the right implementation is not clear to me.  Is this something you're interested in working on?

[2021-04-13 23:12] #5994 closed

[2021-04-13 23:17] wmorgan commented on #6009
Thanks for pointing this out. https://github.com/linkerd/linkerd2/blob/main/ROADMAP.md now contains the roadmap. Update to that FAQ entry is up for review.

[2021-04-13 23:38] leecalcote commented on #6009
Thank you, sir.

[2021-04-13 23:38] #6009 closed

[2021-04-14 12:15] callumeveratt opened #6031 "Connection refused (os error 111)"
## Bug Report

### What is the issue?
After replying linkerd with mTLS and proxy injection enabled, intermittent requests fail with
`WARN ThreadId(01) inbound:accept{peer.addr=11.0.0.4:40106 target.addr=11.0.0.18:16687}: linkerd2_app_core::errors: Failed to proxy request: error trying to connect: Connection refused (os error 111)`

### How can it be reproduced?
Install linkerd2 with certmanager ac

[2021-04-14 15:13] #6031 closed

[2021-04-15 03:54] ericjee commented on #5234
Hi @adleong ,Thx for the great work:)
Quick question, How to handle the second scenario as you described since I have my own Opentelemetry collector.

[2021-04-15 11:11] jroper commented on #3756
Of course, passing identity info is the important thing. It does appear though that there is some level of support across implementations for an x-forwarded-client-cert header, it appears that this header originates from envoy, and has been adopted from a number of platforms, I can even see some level of HTTP server support for reading this in frameworks (eg grpc). This header appears to be able t

[2021-04-15 11:55] divanikus opened #6035 "linkerd-proxy blocks actual proxy requests"
## Bug Report

### What is the issue?
We have several apps which access resources behind our corporate proxy. They use HTTP Proxy requests (CONNECT, etc) for that. It appears that linkerd-proxy sidecars effectively block all proxy request, so the simply doesn't get any responses. However, linkerd-viz shows that requests as actually happening and successfully finished.

### How can it be reproduced

[2021-04-15 14:59] kleimkuhler commented on #6035
@divanikus What Linkerd version are you observing this on? This is probably a duplicate of #5951. I left my reproduction steps on that issue but was not able to see the CONNECT requests fail; they were going through for me.

Since you are observing this, is there any chance you could try the latest edge `edge-21.4.3`? There are a few proxy fixes in there since 2.10 and it is is slated to become 2.

[2021-04-15 16:29] divanikus commented on #6035
Problem was observed at 2.10.0, nothing changed on egde-21.4.3.

[2021-04-15 16:46] divanikus commented on #6035
To be clear, I'm talking about *outgoing* requests, not the incoming ones. Proxy, by itself, is outside of the k8s cluster.

[2021-04-15 16:52] olix0r commented on #6026
@hopik007 Have you tried calling `linkerd check` from a pod? What problems did you encounter? The pod's `ServiceAccount` will need cluster admin privileges to enumerate namespaces and access secrets, etc. But I would expect that this should work. Are there changes you think need to be made on the Linkerd side to support this?

[2021-04-15 17:01] olix0r commented on #6035
@divanikus Can you share more details about the HTTP proxy? Does it require authentication? If so, how is authentication implemented?

Can you share proxy logs with the annotation `config.linkerd.io/proxy-log-level: linkerd_proxy_http=debug,linkerd=info,warn`? You may need to manually obfuscate header values if basic authentication is used.

[2021-04-15 17:09] olix0r commented on #6027
@n-oden Thanks for the report. We'll probably need to gather more data to get a sense of how to reproduce this...

* This could be a `conntrack` issue... Are you monitoring system-level conntrack tables at all? It's my understanding that connections can be dropped sporadically as this table fills up.
* Getting more detailed proxy logs (i.e. `linkerd_proxy_http=trace,hyper=trace,linkerd=info,warn`)

[2021-04-15 17:28] olix0r commented on #3756
@jroper

The solution to this is, in my opinion, to provide policy controls that allow the proxy to enforce mTLS requirements. This is something we're actively working on for stable-2.11.0 (the design is still in-flight but we should have some more concrete progress/plans on that soon). With this, we could also having the proxy reliably share metadata about these connections to the application.

W

[2021-04-15 18:34] openJT opened #6036 "helm install fails for linkerd-viz"
## Bug Report

### What is the issue?
helm install fails for linkerd-viz

### How can it be reproduced?
the linkerd-viz namespace does not exist prior to running this command

helm install linkerd-viz linkerd/linkerd-viz --namespace linkerd-viz --create-namespace
### Logs, error output, etc
Error: namespaces "linkerd-viz" already exists

 helm -n linkerd-viz status linkerd-viz     ->

NAME: linker

[2021-04-15 18:52] #5444 closed

[2021-04-15 19:06] alpeb commented on #6036
The recommended helm install procedure is to not use `--create-namespace` so that the namespace template included in the chart is used, given it contains required labels and annotations.
If needed, you can create the namespace beforehand, making sure it contains the required metadata (see the [tempate](https://github.com/linkerd/linkerd2/blob/main/viz/charts/linkerd-viz/templates/namespace.yaml)).

[2021-04-15 19:17] openJT commented on #6036
Ok thanks, that helped. I had previously tried to install it without using the --create-namespace, but I was using the --namespace linkerd-viz flag, and I was getting a namespace  does not exist error, creating it manually before hand was also not working.

I thought I tried helm install linkerd-viz linkerd/linkerd-viz but apparently I had not.

helm install linkerd-viz linkerd/linkerd-viz worked.

[2021-04-15 19:20] #6036 closed

[2021-04-15 20:42] jroper commented on #3756
Agreed that service mesh level policies solves this. Sharing the metadata to the application is useful for situations where declarative policies are not enough to meet an applications needs.

An example use case we have, we have a multi-tenant serverless platform, each tenant has their own namespace. We also have a single service that offers resources to all tenants. Access to these resources need

[2021-04-15 21:13] olix0r commented on #3756
@jroper Thanks for the thoughtful context!

I'm going to add this issue to our 2.11 milestone so that we have a reminder to update it as our policy design/implementation progresses. I hope that we'll at least support surfacing the mTLS status as a part of this...

[2021-04-15 21:31] feiyushi commented on #5350
reporting back. it was a misconfiguration where trust anchor and intermediate CA shared the same subject name.

[2021-04-15 21:40] kleimkuhler commented on #6019
More verbose logs would help us figure out what is going on here. We have not yet reproduced this, but if either of you is able to change your log verbosity level that would be great.

On the workloads where you are seeing this, you can change the proxy's log level with an annotation. If you set the annotation to: `config.linkerd.io/proxy-log-level: linkerd_proxy_http=trace,hyper=trace,linkerd=inf

[2021-04-15 22:00] dadjeibaah commented on #5899
@de-sh, thanks for working on this! and no worries on getting stuck during the local dev environment setup process. @kleimkuhler  is correct in that you can follow the web development docs to get squared away. Let us know if we need to update the instructions!

[2021-04-15 23:21] adleong commented on #5958
Closing due to inactivity and lack of details around how to reproduce.  Please re-open if you're able to provide more information.

[2021-04-15 23:21] #5958 closed

[2021-04-16 11:15] tarvip commented on #5672
@olix0r regarding initial issue, I upgraded one of our linkerd from 2.10.0 to 2.10.1, `proxy admin server is HTTP-only` is gone, but now proxy logs are polluted by:
[code]

I also enabled the debug log:
[code]
`10.0.5.162` belongs to `linkerd-viz.prometheus`

I understand it is harmless, but would be nice not to log those info messages.

[2021-04-16 12:21] #5718 closed

[2021-04-16 13:04] #5195 closed

[2021-04-16 13:28] tarvip opened #6037 "invalid HTTP method parsed"
## Bug Report

### What is the issue?

After upgrading Linkerd to `stable-2.10.1` some proxies (not all) are logging following lines:

[code]

About 2 messages per second.

### How can it be reproduced?

Not sure how to reproduce, in my case at least 2 clusters were affected by this, haven't upgraded prod cluster.

### Logs, error output, etc

I enabled debug logs as well then the output is follow

[2021-04-16 15:36] rio commented on #5948
Just verified 2.10.1 works for my installation. Thanks for the fix! Closing.

[2021-04-16 15:36] #5948 closed

[2021-04-16 16:44] #5995 closed

[2021-04-16 17:25] mateiidavid commented on #5162
Hey everyone, I have been looking into this in the past week and have a potential solution along with some questions. In coming up with a solution, I had these two statements into consideration:

The solution to me seems to be pretty simple -- if we can let K8s configure DNS entries for mirrored pods on the src cluster and if we can route to the right pod in the gateway then all's well.

**How doe

[2021-04-16 20:55] kleimkuhler commented on #6037
@tarvip Do you see the logs lines upon application startup or does it only start occurring after some time? Does it ever resolve by itself? If not, does restarting the application pod or the Viz's Prometheus pod resolve it?

Similar to #5672 we've been unable to reproduce this issue so far so any details about the pods that you see this on would be super helpful. If you can provide a manifest that

[2021-04-17 15:55] SiegfredRodriguez opened #6040 "Allow specification of sidecar image for each Jaeger collector pod"
Allow specification of sidecar image for each Jaeger collector pod.

The problem is that it seems to be difficult to register a Jaeger collector pod to a service registry.

The common solution is to use the side car pattern, and use something like Spring Cloud Netflix Sidecar to do the registration in behalf of the collector.

Current usage in mind is:

linkerd jaeger install --set sidecar.image="

[2021-04-19 08:13] tarvip commented on #6037
I saw them since application startup. Also, not all pods that belonged to same Deployment had this issue.

Since I started playing with Viz's Prometheus to enable more logging for proxy I am unable to reproduce. So, for now issue is gone.

I will keep monitoring the situation and update if I have more information.

[2021-04-19 12:10] kleimkuhler commented on #5162
Creating the endpoints object as you described seems like a good way to solve this. As for your question:

_This is a possible solution I have not made any code changes to see if this works._

So right now when making a request from the source cluster for the non-headless service `foo-east.default.svc.cluster.local`, the client has to query the destination service for that destination. The destina

[2021-04-19 12:37] kleimkuhler commented on #6037
Ok thanks @tarvip. I'm not sure we want to close if you can't reproduce; this is still an issue, but just unfortunate if it goes away when logging is turned up. I'll keep an eye out for any further updates from you.

[2021-04-19 18:04] adleong commented on #6040
Hi @SiegfredRodriguez!  I don't think I understand what problem you're solving here with a registration sidecar.  The collector is discoverable by a kubernetes service: `collector.linkerd-jaeger`.  Can you elaborate on why further registration is necessary?

[2021-04-19 23:30] BillyMorgan commented on #6012
Hi, I'm seeing the same issues as @adonaicosta on slightly different versions:
[code]

I've tried to keep my install steps as minimal as possible:
* `linkerd install | kubectl apply -f -` then waited for everything to settle
* `linkerd viz install | kubectl apply -f -`
* At this point nothing is "tappable" so I deleted the linkerd controller,  destination and sp-validator pods (I purposely deleted

[2021-04-19 23:57] adonaicosta commented on #6012
@BillyMorgan and @adleong, the conclusion I reached was of a possible problem in the AWS VPC that causes this error in the subnets where the cluster nodes are allocated.
The old VPC has short ID and new ones have big ID name. (I don't know if this is an problem on AWS and if they keep same based configuration)
I recreated the cluster in a new VPC with 3 new subnets and allocated the new cluster an

[2021-04-20 00:15] BillyMorgan commented on #6012
Thanks @adonaicosta but all my infrastructure is declared via terraform so rebuilding isn't (*shouldn't*) make any difference.

Considering this is a cluster we're hoping to spin up in multiple places, I'd rather get to the bottom of the issue so that I can have confidence going forward that it's either not going to happen again or that I at least know what to look out for.

[2021-04-20 02:09] jroper commented on #3756
My attempt at a PR for this is here: https://github.com/linkerd/linkerd2-proxy/pull/981

[2021-04-20 02:36] jijeesh opened #6043 "Centralized Grafana is not supporting Dashboards"
## Bug Report

### What is the issue?
Grafana dashboard is currently supporting into hardcoded data source name prometheus only. It will not work directly in external Grafana and Prometheus

### How can it be reproduced?
 Most of the Grafana default datasource will be Prometheus (Please note Capital letter begin with). So we need to duplicate datasource with small letter names like prometheus to w

[2021-04-20 04:52] SiegfredRodriguez commented on #6040
Hello @adleong,

I understand linkerd's jaeger collector can be discovered by kubernetes DNS, however i am thinking of the scenario where the service fleet is using client side load balancing services registries like Eureka, and Zookeeper. Though I honestly don't know if Kubernetes service load balancing would be enough for collector purposes.

[2021-04-20 07:10] Pothulapati commented on #6043
@jijeesh Thanks for raising the question.

Ignore my lack of knowledge with Grafana.

variable in Helm?

I was hoping users could change the datasource variable value to their prometheus URL. Is that not possible? 🤔

Feel free to raise a PR if you are interested to fix this.

[2021-04-20 08:35] jijeesh commented on #6043
it will help to solve in a single cluster when we change the data source variable value.
but we could not able to select which data source want to select  if we are creating a Grafana with multiple Prometheus servers  as data source
I will try to make pr. but I have changed all the dashboard JSON files like below example

![image](https://user-images.githubusercontent.com/8288856/115364493-1102298

[2021-04-20 11:09] jijeesh commented on #6043
I have sent a PR [6044](https://github.com/linkerd/linkerd2/pull/6044)

[2021-04-20 14:45] tarvip commented on #6037
I was able to capture something.
foo-service pod: foo-service-65998f67c6-8lks5 with IP 10.1.17.19, it was running with:
[code]

In logs there were following lines:
[code]

and prometheus proxy was running with:
[code]
I have attached logs from prometheus linkerd-proxy where timestamp is between `2021-04-20T13:43:34.000205856Z` and `2021-04-20T13:43:35.989621424Z` as [prom-proxy.log.gz](https://git

[2021-04-20 15:12] mateiidavid commented on #5162
Have an update with a conversation we had outside of this GitHub issue.

Kevin's suggestion seemed promising but it might be infeasible for this purpose. The main assumption we had was that the outbound proxy would perform a profile lookup on the fqn name of the instance we are trying to reach (e.g `mehdb-0.mehdb-east.default.svc.cluster.local`), then using the fqn again we would have a `Get` call

[2021-04-20 15:14] alekseiplotnikov commented on #6037
Hi, we have the same issue after upgrading to linkerd 2.10.1 in our testing environments. Logs have many "Connection closed error=invalid HTTP method parsed" errors. Pods seem to be randomly affected, but in general the issue is reproducible, when I restart some deployment's pods couple of times. I enabled tracing configuration for one of the deployments and this is what I got from logs:
[code]
I

[2021-04-20 16:18] tarvip commented on #6037
In our case also other pods are randomly affected like I mentioned [here](https://github.com/linkerd/linkerd2/issues/5672#issuecomment-818690872).

[2021-04-20 17:50] olix0r commented on #5162
Note from https://kubernetes.io/docs/concepts/services-networking/service/

I'm not sure whether this means that the Kubernetes API will now allow this or whether kube-proxy doesn't support it. If only the latter, it could still be an option for us...

[2021-04-20 18:24] olix0r opened #6045 "Adapt to Grafana's new licensing"
Grafana is now going to be distributed under the AGPLv3 https://grafana.com/blog/2021/04/20/grafana-loki-tempo-relicensing-to-agplv3/

I'm not lawyerly enough to articulate the implications of this on Linkerd's use of Grafana in the viz extension but, before upgrading Grafana, we'll need to understand this more fully so that those who are adopting or distributing Linkerd--an Apache v2 licensed pro

[2021-04-20 18:49] olix0r commented on #6045
As I understand it, as long as we're distributing an unmodified Grafana image, that shouldn't impact the rest of Linkerd's licensing. My main questions are:

* If we extend Grafana base images with our configurations, is that considered modification?
* Does (hyper-)linking to Grafana from the Linkerd CLI or Web UI constitute "linking" in the same sense as it would for library code?

[2021-04-20 19:10] mattatcha commented on #6037
Here are the logs for 2 different pods.

It looks like the prometheus proxy is expecting `10.16.139.126` to be `default.batch.serviceaccount.identity.linkerd.cluster.local` when it should actually be `default.person.serviceaccount.identity.linkerd.cluster.local`

[code]

Person app (IP addr: 10.16.139.126)
[code]

Prometheus proxy logs
[code]

[2021-04-20 20:50] dadjeibaah commented on #5899
@de-sh, checking in to see if I can be of any help with issue :)?

[2021-04-20 22:08] BillyMorgan commented on #6012
Hi @adleong . I've collected some more logs that might be useful in working out this problem.

I've been testing against the viz web controller because that's the example used in the basic install docs.

I can see the linkerd identity pod certifying (apologies if I'm using the wrong terminology, I still don't really understand what I'm doing):
[code]

I can see the pod is getting an identity:
[cod

[2021-04-21 02:24] kleimkuhler commented on #6037
Thanks for all the feedback on this the logs are super helpful. After the last comment from @mattatcha I'm realizing that a proxy (it tends to always be Viz Prometheus's proxy) is setting the wrong SNI when initiating a TLS connection. We can see this with the `Identified foreign SNI` log line—I missed then when originally looking so I'm sorry about that!

In @tarvip's case, the Prometheus proxy i

[2021-04-21 02:25] #5977 closed

[2021-04-21 04:07] de-sh commented on #5899
Hey @dadjeibaah, I am sending a detailed email about the issues I am facing right now.

[2021-04-21 07:10] #5246 closed

[2021-04-21 09:01] tarvip commented on #6037
I think this issue happens if restarting multiple pods at the same time and new pod gets recently terminated pod IP. In this case prometheus proxy is using wrong SNI. I think you could reproduce it if you set your IP pool small enough so that when restarting multiple pods at the same time they will get recently terminated pod IP.

I was able to capture some logs with `linkerd=trace,hyper=trace,war

[2021-04-21 10:27] stefanprodan commented on #6045
I see you are relicensing with Apache here https://github.com/linkerd/linkerd2/blob/main/grafana/Dockerfile#L3, maybe that's an issue? @olix0r have you opened a ticket in CNCF Servicedesk around this? We also distribute Grafana as part of Flux monitoring task but we don't build our own container yet, once our dashboards will hit the ectd limit we'll have to do same thing as you.

[2021-04-21 11:58] mateiidavid commented on #5162
### Testing service 'redirection'

In my last comment I offered two solutions that were suggested by the team:
  * back up the mirrored services with some pods (to get IP addresses allocated);
  * or build a set of clusterIP services for each instance of the StatefulSet (managed by the svc mirror controller).

I went with option (2) and built some manifests to test assumptions.

1. I created 2 clu

[2021-04-21 12:31] NeilMadden commented on #3756
Awesome, thanks @jroper - now I can feel better about not getting around to opening that copy of Rust in Action sitting on my Kindle... :-)

[2021-04-21 14:16] stefanprodan commented on #6045
@olix0r looks like we need to stop updating Grafana and stick to the last version released under Apache, see https://twitter.com/cra/status/1384859663615864833?s=20

This is a sad day for most CNCF projects....

[2021-04-21 15:49] Pothulapati opened #6046 "multicluster: check control-plane proxy versions"
https://github.com/linkerd/linkerd2/pull/5673 adds `control-plane-proxy-checks` which perform the same proxy version checks from the data-plane on the control-plane ones.

Those checks should also be present on the multi-cluster extension under `linkerd mc check`

[2021-04-21 16:59] adleong commented on #5867
@Pothulapati any update on these?  since these changes are already tracked externally, should we close this tracking issue?

[2021-04-21 17:50] mattatcha commented on #6037
FYI I used `trace` as the log level for the logs I posted above, I don't think I tried using `linkerd=trace,hyper=trace,warn` though.

[2021-04-21 18:28] kleimkuhler commented on #6037
@tarvip Yep that makes sense too. The SNI isn't necessarily getting set incorrectly if it was correct before, but not torn down properly after the pod restarted. I'm working on a repro for this right now and will keep you updated with what I find.

[2021-04-22 00:17] Type1J commented on #2882
Is there an effort to try to make the proxy run on Windows? I have a few projects that would benefit.

[2021-04-22 00:43] cpretzer commented on #2882
@Type1J I haven't heard of anyone working on this since @vaniisgh  took it up, and to clarify, the purpose of this issue is to prevent the proxy from being injected into workloads running on Windows nodes.

To answer your question, I believe some of the Deis/Microsoft team were working on this a while back, but I haven't heard anything recently.

If I remember correctly, the main issue with runnin

[2021-04-22 06:09] #5623 closed

[2021-04-22 11:16] omaskery commented on #5988
Sorry this is slightly off topic, but I just wanted to say a massive thank you to @jandersen-plaid for what seems like an excellent investigation into this problem. We've been having this problem for a while now and pulling our hair out trying to work out what was going on. Thank you :+1: :tada:

[2021-04-22 12:35] sagarpatil23192 opened #6052 "Ability to change the load balancing policy(algo) used by Linkerd"
Currently Linkerd only supports EWMA(exponentially weighted moving average ) algorithm for load balancing. Like the other service mesh in the market can we provide different LB's options to linkerd. Consul service mesh supports same feature where it provides various options for the same. Please refer to the link for the same: https://learn.hashicorp.com/tutorials/consul/load-balancing-envoy?in=con

[2021-04-22 15:20] Type1J commented on #2882
`iptables` ... I think that's Window's biggest problem for service meshes. I'm hoping that somebody else will solve this problem on Windows before I'm forced into it.

[2021-04-22 16:54] cpretzer commented on #2882
You're our only hope @Type1J 😄

[2021-04-22 21:52] Abrishges opened #6053 "Linkerd 2.9.4 destination component failed to get node topology for a node"
### What is the issue?

we recently upgraded linkerd from 2.8.0 version to Linkerd 2.9.4 and we run into an issue where some of our services randomly returning service unavailable, while all service pods are running fine. Looking into linkerd-proxy logs we see that many connections are in "fail-fast" mode.
Looking into linkerd-destination logs, we see that there are many errors where destination s

[2021-04-23 07:33] palmtoy commented on #6037
We had the same issue.

Env: AWS EKS v1.18,  Linkerd stable-2.10.1

How did we resolve it?
We checked K8S Nodes' config.
Found that, there is a config item "clusterDNS" with a strange IP as its value.
Remove the config item "clusterDNS", install LocalDNS ( maybe needn't ).
Everything is OK.

[2021-04-23 10:18] Pothulapati opened #6054 "SMI Extension for Linkerd"
## Current State

Currently, Linkerd knows about SMI's `TrafficSplit` resource **natively** which means the destination understands those resources directly and pushes those updates to proxies. The proxies don't really understand `TrafficSplit` resources directly and hence these are converted into `ServiceProfile`'s [dstOverrides](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/templ

[2021-04-23 13:25] kleimkuhler commented on #6037
There is not a solution for this yet but I have a reliable reproduction and can explain what is happening. This happens most often with the Viz extension's Prometheus, but any proxy is susceptible to the issue.

1. The Prometheus deployment is rolled and the new Prometheus pod (say `10.0.0.2`) starts scraping the old Prometheus pod (say `10.0.0.1`) at `10.0.0.1:9090` as it is terminating. It opens

[2021-04-23 14:03] kleimkuhler commented on #5162
@mateiidavid thanks for looking into this second issue. It's good to see that it seems like there are less open questions than the last solution!

In (3) your question about the wrong namespace looks to be related to a typo in your `-path`. It should be `mehdb-0.mehdb-east.default.svc.cluster.local`—right now it's missing the `mehdb-east` namespace section.

As for removing `Get` from the proxy pa

[2021-04-23 15:11] wmorgan commented on #3985
Appreciate the writeup @CannibalVox . Addressing gRPC retries is officially on the [Linkerd Roadmap](https://github.com/linkerd/linkerd2/blob/main/ROADMAP.md). These sorts of requirements are very helpful.

[2021-04-23 16:33] adleong commented on #6053
I believe this issue was fixed by https://github.com/linkerd/linkerd2/pull/5722 and should be fixed in Linkerd stable-2.10.0 and later.

[2021-04-23 16:36] adleong commented on #6052
@sagarpatil23192 can you tell us more about the problem that you're trying to solve here?  do you have a scenario where EWMA is not appropriate?

[2021-04-23 17:22] olix0r commented on #6052
Also, I should note that if your application implements an alternate load balancing scheme, Linkerd won't override it. But I agree with @adleong: we're unlikely to implement features purely for the sake of feature-parity. It would be most helpful to describe the problem at a higher level (what problem are you solving) so that we can prioritize the correct solutions to that problem.

[2021-04-23 17:58] #6046 closed

[2021-04-23 18:48] adleong commented on #6040
It's unlikely that we'll support this for the Jaeger which is bundled in the Viz extension.  However, it is easy to run your own Jaeger collector with any configuration or sidecars that you like and have the Viz extension use that.  See the docs: https://linkerd.io/2.10/tasks/distributed-tracing/#bring-your-own-jaeger

[2021-04-23 20:47] coderanger commented on #6045
Not a lawyer but I was sent this thread from someone with questions so an attempt to bring things back to reality a bit:

It wouldn't be a modification as you are not modifying any Grafana source code. However it miiiiight be a derived work. The FSF's position is that dynamic linking does activate virality and Docker layering is kind of like dynamic linking if you squint really hard. However the F

[2021-04-23 21:04] dadjeibaah commented on #6012
@adonaicosta, @BillyMorgan

Can you  confirm if the identity info that the outbound proxy of `tap` matches up with the identity info received in the `tap` controller. It might be helpful to set the `tap` controller's log level to debug?

[code]

Confirm that the outbound proxy gets identity info of the pod we are trying to tap:
[code]

At the debug level, the `tap` controller should also log that

[2021-04-24 03:15] BillyMorgan commented on #6012
Thanks for looking into this @dadjeibaah,

I increased the loglevel as you suggested but I'm not sure it's uncovered any further clues. I also wasn't sure about the `poll_profile` command you mentioned, it seems like it might be a custom script you use locally? After setting loglevel to debug, here's what I ran (again, this is while running `linkerd viz tap -n linkerd-viz deploy/web` in a separate

[2021-04-24 04:00] dadjeibaah commented on #6012
@BillyMorgan oops, that wasn't a custom script, I was grepping for `poll_profile` in the logs. That should be:
[code]

[2021-04-25 12:29] BillyMorgan commented on #6012
Ah right. I assumed you meant to grep for that string. `poll_profile` doesn't show up anywhere in the logs. Here is the entire log of a newly started tap pod:
[code]

Another thing I've noticed is that there don't seem to be any edges listed in the linkerd namespace, will this be due to the same issue?
[code]

The `linkerd-viz` namespace does have one edge however:
[code]

[2021-04-26 10:08] prasus opened #6058 "Intermittent 0-byte responses in simpleRPC calls."
## Bug Report

### What is the issue?

We have recently introduced Linkerd (`stable-2.10.0`, deployed on self hosted k8s) in some of our apps and it works fine in general, but I have observed that every now and then the HTTP requests from our apps receives a response with an empty body (0 bytes), such events (simpleRPC calls from a few non-meshed apps to a meshed app) happens intermittently and I

[2021-04-26 10:26] kartoch commented on #5677
Small update from https://github.com/kubernetes/minikube/issues/10387 : using podman driver solves the problem.

[2021-04-26 11:11] sagarpatil23192 commented on #6052
@adleong Currently the other service mesh products are providing multi LB options at the SM level. So it would be really good if we are able to select the algo ourselves so that we decide if we want to go with some other algo. So I have no problems with  the current algo but it is always better to have options

[2021-04-26 14:06] mateiidavid commented on #6058
Hey @prasus thanks for raising this! Think we briefly discussed in on Slack. Since there isn't much information available, it would probably be worth it for me to reproduce and see exactly what's going on to try and pinpoint the issue.

To that end, any reproduction steps you can provide are much appreciated. And just to confirm, this only happens when you have an unmeshed workload sending an outb

[2021-04-26 15:21] dadjeibaah commented on #6012
@BillyMorgan, just to confirm in the logs you posted above, is the `tap`'s proxy set to debug? I don't see any debug log lines in there. The info we are trying to find is logged at the debug level. You should be able to set the log level by running something like:
[code]

and then restarting the deployment for the proxy to pick up the annotation

[2021-04-26 18:04] hollowimage opened #6062 "linkerd viz uninstall missing role/rolebinding output for full cleanup"
## Bug Report

### What is the issue?

when you install viz via `linkerd viz install | kubectl apply -f -`  it creates resources, including a role and a rolebinding named web; but i think using `linkerd viz uninstall | kubectl delete -f -`  does not delete those, so when i tried to install viz with helm, it threw a managed conflict.

using linkerd viz install | kubectl delete -f - instead of linke

[2021-04-26 20:48] kgibcc opened #6063 "Secrets Not Creating on Helm Install With Other Certs Specified"
## Bug Report
linkerd-proxy-injector-k8s-tls
linkerd-sp-validator-k8s-tls

Not created on helm install when specifying
--set proxyInjector.externalSecret=true
--set-file proxyInjector.caBundle=webhook-ca.crt
--set profileValidator.externalSecret=true
--set-file profileValidator.caBundle=webhook-ca.crt

### What is the issue?
secrets not created with helm install

### How can it be reproduced?
add

[2021-04-26 21:16] alpeb commented on #6063
If you set `--set profileValidator.externalSecret=true` it means linkerd should not create the `linkerd-sp-validator-k8s-tls` secret because you will provide it through external means, such as cert-manager. Please refer to [these](https://linkerd.io/2.10/tasks/automatically-rotating-webhook-tls-credentials/) instructions on how to setup cert-manager to provide this, and the other (`linkerd-proxy-i

[2021-04-26 21:19] kgibcc commented on #6063
so install cert-manager and issuer configs before linkerd install?

[2021-04-26 21:26] kgibcc commented on #6063
Which order does everything need to occur?  The linked instructions have secrets being created for linkerd-viz and linkerd-jaeger before the namespaces are created.  Is it fine to create the namespaces or should they be created by the install?  If install runs before secrets are created, will install fail?

[2021-04-26 21:31] BillyMorgan commented on #6012
Thanks @dadjeibaah . Sorry, I should have noticed, that command annotates the deployment, but has not effect on the pods 🤦

Now that I've set that flag I'm getting a *lot* more output..

When grep'ing for poll_profile I get to be what looks like a static output: (static in that it doesn't seem to be affected by whether or not I'm trying to run a `tap`)
[code]

The full output seems to have some mo

[2021-04-26 22:15] kgibcc commented on #6063
Executing the following resolved
[code]

[2021-04-26 22:15] #6063 closed

[2021-04-26 22:32] dadjeibaah commented on #6012
@BillyMorgan, Hmm, seems like the full output might be more useful here then. Do you mind sending a gist that contains the full debug logs for the tap pod from pod startup?

There are some log lines we'd need to see that show that the tap pod's proxy is getting the right identity info from `linkerd-destination`. It probably happens somewhere earlier in the full output you've posted but I'm not see

[2021-04-26 22:35] kgibcc opened #6064 "tap and tap-injector secrets not getting created on linkerd-viz install"
## Bug Report
[code]
### What is the issue?
Secrets are not created on install
[code]
### How can it be reproduced?
[code]
### Logs, error output, etc
tap error
[code]
tap injector error
[code]

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

#### `linkerd check` output

Also, linkerd-viz not detected on linkerd check when installed with helm
[co

[2021-04-26 22:43] adleong commented on #6064
Hi @kgibcc

As per the [viz chart docs](https://github.com/linkerd/linkerd2/tree/main/viz/charts/linkerd-viz), the externalSecret value means:

Since you have externalSecret set to true, the chart does not generate a secret resource and assumes that one will be supplied by an external system such as cert-manager.  If you would like these resources to be generated by the chart, disable the external

[2021-04-26 22:44] BillyMorgan commented on #6012
@dadjeibaah sure thing, here you go: https://gist.github.com/BillyMorgan/1f782f3cb8b88825a3d4b45ed22f1476

There does appear to be a load of nasty looking messages in there. Things that look like they should at least be WARN level? Anyway, hopefully this will help shed some light on the issue.

[2021-04-26 23:11] dadjeibaah commented on #6012
So, combing through the logs, it looks like the first initial attempt at establishing a tap runs into some destination failures.
[code]
We try and get info from destination but it seems we are getting that error above. That means `linkerd-destination` isn't able to resolve that pod's identity for some reason, possibly. The next best place to look is through the logs of the `linkerd-destination` po

[2021-04-26 23:16] kgibcc commented on #6064
@adleong I was following the instructions here https://linkerd.io/2.10/tasks/automatically-rotating-webhook-tls-credentials/

Correct, I'm following instructions here https://linkerd.io/2.10/tasks/automatically-rotating-webhook-tls-credentials/

But I don't see anywhere to create the secrets:

[code]

How do you suggest they be created?

[2021-04-27 00:17] BillyMorgan commented on #6012
@dadjeibaah Here are the logs I could gather (I have removed/obfuscated some data that appeared sensitive. None of what I removed seems relevant to fixing this issue). I enabled debug log level on the destination container itself and the linkerd-proxy. https://gist.github.com/BillyMorgan/481575a802e406dffd69f1ff97694b2a

Only thing that stood out to me was this snippet, but again, I'm just a n00b

[2021-04-27 07:26] gr8Adakron opened #6065 "Service Profile not getting implemented"
## Bug Report

### What is the issue?

Applying service profile but not showing on the dashboard

### How can it be reproduced?

Client version: stable-2.10.1
Server version: stable-2.10.1

Install `linkerd` and `linkerd-viz`

Inserted a sample ServiceProfile:

[code]

### Logs, error output, etc

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

#

[2021-04-27 11:04] prasus commented on #6058
Thanks much for the response, @mateiidavid. Yes, we discussed this last week on Slack, I thought of raising an issue here for tracking this in detail. 🙂

Yes, this is what we have noticed so far, but I am not 100% sure as most of our apps are currently non-meshed.

Below is the trace logs snippet taken during incident time. I have only included the relevant log lines here, please let me know if yo

[2021-04-27 13:28] kleimkuhler commented on #6064
@kgibcc Just double checking: in following those instructions, does your cert-manager have the certificates required for linkerd-viz as shown [here](https://linkerd.io/2.10/tasks/automatically-rotating-webhook-tls-credentials/#issuing-certificates-and-writing-them-to-secrets)? There is a `tap-k8s-tls` and `tap-injector-k8s-tls` certificate listed in that file, so I assume cert-manager should gener

[2021-04-27 13:54] kgibcc commented on #6064
I was misunderstanding that cert-manager created those certificates and they must have been removed at some point during my install process as I've been debugging steps along the way.

Resolved by

Creating issuer secret, then certificates by creating issuer from that secret just created, and then re-ran the code to create the secrets from certificates.

[2021-04-27 13:54] #6064 closed

[2021-04-27 20:08] dadjeibaah commented on #6012
@BillyMorgan, Thanks for the additional logs, out of curiosity in `destination-during-tap.log`, which deployment where you trying to tap. I'd imagine we'd see a `msg="GetProfile(path:\"...` containing the pod IP we are trying to tap. In your previous examples, you mentioned that you were tapping `web.linkerd-viz`, is that correct?

I initially thought that "endpoint slice" RBAC error might of conc

[2021-04-27 20:49] BillyMorgan commented on #6012
@dadjeibaah Yes, that's right, the command I'm running is `linkerd viz tap -n linkerd-viz deploy/web`.

[2021-04-27 22:09] dadjeibaah commented on #6012
Hmm, that's strange, the logs do not show any lines that indicate that the `tap` service is connecting to the destination service to get the `web.linkerd-viz` Profile.

I think it'd be helpful to rerun through the log collection steps again to try and get a better picture of what is going on. It can be a little difficult to try and piece together what might be going on through log snippets as oppo

[2021-04-28 02:30] tdyas opened #6066 "linkerd-proxy sidecar is using more than 100 MB of memory"
## Bug Report

### What is the issue?

The `linkerd-proxy` sidecar container is using more than 100 MB of memory. For one of the pods, Kubernetes is killing the container and restarting the pod as a result of the OOM killer. I believe this to be the case because, in the output of `kubectl describe` for that pod, the “Last State” for `linkerd-proxy` is "Terminated" with "Reason: OOMKilled."

Linker

[2021-04-28 05:00] BillyMorgan commented on #6012
@dadjeibaah I ended up spinning up an entirely new cluster as you suggested and the issue still persists. I did create the cluster inside the same VPC though so it's still subject to the same network conditions as the original cluster.

A couple of (maybe) interesting things to note when completing your instructions:
* Like I mentioned earlier. Running this command to add annotations to the deploy

[2021-04-28 06:12] jhrv opened #6069 "Proxy accumulating SYN_SENT when blocked by Network Policy"
## Bug Report

### What is the issue?

When we had a meshed test pod attempt to connect to an application that was blocked by network policy we saw the proxy consume a large number of resources then become non responsive. On further investigation we saw the proxy had a large number of open TCP connections stuck on SYN_SENT. This contrasted with the behavior we expected to see, which ideally would

[2021-04-28 09:13] prasus commented on #6058
Hey @mateiidavid, We have upgraded to `stable-2.10.1` earlier today but unfortunately it didn't help and the issue persists after the upgrade, Thanks!

[2021-04-28 09:44] mateiidavid commented on #6058
Thanks for letting me know! I haven't started reproducing this yet but I was hoping an upgrade would solve this (especially since I saw those two `Connection closed error=TLS detection timeout` lines at the top of the logs).

I'll look into it this week and update this comment with my findings 🔍.

[2021-04-28 17:46] mateiidavid commented on #6058
Hey @prasus,

I looked into this a bit today. The first thing that stood out to me were the two lines at the top:
[code]

Other than those TLS detection timeout errors there isn't much information that can pinpoint the issue. As a starting point in getting this demystified, it would be great to see the logs before the incident. If you saved the logs somewhere, it would be helpful to run a grep on

[2021-04-28 18:25] wmorgan commented on #5183
Is this in the class of issues that was fixed in 2.10?

[2021-04-28 18:31] olix0r opened #6073 "diagnostics proxy-metrics --obfuscate"
The `proxy-metrics` diagnostics include potentially private information (service names, pod names, etc).

It would be helpful if this command could support an `--obfuscate` flag that mangles metric label values like

- `authority`
- `dst_service`
- `dst_namespace`
- `target_addr`
- `server_id`
- `client_id`

Each of these values should be hashed so that values can be correlated but should be obscu

[2021-04-28 19:21] bklaubos commented on #6065
I seen the same thing. concurred.

[2021-04-28 19:30] bklaubos commented on #3342
Ability for OPA to integrate with something like Okta would be must useful

[2021-04-28 19:54] bklaubos commented on #2901
Assumption is that OPA will cache the authorization with some TTL to avoid rate-limiting issue with external authz providers.
A OPA wrapper could probably provide this

[2021-04-28 19:59] lupusllc commented on #6037
We're running Azure AKS 1.18.10 and have seen "linkerd_app_core::serve: Connection closed error=invalid HTTP method parsed" and "linkerd_app_core::serve: Connection closed error=TLS detection timeout" errors after updating from 2.9.3 (to fix another bug/error) to 2.10.1.

Our initial workaround (based on suggestion by a related issues, see URLs below) was to opaque port 4191 on all our namespaces

[2021-04-28 20:27] dadjeibaah commented on #6012
@BillyMorgan, thank you for the new logs you provided. I think we may have figured out what might be going on here. When tapping a particular target, the `tap` deployment's proxy tries to gather information about that target by sending a `GetProfile` request to `linkerd-destination` with that target's IP as an argument.

From what we gather in the last logs you sent, that target's ip address somet

[2021-04-28 20:31] dadjeibaah opened #6074 "Add a check that verifies the clusterNetworks value matches with nodes in cluster"
Based on https://github.com/linkerd/linkerd2/issues/6012#issuecomment-828755558, it'd be good to add a new linkerd core check that makes sure that the `clusterNetworks` value of an install matches up with node subnets in a given cluster. This ensures that Linkerd's proxies have the proper subnets to route requests.

[2021-04-28 21:00] adleong commented on #6065
Hi @gr8Adakron and @bklaubos!

Have you looked at https://linkerd.io/2.10/tasks/getting-per-route-metrics/#troubleshooting ?  This section gives some troubleshooting steps for figuring out why requests aren't being classified as you would expect.

[2021-04-28 21:26] adleong commented on #6069
Thanks @jhrv!  In order to appropriately prioritize this, it would be helpful to know the impact of this issue.  Do you have a use-case that involves the proxy being blocked by a Network Policy?  Or is this more of a theoretical correctness/hygiene issue?

[2021-04-28 21:41] adleong commented on #5864
Hi @emcay!  Since this has been idle for a while, I'm going to close this issue.  Please feel free to re-open or file a new one when you have time!

[2021-04-28 21:41] #5864 closed

[2021-04-28 21:41] jhrv commented on #6069
I would argue it is more than a hygiene/correctness concern.

We saw this with prometheus bundled with linkerd-viz when migrating, as it was aggressively scraping endpoints which it weren't able to communicate with (yet). Basically any workload with a netpol misconfiguration I believe would suffer from this behavior.

[2021-04-28 21:48] adleong commented on #6052
@sagarpatil23192 understood.  I'm going to close this issue as "Won't Fix" because the Linkerd philosophy is to solve problems in the simplest way possible and with as little configuration as possible.

[2021-04-28 21:48] #6052 closed

[2021-04-29 00:08] BillyMorgan commented on #6012
Amazing! That looks to be working great now @dadjeibaah. Thanks so much for your help!

[2021-04-29 06:34] jroper opened #6075 "Document how to run with custom built proxy"
I'm working on the linkerd2 proxy right now. I built that as a Docker image using `make docker`, however, the docker image produced doesn't work, because it doesn't contain the `/usr/lib/linkerd/linkerd-await` executable invoked by the post start hook. I've looked at the docker file that builds the image in this repo, and it seems to require downloading a proxy release from GitHub. So.... how do w

[2021-04-29 07:03] prasus commented on #6058
Thanks again for looking into this, @mateiidavid.

I did a grep as suggested today after re-enabling the trace logs, but there is only a single `DEBUG` entry before the timeout as seen below.

[code]

I am not sure if this helps, Please let me know if you wish to see the full logs. Thank you!

[2021-04-29 07:22] jroper commented on #6075
I did end up working out how to do this, simply add the following annotations to your pod (or pod template spec):

[code]

[2021-04-29 07:34] prasus commented on #6058
The trace logs between the below timestamps are available [here](https://gist.github.com/prasus/b50734ccb79e6c38cd845c736da050ec), I have only included the log enrties from pod ip `10.244.47.173` (`grep 10.244.47.173`).

[code]

 

[2021-04-29 15:37] mateiidavid commented on #6058
Hey @prasus,

Thanks for the logs and prompt reply! I've looked at the logs a few times and there are some additional questions I have; as it stands, there is still not much to go on in terms of pinpointing the issue.

To get this out of the way, the `prevent_loop` statements shouldn't be an issue, this just gets logged out since we [prevent looping on the inbound side](https://github.com/linkerd/

[2021-04-29 21:48] dadjeibaah opened #6080 "check repeatedly prints check error during retry"
PR #6038 refactored `healthcheck_output.go` so that there would be shared code to print Linkerd check in short form as well as the regular linkerd check form. It looks like there is a regression where check will print out an error everytime a check retries. The correct behavior is to print the error after we've exhausted retry attempts.

[code]

[2021-04-30 01:38] jroper commented on #3756
@NeilMadden not sure if you're interested in trying this out, but if you are, add the following annotations to your pod template spec:

[code]

I've tested it with the latest build of linkerd2 from main, it works for me, not sure if it'll work with other (released) versions of linkerd2, but you can try.

[2021-04-30 01:40] jroper commented on #3756
Note that what I've implemented doesn't pass the certificate, just the identity (ie, the name of the service account of the service making the call) in a header called `l5d-identity`.

[2021-04-30 03:51] jroper commented on #6075
PR made in #6083.

[2021-04-30 05:25] Pothulapati opened #6084 "Service Profiles for core cp and extensions"
Currently, There are [service profile resources available](https://github.com/linkerd/linkerd2/blob/main/cli/installsp/template.go#L4) for the core
control-plane in the `diagnostics install-sp` command through which they can be
installed on-demand.

These are currently out-dated, and may not work as expected with all the recent
changes that the control-plane components went through.

One of the re

[2021-04-30 07:04] prasus commented on #6058
Thanks much for the quick and detailed response, @mateiidavid 🙏🏿

You are right, there are multiple/different clients/apps sending connections to the meshed app

No

Yes

Please let me know if you need any further details, Thanks! 🙂

[2021-04-30 08:43] hochuenw-dd commented on #4713
Hi @plwhite,
 I'm not very familiar with iptables, but looks like linkerd is using iptables REDIRECT, and REDIRECT per my understanding only changes the destination IP/Port and keeps source IP/Port.

Is this from the view of the application or linkerd proxy?  My understanding is that linkerd proxy can see the real source ip, but maybe not the application. If this is correct, why would introducing

[2021-04-30 13:37] kleimkuhler commented on #6037
@lupusllc Thanks for adding in here. This issue should be fixed in the edge that was released yesterday `edge-21.4.5`. This will also be available in a `stable-2.10.1` at some point soon. I'll wait to close this issue until that is released.

For those who have been involved in this issue, this was fixed in tower-rs/tower#581 which is a proxy dependency. Reconnects—which are the background tasks i

[2021-04-30 14:09] obrienrobert opened #6085 "trust anchor link within the Installing Multi-cluster Components section broken"
## Bug Report

### What is the issue?
Within [Installing Multi-cluster Components](https://linkerd.io/2.10/tasks/installing-multicluster/#) requirements section, the trust anchor link is broken, with the link directing to this URL: https://linkerd.io../generate-certificates/#trust-anchor-certificate&_ga=2.155591867.1828540732.1619713788-802551505.1609156883

### How can it be reproduced?
Click on

[2021-04-30 14:30] Wenliang-CHEN opened #6086 "Outbound requests fail intermittently after the proxy reported "panicked at 'cancel sender lost'""
## Bug Report

### What is the issue?

The outbound requests of a meshed pod fail intermittently after its linkerd-proxy reported "panicked at 'cancel sender lost'".

We are not sure what triggers the issue. From the logs we can tell that after the linkerd-proxy emits the following:
[code]

Then around 50% of the outbound requests starts failing intermittently with message:
[code]

### Additional

[2021-04-30 16:01] olix0r commented on #6086
Thanks for letting us know.

I've deleted the v2.142.0 proxy release -- it hit some _other_ issues during integration tests and isn't yet ready for public consumption. In general, I'd only recommend using proxy versions that have been released on an edge release. Is there a specific reason you picked up v2.142.0? Are you using a patched version of the proxy?

For what it's worth, we plan on releas

[2021-04-30 16:34] olix0r commented on #6012
@BillyMorgan thanks for reporting this. Please let us know if you hit anything else surprising

[2021-04-30 16:37] olix0r commented on #6069
It would be great to get a deeper understanding of what's going on here. I'm removing the 2.11 milestone, as we plan to have an alternate means of policy configuration in this release.

Also, it might be good to test the most recent edge release (edge-21.4.5) which has proxy fixes that will be included in stable-2.10.2 -- we found an issue where the proxy could continually retry failed connections

[2021-04-30 16:40] olix0r commented on #6074
I'd imagine this check works as follows:

* fetch all cluster nodes from k8s api
* read podCIDRs field for per-node pod networks
* Ensure that all podCIDRs are covered by the networks in the clusterNetworks configuration
* We could _also_ fetch all clusterIP services to check that their IPs exist in clusterNetworks too...

[2021-04-30 16:48] olix0r commented on #6066
We have another repro for what sounds like a similar issue. Once we've spent more time looking into this issue, we'll get back to this issue to determine whether our fix for that applies for this as well.

[2021-04-30 16:50] olix0r commented on #6040
Closing this for now. Please let us know if there's anything we can do to clarify the docs for this.

[2021-04-30 16:50] #6040 closed

[2021-04-30 16:51] olix0r commented on #6043
The PR includes further discussion about this, but the summary is that this is out of scope for Linkerd's Grafana instance.

[2021-04-30 16:51] #6043 closed

[2021-04-30 16:52] olix0r commented on #6053
stable-2.9.5 and stable-2.10 include fixes for this

[2021-04-30 16:52] #6053 closed

[2021-04-30 16:53] #5867 closed

[2021-04-30 17:03] #5838 closed

[2021-04-30 17:56] Abrishges commented on #6053
Thanks @adleong  and @olix0r  I am testing stable-2.10.1

[2021-05-01 22:12] PavloGl commented on #6073
Hi!
Could I be assigned to this issue?

[2021-05-02 11:46] rewt commented on #2214
Do you have any docs on how to implement?

[2021-05-03 07:07] Wenliang-CHEN commented on #6086
Hey @olix0r thanks for the reply. So...

`Is there a specific reason you picked up v2.142.0? Are you using a patched version of the proxy?`
Yes and yes we need this commit https://github.com/linkerd/linkerd2-proxy/pull/965 to fix the ingress problem.  But it seems in 2.141.1 the commit is there, so it is all good.

Just wanted to point out that the issue existed before we upgraded the proxy to v2.

[2021-05-03 13:27] plwhite commented on #4713
It's true that the traffic arrives at the proxy with the right source IP, but the workload container sees localhost. Think about incoming traffic to the pod, say from 1.2.3.4 to 4.3.2.1.

- The proxy listens for incoming traffic on the 4.3.2.1 address, on a well known proxy port.
- The workload container listens on localhost.
- A REDIRECT happens so the traffic arrives at the proxy port. The proxy

[2021-05-03 15:42] bklaubos commented on #6065
@adleong I have done that. Still the RPS for routes is still at 0, even after I submitted a few get/posts
Is it possible for us to set up a zoom to walk you thru to show what we did?

[2021-05-03 17:32] #6080 closed

[2021-05-03 17:54] adleong commented on #6065
@bklaubos if you join slack.linkerd.io, someone may be able to help you out.  the more details you can provide (her or in slack), the easier it will be to help you.  what was the result of those troubleshooting steps?  were the requests annotated with the correct route in the tap output?

[2021-05-03 21:15] emcay commented on #5864
Hi very sorry for the delay in the response. Just wanted to report back that 2.10.0 did indeed resolve the issue. Thanks!

[2021-05-04 01:17] dadjeibaah commented on #5909
Fixed by #6038

[2021-05-04 01:17] #5909 closed

[2021-05-04 15:22] wmorgan commented on #5864
W00t!

[2021-05-04 15:32] schizoid90 opened #6095 "Connections leaving the cluster failing with Linkerd enabled"
## Bug Report

### What is the issue?

We have noticed several applications failing to connect to services hosted outside of the cluster within our network. This particular example is connecting to a rabbitMQ server. When Linkerd is enabled the connection fails. It works OK when linkerd is disabled.

Should Linkerd not proxy the connection regardless of in-cluster or out of cluster? Or is there so

[2021-05-04 17:41] mateiidavid commented on #6058
Hey @prasus sorry for the wait!

I have been looking into this for a while, I went through my previous assumptions and tried to figure out why those TLS detection errors are thrown. My assumption is that the connection pool is likely a cause, but I'd still like to verify it.

I wanted to give you an overview of what exactly is happening to the request to see whether we can get any more information

[2021-05-04 22:31] adleong commented on #6095
You may need to have this off-cluster traffic skip the Linkerd proxy using the skip-outbound-ports annotation.  See https://linkerd.io/2.10/tasks/upgrading-2.10-ports-and-protocols/ for more context and details.

[2021-05-05 07:09] hochuenw-dd commented on #4713
@plwhite thank you for the reply! this really makes sense to me now.

[2021-05-05 08:48] prasus commented on #6058
Hey @mateiidavid Thank you very much for your continued support, much appreciated! 🙏🏿

Please find the new logs attached [here](https://gist.github.com/prasus/27c6f4a5e08380a098a36896f42bae43) (I have omitted sensitive data and have also grepped for the client pod IP `10.244.44.64`) Below are the `Connection closed error=TLS detection timeout` errors in the logs.

[code]

As you noticed it looks l

[2021-05-05 09:37] schizoid90 commented on #6095
Thanks @adleong, that's fixed it

[2021-05-05 09:37] #6095 closed

[2021-05-05 14:30] mmiller1 commented on #5746
I'll chime in given that we ended up dropping these labels in the included prometheus' scrape configurations quite some time ago for the same reasons mentioned here (we however have not experienced the issue with duplicate series that was mentioned by @fpetkovski).
For us, we saw these labels exploding the number of head time series stored in memory by prometheus for both Ingress traffic and outbo

[2021-05-05 18:38] cakuros commented on #5897
This is happening because the Web deployment is doing an Origin check on the upgrade request.  When you click the "start" button, you can see in the request headers it sends "Origin: linkerd.mydomain.net".  Because you're doing a `host_rewrite` in the `Mapping` to "web.linkerd-viz.svc.cluster.local", the Web deploy gets mad and says:

[code]

This seems to just be a thing that golang websocket imp

[2021-05-05 18:56] alpeb opened #6098 "Multicluster's Helm chart doesn't expose `gateway-addresses`"
Followup to #6059

Add support for a `--gateway-addresses` equivalent value in the multicluster Helm chart. This is necessary when installing with a gateway of service type NodePort.

Also add Helm-level validation (like we have for ensuring the certs are defined) that ensures that's set when serviceType is NodePort.

[2021-05-06 03:44] vikas027 commented on #5897
Thanks, @cakuros . I will give it a go soon.

[2021-05-06 08:37] iamargopelter opened #6099 "Warn about expiring root certificate on getting started page"
The getting started page at https://linkerd.io/2.10/getting-started/ ends with 'Congratulations, you’re now a Linkerd user!', but doesn't warn that the control plane certificate will expire. As everything else seems automated, this has led to some unwelcome surprises.

A mention / link to the [rotation procedure](https://linkerd.io/2.10/tasks/manually-rotating-control-plane-tls-credentials/) and/o

[2021-05-06 12:43] mateiidavid commented on #6099
Hey @iamargopelter seems like a good suggestion to me! Would you be willing to submit a PR in [linkerd2/website](https://github.com/linkerd/website) with the proposed changes?

[2021-05-06 14:21] danoshi commented on #5966
Hello,

unfortunately this does not solve our issue. We are using CA certificate on our external Prometheus that is signed by a private certificate authority. We would need the possibility to define our own cacerts or k8s certificate secret. It should be configurable like for other linkerd-viz components, and in the end we should be able to set it via the values file for helm

[2021-05-06 15:31] mateiidavid commented on #6058
Yup. Unfortunately nothing new there :(

Not really. There is the TLS detection timeout which is 10s (same as protocol timeout). The proxy doesn't really know what to with the connection so it just drops it. Normally, we need to know whether it is TLS'd first and then establish a connection to the target addr. This is seen [in the inbound stack](https://github.com/linkerd/linkerd2-proxy/blob/3a3f2

[2021-05-06 17:21] adleong commented on #5966
Ah, you're right that we don't have any mechanism to configure the CA certs that the viz extension uses to talk to an external prometheus.  If you need to provide your own CA certs, I think your best bet to create your own Docker image for the metrics-api container which adds your CA certificates in a layer on top of the base Docker image.  See https://github.com/linkerd/linkerd2/blob/main/viz/met

[2021-05-06 18:33] iamargopelter commented on #6099
Hey @mateiidavid, certainly. Submitted a PR.

[2021-05-07 00:41] benny659 commented on #5350
Hi @feiyushi could you more elaborate what do mean same subnet name ?

[2021-05-07 07:04] olix0r commented on #3342
I'm happy to share our initial proposal/prototype for policy in Linkerd: https://github.com/linkerd/polixy/blob/main/DESIGN.md. I'd like to keep discussions about this proposal in the [discussions for that repo](https://github.com/linkerd/polixy/discussions).

TLDR:

* Two new CRDs: [`Server`][srv] and [`ServerAuthorization`][authz];
  * OPA/GateKeeper/etc may be used to control what types of auth

[2021-05-07 15:17] #6099 closed

[2021-05-07 16:24] olix0r commented on #6086
@Wenliang-CHEN We've been trying to reproduce this in library tests but haven't been able to get a solid lead on what's going on. Next week, we'll put together a branch that increases diagnostic logging in the ready-cache & balancer and ask you to test that out, if that works for you.

[2021-05-07 16:32] olix0r commented on #6073
@PavloGl We'd love help with this!

[2021-05-07 16:38] olix0r commented on #6037
@lupusllc Have you had a chance to test the `edge-21.4.5` release -- or at least its proxy (which is compatible with stable-2.10.x and stable-2.9.x) -- we plan to release a new stable release with these fixes, but it would be great to get confirmation that the problem is resolved by these changes.

[2021-05-07 16:41] olix0r commented on #6084
as part of their install. (atleast first party extensions i.e viz, multi-cluster, etc)

service profile definations later on.

I think extensions should provide these resources by default without any additional configuration/install commands.

[2021-05-07 16:46] athak commented on #6037
@olix0r I deployed `edge-21.4.5` in our dev env this morning (previously running `stable-2.10.1`, and the log messages have disappeared. Went from ~10K every 15m to under 200.

[2021-05-07 18:11] tarvip commented on #6037
I deployed just proxy `edge-21.4.5` few days ago with `stable-2.10.1` to our dev env, so far it looks good, tried to restart a lot of pods at the same, no "invalid HTTP method parsed" in logs.

[2021-05-07 19:08] kleimkuhler commented on #6037
Glad to hear thanks for letting us know.

[2021-05-07 20:04] danoshi commented on #5966
That would mean we would have to maintain the metrics-api container and I don't know if this would be worth the effort.
Is there any plans from your side to give the possibility to define our own cacerts or k8s certificate secret?

[2021-05-07 21:12] tdyas commented on #6066
There was OOM killing in this pod (which caused me to notice the memory consumption issue), but that has pretty much gone away after I increased the memory requests and limits to accommodate the proxy's increased memory usage.

Looking at the last 12 hours (from when I am writing this comment) at the ingress deployment with 3 pods, one pod has the `linkerd-proxy` consuming 150-180 MB of memory whi

[2021-05-08 02:56] jjbubudi commented on #5897
Thanks @cakuros! I have the exact same problem and error logs in the `web` deployment. Removing the Origin header fixed the issue. It seems not specific to any particular LB since I am using Traefik as the ingress.

[2021-05-08 11:08] arunmat commented on #5234
Looks like the second scenario as described by @adleong is not covered today.

[2021-05-09 08:16] debu99 commented on #1747
i have the same issue, 3 EKS clusters, they are using RDS as database, bitnami grafana helm chart, but they crash at the same time....

[2021-05-09 11:48] electrical commented on #5913
@dadjeibaah with the relevant PR merged, i think we can close this?

[2021-05-10 09:48] Wenliang-CHEN commented on #6086
Hey @olix0r thanks for the update.  We will upgrade to it once it is ready.

Also an update from our side:

We are not able to reproduce the issue either.  But when it happens, we observed high request rate for outbound traffic.

It seems that it goes in such pattern during the incident:

- problematic pod sends around 100 rps to dest A: all traffic succeeds
- at the same time problematic pod send

[2021-05-10 17:41] adleong commented on #5234
@ericjee @arunmat good catch that the second scenario isn't covered by the docs.  are either of you interested in submitting a PR to fix this omission?  it should be as simple as setting the `webhook.collectorSvcAddr` and `webhook.collectorSvcAccount` chart values (similarly to how we set the `collector.jaegerAddr` values in the bring-your-own-jaeger example).  For reference, the full list of conf

[2021-05-10 17:42] kleimkuhler commented on #5913
Yep thanks @electrical!

[2021-05-10 17:43] adleong commented on #5966
@danoshi no current plans, but PRs welcome!

[2021-05-10 17:46] adleong commented on #6027
Closing due to inactivity.

[2021-05-10 17:46] #6027 closed

[2021-05-10 17:47] adleong commented on #6026
Closing due to inactivity.

[2021-05-10 17:47] adleong commented on #6019
Closing due to inactivity.

[2021-05-10 17:47] #6019 closed

[2021-05-10 19:40] kleimkuhler commented on #6035
@divanikus I mentioned my attempt at reproducing this that I left in a comment [here](https://github.com/linkerd/linkerd2/issues/5951#issuecomment-815135004). I confirmed that with an injected Nginx forward proxy, CONNECT requests were going through it fine.

If you can provide a reproducible example where this fails that would be super helpful. We're glad to keep looking into it, but we'll defini

[2021-05-11 07:49] arunmat commented on #5234
@adleong I think its more than just the doc. I think the helm chart should be modified NOT to deploy the bundled collector and jaeger when custom values are set for `webhook.collectorSvcAddr`, `webhook.collectorSvcAccount` and `collector.jaegerAddr`.

[2021-05-11 09:55] pdefreitas opened #6105 "Failed to read SO_ORIGINAL_DST: Os { code: 2, kind: NotFound, message: "No such file or directory" }"
## Bug Report

### What is the issue?

Under a certain conditions, communication between linkerd proxies of injected workloads will fail.

### How can it be reproduced?

Right after a cluster is scaled up to allocate a new deployment, linkerd-proxy shows errors and the communication to this proxy is reset.
This situation does not happen with **linkerd-cni** disabled, which may be related with prob

[2021-05-11 15:36] laukaichung commented on #1869
Is there an example or documentation for this feature?

[2021-05-11 22:26] hawkw commented on #6086
Hi @Wenliang-CHEN, I've published a linkerd proxy image [`mycoliza/l2-proxy:ready-cache-debug`](https://hub.docker.com/layers/149334916/mycoliza/l2-proxy/ready-cache-debug/images/sha256-722a306ccbeb7e8e80d908a524e10ad134b9e5ce52110fbc292c4646a73cbc52?context=explore) which contains additional debug logging in the ready-cache code. If you can test out this proxy image and [set the proxy log level](

[2021-05-12 09:47] Sadzeih opened #6108 "Provide trust anchors via secret"
## Feature Request

### What problem are you trying to solve?
Hello!
I'm trying to automate deployment of Linkerd in multiple clusters linked together.

Right now I deploy linkerd with the cluster with the terraform helm provider and use the google provider to get the trust anchor from the Secret Manager.

This works but is not great since we are starting to use ArgoCD to deploy in Kubernetes, so

[2021-05-12 14:52] olix0r commented on #6086
specifically, you'll want to set workload annotations:

[code]

[2021-05-12 21:27] ryansimmen opened #6117 "Annotations on Namespace override Service annotations"
## Bug Report

### What is the issue?

Applying a `config.linkerd.io/opaque-ports` annotation on a `Namespace` will override all `Service` level annotations such as those used for `external-dns`

### How can it be reproduced?

Apply a `config.linkerd.io/opaque-ports` annotation to a `Namespace` and observe that `linkerd2` will override all `Service` level annotations such as those used for `extern

[2021-05-12 22:39] olix0r commented on #6117
@ryansimmen To be clear, we're actively removing annotations unrelated to linkerd?

[2021-05-13 00:18] ryansimmen commented on #6117
Correct

[2021-05-13 10:30] mateiidavid commented on #6117
Hey 👋🏻  thanks for bringing this up. I managed to reproduce this.

I deployed `emojivoto` to a k3d cluster. On the `emojivoto` namespace I added an opaque ports annotation:

[code]

Next, I took a random service and I deleted it from the cluster. I added some additional annotations to its manifest (e.g `external-dns.alpha.kubernetes.io/ttl: "10"`) and then re-deployed it to the k3d cluster.

[code

[2021-05-13 16:54] wmorgan commented on #1869
@laukaichung Good catch, I don't think we documented this very well. Would you mind filing an issue to https://github.com/linkerd/linkerd2/website so that we can track this?

[2021-05-13 20:17] alpeb opened #6122 "Missing PSP in extensions"
## Bug Report

### What is the issue?

viz' [psp.yaml](https://github.com/linkerd/linkerd2/blob/main/viz/charts/linkerd-viz/templates/psp.yaml) makes reference to a `psp` Role in the `linkerd-viz` namespace that doesn't exist. Also the `metrics-api` and `tap-injector` ServiceAccounts are not included in that RoleBinding.

Also the mc and jaeger extensions don't have any Roles+RoleBindings attachin

[2021-05-14 00:22] tdyas commented on #6066
Update: The `linkerd-proxy` memory usage issue is still happening. The container continues to run up against the container memory limit, even after I increased the limit to 450 MB (on request of 150 MB).

1. Is there a way to run a version of linkerd-proxy that can track allocations? I'm willing to run such a version if it exists.

2. Would a thread dump be useful at all? (probably not, but asking

[2021-05-14 07:46] Wenliang-CHEN commented on #6086
Hi @hawkw @olix0r thanks for the effort!  We are going to try out the proxy for the service.

We will let you know once we found anything interesting.

[2021-05-14 13:00] mateiidavid commented on #6058
Hey @prasus any new findings on this?

[2021-05-14 13:59] #6117 closed

[2021-05-14 16:11] olix0r commented on #6108
@Sadzeih

Can you elaborate on your concerns here?

The certificate is a _public key_, so there's no harm in this being advertised publicly. In fact, any network client that connect to any proxy should be able to obtain this certificate without any authentication.

The main thing that needs to be secured are the _keys_. Root keys should never hit the cluster at all (we discard them with `linkerd i

[2021-05-14 16:22] Sadzeih commented on #6108
Am I wrong in believing that the trust anchor is the certificate that allows for secure multicluster mTLS? Or is that the identity issuer key?

Shouldn't all three (trust anchor, identity issuer cert and identity issuer key) be secured?

I will be honest, I'm a bit lost on the specifics and I appreciate the help!

[2021-05-14 16:25] Sadzeih commented on #6108
I just re-read the part of the documentation on multicluster communication and this is what is written:

To me that says the shared trust anchor should be secured.

[2021-05-14 16:42] olix0r commented on #6066
@tdyas FWIW, we have been actively investigating the other issue, but as @kleimkuhler mentioned, we think that case is caused by an outbound service slowing down and causing back pressure. Skimming through your metrics, we don't see that sort of behavior obviously jumping out.

We can look into enabling heapster tracking--or something like that, or looking into other task-tracking utilities for To

[2021-05-14 16:48] olix0r commented on #6105
Fascinating! As far as I know, the code used in both cases is essentially identical, so this sounds likely to be some unexpected interaction with Azure's CNI.

For reference, we're hitting this code in the proxy: https://github.com/linkerd/linkerd2-proxy/blob/251fa8bf049b0b69154beb088f73332f2e3fda4c/linkerd/proxy/transport/src/orig_dst.rs#L107-L118

The code for the CNI is [here](https://github.co

[2021-05-14 17:09] tdyas commented on #6066
Already operating with that version of linkerd-proxy.

I'll try scaling the other service that this service is talking to, and see if that helps to reduce backpressure.

Related to that, does the proxy have any metrics related to backpressure? For example, maybe a metric between how long a request might have been waiting before it is fully submitted? (I have a metrics at the application-level for

[2021-05-14 21:16] jkirkham-ratehub opened #6128 "linkerd `check --proxy` appears to fail on Completed Job Pods"
## Bug Report

### What is the issue?
I've successfully got kubernetes CronJobs to work with linkerd-proxy injection by using the linkerd-away wrapper, however if I check the proxy status in the target namespace `linkerd check --proxy -n <namespace>` the linkerd CLI will never exit.  It appears to be stuck checking the proxy container in the "Completed" Pod that is no longer running.

Using `--ver

[2021-05-14 22:49] adleong commented on #6108
@Sadzeih As @olix0r said, the trust anchor is a *public key* and must be available to all parties participating in mTLS.  In particular, for multi-cluster traffic, both clusters must be using the same trust anchor.  However, since this is a public key, there is no reason for it to be hidden in a secret.

[2021-05-14 22:59] adleong commented on #6128
Nice find, @jkirkham-ratehub!  `linker check --proxy` probably needs to be more intelligent about skipping pods in the `completed` status.

[2021-05-15 22:30] pdefreitas commented on #6105
I'm not familiar with Azure CNI implementation but it seems like the situation only occurs in new instances that are turning on during a scale up.

I'm not sure if this behavior happens on different AKS versions since we've only detected this situation recently.

We've disabled _cniEnabled_ in Linkerd configuration and instead rely solely on the init container to inject workloads into the service

[2021-05-17 11:36] rustrial opened #6129 "Outbound proxy routes traffic to wrong resp. non-longer existing IP addresses"
## Bug Report

We observe a strange behaviour using linkerd version `edge-21.4.3`. The outbound `linkerd-proxy` sidecars of our (gloo-edge) ingress gateway instances (running in [ingress mode](https://linkerd.io/2.10/tasks/using-ingress/)) sometimes send traffic to the wrong IP addresses. And if those IP addresses have been reassigned to other Pods or EC2 instances (in the same VPC) such traffic i

[2021-05-17 15:42] divanikus commented on #6035
So, here's the thing. Everything works if you try to access a plain HTTP site behind a proxy. But if you would try access HTTPS site, things do break.
Example curl output.

Outside of the cluster (or with disabled linkerd-proxy):
[code]

Inside the cluster, with linkerd-proxy:
[code]

[2021-05-17 16:54] olix0r opened #6130 "proxy: Support retries on POST requests (for gRPC)"
Linkerd's proxy does not currently support retries on requests with payloads. This precludes Linkerd from retrying gRPC requests, which is a substantial limitation.

I propose that we add support for retries for requests with payloads when a `content-length` header is set and its value is less than 64KB. When retries are configured on a route and this content-length restriction applies, we should

[2021-05-17 17:36] alpeb opened #6131 "Simplify modifications of charts values"
Whenever an entry is added or modified into the `values.yaml` files for core, cni or multicluster we require that their `values.go` structs get updated to reflect the change. This is a requirement that is often not taking into account by contributors, and it'd make things easier if it wasn't needed.

It turns out that the viz and jaeger extensions manage to get away from having those `values.go` s

[2021-05-17 18:22] JasonMorgan opened #6132 "Add Redis to default list of Opaque ports"
Redis is pretty common. We should add it to the list of default skip ports.

https://github.com/linkerd/linkerd2/blob/da588130544154fdb94afb64147fa745ce852fc4/charts/linkerd2/values.yaml#L110

[2021-05-17 18:44] alpeb commented on #6132
Also please add elasticsearch' port to `opaquePorts`, and Galeras' ports to both `ignoreInboundPorts` and `ignoreOutboundPOrts`, basically bringing the [doc](https://linkerd.io/2.10/features/protocol-detection/) in sync with our config.

[2021-05-17 21:28] olix0r commented on #6108
To elaborate on this a bit:

Each proxy is configured with a set of trust anchors. These are configured as part of the proxy injection and are added as environment variables on each each proxy resource. This means that, as proxies accept inbound connections, the proxy validates the client's certificate and ensure that it is signed by an issuer that was created from the root key. These private keys

[2021-05-18 07:47] Sadzeih commented on #6108
Thanks a lot for the explanation! I'll rethink everything I have to take it into account! I guess I'll close this issue!

[2021-05-18 07:47] #6108 closed

[2021-05-18 12:41] rustrial commented on #6129
@olix0r Thanks for pointing me at #6037, I did not spot that one when scanning the release logs for bug fixes. Maybe it would help if you add links to the fixed issued and merged PRs to the release change log.
We will now start testing `edge-21.5.1` and if not problems pop-up I will close this issue (as a duplicate of #6037).

[2021-05-18 14:05] mateiidavid commented on #6058
@prasus I'll be closing this for now. If you have some new findings and would like this re-opened just post a comment and mention me.

Alternatively, feel free to raise a new issue :)

[2021-05-18 14:05] #6058 closed

[2021-05-18 16:05] dadjeibaah commented on #5786
Fixed by linkerd/linkerd2-proxy-init#38

[2021-05-18 16:05] #5786 closed

[2021-05-19 07:47] rustrial commented on #6129
Closing as this is very likely a duplicate of #6037 which has already been fixed in edge-2.4.5.

[2021-05-19 07:47] #6129 closed

[2021-05-19 11:20] aryan9600 commented on #2295
Is this issue still relevant/needs work? Would like to take a stab at it! @hawkw

[2021-05-19 12:14] Wenliang-CHEN commented on #6086
Hello again. We are able to reproduce the issue with debug proxy.  We observed the following pattern during the incident:

First we saw large number of logs like the following:
[code]

Then we saw the panic log
[code]

Then the following
[code]

Afterwards, the full connection lifecycle looks like this:
[code]

### What's worth mentioning

- The destination is also running with a Linkerd proxy - n

[2021-05-19 13:09] #6075 closed

[2021-05-19 14:06] kleimkuhler commented on #6037
Closing this as `stable-2.10.2` has been released!

[2021-05-19 14:06] #6037 closed

[2021-05-19 14:18] olix0r commented on #6086
Thank you for the helpful debug info!

Oliver Gould < ***@***.*** >

On Wed, May 19, 2021 at 5:14 AM, Bruce Chen Wenliang < ***@***.*** > wrote:

[2021-05-19 17:27] hawkw commented on #6086
Hi @Wenliang-CHEN, is it possible to get more complete logs starting from before the first "endpoint canceled" message was logged? Thank you!

[2021-05-19 18:59] adleong commented on #6065
Closing due to inactivity.

[2021-05-19 18:59] #6065 closed

[2021-05-19 19:36] hawkw commented on #2295
As far as I know, nobody's actively working on this, so you're welcome to take it on! I think implementing what RFC 2616 describes (setting the `Via` header when proxying, and the `Server` header when synthesizing errors) is correct, but it might be worth asking around to make sure there are no issues with Linkerd populating those headers --- @olix0r might have something to add?

Let us know if yo

[2021-05-20 05:27] shousper commented on #5947
Same issue here today on v2.10.2 in an EKS cluster (v1.18.9-eks-d1db3c). Restarting the `prometheus` pod caused `linkerd viz check` to start passing, but the same 4 errors are still reported on startup:

[code]

The log output otherwise appears identical to the previous broken pod.

[2021-05-20 07:51] alex-berger opened #6146 "Outbound proxy delays writing of TLS handshake message"
## Bug Report

Outbound `linkerd-proxy` sometimes does not call [`epoll_wait`](https://man7.org/linux/man-pages/man2/epoll_wait.2.html) on a certain epoll file descriptor which results in very large delays between establishing a connection and sending the TLS handshake `client_hello` message. This in turn causes the inbound `linkerd-proxy` on the other side to close that connection as it times out

[2021-05-20 12:38] tarvip opened #6147 "Proxy is using wrong server.id"
## Bug Report

### What is the issue?

It seems that proxy is sometimes still using wrong `server.id` when creating connection.

We have a service that is using Akka HTTP and from time to time it starts logging following messages:
[code]

This service is receiving requests from Traefik.

Recently similar [issue was fixed](https://github.com/linkerd/linkerd2/issues/6037) (I haven't seen this error

[2021-05-20 13:44] kleimkuhler commented on #6146
@alex-berger Thanks for such a detailed issue and posting your updates as you debugged this in the slack channel. Descriptions like this are super helpful when finding the root issue. We'll take a look at what's going on.

[2021-05-20 17:01] johnmckenna opened #6148 "podAnnotations fail with linkerd-viz helm chart"
## Bug Report

### What is the issue?
helm install linkerd-viz linkerd/linkerd-viz --version 2.10.2 --values values.yaml

produces the following error:

Error: template: linkerd-viz/templates/prometheus.yaml:227:50: executing "linkerd-viz/templates/prometheus.yaml" at <trim>: wrong type for value; expected string; got map[string]interface {}

### How can it be reproduced?

values.yaml has the foll

[2021-05-20 17:53] hollowimage opened #6149 "linkerd 2.10.2 segfaults during linkerd inject command"
## Bug Report

### What is the issue?
when attempting to run `linkerd inject` on a manifest, results in a segfault.
### How can it be reproduced?

not 100% sure. but linkerd was installed the following way:

`brew install linkerd` for the cli
mesh itself was dropped into the cluster using helm:
`helm upgrade --install linkerd2 -f ../linkerd2/values-ha.yaml --set-file identityTrustAnchorsPEM=ca.crt

[2021-05-20 18:48] kleimkuhler commented on #6148
Thanks for the report @johnmckenna we'll get this fix out soon.

[2021-05-20 18:55] kleimkuhler commented on #6149
@hollowimage Could you please provide the output of `k get deploy ingress-nginx-controller -ningress-nginx -o yaml`? It'd be helpful to see the yaml that the `inject` command is working with.

[2021-05-20 19:06] kleimkuhler commented on #6147
Sorry to see you're running into this class of issue again @tarvip.

So as you know #6037 was about stale clients getting stuck in reconnect loops. They would then find new pods with previously used IPs and send requests with SNI's for the previous identity. It's possible that while the reconnect loop is fixed, we still have old clients sticking around somewhere.

On the other hand, this could not

[2021-05-20 19:08] olix0r commented on #6146
@alex-berger Thank you for spending the time to put this extremely thorough bug report here. I have spotted at least one thing that doesn't look right in our code that I can put together a fix for. If so, I think this issue would be specific to HA control planes, so you may have some luck _scaling down_ the destination service to a single replica in the meantime. Also I'll share this branch shortl

[2021-05-20 19:18] olix0r commented on #6146
@alex-berger How did this bug manifest to your application? I understand from your description and from the logs that connections from application pods control plane pods could fail with bizarre timeouts. Did these connection issues cause problems for your application traffic? I'm not spotting any obvious warnings in the logs you shared, There's definitely an issue here that we can fix; but I want

[2021-05-20 20:08] olix0r commented on #6146
I've published an image with the fix in linkerd/linkerd2-proxy#1014. You can test it by setting pod annotations:

[code]

This issue was limited to the client from proxies to the control plane components. The load balancer would stop driving connections to "readiness" once a first connection was established. The referenced change will ensure that all connections are driven to completion so these T

[2021-05-20 21:18] steve-gray opened #6153 "EKS 1.20 Upgrade Issues - "no record found for name""
Creation of issue to follow on from Slack chat at https://linkerd.slack.com/archives/C89RTCWJF/p1621516099064500 with our team and @kleimkuhler  and @mateiidavid

### What is the issue?
When upgrading a previously working 2.10.1 stable cluster from EKS / Kubernetes version 1.19 to 1.20, we found that all of our proxies and linkerd pods are spamming with errors such as: `no record found for name: l

[2021-05-20 21:26] irizzant opened #6154 "linkerd check --proxy reports wrong data plane status"
## Bug Report

### What is the issue?
After I upgraded to the latest stable 2.10.2 version (from 2.10.0) using Helm, I run
[code]
as suggested in the docs and I got the following:
[code]

This messages states my data plane is running the wrong version of the proxy but if I:
[code]
all I get is `linkerd/proxy:stable-2.10.2`.
Same is for all the other pods.

### How can it be reproduced?
I've update

[2021-05-20 23:14] hollowimage commented on #6149
applied from
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-0.32.0/deploy/static/provider/aws/deploy.yaml`

[code]

[2021-05-21 06:06] alex-berger commented on #6146
@olix0r From the aggregated `linkerd-proxy` logs I conclude that application traffic is not affected. However, we stopped the rollout of `edge-21.5.1` to be on the save side. However, I am wondering what happens if control plane connections fail, isn't there a risk that proxies cannot obtain up-to-date endpoint list and therefore might not being able to route traffic at all or route it to wrong ba

[2021-05-21 06:30] olix0r commented on #6146
@alex-berger The controller client's balancer would ensure that at least one connection was available and then stop driving any of the other connections/handshakes to alternate endpoints. So it would have been possible to perform discovery over that one healthy connection connection, though requests wouldn't necessarily be distributed among all controller instances. With the change we just merged,

[2021-05-21 07:42] alex-berger commented on #6146
I tried to test-drive your changes but it breaks our gloo-edge ingress gateway (running in ingress mode) as it does not add the `l5d-dst-override` header for all requests. The outbound linkerd-proxy log of the gloo-edgre ingress gateway Pods are now full with the following log message.
[code]
Basically this means, that starting with that new proxy version gloo-edge in ingress mode will no longer w

[2021-05-21 08:37] alex-berger opened #6157 "PR #992 breaks ingress traffic"
## Bug Report

The recently merged [992](https://github.com/linkerd/linkerd2-proxy/pull/992) introduces a breaking change for ingress controllers running in [ingress mode](https://linkerd.io/2.10/tasks/using-ingress/#proxy-ingress-mode). It enforces all outbound request to have the `l5d-dst-override` set, which is a unrealistically strict requirement that breaks many ingress traffic pattern suppor

[2021-05-21 09:14] aatarasoff opened #6159 "Use opentelemetry collector instead of opencensus"
## Feature Request

Use [opentelemetry-collector](https://github.com/open-telemetry/opentelemetry-collector) instead of opencensus

### What problem are you trying to solve?

**Opencensus collector is deprecated** and has much less features for span modifications.

For example we can rewrite service name, span name and attributes to make tracing clearer:
<img width="526" alt="Screenshot 2021-05-21

[2021-05-21 10:05] migue opened #6160 "Services and opaque ports"
Issue Type:

- [x] Bug report
- [ ] Feature request

**What happened**:

Defining a new service (ElasticSearch) and marking its default port (9200) as opaque makes the service unavailable, returning a 502 Bad Gateway on every request.

**What you expected to happen**:

I would expect the service to be available. If you remove the opaque-port definition it works smoothly

**How to reproduce it (as

[2021-05-21 11:29] alex-berger commented on #6146
@olix0r I managed to test-drive the `ghcr.io/olix0r/l2-proxy:a01b8bd2` image version and there are still `TLS detection timed out` messages in the aggregated `linkerd-proxy` logs. However, now it looks like those messages only pop-up if Pods are restarted, and then only in the log of the terminating/starting Pod. During calm time windows, in which no Pods are terminated/started those messages do n

[2021-05-21 15:32] olix0r commented on #6159
Thanks @aatarasoff.

I'm curious if we really need to continue supporting OpenCensus collectors. We should probably ask around on Slack and the users list to get a sense of how important this is.  I get the sense that the `linkerd-jaeger` extension isn't _that_ widely deployed; so we may be able to just change APIs without real impact...

[2021-05-21 16:02] olix0r commented on #6157
Thanks for testing the edge release @alex-berger! This is helpful feedback.

We'd really like to adopt a different approach for ingresses more along the lines of [nginx's `service-usptream` feature](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#service-upstream) which allows us to run a normal proxy without ingress-mode. I've browsed through the gloo docs b

[2021-05-21 16:40] olix0r commented on #6154
@irizzant do you have any idea where the string `18080/linkerd/proxy` is coming from? I'm assuming you're using a private container image registry? Is 18080 maybe the port number from your container registry? If so, it sounds like our regex needs some work...

[2021-05-21 16:57] olix0r commented on #5947
Is it possible that your clusters have some sort of `NetworkPolicy` enabled that is preventing these connections?

[2021-05-21 17:08] #5204 closed

[2021-05-21 17:38] aatarasoff commented on #6159
@olix0r sometimes we have a lot of unexpected work because of breaking changes in Helm charts (especially when you need to update something fast), so I vote to keep backward compatibility as long as possible.

OpenTelemetry and OpenCensus collectors have not compatible configurations, and I think there is not much work to support both templates for a while under a toggle.

Anyway I am ready to mak

[2021-05-21 18:06] olix0r commented on #5352
I believe this was addressed?

[2021-05-21 18:17] olix0r commented on #6159
@aatarasoff My main concern is having to support wiring configuration through the injector and proxy. It's not a deal-breaker, but generally we prefer to minimize the configuration surface area. Does the OT collector _just work_ with the open census gRPC API? or are we going to have to support both formats in the proxy?

[2021-05-21 18:19] olix0r commented on #5417
It sounds like we'll be adding support for OpenTelemetry tracing near future https://github.com/linkerd/linkerd2/issues/6159.

I think the jury's still out on supporting pushing metrics from the proxy to OT. I think we'd suggest deploying a sidecar that scrapes from our prometheus endpoint and pushes metrics to OT (that can be managed as an independent Linkerd extension).

[2021-05-21 18:57] alex-berger commented on #6157
@olix0r Let me share a picture of our ingress architecture annotated with answers to your questions.

![Blank diagram-1](https://user-images.githubusercontent.com/1087375/119184867-3ac79e00-ba76-11eb-8392-69664dc111f7.png)

Basically, what we are looking for is kind of a "best effort" ingress mode which has the following properties:
- if `l5d-dst-override` is set it will apply all linkerd features

[2021-05-21 21:30] BrentFathom5 opened #6162 "Cannot expose linkerd dashboard via ingress"
I have a 3 node K3s cluster with Linkerd and NGINX Ingress Controller. I installed Linkerd with a default configuration:

[code]

Then to install the NGINX Ingress Controller I used helm with a default configuration as well:

[code]

I can access the Linkerd dashboard by calling `linkerd viz dashboard`, but I'd like to expose the dashboard with an Ingress definition. I modified the example yaml fi

[2021-05-21 21:47] tdyas commented on #6066
I just upgraded Linkerd to v2.10.2 in my cluster. Will let you know if the leak fix in that release fixes the issue I was seeing.

[2021-05-21 22:09] cpretzer commented on #6162
hi @BrentFathom5 I think you're running in to #3697 We'd love some help getting that fixed, if you're up for it

[2021-05-22 01:18] ericsuhong opened #6164 "Linkerd2 (2.8.1) returns 502 when a request with a large header is received"
## Bug Report

### What is the issue?

Linkerd-proxy containers return 502 errors when a request with a larger header is received.

### How can it be reproduced?

Simply send a request with a large header value (i.e. I attached the header value I used to reproduce this issue), and linkerd-proxy container will return 502.

### Logs, error output, etc

linkerd-proxy container shows this error messag

[2021-05-22 07:58] gr8Adakron commented on #6065
This was due GCP ingress conflict with ambassador

[2021-05-22 11:25] irizzant commented on #6154
@olix0r yes I do, it's the port of our internal docker registry.
Nevertheless according to the above explanation I verified that the image running in my cluster is version stable 2.10.2 so I don't get where this version mismatch is originating from

[2021-05-22 11:56] aatarasoff commented on #6159
@olix0r hmm, I see that this problem is a little bit more complex than I thought 🤔

These two issues are linked but could be implemented and delivered separately. On the one hand, the proxy could use OC protocol with OT collector for a long time. On the other hand, adopters could use OLTP protocol in the proxy (if it supports) with a separated OT collector.

Just as a variant, we could use the fol

[2021-05-23 06:42] psmit commented on #6098
Hi @alpeb ! The code I have added earlier regarding specifying node ports works great. However, I'm still having a usability issue and I think it is related to this issue.

On the `linkerd mc link` command, there is also no option to set the gateway-port and gateway-probe-port, in a similar fashion as setting the gateway-adresses. My link command looks now like:

[code]

[2021-05-24 06:59] Pothulapati commented on #6159
Hey @aatarasoff,

That approach seems right for me too i.e starting with replacing the OC collector with OT collector (with OC protocol) and then figure out a plan specifically for the proxy! I'm also fairly confident that OC protocol will be supported for a while with OT.

 I'm not sure how well tested OT collector is, and when would be the right time to make the switch though! WDYT? @olix0r

[2021-05-24 07:02] Pothulapati commented on #5070
Closing this because of the staleness, Feel free to reopen if you are still facing the issue!

[2021-05-24 07:02] #5070 closed

[2021-05-24 07:05] shousper commented on #5947
@olix0r Checked that this morning, can confirm I have no `NetworkPolicy` resources.

[2021-05-24 07:10] #6148 closed

[2021-05-24 13:27] mateiidavid commented on #6160
Hey @migue 👋🏻  thank you once again for opening this issue and for going through everything with me on Slack.

I have managed to reproduce this successfully with two different services: `elasticsearch`, which you have pointed out in the main post and [`emojivoto`](https://github.com/BuoyantIO/emojivoto). You can find my test results below:

<details> <summary>  Elasticsearch logs and test </summar

[2021-05-24 15:59] olix0r opened #6169 "ci: Pre-load images in tests?"
yesterday i was messing around with k3d+actions and i noticed something interesting: https://github.com/linkerd/linkerd2-proxy/blob/2d3d73a5a2e395f6e4ceb00b50bc30bec4d00a49/.github/workflows/k3d.yml#L52-L54

Doing image pulls takes substantially longer inside k3d than it does doing pulls manually (especially if parallelized).

As it frequently takes a long time for pods to become ready in CI, I wo

[2021-05-24 16:06] olix0r commented on #5198
Related: https://github.com/linkerd/linkerd2/pull/6165

[2021-05-24 16:35] cyberbliss commented on #6108
Please can @Sadzeih original enhancement request be reconsidered? I have the same use case, in that I'm using cert-manager's SelfSigned Issuer type to generate the trust anchor cert (this replaces using step to create this) and I want to use ArgoCD to install Linkerd via its Helm chart. Being able to use ca.crt from the linkerd-identity-issuer secret (already created by cert-manager) would make in

[2021-05-24 16:58] adleong commented on #6108
Hi @cyberbliss!  I recommend copying the `ca.crt` generated by cert-manager into the the Linkerd values.yml used by Helm.  When installing with the Linkerd cli, this is done automatically but when using Helm, this has to be done manually (see https://linkerd.io/2.10/tasks/install-helm/#helm-install-procedure).

I wonder if it is possible to automate this step with ArgoCD?  Although, from a pure Gi

[2021-05-24 18:16] adleong commented on #6159
Replacing the OC collector with the OT collector seems like a natural first step if the OT collector supports the OC API.  Are there any drawbacks to doing so?

[2021-05-24 18:59] olix0r opened #6171 "ci: Restrict `permissions` in actions"
GitHub Actions supports a [`permissions` block](https://docs.github.com/en/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token) that restricts the privileges of the GitHub auth token in actions.

Most of our actions should be able to run with:
[code]

We should ensure all of our actions are configured with the smallest necessary set of capabilities.

[2021-05-24 19:06] olix0r opened #6172 "Replace run-proxy.sh with a binary"
To support https://github.com/linkerd/linkerd2/issues/5198, we should use a `distroless` image for the proxy's runtime (see https://github.com/linkerd/linkerd2/pull/6165).

In order to move to a more restricted container image, we can't rely on a shell being present in the runtime container, however the proxy is started by an init script

https://github.com/linkerd/linkerd2/blob/e784b5b767949e6c05

[2021-05-24 19:53] migue commented on #6160
👋  @mateiidavid

Thanks a lot for the clear and detailed explanation!!

Happy to help!!

[2021-05-24 19:55] aatarasoff commented on #6159
@adleong yep, it supports OC API. I tried to explain some details in this comment: https://github.com/linkerd/linkerd2/pull/6167#discussion_r638024625

[2021-05-24 20:09] olix0r commented on #6157
The changes from https://github.com/linkerd/linkerd2-proxy/pull/1016 should be included in this week's edge release. To test these changes before then, you can use workload annotations like:

[code]

This proxy version should once again support routing requests that do not have a `l5d-dst-override` header set by honoring the request's original destination address.

[2021-05-24 20:19] #6128 closed

[2021-05-24 20:31] #6084 closed

[2021-05-24 20:47] #5051 closed

[2021-05-24 21:27] hawkw commented on #3938
This has been done for...a while :)

[2021-05-24 21:27] #3938 closed

[2021-05-24 21:27] #5066 closed

[2021-05-24 21:37] alpeb commented on #6098
Hi @psmit :wave:
Yes, that makes sense for the gateway port, would you please create an issue for that? As for the gateway probe port, you can set it via `--set gateway.probe.port=4143` on the command line.
OTOH, I'm gonna close this issue because there's really no Helm-equivalent for `linkerd mc link` given there's some logic performed on the CLI that can't be replicated through sheer templates.

[2021-05-25 04:21] psmit opened #6175 "Add gateway-port option to multicluster link command"
## Feature Request

### What problem are you trying to solve?

I have installed the multicluster chart using a NodePort service type (see https://github.com/linkerd/linkerd2/pull/6059). The selected NodePorts are mapped with a non-k8s load balancer, and therefore I need to set the true port when creating a link.

The following command does already work, but I would prefer not to have `sed` in ther

[2021-05-25 06:41] alex-berger commented on #6146
It would be super helpful if we could add connection information (local IP address & port, remote/peer IP address) to the [`DetectTimeout`](https://github.com/linkerd/linkerd2-proxy/blob/main/linkerd/tls/src/server/mod.rs#L86) error message. This would allow me to reason about this error without having to increase log-level on all Pods.

[2021-05-25 10:13] mateiidavid opened #6177 "Add check to ensure opaque ports is set on service if also set on pod"
This is based on #6160: if an `opaque-ports` is set on a workload (e.g a pod template in a Deployment) but not on its corresponding service, then the `opaque_transport` is correctly set on the endpoint however we still do protocol detection. This results in an unexpected Opaque Transport header picked up by the inbound proxy (concluding with a closed conn):

[code]

A simple way to mitigate this p

[2021-05-25 10:42] mateiidavid opened #6178 "Handle HTTP protocol traffic over opaque transport connections"
Based on the issue identified in #6160 when `config.linkerd.io/opaque-ports` is set on a workload but not on the corresponding service, we still do protocol detection even though the traffic is proxied over an opaque transport connection.

Traffic is sent to the proxy's inbound port, however, the connection fails once it [reads](https://github.com/linkerd/linkerd2-proxy/blob/d370783b2c47c00652fdd2

[2021-05-25 11:43] alex-berger commented on #6157
@olix0r I tested the new proxy image `a07b33d7` and can confirm that https://github.com/linkerd/linkerd2-proxy/pull/1016 resolves our problems. Thank you very much for that fix, I really appreciate your help on this issue.

[2021-05-25 15:09] mateiidavid commented on #6160
No worries! I've raised #6177 based on this which should help avoid these situations in the future. We'd need some help with it if you're interested :)

[2021-05-25 18:42] #5247 closed

[2021-05-26 06:25] shousper commented on #2681
New installation here, also seeing the same symptom. A lot of lingering `no_tls_reason=loopback` connections chewing up resources, though I'm using stable-2.10.2 on EKS v1.18.9-eks-d1db3c.

[2021-05-26 07:33] migue commented on #6160
Thanks a lot for opening it!! I will take a look at it later this week and see if I could give it a try and implement it?

[2021-05-26 09:50] mateiidavid commented on #6160
Sounds good! If you have any questions or a potential solution and you'd like to chat it through feel free to just post in #6177. We're more than happy to discuss.

Since we have #6177 and #6178 to track improvements, I'll go ahead and close this issue. Thanks again for raising this @migue! If you want this opened back up, lmk.

[2021-05-26 09:50] #6160 closed

[2021-05-26 13:30] alex-berger opened #6184 "Proxy keeps trying to connect to stale identity IP address"
## Bug Report

While testing https://github.com/linkerd/linkerd2/issues/6157 and https://github.com/linkerd/linkerd2/issues/6146 I observed another occurrence of the `linkerd-proxy` trying to connect to stale (no longer existing) endpoints.

### What is the issue?

One of our meshed ingress gateways (running in ingress mode) tries to connect to a **stale** linkerd-identity address `10.40.25.18:808

[2021-05-26 15:37] olix0r commented on #6184
@alex-berger Thanks for another great bug report.

The first thing I'd want to look into is the state of the pod's DNS--proxies discover the identity service by resolving SRV records for `linkerd-identity-headless.linkerd...` There should be some diagnostic logging from the [`linkerd_dns` crate](https://github.com/linkerd/linkerd2-proxy/blob/c188444e805787a6e271782bba2442f2a8ed0387/linkerd/dns/src

[2021-05-26 15:55] olix0r commented on #2681
In order for us to make progress on this, it would be great if we could narrow this repro down and/or get access to deeper diagnostics. _A lot_ has changed with regard to Linkerd's connection pooling/caching since this issue was originally opened, so, if we can't get a narrower repro, it would at least be helpful to get proxy debug logs and metrics when we're in this state.

[2021-05-26 17:58] alex-berger commented on #6184
@olix0r

I grepped for `dns|resolve` with a slightly increased time windows (~10seconds) and got the following log messages:

[code]

[2021-05-26 18:09] olix0r commented on #6184
Interesting! I think this at least gives us some pointers about what to look into.

In the meantime, you may want to run with a more targeted logging configuration so we get some better signal if it recurs after restart:

[code]

[2021-05-26 18:43] lupusllc commented on #6146
AKS 1.18.17
Linkerd 2.10.2
Ingress NGINX "ingress-nginx-3.29.0"

I can confirm that we're seeing the same sorts of intermittent errors, as far I can tell ( it is a lot of data to process ). None of which appeared to actually drop any of our connections. We had tests running for extended periods ( at 2 second and then later, 12 second intervals ) to try and reproduce the issues, in two different AK

[2021-05-27 15:04] olix0r commented on #6146
This is the case for HTTP-level detection, where failing to detect protocol should be transparent to the application. However, for meshed TLS communication, we can't fail open in that way, as we risk proxying unexpected TLS handshakes to the application. We'll do some more thinking about how best to handle/diagnose these cases.

[2021-05-27 16:22] mmisztal1980 commented on #6066
@tdyas can you provide an update? did v2.10.2 help with the memory issue?

[2021-05-27 17:20] tdyas commented on #6066
It didn't unfortunately. I also tried scaling the backend, but that didn't seem to have an effect. (And I had a separate change to improve its scalability but had to rollback unfortunately).

I plan to take memory profile of the sidecar with [`heaptrack`](https://github.com/KDE/heaptrack) either today or tomorrow using [this `Dockerfile`](https://gist.github.com/tdyas/62a1813c3dffefb69cf316ff229be

[2021-05-27 18:20] mmisztal1980 commented on #6066
The [linkerd annotations ](https://linkerd.io/2.10/reference/proxy-configuration/) contain `config.linkerd.io/debug-image` - perhaps this is what would do the trick?

If that is the case, you could extend the proxy image with heaptrack and ensure that the profiler is started beforehand?

[2021-05-27 19:27] tdyas commented on #6066
I was going to use `config.linkerd.io/proxy-image` with my custom image with heaptrack. I thought `debug-image` was for the debug sidecar and not the proxy?

The entrypoint is a shell script so I probably need to modify `proxy-identity/run-proxy.sh` to allow prepending the heaptrack invocation or else just use a complete replacement. No big deal, just not much preexisting infra to easily take a pr

[2021-05-27 19:29] mmisztal1980 commented on #6066
you're probably right, didn't spot this one

[2021-05-27 21:06] #6175 closed

[2021-05-28 05:38] aryan9600 commented on #2295
hey @hawkw, sorry for the late response, the codebase is kinda massive so digging into it was a bit tedious xD
so since we want to add the header based on whether the response was synthesised by the proxy, does it make sense to add the logic [here](https://github.com/linkerd/linkerd2-proxy/blob/00c3394ab36eeff14192e6ae52c41238376daabd/linkerd/app/core/src/errors.rs#L175) since this is where we the

[2021-05-28 05:40] migue commented on #6177
👋  if you're okay with it I would like to give it a try!! I will probably ask some [dumb] questions since this is my first time around this ...

[2021-05-28 08:43] migue commented on #6177
I've opened this [draft] pull https://github.com/linkerd/linkerd2/pull/6192

Not sure if I've taken the right path; I'd appreciate any hint before I move forward. The tests are missing but I've tested my local build against my a Kubernetes setup where a bunch of services are missing the annotation:

[code]

Thanks a lot!

[2021-05-28 10:35] alex-berger commented on #6184
@olix0r I applied the log configuration [that you recommended ](https://github.com/linkerd/linkerd2/issues/6184#issuecomment-849006689)to our ingress gateways. Now, the problem appears again on one of our ingress gateway Pods, but the log of that Pod still does not contain any **recent** log messages matching `dns|resolve`. There are a hand full of such log messages in the log immetiately after th

[2021-05-28 10:56] alex-berger commented on #6184
Actually, doesn't this look rather similar to what we had in https://github.com/linkerd/linkerd2/issues/6037#issuecomment-830100395, a retry (reconnect) loop that never ends? Some first ad-hoc `strace` sessions reveal, that there seems to be no connection (from envoy) to the `linkerd-proxy` that triggers those outbound connections to `10.176.2.62`.

[2021-05-28 11:36] alex-berger commented on #6157
Closing this issue, as this has been fixed in `edge-21.5.3`.

[2021-05-28 11:36] #6157 closed

[2021-05-28 12:00] alex-berger commented on #6146
As of `edge-21.5.3` the error message `TLS detection timed out` still appears sporadically immediately after the start of a Pod. However, https://github.com/linkerd/linkerd2-proxy/pull/1014 has improved the situation drastically. The `linkerd-proxy` logs usually looks like the one below and contain zero, one or two occurrences of that message:

[code]

@olix0r If this is expected behavior, please

[2021-05-28 14:43] camilorivera opened #6194 "Tap and Top not showing any metrics"
## Bug Report

### What is the issue?

When trying to do Tap or top from the cli or from the dashboard nothing is shown.

### Logs, error output, etc

[code]

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.18
- Cluster Environment: EKS
- Host OS: amazon-linux
- Linkerd

[2021-05-28 16:20] olix0r commented on #6194
This is an instance of https://github.com/linkerd/linkerd2/issues/6012#issuecomment-828755558. We plan to make this easier to diagnose as a part of https://github.com/linkerd/linkerd2/issues/6074

Basically, by default, Linkerd only does service discovery for pods in private IP space. Your cluster is using pod IPs in the  `20.1.0.0/16` space. You'll want to configure linkerd with the appropriate c

[2021-05-28 16:27] olix0r commented on #6146
@alex-berger Ah, yeah, this is likely because the pod hasn't yet acquired identity:
[code]

so it can't terminate connections. We gate readiness on the existence of the identity, but we don't currently fail liveness probes in this state. Perhaps we should? I'm not immediately sure what the proper failure mode is in this case, I think we're basically hoping that the identity is acquired before the

[2021-05-28 16:45] olix0r commented on #6184
@alex-berger Thanks! I think we have a pretty good understanding of why this is happening. I think it's similar to the other issue in that this probably can't cause any runtime problems -- as soon as the identity client is actually used, it should trigger a re-resolution and get a fresh set of endpoints to use. However, this is definitely undesirable behavior as-is, and we'll make changes to the p

[2021-05-28 16:53] olix0r commented on #6154
https://github.com/linkerd/linkerd2/blob/cfe510674a7ebc1f71ee005f18eb26b01edf5eb6/pkg/k8s/api.go#L269-L278

This code incorrectly splits on `:`. We need to be better at parsing out the actual proxy tag from the image field.

[2021-05-28 16:59] #6098 closed

[2021-05-28 17:01] olix0r commented on #6171
Done in the proxy repo https://github.com/linkerd/linkerd2-proxy/commit/94dec9193548cb80f8c55c9b38bcfead5c968888

[2021-05-28 17:13] #5352 closed

[2021-05-28 17:14] #5045 closed

[2021-05-28 17:15] #5139 closed

[2021-05-28 17:15] #5047 closed

[2021-05-28 17:16] #5160 closed

[2021-05-28 17:18] #5112 closed

[2021-05-28 17:26] hawkw commented on #6164
This error is returned by the `h2` library and wrapped by `hyper`.

Skimming the docs, it looks like [`h2`'s error type](https://docs.rs/h2/0.3.3/h2/struct.Error.html) doesn't currently expose a way to programmatically determine the cause of an error beyond determining whether it was a protocol error, an IO error, or a "user error". The only way we could detect this _specific_ error currently is t

[2021-05-28 17:48] camilorivera commented on #6194
@olix0r thank you this solve my issue. was this something that changes on version 2.9.3 ? As it was working before that.

[2021-05-28 17:52] olix0r commented on #6194
@camilorivera Yeah, I believe it was 2.9 where outbound service discovery changed to be based on ip addresses, and this setting was introduced so that proxies do not perform lookups for all networks.

[2021-05-28 20:19] #6130 closed

[2021-05-29 01:50] olix0r commented on #6184
I've published an image with the fix proposed in linkerd/linkerd2-proxy#1021 to `ghcr.io/olix0r/l2-proxy:e269429a`

[2021-05-29 09:37] alex-berger commented on #6184
@olix0r the stale address `10.176.2.62:9977` from the above logs does not look like it is related to the identity client (wrong port). In fact there is only one service using that port in our cluster and that is the gloo xDS controller. So there must be more to this than just fixing the identity client.

FYI, I guess that in case of `10.176.2.62:9977` there is no `l5d-dst-override` header set as t

[2021-05-29 14:04] aryan9600 commented on #6154
I might be wrong but shouldn't returning the last element instead of the second element suffice?
https://github.com/linkerd/linkerd2/blob/cfe510674a7ebc1f71ee005f18eb26b01edf5eb6/pkg/k8s/api.go#L274