[2019-12-20 17:39] grampelberg commented on #3794
We should be explicit about this decision. I've been assuming they'd all be in the same repo. That'll make contribution more difficult though. What would we need to get put together so that these addons can live in separate repos but still have a consistent look and feel? I'm thinking we'll want some kind of common CI toolbox at the bare minimum.

I'm of the opinion that we should be concrete abou

[2019-12-20 18:20] scottcarol opened #3859 "Data Race reported when running local web server"
After running `bin/web dev` to start the web server locally, I am sporadically seeing `Data Race` being reported. Linkerd environment: Running `edge-19.12.3`

[code]

[2019-12-20 21:59] scottcarol opened #3860 "Needs Design: Continue Dashboard Performance Improvements"
@tegioz and @cynthia-sg recently contributed performance improvements to the dashboard:

Reduce unnecessary data requests for pod detail pages (#3768)
Pause dashboard network activity when page is hidden (#3773)
Cache StatSummary responses in dashboard web server (#3769)
Also previously by others: #3338, #3467

There is more discussion in PR #3767 (now closed) and #3618 (initial ticket and researc

[2019-12-21 02:36] javaducky commented on #3851
@grampelberg, I can take this one if you like.

[2019-12-21 07:14] derrickburns opened #3861 "10 sec timeout and request aborted"
## Bug Report
I am getting 504s from a simple upload using curl that is intentionally bandwidth constrained in order to test timeouts.  The test uploads 265K of data at 10K per sec.  I have a timeout set in a ServiceProfile for 30s.  When I run this test without linkerd proxies in the data path, it always succeeds.  When i run this test with linkerd proxies, it sometimes succeeds and sometimes fai

[2019-12-21 08:21] derrickburns opened #3862 "Incorrect rt_route"
I ran:
[code]

I see

`req id=5:3 proxy=in  src=10.43.77.134:44142 dst=10.43.92.82:9220 tls=true :method=GET :authority=qa2.development.tidepool.org :path=/status src_res=deploy/gateway-proxy src_ns=gloo-system dst_res=deploy/data dst_ns=qa2 rt_route=/dataservices/_get_s`

The value of `rt_route` is incorrect.

The service profile is
[xxx.txt](https://github.com/linkerd/linkerd2/files/3991210/xxx.

[2019-12-21 08:36] derrickburns opened #3863 "Service Profile names"
This is request to clarify your documentation on ServiceProfiles.

The documentation states that the name of the ServiceProfile should be the value of the `:authority` field.  This is incorrect.

First, standard k8s resource names cannot have a colon.   However, the `:authority` field will have a port if a non-standard port is used. @grampelberg told me that the port number should not be included

[2019-12-21 17:10] grampelberg commented on #3851
@javaducky that'd be awesome!! As this is going to impact the templates, make sure you do a little synchronization with @Pothulapati so that neither of you end up being required to do some insane rebasing.

[2019-12-21 18:17] #3862 closed

[2019-12-21 18:17] #3861 closed

[2019-12-22 01:51] rnsv commented on #3843
--identity-external-issuer options configures identity to use tls.key and tls.crt from the linkerd-identity-issuer secret.

- The challenge is with proxy-injector.  Proxy injector currently reads the Root CA cert (stored in identityContext.trustAnchorsPem) from linkerd-config which is needed for LINKERD2_PROXY_IDENTITY_TRUST_ANCHORS.  This means, I need to get the ca.crt value from identity-issuer

[2019-12-22 16:50] olix0r commented on #3843
The proxy-injector service account has no business being able to read identity secrets.

[2019-12-22 18:30] rnsv commented on #3843
@olix0r I think, right now, when you run linkerd with --identity-external-issuer, it does exactly that -  which is reading the  linkerd-identity-issuer secret and populating LINKERD2_PROXY_IDENTITY_TRUST_ANCHORS with the ca.crt.  Am I missing something?
My question was more on whether this logic could be moved to the server side

[2019-12-22 18:35] grampelberg commented on #3843
To provide a little more context, the identity private key is in that secret. Anyone with access to that secret can create arbitrary certificates that are valid anywhere. This isn't an issue as part of the install process because the installer needs superuser access already. It is super important that no one else gets access to that secret.

It'd be possible to have *another* configmap that only c

[2019-12-22 22:05] ihcsim commented on #3843
@rnsv It sounds like you are trying to install both cert-manager and Linkerd in one automated step? With cert-manager in the mix, if possible, I recommend separating your installation process into (at least) two steps:

1. Install cert-manager, create your trust root and the Linkerd's identity issuer secret per our [docs](https://linkerd.io/2/tasks/use_external_certs/). There is no point of instal

[2019-12-22 23:56] #3166 closed

[2019-12-23 03:08] rnsv commented on #3812
I see a similar issue.  While searching I came across this post. I have to yet to debug this completely but thought I will post my findings here.
I am using edge-19.12.3 with CNI
With linkerd.io/inject: enabled and no init-containers everything is working as expected
The moment I add an initContainer, init container is unable to communicate outside
I tested this with the following minimalistic con

[2019-12-23 12:12] Pothulapati commented on #3794
IMO, they should just live under `charts/add-ons/<addon-name>`, because they are useless without having the main Linkerd chart, or the Linkerd installation. This definitely helps us to not have to maintain those charts, but they still have to add a reference in the `requirements.yaml`, `pkg/charts/values.go` and `values.yaml`. I'm not really sure about this because, `helm` would just work as the `

[2019-12-23 16:06] Pothulapati commented on #3794
So, Add-on Model is planned to be done using helm charts as the underlying tool.
The following per-requisites have to be considered considered because of that:

- Sub-charts will live under `charts/add-ons` as new Helm charts with similar format and templating. As helm supports URL as the `repo` path for add-ons, They can also later be moved out-of-tree totally.
- The values of the sub-charts will

[2019-12-23 16:26] adamcarter81 commented on #3298
I just wondered how this is progressing - I'm also looking to deploy linkerd on a mixed mode cluster.  What is the status of getting this to work on Windows nodes?

[2019-12-23 16:32] grampelberg commented on #3298
@adamcarter81 Windows still doesn't support it. Hopefully 1H 2020. There's great work going on, just kinda blocked on the actual networking support.

[2019-12-23 16:37] alpeb commented on #3738
Moving the discussion from #3835 here...
We were wondering if there's some operator or something like that for automatically adding annotations to workloads. Someone in #linkerd2 mentioned this project, that might be worth exploring as a generic alternative:
https://github.com/HotelsDotCom/kube-graffiti

[2019-12-23 19:12] adleong commented on #3863
Hi @derrickburns!  Your understanding is correct, the service profile name should not include the port number and should use the `l5d-dst-override` header if provided.  Are you interested in fixing this by submitting a pull request to the https://github.com/linkerd/website repo?

[2019-12-23 19:21] adleong commented on #3854
It would be good to narrow this down a bit to help determine if this is a kind/kubeadm bug or a Linked bug.  I'm not too familiar with the consequences of pausing node containers.

What output does `kubectl -n emojivoto get endpoints/emoji` yield?  Does that command show the up-to-date emoji ip addresses, or the stale ones?  Similarly, what about `linkerd endpoints emoji.emojivoto.svc.cluster.loca

[2019-12-23 21:48] cpretzer commented on #3785
@MSLaguana this is an interesting hypothesis. I think we'd have to inspect one of these requests to see what is actually happening.

If it is traffic coming from a malicious site, then the best thing might be to filter the traffic using a firewall, so that it doesn't make it to the ingress controller.

[2019-12-23 21:52] cpretzer commented on #3596
@rocketraman @yjiq150 thanks for the reports. I'm working on a reproduction case now and will update when I have more information.

Charles

[2019-12-23 21:56] MSLaguana commented on #3785
I was hoping to be able to avoid that since I'd like my service to be broadly accessible, and would rather not play whack-a-mole with ip filtering. That said, I haven't seen this happen again since when I last re-opened this issue, so it doesn't seem to be super common, and I have an alert so I should be able to catch it shortly after it happens which may possibly provide some more insights.

[2019-12-23 21:59] cpretzer commented on #3785
Sounds good, please update this issue if/when it happens again.

[2019-12-24 15:24] falcoriss commented on #3854
I orginally noticed the bug on VMWare VMs installed with kubespray (kubeadm) so it's not just a container linkerd problem. I switched to kind for tests because it's more convenient and because i could reproduce this.

This information is displayed on the first screenshot (right screen, bottom left hand corner). When the pod-eviction-timeout occurs, a second pod is added to the endpoints but the pr

[2019-12-24 20:58] fbattistella commented on #3562
I'm also running into this exact same issue, I thought it was something with my ingress controller configuration but turns out that I can replicate the exact same thing @stefanprodan reported.

[code]
Mine is a new EKS cluster with amazon linux (the simplest `eksctl create cluster`), I can see the behaviour when reaching the service from another namespace in the mesh or when hitting from the nginx

[2019-12-25 17:51] mayankshah1607 commented on #3739
@grampelberg I have opened a draft PR - https://github.com/linkerd/linkerd2/pull/3868

[2019-12-25 21:23] #3427 closed

[2019-12-25 23:02] cpretzer commented on #3596
@rocketraman and @yjiq150 I've got a test case running now, so hopefully I can reproduce the behavior.

When you say that you're calling an external service, are you using an [ExternalName Service type](https://kubernetes.io/docs/concepts/services-networking/service/#externalname)?

Or is your service making an http call directly to the URL of the external service?

[2019-12-27 06:20] yjiq150 commented on #3596
No it's not ExternaName service from k8s. It was just http/https API calls to 3rd party servers outside the k8s cluster.

[2019-12-27 07:12] rocketraman commented on #3596
Yes, it's a direct http call to the URL of the external service outside the k8s cluster.

[2019-12-27 08:19] Pothulapati commented on #3405
@andrew-waters That's Awesome! Thank you so much for doing this.

As you know right now, we have the dashboard config statically pushed into a config map. This would allow some great extensibility.

Right now, I am working on a way to have add-ons for Linkerd2, and then move out grafana and prometheus as add-ons. Once we do that, We can maybe update the grafana charts with the mixin generated conf

[2019-12-27 12:32] andrew-waters commented on #3405
@Pothulapati sounds great - I have a related issue over at https://github.com/linkerd/linkerd2/issues/3406 which sounds similar to the work you are doing on add-ons and whilst not a prerequisite, certainly helps in decoupling. If you have any issues I can track on that side, please let me know.

In terms of how we apply the mixin, that's definitely a solid sequence. That will also give me the chan

[2019-12-27 15:19] #3430 closed

[2019-12-27 15:22] olix0r commented on #3362
We have fixed this upstream in tower

[2019-12-27 15:22] #3362 closed

[2019-12-27 15:38] cpretzer commented on #3596
@rocketraman @yjiq150 thank you for that. My test case is also making direct calls to a URL that I created. So far I've not seen the behavior described in this issue, but I'll keep testing.

[2019-12-27 19:25] 007 commented on #3207
Need a label like #evergreen to keep these open.

[2019-12-28 13:05] Pothulapati opened #3870 "Support Linkerd installation through config file"
## Feature Request

Support Linkerd installation through a config file, so that users can store the config on a yaml file and re-use it.

`linkerd install --config configFile.yaml` is the planned command-line.

### What problem are you trying to solve?

As Linkerd started supporting more and more use-cases with different flags, It's becoming hard for folks to use them through a command-line, and t

[2019-12-28 13:15] Pothulapati commented on #3870
The reason for raising this issue is that, I tried out a POC and it works without much code changes but we have some decisions to make, before that.

- Format of the configuration file
      We use an internal struct format, into which the config file will be un-marshalled and then merged with the default struct.
We have the following options:
    - `installOptions`:
        - This struct consists

[2019-12-29 05:06] cpretzer commented on #3563
@kivagant-ba looking through the kubernetes issue, it looks like it wasn't fixed.

My take after reading the issue is that kubelet should be relied upon to remove terminated containers. Said another way, when a process external to kubelet (i.e. `docker prune`) removes a terminated *init-container*, then this behavior can occur.

[2019-12-29 13:49] Pothulapati commented on #3794
After talking to @grampelberg,
For overriding values rather than having a config file for each add-on. They should be able to pass a single config file for full configuration i.e both `linkerd2` and `add-ons`.
Something like `linkerd install --config config.yaml`. This will contain all the configuration following the same helm values format.

[2019-12-29 17:55] olix0r opened #3871 "stat: Suport omitting unmeshed resources"
I frequently want to monitor a cluster with a command like `watch linkerd stat po -A`; but this includes all unmeshed (kube-system, etc) resources as well. I don't really care about unmeshed resources when I'm using Liinkerd.  I'd prefer that we provide a flag to _opt-in_ to view unmeshed resources; but I'd live with a flag that let me opt out.

[2019-12-29 19:53] olix0r commented on #3871
Alternatively, if we supported label selectors, this could be a simple label selector query.

[2019-12-29 23:42] derrickburns commented on #3863
done

[2019-12-30 16:56] #2456 closed

[2019-12-30 19:12] adleong commented on #3854
Thanks for all this super detailed info, @falcoriss.  This does indeed sound like a staleness issue.  I'll spend some time following your instructions and see if I can reproduce this myself.  In the meantime, if you're able to reproduce this with the proxy log level set to DEBUG, the proxy logs from the web pod would also be very helpful.

[2019-12-30 19:27] adleong commented on #3863
Thanks!  https://github.com/linkerd/website/pull/616

[2019-12-30 19:27] #3863 closed

[2019-12-30 19:30] adleong commented on #3836
I wonder if some intermediary is enforcing a maximum connection age of around 3 hours.

[2019-12-30 19:32] #3852 closed

[2019-12-30 20:04] christianhuening opened #3874 "Dashboard/UI should treat no-value rows as below-zero in sorting"
## Feature Request

### What problem are you trying to solve?

Currently when sorting in the http metrics view by i.e. largest P99 latency, rows which have no value for this metric are placed above the highest value row. This makes it sometimes hard to see the actual highest value since you have to scroll down until you reach the actual highest value. See the attached screenshot for an example:
![

[2019-12-30 22:56] #3376 closed

[2019-12-31 00:37] adleong commented on #3854
Ok so I think this happens when the node that you pause happens to be the node with the linkerd-destination instance that web is talking to.

When the node container becomes paused, the linkerd-destination process will be paused and will not send any updates to the linkerd-proxy in the web pod.  However, in my testing, the linkerd-destination pod will still ack TCP keep-alives.  (perhaps because T

[2019-12-31 00:38] adleong commented on #3854
In terms of work-arounds, I'd need to know more about why you're pausing node containers and if that's a scenario that can be avoided.

[2019-12-31 09:13] falcoriss commented on #3854
You must be onto something cause I did notice a link between the problem and the destination pods

We've started experiencing this problem because one of our node went all crazy high load until it was mostly unresponsive (couldn't SSH and stuff). It happened a few times in a few months and everytime we'd have an outage, I don't find this normal as it'd always only onde node and I thought kubernete

[2019-12-31 10:47] jainbhavya65 opened #3877 "Possible Reason Behind Multiple restart of Identity Pod"
We are using linkerd 2.6.1 stable after load test we observed that identity pod in Linkerd name space restart multiple time and we didn't even get proper logs its just shows "**shutting down gRPC server on :8080**" we didn't find the possible reason behind these restart after identity restart destination,linkerd-proxy-injector ,linkerd-sp-validator,tap and web was also restart. and is there any wa

[2019-12-31 13:54] mayankshah1607 commented on #3877
@jainbhavya65 could you provide some info about the cluster you are running linkerd on? Also, are you running the control plane on high availability mode, i.e, using the `--ha` flag?

[2019-12-31 19:15] javaducky opened #3878 "Registry override alone is ineffectual for proxyImage and proxyInitImage during inject"
## Bug Report

### What is the issue?
Use of the `--registry` override flag without the corresponding `--proxy-image` or `--init-image` flag has no effect on the injected `proxyImage` nor `proxyInitImage`.  Specifying a `--proxy-image` or `--init-image` override value makes the `--registry` flag unnecessary.

### How can it be reproduced?
This scenario assumes that the _Emojivoto_ demo application

[2019-12-31 19:22] jainbhavya65 commented on #3877
@mayankshah1607 we are using linkerd on gke kubernetes cluster and we are not running linkerd on ha

[2020-01-01 11:48] mayankshah1607 commented on #2962
@ihcsim @cppforlife seems like this issue has been open for quite sometime. Would you mind if I take this up if no one's working on it already? :smile:

[2020-01-01 17:49] #3325 closed

[2020-01-01 20:49] #2982 closed

[2020-01-02 06:55] cpretzer commented on #2962
@mayankshah1607 that would be really great, looking forward to reviewing your PR

[2020-01-02 08:19] chrisbulgaria commented on #2746
We would as well very much like such a feature - i.e. support identity based network policies, maybe even across clusters ? As linkerd has the identities for mTLS it seems to be a natural place.
Could someone from the linkerd team comment on the general concept and whether it will ever make it into linkerd ? Indeed the alternative would be to go for some calico/istio combination or use some non-op

[2020-01-02 11:29] StupidScience opened #3880 "BadCertificate in case of \n at the end of root cert"
## Bug Report

### What is the issue?

Every day after cert-manager issue new certificate new proxy pods get BadCertificate errors in log. I investigate a bit and looks like my problem related to `\n` symbol at the and of certificate. So there is `\n` symbol in the end of `ca.crt` in `linkerd-identity-issuer` secret and `tls.crt` in `linkerd-trust-anchor` secret but no `\n` symbol in the end of  `

[2020-01-02 15:27] grampelberg commented on #3880
This is such a weird bug, @zaharidichev can you try replicating this?

[2020-01-02 15:29] grampelberg commented on #2746
We'll be working to support [
SMI](https://github.com/deislabs/smi-spec/blob/master/traffic-access-control.md).

FWIW, *most* folks use case are taken care of by simply using [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/)

[2020-01-02 15:34] grampelberg commented on #3877
This sounds like a k8s configuration issue. To be specific, if the pods are getting signals from k8s to shutdown, they're being evicted. Take a look at how to configure your cluster for running out of resources - https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/ . I'd also recommend adding resource requests and limits that are much higher than the default. The `--ha` configurati

[2020-01-02 15:34] #3877 closed

[2020-01-02 19:16] manojkmisra commented on #3061
I vote

[2020-01-02 20:25] zaharidichev commented on #3880
I will take a look at this one. @StupidScience the fact that the check passes after the change does not help the original issue that rustls is complaining about, correct ?

[2020-01-02 22:58] StupidScience commented on #3880
@zaharidichev yep, I believe there are kinda two bugs: one for cli and another for control plane. But I am not 100% sure about it

[2020-01-02 23:32] siggy opened #3881 "Evaluate actions/checkout@v2"
Per https://github.com/actions/checkout/issues/27#issuecomment-570397019, our incorrect SHA issue may be resolved in `actions/checkout@v2`. We should test this, and if it works, we can roll back our workaround in #3602.

[2020-01-03 11:37] StupidScience commented on #3880
Looks like the problem is not gone with `\n` adding in ConfigMap. I just restarted `prometheus`/`linkerd-web` pod and got  a lot of logs like this in proxy

[code]
 And check `linkerd check` results in
[code]
and then
[code]

So looks like issue with `\n` relate only to `linkerd check`.

Problem is gone only after `kubectl rollout restart deploy -n linkerd` but it return every day.

Also here is r

[2020-01-03 12:14] mayankshah1607 commented on #2962
@ihcsim @cpretzer I've noticed something a little different. It looks like the empty fields have been added before the `ParseMetaAndYAML` method itself. I tried logging the input yaml `bytes` and here's what I got:
#### Input:
[code]
#### Value of `string(bytes)` at method `transform` before passing it to `ParseMetaAndYAML`:
[code]
I'm really puzzled as its kind of difficult to understand the magi

[2020-01-03 12:32] StupidScience commented on #3880
Still can't figure out how to reproduce issue.
Tried to delete `linkerd-identity-issuer` Secret  to force certificate reissuance but looks like everything works as expected.
Can you give me some suggestions where to dig when issue will occur again?

[2020-01-03 12:48] zaharidichev commented on #3880
@StupidScience I will look into that first thing on Monday. One thing to keep in mind is that the root cert is baked into the proxy config for linkerd components and added via injection to other meshed pods. So if you simply change the value of the root vert in the config map, this will likely not have any effect untill you restart the pods.

What is more important for me is to replicate the origi

[2020-01-03 13:12] StupidScience commented on #3880
@zaharidichev I already restarted all control plane pods after changing value in ConfigMap.

I use cert-manager with `0.12.0` version.
Resources are same as on your site.
Issuer:

[code]

Certificate:

[code]

Also here is my `values`-file for helm installation if you need it. I got it mostly from [charts' values-ha.yaml file](https://github.com/linkerd/linkerd2/blob/master/charts/linkerd2/values-

[2020-01-03 16:17] grampelberg commented on #2962
This is [reading](https://github.com/linkerd/linkerd2/blob/bb790b22b45961de7619e828bd31079f818fb197/cli/cmd/inject_util.go#L59) using a k8s library. Check out the [code](https://github.com/kubernetes/apimachinery/blob/master/pkg/util/yaml/decoder.go#L267) for the library.

[2020-01-03 16:58] mayankshah1607 commented on #2962
@grampelberg Do you think this could be the issue? Maybe the serializers at method `ParseMetaAndYAML` are treating those fields as non-nil fields when the YAML is being read in - which could be why the field omissions are not respected?

[2020-01-03 17:06] grampelberg commented on #2962
I would expect a `Decode` to do that, the `Reader` appears to just be looking for the YAML document separator and reading lines.

[2020-01-03 17:54] mayankshah1607 commented on #2962
@grampelberg I think I got it. It's probably coming from the `uninject` side. Will open a draft PR soon! :)

[2020-01-03 21:48] cpretzer commented on #3596
@rocketraman @yjiq150 my test has been running for a few days now and so far I haven't reproduced the error.

The external service is set to reply after 10 seconds and returns errors a percentage of the time.

I see in the original post that the application is retrying a request after 30 seconds:
[code]

What is the duration, on average, for responses where you see this behavior?

[2020-01-04 08:43] jainbhavya65 opened #3885 "Configure proxy auto inject if sidecar-injector is not running then pod has to wait for sidecar-injector"
We observe that when sidecar-proxy-injector and any normal pod restart at same time at that time linkerd not inject proxy in that pod. is there any way we can configure linkerd that if any pod having annotation linkerd.io/inject: enabled that must have linkerd proxy if sidecar-proxy-injector is down then it have to wait for linkerd-proxy.

[2020-01-04 15:57] grampelberg commented on #3885
Install with `--ha` or set `webhookFailurePolicy` to fail.

[2020-01-04 15:57] #3885 closed

[2020-01-05 22:19] dayglojesus commented on #3780
@grampelberg Sorry if this was a confusing sentiment, but I tried to unpack it further when I said:

There are ~14 different refs to these values throughout the generated manifest. This makes extraordinarily awkward to template.

[2020-01-05 23:58] #3374 closed

[2020-01-06 00:25] memory commented on #3528
bump :)

[2020-01-06 03:14] sillva commented on #3233
Any chance you guys can share the outcome of your slack chat? Thanks !

[2020-01-06 03:58] #3469 closed

[2020-01-06 08:26] zaharidichev commented on #3880
@StupidScience

How did you actually restart these?

[2020-01-06 08:53] StupidScience commented on #3880
@zaharidichev

`kubectl delete po linkerd-web-...`

[2020-01-06 12:25] akokshar commented on #3819
Any updates on this one?
I am experiencing an issue with exactly same symptoms. Is there any workaround available?

[2020-01-06 12:46] zaharidichev commented on #3880
@StupidScience @grampelberg

So here is what I know so far:

Firstly the `ca.crt` in `linkerd-identity-issuer` will always have a newline char at the end becase this is how cert-manager is formatting it. It does not matter whether your `linkerd-trust-anchor` secret has the `ca.crt` with newline or not.

Secondly, this apart from checks should not matter all that much. Namely, whenever a new pod is

[2020-01-06 13:05] StupidScience commented on #3880
@zaharidichev

Any new pod that got new certificate. For example, if I delete pod with `linkerd-web` or `linkerd-prometheus`. Looks like it appears only when cert in `linkerd-identity-issuer` that certified previous proxy is already expired. So even if I force certificate reissuing so until previous certificate got expired everything will work as expected but once 24h will pass and I will delete a

[2020-01-06 13:28] zaharidichev commented on #3880
Hmm, I think the problem that you are explaining does not relate directly to the \n char. Can you as a start make sure that you install linkerd with a cert root that has \n at the end and verify that you are experiencing the same problem just to rule this out?

[2020-01-06 17:33] grampelberg commented on #3780
@dayglojesus putting the trust chain as an env var in every proxy was an explicit design decision. This makes everything explicit and more robust by removing potential timing issues with configmap distribution.

Would you mind restating the problem you're trying to solve? I think I've lost sight of where we're going.

[2020-01-06 17:36] grampelberg commented on #3819
We're still unable to replicate. If you have a replication process we can follow step by step, that would be super helpful.

[2020-01-06 17:48] dayglojesus commented on #3780
@grampelberg the issue as I see it is that the generated manifest is far too byzantine where trust chain and namespace data is concerned. With specific regard to the trust chain, specifying the required values as ENV vars makes sense from a "quick install" perspective (as you note above) and makes deploying `linkerd` very simple, but it isn't very friendly to Helm templating or Kustomize overlays.

[2020-01-06 18:20] ihcsim commented on #3880
@StupidScience Is cert-manager or something else auto-rotating your trust anchor or `linkerd-trust-anchor` secret? Since the Linkerd components aren't auto-injected, (implying that on restart, these pods always use back the install-time trust anchor),  I can see how their `LINKERD2_PROXY_IDENTITY_TRUST_ANCHORS` env var can get out-of-sync with that managed by cert-manager.

[2020-01-06 18:37] zaharidichev commented on #3880
@ihcsim apart from the root being rotated which is hard to imagine happening, I cannot see any other reason for this happening. On the other hand though if what you are suggesting is true the linkerd check --proxy would catch that, right?  All his checks show up green....

[2020-01-06 18:42] zaharidichev commented on #3880
It seems I managed to reproduce the problem. I will investigate it further

[2020-01-06 19:23] zaharidichev commented on #3880
So how I reproduced it (there may be an easier way):

Create a root CA as per the docs:
`step certificate create identity.linkerd.cluster.local ca.crt ca.key --profile root-ca --no-password --insecure`

Install cert manager and use the following resources to set it up:

issuer.yaml:
[code]

certificate.yaml
[code]

at that point you can instal linkerd with:

[code]

Wait one hour (unfortunatelly y

[2020-01-06 19:30] StupidScience commented on #3880
@zaharidichev did you just forget to mention about trust-anchor secret creation in your comment?

[2020-01-06 21:06] renpengzhang opened #3888 "Get 502 Bad Gateway when setting http_proxy inside container"
## Bug Report
I have a k8s cluster which gets linkerd enabled. And I found that if I set http_proxy in the container, the following http requests from the container would return 502 Bad Gateway. While if I disabled the linkerd, http_proxy works fine.
### What is the issue?
As above.
### How can it be reproduced?

### Logs, error output, etc

(If the output is long, please create a [gist](https://g

[2020-01-06 22:02] #3812 closed

[2020-01-06 23:21] cpretzer commented on #3596
@rocketraman I heard from @grampelberg that you found the cause for this issue in a third-party dependency, so I'm going to close it for now.

@yjiq150 if you have more information about the scenario where you saw this behavior, please reopen the ticket with details on how to reproduce.

[2020-01-06 23:21] #3596 closed

[2020-01-06 23:36] adleong commented on #1580
This can also happen when a node is under very high load and the application becomes unresponsive even though the host OS is still responding to TCP keepalives, as described in https://github.com/linkerd/linkerd2/issues/3854.

This can be simulated by using `kind` and pausing a node container.

[2020-01-06 23:38] adleong commented on #3854
I've reopened #1580 to track the HTTP/2 ping frame work.

Another potential solution would be to add some kind of timeout that causes Linkerd to re-establish connections which have been idle for a certain duration.

[2020-01-07 01:55] renpengzhang commented on #3888
My assumption is linkerd will reset the "http_proxy" env, which make the previous "http_proxy" env doesn't work. Feel free to correct me if I am wrong.

[2020-01-07 02:24] cpretzer commented on #3888
Hi @renpengzhang I'm going to put together a test case to reproduce this and I'll update the ticket.

I _think_ the http_proxy setting is handled at the container level and Linkerd will honor the value. I'm looking in to that now

[2020-01-07 14:34] michalschott commented on #3819
It is actually controller pod which needs a restart, not prometheus.

[code]

[2020-01-07 15:25] zaharidichev commented on #3880
So as @olix0r correctly pointed out, the problem really stems from the fact that the certificate issued by the identity service has a lifetime that is longer than the issuer certificate. In order to replicate the problem you can do the following:

- Create the certs (notice the lifetime of the issuer cert is just 10 minz)
[code]

- Install linkerd with:
[code]

- Mesh these resources:
[code]

- At

[2020-01-07 15:48] falcoriss commented on #3854
sounds good !

Do you still need me to try with the proxy log level set to DEBUG as you asked earlier or it's not needed anymore ?

[2020-01-07 16:41] alpeb commented on #3881
@siggy It appears github is merging the PR branch into master using the same master SHA across all jobs, that is the master HEAD at the moment the build was triggered regardless of it changing across jobs, thus fixing the issue :+1:
This happens before, and is independent of the `actions/checkout` update. I couldn't reproduce the issue using `actions/checkout@v1`.

I used [this test](https://githu

[2020-01-07 17:50] siggy commented on #3881
@alpeb Thanks for digging in. FWIW, I also was not able to reliably reproduce the issue with the contrived example above:
https://github.com/actions/checkout/issues/27#issuecomment-531000315
...and those observations occurred when we were definitely experiencing the issue in ci. It may be that our more complex ci workflow with lots of jobs and tasks, somehow causes the issue to manifest more relia

[2020-01-07 18:13] adleong commented on #3854
I think we've got a pretty good understanding of the issue now, so I don't think we need to gather additional logs.

The Linkerd proxy gets service discovery information from the destination controller.  If that communication fails, Linkerd will continue to work with the last known service discovery information, but whenever pods are created or destroyed, the Linkerd proxy will not receive updates

[2020-01-07 19:20] StupidScience commented on #3880
@zaharidichev so if I will set identity.issuer.issuanceLifeTime to for example 12h it should resolve this issue, right?

[2020-01-07 19:32] adleong commented on #3562
I think the issue is here: https://github.com/linkerd/linkerd2/blob/master/controller/api/public/stat_summary.go#L463

We're constraining the resources we query to only resources in the same namespace as the traffic split, when actually, resources in other namespaces could be sending traffic to a traffic split.  I believe that we should just remove that label constraint.

[2020-01-07 20:08] zaharidichev commented on #3880
@StupidScience that is correct

[2020-01-07 21:40] StupidScience commented on #3880
@zaharidichev thanks for clarification, I'll test it out.

[2020-01-07 21:44] grampelberg opened #3890 "Non-HTTP based example application"
### What problem are you trying to solve?

Emojivoto and the books app are great examples. Unfortunately, they're exclusively HTTP based and use many kubernetes best practices. With features on the horizon like TCP mTLS, there should be an example application that actually uses this functionality which can be used for testing and tutorials.

This application should use a client speaks first protoc

[2020-01-07 22:21] #3859 closed

[2020-01-08 03:44] #3856 closed

[2020-01-08 05:30] kleimkuhler commented on #2074
@admc This issue was reopened for a reason that turned out to be pretty separate from what is outlined here. @siggy and I had some good discussion on it before realizing the root error (fixed in #3891), but I didn't end up changing anything about the template.

I don't necessarily want to say #3891 closes *this* issue, but it will fix the `p0` priority that it has been assigned.

[2020-01-08 05:31] kleimkuhler commented on #3799
Closed in linkerd/linkerd2-proxy#398

[2020-01-08 05:31] #3799 closed

[2020-01-08 05:34] kleimkuhler commented on #3807
linkerd/linker2-proxy#399 provided a temporary fix for this that is a little different from the original issue description. The proxy no longer provides default destination lookup subnets.

This can still remain open though as there should be a design discussion around making this configurable through the CLI on install.

[2020-01-08 10:27] sorenmat commented on #3563
I had a hunch at some point that this might be related to docker running with live-restore.
Never really did completely rule that out :|

[2020-01-08 16:43] grampelberg commented on #3563
Closing because it appears this specific case is a k8s bug.

[2020-01-08 16:43] #3563 closed

[2020-01-08 17:55] ihcsim commented on #2800
Reopening this issue; GH auto-closed it by mistake.

[2020-01-08 19:07] Pothulapati commented on #3870
So, I've been working on this.

The plan is to choose `Values` as the format, as it add more fields and would go really well with add-ons as their config is added in the same struct.

[2020-01-08 19:36] grampelberg opened #3895 "Release scale testing"
To prepare for the upcoming release, we should do some more involved testing to make sure we've not had any regressions.

## Monitor

Each test should record the following:

- Success rate
- Latency and throughput
- Dashboard load times
- `linkerd stat` responsiveness
- Prometheus cpu/memory usage

## Tests

Each test should be independent.

- 1k services
- 1k pods
- 10k rps for a single pod
- Sta

[2020-01-08 19:49] grampelberg opened #3896 "Release staleness testing"
Staleness has been an issue off and on for the last release. In preparation for the upcoming stable release, let's do some extended testing to verify that staleness isn't an issue.

At a high level, this should be:

- Install a demo application on the cluster, add it to the data plane.
- Add service profiles for this demo application.
- Pause load for 10+ minutes
- Leave the load generator alone
-

[2020-01-08 19:50] grampelberg opened #3898 "Release tutorial testing"
To prepare for the next stable release, we should run through the following tutorials:

- Getting started
- Certificate rotation
- Books app
- Canary release
- Distributed tracing
- CNI

For each tutorial, please update this issue with your notes for ways to improve the tutorial and anything that might not have worked.

[2020-01-08 22:07] #3011 closed

[2020-01-08 22:39] grampelberg opened #3900 "Expanded community integration testing"
### What problem are you trying to solve?

As of today, the build and kind integration tests do not run for forks. This ends up creating issues for contributors when someone forgets to run the tests manually. Running tests automatically for forks can be a large security hole, so there needs to be some oversight to how these run.

### How should the problem be solved?

Trigger the full set of tests

[2020-01-08 22:41] siggy commented on #3900
Another option: For forks, run the integration tests directly on the GitHub Action box, it will be slower, but should not require any of the secrets.

[2020-01-08 22:57] #3881 closed

[2020-01-08 23:54] #3878 closed

[2020-01-09 00:32] grampelberg commented on #3900
@siggy WDYT works the best from a workflow perspective?

[2020-01-09 00:36] olix0r opened #3901 "inject: change default proxy log setting"
The current `LINKERD2_PROXY_LOG` default value is `warn,linkerd2_proxy=info`. Because the vast majority of our metadata is not set in the linkerd2-proxy pacakge, it is omitted from logs!  We should change the default to be `warn,linkerd=info` so that we can benefit from rich context info in logs.

[2020-01-09 00:54] siggy commented on #3900
@grampelberg Short answer: there are tradeoffs...
1. Run forked integration tests directly on GitHub Actions box. If this works, it's the least effort, and ensures integration tests are run immediately on every PR. Integration tests would also be slower for forked PRs. It would involve not doing the `Docker SSH setup` and not setting `DOCKER_HOST` for forked PRs. We'd probably also need to set `ma

[2020-01-09 07:33] manoj3832 commented on #1595
We are using Linkerd stable 2.4.0 and facing similar issue when reloads downstream service , anyone  got any permanent fix for same ? we are running EKS

[2020-01-09 07:45] manoj3832 opened #3902 "Linkerd stickiness with old downstream pods"
We are using Linkerd stable 2.4.0 and facing issue when reloads downstream service , so lets assume setup is  like podA+Linkerdproxy(sidecar)--->podB+Linkerdproxy(sidecar) .  now  when we reloads podB and lets assume new pod is podC but linkerd proxy still points to podB which does not exists in cluster and this creates 503 errors for podA.  to fix things we need to restart all Pods.
anyone got an

[2020-01-09 07:52] #3880 closed

[2020-01-09 14:15] bourquep commented on #1595
@manoj3832 Haven't seen this issue since upgrading to stable 2.6.1.

[2020-01-09 15:37] zaharidichev opened #3904 "Add validation to CNI plugin installation"
Much like `linkerd install` I think we should have validation when we do `linkerd install-cni` At least we should be able to detect whether there is already a plugin installed. If there is we should error out and warn the user.

@grampelberg WDYT?

[2020-01-09 16:49] ihcsim commented on #3902
@manoj3832 Can you try upgrading to [stable-2.6.1](https://github.com/linkerd/linkerd2/releases/tag/stable-2.6.1)? You can find the upgrade instructions [here](https://linkerd.io/2/tasks/upgrade/).

[2020-01-09 16:50] grampelberg commented on #3902
Please open up the issue again if you're still seeing problems.

[2020-01-09 16:50] #3902 closed

[2020-01-09 16:55] grampelberg commented on #3904
I always love more validation. What kind of things are you thinking about? I'd love to see some checks added for the CNI stuff, especially since it can go so wrong.

[2020-01-09 16:59] ihcsim commented on #3904
Possibly relevant https://github.com/linkerd/linkerd2/issues/3804.

[2020-01-09 17:12] zaharidichev commented on #3904
Well, for starters I would like install-cni to fail if there is already a cni plugin installed, much like linkerd fails.

[2020-01-09 17:19] ihcsim commented on #3904
Why does it need to? The CNI is stateless AFAIK. Running `linkerd install-cni | kubectl apply -f -` multiple times should be ok, right?

[2020-01-09 17:21] zaharidichev commented on #3904
@ihcsim The same stand for linkerd install but it fails nevertheless. Maybe I am missing smth.

[2020-01-09 17:26] grampelberg commented on #3904
@zaharidichev we did it that way for `install` because changing trust roots bricks your cluster.

[2020-01-09 18:40] #3399 closed

[2020-01-09 19:51] grampelberg opened #3906 "Failure testing"
Failure scenarios need to be tested. Ideally, this happens automatically on a semi-regular basis to make sure that there is a record of what might happen to the mesh in a specific scenario.

Each of these tests should be run with and without a HA configuration.

- Node failure with the control plane on it - destination, identity and proxy-injector are the most important here.
- Node failure with t

[2020-01-09 20:22] StupidScience opened #3907 "Check reports about non-valid certificate in case of \n at the end of it"
## Bug Report

### What is the issue?

As I mentioned before in #3880 there is bug with certificate comparison related to `\n` symbol at the end of certificate. And I believe it was misleading in those case with root cause investigation.

### How can it be reproduced?

* Install linkerd with helm so there will be no `\n` symbol in the end trust anchor certificate but `ca.crt` in certificate that w

[2020-01-09 22:13] StupidScience commented on #3880
Looks like that was wrong theory. I changed certificate duration to 48h and once it expired issue occurred again.

[2020-01-09 22:22] #3901 closed

[2020-01-09 23:00] adleong commented on #3880
@StupidScience I think it's a little bit more complicated than just having the issuance lifetime longer than the issuer lifetime.

Let me give an example:

Suppose you have an issuer certificate that is valid for 48 hours.  6 hours before the issuer certificate is due to expire, a new pod is created and requests an identity from the identity service.  It is issued an identity certificate with a li

[2020-01-10 07:33] StupidScience commented on #3880
Thanks for clarification @adleong
That was definitely the thing I was wondering about.
As I can see new edge release is out now so I’ll test it.

[2020-01-10 08:03] #3721 closed

[2020-01-10 12:26] stefanprodan opened #3910 "Injector is skipping Contour and Envoy pods"
## Bug Report

### What is the issue?

Contour 1.1.0 comes with header mutation support so I tried to run it inside linkerd but the injector skips both contour and envoy pods.

### How can it be reproduced?
* install Contour
* enable injection on projectcontour ns
* restart pods

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.14
-

[2020-01-10 13:42] zaharidichev commented on #3907
I am not sure this is technically a bug. What is actually causing that is the fact that no matter how you have specified your trust roots, cert manager will always emit a value with a newline at  the end. I think best practice is to ensure that you specify the value (in your case in your helm install process) with a newline as well. Yet, I am not super opinionated about this. @adleong WDYT?

[2020-01-10 13:44] zaharidichev commented on #3880
@StupidScience, @adleong described this pretty well. Also for your testing in order to ensure that things are working correctly and see results sooner you can have the following configured in cert manager:
Issuer Cert Lifetime: 1h
Rotate issuer cert: 10 mins before expiry

[2020-01-10 14:05] stefanprodan commented on #3910
So after removing contour and envoy from:

[code]

The linkerd-proxy from the envoy pod crashes at startup with:

[code]

[2020-01-10 16:00] alpeb opened #3911 "CI can't run concurrent builds in master"
### What problem are you trying to solve?

CI builds on the master branch trigger a `cloud_integration` job that runs the integration tests on a GKE cluster that has already been setup beforehand that is never torn down. When more than one build attempts to run tests in that cluster they interfere with one another.
Even if the build doesn't reach the `cloud_integration` step, if the build is cance

[2020-01-10 16:28] alpeb opened #3912 "When a CI build fails, provide access to the control plane logs"
### What problem are you trying to solve?

When there's a CI build failure, the test clusters get cleaned up and we're only left with the output of the failed test, which often isn't enough.

### How should the problem be solved?

It would be very helpful to have access to the control plane component logs. We could catch the error before cleanup, fetch the logs, pack them and upload them into the

[2020-01-10 17:36] ihcsim commented on #3911
[code]
Any idea how to implement this? Last I checked, the condition that `wait` supports is limited; might have to check all pods across all integration test namespaces.

Personally, I feel like we should invest into the multiple clusters options (on Azure for cost efficiency), using something like Pulumi or Terraform. It feels like we keep dancing around integration test failures by patching our

[2020-01-10 17:42] ihcsim commented on #3912
If you are going to invest time into hardening our CI, per https://github.com/linkerd/linkerd2/issues/3911#issuecomment-573132373, we should consider running the integration tests on separate clusters, so that any failures with one build won't block the entire pipeline. We can keep failed clusters around for diagnosis, and if on Azure, use something like Azure Function to schedule removal of orpha

[2020-01-10 19:43] alpeb commented on #3911
@ihcsim The lock could be a cluster resource like `clusterrole`; created at the beginning of the tests and cleaned up at the end. It works with `kubectl wait` in my local testing.
I agree multiple clusters is the right solution long term, but I think the current proposal serves as a quick fix in the meantime.

[2020-01-10 19:49] alpeb commented on #3912
This is mostly about the `kind` tests, which already run in separate clusters. We definitely could leave the clusters around in case of failure and have a separate GC process clean them up. One disadvantage is that to debug a failure, people would have to be granted access into the build server, whereas a log dump would be readily available.

[2020-01-10 20:01] ihcsim commented on #3912
If we make the tests run on throw-away AZ public clusters, we can access them remotely with `az aks get-credentials`. I think when it comes to debugging and reproducing test failures, access to the entire clusters is more useful than just logs.

[2020-01-10 20:06] ihcsim commented on #3911
I only suggested this because I heard during the last stand-up that we are taking time to improve the CI. Personally, I think we have seen enough test failures that affected/blocked releases, that the time to implement the right solution is at-hand.

[2020-01-10 20:17] marcantoine-bibeau opened #3914 "Linkerd CLI should supports --as-group"
## Feature Request
Linkerd CLI currently support --as-user but should also supports --as-group

### What problem are you trying to solve?
Use the linkerd cli on kube cluster using https://github.com/postfinance/kubectl-sudo

### How should the problem be solved?
support --as-group in cli

What do you want to happen? Add any considered drawbacks.

### Any alternatives you've considered?
I don't hav

[2020-01-10 20:51] grampelberg commented on #3912
If we ignore the implementation detail (clusters, kind, ...), being able to automate the environment provisioning and switch between backends seems like a top priority.

[2020-01-10 20:55] grampelberg commented on #3914
TIL, I didn't know `--as-group` existed!

[2020-01-10 21:33] #3739 closed

[2020-01-10 22:25] alpeb commented on #3912
I believe it's important to distinguish between quick testing in a low resource consumption environment such as kind, and cloud integration testing; and IMO both have their place in our suite. Are you suggesting we drop the kind jobs and run all on AKS?

[2020-01-10 22:30] alpeb commented on #3912
Yes, there's a lot of boilerplate in `workflow.yaml` that we can abstract away and parametrize for different cluster types.

[2020-01-11 00:12] scottcarol commented on #3679
This issue is largely closed by #3882 - @klingerf will open up follow-up issues for specific linting issues.

[2020-01-11 00:12] #3679 closed

[2020-01-11 00:13] scottcarol commented on #3592
Closed by #3710

[2020-01-11 00:13] #3592 closed

[2020-01-11 00:14] scottcarol commented on #3618
This issue is now being tracked in #3860

[2020-01-11 00:14] #3618 closed

[2020-01-11 00:23] #3785 closed

[2020-01-11 06:00] mayankshah1607 commented on #3914
Hi, would it be okay if I took up this one? :)

[2020-01-11 07:04] manoj3832 commented on #1595
ok , will give a try with 2.6.1

[2020-01-11 17:41] christianhuening commented on #3379
from my point of view we can close this issue. After tweaking the 2.6.x resource requests to our size it is working like a charm ever since.

[2020-01-11 17:45] christianhuening commented on #3379
[code]

Here's what we run this with. Examples taken from custom helm chart

[2020-01-11 17:45] #3379 closed

[2020-01-11 17:48] cpretzer commented on #3379
thanks for the update @christianhuening !

[2020-01-11 18:28] cpretzer commented on #3751
@Enrico2 can you share the YAML files that you used to deploy kafka and zookeeper?

I've attempted to reproduce this using the helm chart distributed by bitnami and everything is working, so far.

I'd like to see if there are any unique configurations in your deployment files.

[2020-01-11 18:31] olix0r opened #3916 "destination: Support profile lookups by IP address"
Now that `Destination.Get` supports lookups by IP address, we should entertain supporting IP lookups for `GetProfile` as well.

I imagine this would work by mapping the IP to a kubernetes service and lookup as we already do today; and that the default profile would be returned for all IPs that cannot be discovered.

[2020-01-12 22:17] ihcsim commented on #3912
I notice that I got ahead of myself. (Sorry!) Basically, I think when the integration test failed, having easy, direct access to the failed clusters is more helpful than access to the bundled logs.

---

My understanding is that many (not all) CI test failures from the past 2 months, along with these [workarounds](https://github.com/linkerd/linkerd2/blob/36ddc263c26e3bda772fedd1dc02605d02277795/te

[2020-01-13 01:48] cpretzer commented on #3751
@Enrico2 I deployed kafka and zookeeper to a GKE 1.13.11-gke.15 cluster and have been unable to reproduce the behavior that you describe.

The YAML files for the repro case are here: https://github.com/cpretzer/demos/tree/master/kafka-on-k8s

You can deploy them with this command:

[code]

After confirming that the pods are running, I've attempted to delete the pods individually and at the same ti

[2020-01-13 03:42] Enrico2 commented on #3751
Fwiw, we can't reproduce it either. It only happened once more since I reported this issue.
@jsegaran Can you provide @cpretzer with the info he's asking for minus any sensitive information we have in those manifests?

[2020-01-13 04:23] cpretzer commented on #3751
@Enrico2 thanks for the update. I'll take a look at whatever you have to send over.

[2020-01-13 11:51] zaharidichev commented on #3802
@alpeb As far as I take it this is blocked on releasing 2.7 as there is no CNI chart in the stable channel now because it has not yet been built by the CI, correct?

[2020-01-13 14:18] alpeb commented on #3802
@zaharidichev It appears there's nothing to do here. Only a config at the repo level `(https://helm.linkerd.io/(edge|stable)` is needed, which we already did when the linkerd2 chart was added to the Helm Hub. And after last week's edge the linkerd2-cni chart was automatically picked up:
https://hub.helm.sh/charts/linkerd2-edge/linkerd2-cni
So when stable-2.7.0 gets released I expect it well get pi

[2020-01-13 14:42] zaharidichev commented on #3802
Ah, this is pretty nice!!! I guess we can keep the issue upen until we verify that 2.7.0 will get picked as well.

[2020-01-13 15:11] zaharidichev opened #3917 "Multicluster Work Breakdown"
This is a meta issue to dicuss how the work around multicluster needs to be broken down. Each section in my mind needs to be a mergable PR. This follows from #3762 and #3858 Scrutiny is encouraged.

### Provide CLI tools to setup cross - cluster api access
What we need here is a command that given two cluster` A (local)` and `B (remote)` creates service account credentials in `B` and provides them

[2020-01-13 15:36] mritd commented on #3504
Is there any progress?
I am thinking about using linkerd and istio; session affinity is used in our project.but linkerd is a CNCF project, I tend to use linkerd. 😂

[2020-01-13 16:39] #3201 closed

[2020-01-13 16:47] grampelberg commented on #3914
@mayankshah1607 go for it!

[2020-01-13 17:04] grampelberg commented on #3504
@mritd there is not currently anyone working on it right now.

[2020-01-13 17:08] olix0r opened #3918 "Why do `linkerd stat` results appear to be volatile?"
When looking at aggregates over a long time scale, like 2 hours, I wouldn't expect aggregate results to vary very much between invocations.  The p50 average over two hours, for instance, should be impacted very little by values updated within a few seconds.

However, repeated invocations of linkerd stat can produce substantially different results:

[code]

Why is this the case? Is it intended beha

[2020-01-13 17:14] wmorgan commented on #3504
@mritd @pietervogelaar would you like to contribute this feature? 😅

[2020-01-13 18:11] derrickburns opened #3919 "FQDN for trace collector is NOT accepted"
## Bug Report

**WORKS**
[code]

**FAILS**
[code]

The latter causes sidecar injection to fail silently.

Linkerd 2.6.1

[2020-01-13 19:12] Pothulapati commented on #3919
I think, it's because of the code here
https://github.com/linkerd/linkerd2/blob/b94e03a8a6c0d71527e2cb9893ba63b30ae0fbd0/pkg/inject/inject.go#L594:29

[2020-01-13 19:14] Pothulapati commented on #3919
@derrickburns I think the expectation is that, the cluster domain will be added by the injector to the proxy's env, and the trace-collector annotation should only have the service-name and namespace.
Do you face a problem with this?

[2020-01-13 21:35] adleong commented on #3919
@Pothulapati where is the code in the injector where it adds the cluster domain to the trace addr?  I'm not seeing it...

[2020-01-13 21:36] ihcsim commented on #3919
I don't think that's the case.

@derrickburns Are you seeing any error logs in the proxy injector?

[2020-01-13 21:39] grampelberg commented on #3035
Still valuable!

[2020-01-13 22:03] grampelberg commented on #3842
@nicksc423 mind trying out the latest edge? We don't have replication steps for this and are hoping you can see if it has gone away.

[2020-01-13 22:13] olix0r commented on #3504
@mritd @pietervogelaar Sorry for the silence on this! I totally agree that this is reasonable feature request. We have some upcoming changes to linkerd's mTLS logic so that we don't need services to initiate mTLS. It seems likely that, once these changes land, you can accomplish what you're looking for with very little configuration. We expect this feature in 2.8; so we'll update this issue once w

[2020-01-13 22:36] adleong commented on #3907
Is this an issue with our helm templating?  If we do `--set-file Identity.TrustAnchorsPEM=ca.crt` in a Helm install, I would expect the CA in the Linkerd configmap to exactly match contents of the `ca.crt` file.  If the process of reading the file and writing it to the configmap strips a trailing newline from the file contents, I think we should consider that a bug.

[2020-01-13 22:41] grampelberg commented on #3014
Super valuable!

[2020-01-13 23:53] adleong commented on #3919
I'm not able to reproduce this.  I can set the FQDN in a deployment annotation and the correct environment variable is set on the proxy in the resulting pod.

[code]

[2020-01-14 01:41] mritd commented on #3504
@olix0r Thanks for your reply, I am looking forward to the 2.8 release 😀

[2020-01-14 04:12] ihcsim commented on #3917
It feels like the first 3 CLI items are about updating the Linkerd CLI to administer Kubernetes workloads. I read somewhere that the goal of these items is to improve UX, but it's likely the platform owners already have other tools in-place which, in their opinion, offers a UX that is more aligned with their workflow and pipeline. I think the main bulk of the work should be the controller.

Also,

[2020-01-14 06:01] Pothulapati commented on #3919
Looks like I went ahead of myself, and mistook the logic. Sorry

Just tried annotating `config.linkerd.io/trace-collector: "oc-collector.tracing.svc.cluster.local:55678"` and the injection worked. Can you see something in the `proxy-injector` logs?

[2020-01-14 07:39] derrickburns commented on #3919
I will reproduce.

[2020-01-14 07:49] derrickburns opened #3922 "Provide way to provide alternative linkerd-identity-issuer secret"
## Feature Request

### What problem are you trying to solve?

I would like to load the linkerd-identity-issuer from an external secret manager.

### How should the problem be solved?

Please modify the helm chart to allow one the option to not create the linkerd-identity-issuer secret and/or to provide a different secret name.

[2020-01-14 09:58] zaharidichev commented on #3917
So I am not sure what you mean by conflicting. Regarding the CRD, I have the feeling that @grampelberg is not to keen on the idea. Not sure why but would be interested to know.

[2020-01-14 12:30] zaharidichev commented on #3900
FWIW I am certainly a supporter for trying the first viable option (1) and see how it goes.

[2020-01-14 12:48] zaharidichev commented on #3922
Hi there @derrickburns I think what you are asking for is already present in the current edge. Take a look at [these docs](https://linkerd.io/2/tasks/use_external_certs/) and let me know if that does it for you.

[2020-01-14 16:24] grampelberg commented on #3917
Is there another way to do it? We'll need N objects, one for each remote cluster, that contain at least the token for the remote service account.

I wrote it up this way the first time. If we can get a kubeconfig instead of a token, it'll encapsulate everything we need to discover the remote gateway via the remote api-server.

I'm a +1 to not mutating the remote cluster. That said, we should have

[2020-01-14 16:51] grampelberg commented on #3922
I'm going to close this out. @derrickburns please reopen if the latest edge doesn't do what you're looking for.

[2020-01-14 16:51] #3922 closed

[2020-01-14 19:10] ihcsim commented on #3917
When a new remote service is created, how do we identify which gateway the service is associated with? AIUI, the POC code picks the [first gateway in the list](https://github.com/linkerd/linkerd2/blob/6841578365d863e0197ef8526ac42ef0a2316716/controller/cmd/service-mirror/main.go#L135-L144), and [use it as the endpoint address](https://github.com/linkerd/linkerd2/blob/6841578365d863e0197ef8526ac42e

[2020-01-14 19:23] grampelberg commented on #3917
I think we're going to have to do this.

The token needs to be in a secret as it is potentially privileged information. I think we're going to basically need the entire kubeconfig as I'm continually surprised by what kinds of configuration are in there. Technically, I'd like to avoid requiring a service account and associated token, instead allowing folks to use whatever their auth system is setup

[2020-01-14 20:16] ihcsim commented on #3917
My thought is to let the users explicitly tell us which services to mirror, instead of infering it, which I notice doesn't align with the design goal _without any user configuration or intervention_. New tooling to provide visibility, and proper annotations and labels for discovery, as described, will do.

I'm hoping with this, we can reduce the scope of the kubeconfig permissions to just accessin

[2020-01-14 21:02] derrickburns opened #3924 "Linkerd web (dashboard) live calls don't work"
## Bug Report

I am having trouble using websockets (live calls in the linkerd dashboard).  I see this in the logs for linkerd-web:

[code]

When I have my gateway remove the `Origin` header before the request goes to the linkerd dashboard  then websockets in the linkerd dashboard (for the LIVE CALLS)  work.

### Environment

- Kubernetes Version: 1.14.9
- Cluster Environment: (GKE, AKS, kops, ...

[2020-01-14 22:07] alpeb commented on #3912
Thanks for the feedback @ihcsim.

So one thing to decide is whether to keep kind clusters around whenever there's a failed test (and provide the appropriate GC), or providing other debugging means like the current proposal.
I'd like to get @siggy's opinion as well.

OTOH I'd like to defend our choice of kind for CI. The recent problems were mainly created by lack of disk space, which shouldn't be

[2020-01-14 22:14] derrickburns commented on #3922
Thank you!

[2020-01-14 23:14] ihcsim commented on #3924
@derrickburns Did you launch the dashboard with the `linkerd dashboard` command or via an ingress load balancer?

[2020-01-14 23:33] poochwashere commented on #3403
^ Same. Watching this issue, I would love to mesh out nginx controllers but we need to ability to preserve the source IP of the clients.

[2020-01-14 23:58] grampelberg commented on #3403
See #3334 for a workaround. The long term solution will be to have the Linkerd proxy support PROXY protocol and `x-forwarded-for`.

[2020-01-14 23:58] derrickburns commented on #3924
I launched it via a load balancer.

[2020-01-15 00:08] klingerf opened #3926 "Enable the jsx-a11y/click-events-have-key-events eslint rule"
In #3882, we adopted more eslint rules for our Javascript codebase. The `jsx-a11y/click-events-have-key-events` rule is recommended, but it wasn't enabled as part of that PR, since it requires code changes. We should enable the rule and fix the code that fails to lint. We can enable it by removing the override that appears here:

https://github.com/linkerd/linkerd2/blob/0eabbe4173fd8a7da91d5771572

[2020-01-15 00:09] klingerf opened #3927 "Enable the no-param-reassign eslint rule"
In #3882, we adopted more eslint rules for our Javascript codebase. The `no-param-reassign` rule is recommended, but it wasn't enabled as part of that PR, since it requires code changes. We should enable the rule and fix the code that fails to lint. We can enable it by removing the override that appears here:

https://github.com/linkerd/linkerd2/blob/0eabbe4173fd8a7da91d5771572bd08d85268275/web/ap

[2020-01-15 00:10] klingerf opened #3928 "Enable the react/no-did-update-set-state eslint rule"
In #3882, we adopted more eslint rules for our Javascript codebase. The `react/no-did-update-set-state` rule is recommended, but it wasn't enabled as part of that PR, since it requires code changes. We should enable the rule and fix the code that fails to lint. We can enable it by removing the override that appears here:

https://github.com/linkerd/linkerd2/blob/0eabbe4173fd8a7da91d5771572bd08d852

[2020-01-15 00:10] siggy commented on #3912
Appreciate all the thoughts on this, my brain dump on a few points...

### 1) What debugging info to provide? Logs? Clusters?

I agree that access to the cluster is ideal. I do recognize cluster access creates challenges around authentication and GC, all solvable problems, just more work.

I also agree an easier first step would be to collect all k8s logs, events, workload/pod states, and push the

[2020-01-15 00:12] klingerf opened #3929 "Enable linting for javascript test files"
## Feature Request

### What problem are you trying to solve?

Right now, none of our test files are linted as part of CI. This has led to code drift in those files.

### How should the problem be solved?

We should enable linting for test files as part of CI, and fix all of the current lint issues in our test files.

### Any alternatives you've considered?

Maintain the status quo and allow a var

[2020-01-15 00:12] ihcsim commented on #3924
Is that a cloud provider LB or one that you manage? Have you had a chance to look at the doc on [Exposing the Dashboard](https://linkerd.io/2/tasks/exposing-dashboard/)?

[2020-01-15 00:29] cpretzer commented on #3888
@renpengzhang I think I have a reproducible test case for this. I'm going to keep working on it and will update this issue when I have more info.

Can you tell me the value that you have configured for `http_proxy`?

It will also be helpful to get some of the log files with the 502 error so that I can compare them to my own log files.

[2020-01-15 01:18] derrickburns commented on #3924
Ah.  No, I did not see that document.

I am using Gloo for ingress and Pomerium for authentication and authorization.

I can see how the nginx annotations map:
[code]

I effectively implement the `Origin` change in my workaround while Pomerium implements auth.

I have not found a need to hide `l5d-remote-ip` and `l5d-server-id`.

[2020-01-15 03:15] halcyondude commented on #3403
Would like to be able to plan for when we could use linkerd for our applications that use these headers.  Any (rough) idea when this work is planned for and/or targeting?

[2020-01-15 03:56] ihcsim commented on #3912
@alpeb @siggy Thanks for sharing your thoughts. My concern lies in the amount of maintenance work we have to put in to support our current kind infrastructure setup; not kind itself. (I use kind daily.)

I just don't think we should be bitten by low-level infrastructure issues around disk space, [networking](https://github.com/linkerd/linkerd2/blob/36ddc263c26e3bda772fedd1dc02605d02277795/test/ins

[2020-01-15 04:05] ihcsim commented on #3924
@derrickburns Cool, thanks for the tips. How do you feel about helping us to update the documentation, by including a subsection for Gloo? (We are going full steam towards the next stable release; your help will be appreciated).

If you are interested, the markdown is [here](https://github.com/linkerd/website/blob/master/linkerd.io/content/2/tasks/exposing-dashboard.md). You can find information o

[2020-01-15 11:00] bzon commented on #3403
@halcyondude I also had this problem and the workaround as stated in #3334 is to add the following in the Nginx deployment spec:

[code]

[2020-01-15 11:43] zaharidichev opened #3930 "Rename NoInitContainer to CniEnabled"
As NoInitContainer pretty much means that cni is enabled it makes sense to make it more clear and just rename it.

[2020-01-15 12:35] StupidScience commented on #3907
@adleong looks like that problem is in `trim` [here](https://github.com/linkerd/linkerd2/blob/master/charts/linkerd2/templates/_config.tpl#L8) and it trim `\n` in the end of file.
But I think that check should handle this and check that certificates are really same.

[2020-01-15 12:42] zaharidichev commented on #3907
@StupidScience I will take a deeper look into that soon enough:)

[2020-01-15 14:02] zaharidichev commented on #3917
I think having a annotation(s) for all that is just fine.

Yes thats just for the POC really, I was not assuming this will be anything like the approach we use.

I agree on this one!

[2020-01-15 14:17] zaharidichev commented on #3917
@ihcsim I did read up a bit on the token request api. Seems the original intend was to make tokens bind to specific workloads. It also requires some changes to the kube-apiserver? Is that something we want to require?

[2020-01-15 18:21] alpeb commented on #3332
Thanks @siggy for the stack traces :+1:

TL;DR;
Service profiles are added and the listeners are immediately set up. Usually the client-go notification is triggered before the listeners are setup, but sometimes (very rarely) it gets delayed a bit. Unlikely to happen in production.

---
As shown in there, the first two updates come from when the primary and secondary listeners are set up, when `Get

[2020-01-15 18:47] Enrico2 commented on #3751
Kafka:
[code]
zk:
[code]

[2020-01-15 18:48] ihcsim commented on #3917
Are you referring to the [service account token volume projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection)? It uses the `TokenRequest` API to get a temporary token, but they are different. AFAIK, the `TokenRequest` issues temporary token for specific service accounts. If we feel ok about using a kubeconfig with br

[2020-01-15 18:49] siggy commented on #3332
Thanks for the thorough analysis @alpeb. General approach sounds good. Naive question: do we lose some fidelity in setting the update count from 1 to 3? If so, is there another way to validate what the test was previously trying to validate?

[2020-01-15 18:54] ihcsim commented on #3917
Ah... you are right, it does require certain flags to be set on the apiserver, implying it isn't something we can count on.

[2020-01-15 18:58] ihcsim commented on #3917
Actually, the flags are only needed for service account token projection. The API might still be available.

[2020-01-15 18:59] grampelberg commented on #3917
We looked into using this API for identity and couldn't adopt it yet because of lacking support. While it is available in semi-modern versions of kubernetes, the cloud providers aren't turning it on.

[2020-01-15 19:58] cpretzer commented on #3751
@Enrico2 thanks for sharing these files. The deployment is certainly more sophisticated than the test case that I set up.

Specifically, I didn't use the `PodDisruptionBudget` resource, although, I have no evidence that could be causing the intermittent issue.

The last time that it happened did you observe any specific events that took place? Something like a deployment or traffic spike? Perhaps

[2020-01-15 20:38] Enrico2 commented on #3751
When it happened to me, I believe I was restarting zk and Kafka at the same time. But yeah, it's not consistently reproducible.

[2020-01-16 09:12] tsanterre-paypay commented on #2846
@wmorgan would you be able to expand on the design work/investigation?
I'd be interested in helping contributing if there was some more information/interest in moving forwards with this.

Echoing the statement from @benley above about a distributed implementation of something that hystrix/resilience4j (at least from the java world) gives, is very intriguing.

[2020-01-16 09:14] tomsanbear commented on #2846
@wmorgan would you be able to expand on the design work/investigation?
I'd be interested in helping contributing if there was some more information/interest in moving forwards with this.

Echoing the statement from @benley above about a distributed implementation of something that hystrix/resilience4j (at least from the java world) gives, is very intriguing.

[2020-01-16 09:57] ashishxooa opened #3934 "Errors are shown as success."
## Bug Report

Hi, I have a http/2 hello world service and a client which sends http/2 requests. Now when I inject error in the request, even like a simple one say wrong URL. I get 4xx errors on the client but Linkerd shows that request as success.

This same client and server works with Istio where it shows me such failures are failures.

Even when I tap a service, I can see the error code.

###

[2020-01-16 10:25] ashishxooa commented on #3755
Went over the thread, very insightful. I am facing a similar kind of scenario and even tried what @ukcuf mentioned scaling horizontally but it didn't help (@grampelberg ). Without the Linkerd mesh, I could get 250k tips from a simple http/2 hello world application using 8-10 pods on 4 c4.2xlarge instances on AWS. With Linkerd on default configuration ( Could't even find any configuration to fine t

[2020-01-16 12:02] StupidScience opened #3935 "load balancer discovery error: discovery task failed"
## Bug Report

### What is the issue?

At some point linkerd-proxy can't reach out some service (may be it was really disappeared) and then it can't connect to it until proxy restart.

### How can it be reproduced?

Not sure.

### Logs, error output, etc

linkerd-proxy logs:

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.15.5
- Cluster Environment: AKS
- Hos

[2020-01-16 12:10] ArgTang opened #3936 "protocol detection for keycloak"
## Bug Report

Seems like protocol detection for keycloak-cluster discovery is not supported:

Adding skip-port for clustering traffic fixes the issue:
[code]

### What is the issue?

When deploying keycloak in a clustered manner, linkerd seems to break keycloaks clustering traffic

### How can it be reproduced?

Deploy keycloak with replicas >1 (we use the [helm chart](https://github.com/codecent

[2020-01-16 14:40] rocketraman commented on #3596
I thought it was two separate issues, but yes, it is possible its the same cause for both of them. For reference, here is the explanation of the underlying problem, and the workaround:

https://github.com/linkerd/linkerd2/issues/3605#issuecomment-567780960

[2020-01-16 16:21] grampelberg commented on #3934
4xx is a success - the app successfully said that the content doesn't exist. You'll want to reclassify what's an error through service profiles if you'd like 4xx errors to result in failures. Check out the [service profile](https://linkerd.io/2/reference/service-profiles/) docs for how to do that.

[2020-01-16 16:21] #3934 closed

[2020-01-16 16:26] grampelberg commented on #3755
There's no mesh-wide bottleneck that I'm aware of. I've definitely pushed more than 14k rps on fewer than 10 instances before. I suspect you're running into some contention issues and setting aggressive resource requests/limits would improve the situation.

[2020-01-16 16:28] grampelberg commented on #3935
Would you mind testing with stable-2.6.1 and seeing if you get the same behavior?

[2020-01-16 16:32] grampelberg commented on #3936
@ArgTang I don't know much about keycloak. What protocol does it use?

[2020-01-16 17:33] ashish235 commented on #3755
@grampelberg resource limits on the control/data plane pods or my http2 server pods? Also all my pods are running with no limitations and my instances were under 40% cpu and memory usage.

[2020-01-16 17:38] Demon-DK opened #3937 "Linkerd-proxy error "certify Failed to certify identity""
## Bug Report

### What is the issue?
I've tried multiple times to deploy Linkerd following next guide
[https://linkerd.io/2/getting-started](https://linkerd.io/2/getting-started)

Every time deployment doesn't work according to mentioned guide.
[code]

### How can it be reproduced?
Issue is permanent, no need to reproduce

### Logs, error output, etc
In all pods doesn't work correctly the 'linker

[2020-01-16 17:40] grampelberg commented on #3755
Both, though at this scale setting the request/limit to 1cpu for the data plane will be the most important.

[2020-01-16 17:41] grampelberg commented on #3937
Do you have `automountServiceAccountToken` disabled?

[2020-01-16 17:59] #3258 closed

[2020-01-16 18:01] ArgTang commented on #3936
I am an end user, but from [here](https://www.keycloak.org/2019/04/keycloak-cluster-setup.html)

By default the helm charts configures keycloak to use DNS_PING ([jgroups docs](http://jgroups.org/manual4/index.html#_dns_ping))

[2020-01-16 18:03] alpeb commented on #3912
Thanks again guys. We're on the same page about having CI be as automated as possible, and that's indeed one of the main goals of the overall CI revamp project.

Now let me answer some punctual questions:

`kind logs` ended up being pretty extensive. You get logs for all the pods and  containers in all the namespace, containerd, kubelet, etc. :+1:

We'll use Github Actions artifacts, that we alrea

[2020-01-16 18:30] grampelberg commented on #3936
From the docs and the chart, it appears that while DNS_PING is being used for discovery, the jgroups TCP transport is actually being used after discovery. I can't get any significant details as to how the protocol works from the docs, but I'm going to assume that it is a [server-speaks-first protocol](https://linkerd.io/2/features/protocol-detection/) given your experience here.

So, the next step

[2020-01-16 19:22] Demon-DK commented on #3937
On purpose ?  No
I'm trying your default installation in the basic kube cluster deployment without specific tuning or admission controllers, etc

Also to be ensure I've checked at least '**linkerd-controller**' and '**linkerd-identity**' serviceaccounts created by default and there are no '**automounting**' option at all

[2020-01-16 20:14] grampelberg commented on #3937
Have you changed the default cluster domain from `cluster.local`? Mind sharing the pod definition for `linkerd-destination-7d4b848c57-7qjbt`?

[2020-01-16 21:14] grampelberg commented on #3734
This is historical.

----

### What problem are you trying to solve?

One of the two main challenges with trying to operate multiple k8s clusters is that service discovery is not shared between the clusters. Towards this end, services should be mirrored between different clusters so they can be addressed natively.

### How should the problem be solved?

Create an operator that reads the services f

[2020-01-16 21:30] grampelberg commented on #3312
Historical

---

## What problem are you trying to solve?

Many organizations have teams sharing the same cluster which should not see each other's data (multi-tenant). This was addressed for tap as part of #2725. Now that it is possible to have granular, Kubernetes based RBAC policies for tap, statistics should provide a similar benefit.

### How should the problem be solved?

- Add [smi-metrics-

[2020-01-16 21:51] grampelberg opened #3938 "Migration to Tokio 0.2"
## Description

We need to move proxy onto the modern Tokio ecosystem so that we don’t diverge from core library fixes, etc.

Once finished, we’ll be able to start using tokio 0.2, etc; we’ll have a repeatable framework for analyzing proxy performance; and we’ll start to develop a new mental model of the proxy by regularly looking at flamegraphs.

## Details

- [Proposal](https://docs.google.com/d

[2020-01-16 21:56] grampelberg commented on #3021
Historical

----

Once we figure out our plans for CI, we should add a tag-driven means for executing a release without human intervention.

We should NOT try to automate construction of the changelog.

The release should cover everything from building artifacts to updating the website to validating that the curl-install completes as expected.

[2020-01-16 23:02] olix0r opened #3939 "ha: anti-affnity rules are too restrictive"
Linkerd, installed with `--ha` on a 3-node cluster, cannot be successfully upgraded:

[code]

@grampelberg suggests that this can be resolved with the following:

- define a PDB - https://kubernetes.io/docs/tasks/run-application/configure-pdb/#specifying-a-poddisruptionbudget
- set progressDeadlineSeconds
- define maxUnavailable
- configure maxSurge

[2020-01-16 23:05] olix0r opened #3940 "ha: CLI checks are too aggressive"
I have a running control plane, where all running instances are healthy, but there are unscheduled pods in a new control plane deployment:

[code]

This is a bit clunky. Notably, none of these deployments are necessary to serve a stat request. And furthermore, they all have running pods! Why should stat care about any of this? I suspect the same goes for other commands.

[2020-01-16 23:55] grampelberg commented on #2846
@tomsanbear @adleong looked into some of the details previously and can probably give you a data dump there.

If you're interested in doing a contribution, we've got a lightweight process to go through. Not everything is documented yet as we're still getting it setup. Happy to walk you through what's required if you're interested! Jump into #contributors on slack and we can start going through the

[2020-01-17 00:55] Demon-DK commented on #3937
@grampelberg

Yeap, I used to custom domain and missed specific details related to this
So, I deleted previous deploy and start a new one with the custom domain
[code]

Unfortunately issue are left the same
[code]
AND in proxy logs
[code]

Sure, here it is
[code]

[2020-01-17 03:58] ihcsim commented on #3937
[code]
Can you share the log of the `destination` container? `linkerd logs --control-plane-component=destination` should output the logs of all the containers in the pod.

Also, since you are using custom domain, I want to confirm that your CoreDNS is configured correctly, per the [K8s doc](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns), specifically the `data

[2020-01-17 08:30] zaharidichev opened #3941 "CNI binary cannot parse its config"
The CNI  binary fails to parse its config with the following error:

[code]

This was likely introduced in #3766. Apart from fixing that, it would be great if a test is added.

[2020-01-17 10:00] mayankshah1607 commented on #3505
@ihcsim @grampelberg It seems like point 5 has been fixed in https://github.com/linkerd/linkerd2/pull/3731 . Could we remove it from this issue then?

[2020-01-17 10:11] #3804 closed

[2020-01-17 11:26] Demon-DK commented on #3937
@ihcsim

Thank you a lot for the clue.
**Yes, there were a mistake in my coreDNS config which had an impact on name resolution.**
After I fixed it everything are start up well.

Anyway, it would be a good to have some point which allow to identify  more clear that issue is in the names resolution.
Because if we are look in logs below nothing are gives a clue that the issue in the name resolution.

[2020-01-17 11:26] #3937 closed

[2020-01-17 11:28] andrew-waters commented on #2746
We also use a mixture of Network Policies and Linkerd. I'd really love to drop NetPol because as much as they solve this issue, in reality they're difficult to implement without downtime on rollout.

SMI here would be a massive win 👍

[2020-01-17 13:46] DGollings opened #3943 "Clock skew check not working correctly"
## Bug Report

### What is the issue?
Linkerd --pre (randomly) fails on clock skew detection check

### How can it be reproduced?
If I were to guess why, use Kubernetes 17.0.0, made sure to check ntpd many times, also switched back and forth between ntpd and systemd-timesyncd

./clock_skew.sh is a lightly modified version of this script:
https://gist.github.com/foospidy/77c43ec2b2b71e4447f0534f7ac

[2020-01-17 13:51] DGollings commented on #3943
Just saw a 5m jump
  Ready                True    Fri, 17 Jan 2020 **14:42:24** +0100   Fri, 17 Jan 2020 13:45:27 +0100   KubeletReady                 kubelet is posting ready status
  Ready                True    Fri, 17 Jan 2020 **14:47:24** +0100   Fri, 17 Jan 2020 13:45:28 +0100   KubeletReady                 kubelet is posting ready status

Didn't read it enough to understand the details, but

[2020-01-17 15:26] zaharidichev opened #3944 "Add an integration test for CNI"
It should be quite easy to add an integration test for CNI. In light of some recently uncovered problems (#3941), this will be quite useful. What we can do is follow the same logic we have for testing the external cert issuer and apply it to the CNI plugin, effectivelly spinning a separate cluster.

[2020-01-17 15:26] olix0r commented on #3943
@DGollings Nice find! I noticed a similar issue when I was testing a recent microk8s version, but I chalked the issue up to microk8s and not k8s v1.17. I agree that we'll need to at least relax this check. Are you interested in submitting a PR for this?

[2020-01-17 15:35] DGollings commented on #3943
Sure, there's three options:

- Change this from an error to a warning (and mention this issue/feature in the clock skew documentation)
- Up the check to 5 min (but that could be dangerous if someone has _actual_ massive clock skew)
- Go further down the rabbit hole and figure out what the event api/object/endpoint is and use that instead (if that's even possible)

Thoughts?

[2020-01-17 16:06] olix0r commented on #3943
I think it might make sense to make this a warning, since what we're measuring is something very different from actual clock skew.

@grampelberg what do you think?

[2020-01-17 16:24] DGollings commented on #3943
actually, we could partially solve it by comparing clock skew between the nodes themselves. Make it a consensus based meta check.

if nodes < 1 min
and deployment tool < 5 min
= ok

[2020-01-17 16:50] KIVagant commented on #3558
I've saw the same issue in [Velero](https://velero.io) where it was not critical at that moment. But today I upgraded Helm from 2.14 to 2.16 in the cluster and now helm stopped working. Are there any workarounds available? Is it safe to temporary delete the ApiService (and disable its creation in the Helm chart) or it will affect Linkerd? We can survive without linkerd tap for a while, but not wit

[2020-01-17 17:54] ihcsim commented on #3505
Relevant https://github.com/linkerd/linkerd2/issues/3939, https://github.com/linkerd/linkerd2/issues/3940.

[2020-01-17 18:32] grampelberg commented on #3943
I'm fine making it a warning, probably some things we could do by moving it out of `--pre` and into `check` as well. That might over complicate the logic there though 🤷‍♂ .

[2020-01-17 18:40] DGollings commented on #3943
Speaking of over complicated logic, PR incoming #3945  :)

[2020-01-17 21:28] DGollings commented on #3943
idk what happened with that PR, lets try again #3947 @olix0r

[2020-01-17 22:44] scottcarol opened #3948 "CI should fail if JS Unit Tests return a warning"
Some of the JS changes introduced in #3882 made `Navigation.test.jsx` return a warning ([see context](https://github.com/linkerd/linkerd2/pull/3925#pullrequestreview-344310409)) if you ran the unit tests locally with:

[code]
Because it was a warning and not a test failure, the tests passed CI. Warnings flag possible issues, so we should have CI fail if JS unit tests return a warning.

The test wa

[2020-01-18 16:09] javaducky commented on #3459
Hope it's alright, but I noticed there hadn't been any movement on this issue for a while.  Figured I could knock it out quickly, so I threw a PR together.

[2020-01-18 16:10] stefanprodan opened #3950 "Update the SMI TrafficSplit API version to v1alpha2"
In the TrafficSplit v1alpha2 the weight type was changed from `resource.Quantity` to `int` see https://github.com/deislabs/smi-sdk-go/pull/24.

Linkerd should use the v1alpha2 API internally and the Helm chart and install YAMLs should deploy the v1alpha2 CRD.

[2020-01-20 01:53] #3044 closed

[2020-01-20 15:57] zaharidichev commented on #3637
Closed in #3652

[2020-01-20 15:57] #3637 closed

[2020-01-20 15:58] zaharidichev commented on #3904
@grampelberg I see, that makes sense. I guess this is not as applicable as I was thinking. Should we close that issue for now?

[2020-01-21 09:58] christyjacob4 commented on #3928
Hi @klingerf I'd like to take up this issue. Could you please assign it to me

[2020-01-21 17:04] tanuck opened #3958 "Changes to linkerd namespace spec ignored during upgrade"
## Bug Report

### What is the issue?
The recommended upgrade method: `linkerd upgrade | kubectl apply --prune -l linkerd.io/control-plane-ns=linkerd -f -` will currently ignore any changes to the `Namespace` object output from `linkerd upgrade` because the apply selector will drop said resource.

After a partial outage, we were surprised to discover that the `config.linkerd.io/admission-webhooks:

[2020-01-21 17:40] grampelberg commented on #3459
Thank you @javaducky!

[2020-01-21 17:45] grampelberg commented on #3109
@Pothulapati isn't this what you're working on right now?

[2020-01-21 17:46] grampelberg commented on #3165
Some discussion happening in [SMI](https://github.com/deislabs/smi-spec/pull/92) towards this end.

[2020-01-21 17:47] grampelberg commented on #3523
Hopefully tackling this as part of the auditing work later this year.

[2020-01-21 17:48] Pothulapati commented on #3109
Yes @grampelberg but only for add-ons configuration right now.

[2020-01-21 17:54] grampelberg commented on #3904
WFM, we should create a new issue whenever it becomes a problem.

[2020-01-21 17:54] #3904 closed

[2020-01-21 17:58] grampelberg commented on #3958
While it feels weird, the right solution seems to be adding `linkerd.io/control-plane-ns=linkerd` to the namespace.

[2020-01-21 19:13] klingerf commented on #3928
@christyjacob4 Great, thanks! Have assigned it to you.

[2020-01-21 21:00] StupidScience commented on #3935
@grampelberg I'm using cert-manager integration and also I'm not sure if #3470 is in `stable-2.6.1` so this is important for me.

[2020-01-21 21:30] grampelberg commented on #3935
We moved the proxy back last week, so give last week's edge a try and see if that fixes it.

[2020-01-21 22:40] alpeb commented on #3898
## Getting Started
All great except for this few items:
  - Screenshots of dashboard with old theme.
  - Maybe add a note saying that after injecting emojivoto, if you wanna browse the app again, you need to retrigger the port-forward one more time (the old one fails with no warnings).

## Certificate Rotation
Both docs (Replacing Expired Certificates and Rotating your Identity Certificates) are v

[2020-01-22 11:29] ashish235 commented on #2847
I have a similar issue and the Linkerd checks show no errors. This was working properly until I installed metric server on my K8s using Kops add-on, which does disable some tls checks. Did that cause any issue if yes, how I do I work with both metric server and Linkerd.

[2020-01-22 13:08] KIVagant opened #3961 "Allow custom hosts set from Helm values for "enforced-host""
## Feature Request

In the https://github.com/linkerd/linkerd2/blob/master/charts/linkerd2/templates/web.yaml#L70 I would like to add a custom host.
[code]

### What problem are you trying to solve?

I'm trying to access Linkerd Dashboard behind a proxy which does not rewrite the `Host` header.
As [per documentation](https://linkerd.io/2/tasks/exposing-dashboard/#tweaking-host-requirement) I need

[2020-01-22 16:04] grampelberg commented on #3898
@alpeb WDYT about doing updates for the cert rotation docs?

[2020-01-22 16:17] grampelberg commented on #2847
I would recommend looking in the api-server logs for what's going on @ashish235.

[2020-01-22 16:23] grampelberg commented on #3961
@alpeb I thought we made this configurable? Did we decide it should be via header rewrite instead?

[2020-01-22 16:31] kohsheen1234 commented on #3927
Hey @klingerf

I'd like to work on this issue. Could you please assign it to me. :)

[2020-01-22 16:51] alpeb commented on #3961
The decision was to made it configurable only as an argument to the web container, changeable only through something like Kustomize. And the Host header should be rewritten as per instructed in the ingress annotation, to match `linkerd-web.linkerd.svc.cluster.local:8084`

[2020-01-22 17:34] klingerf commented on #3927
Great, thanks for your help, @kohsheen1234! Have assigned it to you.

[2020-01-22 18:34] adrijshikhar commented on #2461
@rmars is this issue still open?
i would like to work on this.

[2020-01-22 19:09] christyjacob4 commented on #3928
@klingerf thank you

Going through the getting started guide, I understand that there are two configurations to  develop linkerd, namely Comprehensive and Web.

If I'm not wrong, for the scope of this issue, I would only be dealing with the Web Configuration?

[2020-01-22 19:12] klingerf commented on #3928
@christyjacob4 Yep, that's exactly right. I recommend following the instructions here:

https://github.com/linkerd/linkerd2/blob/master/BUILD.md#web

[2020-01-22 19:17] rmars commented on #2461
hi @adrijshikhar! welcome! I believe this ticket is still available, though we may want to discuss here what types of errors we would like to display, and what the scope of this ticket is (i.e. is it sufficient for this ticket to add an ErrorBanner component, and use it in a couple places in the UI? which are the helpful errors we'd like to display?)
cc @grampelberg any reason not to work on this?

[2020-01-22 19:29] grampelberg commented on #2461
This'd be awesome to work on!

[2020-01-22 19:35] alpeb commented on #3332
Hey @siggy sorry for the late reply...
I tested adding a 1s sleep after the setup, and that seems to remove the late incoming update, so we can leave the test as it is. Does that sound good?

[2020-01-22 19:37] adrijshikhar commented on #2461
From where i can start analysing codebase?

[2020-01-22 19:39] stefanprodan opened #3962 "Implement upgrade procedure for SMI TrafficSplit v1alpha2"
The upgrade from TrafficSplit v1alpha1 to v1alpha2 can't be done in place by Kubernetes since the weight type changed from `resource.Quantity` to `int`.

In order to ship #3951 the Linkerd CLI could implement the following upgrade procedure:
- fetch all TrafficSplit objects v1alpha1
- remove `creationTimestamp`, `generation`, `resourceVersion`, `selfLink` and `uid` from the TrafficSplit objects
-

[2020-01-22 19:44] alpeb commented on #3898
Will do. I've also updated the comment above to include my review of the CNI docs.

[2020-01-22 20:25] siggy commented on #3332
Hey @alpeb. Hmm, I think your original plan of a range from 1 to 3 sounds better than adding a sleep. Let's go with that. I think the primary goal of a test like this is to ensure _something_ is happening.

[2020-01-22 21:58] dayglojesus commented on #3697
This isn't isolated to traefik -- I can repro this behaviour with `ingress-nginx` as well.

[2020-01-22 22:05] grampelberg commented on #3697
This is because the dashboard is an SPA and all its routing is based off that. It isn't ingress controller specific and will happen any time the dashboard is viewed at a non-root URL.

[2020-01-23 02:30] olix0r opened #3963 "proxy: Update prost to 0.6"
[code]

The proxy has dependencies on prost 0.5, as does proxy-api, and tower-grpc-build, etc.

Is it feasible to update this dependency?

[2020-01-23 10:01] mayankshah1607 commented on #3914
I guess this issue can be closed since https://github.com/linkerd/linkerd2/pull/3952 has been merged! @zaharidichev @grampelberg

[2020-01-23 11:51] zaharidichev commented on #3914
That is correct :)

[2020-01-23 11:51] #3914 closed

[2020-01-23 13:10] javaes opened #3964 "HTTP Header casing is modified"
## Bug Report

### What is the issue?
When doing an HTTP call to my service, the headers of my HTTP requests are modified. All header keys are changed to lower case.

Even though the HTTP standard says that headers are not case sensitive, this can be implemented differently in some servers. Using linkerd makes it impossible to integrate with these services which depend on proper header key casing.

[2020-01-23 13:57] mayankshah1607 commented on #2545
@grampelberg I think this issue can be closed now that https://github.com/linkerd/linkerd2/pull/3886 has been merged :smile:

[2020-01-23 14:31] marcantoine-bibeau commented on #3914
Nice. Thanks a lot!

[2020-01-23 16:21] michalschott commented on #3819
Bump, still happens with kube v1.15.7 and calico v3.9.4.

[2020-01-23 16:31] grampelberg commented on #2545
@mayankshah1607 awesome! Thank you!!

[2020-01-23 16:31] #2545 closed

[2020-01-23 16:42] christyjacob4 commented on #3928
Hey @klingerf I followed the instructions in the BUILD.md file but had a tough time getting the Configuration Setup to work. (PS it's still not working) .
I moved on to the web build. It was giving me the following error.
![tets](https://user-images.githubusercontent.com/20852629/73004182-d9b19b00-3e2c-11ea-9290-8f4cc5baa30a.png)

Anyways, Here are a few questions
1. Do I require all this to test

[2020-01-23 17:21] ihcsim commented on #3964
Relevant https://github.com/linkerd/linkerd2/issues/2878.

[2020-01-23 17:55] #3941 closed

[2020-01-23 18:08] klingerf commented on #3928
Hey @christyjacob4, linting happens automatically as part of running webpack, and you can run webpack locally by running `bin/web build` (instead of `bin/web dev`).

But you will require a working linkerd install to test your changes. There are a lot of ways to go about that. It's probably easiest to jump into the #contributors channel on the linkerd slack (slack.linkerd.io).

[2020-01-23 18:31] hawkw commented on #3963
I'm working on this. The breaking changes in `prost` 0.6 shouldn't be a problem for us, but it requires updating to `bytes` 0.5, which then implies a _lot_ of dependency updates. So, may take a bit.

[2020-01-23 18:59] hawkw commented on #3963
This will require updating  the v0.1.x`tokio-io` and `tokio-buf` to pick up the breaking changes to `bytes` in 0.5, which looks like a significant chunk of work (there are a lot of breaking changes). Since we would like to update the proxy to `tokio` 0.2 in the near future, a better short term solution may be looking into whether the security fix in `prost` 0.6.1 can be backported to `prost` 0.5.x

[2020-01-23 21:32] vincentjorgensen commented on #3441
Our 2.6.1 installation is having this issue as well. We run on AWS EKS 1.14. The issue manifests itself seemingly at random, not necessarily when we update our deploys. In an example deployment of size 3, we saw that 1 pod was unresponsive (503) while the other two were fine. Restarting the unresponsive pod resolved the issue.

An example tap (which slight modifications to obscure details), with t

[2020-01-23 21:32] adleong commented on #3851
Fixed by https://github.com/linkerd/linkerd2/pull/3873

[2020-01-23 21:32] #3851 closed

[2020-01-23 22:06] hawkw commented on #3963
Here is a patched `prost` 0.5.x with the security fix: https://github.com/linkerd/prost/tree/v0.5.x. We can update the proxy to patch all `prost` deps to use this. Since I believe Dan has stated he doesn't intend to maintain 0.5.x (https://github.com/danburkert/prost/issues/267#issuecomment-575409718) we don't have to worry about missing future patches...especially because we ought to be updated t

[2020-01-23 23:20] cpretzer commented on #3441
thanks @vincentjorgensen anything you can collect will be helpful

Did you observe any errors in the service at `10.90.202.42:1400`?

[2020-01-24 01:21] adleong commented on #2316
This is causing us CI grief as the `httpbin.org` behavior is now non-deterministic regarding http vs https.

[2020-01-24 05:25] christyjacob4 commented on #3928
Thanks for that @klingerf . I will reach out on slack for additional information.

[2020-01-24 07:06] derrickburns commented on #3924
The integration with Gloo and Pomerium is rather involved.  Let me see  what I can do.

[2020-01-24 08:20] javaes commented on #3964
Sorry for duplicating the linked issue. Even though it's closed because of being RFC compliant, I think this is still a relevant issue because this behavior is not expected by proxy users and it basically breaks our integration with 3rd party APIs which we can't change. Please consider re-opening the original issue.

[2020-01-24 08:25] christianhuening commented on #3964
@javaes Can you say how the expected behaviour on the 3rd party side is? Do they expect `Title-Case` or any other format which can be baked into a transformational rule?

[2020-01-24 08:31] javaes commented on #3964
@christianhuening the 3rd party where I've encountered this issue is expecting title cased header keys, but I think this would still be a bold assumption to make for more 3rd party APIs since the project is about integrating a lot of APIs.

[2020-01-24 13:17] christyjacob4 commented on #3928
Hi @klingerf Does this count as a valid fix? This doesn't result in any warning in bin/web build
[code]

Please correct me if I'm wrong.

[2020-01-24 16:24] alpeb commented on #3898
I've added more comments about CNI:

This sentence
[code]
Is no longer true since we do injection through the webhook. We do however need to replicate the flags when doing `linkerd install`. The settings will persist in the ConfigMap, which will be grabbed by the webhook when injecting.
`linkerd inject --manual` does also consult the ConfigMap so it doesn't require those flags either (unless used

[2020-01-24 17:39] ihcsim commented on #3924
Meanwhile, can we close this issue?

[2020-01-24 18:44] #3924 closed

[2020-01-24 18:44] derrickburns commented on #3924
Thanks

[2020-01-24 19:38] cpretzer commented on #3928
@christyjacob4 in which file are you making this change?

The best way to get feedback about code is to submit a PR. That way folks can test changes in their own environments by checking out your branch.

[2020-01-24 19:41] christyjacob4 commented on #3928
@cpretzer Im making these changes in web/app/js/components/Namespace.jsx
The task is to refactor code that fails to lint, on enabling the react/no-did-update-set-state eslint rule

[2020-01-24 20:52] #3930 closed

[2020-01-24 21:10] sukhong opened #3973 "Linkerd check command should return warning when version endpoint is not reachable"
## Bug Report

### What is the issue?
Linkerd check command currently errors out when version endpoint is not reachable. However, we have a need to run linkerd in a private cluster with no external network connectivity.

Linkerd check command currently fails when it cannot reach version check endpoint during linkerd-version step.

This should return warning instead, to support private cluster scen

[2020-01-24 21:17] adleong commented on #3973
@sukhong This sounds reasonable to me.  Are you interested in submitting a PR to fix this?

[2020-01-24 23:11] cpretzer commented on #3751
@Enrico2 I haven't been able to reproduce after trying different combinations of deleting kafka and zookeeper pods.

If this happens again, please reopen this issue with any additional information that you collect.

[2020-01-25 06:29] christyjacob4 commented on #3926
@klingerf please assign it to me

[2020-01-25 07:44] christyjacob4 commented on #3928
@klingerf @cpretzer from the react documentation, they suggest to wrap it in a condition
https://reactjs.org/docs/react-component.html#componentdidupdate

[2020-01-25 16:47] cpretzer commented on #3928
that's really good info @christyjacob4

As I read it, `no-did-update-set-state` will be modified to check for the condition that you mentioned: https://github.com/yannickcr/eslint-plugin-react/issues/1707#issuecomment-521826558

It's unclear as to whether that has been added yet, so if your PR addresses the eslint error message, I'm happy with that until the eslint logic is updated.

WDYT @klinger

[2020-01-27 07:04] mayankshah1607 commented on #3973
@adleong @sukhong I could fix this one if that's okay

[2020-01-27 07:18] sukhong commented on #3973
@mayankshah1607 I would really appreciate it if you can fix this for us :)

[2020-01-27 07:45] mayankshah1607 commented on #3973
Thanks @sukhong ! I've opened a PR with a fix - https://github.com/linkerd/linkerd2/pull/3975
Could you pull the changes and let me know if that works for you? :)

[2020-01-27 16:45] #3582 closed

[2020-01-27 17:56] gamer22026 opened #3977 "linkerd-proxy throwing load balancer discovery error"
## Bug Report

### What is the issue?
linkerd-proxy started throwing an error and was unable to connect to other meshed services
### How can it be reproduced?
Unknown
### Logs, error output, etc
`ERR! [249010.471746s] outbound:accept{peer.addr=100.96.11.27:34552}:source{target.addr=100.69.16.83:80}: linkerd2_app_core::errors unexpected error: buffered service failed: load balancer discovery error:

[2020-01-27 18:07] #3462 closed

[2020-01-27 18:41] olix0r opened #3978 "`linkerd metrics` panics if port-forward fails"
[code]

should be handled gracefully

[2020-01-27 20:19] #3459 closed

[2020-01-27 21:49] cpretzer commented on #3551
@falcoriss have you seen this issue on kubernetes 1.17? I'm curious to know if the fix from #3606 also fixed this

[2020-01-27 22:35] adleong commented on #3943
As discussed in #3947 I think we should do the following:

* Increase the clock skew allowance to 5 minutes to match the default heartbeat interval in k8s 1.17
* Make this check a warning so that it doesn't error for clusters with longer heartbeat intervals
* Update the docs for this check to explain that this check uses the node heartbeat as a proxy for node time

[2020-01-27 22:42] adleong opened #3980 "Make expired certs more diagnosable when clock skew exists"
One of the things that `linkerd check` checks is that the issuer certificate is valid and not expired.  It does this by comparing the expiration date on the certificate to the current time on the machine running the Linkerd CLI.  However, in the case where there is significant clock skew between the machine running the CLI and the node running the identity controller, the `linkerd check` command c

[2020-01-27 22:45] #3511 closed

[2020-01-27 22:45] #3494 closed

[2020-01-27 22:52] riking commented on #3729
RESOURCE_EXHAUSTED will also be issued by the framework, might be worth adding.

[2020-01-27 22:58] cpretzer commented on #3888
@renpengzhang it turns out that the errors that I saw when I reproduced this are related to the proxy not being able to connect to the upstream service.

I set up the test using the [emojivoto](https://github.com/buoyantIO/emojivoto) sample application injected with Linkerd.

Once the application was running and handling requests. I added an nginx deployment to use as the proxy. The deployment yam

[2020-01-27 22:58] #3888 closed

[2020-01-27 23:45] #3586 closed

[2020-01-27 23:45] #3587 closed

[2020-01-28 07:41] #3973 closed

[2020-01-28 09:14] mayankshah1607 commented on #3980
@adleong Is it okay if I take up this issue?

[2020-01-28 09:17] mayankshah1607 commented on #3978
@grampelberg @olix0r I'd like to work on this one if that's okay :smile:

[2020-01-28 09:59] Pothulapati commented on #3977
As per https://github.com/linkerd/linkerd2/issues/3935#issuecomment-576891452, The Proxy is moved back to the stable version.
Can you confirm if it is not because of the min k8s version supported error, by running it in >= 1.13?
[code]

[2020-01-28 11:32] zaharidichev commented on #3907
@adleong I am not sure this is a bug. The issue is a bit more nuanced than that. First of all this trimming logic is introduced in this pr https://github.com/linkerd/linkerd2/pull/3421. I dont think this is wrong. Secondly, event if we revert that and make it so whatever is in the file gets into the cofig, we are not going to help this particular situation too much.

The reason for that is because

[2020-01-28 13:13] zaharidichev commented on #3980
@mayankshah1607 go for it! Let me know if you have any questions :)

[2020-01-28 14:12] KIVagant opened #3983 ""linkerd inject --manual" changes types of label values (string becomes float64)"
## Bug Report

### What is the issue?

After `linkerd inject --manual` is applied, all Deployment labels lose double quotes around label values which causes problems with unobvious types.

### How can it be reproduced?

1. Create the deployment:

[code]

2. Apply it using `kubectl apply -f tmp-2.yaml` and make sure it works. New pods will start, for example:

[code]

3. Inject Linkerd Proxy `linke

[2020-01-28 15:07] gamer22026 commented on #3977
Can't test on >=1.13 for the moment. Also, I have lots of meshed services. Only saw this error on one service.(3 pods) and all 3 pods exhibited the same error.

[2020-01-28 17:23] grampelberg commented on #3978
@mayankshah1607 go for it!

[2020-01-28 18:03] ihcsim commented on #3983
This might also be problematic for labels that has `"true"` / `"false"` values, which when stripped turns into boolean, causing deployment to fail completely (labels only takes string values.)

[2020-01-28 19:04] siggy opened #3984 "Stop using the proxy's /metrics endpoint as a livenessProbe"
## Background

Linkerd proxies are configured with a `livenessProbe` and a `readinessProbe`. For the `livenessProbe` we are using the proxy's `/metrics` endpoint. This endpoint is unnecessarily expensive, as we just require an endpoint to return a 200, similar to the `readinessProbe`'s `/ready` endpoint.

## Proposal

Modify the proxy's `livenessProbe` to point to a different endpoint, either a ne

[2020-01-28 19:21] #3907 closed

[2020-01-28 19:22] Dominik-K opened #3985 "Retries for retry-able gRPC calls"
## Feature Request

### What problem are you trying to solve?
Implementing retries for gRPC calls. I assumed they're retry defaults within Linkerd2 and I could easily adjust them in the `ServiceProfile`.

### How should the problem be solved?
Linkerd2 should automatically retry gRPC calls which are [safe or idempotent](https://hackernoon.com/idempotency-apis-and-retries-34b161f64cb4) (as in [RFC 7

[2020-01-28 19:29] grampelberg commented on #3985
The biggest drawback here is around buffering and memory in the proxy. Retrying gRPC calls will require caching the `POST` bodies there, which will immediately impact the memory in the proxy.

This is an awesome feature, it is just something that needs to be done carefully and with a lot of thought to make sure it is safe for users.

[2020-01-28 20:18] gamer22026 commented on #3977
Had this happen again. Same service, different namespace. Prior to installing 20.1.2, I was on 19.12.3 and didn't see this error. Again validated that the linkerd-proxy sidecar on the affected pods was running v2.84.0

[2020-01-28 21:00] #3493 closed

[2020-01-28 21:14] reegnz commented on #3260
Aws ETA is early February, so question is, is support in GKE+EKS+AKS enough to make the switch?

[2020-01-28 21:15] grampelberg commented on #3260
@reegnz AKS has support now?

Given the lack of support in minikube/microk8s, we'll need to degrade gracefully no matter what. Interested in taking up the contribution?

[2020-01-28 21:17] reegnz commented on #3260
@grampelberg I'm not that proficient in go yet, so I'll have someone else pick this up. :)
I am very enthusiastic about having this as a feature though!

[2020-01-28 21:45] scottcarol commented on #3651
The below comment is by @cynthia-sg from #3757:

//////////////////////

Almost all libraries use the same approach: they provide higher-order components, which injects internationalization functions for handling messages, dates, numbers and currencies via React’s context features. The most popular options available for internationalizing React are (the code samples are trying to keep at minimum t

[2020-01-29 00:42] adleong commented on #3962
Linkerd does not manage traffic split resources.  In other words, it reads them but doesn't create, update, or delete them.  Therefore, I don't think Linkerd should upgrade traffic split resources in the cluster from v1alpha1 to v1alpha2: that should be the operator's responsibility.

I think we probably need a conversion webhook that can serve v1alpha2 traffic splits which are stored as v1alpha1

[2020-01-29 06:38] cpretzer commented on #3926
@christyjacob4 looking forward to reviewing your PR for this 😄

[2020-01-29 10:06] DGollings commented on #3943
@adleong Hi, don't have time right now. But could look at it later this week, especially points 2 and 3 would take a little more time.

[2020-01-29 10:34] mayankshah1607 commented on #3980
Thanks @zaharidichev ! I have opened a draft and left a note. Mind taking a look? - https://github.com/linkerd/linkerd2/pull/3990#issuecomment-579694290

[2020-01-29 11:46] zaharidichev opened #3991 "Implement the Service Mirror Controller"
As part of the multiluster effort we need a component that is capable of:

- detect addition of remote cluster api access configs
- watch the state of services on remote clusters
- create the necessary services and endpoints on a local cluster to mirror the remote one

POC: #3762

[2020-01-29 12:18] adrijshikhar commented on #2461
I was out for a few days, but now i am back.
I have setup the repo, can you please guide me a bit more?

[2020-01-29 12:23] adrijshikhar commented on #3927
@kohsheen1234 are you still working on it?

[2020-01-29 12:39] kohsheen1234 commented on #3927
@adrijshikhar Yes, I am still working on it. I had some trouble setting up the environment initially, but now it's working well. :)

[2020-01-29 12:57] adrijshikhar commented on #3929
@klingerf hi, i would like to work on this issue, can you help me out?
i have already set up the repo

[2020-01-29 14:26] zaharidichev opened #3992 "Service Mirroring Remote Gateway"
The current implementation of the reference gateway looks like:

[code]

HISTORIC:

As part of the Service mirroring architecture we need a reference implementation of a remote gateway. For the time being this should be an nginx gateway that can do a few things:

1. It should be able to route requests following the convention:
{svc-name}-{cluster-name}.{namespace}.svc.cluster.local:{svc_port} -> {

[2020-01-29 14:29] zaharidichev opened #3993 "Service Mirroring Credentials Creation"
We need to have an easy way of creating a service account that grants rights for watching services. This will allow service mirror components to connect to the cluster and monitor the state of services that need to be mirrored.

PoC: 3960

[2020-01-29 14:30] zaharidichev opened #3994 "Service Mirroring Credentials Extraction"
Given a remote cluster with an existing service account that has the necessary RBACs to monitor services, we need an easy way to extract these credentials and put them in a secret that can be provisioned onto the cluster where the mirroring component is running on.

PoC: 3959

[2020-01-29 15:20] gamer22026 commented on #3977
Additional info. I rolled back the linkerd-proxy version on the service that's been throwing the error to 19.12.3 (v2.82.0) but I left the control plane at 20.1.2 and I still see the same error.I never saw this error at all prior to my upgrade to 20.1.2. Also the fact that I only ever see this error on one service out of the many I have meshed would seem to indicate that there's some "trigger" rel

[2020-01-29 16:13] adrijshikhar commented on #3983
@grampelberg , i would like to work on this.
i have already setup the repo

[2020-01-29 16:14] grampelberg commented on #2461
@adrijshikhar please jump on slack,  there's a #contributors channel there and we can help you more from there.

[2020-01-29 16:17] grampelberg commented on #3983
@adrijshikhar awesome! Go for it!

[2020-01-29 16:17] adrijshikhar commented on #3926
@christyjacob4 are you still working on this?

[2020-01-29 16:19] christyjacob4 commented on #3926
yea obviously @adrijshikhar

[2020-01-29 16:27] christyjacob4 commented on #3204
Hi @grampelberg I'd  like to take this up

[2020-01-29 16:30] adrijshikhar commented on #3983
What does inject do basically?

[2020-01-29 16:31] adrijshikhar commented on #2461
Okk

[2020-01-29 16:46] grampelberg commented on #3983
@adrijshikhar I would recommend going through the getting started tutorials and spending some time in the docs to answer that question =)

[2020-01-29 19:25] kellybirr commented on #2843
I just posted this in the linked slack channel, but here is a config that will allow linkerd 2.6 to inject with elastic-cloud-on-k8s, in case this helps anyone else seeing this issue.

`
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
  version: 7.5.2
  nodeSets:
  - name: default
    count: 1
    podTemplate:
      metadata:
        annotation

[2020-01-29 20:10] kohsheen1234 commented on #2558
Hey @grampelberg Can I work on this if it's been stale for long??

[2020-01-29 20:51] gamer22026 commented on #3977
Just upgraded everything to 20.1.4(latest) but same error. One more tidbit. The service that's throwing this error is the only one that connects to the downstream service via websocket. I have other meshed services that use standard HTTP as well as one service that uses HTTP/2 grpc and they are all fine. The error also doesn't happen right away, only after some period of time. (in the last test ca

[2020-01-29 23:38] ihcsim opened #3997 "Reduce Prometheus Data Retention Duration"
Following a [recent slack report](https://linkerd.slack.com/archives/C89RTCWJF/p1580228200108300) on a Prometheus OOMKilled incident, we want to revisit the effect of reducing the `storage.tsdb.retention.time` duration from the current default of 6 hours to 1 hour. The previous investigation, per https://github.com/linkerd/linkerd2/issues/3258#issuecomment-526377964, showed that it did help to red

[2020-01-29 23:45] olix0r opened #3998 "proxy RSS grows with traffic"
On edge-20.1.4, proxy RSS grows with both HTTP and TCP load

![image](https://user-images.githubusercontent.com/240738/73407475-1575b600-42ae-11ea-8da3-dd77db0cc28b.png)
![image](https://user-images.githubusercontent.com/240738/73407490-20304b00-42ae-11ea-8b9f-ed192d966541.png)

Similar behavior is observed on more recent branches that change buffering/backpressure behavior; so we should probably

[2020-01-29 23:50] ihcsim commented on #2558
@kohsheen1234 Thanks for your interest! Not exactly sure why https://github.com/linkerd/linkerd2/pull/2580 wasn't reviewed and merged (oops!).

@gane5hvarma Are you interested in bringing #2580 cross the finish line? (I can reopen it.) It will need to be rebased with `master`? If not, we can let @kohsheen1234 give it a try. Thanks!

[2020-01-30 01:18] yjiq150 commented on #3596
Thank you for the update!

I investigated my issue based on the idea from your case and I found that my elasticsearch-js (nodejs) client use connection pool with keep alive setting.

No eviction policy was set for the idle connection in the pool. I set the max idle time for connections to the same value as `net.netfilter.nf_conntrack_tcp_timeout_close_wait` last week.
I found no more 502 Bad Gatew

[2020-01-30 01:44] #3081 closed

[2020-01-30 02:02] gane5hvarma commented on #2558
@ihcsim I'm currently occupied with other work. Hence can't spend time in the near future. Let @kohsheen1234 give it a try.

[2020-01-30 04:08] ihcsim commented on #2558
@gane5hvarma Sounds good. Apologies for overlooking that PR.

@kohsheen1234 It's all yours! Please take a look at @grampelberg's comment at https://github.com/linkerd/linkerd2/pull/2580#issuecomment-477650729. If you have any questions, feel free to join us in the #contributors channel on the Linkerd slack.

[2020-01-30 04:50] mayankshah1607 opened #3999 "linkerd completion command does not work as expected"
## Bug Report
The `linkerd completion` command does not work as expected on zsh.

### What is the issue?
The completion scripts are generated, but sourcing them does not provide shell completion. Not sure if this error is restricted to only zsh.

### How can it be reproduced?
Run:
[code]
Completion does not work
### Logs, error output, etc

(If the output is long, please create a [gist](https://gi

[2020-01-30 08:27] stefanprodan commented on #3962
A conversion webhook is the best option but this implies switching to `apiextensions.k8s.io/v1` see https://github.com/deislabs/smi-sdk-go/issues/37

[2020-01-30 09:31] kohsheen1234 commented on #2558
Thank you @gane5hvarma, @ihcsim . I will start working on this issue. @ihcsim Can you please assign the issue to me. :)

[2020-01-30 16:07] grampelberg commented on #3999
Looks like this is more about the instructions being wrong than a blocker bug itself?

[2020-01-30 17:52] mayankshah1607 commented on #2962
@grampelberg I think this issue can be closed now that https://github.com/linkerd/linkerd2/pull/3886 has been merged! :)

[2020-01-30 17:58] mayankshah1607 commented on #3116
Is this issue still being worked on? I'd be happy to take up this one :) @adleong @srv-twry @grampelberg

[2020-01-30 19:51] gamer22026 commented on #3977
Full testing scenario (using linkerd edge-20.1.4 as the controlplane) with my 2 failing services that utilize a websocket connection:
[code]
I did notice that https://github.com/linkerd/linkerd2-proxy/commit/588609becbe9372b4bb3cfa752630ed320f76d3b made changes to the buffer settings between v2.81.0 and v2.82.0.

[2020-01-30 20:00] arminbuerkle commented on #3910
@stefanprodan `Invalid configuration: invalid environment variable` can be fixed by setting `automountServiceAccountToken: true` in the envoy daemonset.

[2020-01-31 01:34] #3928 closed

[2020-01-31 01:41] #2962 closed

[2020-01-31 14:35] srv-twry commented on #3116
@mayankshah1607 Feel free to take this up. You can also go through my PR to get some pointers.

[2020-01-31 14:58] memory opened #4003 "provide a way to categorize incoming traffic from outside the mesh"
## Feature Request

Add a way to manually categorize "unmeshed" traffic with a unique name in addition to the source IP address.

### What problem are you trying to solve?

Presently, any traffic that arrives to a pod from outside the service mesh (e.g. from an ingress or other load-balancer) is categorized only by its source IP address, and there is no way to further break down rps/error rates be

[2020-01-31 16:18] grampelberg commented on #4003
Is it possible for these load balancers to add a header?

[2020-01-31 16:22] memory commented on #4003
At least for our use case, my intention would be for the various traffic sources that share the LB as a point of entry to add the header when the request is generated.

But yes, [they can](https://cloud.google.com/load-balancing/docs/user-defined-request-headers).

[2020-01-31 16:28] grampelberg commented on #4003
TIL! Perfect! There's a pretty large potential for this being used by someone malicious externally, either to crash your prometheus with crazy cardinality or manipulate metrics and internal systems. Should this be an opt-in only feature at the pod level or is there a better way for us to determine that it is safe? As these are going to be external requests, we won't be able to rely on mTLS and ide

[2020-01-31 19:13] memory commented on #4003
Hm, the malicious header case is interesting.  I can think of a couple of ways to deal:

1- document the heck out of it and make it the user's responsibility to filter/reset the header at the perimeter (lame, but low-effort; not sure what the story is for e.g. amazon ALBs)

2- require a second header (`l5d-src-override-authorize`?) to pass in a shared secret without which the mesh will not honor t

[2020-01-31 19:18] derrickburns opened #4005 "Tracing spans dropped on quiescent system"
Trying to use tracing with opencensus and linkerd. I have tracing with opencensus collector configured.  The system is practically quiescent but linkerd is dropping many trace spans.

I do see *some* trace data from linkerd, so I know that the Naming is correct.

### Logs, error output, etc

from https://github.com/linkerd/linkerd2-proxy/blob/d213c1373f1f5ec479a59a0a388d4373dcb3cde4/linkerd/trace-

[2020-01-31 19:20] derrickburns commented on #4005
@grampelberg fyi

[2020-01-31 19:37] hawkw opened #4006 "proxy TCP duplex futures never shut down"
## Bug Report

### What is the issue?

It seems like the `linkerd2_duplex::Duplex` future, which we spawn for all proxied TCP connections, fail to be shut down when the connection is terminated by the client closing the connection.  Each of these futures owns a 4k buffer, so these buffers are never deallocated. Thus, this results in a memory leak.

### How can it be reproduced?

I've reproduced th

[2020-01-31 19:39] hawkw commented on #3998
One source of RSS growth with TCP connections only is probably #4006.

[2020-01-31 21:27] cpretzer commented on #3596
@yjiq150 thanks for the update.

I don't know about this particular situation, but I've seen some unexpected behavior when a client expects a connection to be open through a keepalive mechanism and a server closes the connection.

What was the duration of the `net.netfilter. nf_conntrack_tcp_timeout_close_wait` value that you used to reconfigure the max idle time? Is that max idle time configurati

[2020-02-01 03:27] olix0r commented on #4006
For what it's worth, I don't observe any noticeable memory pressure when running a [tcp stress test](https://github.com/olix0r/rss-burn/blob/68a15808899e08784590f3d98093e5b1bdec3b8f/burn-tcp.yml)

![image](https://user-images.githubusercontent.com/240738/73586254-71cc0780-445f-11ea-827b-957a9efba872.png)

I'll let this test run for a bit longer

[2020-02-01 04:30] yjiq150 commented on #3596
I didn't change `net.netfilter. nf_conntrack_tcp_timeout_close_wait` value in k8s cluster and I guess the default value is 60 seconds. So I just applied the eviction configuration for connections with the 60 seconds max idle time.

[2020-02-01 12:25] mayankshah1607 commented on #3978
@olix0r @grampelberg any suggestions on how I can reproduce this bug?

[2020-02-01 17:41] tomiwatech commented on #3961
@grampelberg Please can you assign this task to me, I will like to work on it

[2020-02-01 17:46] sannimichaelse commented on #3961
@grampelberg Can you please assign this task to me, I will like to work on it

[2020-02-01 18:02] kohsheen1234 commented on #2558
Hey @ihcsim,

I had a few doubts regarding the fixes that are wanted for the issue.
Does the scrolling have to be controlled by the mouse or are keys enough. Secondly, if the scrolling has to be done by the mouse can we use additional libraries such as robotgo: https://github.com/go-vgo/robotgo

[2020-02-02 04:21] ihcsim commented on #3596
I don't think it's just the client that will/can cause a half-close connection. Not an ES expert, but there are a number of these ES half-close connection issues out there: https://github.com/elastic/elasticsearch-php/issues/225, https://discuss.elastic.co/t/logstash-output-elasticsearch-connection-reset-while-trying-to-send-bulk-request-to-elasticsearch/173941, https://discuss.elastic.co/t/transp

[2020-02-02 18:11] cpretzer commented on #3599
@nickjackson before this goes stale, just want to check to see how the prod deployment went and whether you were able to collect any info from the debug sidecar.

[2020-02-02 18:27] cpretzer commented on #3204
@christyjacob4 I think that you can implement this in the same way that the `GrafanaImage` value is set. Have a look at [this diff](https://github.com/linkerd/linkerd2/pull/3291/files#diff-29ed5f4fd0997821def9785307ff4e7eR604).

`installValues.GrafanaImage` is set using string substitution with the value that is specified by the `--registry` option.

One way that the prometheus image is different

[2020-02-02 22:08] ihcsim commented on #3978
@mayankshah1607 I think you can fake this error with this change:
[code]

I am reasonably sure it's because we are missing a `return` statement in this block of code in `cli/cmd/metrics.go`:
[code]
Without a `return`, the CLI will continue to execute the subsequent code causing the `http.Get()` to fail. Also, I suspect the port-foward needs to check if the `stopCh` is nil before calling `close()`

[2020-02-03 01:43] #2996 closed

[2020-02-03 03:54] christyjacob4 commented on #3204
@cpretzer thank you for the insight .
Working on it now

[2020-02-03 13:35] yjiq150 commented on #3596
Thanks for the additional information.

However, I still think that the problem has something to do with custom iptable rule installed by linkerd, because there were no problem at all when we use elasticsearch-js without maxIdle eviction policy with no linkerd proxy installed.

[2020-02-03 16:35] grampelberg commented on #4005
@adleong mind taking a peek at this?

[2020-02-03 16:41] grampelberg commented on #3961
@sannimichaelse assigned!

[2020-02-03 17:52] mayankshah1607 commented on #3978
@ihcsim thanks for the suggestions! I was able to reproduce this bug. However, returning from that block of code and/or checking if `stopCh` is `nil` before calling `close()` didn't work as it would never be `nil` apparently.
I looked into ways to check if a channel is closed before actually closing it (and without reading from it directly); but they did not seem to be very safe.
The best solution

[2020-02-03 18:30] ihcsim commented on #3978
That feels like covering up the real problem though. There are only 2 reasons why closing a channel will cause a panic; closing a nil channel, or closing an already closed channel. Can you check if the default `case` in this `select` statement (in `pkg/k8s/portforward.go`) conflict with the `defer portforward.Stop()` in the CLI?

[code]
Will it work if the preceding `if` conditional just `return`

[2020-02-03 19:03] Pothulapati opened #4008 "Owner Metadata for Spans."
## Feature Request

Right Now, For metrics Prometheus automatically adds the pod's labels as metric labels, giving us the capability to link grafana dashboard for that component directly in the linkerd dashboard and allowing users to jump there seamlessly.

A similar model with Jaeger would be great i.e jumping directly from the linkerd dashboard to the jaeger dashboard and showing relevant spans

[2020-02-03 21:48] ihcsim commented on #4008
For my understanding, are there other places where these metadata will be useful, other than linking the Jaeger dashboard to the Linkerd dashboard? Since tracing is an optional addon, do we want the Linkerd dashboard to be coupled to it?

[2020-02-03 22:31] adleong commented on #4005
Hi @derrickburns!  We fixed some very similar looking errors in https://github.com/linkerd/linkerd2/releases/tag/edge-20.1.2.  Could you give the latest edge release a try and see if that resolves the issue?

[2020-02-04 00:51] #3998 closed

[2020-02-04 03:25] Pothulapati commented on #4008
@ihcsim
reg Jaeger
The dashboard will only show the relevant jaeger link when the add-on is enabled, or a relevant endpoint is passed by the user.

Also, I'm thinking there will be more use-cases where these values would be needed by the proxy,
-  Where users are directly sending their spans somewhere without otel/oc-collector.
-  for mesh expansion where k8s labels will not be present for Prometh

[2020-02-04 07:50] mayankshah1607 commented on #3978
@ihcsim you are right. The routine in `Init()` goes to the default case which causes the channel to close. `defer portforward.Stop()` in `cli/cmd/metrics.go` conflicts with the above, causes a closed channel to close; hence the panic. Returning from the routine when if `pf.run()` throws an error seems to have fixed it. Mind taking a look now? https://github.com/linkerd/linkerd2/pull/4007

[2020-02-04 18:01] sannimichaelse commented on #3961
Thanks @grampelberg.

I need to clarify something before implementing the change.

This is what I have in my head right now. Either allow the user to specify the host in the line directly or add it to the values.yaml file and Load with the .Values.host(or the variable name used in the file)

 - -enforced-host=^(host|{{ $hostFull }}|{{ $hostAbbrev }}|\[::1\])(:\d+)?$

@grampelberg, am I in sync?

[2020-02-04 18:05] grampelberg commented on #3961
@alpeb would be the right person to talk with about that =)

[2020-02-04 18:12] sannimichaelse commented on #3961
Alright.

Alright

[2020-02-04 18:20] sannimichaelse commented on #3961
Hi @alpeb , any suggestions?

[2020-02-04 18:39] alpeb commented on #3961
Hi @sannimichaelse !
I like better giving the option of setting and additional host into the regex like what you pasted (but without removing localhost and 127.0.0.1) through a new variable in `values.yaml`.
The alternative would be to have the entire regex be declared in `values.yaml`, which might be more flexible, but we'd need to provide as default the regex we already have, and we'd have to pu

[2020-02-04 18:41] adrijshikhar commented on #3929
hey @klingerf

[2020-02-04 20:09] KIVagant commented on #3961
I would vote for the entire regex defined in values. Simple, easy to implement, easy to change to anything that users desire, easy to automate in CI tools.

[2020-02-04 21:28] sannimichaelse commented on #3961
Alright to get what you saying I would use the custom host if specified or use default when empty like this

{{- $default_host :=^(localhost|127\.0\.0\.1| $hostFull | $hostAbbrev |\[::1\])(:\d+)?$ }}
- -enforced-host={{ Values.global.custom_host | default $default_host }}

[2020-02-04 21:37] nickjackson commented on #3599
@cpretzer prod has gone well. Been live for a few months now without any hiccups. I wasn’t able to get the debug sidecar enabled, I haven’t had the time to look into it sorry!

To avoid any potential issue on production, I’ve been manually and frequently deleting the linkerd controller pods. It’s a bit crude but it does the trick.

Considering this is not widespread, I’m going to put it down to an

[2020-02-04 23:53] ihcsim commented on #3895
Relevant https://github.com/linkerd/linkerd2/issues/3692.

[2020-02-05 00:12] derrickburns commented on #4005
@adleong
Not I am getting this:
│ WARN [     0.006065s] opencensus:control{peer.addr=172.20.66.96:55678 peer.identity=Some("default.tracing.serviceaccount.identity.linkerd.cluster.local")}: rustls::session Sending fatal alert BadCertificate

[2020-02-05 00:24] adleong commented on #4005
Hmmm sounds like a certificate issue with the upgrade.  Can you run `linkerd check`?

If you hop into linkerd slack, we can help you debug this more synchronously, if you prefer.

[2020-02-05 00:52] adleong opened #4014 "Flaky log regex in install_test.go"
install_test sometimes fails with this error:

[code]

The install test already has a regex to ignore iptables delete errors (e.g. that use the `-X` flag).  Perhaps we also need to update that regex to include iptables flush errors (e.g. that use the `-F` flag)?

[2020-02-05 01:14] derrickburns commented on #4005
That did not solve my problem:
[code]

[2020-02-05 02:15] derrickburns commented on #4005
I do this this in the oc-collector linkerd proxy logs:
[code]

[2020-02-05 06:05] cpretzer commented on #3599
@nickjackson thanks for the reply.

I'm glad to hear that you haven't had any hiccups, although restarting the linkerd-controller pods is not an ideal situation. If you have the opportunity, it would be great to see what happens if the pods are not deleted in a non-prod environment.

If you have time to gather that info, please reopen this issue with the details 😄 🙏

[2020-02-05 06:05] #3599 closed

[2020-02-05 09:06] KIVagant commented on #3961
Maybe worth renaming the `custom_host` key to something like `enforced_host_regexp`.

Anyway, I'm not a maintainer, so it's better wait for @alpeb's opinion.

[2020-02-05 14:17] alpeb commented on #3961
Hey guys, that works for me :+1:  You can go ahead with your PR and I'll be glad to review it :star:

[2020-02-05 15:00] nickjackson commented on #3599
@cpretzer Small correction - I've been deleting the `linkerd-destination` pods, not the controller.

[2020-02-05 18:48] derrickburns opened #4015 "controller to roll pods that are not injected but should be"
## Feature Request

One the the challenges of using Linkerd auto-injection is dealing with silent failure.  How about taking the K8s approach of controllers that continuously work to achieve a target state?  In this case, I suggest a controller the continuously scans all pods and namespaces with the linkerd injection annotation.  When the controller finds a pod that has the annotation but does not

[2020-02-05 18:48] kleimkuhler opened #4016 "Reduce turnaround time on failed CI workflows"
## Motivation

Dealing with flakiness in one job is costly because re-running a workflow
through GH Actions re-runs every job--regardless if that job succeeded in a
previous run.

Being able to cache successful results on a job basis for a specific commit
could speed up re-runs when necessary.

## Solution

This is just an idea to explore, but it could reduce the turnaround time for
re-running wor

[2020-02-05 18:50] grampelberg commented on #4015
@derrickburns are you running in `--ha`? It shouldn't be possible to have pods without the sidecar in that case.

[2020-02-05 18:59] kleimkuhler commented on #4016
I changed the issue title as I think the great issue I'm thinking about is how to reduce the turnaround time on failed workflow runs that re-run on the same commit.

[2020-02-05 19:03] derrickburns commented on #4015
@grampelberg No, I am not.

Consider these cases:

Case 1:

I tried to update the Linkerd control plane.  However, I also updated the ca.  Which means that all the sidecars need to be re-injected. So, even if sidecars are present, the pod identify may not be correct.

Case 2:
Cluster auto-scaler moves pod.  New pod is not auto-injected.

I have definitely hit case 1 and I vaguely recall hitting ca

[2020-02-05 19:11] grampelberg commented on #4015
We've had a lot of discussions around case 1. The concern has been that rolling workloads can be a pretty big deal for most folks. Getting an operator as an opt-in solution seems like a good idea though.

`--ha` should solve case 2 for you.

[2020-02-05 19:14] derrickburns opened #4017 "Idempotent installs"
One of the challenges of installing Linkerd is that the installation is not idempotent.

One cannot use the `linkerd` cli to install linkerd in succession.  Nor can one use the helm chart to do that.

While this may seem  like a silly requirement, consider a `gitops` environment where one wants to use Git as the single source of truth for desired cluster state.  Can one create a helm release (ala

[2020-02-05 19:15] derrickburns commented on #4015
One could also add an annotation to namespaces/pods to opt-in or opt-out of auto-rolling.

[2020-02-05 19:18] grampelberg commented on #4017
With the requirement of having a persistent trust root, is it possible to ever make the install idempotent?

[2020-02-05 19:19] grampelberg commented on #4017
I'd be interested to hear what's missing from `helm upgrade --install` as well.

[2020-02-05 19:40] derrickburns commented on #4017
The trust root is indeed the issue.

One way of handling that is to separate the installation of the trust root from the rest of the helm installation. This isolates the side effect from most of the .

[2020-02-05 21:17] grampelberg commented on #4017
Have you taken a look at the cert-manager integration that is on master right now?

[2020-02-05 21:23] adleong commented on #4005
Definitely seems like some kind of certificate issue.   Can you run `linkerd check`?

Another thing to try would be to restart the oc-collector and/or the pods which are sending trace data to it.

[2020-02-05 23:46] #3107 closed

[2020-02-06 03:54] derrickburns commented on #4017
No. I will

[2020-02-06 08:43] DhruvM1994 commented on #1165
@aliariff really cool. How did you manage to install a Kubernetes-Cluster on the Raspberry Pi?

[2020-02-06 14:28] joakimr-axis commented on #1165
One quite easy way is to use [k3s](https://k3s.io/). Another, running Raspbian, is installing the kubectl (and eventually the kubeadm) package(s) and go from there. There are more ways, but personally that's where I normally start.

[2020-02-06 15:18] DhruvM1994 commented on #1165
I am trying to establish a cluster where an Ubuntu VM is the master and a Raspberry Pi 3 is a node. I was wondering whether that cluster or a cluster consisting (only) of three Raspberry Pi 3 (1 master 2 nodes) is capbale of hosting Kubernetes AND Linkerd or Istio.
I would be very grateful for further suggestions.

[2020-02-06 18:07] kleimkuhler commented on #4016
After speaking with @siggy, another potential solution brought up is separating the single workflow that we currently have into independent workflows.

This could be something like a workflow for unit tests, KinD integration tests, and cloud integration tests. That way, if cloud integration tests fail and we want to run that workflow it does not require re-running the unit tests and KinD integrati

[2020-02-06 18:09] grampelberg commented on #4016
I'm doing this for the website (separate workflows) and have been happy with it there.

[2020-02-06 19:21] aliariff commented on #1165
@DhruvM1994
k3s is an option, you can also install Kubernetes on arm by following this [tutorial](https://blog.hypriot.com/post/setup-kubernetes-raspberry-pi-cluster/).
And hybrid arch in a cluster is not a problem, so good luck.

[2020-02-06 19:45] kskewes commented on #1165
Kubespray also works great for multi Arch clusters if ansible is suitable for you.

[2020-02-07 00:30] kellybirr opened #4023 "Support for UDP, QUIC, HTTP/3"
## Feature Request
HTTP/3 is in late draft (https://tools.ietf.org/html/draft-ietf-quic-http-23) and uses the QUIC protocol which runs over UDP instead of TCP.  This is going to become very popular, rather quickly.  Linkerd2 should look into options for supporting it.

### What problem are you trying to solve?
Keep everything i love with Linkerd2, and be able to use HTTP/3 in the future.

### How

[2020-02-07 05:44] derrickburns commented on #4017
@grampelberg I installed stable-2.7.0 on my test clusters.  Thanks.  Now, I have to give some serious thought about how I want to bootstrap the secret needed by linkerd. :)

[2020-02-07 07:10] DhruvM1994 commented on #1165
@aliariff @kskewes Thanks for the information.
I was wondering about the compatibility between k8s and k3s. As per k3s, it is fully compatible to k8s. However,  is it possible , for instance, that the Ubuntu VM (master) is on k8s and the Raspberry Pi 3 (node) in k3s?
Does somebody know whether linkerd can be installed on a k3s cluster?

[2020-02-07 07:27] joakimr-axis commented on #1165
Yes, I just deployed linkerd in a (amd64, but still) k3s cluster here and `linkerd check` passes with all the green ticks.

[2020-02-07 08:32] alexellis commented on #1165
What's the latest script or patch we need to get e2e? Does this cover the Rust proxy too?

[2020-02-07 08:56] humboldt-xie opened #4026 "cmd/linkerd: support --token: Bearer token for authentication to the Kubernetes API server"
We use id_token to use Kubernetes api

so we need support Bearer token for authentication to the Kubernetes API server with flags

[code]

[2020-02-07 14:23] alanplatt opened #4029 "On GKE demo pod gets stuck in container creating"
## Bug Report

### What is the issue?
When using linkerd with the cni plugin containers seem to get stuck at "Container creating" even if they have been running successfully previously.

### How can it be reproduced?
Create a GKE cluster with :
* pod and network security polices enabled
* enabled pre-emptible vms.

Install linkerd with following with the following commands
[code]

### Logs, error

[2020-02-07 15:52] grampelberg commented on #4023
It sounds like we'll need to figure out how to MITM things before going down the QUIC code route. TIL that QUIC is encrypted by default! #3190 to track the work on figuring out what to do there.

Do you have any feeling for when ingress controllers like nginx will be adopting this? There was a serious lag time with http/2 (still doesn't work everywhere) because of the painfully slow adoption of th

[2020-02-07 15:53] grampelberg commented on #4017
My recommendation is to have it be checked into git and decrypted at runtime. The other alternative would be sealed secrets.

[2020-02-07 15:54] grampelberg commented on #4026
Is that not in your kubeconfig?

[2020-02-07 16:00] kellybirr commented on #4023
That's a very good question on the ingress.  I don't have a feel for it.  Given that Google has been the champion of QUIC and HTTP/3, I suspect the initial adoption will be in gRPC, used for internal API communication.

[2020-02-07 18:17] derrickburns opened #4030 "Tell me what proxies are out of date"
When upgrading linkerd, updating the control plane is easy.

What is also easy is ending up with proxies that use the older version of the proxies.

It would be nice to have a simple tool to list the proxies that need updating.

[2020-02-07 18:19] grampelberg commented on #4030
This would be a great addition to `check`. With the existing version check, the CLI could list what pods don't match as well.

[2020-02-07 18:31] derrickburns commented on #4030
Hmmm. `linkerd check --proxy` does the trick.  Ooops.

[2020-02-07 18:32] grampelberg commented on #4030
Ahha! I thought we had something like that, perfect.

[2020-02-07 18:32] #4030 closed

[2020-02-07 20:27] #3911 closed

[2020-02-07 21:35] rajdas98 commented on #1726
Hi @grampelberg Is this issue counts in GSOC 2020?

[2020-02-07 22:44] ihcsim commented on #4029
Try use the Ubuntu OS on your nodes. The COS filesystem is [read-only](https://cloud.google.com/container-optimized-os/docs/concepts/security) by default, implying that you can't install the CNI plugin binary.

[2020-02-08 00:35] #2316 closed

[2020-02-08 00:43] #3332 closed

[2020-02-08 10:22] humboldt-xie commented on #4026
no,the token is dynamic,Inconvenient to edit kubeconfig every time

[2020-02-08 10:31] humboldt-xie commented on #4026
#4027

[2020-02-08 11:30] sannimichaelse commented on #3961
Alright. How do I validate or test for the changes made in the values.yaml file @alpeb . I already followed the instructions in the TEST.md file but I don't think its running any test for the yaml file

[2020-02-09 10:31] christyjacob4 commented on #3204
@cpretzer How do you want the versioning of the prometheus image to be handled?
Can it default to the latest version ?
Could you give me an example of what the install command should look like after this feature is implemented?

[2020-02-09 16:07] zaharidichev commented on #4029
Just trying to understand. What do you mena by this? were they running successfully before with the CNI plg-in or without the CNI plugin?

[2020-02-09 20:56] cpretzer commented on #3204
@christyjacob4

We should continue to use the versioning pattern that we use now, which is to pin Prometheus to a particular version. Currently, that is 2.15.1: https://github.com/linkerd/linkerd2/blob/master/charts/linkerd2/values.yaml#L131

We pin the version because we want to ensure compatibility and stability, and we will continue to test against new versions of Prometheus as they are release

[2020-02-09 21:07] christyjacob4 commented on #3204
Thank you @cpretzer That seems to clear a lot of my doubts. I read through the code for install command and I found usages of --registry (dockerRegistry) in root.go and install.go
So I'm guessing that these are the only files Ill need to modify .

Also, Since you mentioned about the syntax of the prometheus image, I was thinking of adding a regex Check in root.go along with the following condition

[2020-02-10 08:24] vic3lord opened #4031 "Ingress-nginx cannot deploy new pods after injected"
## Bug Report

New nginx-ingress-controller pods are not deployed after injecting the sidecar

### What is the issue?

Cannot inject linkerd-proxy into ingress-nginx

### How can it be reproduced?

[code]

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.14.8-gke.33
- Cluster Environment: GKE
- Host OS: COS
- Linkerd version: 2.7

#

[2020-02-10 09:50] alanplatt commented on #4029
@ihcsim

Yes, I found this out early in the installation process but the directory `/home/kubernetes/bin` is writeable. Passing this via --dest-cni-bin-dir to the linkerd install-cni  command works around this issue

[2020-02-10 09:56] alanplatt commented on #4029
@zaharidichev

I have performed a full install including the CNI plug-in and successfully ran the demo app (emojivoto).  After some time we then start to see pods getting stuck.

Here is output showing some of the pods getting stuck in `ContainerCreating`
[code]
Output from `kubectl describe pod linkerd-identity-5cbb6df68-zfztl`
[code]

[2020-02-10 11:13] zaharidichev commented on #4029
@alanplatt It is quite strange that this happens after a bit of time. I have setup a case trying to reproduce that. First of all, what is the reason why these linkerd components are getting recreated at that point in time? I kind of feel this all has to do with the preemptive nodes. Can you check something for me? Can you verify that you have the cni plugin config present on the node where all thi

[2020-02-10 14:18] mayankshah1607 commented on #3505
@grampelberg I think we should close this one now that https://github.com/linkerd/linkerd2/pull/3942 has been merged :)

[2020-02-10 14:38] mayankshah1607 commented on #2734
@VineethReddy02 @grampelberg  Is this still being worked on? I'd like to take up this one if that's okay :)

[2020-02-10 15:18] gamer22026 commented on #3977
Upgraded to edge-20.2.1.Now getting a slightly different "buffer service failed" error.
[code]
Still causes the meshed service to fail with a 502.

[2020-02-10 15:32] kivagant-ba commented on #3961
@sannimichaelse , I guess you can open a PR in WIP/draft mode so the changes will become visible and it will be easier to comment

[2020-02-10 16:02] alpeb commented on #3900
Addressed via #4002

[2020-02-10 16:02] #3900 closed

[2020-02-10 16:24] grampelberg commented on #1726
@rajdas98 yup!

[2020-02-10 16:57] grampelberg commented on #4031
My first guess would be issues with PSP on your cluster. It appears that linkerd is working correctly. Check the events on the replication controller.

[2020-02-10 17:01] grampelberg commented on #4029
Are you running a preemptible cluster and/or one that does autoscaling?

[2020-02-10 17:08] zaharidichev commented on #4029
@grampelberg

Unless I am missing something yes.

[2020-02-10 17:08] grampelberg commented on #4029
I guarantee this is a timing issue in the pods being scheduled while the CNI stuff is coming up and mid-configuration.

[2020-02-10 17:15] grampelberg commented on #2734
@mayankshah1607 let's give @VineethReddy02 a little bit, but I'm unaware of anyone actively working on this one.

[2020-02-10 17:19] grampelberg commented on #3977
This *sounds* like one of the staleness issues that we're working on getting taken care of right now. The next major version of the proxy will have quite a few updates to hopefully address this style of issue. We'll make sure to update the issue and ask for testing when it is ready to go.

[2020-02-10 18:17] vic3lord commented on #4031
Found the issue, ingress-nginx comes with a `LimitRange` object that requires minimum CPU and RAM requests, linkerd sidecar is below this range.

[2020-02-10 18:17] #4031 closed

[2020-02-10 20:05] #2174 closed

[2020-02-10 23:09] alpeb commented on #3635
This was partially addressed in #4001, and will be finished in #4033

[2020-02-11 05:02] VineethReddy02 commented on #2734
Hi @mayankshah1607 you can take this up. I am occupied at this moment.

[2020-02-11 07:46] zaharidichev commented on #4029
@grampelberg I share your suspicions. @alanplatt Can you provide us with some logs from the kubelet so we can verify that this is the case. I think this can be avoided by introducing a bit more sound error handling/retry logic

[2020-02-11 15:12] #3927 closed

[2020-02-11 15:55] vic3lord commented on #3619
Still relevant in stable-2.7 for me

[2020-02-11 16:02] geekyfox90 commented on #2822
The solution is to use Prometheus federation API in order to copy linkerd metrics to the prometheus linked with your prometheus adapter.

This is only an idea, I haven't tried that yet.
https://linkerd.io/2/tasks/exporting-metrics/

I'll update when I get this done.

[2020-02-11 16:14] Pothulapati commented on #3204
@christyjacob4 Can you please create a draft PR on the work that you are planning, so that we can provide better feedback? :)

Also, I think we don't need to have a separate `prometheusRegisry` option, we can just reuse the `registry` flag that is passed and common across all the images. We should just enforce that for `prometheusimage` field too.

Once this is done, To make it more flexible we ca

[2020-02-11 17:06] grampelberg commented on #3619
This is going to need to be a change in the ingress-nginx code to add the correct header.

[2020-02-11 17:27] christyjacob4 commented on #3204
@Pothulapati Please take a look at my draft

[2020-02-11 17:28] #3926 closed

[2020-02-11 17:28] vic3lord commented on #3619
What header would it be? I can test it before contributing 😊

[2020-02-11 17:30] grampelberg commented on #3619
https://linkerd.io/2/tasks/using-ingress/

[2020-02-11 17:48] vic3lord commented on #3619
Thanks @grampelberg, I added these headers to the config snippet already but I guess it needs to be added to auth-snippet as well.

Will try and update here with the results

[2020-02-11 17:52] grampelberg commented on #3619
@vic3lord yeah, the last time I looked, it wasn't possible to add headers to the auth requests. It all ended up being swallowed by the lua stuff and there were no configuration parameters.

[2020-02-11 18:13] vic3lord commented on #3619
So @grampelberg, thanks again! it's working and what I had to do is

[code]

[2020-02-11 18:41] grampelberg commented on #3619
Oh, awesome!! I'd love the PR for docs.

[2020-02-11 18:52] gamer22026 commented on #3977
Guess my options at this point are to stay on 2.6.1 (the last working version for me) or unmesh the failing services. I know the proxy in 2.7 and 2.6.1 are "supposed" to be the same but there's no getting around the fact that in my use case, v2.81.0 works and any version after has the buffer failure issues.

[2020-02-11 20:25] hawkw commented on #3977
@gamer22026 when you see this error, is there a message containing the string "dropping resolution due to watchdog" in the logs as well?

[2020-02-11 21:41] adleong commented on #4026
Thanks @humboldt-xie!  I took a look at your PR and the code looks reasonable.  However, a design goal of Linkerd is that it does as little as possible and lets other tools do what they do best.  In this case, we assume that the kubeconfig completely describes the authentication method and credentials.

Is it possible to address your use-case with some automation or a wrapper script which automati

[2020-02-11 22:01] gamer22026 commented on #3977
@hawkw Nope just those. Over 5K failures on one pod in a little over an hour.

[2020-02-11 22:10] hawkw commented on #3977
Hmm, that's interesting, thanks!

The change in linkerd/linkerd2-proxy@588609b added a "watchdog" timeout that fires to cancel and restart a service discovery resolution for a given destination if it is observed to not be updated after a period of time. This is in order to help prevent stuck service discovery resolutions. I think if your discovery tasks were being killed by the watchdog timeout in

[2020-02-11 22:12] hawkw commented on #3977
I wonder if the watchdog timeout fired way in the past (and the corresponding log line was lost due to log rotation or something), but the discovery task was never restarted?

[2020-02-11 23:20] gamer22026 commented on #3977
Got it all in ELK so think I got all the lines.

[2020-02-12 00:24] wmorgan opened #4045 "unify "trust anchor" and "trust root" terminology between `install` and `check`"
The `linkerd install` command takes a ` --identity-trust-anchors-file` argument, but the output of `linkerd check` uses "trust root". Whatever the terminology, these should ideally be the same.

[2020-02-12 01:57] cpretzer commented on #3599
Thanks for clarifying @nickjackson.

I'd love to find root cause on this. We can set up a debug session together, if you have time.

[2020-02-12 04:41] christyjacob4 commented on #3204
@Pothulapati Regarding your suggestion, what if the user wants to fetch prometheus image from a different registry as opposed to grafana ?

[2020-02-12 04:49] Pothulapati commented on #3204
@christyjacob4 that's a valid concern, but we can't keep adding registry flags for every image and for all use cases. They can always kustomize or other tools for unique/edge cases like that.

But supporting a common use case of having a registry flag that they can use for all images is important, and that's what we should be solving.

[2020-02-12 04:55] christyjacob4 commented on #3204
@Pothulapati Thanks for the clarification :)

[2020-02-12 05:56] cpretzer commented on #3204
I agree with @Pothulapati <https://github.com/Pothulapati> here. I don’t
see a need to use a registry other than the official one.

If we did, that would require more extensive testing.

On Tue, Feb 11, 2020 at 20:55 Christy Jacob <notifications@github.com>
wrote:

[2020-02-12 10:29] lohmag opened #4046 "Per route metrics labels is not the same as generic ones"
When `ServiceProfile` is used it activates ability to expose per route metrics for Prometheus and they look like that
[code]
Now look at default metrics
[code]
As it seen per route metrics doesn't contain a lot of this extra labels which is very helpful for grafana dasboards and etc.
Maybe it is was made intentionally i don't know just my pain with linkerd implementation.

[2020-02-12 10:44] alanplatt commented on #4029
@zaharidichev It appears that a whole node goes bad and all pods on that node get stuck. Here is the kublet log for one of the sandbox events showing a bad node

[code]

Configuration files in /etc/cni/net.d from bad node
[code]

Content of  01-linkerd-cni.conf
[code]

[2020-02-12 10:45] alanplatt commented on #4029
I confirm this is a preemptible cluster

[2020-02-12 10:48] zaharidichev commented on #4029
@alanplatt this does not look quite right. Can you check what the config files are on the "good" nodes and what the content of them is ?

[2020-02-12 12:38] dmitri-lerko opened #4048 "Provide prometheus metrics for inbound|outbound router current and maximum capacity"
## Feature Request
Provide prometheus metrics for inbound|outbound router current and maximum capacity.

LINKERD2_PROXY_INBOUND_ROUTER_CAPACITY and LINKERD2_PROXY_OUTBOUND_ROUTER_CAPACITY allows for defaults to be overwritten, however, as operator I am not aware of what maximum and current values are.

https://github.com/linkerd/linkerd2-proxy/blob/2199e65ae076b6fa55a973fc4e385c4f166c9389/linkerd/

[2020-02-12 15:28] gamer22026 commented on #3977
@hawkw Apologize. You were right! (bad Kibana mojo on my part).
[code]
That's first appearance of the failure after the watchdog timeout fired.

[2020-02-12 15:59] grampelberg commented on #4046
@adleong any ideas?

[2020-02-12 16:01] zaharidichev commented on #4029
@alanplatt @grampelberg So I was able to repro this. It is a timing issue but not related to individual pods per se. There is a race condition happening, where the CNI pod fires up and checks the CNI plugin list config directory. It has some logic to figure out whether there is another CNI plugin and if there is it appends its config to the config of the existing plugin. In this case we have the c

[2020-02-12 16:24] christyjacob4 commented on #3343
Hey @grampelberg  if @bmcstdio isn't working on this anymore, I'd like to take this up

[2020-02-12 16:37] grampelberg commented on #3343
@christyjacob4 go for it.

[2020-02-12 17:05] gamer22026 commented on #3977
Happened again. (second entry is from linkerd-destination pod, which happened at the same time as the watchdog)
[code]

[2020-02-12 17:22] #3562 closed

[2020-02-12 17:27] #3619 closed

[2020-02-12 18:07] adleong commented on #3950
This is complicated because of two important goals that we should maintain for Linkerd upgrades:

* Upgrading Linkerd should incur no Linkerd downtime
* Upgrading Linkerd should not unexpectedly change any traffic shifts

Additionally, Linkerd reads traffic split resources and takes action based on them, but it does not write or modify them in any way.

I think to do this properly, we need a two p

[2020-02-12 18:24] ihcsim commented on #4029
Can `linkerd check --cni` detect this? Can you share a bit about how you manually fixed the config? Just wanna see if it's possible to update the CNI with some config reconciliation logic. Of course, we don't want anything Calico-specific in our reconciliation code.

[2020-02-12 18:39] zaharidichev commented on #4029
@ihcsim I will share that in a bit.  The linkerd check will not be very useful on that one. You need access to the filesystem on the specific node where things are messed up. You can maybe look at pods events that are emitted. And even then, detecting it is not quite enough because in order to fix it, you would need to get on the node and fix up the config, etc etc...

[2020-02-12 19:26] kohsheen1234 commented on #2073
Hey @grampelberg I'd like to take this up

[2020-02-12 19:29] kohsheen1234 commented on #3337
@grampelberg  Could you assign it to me?

[2020-02-12 19:35] grampelberg commented on #2073
@kohsheen1234 go for it!

[2020-02-12 19:44] christyjacob4 commented on #3343
@grampelberg I'd like to understand this issue a little better. Do you have any more documentation on it?
Thanks

[2020-02-12 19:46] grampelberg commented on #3343
https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

[2020-02-12 19:55] christyjacob4 commented on #3343
@grampelberg  Can you tell me how I can test this?

[2020-02-12 19:56] grampelberg commented on #3343
Configure an API server and leave those flags off?

[2020-02-12 19:58] christyjacob4 commented on #3343
okay I will try that and let you know if i face any difficulties along the way

[2020-02-12 23:18] hawkw commented on #3977
Oh, fantastic, that's definitely a clue! Thanks for catching that.

[2020-02-13 00:03] poochwashere commented on #2704
Hi @olix0r, I was wondering if there is any update on this. We experience the same reset connection errors in our apps. I was reviewing the workaround, but I really do not want to put the binary in all of our container images.

[2020-02-13 03:36] #2961 closed

[2020-02-13 03:36] #3657 closed

[2020-02-13 09:21] #3980 closed

[2020-02-13 11:56] tarvip commented on #3935
In our test env we also saw this in `stable-2.7.0`:
[code]

We are not using cert-manager integration.

Rolled back to 2.6.1.

[2020-02-13 13:20] zaharidichev opened #4049 "Fix racy CNI install"
Currently our CNI plugin supports two modes of install:

- Stand - alone - without chaining to other CNI plugins
- Chained - when chaining with other CNI plugins

The way chaining works is that if the cni install script that runs sees that there is already a plugin configuration present in the folder it will update it and chain its config to this configuration. In the case of Calico that would be

[2020-02-13 13:21] zaharidichev commented on #4029
@alanplatt The problem along with a possible solution are described in #4049. We are always welcoming external contributions if you are keen to take a stab at it :)

[2020-02-13 14:55] alpeb commented on #4016
Currently being addressed in #4039

[2020-02-13 15:55] grampelberg commented on #2704
@poochwashere unfortunately, there's not much Linkerd can do here. The options are:

- [Sidecars as first class citizens in Kubernetes](https://github.com/kubernetes/enhancements/issues/753)
- Adding `linkerd-await` binary to your container.
- Sticking an arbitrary sleep before your process starts in the container.

[2020-02-13 20:47] Vineet-Sharma29 commented on #3983
@adrijshikhar Are you still working on this issue? If not, I would like to work on it.

[2020-02-14 00:31] supra08 commented on #2956
Hi @klingerf! I would like to work on this issue.

[2020-02-14 02:40] christyjacob4 commented on #4014
@adleong I'd like to take this up :)
Please let me know where I can start

[2020-02-14 07:12] humboldt-xie opened #4055 "destination return expired ip when endpoints in namespace kube-system"
the key code:
[code]

full step:

[code]

the 172.20.3.140 is invalid

I recommend using svc ip when encpoints in kube-system

[2020-02-14 10:38] charlierm commented on #3935
We're seeing the same issue in `stable-2.7.0`

[code]

[2020-02-14 10:44] supra08 commented on #3958
Hi @grampelberg, I would like to work on this issue.

[2020-02-14 12:32] sannimichaelse commented on #3997
Hi @grampelberg , Please can you assign this task to me, I would like to work on it.

Also I will need more clarity on the question

[2020-02-14 13:50] supra08 commented on #3958
@grampelberg I don't exactly understand the proposed solution. Did you mean adding the complete string `linkerd.io/control-plane-ns=linkerd` as the namespace for control-plane?

[2020-02-14 14:52] alpeb commented on #4016
Fixed via #4039

[2020-02-14 14:52] #4016 closed

[2020-02-14 15:51] grampelberg commented on #2956
@supra08 go for it! Looks like you got a PR up and everything =)

[2020-02-14 15:55] grampelberg commented on #4055
The service IP would break load balancing, which would be a weird gotcha. Do you know why the endpoint stale in k8s for this?

[2020-02-14 15:57] grampelberg commented on #3997
@sannimichaelse take a look at the issue, there's quite a bit of detail there. You'll be modifying the prometheus configuration.

[2020-02-14 15:58] grampelberg commented on #3958
@supra08 that label needs to be added to the linkerd namespace definition.

[2020-02-14 18:00] ihcsim commented on #4014
@christyjacob4 This issue involves updating the Linkerd integration test suite. You can find more information on how to run the integration test [here](https://github.com/linkerd/linkerd2/blob/master/TEST.md#integration-tests).

[2020-02-14 18:26] ihcsim commented on #3997
@sannimichaelse What is your question?

[2020-02-14 18:50] codeman9 commented on #4049
https://github.com/linkerd/linkerd2/issues/2219

[2020-02-14 18:54] sannimichaelse commented on #3997
I think it's clear now, will have to change the retention time on the prometheous configuration from 6h to 1h.

[2020-02-14 19:00] ihcsim commented on #3997
That's correct. Ideally, there should be a before/after comparison on the Linkerd Prometheus' memory and CPU usage, to justify this change. You can take a look at how I did it previously at https://github.com/linkerd/linkerd2/issues/3258#issuecomment-526377964.

[2020-02-14 19:10] sannimichaelse commented on #3997
Alright will compare the changes

[2020-02-14 20:42] vijaygos opened #4059 "Does automatic TLS work for grpc?"
I can't seem to get TLS working out of the box of GRPC connections on my clusters. Is that a known caveat? I can proxy grpc traffic through the linkerd-proxy but the traffic is unencrypted.
What are the pipeline goals for this?
Also, is there a hack to get this working in the current version?

[2020-02-14 20:59] grampelberg commented on #4059
Yes, mTLS works for gRPC. Please come to the slack channel so that we can help you there.

[2020-02-14 20:59] #4059 closed

[2020-02-15 08:12] #4045 closed

[2020-02-15 10:07] christianhuening commented on #3935
@tarvip did that completely resolve the issue? In other words is rolling back to 2.6.1 the solution?
Did the rollback went smoothly?

[2020-02-15 16:45] humboldt-xie commented on #4055
diff,see the code ,

[code]

the endpoint ip never update until restart destination

[2020-02-15 18:38] adrijshikhar commented on #3983
no i am not

[2020-02-17 05:22] Ohmakhisya opened #4060 "Unable to get Linkerd Dashboard: This does not match /^(localhost|127\.0\.0\.1| :-has been denied for security reasons"
Hello Team,

I am trying to install Linkerd on top of my Kubernetes 3 node cluster. After the Linkerd installation i am not able to get Linkerd Dashboard.

Error:- This does not match /^(localhost|127\.0\.0\.1|linkerd-web\.linkerd\.svc\.cluster\.local|linkerd-web\.linkerd\.svc|\[::1\])(:\d+)?$/ and has been denied for security reasons.

All my pods are in running status. and 2/2 checks success, fi

[2020-02-17 09:08] DhruvM1994 commented on #1165
@aliariff I would like to tryout your steps regarding the linkerd setup on the Raspberry Pi. However, I am not sure were to insert the following part:
- ```DOCKER_TRACE=1 BUILD_DEBUG=1 bin/docker-build```
- ```DOCKER_TRACE=1 BUILD_DEBUG=1 bin/docker-push-deps```
- ```DOCKER_TRACE=1 BUILD_DEBUG=1 bin/docker-push stable-2.4.0```

[2020-02-17 09:13] aliariff commented on #1165
@DhruvM1994
that part you run it on terminal

[2020-02-17 09:52] DhruvM1994 opened #4065 "Linkerd installation on Ubuntu VM"
Issue Type:

- [X] Bug report
- [ ] Feature request

**What happened**:
I am trying to install linkerd on an Ubuntu VM. However, the ```linkerd check --pre``` command reports that "No clock skew detected" is not fulfilled.

**What you expected to happen**:
No pre-check failure.

**How to reproduce it (as minimally and precisely as possible)**:
-Install Ubuntu VM
-Build kubernetes cluster on the VM

[2020-02-17 14:17] jbuet commented on #3935
We had the same issue in stable-2.7.0. Rolled back to 2.6.1 and the problem didn't happen again.

[2020-02-17 14:31] alpeb commented on #4060
Hi @Ohmakhisya
That check was introduced in 2.7.0 to avoid DNS-rebinding attacks, as explained [here](https://linkerd.io/2/tasks/exposing-dashboard/#dns-rebinding-protection). If the instructions in that doc don't work for you, please let me know how you're trying to access the dashboard.

[2020-02-17 14:44] charlierm commented on #3935
We rolled back this morning, not seen any issues since.

[2020-02-17 15:42] zaharidichev opened #4063 "Export Multicluster Metrics to Prometheus"
Once we have the Multicluster Mirror working and merged, we need to export metrics about the state of our mirrored clusters to Prometheus. Things that come to mind are, last_update, gateway_readyness , num_services_mirrored, etc.

[2020-02-17 15:45] zaharidichev opened #4064 "Implement Liveliness checks for Remote cluster Gateways"
Once we have Service Mirroring, we probably want to add some logic that periodically checks whether our remote gateways are healthy.  There are a couple of levels of granularity to this one and we need to probably decide on one of them (or expose configuration to adjust them).

1. Ensuring that the remote gateway can be reached on the Ip address that is advertised on the specific port that we targ

[2020-02-17 16:17] #2558 closed

[2020-02-17 16:48] grampelberg commented on #4060
Please jump into slack for questions like this.

[2020-02-17 16:48] #4060 closed

[2020-02-17 16:48] #2947 closed

[2020-02-17 16:56] grampelberg commented on #4063
We should think through what kind of CLI output we'd want here as well. What does it mean for everything to be "healthy" and "up to date"? What do we need to know to explain why it is either unhealthy or not up to date?

[2020-02-17 17:06] grampelberg commented on #4064
I don't think we should do #2 remotely. My thinking is that there's a `/ready` endpoint on the gateway which is checked externally. The `/ready` endpoint on the gateway could then either just return a 200 naively or implement some logic that tries to contact backend services. FWIW, even that feels wrong ... k8s should be guaranteeing the reachability internally with readiness checks on the pods an

[2020-02-17 17:53] grampelberg commented on #4055
It sounds like we just need to remove those lines? Why should we be using the service ip and how would any of this help the invalid output that you're getting from `kubectl`?

[2020-02-17 19:50] cpretzer commented on #4065
@DhruvM1994 Please have a look at #3943 because it sounds like the same behavior that you describe

[2020-02-17 22:08] grampelberg commented on #4017
@derrickburns I think we've got this fixed for you now, please reopen if there's something missing.

[2020-02-17 22:08] #4017 closed

[2020-02-17 22:24] adleong commented on #4005
Hey @derrickburns, and luck with this?

[2020-02-17 22:28] adleong commented on #4046
@lohmag that's correct, the per-route metrics have a different set of labels from the per-endpoint labels because they are measured in different places in the proxy.  A single endpoint, for example, could be used by multiple routes.

If you give us more details about the problem you're trying to solve or the grafana dashboard you want to create, we can give more concrete advice about which metrics

[2020-02-17 22:34] adleong commented on #4048
Hi @dmitri-lerko!  There's something strange going on here: the inbound router to `linkerd-web` should definitely not have 100 entries.  Could you place provide us with the metrics from the `linkerd-web` proxy?  They can be retrieved with this command:

[code]

[2020-02-17 23:08] christyjacob4 commented on #4014
@adleong How can I reproduce this?

[2020-02-17 23:33] dmitri-lerko commented on #4048
Hi @adleong

We are running linkerd-web with ```config.linkerd.io/skip-inbound-ports: "8084"``` now to avoid this problem. I will be able to remove this workaround and gather required metrics tomorrow.

We've hit this issue in production today on our own application and it severely degraded one of our services.
[code]
We had to un-mesh this service for the time being until a real solution can be f

[2020-02-18 00:49] adleong commented on #4048
We're keen to help!  Definitely let us know when you get those metrics and we'll do our best to get to the bottom of this.

[2020-02-18 07:22] DhruvM1994 opened #4066 "No linkerd support for MSYS_NT-10.0/x86_64"
### What is the issue?
I would like to install linkerd on a single-node kubernetes cluster using docker desktop on a Windows 10 machine.
I am trying to install linkerd using ```curl -sL https://run.linkerd.io/install | sh```. However, it reports
```There is no linkerd support for MSYS_NT-10.0/x86_64.```

### How can it be reproduced?
-Install docker desktop and and start kubernetes
-Start installa

[2020-02-18 07:30] drholmie commented on #4066
Hey there! (Hope I've understood the problem correctly) By default the Linkerd version installed using `curl -sL https://run.linkerd.io/install | s` is not meant for windows (hence the error saying no support). To find the version for windows check the [releases](https://github.com/linkerd/linkerd2/releases/) page and after installing the cli, change it's name to linkerd and add it to your path in

[2020-02-18 07:32] #4066 closed

[2020-02-18 08:45] lohmag commented on #4046
If you look for default Grafana dashboard it shows per deployment traffic inside it. But i cannot add per-route metrics inside this Inbound/Outbound per deployments destinations. So it is needed to create the second set of graphs which shows per service metrics. Unification would be good i think.

[2020-02-18 10:45] dmitri-lerko commented on #4048
Hi @adleong

Thank you for your kind support. I've removed ```config.linkerd.io/skip-inbound-ports: "8084"``` and navigated couple of pages in the dashboard until problem has re-appeared.

Please see output of ```linkerd metrics -n linkerd deploy/linkerd-web``` attached:
https://gist.github.com/dmitri-lerko/2f85d97899da54b72657c85fdd1c0dc8

Please note, I've replaced first two octets with 255.255.

[2020-02-18 15:41] ricky26 opened #4067 "Linkerd prevents pods from being evicted by Cluster Autoscaler"
## Bug Report
After installing linkerd and setting our workload namespaces to have the injection annotation, we noticed that Cluster Autoscaler was only scaling the cluster up.

### What is the issue?
When linkerd injects a pod, it creates an `emptyDir` volume for volatile storage. This breaks the rules CA uses to determine whether pods are evictable when it's not been explicitly stated. (Pod shou

[2020-02-18 16:51] grampelberg commented on #4067
I don't know much about cluster autoscaler. Does it assume pods are safe to evict if the annotation isn't there?

[2020-02-18 18:31] ricky26 commented on #4067
@grampelberg if the annotation in specified, it uses that, otherwise there's a series of criteria (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node).

In particular, linkerd makes pods fail the 'Pods with local storage' check, since `emptyDir` is considered local storage.

[2020-02-18 18:33] grampelberg commented on #4067
I gotcha, that's helpful. I'm concerned that having the annotation added by the injector can have unintended consequences. Feels like we'll have to implement the implicit list and keep it up to date on a per-autoscaler version/configuration. That all seems insanely fragile from my perspective.

[2020-02-18 18:35] ricky26 commented on #4067
@grampelberg I agree - it's a pretty raw deal either way. On the one hand, functionality breaks with linkerd injection turned on as it stands. On the other hand, you're beholden to what are essentially implementation details of CA.

[2020-02-18 18:39] grampelberg commented on #4067
No matter what, we should get some autoscaling docs up on the website. Missing resource requests get in the way of HPA as well.

[2020-02-18 18:50] adleong commented on #4046
Agreed that these metrics and the labels which are available at different points are confusing.  I don't think we can change the label scopes immediately, but this is definitely something to keep in mind as the Linkerd metrics system evolves.

[2020-02-18 19:19] adleong commented on #4048
Thanks @dmitri-lerko, these metrics are fascinating.  It looks like your linkerd-web pod is being accessed by requests which don't have a Host or Authority header, and use a variety of different IP address to access the pod.  Thus the large number of different values for the `dst` label in the metrics.  Each of these different dsts uses a distinct slot in the Linkerd's router cache which is why yo

[2020-02-18 20:35] mmiller1 commented on #3935
We experienced these same symptoms when the default memory limit that shipped with helm was too low for the control plane components on our clusters of > 1k pods (smaller clusters were fine, and didn't demonstrate this problem). increasing the limit from 250Mi to 500Mi on both the destination & controller deployments seems to have helped.

[2020-02-18 21:07] #2073 closed

[2020-02-18 21:34] kforsthoevel commented on #3977
We just had the same issue. Suddenly, network connections staled. A lot of `inkerd2_app_core::errors: Failed to proxy request: buffered service failed: load balancer discovery error: discovery task failed` appeared. As well as the 'watchdog' messages: `linkerd2_proxy_discover::buffer: Dropping resolution due to watchdog timeout=60s`

<img width="1008" alt="grafik" src="https://user-images.githubus

[2020-02-19 00:54] #3220 closed

[2020-02-19 02:57] humboldt-xie commented on #4055
the kubectl get ip is valid.

linkerd return  ip 172.20.14.124 is invalid

[2020-02-19 08:00] tomstreet opened #4069 "Excessive memory usage since upgrade to stable-2.7.0"
We have been running a Kubernetes cluster (v1.11.5) in AKS for a year or so using linkerd stable-2.0.0. Recently we have built a new AKS cluster (v1.15.7) and upgraded linkerd to stable-2.7.0 but since upgrading we are seeing really high memory usage from the linkerd proxies.

We have a service that sits on the edge and proxies the to the correct service in the cluster. In the old cluster each lin

[2020-02-19 08:40] vukhanhtruong opened #4071 "Failed to proxy request: route not recognized"
## Question

### What is the issue?
I have 2 deployments, traefik and my app.
I also use prometheus custom metrics server which is making request to my app for autoscaling purposes.

[code]
If enabled prometheus scrape, my app run into the following error.

`linkerd2_app_core::errors: Failed to proxy request: route not recognized`

So that, it causes the 502 error code sometimes when accessing my

[2020-02-19 11:58] cpressland commented on #3977
So I've just witnessed the same thing in one of our pods in our staging environment on :

[code]

Output of `kubectl version`
[code]

Output of `linkerd version`

[code]

Output of `linkerd check`

[code]

Deleting the pod resolved the issue.

[2020-02-19 14:01] tomstreet commented on #4069
Looks like I have managed to fix this:

The edge service polls a SQLServer DB roughly every minute and I had forgotten to configure the proxy to ignore the port. When I added the `config.linkerd.io/skip-outbound-ports` annotation to ignore the port, the memory issue went away and it is now down to roughly 13MiB. I'm fairly sure that in stable-2.0.0 the when the port wasn't ignored, it just failed

[2020-02-19 14:50] #3961 closed

[2020-02-19 15:57] grampelberg commented on #4055
From your paste:

[code]

That contains 172.20.14.124, right?

[2020-02-19 16:08] dmitri-lerko commented on #4048
Hi @adleong ,

Thank you for your explanation of what metrics imply. Would a below query be correct in finding instances where we are running _hot_ on router cache?
[code]
As we use prometheus federation, we have metrics from the time when we've experienced various issues with the router cache. One of the curious things that I can observe is that this metric seem to exceed 100. Does that sound rig

[2020-02-19 16:12] grampelberg commented on #4069
I'm impressed that the connection worked at all. As SQL is a server speaks first protocol, we can't do protocol detection. It should have just hung indefinitely (which'd explain the ballooning memory). Was there an accompanied change in your client versions or configuration for SQL?

[2020-02-19 16:22] edjwhho opened #4073 "Linkerd to use kong ingress settings/setup?"
Hi there,

Im trying to get linkerd working with kong ingress in AKS, i have following the instructions on the installation and injection instruction but when I try to follow the https://linkerd.io/2/tasks/using-ingress/
I cant find out which annotations to use for kong ingress controller?
can you help please?

---

- Mailing List: https://lists.cncf.io/g/cncf-linkerd-users

- Slack: https://slack

[2020-02-19 16:27] grampelberg commented on #4073
We'd love documentation on how to do it! I've not used Kong, so I can't make any recommendations there.

[2020-02-19 17:07] tomstreet commented on #4069
No changes, the only change was in the k8s deployment yaml as part of the migration from linkerd 2.0 to 2.7. In the past we caught this missing ignore port config due to the connection failing, but we missed it this time as it appeared to work fine.

[2020-02-19 17:41] adleong commented on #4048
My PromQL isn't the strongest, but I think the query is something like this:

[code]

It sounds like these exposed services have been exposed as NodePort services and your LB is load balancing over all nodes in your cluster, as you said.  I don't know the details of how configurable this is in GKE, but it would be ideal if your exposed service were of type ClusterIP or LoadBalancer.  I believe thi

[2020-02-19 19:21] supra08 commented on #3622
@zaharidichev I would like to work on this issue.

[2020-02-19 19:24] Enrico2 commented on #3751
This just happened again, not while zk was rolling or anything.
Both Kafka and linkerd logs grabbed. Manually killing the linkerd-proxy container from the node released things.

[code]

[2020-02-19 19:45] Enrico2 commented on #3751
We were in a reproducible state, I managed to change the log level of the proxy to debug before attempting to delete the node. Got some more data, but it doesn't look too interesting:

[code]

It's stuck there now.

[2020-02-19 19:47] Enrico2 commented on #3751
I don't have permissions to re-open the issue.

[2020-02-19 20:34] alpeb commented on #3992
For handling the multiple host options we can add to the ingress an annotation like
[code]
WDYT about expanding the set of `cluster` cli subcommands from #4070 with another subcommand for triggering the mirroring of a service? It could create the ingress resource for the service, with all the annotations like the one above (and whatever else is going to be needed for [forcing nginx to route to the

[2020-02-19 21:12] zaharidichev commented on #3992
@alpeb I think a command like that would make much sense and is a great idea. The only thing I am hesitant about is coupling that too tightly with nginx ingress and particularily the Ingress Resource. @grampelberg WDYT?

[2020-02-19 21:25] grampelberg commented on #3992
Honestly, I don't think we should use an ingress at all. It feels like a simple nginx.conf can do everything we need.

[2020-02-19 21:32] adleong commented on #3992
I've been going back-and-forth with this.  The nice thing about nginx-ingress is that they have a fairly sophisticated nginx config that appears to have a lot of things tuned and configured outside of just the routing logic.  If we were to write our own simple nginx.conf, we would need to figure out which of those settings to include, which of the plugins we need, etc. to get to a production-ready

[2020-02-19 22:16] ihcsim commented on #3622
@supra08 Thanks for your interest. It looks to me there are more questions than answers in this issue so far. Any thoughts on how you would go about solving this? The goal is to provide a command to delete all "live" Linkerd namespace-scoped and cluster-scoped resources, regardless of the Linkerd version.

For additional context, currently, we are using either `linkerd install --ignore-cluster|k d

[2020-02-19 22:29] adleong commented on #3622
Is it possible to accomplish a full delete of Linked by using `kubectl delete` with a label selector or using `kubectl apply --prune` with a label selector?  Is there a label that we have on all Linkerd resources?

[2020-02-19 22:37] adleong commented on #3992
Of course, the above requires Linkerd.

It's remarkably hard to get an nginx config that simply routes the same way as Kubernetes does.  For example, nginx doesn't use /etc/resolv.conf which means that it must be explicitly configured with a DNS server and it will not use the search domains which means that it cannot resolve Hosts which are not fully qualified.  That can probably be resolved with

[2020-02-19 23:08] Enrico2 commented on #3751
It seems we can consistently reproduce it right now.

[2020-02-19 23:45] ihcsim commented on #3751
Taking a random stab here: any idea if that duration corresponds to this particular kafka setting: `--override connections.max.idle.ms=600000`?

[2020-02-20 00:05] Enrico2 commented on #3751
`2864.101614251 - 2678.268617046 = 185.832997205`, so, not 600 seconds.

Got an Update though!

we gave the proxy some sleep time before getting the SIGTERM and the pod didn't get stuck! (we gave it 60 seconds but Kafka was done in about 5)

[code]

[2020-02-20 00:14] grampelberg commented on #3751
Linkerd doesn't actually provide much value for this kind of traffic, so you might just be better of skipping inbound/outbound ports for all the deployments that use kafka/zookeeper.

[2020-02-20 00:18] grampelberg commented on #3992
I'm sensitive to figuring out how to include an nginx-ingress install in the linkerd install vs just using nginx. That said, just using nginx might definitely be more complex.

[2020-02-20 00:20] Enrico2 commented on #3751
We've discussed this, and the consensus seems to be that people want the # connections and bytes/sec data.

[2020-02-20 05:31] kohsheen1234 commented on #2179
@adleong I would like to take up this issue :)

[2020-02-20 05:40] ihcsim commented on #4071
@vukhanhtruong To confirm my understanding, you use Prometheus to scrap your service that is injected with the Linkerd proxy, and other services are receiving 502s from this service? Does your node have enough resources? Any errors in your service's logs? Is this consistently reproducible on another cluster?

[2020-02-20 05:44] #3978 closed

[2020-02-20 06:12] humboldt-xie commented on #4055
sorry, i make a mistake on the issue,  from my paste ,i stop the mesh ,so we get right on linkerd return

follow the step below,you can get the same:
[code]

[2020-02-20 07:09] vukhanhtruong commented on #4071
@ihcsim
_you use Prometheus to scrap your service that is injected with the Linkerd proxy, and other services are receiving 502s from this service?_
Yes, I was running the CURL command to my service and it shows up some 502 response code.

 _Does your node have enough resources?_
It does.

_Any errors in your service's logs?_
No.

_Is this consistently reproducible on another cluster?_
Haven't try

[2020-02-20 08:47] jon-walton opened #4076 "automating the creation of identity-trust-anchor"
Hello you lovely people!

**Short summary:**

`linkerd-config` configmap contains

[code]

Is this still required by the linkerd control plane if we also deploy a `linkerd-trust-anchor` secret? as per https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/#save-the-signing-key-pair-as-a-secret

[code]

**Long version:**

We currently deploy the manifest generated by `linke

[2020-02-20 09:10] jon-walton commented on #4076
this is the terraform config (untested so probably doesn't work but hopefully helps with understanding what we're doing)

[code]

[2020-02-20 09:12] devsinghnaini commented on #4076
Hi Jon, You can do something like
 kubectl get  secret linkerd-identity-issuer -n linkerd -o 'go-template={{index .data "ca.crt"}}'|base64 --decode >ca.crt
and thn put that ca.crt in
helm install linkerd  --set-file global.identityTrustAnchorsPEM=ca.crt

OR

helm install linkerd  --set global.identityTrustAnchorsPEM="`kubectl get  secret linkerd-identity-issuer -n linkerd -o 'go-template={{index .

[2020-02-20 09:14] jon-walton commented on #4076
hi @devsinghnaini our cluster deployment and bootstrapping is 100% automated.

We create the cluster with Terraform and use the gitops method to deploy the applications (including linkerd) to the cluster.

Storing the trust anchor in git is not a possibility for us. We don't actually run the helm command ourselves, it's automated by ArgoCD

[2020-02-20 10:18] Ohmakhisya commented on #4060
Hi alpeb,
Thanks for the reply,
i have referred this link its not helping me. i am getting the attached error. Before i was getting the dashboard and able to access the dashboard following official documentation. But last 1 week i am getting the below error. Kindly look into the issue.
[Linkerd issue.docx](https://github.com/linkerd/linkerd2/files/4230094/Linkerd.issue.docx)

[2020-02-20 10:22] dmitri-lerko commented on #4048
Hi @adleong ,

Thank you for this.

Per [GKE Ingress documentation](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#multiple_backend_services):

It looks like I am stuck with the NodePort networking.

Question:
Is the only solution to this to manually modify LINKERD2_PROXY_INBOUND_MAX_IN_FLIGHT  and LINKERD2_PROXY_OUTBOUND_MAX_IN_FLIGHT ENV vars on services exposed via the NodePor

[2020-02-20 11:30] zaharidichev commented on #3992
Have been digging into that this morning and I have to agree. This is a bit of a rabbit hole. @adleong provided some quite useful regexes that can be used to rewrite to the correct host. However using an ingress resource that does not require Linkerd prooves quite hard indeed. So a few things that I found out:

1. Adding a configuraton with a config-snippet annotation just dumps the snippet in the

[2020-02-20 12:33] zaharidichev commented on #4076
So the `linkerd-trust-anchor` secret is actually not part of the linkerd chart at all. This is simply a secret that cert-manager uses to hold the anchors used to issue certs and write them in some other arbitrary secret (in our case that is the linkerd-identity-issuer one). So that is to say that Linkerd does not really know anything about the linkerd-trust-anchor secret.

So the reason why the an

[2020-02-20 13:05] jon-walton commented on #4076
thanks @zaharidichev I'm definitely not looking to rotate the trust anchor, as you said... bad things will happen.

thanks for explaining further how it's used from the config.

would you be open to a pull request where if `IdentityTrustAnchorsPEM` is an empty string,

https://github.com/linkerd/linkerd2/blob/77af716ab244172462a16cb676d4adf4aead3455/pkg/charts/linkerd2/values.go#L79

 we'll load i

[2020-02-20 13:19] phxql commented on #2783
So to clarify: can i use disable-identity in production and just live without tap or will this seriously harm the workloads?

[2020-02-20 13:27] zaharidichev commented on #4076
@jon-walton I am afraid this will also not work. Do you effectivelly want ot install linkerd with an empty anchor and then let it load it from some secret on demand? The trust anchor needs to be known in advance of installing Linkerd.  How do you plan going about what you are proposing ?

[2020-02-20 14:49] jon-walton commented on #4076
yes, I want to be able to stand up a new cluster running linkerd with 0 input from a human. We current do this via `linkerd install ... > manifest.yaml` and saving the manifest to git to be reused, but that puts private keys in the repo and all clusters use the same identity keys, which I don't like.

What's the hurdle? Are the control plane proxies deployed differently to data plane proxies?

Ano

[2020-02-20 14:56] zaharidichev commented on #4076
SO yes, they are deployed differently as their proxy definition is present from the get go, hence they need the anchors. You can do all that with a helm hook. Take a look at the PR that I linked to.

Alternativelly, why dont you just write a script that fetches your anchors from a secret and does a `helm install` ?

[2020-02-20 15:36] #2956 closed

[2020-02-20 16:32] grampelberg commented on #3622
@ihcsim should we also delete running proxies?

[2020-02-20 16:58] grampelberg commented on #4055
Ahha, that makes way more sense! Up for a PR? @adleong any ideas why we'd just not bother doing discovery on `kube-system`?

[2020-02-20 17:00] grampelberg commented on #4071
@vukhanhtruong you're saying that the prometheus scrape has 502s occasionally? Or that requests from your application 502 occasionally?

[2020-02-20 17:28] grampelberg commented on #4060
@Ohmakhisya this is a configuration error on your side. You need to either rewrite the host header or change the regex. Please jump on slack if you'd like more help on the issue.

[2020-02-20 18:09] kleimkuhler opened #4078 "Add minimal release workflow"
## Motivation

A release workflow will be the only triggered workflow on `push.tags` events.

As a first step in automating the release process, it should assert that
integration tests pass once the docker images have been tagged.

It then would need to run the `chart_depoloy` job.

## Solution

This workflow should:
- Build the docker images on the Packet Host
- Tag the docker images with the rel

[2020-02-20 18:10] grampelberg commented on #3992
This is my preference. We're going to rely on linkerd's client side and should be able to make some big shortcuts in the nginx.conf because of this. FWIW, I'm not set on using nginx either. We could do this with a little bit of envoy config as well. Don't need an xDS endpoint to do this kind of rewriting.

[2020-02-20 18:15] kleimkuhler opened #4079 "Add release tag creation script"
## Motivation

Creating a release tag is a manual process that is prone to error by the
release responsible member.

Additionally, the automated release project will require that a message is
included that is a copy of the recent `CHANGES.md` changes.

These steps can be scripted so that the member will just need to run a release
script.

## Solution

A `bin/create-release-tag` script will:
- Take

[2020-02-20 18:17] seanmonstar commented on #4023
Unless things have changed very recently, the main benefit seen with QUIC is with lossy networks, such as mobile devices. In lossless networks, there is actually a loss in performance, since the UDP stacks aren't as hardened as TCP. So, while very amazing technology, I suspect it won't be that useful inside data centers.

[2020-02-20 18:18] kleimkuhler opened #4081 "Update Linkerd website from release workflow"
## Motivation

Updating [website](https://github.com/linkerd/website) to the new Linkerd
version is a manual step in the release process that can be automated.

## Solution

Add new jobs to the release workflow that:
- Push directly to the repository and updated the hard-coded version
- Wait for the website to update the install script by testing the version
  that would be installed by the `curl`

[2020-02-20 18:19] grampelberg commented on #2783
@phxql it won't seriously harm the workloads. The biggest caveat is that we're not testing this path and there's no guarantee it'll keep working in the future.

[2020-02-20 18:28] grampelberg commented on #4076
@jon-walton I'm a little surprised that terraform can't just generate the certificate and use that as part of the helm values. Why is it unable to do that?

Obviously, the core problem here is that helm is unable to fetch values from the cluster. Your two options are:

- Use `linkerd` which'll fetch everything from the cluster as a secret.
- Use `helm` by generating the issuer credentials yourself

[2020-02-20 18:30] alpeb opened #4082 "Exclude changes on markup files to trigger CI runs in master"
## Motivation

Currently when the `CHANGES.md` file gets merged into master, it triggers the Unit Tests, Static Checks and KinD Integration CI workflows. The release guide instructs to manually cancel those workflow runs before tagging the release.

## Solution

Avoid that extra step by adding a trigger exception into all the workflows, so they don't get run when only `*.md` files change, thus als

[2020-02-20 18:31] grampelberg commented on #3753
Looks like we're still waiting on the upstream PR to merge.

[2020-02-20 18:39] alpeb opened #4083 "New CI job to automatically generate the Github release"
## Motivation

Currently creating a Github release with Linkerd artifacts is a manual process, as depicted in the release guide.

## Solution

As part of the upcoming release workflow (#4078), after the integration and cloud tests pass, a new job should build the release artifacts and create the release, using the tag message as the release body.

[2020-02-20 18:55] ihcsim commented on #3622
@grampelberg Good question. I don't see why someone would want to purge the control plane, but keep the proxies running in the data plane. Sounds like this command can first uninject all the proxies, then delete the control plane. If we don't want this command to modify a live cluster, it will need permissions to select pods from all namespaces.

FWIW, an operator that will automatically uninject