[2021-05-30 01:31] olix0r commented on #6184
The original issue was definitely the identity client, so i think that change is still worth merging.

In the logs you shared, the scope `{"name":"forward"}` indicates that this is using the original-dst-address provided by the client (from [here](https://github.com/linkerd/linkerd2-proxy/blob/d17b239bc3aa804086db9d562ede2f579f047df0/linkerd/app/outbound/src/ingress.rs#59-L172) without doing any d

[2021-05-31 07:46] balazzii opened #6198 "How to verify whether load balancing really happens for the pods inside my cluster using linkerd service mesh."
Background before installing linkerd:
k8s provider: AKS
Version: 1.19.7
Ingress controller: nginx ingress
Application protocol: gRPC
TLS termination happens at ingress.

I read from the below official k8s document that load balancing does not happen efficiently for gRPC applications, hence it is better to use linkerd service mesh.
https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubern

[2021-05-31 13:36] #6122 closed

[2021-05-31 15:49] alpeb commented on #6198
Can you please post the results of  both `linkerd check` and `linkerd check --proxy -n trading`? Also, it seems you have an extra pod in the linkerd namespace, any chance that might be interfering?

[2021-05-31 16:03] davi5e opened #6200 "Connection closed error=TCP Server service in fail-fast"
## Bug Report

### What is the issue?

We were using Linkerd2 for months, going from `2.8.0` until `2.10.1` without a single issue. Then a couple of weeks ago we upgraded to `2.10.2` while also upgrading GKE and a bunch of errors started appearing in all Linkerd pods's logs, shown later on.

The communication from any pod to Linkerd started having a lot of issues and if we try to `rollback restart

[2021-05-31 18:14] cortopy commented on #5932
I've just installed linkerd to try it out for the first time and I'm experiencing the same issue. I use calico, not Cilium, so maybe not related to the CNI?

All the endpoints seem to exist:

[code]

but neither of the proxies seem to be able to resolve `linkerd-dst-headless` or `linkerd-identity-headless`

To make sure that dns resolution works, I've tested in a dnsutils container and this is wha

[2021-06-01 00:45] balazzii commented on #6198
@alpeb
Thank you for your reply.

Results of `linkerd check`:

`kubernetes-api
--------------
√ can initialize the client
√ can query the Kubernetes API

kubernetes-version
------------------
√ is running the minimum Kubernetes API version
√ is running the minimum kubectl version

linkerd-existence
-----------------
√ 'linkerd-config' config map exists
√ heartbeat ServiceAccount exist
√ control pl

[2021-06-01 07:24] adleong commented on #5959
Closing due to inactivity.

[2021-06-01 07:24] #5959 closed

[2021-06-01 14:34] alpeb commented on #6198
This means Prometheus isn't able to reach your trading pod. Do you have in place a NetworkPolicy or some other restriction that is forbidding this to happen?

Requests are indeed load-balanced at the Ingress pod. I didn't understand though what you meant by having requests split at application pods. Is there another pod sitting in between the trading pods and the ingress pod?

[2021-06-01 14:42] kleimkuhler commented on #5290
@dkulchinsky Sorry for the lack of response on here. It looks like this is not an issue with the current stable 2.10.2

[code]

[2021-06-01 14:42] #5290 closed

[2021-06-01 14:56] mateiidavid commented on #6200
Hey @davi5e 👋🏻  thanks for submitting the issue! Sorry to hear this happened unexpectedly.

First, I'd like to confirm a few things if that's ok. I'm a bit confused when looking at the logs because you mentioned you upgraded to `2.9.2` but the logs show `2.10.2`:
[code]

Second, I wonder if `linkerd-identity` doesn't certify the pods because of the cert expiry date. Have you tried rotating your ce

[2021-06-01 15:01] davi5e commented on #6200
Sorry, all the versions I've mention should be `2.10`, I'll edit the OP.

We used cert-manager tool to rotate the certificates, we've check the event telling it happened and the problem persists.

I'll get the logs later on today and post them back as soon as I can.

[2021-06-01 15:05] davi5e commented on #6200
By the way, back when the problem happened, we tried Linkerd without cert-manger so it'd use its own certificate. Also did not help.

I personally believe this is somehow related to the underlying VM provided by GKE since all was fine for so many months and downgrading back to `2.10.1` had no effect in "solving" the issue.

[2021-06-01 15:33] dkulchinsky commented on #5290
Thanks @kleimkuhler! indeed, was actually going to post here that this is no longer happening with latest stable.

[2021-06-01 15:38] caniszczyk opened #6205 "Add company/org affiliation to MAINTAINERS"
This is great https://github.com/linkerd/linkerd2/blob/main/MAINTAINERS.md

It would be great if each member had their organization affiliation

[2021-06-01 15:48] balazzii commented on #6198
Yes I have a network policy in place.

NetworkPolicy:

[code]

No I do not have any other pods between them but I do have a trading service between trading application pod & ingress.

[2021-06-01 16:00] caniszczyk commented on #6205
Also consider having an "Emeritus" section highlighting previous maintainers

[2021-06-01 16:00] caniszczyk commented on #6205
cc: @wmorgan

[2021-06-01 16:02] wmorgan commented on #6205
We've got emeriti in there already, but org affiliation would be easy to add.

[2021-06-01 17:13] sannimichaelse commented on #6073
Hi @PavloGl, are you still working on this?

[2021-06-01 17:52] #6171 closed

[2021-06-01 19:07] alpeb commented on #6198
Ok, you'll have to add an ingress rule in your NetworkPolicy to allow traffic from Prometheus on port 4191, protocol TCP. This will allow for metrics to be collected and surfaced in the linkerd dashboard.

[2021-06-01 19:08] PavloGl commented on #6073
Hi @sannimichaelse, yes, i've just opened PR

[2021-06-01 19:19] sannimichaelse commented on #5899
@dadjeibaah is this task still available?

[2021-06-01 19:26] dadjeibaah commented on #5899
@sannimichaelse, Yep its still available. Feel free to submit a PR 😄

[2021-06-01 19:30] sannimichaelse commented on #5899
Nice, you can assign it to me

[2021-06-01 20:50] jsoref commented on #5994
## Round two

[code]

[code]

[code]

[code]

[code]

[code]

[code]

### n.b.
It would be nicer if it said `linkerd viz uninstall` instead of giving me a bullet and expecting me to figure out how to uninstall, or if it included a link in the output (some linkerd output includes links, those really are most appreciated).

[code]

### Thoughts

So, linkerd viz still doesn't believe it has anything

[2021-06-01 21:18] jsoref commented on #5994
[code]

[code]

[2021-06-01 21:19] dadjeibaah opened #6211 "Namespace metrics showing up on deployment graph"
This looks like it was introduced by this change:
https://github.com/linkerd/linkerd2/commit/03438c65874e90b7a9938cced5dc271e6bfdffed

![image](https://user-images.githubusercontent.com/2197104/120391620-eaadce80-c2f4-11eb-97af-0f349c36604e.png)

[2021-06-01 21:41] kleimkuhler commented on #4190
We currently do this in CI with the combination of `--name` flag and `--skip-cluster-create` if needed.

[2021-06-01 21:41] #4190 closed

[2021-06-02 00:30] jsoref opened #6213 "Linkerd viz uninstall doesn't handle legacy extension name (`linkerd-viz`)"
## Bug Report

### What is the issue?

Prior to 15d1809bd043192bb21cacbc96112cce35bf384f, linkerd viz resources were named `linkerd-viz`:
https://github.com/linkerd/linkerd2/blob/1e5722104e3b9dcf59d7c136cb090c270de02c79/viz/cmd/root.go#L13-L14

With that change, the `linkerd viz uninstall` feature looks for resources called `viz` , and will pretend that there's nothing else to be removed:

https:/

[2021-06-02 01:14] davi5e commented on #6200
Well, I'm not sure it's "good news" but the log I previously posted appears to have been a one time thing.

Now that I can make some tests in the production cluster I could restart all deployments and they all came back online without problems. There is one and only `linkerd-destination-57df7f4bc-tvnq2 linkerd-proxy [    60.727567s]  INFO ThreadId(01) linkerd_app_core::serve: Connection closed err

[2021-06-02 01:14] #6200 closed

[2021-06-02 08:52] tarvip commented on #6147
Last week I was unable to get addtional details for this issue. This week it happened again between traefik and different service. And yes, restarting traefik fixed the issue this time.

Which log level should I use when collecting logs? Should I collect them on both sides?

[2021-06-02 08:54] mateiidavid commented on #6200
@davi5e glad it fixed itself! It would have been good to know for sure but at least your production environment is back to normal.

This is easier to tackle -- when you see these errors it typically means the proxy cannot connect to the service it is trying to reach so it fails fast. It's not very descriptive, I agree. Generally it signals a connection problem, bumping up the log level is what I u

[2021-06-02 09:40] balazzii commented on #6198
Thank you. This worked.

Question:
As a general practice, should I inject linkerd proxy in Application pod or Ingress-Controller pod or both?

[2021-06-02 14:15] tarvip commented on #6147
I happened again, this time I enabled `linkerd_proxy_http=trace,hyper=trace,linkerd=debug,warn` on both sides and collected some logs, bad thing is that they contain sensitive information to upload them publicly here, will go through the logs and try to remove sensitive data.

[2021-06-02 14:59] olix0r commented on #6086
We've been stress testing the tower ready-cache dependency and have been able to trigger some unexpected behavior, though not the exact problems you seem to have captured. There's at least one fix we picked up from futures (https://github.com/rust-lang/futures-rs/pull/2333) that should eliminate some pathological behavior when there are many endpoints in a balancer.

In your case roughly how many

[2021-06-02 15:00] alpeb commented on #6198
Glad it worked out! :+1:

If you inject it in both you'll have more complete metrics about the traffic flowing out of the ingress and into the application pod :wink:

[2021-06-02 15:09] Wenliang-CHEN commented on #6086
Thanks for the update @olix0r.  The target service is a monolith that has around 200 endpoints.  I would say 90% of them are static.  And the service that makes the outbound call uses 8 of them, all static.

[2021-06-02 15:11] olix0r commented on #6086
@Wenliang-CHEN Sorry, I should have been clearer: how many _pods_ of the service are running? Are these panics at all correlated with deployments/restarts of the target service?

[2021-06-02 15:17] Wenliang-CHEN commented on #6086
@olix0r there are 6 pods running.  We did observe coincidence between the deployment of the target service and the panics.  But it does not always happen.  When panic happens, it does not happen to all the pods.  It is mostly 1 or 2 pods.

[2021-06-02 15:19] olix0r commented on #6086
@Wenliang-CHEN Thanks, this is helpful. I doubt that the futures change will help this issue. I suspect that there's a race condition around updating the balancer with new endpoints where we enter an illegal state. We'll focus more on stress testing the update path.

[2021-06-03 01:25] balazzii commented on #6198
Got it!!
Thank you.

[2021-06-03 01:25] #6198 closed

[2021-06-03 03:01] tdyas commented on #6066
Update: I managed to take a memory profile of the sidecar in my staging environment finally. I should be able to take a production profile tomorrow.

[2021-06-03 13:05] tarvip commented on #6147
Attached few minutes of [logs](https://github.com/linkerd/linkerd2/files/6591788/logs.tar.gz).

In addition to linkerd-proxy logs it contains destination service  (`foo`) main container log.

I have replaced real names with metasyntactic variables, also removed a lot of headers, hopefully logs are still usable.

[2021-06-03 14:37] nrmitchi opened #6219 "Ability for workloads to know that they are meshed"
## Feature Request
We require the ability for a workload to know whether it is running in a service mesh or not.

### What problem are you trying to solve?

As part of the introduction of a service mesh to our infrastructure, we have application-level features which we want to selectively disable, but only if the application is meshed. An example of this is application-level gRPC load balacing.

#

[2021-06-03 15:19] olix0r commented on #6219
While this isn't exactly a bad idea, it would increase the surface area of the proxy injector quite a bit -- instead of adding a single container to each pod, the injector would have to modify all containers in all injected workloads. So, we should at least explore all of the options before expanding the scope of the proxy injector:

Can you use the [downward API](https://kubernetes.io/docs/tasks/

[2021-06-03 16:21] nrmitchi commented on #6219
I'm exploring the downward API at the moment to solve this. It looks like it _could_ be sufficient for the majority of my use case at the moment, but I'm not seeing the `linkerd.io/inject` annotation being added to the pod (we are using the namespace-level annotation). The annotations that I am seeing on the pod are:

[code]

I briefly considered this (having a second admission controller inject t

[2021-06-03 17:04] olix0r commented on #6219
@nrmitchi

Ah, sorry. It's probably best to use the _label_ `linkerd.io/control-plane-ns` -- which is what all of the linkerd tooling uses to know whether a pod is meshed with a control plane.

If you find that the downward API isn't a workable solution for you, I'd recommend submitting a draft PR if you're up for it -- I don't have a great sense of how complicated this is going to be to fit into

[2021-06-03 17:28] rachelvwood commented on #1869
@wmorgan @laukaichung I didn't find an existing one, so I created an [issue](https://github.com/linkerd/website/issues/1093) about the missing documentation.

[2021-06-03 17:38] #6213 closed

[2021-06-03 20:31] #6169 closed

[2021-06-03 20:52] miguescri commented on #6062
Is this fixed now with that MR?

[2021-06-03 21:00] tdyas commented on #6066
I took the memory profiles from production this morning. The `linkerd-proxy` sidecar restarted four times over approximately 30 minutes so I have five profiles.

Looking at the profiles in `heaptrack_gui`, I see memory consumption staying low and spiking right before the end of the trace (at which point the process would have been OOM killed). The graphs of allocations and temporary allocations in

[2021-06-03 22:42] RajKuni opened #6221 "Grafana Dashboard JSON - allow datasource specification when importing"
## Feature Request
When importing grafana linkerd dashboard json files, we should have an option to specify the data source that the dashboards will use.

### What problem are you trying to solve?
Currently, dashboards assume datasource has name of "prometheus". But it could be the case that the linkerd prometheus instance that is used as a datasource has a different name.

### How should the prob

[2021-06-03 22:57] sdhoward opened #6222 "linkerd-proxy sidecar prometheus metrics disappear"
## Bug Report

I have linkerd 2.10.1 running in my v1.19.6-eks cluster. My API gateway pod proxies a request to my web pod. Both are running linkerd-proxy sidecar.

After I issue the request to the web pod, the request shows up in the prometheus metrics on :4191 on the web pod.

[code]

If I check the same prometheus metrics port 10 minutes later, I do not see those records any more; they are miss

[2021-06-03 23:13] sdhoward commented on #4414
still in the process of planning?

[2021-06-04 05:58] multimac opened #6224 "Tap - Unauthenticated / no_tls_from_remote"
## Bug Report

### What is the issue?

Whenever I attempt to use `linkerd viz tap [...]` no requests or responses are shown. I can see the following error in the logs for the `tap` pods everytime I run the command, `rpc error: code = Unauthenticated desc = no_tls_from_remote`.

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.18
- C

[2021-06-04 06:06] multimac commented on #6224
Here are some trace logs from the `linkerd-proxy` receiving the tap connection...
https://gist.github.com/multimac/3a57766de2bfb84c6e363c2159f88b17

[2021-06-04 06:25] jroper commented on #3750
Not sure why this was closed. It would be good if linkerd did support `IfNeeded` - in Cloudstate, we inject a sidecar that needs to have some ports excluded from the service mesh using the `config.linkerd.io/skip-outbound-ports` annotation (this sidecar runs Akka, which forms a cluster between other pods of the same deployment, the cluster communication must bypass the service mesh because it by d

[2021-06-04 07:47] alex-berger commented on #6184
I installed `edge-21.6.1` which contains the [fix for the identity client](https://github.com/linkerd/linkerd2-proxy/commit/cd6da0fd40a6ee90f6b1e6611c18d870184da318) (@olix0r thank you very much for that ♥), but we still see connections to stale respectively wrong IP addresses in our `linkerd-proxy` logs.

Note, this is a **serious problem**! Whenever an IP address is reassigned to a new Pod which

[2021-06-04 10:34] sannimichaelse commented on #5899
Hi all,

For the get all installed extensions task - what av done so far is to add the installed extensions section as well as modify the `handleGetExtension` api.

For the `handleGetExtension` what i did is to check if the `extensionName` has a value then I call `GetNamespaceWithExtensionLabel` which is the normal method there to get by extension name - then if the extension name doesnt have a va

[2021-06-04 11:29] alex-berger commented on #6184
I think I managed to identify one specific use-case where this happens.

Having long-lived gRPC connections the outbound `linkerd-proxy` does not close the (inner) connection if it fails to (re)connect to the destination address. Instead it keeps on trying to reconnect to the (now stale) destination address.

![use-case-forward-long-lived-connections](https://user-images.githubusercontent.com/1087

[2021-06-04 12:19] mateiidavid opened #6225 "Extension uninstalls fail for versions prior to stable-2.10.0"
## Bug Report

### What is the issue?

Originally discovered in #6213; the uninstall command for extensions in recent edge and stable versions are broken for older installations of linkerd (such as edges leading up to `stable-2.10.0`). This is due to the removal of the _linkerd_ prefix from the extension labels.

To exemplify, an installation of multicluster with `edge-21.2.3` would label the mult

[2021-06-04 14:32] alpeb commented on #3750
@jroper that makes sense. Although currently when the proxy injector runs and detects the pod has already been injected, it'll bail out, so this will require extra modifications besides making `reinvocationPolicy` configurable. On the other hand, if I'm not mistaking, last time I checked I found custom webhooks were triggered alphabetically so maybe Cloudstate's would run first? (this isn't docume

[2021-06-04 16:29] olix0r commented on #6222
@sdhoward This behavior was added because these metrics include high-cardinality labels like ip addresses. For long running proxies--especially in ingresses--these metrics can incur substantial memory overhead. I think we're open to changing the behavior but it would need some careful consideration to manage these types of problems that have arisen in the past.

Does this behavior cause problems f

[2021-06-04 16:54] sdhoward commented on #6222
This is an issue in low-traffic pods because the values just get overwritten. By what means are the value erased? Some interval?

The labels are nice and I see what you mean about high cardinality but if I had the option to turn those labels off to save my data I probably would.

The lack of documentation is another issue: https://linkerd.io/2.10/reference/proxy-metrics/

A pushgateway could be co

[2021-06-04 16:59] olix0r commented on #6224
Interesting. The logs you shared indicate that the tap connection--on port 4190--is being intercepted by the inbound proxy. These connections are expected to be accepted directly by the tap server (on 4190) and not by the inbound proxy (on port 4143). This would indicate that the control port has been changed or not configured in proxy-init:

https://github.com/linkerd/linkerd2/blob/b9aa32f9b20057

[2021-06-04 17:02] olix0r commented on #4414
@sdhoward I think we have a decent understanding of how we want to proceed but it's going to be a large, breaking change and, generally, the community has not raised this as a priority. I'm hopeful we'll have time to address these changes in the stable-2.12/2.13 timeframe but, as always, these things move fastest when people who care about the changes get involved to help make them happen :)

[2021-06-04 17:10] olix0r commented on #6066
@tdyas Thanks for your help looking into this! It's very much appreciated.

This would definitely be useful! We've struggled with doing this in the past so it would be great to have a recipe that makes it easier for folks to diagnose these sorts of issues.

I'd be really curious to see proxy logs from right before this--it may be the case that some task is going into some sort of fast-retry state

[2021-06-04 17:11] olix0r commented on #6062
@miguescri Yeah, this should be closed. Thanks.

[2021-06-04 17:11] #6062 closed

[2021-06-04 17:19] olix0r commented on #5932
@cortopy What Kubernetes environment did you see this in? This should be a lot easier to track down if we figure out a way to reproduce it :)

[2021-06-04 17:22] olix0r commented on #3985
This feature has been implemented and is available in the most recent edge release. Please test it out and file new issues/discussions with feedback!

[2021-06-04 17:22] #3985 closed

[2021-06-04 17:22] olix0r commented on #6194
@camilorivera I'm closing this for now but let us know if you have any further issues.

[2021-06-04 17:22] #6194 closed

[2021-06-04 17:44] tdyas commented on #6066
I unfortunately didn't have debug logging enabled for the sidecar when I took the profiles yesterday. Is there a specific value of `LINKERD2_PROXY_LOG` that I should use? It was defaulted to `warn, linkerd=info`. I can then retake the profiles with logging enabled.

That would explain why allocations in the profiles never decrease even when memory consumption spikes and then returns to a low level

[2021-06-04 18:47] cortopy commented on #5932
@olix0r of course! thanks for looking into this. It's on a cluster with a mix of bare metal and VM nodes. The cluster is managed with Rancher

A few more things:
- k8s version 1.20
- The nodes are connected via private network
- CNI is Calico
- Istio is already installed (I was testing for a possible migration) and working fine

[2021-06-04 18:58] #5152 closed

[2021-06-04 18:58] #4789 closed

[2021-06-04 18:58] #5186 closed

[2021-06-04 18:58] #5188 closed

[2021-06-04 18:58] #4848 closed

[2021-06-04 18:58] #5274 closed

[2021-06-04 18:59] #4900 closed

[2021-06-04 18:59] #4955 closed

[2021-06-04 18:59] #5403 closed

[2021-06-04 18:59] #4227 closed

[2021-06-04 18:59] #5196 closed

[2021-06-04 18:59] #5663 closed

[2021-06-04 18:59] #5425 closed

[2021-06-04 18:59] #5194 closed

[2021-06-04 20:20] #4838 closed

[2021-06-04 20:21] dadjeibaah commented on #5899
@sannimichaelse, that sounds like you are on the right track. We basically want to extend the `handleGetExtension` so that it returns all installed extensions. Then the frontend will display that data in table format. Let me know if you have any additional questions! Looking forward to your PR.

[2021-06-04 20:48] sannimichaelse commented on #5899
What about getting installed extensions by name - should that be supported too?

[2021-06-04 21:13] dadjeibaah commented on #5899
Yes, we should still be able to support that since there are other places in the frontend that use that code. e.g. the multicluster gateway page

[2021-06-04 22:40] multimac commented on #6224
Ahhh. I've installed Linkerd using the CNI plugin, via Helm instead of `linkerd install-cni`.

It looks like if you use `linkerd install-cni` it adds the control and admin ports to the ignored inbound ports when it renders the Helm chart, but the Helm chart itself doesn't do this.

https://github.com/linkerd/linkerd2/blob/9ea66c8f738321452a86c37e5b02ea0d62de6c9b/cli/cmd/install-cni-plugin.go#L163-

[2021-06-04 23:24] multimac commented on #6224
That fixed it!

Should this be fixed or documented in the linkerd-cni chart?

[2021-06-04 23:53] bidandows opened #6227 "jaeger-injector pod CrashLoopBackOff"
## Bug Report

### What is the issue?
Installing linkerd tracing tool (jaeger) on k3d cluster
### How can it be reproduced?
After installing jaeger into the cluster using this command : linkerd jaeger install | kubectl apply -f -
### Logs, error output, etc
fedora:k8s $ k get pods -n linkerd-jaeger
NAME                               READY   STATUS             RESTARTS   AGE
collector-57fc4cff89-zz

[2021-06-05 00:31] olix0r commented on #6184
OK, I'm able to reproduce this with emojivoto. It seems specific to ingress-mode, which is a little surprising to me, but at least it's a solid lead:

In a k3s cluster with the latest edge release installed. I've configured the voting and emoji services with `clusterIP: None` so that linkerd doesn't build a load balancer, etc.

In both cases, I watched the web logs
[code]
While restarting the voti

[2021-06-05 11:43] alex-berger commented on #6184
@olix0r I wanted to test your changes, but was not able to pull the image `ghcr.io/olix0r/l2-proxy:b7b591c1`.

[2021-06-05 15:18] olix0r commented on #6184
@alex-berger :facepalm: helps if i actually push the image, sorry.
[code]

[2021-06-05 17:26] alex-berger commented on #6184
@olix0r First tests look promising, the temporary solution introduced by [c49488c](https://github.com/linkerd/linkerd2-proxy/commit/c49488c4ad37fc85272c59ed8da131742f077b90) makes the system resilient again. As you mentioned it is not a perfect/permanent solution but at least the system is now self-healing and will recover fast (within ~10 seconds) when the gloo xDS control plane is restarted.

[2021-06-07 03:40] shahriak commented on #5764
Is this issue fixed in the stable 2.10.0 version? I am facing a similar issue..

[2021-06-07 07:28] jroper opened #6232 "Unable to invoke kubernetes-api from pod"
## Bug Report

If I deploy the following pod:

[code]

What I expect is that the kubectl command running in the pod should be able to successfully invoke the kubernetes API. What I get is this:

[code]

This is apparently blocked by the linkerd proxy.

### How can it be reproduced?

Run the above command on a namespace with linkerd proxy injection configured.

### Logs, error output, etc

Proxy lo

[2021-06-07 08:45] Pothulapati commented on #6232
Hey @jroper

I just tried doing this on the latest edge, and things seemed to work fine i.e

[code]
This is on a local cluster in kind.

This could be a linkerd installl issue, as per what `linkerd check` is showing. Let's try to fix it first, and then see if this persists.

How did you install Linkerd and why are some resources missing? 🤔

[2021-06-07 08:50] Pothulapati commented on #6227
Hmm, I just tried out doing this in kind and things seem to work well. k3d should also work as we use it for the CI.

Are you sure this isn't an underlying k3d issue on your host, as it is showing some timeout error in the k3d cluster? 🤔

[2021-06-07 09:29] alex-berger commented on #6184
@olix0r Any chance we can get a new edge-release this week with [c49488c](https://github.com/linkerd/linkerd2-proxy/commit/c49488c4ad37fc85272c59ed8da131742f077b90) such that we can upgrade/fix our broken clusters?

[2021-06-07 12:57] andig opened #6233 "stable-2.10.2 release sha changed"
## Bug Report

### What is the issue?

Noticed during https://github.com/Homebrew/homebrew-core/pull/78666 that the release sha has changed.

Has this be re-released?

### Logs, error output, etc

[code]

[2021-06-07 15:38] alpeb commented on #6224
Awesome, thanks for the quick reply @multimac :+1:  That's definitely an oversight on our side. I think we should add some vars into the `linkerd-cni` values.yaml file, like `proxyAdminPort` and `proxyControlPort` with their defaults, and have the `cni-plugin.yaml` take them into account. We can then also get rid of that logic in the go file. Would you like to give that a shot? If not, I'd be glad

[2021-06-07 15:43] kleimkuhler commented on #5589
This is worth keeping open so that we can remove this dependency in the docker files.

[2021-06-07 15:49] #5981 closed

[2021-06-07 15:56] kleimkuhler commented on #5764
@shahriak I'd recommend using stable 2.10.1 since that is the more recent stable that fixed some issues we found soon after releasing 2.10.

As for this specific issue, we had a few ideas on what it was but I don't think we ever could say exactly what fixed the issue. That being said, we haven't seen many other OOM issues recently so I think you should be okay upgrading. If you do run into an issu

[2021-06-07 17:44] olix0r commented on #6184
@alex-berger yeah, I think we can introduce the temporary fix until we've modified the reconnect logic (some changes to set this up are already in-flight).

[2021-06-07 18:58] AaronFriel opened #6234 "External/egress policy and support for enforcing network security policies and compliance"
## Feature Request

Enable Linkerd policies to fully specify the external resources a cluster can access, a la [egress gateways](https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway/#egress-gateway-for-http-traffic) from Istio.

### What problem are you trying to solve?

In high compliance environments, it's useful to be able to use the service mesh as part of the network se

[2021-06-07 19:59] adleong commented on #6232
Since you container is connecting to the Kubernetes API at startup, it can potentially attempt to establish that TLS connection before the proxy is fully ready.  See https://linkerd.io/2.10/tasks/upgrading-2.10-ports-and-protocols/#note-connecting-at-startup

[2021-06-07 20:12] adleong commented on #6227
@bidandows can you share any details about how your k3d cluster was created or configured?

[2021-06-07 20:17] adleong commented on #6234
FYI some related work: https://github.com/grampelberg/k8s-egress

[2021-06-07 20:21] adleong commented on #6233
@andig that's right.  We ran into some problems during the stable-2.10.2 release and had to update the SHA.  Are there any steps we need to take to make Homebrew aware of the updated SHA?

[2021-06-07 20:26] andig commented on #6233
Thanks for confirming. No action required, we can update the SHA knowing that its not a security issue now.

[2021-06-07 20:26] #6233 closed

[2021-06-07 20:40] adleong commented on #6162
Closing as a duplicate of #3697

[2021-06-07 20:40] #6162 closed

[2021-06-07 20:51] kleimkuhler commented on #5764
Sorry I meant recommend stable 2.10.2!

[2021-06-07 20:54] adleong commented on #6222
https://github.com/linkerd/linkerd2/issues/5746 tracks the design work for being able to drop labels on the client side.  @sdhoward would that satisfy your use-case?

[2021-06-07 20:55] AaronFriel commented on #6234
@adleong excellent, that repo is very similar to what I'm doing.

I would rank the allowlist component of the feature (aka "block supply chain attacks" button) substantially higher than the ability to handle third party applications, but I do think this feature should be designed with a future in mind that supports _adding_ that functionality down the road. There is one thing I forgot to mention,

[2021-06-07 21:03] adleong commented on #6205
Each of the current maintainers is listed with an email address from their employer's domain.  Is that sufficient or should we express their affiliation more explicitly?

[2021-06-07 21:06] caniszczyk commented on #6205
I guess that's good enough, my main issue was with the SC which has no affiliations https://github.com/linkerd/linkerd2/blob/main/MAINTAINERS.md#steering-committee

[2021-06-07 21:15] adleong commented on #5951
Closing due to inactivity.

[2021-06-07 21:15] #5951 closed

[2021-06-07 22:09] kleimkuhler commented on #6149
@hollowimage I think this is an issue with Homebrew's Linkerd 2.10.2 binary. I'm piping the yaml above into `linkerd inject` without any issues on my stable 2.10.2 version.

There was an issue about Homebrew's git SHA for `stable-2.10.2` being different than the actual `stable-2.10.2` GitHub release (#6233).

Until that is updated, it may be worth trying to install Linkerd directly ((docs)[https:/

[2021-06-07 22:44] carlocab commented on #6233
Just FYI, it'd be nice if you had just cut a new release tag instead of re-tagging the existing one. The [Git docs](https://git-scm.com/docs/git-tag#_on_re_tagging) have some pretty strong words about re-tagging.

[2021-06-07 22:53] kleimkuhler commented on #6233
@carlocab We usually stick to this for edge releases when we run into an issue during the release process and need to end up "skipping" a version. For stable it's a little different because skipping a minor version feels more significant.

That being said, we only do this when we have not released the binaries ourselves and can delete the GitHub release tag. Homebrew is the only "3rd party" releas

[2021-06-08 01:56] jroper opened #6237 "Instructions for integrating with Contour incomplete"
With the current instructions for integrating with Contour, Contour fails to start, because linkerd blocks traffic from the Contour envoy proxy to the Contour controller manager (an xDS server, uses gRPC with mTLS to communicate) because linkerd only allows HTTP traffic (but the xDS server traffic is TLS) when in ingress mode, the following error is output in the linkerd logs:

[code]

To fix this

[2021-06-08 02:01] jroper commented on #6232
This was my fault - I had a network policy that was blocking communication to the discovery server.

[2021-06-08 02:01] #6232 closed

[2021-06-08 14:38] kolloch opened #6238 "Request continuously routed to terminating pod"
## Bug Report

`linkerd-proxy` in source pod sends requests continuously to a pod in terminating state, even though a terminating pod should be taken from the destination list.

The "remove" event is generated in a timely manner when I run the `destination` service and test clients locally against our EKS cluster.

**UPDATE (2021-06-09):** It is also generated by the cluster `linkerd-dst` service

[2021-06-08 14:48] #6225 closed

[2021-06-08 15:51] hollowimage commented on #6149
Good to hear, thanks @kleimkuhler

I have been handling injection thus far with namespace and/or pod annotations anyway, the cli inject was mostly during poc/discovery.

Thanks for the insight!

[2021-06-08 16:22] olix0r commented on #6238
Also, to check:

We could expect to reproduce this with `kubectl rollout restart ...`?

[2021-06-08 16:38] kleimkuhler commented on #6149
Yep no problem! Going to close this for now as the SHA fix in Homebrew is being tracked separately.

[2021-06-08 16:38] #6149 closed

[2021-06-08 17:06] olix0r commented on #6238
Let me state what I would expect to happen so we can figure out where this process isn't working properly:

* Client sends requests to a `Service` with a `clusterIP`;
* Outbound proxy resolves the service's profile and then its endpoints;
* The target deployment is restarted with `rollout restart`;
* The first pod goes into terminating, shutting down the application pod but delaying proxy shutdown

[2021-06-08 19:48] adleong commented on #6237
Great catch, thanks @jroper!  Are you interested in submitting a fix for this as a PR in the linkerd/website repo?

[2021-06-08 21:53] kolloch commented on #6238
Exactly, I wasn't able to reproduce it in my kind cluster yet. I could only observe it in our EKS cluster which e.g. has cilium installed. Tomorrow, I wanted to collect the same logs on kind to see what differs.

I'll do that!

---

Thank you for your awesome clarifications: Yes, that's what I also would expect/hope.

My expectation is that this would be in reaction to receiving an "Remove" respon

[2021-06-08 21:55] kolloch commented on #6238
I guess you mean the outbound proxy, correct?

[2021-06-08 22:05] olix0r commented on #6238
@kolloch

If you had a `get` watch running, I'd expect to see the remove event as the service is removed from the service's endpoints. Another way to check this would be `kubectl get endpoints -n <ns> <svc>`

Correct. On the client's proxy.

[2021-06-08 22:33] kolloch commented on #6238
Yep. I saw the "remove" event on the local destination server. Also in the error scenario.

---

I changed to the endpoints watching with (since the relevant info got shortened in the default output):

`kubectl get endpoints -n nx-devices podinfo -o go-template='podinfo endpoint ips: {{range .subsets}}{{range .addresses}}{{.ip}},{{end}} ports: {{range .ports}}{{.port}},{{end}}{{end}}{{"\n"}}' --wa

[2021-06-08 22:34] kolloch commented on #6238
I think that I might want to run the client for the `get` request again tomorrow again the actual linkerd destination service in the cluster. Maybe that's where things go wrong -- it doesn't generate the update. @olix0r

[2021-06-08 22:51] kolloch commented on #6238
Ok, weird.

1. I created a port-forward to the destination service with: `kubectl port-forward -n linkerd service/linkerd-dst 8086:8086`
2. Ran `go run controller/script/destination-client/main.go -method getProfile -path 172.20.144.76` locally where

[code]
And I am also getting the expected add/remove updates. From the log:

[code]
Why is the outbound proxy not seeing them?

Let me know if you h

[2021-06-09 10:01] #6211 closed

[2021-06-09 10:59] kolloch commented on #6238
The big difference between `kind` and our cluster seems to be that in `kind` the outbound linkerd-proxy closes the connection after each request:

[code]

That way it makes sense (considering that the endpoints are reresolved) that it works.

[2021-06-09 11:49] kolloch commented on #6238
Both kind and our cluster have the same keepalive settings for the proxy.

[code]

On `kind` they seem to be ignored. Is there an extra check in the proxy that checks for node-local connections or something like that?

[2021-06-09 14:43] olix0r commented on #6238
@kolloch I think I see what's happening here. In the logs you shared we see:

[code]

That is, the client isn't actually communicating with a `clusterIP` service, but instead it's connecting directly to a pod IP. `GetProfile` serves an endpoint response directly if the target is not a service so that the client proxy can avoid load balancing, etc; but this isn't playing well with terminating pods.

[2021-06-09 16:12] kolloch commented on #6238
Thank you so much!

The client is actually configured to connect `http://podinfo:9898` which I would have assumed resolves to the service/cluster IP of the service `podinfo`. I'll check when I am back at my keyboard.

(Hence also the watch on the endpoints of podinfo service.)

Also, once the pod has terminated, the new pod is found. But the client also does a new DNS request on reconnect, so if t

[2021-06-09 16:26] olix0r opened #6242 "Add Dependabot updates for Go"
GitHub offers dependabot to automatically keep our dependencies up to date. While there may be times when we want to be conservative around dependency updates, it's generally going to be less painful for us to apply small updates regularly vs having to apply large updates infrequently.

We should add Dependabot configuration to our repo so that we get PRs and automatically CI version changes.

htt

[2021-06-09 17:26] kolloch commented on #6238
`podinfo` is resolved to the cluster address (from local shell):

[code]

From pod in cluster:

[code]

And the little test program is connecting to that cluster IP as seen with `RUST_LOG=hyper::client::connect=trace`:

[code]

And these are queries via the test programs run locally against the port-forwarded linkerd-destination service:

[code]

And this is the injected LINKERD config at the outb

[2021-06-09 17:27] kolloch commented on #6238
Oh yes, and the IP `172.20.144.76` is in `172.16.0.0/12` which is in `LINKERD2_PROXY_DESTINATION_PROFILE_NETWORKS`

[2021-06-09 17:33] olix0r commented on #6238
It may be the case that cilliim is rewriting the destination IP address before it hits the proxy.

[2021-06-09 19:27] kleimkuhler commented on #4357
Closing as we have not seen this issue in CI for a while.

[2021-06-09 19:27] #4357 closed

[2021-06-09 20:47] alex-berger commented on #6238
This is very likely cause by [Cilium's kube-proxy replacement](https://docs.cilium.io/en/v1.10/gettingstarted/kubeproxy-free/). We use Cilium as kube-proxy replacement, kube-proxy is not installed in our cluster and Cilium is responsible for Kubernetes Service load balancing. I guess (but I don't know exactly) that Cilium rewrites the destinations address from the ClusterIP to one specific endpoin

[2021-06-09 21:48] #6177 closed

[2021-06-09 23:37] shahriak commented on #5764
Thank you! Upgrading to 2.10.2 version resolved the issue! :)

[2021-06-09 23:43] kleimkuhler commented on #5764
@shahriak Ah great to hear! I saw your discussion about it #6231. Is that solved now as well?

[2021-06-10 02:27] shahriak commented on #5764
Actually, I am still seeing the same issue in 2.10.2 version as well.

[2021-06-10 17:06] olix0r commented on #6238
This sort of socket level load balancing is going to severely degrade grpc client performance for many people, so I agree it's important to figure out a way to disable this behavior in cillium; and I agree that Linkerd should not introduce problems when this feature is enabled. But I think it's pretty important we find a way for Linkerd+Cillium users to disable this behavior.

[2021-06-10 17:07] olix0r commented on #6238
Or, we should be able to bind the proxy into call path before cillium rules are applied. This is probably the most desirable approach.

[2021-06-10 18:04] dadjeibaah opened #6246 "Test how linkerd and cillium interact"
Based on https://github.com/linkerd/linkerd2/issues/6238#issuecomment-858089072 and https://github.com/linkerd/linkerd2/issues/6238#issuecomment-858796177, it appears that there may be issues between linkerd proxies and Cillium's load balancing features. In order to get a better understanding on what these issues are and possibly how we can fix them, we should write new integration tests that exer

[2021-06-10 22:31] kleimkuhler commented on #5764
@shahriak Ah sorry to hear that. Would you please open a new issue with as much detail as you can provide, and possibly steps for reproducing this? I know you opened the discussion and there is some overlap with issues and discussions, but this can be better tracked as a new issue.

[2021-06-10 22:54] kleimkuhler commented on #6246
Another issue I have observed this interaction in is #5932

[2021-06-11 01:12] shahriak opened #6248 "Linkerd proxy container showing "Failed to proxy request: error trying to connect: Connection refused (os error 111)""
## Bug Report

### What is the issue?
I have deployed my application on a cluster with Linkerd sidecar injected. However, I am seeing errors in the sidecar pod.

### How can it be reproduced?
Deploy linkerd 2.10.0 with Nginx Ingress (LoadBalancer) on a cluster and then deploy your service and enable linkerd injection.

### Logs, error output, etc
Linkerd-proxy Container logs:

time="2021-06-11T00:

[2021-06-11 06:05] jroper opened #6249 "Regression in proxy between edge-21.5.1 and edge-21.5.3"
During performance tests (10000req/s shared across two nodes, http/2), when running in `ingress-mode` but not setting the `l5d-dst-override` header, the outbound proxy fairly quickly starts outputting a dozen or so errors like this:

[code]

And then becomes completely unresponsive and never recovers. If I set `l5d-dst-override`, the problem goes away. The problem doesn't happen in `edge-21.5.1`,

[2021-06-11 06:34] kolloch commented on #6238
I think this would be a super cool solution but then linkerd would also need ebpf trickery in connect?

I'd love to have a setup where usually linkerd load balances requests to services but if it is disabled or still bootstrapping, it would fallback to cilium.

The only current solution (that would work now) we see is to enable kubeproxy as fallback again. We definitely need NetworkPolicies or som

[2021-06-11 07:10] alex-berger commented on #6238
Even if https://github.com/cilium/cilium/pull/13882 is ever merged, it might still take a year or two until we can profit from it, as depending on how it is implemented (`netns cookies + --bpf-lb-sock-hostns-only ` vs `cgroupv2 + SO_ORIGINAL_DST`) it only works with either a recent Linux kernel (>= 5.7) or a future Kubernetes version with `cgroupv2` support (currently planned for 1.22, but might b

[2021-06-11 07:27] shahriak commented on #6248
I ran the linkerd check --pre command before installing linkerd and found the following output. Could the lack of NET_ADMIN capabilities be causing this issue?

kubernetes-api
--------------
√ can initialize the client
√ can query the Kubernetes API

kubernetes-version
------------------
√ is running the minimum Kubernetes API version
√ is running the minimum kubectl version

pre-kubernetes-setup

[2021-06-11 13:19] mateiidavid opened #6253 "Destination should return an endpoint in GetProfile when using a pod fqn"
When doing service discovery, there are usually two scenarios: we have a (k8s) service that we are trying to reach or we have a specific endpoint. Dealing with a logical address is the common scenario that most apps go through; we first fetch the profile of the service we are trying to connect to, build a logical address in the proxy and then stream discovery updates (endpoints) from the destinati

[2021-06-11 13:34] mateiidavid commented on #6248
Hey @shahriak thanks for raising this!

Let me address `NET_ADMIN` capabilities first. We generally use `NET_ADMIN` (and `NET_RAW`) to rewrite iptable rules using the initContainer. This allows the proxy to forward traffic to and from your application. With that said, `NET_ADMIN` is not a necessity if you're using a CNI. This would be my first question: are you using a CNI? Does Linkerd work well

[2021-06-11 15:02] ctienshi opened #6254 "LinkerD proxy init fails due to Drop capability NET_RAW"
## Bug Report

### What is the issue?
Pods are in Init:CrashLoopBackOff due to linkerD startup failure.

### How can it be reproduced?
Creating a deployment with the security context to drop NET_RAW capabilities. Even though this is specified for our container, during the deployment this drop capability automatically picks up in the linkerD init container as well and fails the start up.

### Logs,

[2021-06-11 16:22] olix0r commented on #6254
Can you share the full output of a pod in this state, e.g. `kubectl get po -o yaml ...`? It would be helpful to see how the proxy-init container is actually getting configured in this case. In any case, I agree we should look into why this isn't working as expected.

In the meantime, you might prefer to use the [Linkerd CNI](https://linkerd.io/2.10/features/cni/) which avoids the need for the init

[2021-06-11 16:36] olix0r commented on #6238
I'm not a fan of adding more configuration surface area here. As @kolloch mentions, this isn't a reliable way to map pod IPs to a single service. I don't even think cilium/cilium#13882 really captures the preferred solution. We need to do some more testing with cillium and figure out how to inject a sidecar like Linkerd before Cillium's load balancing rules apply. As it stands today, I think this

[2021-06-11 16:41] olix0r commented on #6248
Can you share any information about the target pod? The error you're seeing is a client proxy indicating that the server at `10.240.7.200:80` is not listening. Is that a pod in Kubernetes? Is it listening on port 80? Is that pod injected with Linkerd? If so, can you share proxy logs from this pod?

[2021-06-11 16:43] olix0r commented on #6249
Thanks for the report @jroper!

[2021-06-11 16:54] olix0r commented on #6147
@tarvip Is this proxy injected with `linkerd.io/inject: enabled` or is it `linkerd.io/inject: ingress`?

[2021-06-11 18:57] #6172 closed

[2021-06-11 19:07] ctienshi commented on #6254
@olix0r I have added the output of the yaml below.
[code]

[2021-06-11 20:26] kteague-tasktop opened #6255 "Linkerd-proxy sidecar containers Readiness probe fails and pod remains in NotReady state"
## Bug Report

### What is the issue?

When a linkerd-proxy container is started, it never passes the Readiness probe and the pod remains in NotReady state.

(this is on pods within the linkerd control plane - we haven't started to extensively test using Linkerd with our app pods)

### How can it be reproduced?

When cluster nodes are terminated or rebooted, this condition can sometimes appear.

#

[2021-06-11 21:24] adleong commented on #6254
I can reproduce this by simply adding

[code]

to the container spec of an injected deployment.  This causes the init-container to fail with

[code]

It seems the securityContext of the contains within a pod bleed over into each other.  This is surprising behavior to me and I've having a hard time finding official documentation clarifying if this is intended behavior or not.

Related: https://gith

[2021-06-11 21:36] alpeb commented on #6254
Turns out linkerd is at fault here. The sidecar injector copies the `securityContext` from the main container into the init-container and the proxy container. This was done to fix an issue with PSP-enabled clusters (see #2819). In summary, when a pod is to be created, the PSP MutatingWebhookController adds a default `securityContext` into all the containers. Then the linkerd webhook adds the proxy

[2021-06-13 03:46] shahriak commented on #6248
yes, I am using CNI plugin. Here's logs with debug,warn turned on: https://gist.github.com/shahriak/2fb49ebf43dfdf571639881912bc1183

[2021-06-14 05:17] tarvip commented on #6147
Proxy is injected with `linkerd.io/inject: enabled` and also we are adding `l5d-dst-override` headers in Traefik. Should I try with `linkerd.io/inject: ingress` ?

[2021-06-14 10:40] Pothulapati opened #6259 "investigate missing proxy and application spans in Jaeger"
## Bug Report

### What is the issue?

Spans not being present in Jaeger, and thus full trace is not being shown.

![image](https://user-images.githubusercontent.com/7892868/121879612-b261b380-cd2a-11eb-9c17-a8dbc01d1a58.png)

The above is sometimes expected for the most recent traces (which are shown first in the jaeger UI) as some spans might not have yet received by jaeger and webpage refresh d

[2021-06-14 11:13] #5201 closed

[2021-06-14 16:24] olix0r commented on #6238
By the way, I just realized that there's a blog post covering Linkerd + Cillium that suggests several settings that may help here: https://www.cncf.io/blog/2021/02/25/kubernetes-network-policies-with-cilium-and-linkerd/

Specifically, I believe that `hostServices.enabled=false` may be helpful in this scenario.

[2021-06-14 17:14] AustinSmart commented on #5446
@adleong ```The only thing I can think of to add is that even though Cert-Manager stores the trust root in a secret, the trust root is a not a private value and can be safely stored in a Git Repo (unlike, for example, private keys).```

The issue is not that we wish for the value to remain secret, its that the "write back" of the value to the git repo would be a 2nd step in the install of linkerd.

[2021-06-14 17:44] alex-berger commented on #6238
That blog post does not consider [Cilium's `kube-proxy` replacement mode](https://docs.cilium.io/en/v1.10/gettingstarted/kubeproxy-free/#kubernetes-without-kube-proxy) in `strict` (kube-proxy less) mode, which depends on the ["Host-Reachable Services"](https://docs.cilium.io/en/v1.9/gettingstarted/host-services) feature. And as `hostServices.enabled=false` would disable the ["Host-Reachable Servic

[2021-06-14 19:00] #6074 closed

[2021-06-14 19:06] sdhoward commented on #6222
Not really, because I want the data to persist with low cardinality. It looks like there's still no agreement on a setting for that.

[2021-06-14 19:20] Abrishges opened #6261 "linkerd-proxy traffic splitter metrics missing in prometheus"
## Feature Request
Linkerd prometheus doesn't show traffic splitter weight information during traffic splitting/canary deployment. The only information available about traffic splitter in Prometheus is `trafficsplit_subscribers `and `trafficsplit_updates`.   Linkerd dashboard shows traffic splitter weight information and it will be great if this information is also available in Prometheus

linkerd

[2021-06-14 19:20] adleong commented on #6255
Based on the logs you shared, it seems like the controller's linkerd-proxy is not able to establish a successful TLS connection to the identity controller.  Are you able to reproduce this error with a totally fresh install of Linkerd?  Or does it only occur after upgrading?  If so, can you share the exact steps (commands) used to upgrade Linkerd?

[2021-06-14 19:47] adleong commented on #6248
Hi @shahriak!  It seems that the gists in the original description are no longer available: https://gist.github.com/shahriak/a5763d8e5cedc997d083929114081d64

[2021-06-14 23:00] kteague-tasktop commented on #6255
I've just made a fresh install of Linkerd 2.9.4 in a new EKS Cluster. The problem appeared right away this time, with only linkerd-identity pods healthy and all other control plane pods having a NotReady linkerd-proxy.

[2021-06-14 23:07] kteague-tasktop commented on #6255
After doing a rolling restart to linkerd-identity on the fresh cluster, then linkerd-proxy was healthy. The linkerd-proxy pod for a previously stuck pod is logging what appears normal(?):

[code]

[2021-06-15 05:17] shahriak opened #6263 "Linkerd running in HA mode causing OOMKill status and frequent pod restarts"
## Bug Report

### What is the issue?
I am trying to performance test Linkerd with a large scale service with 60 Ingress pods (nginx ingress) and 40 service pods (20-50K RPS). Whenever tests are running, I am seeing a lot of pod restarts (Service Pods) and pod statuses changing from Running -> OOmkill -> CrashLoopBackoff and repeating. What is the recommended settings we should follow for such lar

[2021-06-15 10:38] Nuckal777 opened #6264 "Multicluster no cross cluster mTLS due to missing service discovery"
## Bug Report

### What is the issue?
Every multicluster communication including health checks made by the service mirror fails due to the missing TLS initiation in the local cluster. The remote cluster's gateway therefore refuses the connection. No TLS is initiated as no identity for the remote cluster is provided to the local proxy by the destination controller. In cluster mTLS works fine in bot

[2021-06-15 14:31] rohitsakala opened #6265 "Facing linkerd_app_core::serve: Connection closed reason=client: Broken pipe (os error 32)"
## Bug Report

We are using `linkerd` as our service mesh in [epinio](https://github.com/epinio/epinio/) project. There is a `epinio` API server which listens to requests basically a pod. The `epinio` API server has an ingress of traefik.

When I try to access `https://epinio.192.168.128.3.omg.howdoi.website/api/v1/info` from inside any pod (ex `gitea`) inside the cluster, I get the following erro

[2021-06-15 16:41] olix0r commented on #6265
@rohitsakala Thanks for the detailed repro steps!

[2021-06-15 16:56] olix0r commented on #6264
My first guess would be that the control plane in the source cluster may not be configured with a suitable `clusterNetworks`:

https://github.com/linkerd/linkerd2/blob/9015a2b7a3afdb1c220ed9465cd27bbe356eea1b/charts/linkerd2/values.yaml#L13

The log context `server{orig_dst=198.18.204.225:4181}` is not in the set of discoverable networks -- is this IP address a service's clusterIP? If so, you'll n

[2021-06-15 17:03] olix0r commented on #6261
The linkerd dashboard is displaying this information by looking up the traffic split resources in the Kubernetes API. So I think you're looking for some kind of controller that watches all traffic splits in a cluster and exports prometheus gauges reflecting the cluster's state? This is probably something that belongs in the https://github.com/linkerd/linkerd-smi extension.

[2021-06-15 17:38] olix0r opened #6266 "injector: Set LINKERD2_PROXY_INBOUND_IPS"
The proxy currently forwards traffic for any inbound address to the localhost interface. This can unintentionally expose ports that are not bound on public interfaces.

To fix this, the injector should set a `LINKERD2_PROXY_INBOUND_IPS` environment variable. Ideally, this value should be derived from the downward API so that it can be supported with manual injection. If that is not possible, we sh

[2021-06-15 18:02] olix0r opened #6267 "injector: Set LINKERD2_PROXY_INBOUND_PORTS"
The injector should configure the proxy with a list of (non-proxy) ports exposed by the pod spec. Specifically:

- Extract all port numbers from all non-proxy containers in a workload spec;
- Add a variable to the proxy's environment, `LINKERD2_PROXY_INBOUND_PORTS`, with a list of port numbers exposed by the workload;
- The injector _should_ probably handle the case where other web hooks may add c

[2021-06-15 18:49] kleimkuhler commented on #6255
@kteague-tasktop So after restarting linkerd-identity, you are seeing the proxies for previously stuck pods starting up?

If you see this happen again, it'd be helpful if you can share the logs for linkerd-identity's proxy as well.

[2021-06-15 19:18] olix0r opened #6268 "proxy: Expose metrics for TLS detection errors"
The inbound proxy attempts TLS detection. When it succeeds, we instrument transport metrics with the TLS status. When it times out, however, we expose no metrics about this.

We should add an error counter to the inbound proxy, `inbound_tcp_accept_failure_total` with an `error` label that reflects the cause of the error. Note that this metric name intentionally differs from our current/older schem

[2021-06-15 19:23] hawkw commented on #6268
Do we want to put other transport-level labels on this metric, or should it _just_ be labeled with the error kind?

[2021-06-15 22:44] alpeb commented on #6267
xref #3750 for another use case where reinvocation would be desirable

[2021-06-16 01:48] shahriak commented on #6248
I am not able to repro the issue. closing!

[2021-06-16 01:48] #6248 closed

[2021-06-16 02:33] olix0r commented on #6086
We've had a lot of trouble reproducing this in tests, but I think this is very likely a manifestation of the same problem described in https://github.com/tower-rs/tower/issues/415. I'm especially suspicious of `tokio::sync::oneshot`, but we need to do a better job of eliminating the application logic before investigating such a low-level primitive.

I've put together a [`tower` branch](https://git

[2021-06-16 08:38] Wenliang-CHEN commented on #6086
Hey @olix0r thanks for the update.  I will get the service running with the new proxy.  will report here once I get anything interesting.

[2021-06-16 08:50] Nuckal777 commented on #6264
That does the trick. :+1: Good that there is a check coming for it. Thanks.

[2021-06-16 08:50] #6264 closed

[2021-06-16 15:44] olix0r commented on #6268
We should probably include the target port. I don't think there are any other useful labels we have at this point in the stack.

[2021-06-16 18:23] Pothulapati opened #6272 "check: opaque port annotations check timing out"
## Bug Report

### What is the issue?

Currently, For clusters running at scale the check times-out showing `context deadline exceeded`,  This seems to happen because w[e seem to retrieve all the services and pods **individually**  and validate them](https://github.com/linkerd/linkerd2/blob/main/pkg/healthcheck/healthcheck.go#L2265)!

### How can it be reproduced?

Running `linkerd check --proxy`

[2021-06-16 22:21] adleong opened #6288 "Running Linkerd check from the dashboard fails to run podCIDR check"
When clicking the "Run Checks" button in the Linkerd dashboard, the checks fail because the web service account does not have the appropriate RBAC permissions to perform the podCIDR check.

[code]

We should either grant the web service account the appropriate RBAC or have the web dashboard skip this check.

[2021-06-16 22:37] alpeb opened #6289 "Track unit tests code coverage"
Create a new workflow for tracking unit test code coverage, using the [codecov-action](https://github.com/codecov/codecov-action).

[2021-06-17 14:15] saul-gush commented on #4758
I just experienced the same thing with checking a database is ready before spinning up the container...

It caused Skaffold deploy to fail:

[code]

![image](https://user-images.githubusercontent.com/63714857/122414067-c4d42b00-cf7e-11eb-9d10-ba2041d9e087.png)

[2021-06-17 14:22] saul-gush opened #6293 "Skaffold failed to deploy due to Linkerd & broke CICD pipeline"
## Bug Report

### What is the issue?
Got error message in skaffold deployment when enabling the linkerd annotation. Caused CICD to stop working.

### How can it be reproduced?

Run a database is ready check in init container before spinning up main container. If I turn off the linkerd annotation, it works.
[code]

### Logs, error output, etc
![image](https://user-images.githubusercontent.com/6371

[2021-06-17 15:58] kleimkuhler commented on #4758
@saul-gush I think what's happening is `command` is still running when the proxy's init container starts and rewrites the IP tables. This causes it to fail as you see. I have an idea that may work, but I haven't tested it. Hopefully you can give it a try?

Take `command` and put it in the init container's `preStop` hook. I'm thinking it would look something like:

[code]

If this works as I am exp

[2021-06-17 16:24] kleimkuhler commented on #4758
@saul-gush Never mind the previous comment. The behavior I was trying to get is already the default behavior of init containers: [Each init container must complete successfully before the next one starts](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#understanding-init-containers)

[2021-06-17 20:28] kteague-tasktop commented on #6255
We saw this again and spent some time debugging it - the messages coming from linkerd-identity appeared "bad" but we weren't able to determine the root cause. The fix was to remove the helm charts for both linkerd and linkerd-cni and re-install them and the service mesh came up functional (and only upon removal/re-install of linkerd-cni ... just re-installing linkerd wouldn't fix it this time).

H

[2021-06-18 00:36] sdhoward commented on #6222
it seems like my issue would be addressed if we updated https://linkerd.io/2.10/reference/proxy-metrics/ to reflect:

* whether `response_total` has a limitation where the metrics disappear (and describe under what condition)
* whether `route_response_total` has a limitation where the metrics disappear (and describe under what condition)
* whether `control_response_total` has a limitation where th

[2021-06-18 04:59] akshitgrover commented on #6289
@alpeb
I'll like to take this up
Should I assign this to myself?

[2021-06-18 07:54] WoLfulus commented on #6066
any workarounds for this one? I'm facing the same problem but I'm unsure how to proceed. The original deployment container is consuming 10 mb while linkerd:

![image](https://user-images.githubusercontent.com/412397/122526878-26cd7880-cff1-11eb-81b3-f479c77110ab.png)

[2021-06-18 09:13] Wenliang-CHEN commented on #6086
Hello @olix0r, so...we let the service run for 2 days with the new proxy.  The panic does not happen anymore.  And we do notice some WARN message in the logs.

Attached please find the the samples.  Please let me know if anything is missing or incomplete.
[error_111.txt](https://github.com/linkerd/linkerd2/files/6675984/error_111.txt)
[error_113.txt](https://github.com/linkerd/linkerd2/files/66759

[2021-06-18 09:38] #6288 closed

[2021-06-18 12:11] nikhil-cldcvr opened #6306 "LinkerD Gateway : not showing the actual rps on grafana w.r.t the incoming traffic"
Team,
We are doing the load testing on multi-cluster setup. In this setup Frontend service A in cluster A talks to service B in cluster B via linkerd-gateway.  During 5k testing we observed that only 2 inbound rps on linkerd-gateway, where outbound traffic was 5k rps. Our frontend service A calling service B and we are getting 5k rps at service B level but not at linkerd-gateway level. Also we obs

[2021-06-18 14:06] olix0r commented on #6086
Thanks! Interestingly, it looks like we haven't triggered the scenario we've seen previously: in those logs most of the warnings appear to come form the reconnect module (which is more-or-less expected if the target endpoint isn't available); but none of those should warnings should really impact the balancer/ready_cache.

The logs I'm most interested in catching are `Pending service lost its canc

[2021-06-18 14:09] alpeb commented on #6289
Thanks @akshitgrover, please go ahead! :-) :+1:

[2021-06-18 14:33] #6266 closed

[2021-06-18 14:34] Wenliang-CHEN commented on #6086
Cool, I will keep it running.  Maybe we just need a bit more time until the scenario gets triggered.

[2021-06-18 15:06] dadjeibaah commented on #5899
@sannimichaelse, checking in to see if there is anything I can help out with. 😄

[2021-06-18 15:23] sannimichaelse commented on #5899
Hi @dadjeibaah , still on it, been occupied with some things recently, should get to it this weekend.

WIll let you know if I have any questions - for now, none yet

[2021-06-18 16:44] #6254 closed

[2021-06-18 17:22] kleimkuhler commented on #6255
@kteague-tasktop Okay thanks for the update let us know if it seems to be fixed by the last stable and we'll go from there.

[2021-06-18 19:22] rohitsakala commented on #6265
I think I found the issue. K3d installs Klipper-lb and we added klipper-lb to the service mesh. Both klipper-lb and linked change iptables and mess up the table. So, closing this. Thank you :)

[2021-06-18 19:22] #6265 closed

[2021-06-18 19:23] alpeb commented on #6293
Init containers run sequentially, so your `check-db-read` shouldn't be impacted by the proxy init that comes after. Is the postgres pod injected by linkerd? Postgres' protocol is not supported by linkerd, but port 5432 should be marked as opaque by default, which means this shouldn't be a problem. Could you verify that's the case by verifying the contents of the `linkerd-config` ConfigMap? (there

[2021-06-18 22:21] saul-gush commented on #6293
@alpeb  - 5432 is included in opaque ports as follows:
[code]

[2021-06-19 10:09] saul-gush commented on #6293
There should be a setting that you can configure that allows linkerd to run first in init containers. Or better yet specify the order like 1, 2, 3. My understanding is that init containers will run in order that they are presented.

[2021-06-19 12:30] saul-gush commented on #6293
We just experienced the exact same thing with a normal container - not a init container and we needed to take the annotation out of the deployment yaml... Do all pods require the linkerd annotation to work or can it mix and match?

[2021-06-19 18:03] sannimichaelse commented on #5899
Hi @dadjeibaah. The `GetNamespaceWithExtensionLabel(ctx, extensionName)` expects an extension name, to get all installed extensions am i using the same method or `GetAllNamespacesWithExtensionLabel(ctx)`

Also i currently start the web with `bin/web dev`. does the API changes also reloads automatically or i need to restart?

[2021-06-21 10:48] Pothulapati commented on #6259
Okay, Tried to go further on this! From what I've been seeing, there isn't a concrete bug. Most recent traces i.e in the last 4 minutes, are not complete i.e some spans are still not in the UI. but after a while, once a refresh is done, A full trace can be seen!

So, I went back and saw all the traces that are older than 5 minutes, to see if they have any missing spans and that does not seem to be

[2021-06-21 10:48] #6259 closed

[2021-06-21 12:49] elig-salt opened #6322 "Specify ports inclusively (not with --skip-ports)"
## Feature Request
We would like to ask for a an option to specify which ports to go through specifically with a flag such as:
`linkerd inject --include-ports XXX`

### What problem are you trying to solve?
We have a lot of outgoing traffic to databases, logs, metrics - destinations we're not interested in TCP metrics for.
Since we have only 1 or 2 ports open for HTTP traffic - we want to ignore a

[2021-06-21 13:57] dmeytin opened #6323 "Throttling Service/Rate Limit"
## Feature Request

### What problem are you trying to solve?
It's unrare that services are requested to be protected by throttling mechanism that could be defined by the following settings:

- Max amount of open connections (from all clients)
- Max amount of open connections by client (service name)
- Max amount of requests per time period (from all clients)
- Max amount of requests per time peri

[2021-06-21 15:41] olix0r opened #6324 "Emit events from the identity controller"
There's relatively little audit trail around certificates issued by the identity controller. To fix this, we should update the identity controller to emit Kubernetes events--like the proxy-injector does--as certificates are issued.

- Events should include at least the identity string, a digest of the certificate, and the certificate expiration.
- Ideally, these events should be associated with sp

[2021-06-21 15:52] dadjeibaah commented on #5899
@sannimichaelse, That seems correct.

That is correct as well. Unfortunately, live reloading only works for the frontend. If you make a API changes in `api_handler.go`, you'd need to re-run `bin/web dev` again to pick up the new changes.

[2021-06-21 16:58] wmorgan commented on #6324
Is there any value to having similar events emitted by the proxies, in such a way that they could be reconciled?

[2021-06-21 18:18] adleong commented on #6227
Closing due to inactivity.

[2021-06-21 18:18] #6227 closed

[2021-06-21 18:23] adleong commented on #6293
If your containers are attempting to establish connections right as they start up, they may be experiencing this: https://linkerd.io/2.10/tasks/upgrading-2.10-ports-and-protocols/#note-connecting-at-startup

[2021-06-21 18:35] adleong commented on #6322
While it's not particularly ergonomic, I think you can accomplish this with `--skip-ports` and port ranges.  For example, to include only port 8888 you could specify `--skip-ports 1-8887,8889-65535`

[2021-06-21 18:36] adleong commented on #6219
Closing due to inactivity.

[2021-06-21 18:36] #6219 closed

[2021-06-21 23:28] #6205 closed

[2021-06-22 07:10] elig-salt commented on #6322
Thought possible, it does feel a bit hacky :)
Plus - if we have ports `8081`, `3000`, `50004` and `50005`
It's hard to see it by looking at:
`1-2999,3001-8080,8082-50003,50006-65535`

I feel like this use case is strong enough to have a proper flag

[2021-06-22 07:46] AlonGluz commented on #6184
@olix0r We're are suffering from the same bug I guess, but our Linkerd-proxy is operating on default mode and not ingress. Does the temp fix affect it also?

[2021-06-22 11:25] mateiidavid opened #6337 "Support non-pod endpoints in GetProfile responses"
_This is a follow-up to #6253_

#6253 introduces support for `DestinationProfile` responses that include an endpoint when the profile request path is a pod DNS name. The destination controller, based on this change, will now return an endpoint in the `DestinationProfile` when:
 * the path in the request is an IP address that maps to a pod;
 * or when the path in the request is the DNS name of a po

[2021-06-22 14:16] olix0r commented on #6184
@AlonGluz Can you please open a new issue with as many relevant details as possible? Thanks.

[2021-06-22 17:54] olix0r commented on #6242
Reopening to track adding Dependabot to proxy-init as well

[2021-06-22 22:51] #6253 closed

[2021-06-23 04:58] #6272 closed

[2021-06-23 06:11] AlonGluz opened #6352 "Proxy gets 503 response from K8s service"
## Bug Report

While debugging occasional failures in Production, I observed connection errors between the outbound proxy and one of the pods (nonexisting pod). This issue resembles the issue [6184](https://github.com/linkerd/linkerd2/issues/6184)

### What is the issue?

We use Nginx ingress with LinkerD running in default mode (normal mode). One of the Ingress pods tries to connect to an IP (10.

[2021-06-23 15:04] alpeb opened #6354 "Expose client-go cache metrics in control plane components"
Control plane components such as `linkerd-proxy-injector` and `linkerd-destination` create multiple client-go informers whose caches can potentially grow a lot in big clusters that keep track of lots of workloads and resources. In order to verify that assumption we need to expose informer metrics.
It appears there's some instrumentation in place as shown in `reflector_metrics.go`(https://github.co

[2021-06-23 15:36] mateiidavid commented on #6352
Hey @AlonGluz thank you for raising this!

You mentioned there is no reliable way to reproduce this but I'm curious about the frequency of the error here. Is this something that happens quite frequently in your cluster?

I see there are some certificate errors there but those are not related to the actual connection the proxy is trying to establish. On the log line you have highlighted (and the la

[2021-06-23 16:15] #6289 closed

[2021-06-23 16:18] akshitgrover commented on #6354
@alpeb
Can I take a shot at this
I might need some help along the way

[2021-06-23 16:42] alpeb commented on #6354
Awesome, thanks @akshitgrover !
I'm not familiar myself with that mechanism either, so some experimentation will be required. You can start by looking into `controller/proxy-injector/webhook.go`, how it wires up prometheus metrics, and see how that can be extended to include client-go metrics.

[2021-06-23 21:02] #6242 closed

[2021-06-23 22:50] #6263 closed

[2021-06-24 11:01] AlonGluz commented on #6352
Hey, @mateiidavid thanks for your response. It happens quite a lot, it's just not that easily reproducible. I'll add the config and forward the output.

[2021-06-24 12:00] AlonGluz commented on #6352
`Found 3 pods, using pod/ingress-nginx-controller-57d9cb759c-q8hgf
time="2021-06-24T11:17:17Z" level=info msg="running version stable-2.9.4"
[     0.000885s]  INFO ThreadId(01) linkerd2_proxy::rt: Using single-threaded proxy runtime
[     0.001579s]  INFO ThreadId(01) linkerd2_proxy: Admin interface on 0.0.0.0:4191
[     0.001610s]  INFO ThreadId(01) linkerd2_proxy: Inbound interface on 0.0.0.0:41

[2021-06-24 17:39] akshitgrover commented on #6354
Even I have not tried exposing prometheus metrics as such.
This would be a great learning experience
Will be working on this on the weekend
I hope the timeline on this PR is not too tight

`controller/proxy-injector/webhook.go`
Also, I saw this `[controller/k8s/api.go](https://github.com/linkerd/linkerd2/blob/main/controller/k8s/api.go)` This can be our hook point for the metrics, As from the high

[2021-06-25 12:26] luckielordie opened #7637 "linkerd-await Usage Statement"
It would be good to see a usage statement for this project that can answer the following questions.

- Why I need to use linkerd-await?
- How I deploy linkerd-await?
   - Is it deployed already by the Linkerd helm chart? How do I ensure it's activated? Why isn't the behaviour automatic?
   - Is there a helm chart for deploying linkerd-await? Should I be rolling my own or do we need one as part of

[2021-06-25 15:27] olix0r opened #6379 "proxy: Test against upcoming version of rustls"
There's an upcoming version of rustls that changes how client & server configs are constructed: https://github.com/ctz/rustls/issues/758#issuecomment-868282257

We should try updating the proxy to use the git dependency and provide feedback before these APIs are published in the 0.20 release.

[2021-06-25 16:00] mateiidavid opened #6380 "Destination should return a profile with an endpoint to the gateway for mirror services"
When a service is mirrored from a target to a source cluster, the mirror's endpoints object will contain an address that points to the target cluster gateway.

In most cases, the mirrors only contain one address that corresponds to a `LoadBalancer` type service in the target cluster. In such cases, it would be more optimal to return an endpoint in the profile response; since we only have one addre

[2021-06-25 16:34] olix0r commented on #6324
@wmorgan the proxy doesn't talk to the Kubernetes API (and it shouldn't imo). The identity service is a fine source of truth for this information.

[2021-06-25 16:41] olix0r commented on #6255
Closing this for now, but please let us know if you hit anything like this again!

[2021-06-25 16:41] #6255 closed

[2021-06-25 16:45] olix0r commented on #5446
At the moment, core linkerd control plane components (namely the identity and destination controllers) need to have the trust anchor value embedded in their manifest since these components cannot rely on proxy-injector being available. It would be possible to fix this if we could rely on the proxy-injector being available before these components were created, but this would complicate installation

[2021-06-25 16:46] olix0r commented on #6086
@Wenliang-CHEN have you seen any of these warnings over the past week?

[2021-06-25 16:49] olix0r commented on #6306
Currently the gateway views all incoming traffic as TCP. It only becomes HTTP traffic on the outbound side of the gateway. Are there outbound metrics that are suitable for you in this case?

[2021-06-25 16:58] olix0r commented on #6147
@tarvip If you can test a recent edge release, it might be interesting to see whether this behavior is still observed with `inject: ingress`; though I think I'd generally recommend running with `inject: enabled` (note, however, that `l5d-dst-overide` has no effect in this mode).

[2021-06-25 19:50] kteague-tasktop commented on #6255
We continued to see the problem on linkerd 2.10.2.

Howevrer, after seeing the issue, "linkerd + linkerd-cni does not recover when a node restarts": https://github.com/linkerd/linkerd2/issues/4789 - I looked into our k8s environments and we were running both aws-vpc-cni (for core CNI) and aws-calico-cni (for ACL like functions). We removed linkerd-cni and changed to linkerd-init InitContainers. Ou

[2021-06-25 20:24] Hongbo-Miao opened #6385 "Error in the tutorial “Using GitOps with Linkerd with Argo CD”"
## Bug Report

### What is the issue?

I am following the guide at [Using GitOps with Linkerd with Argo CD](https://linkerd.io/2.10/tasks/gitops/) step by step.
I have succeed all previous steps until this `argocd app sync sealed-secrets` in Deploy Sealed Secrets section.
I got error:

[code]

### How can it be reproduced?

Follow the guide step by step.

#### `linkerd check` output

[code]

### E

[2021-06-25 21:49] Hongbo-Miao commented on #6385
Found the issue, will open a PR to fix it.

[2021-06-25 21:56] Hongbo-Miao commented on #6385
https://github.com/linkerd/linkerd-examples/pull/264 will help fix this issue.

[2021-06-25 22:02] #6385 closed

[2021-06-26 07:48] rdileep13 opened #6389 "Hyperlinks in docs do not render correctly - Staging microservices without the tears"
Noticed that the hyperlink does not render correctly for this link - https://linkerd.io/2017/01/07/a-service-mesh-for-kubernetes-part-vi-staging-microservices-without-the-tears/

Looks like there is a missing parenthesis that's causing this issue in the file linkerd.io/content/blog/a-service-mesh-for-kubernetes-part-vi-staging-microservices-without-the-tears.md

I cannot get to the line numbers, s

[2021-06-26 22:42] shahriak opened #6390 "Is Linkerd Ingress controller "Proxy ingress" mode mTLS'd?"
### Discussed in https://github.com/linkerd/linkerd2/discussions/6386

<div type='discussions-op-text'>

<sup>Originally posted by **shahriak** June 25, 2021</sup>
I was not able to find anything in the documentation. But is the Proxy Ingress Mode mtLS'd? The reason I am asking is because Ingress mode tremendously improves the performance and latency in our high scale service. However, there's no

[2021-06-27 00:08] #6390 closed

[2021-06-27 00:08] shahriak commented on #6390
Typo: should be "ingress"

[2021-06-27 10:43] AlonGluz commented on #6352
So I continue to investigate and gather as much data as possible:
This log record:
`[168189.439487s]  WARN ThreadId(01) outbound:accept{peer.addr=10.48.10.164:34494 target.addr=10.51.245.134:8080}: linkerd2_app_core::errors: Failed to proxy request: Service in fail-fast`

Nginx-ingress pod (10.48.10.164:34494) -> xxxx service (10.51.245.134:8080)
Then Nginx logs a 503 response

What is the expecte

[2021-06-27 20:18] sannimichaelse commented on #5899
Just raised a PR @dadjeibaah Kindly take a look and drop feedbacks

https://github.com/linkerd/linkerd2/pull/6391

[2021-06-28 07:58] Wenliang-CHEN commented on #6086
Hello @olix0r , we have been running the service with the new proxy, the same log level for a week.  There is no log related to "Pending service lost..." or "Ready service had no associated cancelation".  And we observe no connection issue from that service any more.

Is it possible that the upgrade of the library somehow fixes/suppresses the issue?

[2021-06-28 12:21] worldwideward commented on #5947
Followed the getting started guide today using Minikube and ran into the exact same issue. Fresh cluster, no network policies.

[2021-06-28 13:43] tarvip commented on #6147
It seems that version `edge-21.6.5` is not working at all with `inject: ingress`.
I was unable to access resources behind traefik, 404 was returned for different resources, probably this is different bug/issue. I upgraded only proxy image, everything else was still  2.10.2.

For example when I tried to access linkerd webui then in log there was:
[code]

and in proxy log:
[code]

OTOH, `stable-2.10

[2021-06-28 14:05] mateiidavid commented on #6352
Hey @AlonGluz thanks for investigating everything so thoroughly, apologies I was a bit late with a response.

These connection errors can be a bit tricky to debug without having a lot of context. I think it'd be helpful here to go through everything again and make sure we're on the same page so we can pinpoint what is happening. Before we dig in a bit deeper though, there are two things that I'd l

[2021-06-28 14:12] mateiidavid commented on #6389
Hey @rdileep13 thanks for bringing this up, great catch!

We'd love some help with this, would you be willing to open a PR with a fix in the [linkerd/website](https://github.com/linkerd/website) repo?

[2021-06-28 15:37] rdileep13 commented on #6389
Sure, pls assign it to me. I thought I couldn't assign it to myself. Glad to send a PR

[2021-06-28 15:52] Pothulapati opened #6394 "Support StatsSummary for Traffic Splits through Service Profiles"
Currently, Traffic Splitting output in the CLI (i.e `viz stat ts`) and in the dashboard
are read through MetricApi's `StatSummary` endpoint. This logic **currently only reads**
the `TrafficSplit` resources and shows summary only for the same.

This is restrictive as Traffic Splitting can also be done directly through `ServiceProfiles` now,
and there are no insights when done this way. We need a wa

[2021-06-28 15:56] Pothulapati commented on #6394
As per our discussions and the new [SMI Extension](https://github.com/linkerd/linkerd-smi/), Linkerd would focus on generating this UX through Service Profiles (currently it doesn't), and we can remove the same support for `TrafficSplit` resource as with the new extension these resources are converted into `ServiceProfiles`, and the CLI would read them only.

#6393 tries to implement this, without

[2021-06-28 18:10] davidkarlsen commented on #4851
@MattPOlson @cpretzer did you ever get this to work on OCP?
@jkassis did you get it to work on any other SDN than calico on OCP? Did you ever find out the underlying cause?

[2021-06-28 23:45] #5830 closed

[2021-06-29 12:27] WoLfulus opened #6398 "Unable to install linkerd viz on DigitalOcean due to missing node's podCIDR"
## Bug Report

### What is the issue?

I can't install linkerd viz due to a failing check. The problem seems to occur here because podCIDR is "missing" from spec:

https://github.com/linkerd/linkerd2/blob/ebbb3182a9a09467eac1204b3b517a3caa864027/pkg/healthcheck/healthcheck.go#L1901-L1905

For some reason DigitalOcean nodes doesn't seem to return podCIDR in its spec. I'm not sure if this is a permi

[2021-06-29 14:00] alpeb commented on #6398
Thanks @WoLfulus , I was able to reproduce that problem in DO as well. I'll issue a PR to get around that.

[2021-06-29 16:28] alpeb commented on #6398
It's a consistency check only, but I can see that check is also blocking the installation of the viz extension. Everything else should be ok as long as those default CIDRs are respected, which seems to be the case. We'll try to get that fix in this week's edge, so please keep an eye open for that one so you can give it another try :wink:

[2021-06-29 20:52] WoLfulus commented on #6398
I already built a version locally to get around that one ;)

Thanks!

[2021-06-30 05:38] beingamarnath commented on #3298
Any updates on the progress here? Or is it even planned? Now that Envoy support for windows is in GA, wondering what's the plan for Linkerd on this avenue.

[2021-06-30 07:35] AlonGluz commented on #6352
Hey @mateiidavid ,
1. Linkerd upgrade requires maintenance time, and I prefer not to do it this time unless I'm positive it will resolve the issue.
2. The mentioned GKE network is routes-Based, so no CNI.
3. The log entry is describing communication between the Nginx-ingress pod and Auth service. We configured retry in the Linkerd service profile.
Without it, the problem mentioned is far worse. Th

[2021-06-30 09:29] AlonGluz commented on #6352
@mateiidavid couldn't find any relevant logs regarding the IP's with this config
`config.linkerd.io/proxy-log-level: warn,linkerd=info,linkerd_dns=debug,linkerd_proxy_dns_resolve=debug,linkerd_proxy_resolve=trace,linkerd_reconnect=debug`

[2021-06-30 09:44] #6398 closed

[2021-06-30 11:30] mateiidavid commented on #6352
@AlonGluz thank you for the reply and for trying to get the logs. Without a way to reproduce this and without being able to see all of the logs myself, there isn't much that I can suggest. There a few observations from my side though, pertaining mostly to how your ingress set up works.

First, I'm a bit confused about the peer address in this situation that we see in the logs. You mentioned `10.5.

[2021-06-30 12:23] AlonGluz commented on #6352
@mateiidavid, my bad first these are the correct IP addresses (also edited in the previous comment)
10.51.245.134 - auth service k8s service
10.48.10.164 - Ingress-Nginx POD
The flow is as follows:
All requests comes to Ingress-Nginx and then redirected to Auth-service (k8s logical service), this is achieved using the following configuration:
`global-auth-url: http://auth-service.default.svc.clust

[2021-06-30 13:02] AlonGluz commented on #6352
@mateiidavid also it looks like `config.linkerd.io/proxy-log-level: warn,linkerd=info,linkerd_dns=debug,linkerd_proxy_dns_resolve=debug,linkerd_proxy_resolve=trace,linkerd_reconnect=debug` doesn't actually set the log level to debug

[2021-06-30 13:12] mateiidavid commented on #6352
@AlonGluz

No worries! These things can be a bit painful to debug, it's good we're on the right track now.

Ahhhh my bad, I copy & pasta'd this. You might be able to try:
[code]

Since we're dealing with a failfast error we don't actually need the other traces and debugs. Logging in proxies can be done on a module-by-module basis or globally. For example the annotation I just linked sets the `link

[2021-06-30 13:46] AlonGluz commented on #6352
@mateiidavid  That's what we are using,  global-auth-snippet and location-snippet.

[2021-06-30 14:24] akshitgrover commented on #6354
Sorry for the delay on this
I have been stuck with some other tasks for quite a while
An update on this
I came across this controller-runtime repo
It implements reflector metrics, I am digging into this to find out a hook point
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/metrics/client_go_adapter.go#L184

[2021-06-30 15:20] RichiCoder1 commented on #3298
LinkerD doesn't use Envoy, so that's kind of moot

[2021-06-30 16:07] beingamarnath commented on #3298
Yes, I know LinkerD uses linkerd proxy. Just for the progress comparison I brought up about Envoy.. 😝

[2021-06-30 16:14] panos-- opened #6411 "Support custom annotations on Prometheus' service account in the linkerd-viz Helm chart"
## Feature Request

### What problem are you trying to solve?

Using the linkerd-viz Helm chart I'm trying to implement Prometheus remote write to [Amazon Managed Service for Prometheus](https://aws.amazon.com/prometheus/). The Linkerd is running on [EKS](https://aws.amazon.com/eks/).

For linkerd-viz's Prometheus to be able to write to the remote Prometheus it has to authenticate against it. To a

[2021-06-30 18:34] adleong commented on #6411
Hi @panos--

The quickest way to get this working would probably be to run your own Prometheus (using the Prometheus manifests from linkerd-viz as a starting point).  This gives you complete control over the Prometheus configuration and linkerd-viz can be set up to use your Prometheus deployment: https://linkerd.io/2.10/tasks/external-prometheus/

[2021-06-30 18:58] adleong commented on #6380
I'm not sure about this.  There are a few scenarios to keep in mind:

* The LoadBalancerStatus can contain multiple ingress objects; in other words, multiple IP addresses
* Some LoadBalancers (such as in AWS, for example) expose a hostname rather than an IP address.  We use DNS to resolve this hostname to a set of IP addresses
* Users can override the gateway addresses field in the Link resource t

[2021-06-30 20:47] cpretzer opened #6418 "linkerd-viz: helm installation instructions need a name"
The instructions to [install](https://github.com/linkerd/linkerd2/tree/main/viz/charts/linkerd-viz#installing-the-viz-extension-chart) the linkerd-viz extension with helm don't include a name for the installation, so the installation fails with this error:

`Error: must either provide a name or specify --generate-name`

This is the install command that fails:

`helm install linkerd/linkerd-viz`

T

[2021-07-01 10:20] rdileep13 opened #6422 "linkerd check --pre reports usage details despite right syntax"
## Bug Report
When running 'linkerd check --pre' without underlying kubernetes infra (in the specific case minikube was down/stopped), after the error string, half page worth of usage is displayed.
This often side tracks user into checking wrong part of the system, like installation, etc.

### What is the issue?
Although the syntax of the command is right, linkerd displays usage details causing co

[2021-07-01 10:56] rdileep13 opened #6423 "Confusing error while installing linkerd cli"
## Bug Report
When installing linkerd cli with  'curl -sL https://run.linkerd.io/install | sh' displays below error
[code]

### What is the issue?
There was no space in /tmp where installation script was trying to create a directory to copy the file. Fails while copying the file (directory is created)

### How can it be reproduced?
Run 'curl -sL https://run.linkerd.io/install | sh' on any box with

[2021-07-01 20:18] alex-berger commented on #6246
For reference these are the corresponding Cilium issue/PR for this problem

- https://github.com/cilium/cilium/issues/16583
- https://github.com/cilium/cilium/pull/13882

[2021-07-01 22:06] kleimkuhler commented on #6422
@rdileep13 you're welcome to fix this if you are interested. Searching for `Error rendering install manifest` in the repo we can see this error occurs [here](https://github.com/linkerd/linkerd2/blob/48c5f70c399aeaa45ee125deca2253a3f9ce96e4/cli/cmd/check.go#L175). We can see based off a few lines above that `options.preInstallOnly` means this only runs when `--pre` is passed to `linkerd check`.

So

[2021-07-02 06:29] rdileep13 commented on #6423
An additional option could be to ask the user for installation location (directory)

[2021-07-02 06:35] rdileep13 commented on #6422
Thanks Kevin! I will give it a go and verify the fix locally

[2021-07-02 07:19] tejeshwari opened #6427 "Bad Certificate Issue with Linkerd 2.95 installation -'Sending fatal alert BadCertificate'"
Bug Report
Bad Certificate Issue with Linkerd 2.9.5 installation -'Sending fatal alert BadCertificate'

What is the issue?

We have tried to install Linkerd 2.9.5 stable version with our certificates . Certificates were generated from Step Tool. As we had  few issues with certs and switched to install 2.9.5 manually with the default certificates that were generated with the command  **linkerd inst

[2021-07-02 10:52] rumanzo opened #6428 "daemon:identity: linkerd_proxy_identity::certify: Received invalid certificate: invalid certificate: UnknownIssuer"
## Bug Report
I try to setup linkerd using helm chart chart version 2.10.2. I use cert-manager with vault issuer (setup described [here](https://github.com/jetstack/cert-manager/issues/4142)). Values is close to values from helm-chart.
I get ca.crt file like this
[code]
and use this values:
[code]

But I still cant setup linkerd2 to my cluster. Linkerd identity start to work, but linkerd-proxy don

[2021-07-02 13:41] rdileep13 commented on #6422
Looks good on local testing.

[2021-07-02 14:31] JasonMorgan opened #6429 "Add metrics data to ReplicaSets"
## Feature Request

I'd like to see Linkerd metrics for ReplicaSets

### What problem are you trying to solve?

If you look at issue #5189 you can't get data from a rollout because we don't handle that object type. It does however create a replicaSet which would be just as good as watching a rollout.

### How should the problem be solved?

After talking with @alpeb it sounds like there are 2 main

[2021-07-03 13:29] aryan9600 commented on #6429
I might be wrong here, but isn't this already supported via `linkerd viz stat rs`?

[2021-07-03 16:13] rdileep13 commented on #6427
I'm a novice trying to come up to speed with linkerd.

I am assuming this is the command to reproduce the issue - linkerd install --ha --ignore-cluster > linkerd.yaml , ie observing logs after that. Let me know if anything else is required.

That apart, based on the past experience CertNotValidYet implies clock skew on your instances. Let's say certificate was issued to be valid from tomorrow and

[2021-07-05 07:51] lazyo666 opened #6437 "Remove annotation config.linkerd.io/enable-debug-sidecar: "true""
## Bug Report

### What is the issue?
If you do a linkerd inject call and enable the debug sidcar the config annotation `config.linkerd.io/enable-debug-sidecar: "true"` will NOT removed in case of an `linkerd uninject`.
For all further `linkerd inject` calls the debug sidecar will still be enabled.

### How can it be reproduced?
[code]

### Logs, error output, etc
[code]

#### `linkerd check` outp

[2021-07-05 09:11] rdileep13 commented on #6422
PR pending at https://github.com/linkerd/linkerd2/pull/6433

[2021-07-05 10:24] mateiidavid commented on #6352
@AlonGluz apologies for being a bit tardy with my response. It seems service discovery should work well, perhaps you can verify it by looking at the debug logs for the ingress pod and seeing whether you have a `ServiceProfile` that resolves to your auth service? (similar to what I posted above). Alternatively if you post the full logs in a gist I can have a look for you.

Next, I'd be interested t

[2021-07-05 18:14] alpeb commented on #6437
Only the `linkerd.io/inject: enabled` annotation is removed with `linkerd uninject`. The `config.linkerd.io/*` annotations are kept, the reasoning being that those may constitute configuration attached to the pod metadata and the responsibility of `linkerd uninject` should only be removing the proxy. So if the user wants to inject it again later, his config will still be there.

I you want to remo

[2021-07-05 20:46] kellybirr opened #6441 "linkerd-proxy OOMKilled on ingress controller"
## Bug Report

### What is the issue?
ingress-nginx-controller pods get OOMKilled frequently due to Linkerd proxy.

### How can it be reproduced?
I can easily repro it on one of my four cluster, no idea why.  The other three clusters don't have this issue. Same version of Kubernetes, Linkerd and Nginx Ingress.

### Logs, error output, etc

[code]

[code]

#### `linkerd check` output

[code]

### E

[2021-07-05 21:18] kellybirr commented on #6441
here is a debug level excerpt from "describe"
[code]

[2021-07-05 21:48] kellybirr commented on #6441
New describe from newest proxy after OOMKilled
[code]

[2021-07-05 21:51] kellybirr commented on #6441
[log.txt](https://github.com/linkerd/linkerd2/files/6766304/log.txt)
log from proxy

[2021-07-05 22:06] kellybirr commented on #6441
[log.txt](https://github.com/linkerd/linkerd2/files/6766329/log.txt)
logs from proxy, scrubbed of tokens

[2021-07-05 23:55] tdyas commented on #6066
Here are redacted debug logs from `linkerd-proxy` sidecars that experienced the issue. Note: IP addresses have been replaced with stable identifiers and the name of backend service is redacted to SRV-BACKEND.

- [redacted-proxy-debug-log-1.log](https://github.com/linkerd/linkerd2/files/6766507/redacted-proxy-debug-log-1.log)
- [redacted-proxy-debug-log-2.log](https://github.com/linkerd/linkerd2/fi

[2021-07-06 06:31] #6437 closed

[2021-07-06 08:01] electrical opened #6442 "Drain of single node and reboot causes failure"
## Bug Report

### What is the issue?

Context https://linkerd.slack.com/archives/C89RTCWJF/p1625556332018900

### How can it be reproduced?

3 node cluster with Linkerd installed with HA mode.
Drain single node and reboot.
service that was on the drained node moved to other available host and linkerd-proxy failed to start.

### Logs, error output, etc

[code]

#### `linkerd check` output

linkerd

[2021-07-06 14:53] alpeb commented on #6429
@aryan9600 You'll see calling that will return empty stats. The problem starts in [GetOwnerKindAndName](https://github.com/linkerd/linkerd2/blob/30a50e7d430b8bcc85efddd5393d8c272a415ba5/controller/k8s/api.go#L469): when injecting the pod, if the parent is a ReplicaSet then the ReplicaSet's parent is fetched and returned as the pod's owner, which in this case is the Rollout workload. This is then u

[2021-07-06 16:39] olix0r commented on #6429
The "correct" solution is to make our metrics labeling generic enough to support arbitrary resource hierarchies without special-casing deployments. An interim fix might be to fallback replica sets when a deployment cannot be discovered.

[2021-07-06 19:17] adleong commented on #6324
Fixed by https://github.com/linkerd/linkerd2/pull/6364

[2021-07-06 19:17] #6324 closed

[2021-07-06 22:43] adleong commented on #6427
Hello @tejeshwari and @rdileep13

Are you following these instructions for generating certs and installing Linkerd? https://linkerd.io/2.10/tasks/generate-certificates/

Can you share the exact command you used to generate the certificates using `step`?

Note that in order for Linkerd to use the certificates you generated, you'll need to pass the `--identity-issuer-key-file`, `--identity-issuer-ce

[2021-07-06 22:45] adleong commented on #6423
Hi @rdileep13!  If the https://run.linkerd.io/install script doesn't work for you, you can also download and install the Linkerd CLI binary directly from the releases page: https://github.com/linkerd/linkerd2/releases

[2021-07-06 23:56] adleong commented on #6441
Hi @kellybirr!  It's interesting that this happens on one of your clusters but not the others.  It may be triggered by certain traffic patterns or the performance of downstream services may be causing backpressure.  If you can figure out what specific conditions trigger this behavior such that we can reproduce it, it will be a lot easier for us to track down and fix.

In the absence of that, getti

[2021-07-07 00:13] adleong commented on #6293
@saul-gush does this help?  Please feel free to reopen this issue if that doesn't answer your question.

[2021-07-07 00:13] #6293 closed

[2021-07-07 00:17] adleong commented on #6322
Yup, it's awkward for sure.  However, it's a priority to keep Linkerd's configuration as simple as possible.  Having both `--skip-ports` and `--include-ports` would incur some complexity in how these configurations are stored and how to resolve interactions between the two.

[2021-07-07 05:52] kellybirr commented on #6441
I checked with my lead engineer and there is nothing special about the traffic that I thoughts I'd find.  Also every app on this cluster runs on other clusters with the same Nginx and Linkerd without issue.  There is no indicator on my end of anything unique to this cluster.

Next stop is to probably get dumps, not sure how to do that.  Out of curiosity is it possible to easily increase the 250m l

[2021-07-07 05:55] kellybirr commented on #6441
here is a top of my cluster that is no crashing
[code]

[2021-07-07 06:08] kellybirr commented on #6441
i found `config.linkerd.io/proxy-memory-limit`, i'm going to try giving it 1Gi on that cluster and see what it uses

[2021-07-07 06:49] sagarpatil23192 commented on #6306
Yeah outbound metrics are correct. The  latency and RPS is incorrect and the numbers don't match with the other components.

[2021-07-07 12:02] elig-salt commented on #6322
I see, we'll use --skip and try to produce the same result on our end. Thanks !

[2021-07-07 13:19] rdileep13 commented on #6423
That's right. We can manually download it. However, the instructions for that are absent or incomplete. For example, if I go into releases, it shows all releases (edge and cli). I had to scroll to the right page to get cli.
Secondly, once I download the cli, further steps are not documented (ie copying that in /usr/local/bin, chmod and symlink).

As part of this bug, I was wondering if it is possi

[2021-07-07 15:40] kellybirr commented on #6441
After giving both clusters 1 1GI limit for the proxy on the ingress controller, I have some interesting results:

The cluster that was never being OOMKilled shows this after 9 hours
[code]

The cluster that was constantly OOMKilled shows this:
[code]
(Note: The three "-ld-" pods are the ones with Linkerd injected.  the other two are running without since this is production and I cant afford to let

[2021-07-08 07:33] ctienshi opened #6449 "Latency when linkerD enabled to Azure MySQL"
## Bug Report

### What is the issue?
When linkerD is injected to a pod running in AKS, the initial connection to the MySQL takes around 100 seconds. But when the linkerD injection is disabled it takes around 2 seconds.

### How can it be reproduced?
Run a pod with linkerD injected and connect to a Azure MySQL server from the pod. The latency would be around 100 seconds

### Logs, error output, et

[2021-07-08 15:47] rumanzo commented on #6428
I found that I user wrong path for vault issuer, and get non CA certificates with wrong usages. Linkerd error message give me nothing, but finally I found problem.
This part of linkerd + cert-manager + vault integration very poorly described in the documentation

[2021-07-08 16:06] #6224 closed

[2021-07-08 16:20] olix0r commented on #6449
You're likely hitting protocol detection timeouts. You likely need to configure outbound skip ports as described here https://linkerd.io/2.10/features/protocol-detection/#skipping-the-proxy

[2021-07-08 16:20] olix0r commented on #6159
#6188 has been merged

[2021-07-08 16:20] #6159 closed

[2021-07-08 16:23] olix0r commented on #5198
Recent proxy images use [`distroless`](https://github.com/linkerd/linkerd2/blob/4532f2b7927849aa8fe39b248a9f3956b72a6844/Dockerfile-proxy#L1)

[2021-07-08 16:23] #5198 closed

[2021-07-08 17:15] olix0r opened #6452 "Introduce an `identity-trust-anchors` ConfigMap"
There are various situations where one may want to decouple creation of the identity trust anchors from the installation of the core linkerd components (as described in #6108 and probably elsewhere). To support this, I propose that we introduce a  new configmap, i.e. `identity-trust-anchors`. This configmap would have a single key containing the bundle of PEM-encoded trust anchor certificates.

Co

[2021-07-08 20:28] alpeb opened #6453 "Check cert provided by external issuers is indeed an intermediate cert"
When the issuer certificate is dynamically loaded [here](https://github.com/linkerd/linkerd2/blob/136edffaa4b63a6321f78b71600848bd791f3a90/pkg/identity/service.go#L113), add to the list of validations that it is indeed an intermediate certificate and not a leaf.
One example where this problem was found was #6428, where Cert-manager was configured with Vault as an issuer, but a misconfig had Vault

[2021-07-08 20:37] alpeb commented on #6428
Indeed, I could reproduce the problem using your setup. I've raised #6453 so that we check those certs are not leafs and properly issue a warning.

However, Vault ignoring the Issuer's `isCA` config is indeed problematic and should raise a warning on their side as well. But I think the Vault Cert-manager issuer config docs is out of scope in linkerd's docs, since that's totally orthogonal to linke

[2021-07-08 22:13] kleimkuhler commented on #6423
@rdileep13 We'll happily take documentation contributions that would have been helpful for the situation you encountered!

I'm not inclined to add additional error handling into the install script though; it's meant to be a convenience for installing the CLI. Since each situation and machine is different, there is the potential for a lot of additional complexity to handle all possible errors that

[2021-07-08 22:17] #6418 closed

[2021-07-08 23:31] rumanzo commented on #6428
Thank you. It will be very helpful

You are right. I'll try to influence this.

I have build debug version of cert-manager and saw that CSR is correct, as other query fields, and looked to vault documentation, and found [this](https://www.vaultproject.io/api/secret/pki#sign-intermediate), I change path in cert-manager vault issuer and policy paths in vault, and got correct intermediate-CA with req

[2021-07-09 03:43] ctienshi commented on #6449
Thanks @olix0r . We will check on this

[2021-07-09 03:43] #6449 closed

[2021-07-09 06:42] darkn3rd opened #6456 "linkerd-config-overrides secret generated with linkerd-cli and not helm chart"
Linkerd CLI generates a secret `linkerd-config-overrides` and the helm chart does not generate.  The other secrets `linkerd-identity-issuer`, `linkerd-proxy-injector-k8s-tls`, `linkerd-sp-validator-k8s-tls` are the same.

Is this something needed to be done in the helm chart?  How would one generate this for the helm chart?

### Steps

[code]

### Expected Results

The secrets would be similar.

#

[2021-07-09 12:44] DaspawnW commented on #5852
We detected this issue a week ago in 2.9.0, afterwards we performed an upgrade to 2.10.2, which should include the edge-21.3.3 fix for it. At some point in time the destination service stops watching profiles and endpoints and then the whole traffic within the mesh stops to work.

![destination stop watching](https://user-images.githubusercontent.com/2182549/125078865-43764100-e0c3-11eb-8a92-89155

[2021-07-09 14:07] alpeb commented on #6428
Excellent! Thanks for your feedback, this will serve as reference for anyone else attempting to do the same :+1:

[2021-07-09 14:07] #6428 closed

[2021-07-09 14:11] alpeb commented on #6456
This is intended. `linkerd-config-overrides` stores the custom config used during the CLI install. OTOH when installing through helm, the helm tool creates and stores a secret with a similar intent, so there's no need for `linkerd-config-overrides`.

[2021-07-09 14:16] alpeb commented on #6428
@rumanzo btw, if you'd like to contribute back to linkerd, #6453 would be a nice and isolated place to start. I'd be happy to answer any questions :wink: :wink:

[2021-07-09 15:58] #6422 closed

[2021-07-09 15:58] #6132 closed

[2021-07-09 15:59] Hongbo-Miao commented on #5417
Seems added by https://github.com/linkerd/linkerd2/pull/6188

[2021-07-09 15:59] cpretzer commented on #6456
@darkn3rd have a look at [this comment](https://github.com/linkerd/linkerd2/blob/main/cli/cmd/install.go#L403) in the code

I'm going to close this issue, but please reopen if you have additional questions

[2021-07-09 15:59] #6456 closed

[2021-07-09 16:52] #6267 closed

[2021-07-09 17:09] alpeb commented on #5034
I could confirm this is no longer an issue, after having moved the viz components into their own extension in stable-2.10:
[code]

[2021-07-09 17:09] #5034 closed

[2021-07-09 17:30] olix0r commented on #5417
#6188 only changed the collector implementation, but the proxy continues to use the opencensus protocol to send traces to the collector.

[2021-07-09 17:31] alpeb commented on #5024
We have nowadays the `gateway.loadBalancerIP` config in the multicluster Helm values.yaml file, which if I'm not mistaking addresses this. @Dariusch could you confirm if that's the case?

[2021-07-09 18:03] importhuman commented on #6453
I'd like to take this up!

[2021-07-09 18:19] alpeb commented on #3505
Fixed in #3942

[2021-07-09 18:19] #3505 closed

[2021-07-09 18:24] #6268 closed

[2021-07-09 18:29] alpeb commented on #6453
@importhuman I believe @rumanzo is already looking into it, so let's leave him some time to tackle it. I can guide you in the #contributors slack channel selecting a first issue if you're so inclined :slightly_smiling_face:

[2021-07-09 18:45] rumanzo commented on #6453
Yes, I actually wrote a code and checked it. Will make PR later

[2021-07-09 19:24] kleimkuhler commented on #5852
@gokcesurenkok Thanks for the details here. It would be helpful to figure out why there was such a large increase in traffic to the destination service.

Around the time that this occurred, were there any other meshed pod restarts going on in the cluster? Is it possible that after a large number of restarts or the introduction of newly meshed pods, that there was just a lot more traffic to the des

[2021-07-09 20:36] #6354 closed

[2021-07-10 12:16] importhuman commented on #6221
I'd like to work on this :smile:

[2021-07-10 20:30] darkn3rd opened #6462 "Published Helm Charts depends on local file based unpublished chart"
There are a few helm charts that are published that have a dependency on the partials  chart from a file based reference.  The user is required to download the source code to be able to have access to the unpublished chart.

### Steps

Observe the dependency and note that this cannot be resolved.

This is what I found with a brief scan:

* https://artifacthub.io/packages/helm/linkerd2-edge/jaeger

[2021-07-11 00:59] darkn3rd opened #6463 "Linkerd chart anti-patterns around namespace"
If the namespace `linkerd` already exists, the chart fails.  Thus the helm chart is not idempotent, which makes it difficult to manage changes on an existing infrastructure.  It is true that this can be overridden (e.g. `installNamespace: false`), but the helm chart by default is not idempotent.

Embedded namespaces in a helm chart is an anti-pattern as it removes the ability to manage the kuberne

[2021-07-12 08:45] Pothulapati commented on #6462
Hey @darkn3rd,

I don't think that is the case. Currently, The main charts i.e `linkerd` and the extensions that are published, have the dep chart i.e `partials` (which hosts common templating functions) inside their `./charts` folder where dependencies are rendered into. Hence,

[code]

This is done because users would never interact with `partials` directly, and hence we didn't find a need to ve

[2021-07-12 12:29] ubergesundheit opened #6468 "Enable readOnlyRootFilesystem: true for cni-plugin helm chart"
The helm chart of the cni-plugin does not specify `readOnlyRootFilesystem` for the DaemonSet container.

I could provide a pull request with changes:

- Change the `cni-plugin/deployment/scripts/install-cni.sh` script to use `/tmp` for temporary files
- Add a `EmptyDir` volume mounting `/tmp` to the chart in `charts/linkerd2-cni`
- Enable `readOnlyRootFileSystem` in the container `securityContext`

[2021-07-12 14:54] alpeb opened #6470 "Extend Distributed Tracing doc to instruct how to enable the jaeger links"
The [distributed tracing docs](https://linkerd.io/2.10/tasks/distributed-tracing/)  should be expanded to provide instructions on how to enable the jaeger links in the linkerd dashboard when the `linkerd-jaeger` extension has been installed.

Those instructions are basically to add an argument like `jaeger-addr=jaeger.linkerd-jaeger:16686` to the `linkerd-viz`' `web` Deployment, or upgrading `link

[2021-07-12 15:30] alpeb commented on #6463
That's a great point. The reason we set the namespace by default is because it requires metadata that Helm has no way of declaring. We could have gone the other way, and not provide the namespace by default and give instructions about adding that metadata. But that's an additional step that would make things a little bit more complicated for users. Instead, we opted for making things simpler and w

[2021-07-12 16:48] mateiidavid commented on #6221
Hey @importhuman, apologies for the slight mix-up but this seems to be a duplicate of #6044. I hadn't noticed before; with #6044 we decided not to go ahead with the implementation. When it comes to the grafana charts, we'd like to favour simplicity so it's not ideal for us to have the dashboard take the datasource as a parameter. We'd like at some point to spin these charts (and maintain them) sep

[2021-07-12 16:48] #6221 closed

[2021-07-12 19:43] importhuman commented on #5561
I'd like to work on this!

cc: @mateiidavid

[2021-07-12 21:04] tdyas opened #6473 "add time-series metrics for memory consumption by proxy data structures"
https://github.com/linkerd/linkerd2/issues/6441 and https://github.com/linkerd/linkerd2/issues/6066 both report `linkerd-proxy` being OOM killed for using too much memory. To the extent not already tracked, it would be useful in debugging this to add time-series metrics that track the size of various data structures in the proxy sidecar. Capturing these metrics may aid in debugging the linked issu

[2021-07-12 21:06] tdyas commented on #6473
cc @cpretzer

[2021-07-13 02:53] kleimkuhler commented on #6441
@kellybirr thanks for the follow-up. I noticed that on the cluster that was never being OOM killed that one of the proxies is using 317 Mi. This would have been OOM killed without the addition of the annotation. Did anything change about the traffic that this cluster was receiving?

Also, is the memory used continuing to increase at all or is it hovering around the values that you've provided abov

[2021-07-13 03:04] #6453 closed

[2021-07-13 03:40] kellybirr commented on #6441
So a week later and the memory usage of both clusters are giving around the same level. 175-325Mi per pod. It's been very stable. Clearly higher than one would normally expect for Libkerd proxy sidecar, but it's not been a problem since I gave it a 1Gi limit.

Ooh and to the specific question. Nothing changed on cluster 1, no idea why a pod now using 320Mi and wasn't being killed before.

[2021-07-13 10:08] mateiidavid commented on #5561
@importhuman awesome! I'd suspect most of the work will be done in the service-mirror controller. I think [the processNextEvent()](https://github.com/linkerd/linkerd2/blob/main/multicluster/service-mirror/cluster_watcher.go#L551) function is a good starting point for this. We use the service-mirror to create mirror services in a local cluster; we pick up changes to existing services in the remote

[2021-07-13 16:42] #6429 closed

[2021-07-13 16:43] #6322 closed

[2021-07-13 16:48] olix0r commented on #6306
Can you elaborate? Which latency and RPS metrics are incorrect? Where?

What changes do you think need to be made to fix this? Is this a matter of needing to modify the Grafana dashboards to use outbound metrics for the multicluster gateway? Or do you believe that metrics are being reported incorrectly?

[2021-07-13 16:55] hawkw commented on #6473
The proxy doesn't have a great deal of global data structures in the traditional sense; we don't have a single global hash map of service discovery destinations, for example. Instead, most memory allocations are either per-service or per-request.

Currently, we have metrics that track the number of services that have been built in different parts of the proxy (`stack_create_total`) and the number

[2021-07-13 17:41] olix0r opened #6479 "Lock closed/idle issues"
We frequently get pinged on old/closed issues. It's easy to miss these notifications and it's also common for things to have changed substantially so that the new comments are not actually related to the older issue.

The [lock-threads action](https://github.com/dessant/lock-threads) can be used to automatically lock old, inactive issues with a comment suggesting that a new issue be opened. As a s

[2021-07-13 17:55] #6237 closed

[2021-07-14 07:06] DaspawnW commented on #5852
Sorry for spamming a bit, after the upgrade of memory to 512MB for destination service it currently seems that we are stable again. I'll continue to monitor it but I have fingers crossed that its gone ;-)

Restarts of linkerd destination service:
![restarts](https://user-images.githubusercontent.com/2182549/125578322-a1b19a45-924e-457c-97c4-fba741f825b0.png)

[2021-07-14 17:12] #6470 closed

[2021-07-14 19:36] #4743 closed

[2021-07-15 11:10] afirth commented on #2270
this issue is still linked in the docs https://linkerd.io/2.10/tasks/using-ingress/#traefik (in the note)

[2021-07-15 12:57] tejeshwari opened #6488 "panic: runtime error: invalid memory address or nil pointer dereference"
### What is the issue?

We have tried to install Linkerd 2.9.5 stable version with our certificates .

### How can it be reproduced?
linkerd check

### Logs, error output, etc
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x38 pc=0x1379e1b]

#### `linkerd check` output
kubernetes-api
--------------
√ can initialize the client
√ can query t

[2021-07-15 13:52] alpeb commented on #6488
This might be caused by an invalid `linkerd-config` ConfigMap. Could you please share the contents of that resource?

[2021-07-15 14:11] tejeshwari commented on #6488
@alpeb here is the ConfigMap

kind: ConfigMap
apiVersion: v1
metadata:
  name: linkerd-config
  namespace: linkerd
  labels:
    linkerd.io/control-plane-component: controller
    linkerd.io/control-plane-ns: linkerd
  annotations:
    linkerd.io/created-by: linkerd/cli stable-2.10.0
data:

  values: |
    controllerImage: cr.l5d.io/linkerd/controller
    controllerReplicas: 3
    controllerUID: 2

[2021-07-15 14:26] alpeb commented on #6488
You mentioned you were trying to install v2.9.5 but apparently you have already installed v2.10.0. Are you trying to downgrade?

[2021-07-15 14:32] tejeshwari commented on #6488
Oh My bad. I am installing 2.9.5. I have installed multiple versions was confused.

Here is the one that I have currently .

kind: ConfigMap
apiVersion: v1
metadata:
  name: linkerd-config
  namespace: linkerd
  labels:
    linkerd.io/control-plane-component: controller
    linkerd.io/control-plane-ns: linkerd
  annotations:
    linkerd.io/created-by: linkerd/cli stable-2.9.5
data:
  values: |

[2021-07-15 17:13] alpeb commented on #6488
The config looks fine, so this is kinda surprising... The source code lines reported in the panic stack trace don't make sense either. Can you check your server and client versions and let me know what you get with `linkerd version`?

[2021-07-15 19:16] olix0r opened #6495 "inbound: Stop forwarding connections to ports only bound on localhost"
The injector now sets an environment variable [`LINKERD2_PROXY_INBOUND_IPS`][1]. The proxy should start honoring this configuration on the inbound stack so that:

* Connections targeting any IP not in this list are failed;
* These failures should be reported in the `inbound_tcp_accept_errors_total` metric;
* The inbound proxy should stop targeting 127.0.0.1 when connecting to the application and i

[2021-07-16 08:48] tejeshwari commented on #6488
Linkerd versions
Client version: stable-2.7.1
Server version: stable-2.9.5

[2021-07-16 13:31] alpeb commented on #6488
That is likely the problem. Please upgrade the linkerd CLI you have installed in your local machine, for it to match the version on the server side.

[2021-07-16 15:28] tejeshwari commented on #6488
Awesome!
The problem is with Version mismatch. It's working now.

Thank you :) :)

[2021-07-16 15:46] #6488 closed

[2021-07-16 16:35] #6479 closed

[2021-07-16 22:23] olix0r opened #6511 "`external-prometheus-deep` `TestDirectEdges` is flakey in CI"
The `external-prometheus-deep` Integration test frequently fails (in GitHub Actions) with the following error:

[code]

We should look into this and figure out if the test is flakey or if this indicates some unpredictability in the edges implementation.

[2021-07-19 02:00] jameschoa opened #6513 "Intermittent termination of outbound TLS connections before they're established"
## Bug Report

### What is the issue?
Outbound TLS connections from services inside the linkerd service mesh will occasionally terminate before the TLS session is established. Issue has been observed in Linkerd versions 2.7.1, 2.8.1 and 2.10.2.

### How can it be reproduced?

Have a service (maybe in NodeJS) that makes outbound https calls to servers outside the cluster periodically and wait for t

[2021-07-19 12:28] cortopy commented on #5932
I gave another go at installing linkerd and see whether I could reproduce this issue and I have some logs that may be relevant.

This second time I was able to run linkerd containers. However, something very interesting happened last night. Traffic to all linkerd proxies started failing. My http services are responding with:

[code]

On inspection, the linkerd controller pod, had these logs:

[cod

[2021-07-19 21:28] #5589 closed

[2021-07-19 23:53] adleong commented on #6513
Hi @jameschoa!  To help us diagnose this, can your provide detailed instructions for reproducing the issue?  For example, k8s manifests for a demo NodeJS app which exhibits the behavior (even if it only exhibits it intermittently as you say).  If that's not possible, setting the linkerd-proxy's log level to debug and looking at the proxy logs during one of the incidents might provide some more clu

[2021-07-19 23:55] #6411 closed

[2021-07-19 23:55] adleong commented on #6427
Closed due to inactivity.

[2021-07-19 23:55] #6427 closed

[2021-07-19 23:55] #6423 closed

[2021-07-20 05:26] #6511 closed

[2021-07-20 09:34] sirlori opened #6525 "Linkerd does not relaying GRPC Dial and Keepalives to the actual endpoint"
## Bug Report
### What is the issue?
Service A talks to service B using the grpc endpoint B:50051 and even if service B has no ready endpoints or has no grpc server initialized the grpc.Dial operation and pings due to keepalive are directly acked by the linked proxy and not relayed to the actual service B, where they should fail

We can see that the grpc.Dial operation and all the Pings due to Kee

[2021-07-20 09:46] mateiidavid commented on #6352
Hey @AlonGluz just checking to see what the status on this issue is. Is there anything we can help you with, or has the problem been solved? Let us know.

[2021-07-20 16:36] olix0r commented on #6525
Thanks for the report, @sirlori.

It wouldn't be appropriate for Linkerd to proxy pings -- these are an explicitly connection-oriented messages. For instance, when Linkerd load balances requests among many destination pods, what would the appropriate behavior be for PINGs?

But I agree that we should provide signals/backpressure to the application when there are no available endpoints. When keepal

[2021-07-20 17:16] sirlori commented on #6525
Thank you for the kind answer, @olix0r.

Agreed about the case of multiple destination pods, but I think that the behavior of a given service should remain coherent in this case, regardless of the presence of the linkerd-proxy. Because of this, I would say that, as you suggested Dial and Keepalive should fail when Linkerd itself can't create at least 1 connection to the destination endpoint.

At t

[2021-07-20 18:03] adleong commented on #6441
@kellybirr sounds like things are stable now with the higher memory limit.  I'm closing this issue now but please feel free to open a new one if you have more concerns.

[2021-07-20 18:03] #6441 closed

[2021-07-20 21:36] dadjeibaah commented on #6442
@electrical thanks for writing up this issue. I've tried to reproduce this on a 3 node k3d cluster but unfortunately haven't been able to run into the issue you are seeing. Here are my steps:
[code]

Are you able to bump up the log level and provide additional logging from the identity controller? Might also be helpful to get logs from the affected application sidecar proxies at debug level. Here

[2021-07-21 03:39] jameschoa commented on #6513
I enabled debug logging and attached a snippet of the logs around the time when an error happened. The endpoint is LogDNS with IP of `147.75.39.99`.
[linkerd.log](https://github.com/linkerd/linkerd2/files/6852649/linkerd.log)

[2021-07-21 08:16] electrical commented on #6442
@dadjeibaah the node you drained also ran the linkerd components i assume? Can you reproduce it with the viz module installed as well?
Also we are running with the CNI method instead of the init container.

[2021-07-21 13:07] cortopy commented on #5932
Same thing happened today. It's very strange but whenever I have the DNS issues this solves it:

1. Update linkerd helm deployment with `cniEnabled` set as `false`
2. Wait for pods to become available
3. Update linkerd helm deployment with `cniEnabled` set as `true`

And now it all works as it should

[2021-07-21 14:28] jobinjosem1 opened #6528 "linkerd-proxy cpu memory limits"
Generating yaml file using
`linkerd install --proxy-cpu-limit 100m --proxy-cpu-request 50m --proxy-memory-limit 128Mi --proxy-memory-request 64Mi > linkerd.yaml`

The cpu memory limits of auto injected proxy is getting applied as expected on deployments  deployed in user namespaces when `linkerd.io/inject: enabled` annotation is enabled.
but this is not getting applied to linkerd-proxy injected in

[2021-07-21 15:58] aseg15 opened #6530 "FailedCreate: Internal error occurred: failed calling webhook "linkerd-proxy-injector.linkerd.io": Post "https://linkerd-proxy-injector.linkerd.svc:443/?timeout=30s": dial tcp 10.x.x.x:443: connect: connection refused"
## Bug Report

### What is the issue?
I was about to deploy Linkerd2 v2.9.4 to a new Kubernetes cluster using Terraform and Helm Terraform Provider (https://github.com/AymenSegni/terraform-helm-linkerd2 )
However, the release failed and the Linkerd pods were not created due to the following error:

[code]
Any idea what's wrong here ?

Thanks!

#### `linkerd check` output

[code]

### Environment

[2021-07-21 19:46] #6468 closed

[2021-07-21 19:54] kleimkuhler commented on #6530
@aseg15 Do you have any specific firewall configuration that would prevent the requests getting to the proxy injector?

Also, what is the output of `linkerd check --pre`?

[2021-07-22 02:03] sandal-maker opened #6537 "Unknown field "additionalPrinterColumns" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1.CustomResourceDefinitionSpec"
## Bug Report

### What is the issue?
We are trying to run linkerd2 version: 2.9.2 on GKE 1.19.9-gke.1900 and getting a validation error.

### How can it be reproduced?
Run Helm chart appVersion: stable-2.9.2 on GKE  1.19.9-gke.1900

### Logs, error output, etc
[code]

### Environment

- Kubernetes Version: 1.19.9-gke.1900
- Cluster Environment: GKE
- Host OS: Container-Optimized OS with Docker (c

[2021-07-22 02:24] sandal-maker commented on #6537
Solved.

We encountered this error because in the CRD definition the apiVersion was changed from v1beta to v1.
apiextensions.k8s.io/v1beta1 --> required

Closing this issue now.

[2021-07-22 02:24] #6537 closed

[2021-07-22 08:54] aseg15 commented on #6530
Solved, I did the following:

[code]
And the deployment come back with the results in a couple of minutes.

 The strange thing, the `failurePolicy` should be set as `Ignore` by default as the documentation says,  however, I find out the value was set to `Fail` in the HA mode.

[2021-07-22 10:16] aseg15 commented on #6530
@kleimkuhler
I have opened (using my personal handler) a new PR (https://github.com/linkerd/linkerd2/pull/6538) with the proposed solution above to fix the issue.

[2021-07-22 15:13] suby-fastly opened #6540 "Metrics for protocol detection latency and protocol detection timeouts"
## Feature Request

### What problem are you trying to solve?

In our services we'd like to be really cautious about the possibility of Linkerd delaying connections for server-speaks-first protocols. [Like the recent blog post describes:](https://linkerd.io/2021/02/23/protocol-detection-and-opaque-ports-in-linkerd/)

### How should the problem be solved?

I believe that it would be useful to have

[2021-07-22 16:48] kleimkuhler commented on #5162
This is being actively worked on in #6090

[2021-07-22 17:49] dkulchinsky opened #6548 "client-initiated TLS connection is failing when proxied to a destination outside the cluster"
## Bug Report

### What is the issue?

Our setup includes the following components:

[code]

Note: for simplicity, there's just one `proxysql` server, but the goal is to load balance across a cluster of `proxysql` machines, there's also one app pod and one haproxy pod.

The `app` connects to the Database (the address is `haproxy:3306`) using TLS (`DB_USE_TLS: "true"`), both the `app` and `haproxy`

[2021-07-22 20:33] dadjeibaah commented on #6442
@electrical, that's correct. Since its running in HA mode, there should be at least one component per node. I'll try out reproducing this using the linkerd CNI and with viz installed.

[2021-07-22 21:09] alpeb opened #6549 "Do not install PSP resources by default"
PodSecurityPolicy is deprecated as of k8s v1.21 and will be unavailable starting k8s v1.25. We're seeing such warnings when installing linkerd under newer k8s versions:
[code]
We have one PSP: `linkerd-linkerd-control-plane` and its corresponding Role and RoleBinding declared [here](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/templates/psp.yaml).
The linkerd-viz extension also ha

[2021-07-23 05:15] trentmurray commented on #6035
I'm hitting this at the moment. For one particular outbound URL, I get the EXACT same curl output as @divanikus - does anyone have a fix, patch, or workaround for this?

[2021-07-23 18:38] kleimkuhler commented on #6035
@trentmurray Do you have manifests for reproducing this? I attempted to reproduce this and was unable to. I observed the linkerd-proxy proxy requests to http/https sites. What forward proxy are you using?

[2021-07-23 20:12] divanikus commented on #6035
Mine proxies are outside of k8s cluster, try something like tinyproxy etc.

I can observe them too, but my app isn't getting any response. Eventhough all requests are ok on linkerd-web.

[2021-07-24 10:52] trentmurray commented on #6035
@kleimkuhler - I'm not sure what forward proxies are to be honest. I have a very simple k8s cluster; Traefik ingress, linkerd meshing our application namespace, and that's it. We are experiencing this SSL handshake failure only on one URL, all others are completely fine. I'm trying to track down what on earth it could be, but not having much luck.

[2021-07-25 15:52] Dariusch commented on #5024
hey @alpeb yes this is the feature I was looking for

[2021-07-25 19:53] kostyay commented on #6352
Hi @mateiidavid
I work with @AlonGluz.
We keep seeing these issues pretty much all the time. Communication between PODs using HTTP/gRPC, and not just nginx.
Direct gRPC communication often fails with "code = Unavailable" such as `rpc error: code = Unavailable desc = transport is closing`.
We will configure the logs and provide the logs soon.
Thanks

[2021-07-26 05:57] trentmurray commented on #6035
OK, @divanikus @kleimkuhler - my issue ended up being the NACL in AWS not having an egress rule for port 444 for the URL I was trying to access.

The error from Linkerd was a red herring. My application container tried a python requests.post(), linkerd-proxy grabs that requests, and returns a SSL handshake issue, rather than connection time out.

When I took the pod out of the mesh, it just sat th

[2021-07-26 10:51] mateiidavid commented on #6352
Hey @kostyay, sounds good! Sorry you're still bumping into this.

It might be easier to figure out what's happening between two pods that are not related to cluster ingress. Generally, ingress traffic has some edge cases that makes it a bit harder to pinpoint the issue. Logs on both client and server will definitely go a long way here. Usually, my recommendation is to start with a log level that's

[2021-07-26 11:47] Wenliang-CHEN opened #6556 "Linkerd-proxy v2.148.0 emits "possible future leak" warning message"
## Bug Report

### What is the issue?

Hey guys, we just upgraded to linkerd-proxy 2.148.0 to try out the new features. Everything works fine, but we realized that the linkerd-proxy keeps emitting logs regarding "possible future leak".

The logging frequency is around 20 logs/second from a service with around 400rps.

A full log body looks like below:

[code]

#### `linkerd check` output

[code]

[2021-07-26 13:53] jobinjosem1 opened #6557 "Add option to inject to set resource limits"
Currently there is option to add cpu and memory requests and limits while generating manifests using linkerd install. We can add flag like `--proxy-cpu-request` or `--proxy-cpu-limit `but this only applies to proxy container. It would be nice if you can add additional flags to limit resources for all other containers part of the linkerd ecosystem.

Currently we have to generate the manifests and m

[2021-07-26 14:12] alpeb commented on #5024
Awesome! Thanks for replying back :+1:

[2021-07-26 14:12] #5024 closed

[2021-07-26 14:25] alpeb commented on #6557
We have decided to limit the amount of flags directly exposed in the CLI to avoid bloating it. Instead, still from the CLI, you can "indirectly" access all the manifests configs as if you were installing through Helm, using the `--set` flags. The configs are listed [here](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/values.yaml). For example to set CPU and memory limits to the `li

[2021-07-26 16:43] kleimkuhler commented on #6035
Okay thanks for the update @trentmurray that is helpful and good to hear. @divanikus if Trent was seeing the same errors as you I'd be curious if you have the same issue going on?

[2021-07-26 18:49] divanikus commented on #6035
@kleimkuhler nope, i'm running on private cloud infrastructure, no restrictions on egresses.

[2021-07-26 19:10] AlonGluz commented on #6352
@mateiidavid Apologies for the late response. We've changed the Linkerd behavior from default to Ingress and were monitoring it. I'll keep you posted. Tnx again for the silly

[2021-07-27 04:53] vikas027 opened #6561 "Feature Request - Allow use of existing certs in the helm installation"
## Issue
I use [ArgoCD](https://argo-cd.readthedocs.io/en/stable/) to automatically install/upgrade helm charts on the kubernetes clusters. This allows me to store the helm chart values in a git repository.
I'd like to do the same thing in the linkerd  helm [values](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/values.yaml) as well but as of the values in the helm chart takes `ca.c

[2021-07-27 10:45] mateiidavid opened #6562 "Add `enableHeadlessServices` flag to multicluster extension"
In PR #6090 (_"Introduce support for StatefulSet across clusters"_) we introduced a new [`--enable-headless-services`](https://github.com/linkerd/linkerd2/blob/efeb21a2a9871af1d39f1e34475d59e8db62dd55/multicluster/cmd/service-mirror/main.go#L42) flag for the service mirror to allow headless services to be exported from a target cluster to a source cluster.

At the moment, in order to turn the feat

[2021-07-27 10:54] mateiidavid opened #6563 "Introduce integration test for multicluster with headless services"
After PR #6090 is merged (_"Introduce support for StatefulSets across clusters"_), it would be good to write some integration tests to ensure the behaviour for this feature stays consistent. At the moment, there are no integration tests written that verify a headless service can be exported successfully and can be used in the source cluster.

We should test end-to-end how a headless service backed

[2021-07-27 14:51] alpeb commented on #6561
This is already possible with the following setup.

You can pass your `ca.crt` contents in the `identityTrustAnchorsPEM` setting, and store it in git given it's a public cert.

The secret `linkerd-identity-issuer` stores the issuer cert and key. If you want to provide it yourself, set `identity.issuer.scheme: kubernetes.io/tls`. That secret should also have the root certificate. For example you co

[2021-07-27 16:49] olix0r commented on #6556
@Wenliang-CHEN interesting! We've never seen this before, as far as I know.

The log is emitted [here](https://github.com/bluejekyll/trust-dns/blob/99c1f03f4a3bf2222261cad6c706b41bb9e2c9d7/crates/proto/src/xfer/mod.rs#L46-L51) and is only used [here](https://github.com/bluejekyll/trust-dns/blob/1ce2311aa373488a1bb824b9794b39828915f9e5/crates/proto/src/xfer/dns_multiplexer.rs#L78-L80) -- and this e

[2021-07-27 17:19] olix0r commented on #6556
@bluejekyll Do you have any suggestions at what we can do to get more insight into this? These warnings are fairly opaque given that we don't know the case in which we're hitting this (`complete_on_error` is called in a few cases and I don't know which we're hitting in this case). Why does this error suggest a future leak? Are there any known bad access patterns that could trigger this in user cod

[2021-07-27 17:37] bluejekyll commented on #6556
It’s been a while that I’ve looked into that area. There’s probably some refactoring we could do to ensure that this case doesn’t happen.

I think the concern is that some of the Futures returned on a request are not executed, ie are dropped before the response is received.

The concern was that a memory leak would happen in a case where the response isn’t polled from the request future.

[2021-07-27 17:39] bluejekyll commented on #6556
@olix0r its entirely possible that there is not issue here and we only need to remove the log line, that would require some time to do that review.

[2021-07-27 19:47] emcay opened #6567 "Connection closed error=Unexpected TLS connection"
## Bug Report

### What is the issue?
Confusing INFO level error messages. What do these mean? They are generating at a very rapid rate.
### How can it be reproduced?
Unknown, impacting only one of several clusters with identical configuration.
### Logs, error output, etc
'339753.344528s]  INFO ThreadId(02) linkerd_app_core::serve: Connection closed error=Unexpected TLS connection to service-accou

[2021-07-27 20:19] vikas027 commented on #6561
Thanks, @alpeb . I will try this out soon. I think it would be a good idea to add this info to the [values.yaml](https://github.com/linkerd/linkerd2/blob/main/charts/linkerd2/values.yaml#L189-L209) file.

[2021-07-27 21:42] dadjeibaah opened #6568 "Show a list of all available extensions on the dashboard"
After [Linkerd 2.10](https://linkerd.io/2021/03/01/linkerd-2.10-and-extensions/), some features are now available as part of extensions that previously where part of Linkerd's core control plane.  From the Linkerd dashboard's perspective, there isn't a clear way to know what extensions are available for a user to install in their cluster.

It would be great to add a new page to the dashboard that

[2021-07-28 06:13] nomis-rzp opened #6569 "Multicluster - 508 loop detected on cross mirroring of service"
### What is the issue?
Im following the doc https://linkerd.io/2.10/tasks/multicluster/ to setup multicluster. I did an extra step of cross mirroring of services by linking both the cluster and applying Traffic Split on both east and west cluster. After cross mirroring of service, when we make requests to "frontend" i get "508 Loop Detected" randomly . Error from linkerd-gateway pod.
[code]

### H

[2021-07-28 09:22] nomis-rzp commented on #6569
Architecture which im trying to implement.
![Blank diagram(1)](https://user-images.githubusercontent.com/49149863/127298089-7f155700-9a09-470e-b961-ed2ba1be095f.jpeg)

[2021-07-28 11:19] Wenliang-CHEN commented on #6556
@olix0r Cool, and yep I will get back to you with more detailed OS information and the proxy startup logs.

[2021-07-28 13:14] T-helper commented on #6352
Hi everyone. In our k8s cluster with bunch of Go grpc services we recently we faced with the same issue. Solution was to disable round robin logic in grpc client side

[2021-07-28 14:14] alpeb commented on #6569
Thanks for the detailed description @nomis-rzp. The setup looks sane to me. I'll try to reproduce the problem locally and let you know.

[2021-07-28 15:16] alpeb commented on #6569
Ok there's indeed an infinite looping issue because the cross-cluster requests are handled by the traffic splits, which could route back the request to the origin cluster.

For example say you request podinfo on west, which the trafficsplit could redirect to the podinfo trafficsplit on east, which itself could redirect back to east's trafficsplit, etc...

[2021-07-28 15:46] nomis-rzp commented on #6569
@alpeb Yes that's right . Even i was also suspecting the same. Traffic going to the other cluster does a traffic split again. Any suggestion to fix it ?

If we do not point frontend to both cluster, it will become a single point of failure.

[2021-07-28 16:36] alpeb commented on #6569
The issue is that your trafficsplits have the same service in the apex (`spec.service`) and in the first leaf. You could leave the podinfo as the apex, but edit it so it doesn't point to a pod. And then replace the leaf service with a new service "podinfo-leaf" that points to the podinfo pods. And then you would only mirror "podinfo-leaf".

So when you request podinfo on west, the TS could redirec

[2021-07-28 16:43] olix0r commented on #6567
I assume that the service emitting these logs does not match the service account described in the log message? Can you share any details about the pod at the client IP? Is it an ingress? How does the client target the server -- is it using a clusterIP service or is it targeting individual pod IPs?

[2021-07-28 16:57] olix0r commented on #6556
@Wenliang-CHEN Thanks! We'll try to do some more investigation here. In the meantime, I'd suggest disabling these logs by configuration.

[2021-07-28 18:09] emcay commented on #6567
Oops forgot to mention they were coming from the sidecar containers.

Additionally, I actually think this is a cni issue im gonna close it.

[2021-07-28 18:09] #6567 closed

[2021-07-28 20:23] #6452 closed

[2021-07-28 22:10] adleong commented on #3706
#5040 does not fix this.

[2021-07-29 20:12] #5162 closed

[2021-07-29 20:37] #6549 closed

[2021-07-29 21:02] alpeb commented on #6569
Forget about the part where I said to edit the `podinfo` service so it doesn't point to a pod. Instead copy it verbatim to another service named `podinfo-leaf`, in both clusters. Now remove the `mirror.linkerd.io/exported` label from the original `podinfo` service, so now only `podinfo-leaf` is mirrored.

You'll end with services like this in west (and similarly in east):
[code]

Now replace your

[2021-07-30 02:15] jameschoa commented on #6513
Chiming in again, we've been adding the `skip-outbound-port` annotation to our deployments for the past few weeks and so far the impact has been very positive. One of our services had 236 errors over the course of a week without the annotation. With the annotation, the error has dropped to a total of 1 over 7 days and it was likely due to some other issue.

[2021-07-30 07:45] rmgpinto opened #6579 "Cannot use newer grafana versions"
## Bug Report
On newer grafana versions (> 7.1.5), the url specified here: https://github.com/linkerd/linkerd2/blob/main/web/app/js/components/GrafanaLink.jsx#L7 does not work.

Instead of `/grafana/dashboard/db/linkerd-${resource}?var-${resource}=${name}` it's now `/grafana/d/linkerd-${resource}?var-${resource}=${name}`

Can you make this a variable?

[2021-07-30 16:10] kleimkuhler commented on #6579
The bundled Grafana version is now 7.1.5 so instead of making it a variable it may make sense to just change the URL.

[2021-07-30 17:01] dadjeibaah opened #6581 "Remove browser integration tests from the dashboard"
The current frontend code contains automatic browser testing that aren't currently being used. In looking through the GitHub actions workflow, we don't run these tests within CI. It is also difficult to get these tests up and running in a local environment. When run the integration tests on a linux machine using the latest node version, we get this error message:
[code]
Further investigation into

[2021-07-30 18:54] alpeb opened #6584 "Remove the namespace resource from the Helm charts"
It is considered bad practice to have the charts create their namespace, specially since Helm v3. A few reasons for this:
- Just like you would do with `kubectl --namespace xxx apply`, it's more flexible to leave `helm install` instruct in a flag the namespace it'd like the resources to be deployed into.
- Now that Tiller is gone, the chart config is no longer stored in Tiller's namespace, but in

[2021-07-30 19:37] saba-bakhshi opened #6585 "pods not being meshed on dashboard"
## Bug Report

### What is the issue?
I've added linkerd.io/inject: "enabled" and config.linkerd.io/admission-webhooks:enabled to one of my repo's pods but it's not meshed on the dashboard.
### How can it be reproduced?
add the webhook and  linkerd.io/inject: "enabled" annotation to the pod and see if it gets meshed.

### Environment
env-6

can someone guide me on how I can troubleshoot? thanks.

[2021-07-30 19:41] kleimkuhler commented on #6584
I don't think we need to worry about the `linkerd.io/inject: disabled` annotation on control plane workloads. When the webhook checks if workloads are injectable [here](https://github.com/linkerd/linkerd2/blob/ca1077bb08c5790317345377a92c3303034b4d40/controller/proxy-injector/webhook.go#L89), the function will see that it already has a sidecar [here](https://github.com/linkerd/linkerd2/blob/a11012

[2021-07-30 20:51] cortopy commented on #6428
@rumanzo thanks so much for this! It really helped me a lot.

For anybody who lands here and is trying to configure a vault CA, bear in mind that the [cert-manager docs](https://cert-manager.io/docs/configuration/vault/) use the `pki/sign/<role>` endpoint, which is documented by [vault here](https://www.vaultproject.io/api/secret/pki#sign-certificate) as a certificate generator. However, as per @r

[2021-07-30 21:22] olix0r opened #6586 "Add a validating admission controller for policy CRDs"
https://github.com/linkerd/linkerd2/pull/6486 adds two new CRDs. These CRDs use as much open schema validation as possible, but this validation is fairly limited. In addition to internal validation (required fields, mutually exclusive fields, etc), we want to validate that `Server` instances do not overlap, etc.

We should add an [admission controller](https://github.com/kube-rs/kube-rs/blob/maste

[2021-07-31 11:29] nomis-rzp commented on #6569
@alpeb That worked. Thanks a lot.

[2021-07-31 16:03] #6569 closed

[2021-07-31 23:03] bsord opened #6587 "Allow args to be passed to Jaeger in Linkerd-Jaeger Helm chart"
## Feature Request
Allow args to be passed to Jaeger in linkerd-jaeger helm chart

### What problem are you trying to solve?
The Jaeger-all-in-one deployed by the Linkerd-Jaeger Helm chart has unbounded limits and uses memory as the default storage mechanism. When this chart is deployed and Jaeger is receiving traces, it continues to use memory until there is no free memory on the host as old trac

[2021-08-02 23:18] adleong commented on #6585
Hi @saba-bakhshi, the first step to debugging is to run `linkerd check` and `linkerd check --proxy`.

[2021-08-03 05:45] kehao95 opened #6596 "Prometheus-Operator PodMonitor Support"
## Feature Request

### What problem are you trying to solve?

I have powerful Prometheus setup deployed with prometheus-operator, extended with Thanos.
I want to bring my own Prometheus without changing prometheus config. But do it in prometheus-operator way.

### How should the problem be solved?

The Prometheus-Operator provided [PodMonitor](https://github.com/prometheus-operator/prometheus-ope

[2021-08-03 06:13] kehao95 commented on #6596
I figured out a working example for my prometheus deployment:
[code]

[2021-08-03 11:02] mateiidavid commented on #6548
Hey @dkulchinsky apologies for being a bit late with a response here.

Thank you for the detailed message! I think we spoke about this briefly over Slack. To me, it looks a bit odd that the external connection (`haproxy` <----> `proxysql`) is immediately torn down. Here's my understanding of the situation:
  * Go app establishes a TLS'd connection to `haproxy`, since haproxy is marked as opaque, w

[2021-08-03 13:34] jobinjosem1 commented on #6557
Unfortunately we are not sing helm. The non-helm method https://linkerd.io/2.10/tasks/install/ doesn't work with these options.

[2021-08-03 14:14] alpeb commented on #6557
You just need to use the command I posted above. It's not using Helm. That should work since version 2.10. What CLI version are you on?

[2021-08-03 14:54] alpeb commented on #4196
In #6558 we've dropped support for PSP by default, given PSP as a whole is being deprecated by k8s. So closing this one.

[2021-08-03 14:54] #4196 closed

[2021-08-03 15:03] alpeb commented on #6596
Hi @kehao95, thanks for this. This would be indeed very useful to be included into the linkerd-viz extension, as an optional template in the linkerd-viz Helm chart, disabled by default (e.g. through a new value entry `prometheus.podMonitor`). But the relabeling config is actually important for linkerd to work properly. There's already some previous work related to this in lokomotive:
https://githu

[2021-08-03 16:57] importhuman commented on #5561
Hey @mateiidavid, here are my thoughts so far:

- The `createOrUpdateService()` function uses `RemoteServiceCreated` & `RemoteServiceUpdated`, which in the `processNextEvent()` function use `handleRemoteServiceCreated()` and `handleRemoteServiceUpdated()`.  Both of these use `getMirroredServiceAnnotations(*service)` and `getMirroredServiceLabels()`.
For annotations, we can modify `getMirroredServi

[2021-08-03 18:29] Hongbo-Miao opened #6599 "Missing step in the multi-cluster communication ​tutorial"
The [multi-cluster communication tutorial](https://linkerd.io/2.10/tasks/multicluster/) is missing step like

[code]

for each clusters before running

[code]

Otherwise, will get

[2021-08-03 18:39] Hongbo-Miao commented on #6599
Sorry, missed the sentence

[2021-08-03 23:18] adleong commented on #6586
To get more precise, two `Server`s overlap if they have the same port and there exists a pod that they both select?  While we can check for this when the `Server` is created, there is no guarantee that a pod could be later created which matches more than one `Server`.  Would this kind of on-going validity check be better suited for `linkerd check`?

Besides non-overlapping, what other validations

[2021-08-04 02:16] Hongbo-Miao opened #6602 "Add `--cluster-domain` for `linkerd vis install`?"
## Feature Request

### What problem are you trying to solve?

The problem detail is at https://github.com/linkerd/linkerd2/discussions/6601

### How should the problem be solved?

`linkerd install` has a parameter `--cluster-domain`.
However, `linkerd vis install` does not have. I think it should also have

### Any alternatives you've considered?

I don't have any alternative solution currently.

[2021-08-04 09:01] Pothulapati commented on #6602
Hey @Hongbo-Miao, With all the new extensions these explicit flags are not added to decrease the code complexity.

You can always use the `--set` flags to do the same, as shown below

[code]

These flags are the same as that of the [ones present in Helm](https://helm.sh/docs/helm/helm_install/#synopsis)

Closing this issue, as the answer was straightforward. Feel free to reopen if this doesn't ans

[2021-08-04 09:01] #6602 closed

[2021-08-04 09:27] jobinjosem1 commented on #6557
Thanks @alpeb It seems to be working with 2.10 even though I get a warning.
Now when I try to add the same for controller it is not working. I run the below command to generate manifests.

linkerd install --set identityResources.cpu.limit=512m --set identityResources.memory.limit=512Mi --set identityResources.cpu.request=100m --set identityResources.memory.request=128Mi --proxy-cpu-limit 50m --pro

[2021-08-04 09:46] Hongbo-Miao commented on #6602
Thanks @Pothulapati ! Will try it out!

[2021-08-04 13:08] Hongbo-Miao commented on #6602
Thanks @Pothulapati ! It works now!

[2021-08-04 13:20] Hongbo-Miao opened #6603 "`--context` does not work in `linkerd viz install` command"
## Bug Report

### What is the issue?

`--context` does not work in `linkerd viz install` command.

Assume, I am at `k3d-east` now. And I want to install on `k3d-west`

Tried these, all will install on `k3d-east`.

[code]

### How can it be reproduced?

Create two clusters by k3d.

First, switch to east cluster by `kubectl config use-context "k3d-east"`.

Then try to install on west cluster by

[c

[2021-08-04 13:43] mateiidavid commented on #6603
Hi @Hongbo-Miao,

This is not necessarily an error, let me explain what happens underneath the hood and why `linkerd install` needs the flag and viz doesn't.

The `--context` flag is global to the CLI, this is because certain commands need to interface with the Kubernetes API, in doing so, we create a clientset that interacts with the cluster. These clients are build using the `kubeconfig` provide

[2021-08-04 14:11] Hongbo-Miao commented on #6603
Oh I see, thanks @mateiidavid!

Then can we remove it from output of `linkerd viz install -h` because it is a little bit misleading. And I spend some time debugging, then realize `--context` is not working.

[code]

[2021-08-04 14:15] Hongbo-Miao commented on #6603
Oh this is same to `linkerd install` I think.
I was using `linkerd install --context=k3d-east | kubectl --context=k3d-east apply -f -` which is why I thought it works for `linkerd install`.

[2021-08-04 14:16] mateiidavid commented on #6603
I'm very receptive to document it, or perhaps change the description in `-h` but removing it just from the `viz -h` command is infeasible in this case.

`--context` is a global flag so it will be applied to all commands, if we'd remove it as a global option, we'd have to manually add it to every subcommand. We are declaring the path and context variables here, in the root of the CLI:
https://githu

[2021-08-04 14:18] Hongbo-Miao commented on #6603
Oh it makes sense. Thanks @mateiidavid !

[2021-08-04 14:18] #6603 closed

[2021-08-04 14:29] mateiidavid commented on #5561
Hey @importhuman!

I think the easiest thing to do here would be to modify `getMirroredServiceLabels()` to take a service as well. We could also edit it to take in a map of labels (that we retrieve from the service beforehand), whatever makes the most sense here and is easier to work with. So far, I don't have a preference, but it's okay to edit the function's parameters here.

I think we don't wa

[2021-08-04 14:54] alpeb commented on #6557
For the controller, the flags are `publicAPIResources....` . For the injector, `proxyInjectorResources...`. And for the sp-validor, `spValidatorResources...`.

As for the warnings, you can ignore them. They're no longer present in the latest edge releases.

[2021-08-04 15:13] #5988 closed

[2021-08-04 17:28] #6581 closed

[2021-08-04 20:53] kleimkuhler commented on #6579
@rmgpinto That'd be great!

[2021-08-05 01:56] dkulchinsky commented on #6548
Hey @mateiidavid 👋🏼

I could try, I'll need to coordinate this with the relevant team to add the proxy back to the `haproxy` pod and capture any logs on proxysql that may be relevant.

Sure, we can do that at the same time as we're testing the above.

Nothing new to report on, we had to disable proxy injection on the haproxy pod which fixed the issue and since it's a staging environment, I didn't

[2021-08-05 03:17] olix0r opened #6606 "proxy: Support configurable default inbound policies"
The proxy supports a [default port policy](https://github.com/linkerd/linkerd2-proxy/blob/2eb1671f0fde62dae5fb272608a276ad21a598ba/linkerd/app/inbound/src/port_policies.rs#L14-L26). We currently hardcode a [default policy permitting all connections](https://github.com/linkerd/linkerd2-proxy/blob/2eb1671f0fde62dae5fb272608a276ad21a598ba/linkerd/app/src/env.rs#L526). We should make this behavior con

[2021-08-05 17:23] #6606 closed

[2021-08-05 18:01] #3706 closed

[2021-08-05 20:16] alpeb opened #6620 "Split core Helm charts"
## Background

It's not possible to have CRD definitions and instances in the same chart under the `templates` directory, because it takes time for the new CRD APIs to become available, and attempting to persist instances prematurely will result in an error.

## The options

Helm v3 [documents two methods](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/) for handling CRDs:
1

[2021-08-05 21:16] #6568 closed

[2021-08-06 05:10] JcdeA commented on #2876
Since multi cluster support is available, shouldn't we close this issue?

[2021-08-06 21:30] cruisehall opened #6628 "Add support for configuring route name via Open API spec"
## Feature Request

### What problem are you trying to solve?

Each telemetry tool seems to have its own convention for identifying HTTP routes:
- `GET /pet/{petId}` (as in LinkerD)
- vs `get /pet/:petId` (as in Zipkin's `http.route` tag)
- vs `get_/pet/_petId_` (as in Datadog APM's `resource_name` tag)

Our SRE team is considering leveraging the Open API spec (maybe the native `operationId`) to d

[2021-08-09 22:46] kleimkuhler opened #6637 "Deprecate `topologyKeys` API in endpoints watcher"
Upgrading to `k8s.io/api@v0.22.0` requires deprecating the `topologyKeys` API in the service spec. The following dep bump PRs that depend on this are currently failing: #6615, #6616, #6617, #6618, #6619.

When these are all grouped into a single change, the errors are more specific: `controller/api/destination/watcher/endpoints_watcher.go:468:55: newService.Spec.TopologyKeys undefined (type "k8s.i

[2021-08-10 17:37] saba-bakhshi opened #6641 "cron job and job shut down"
is there any way to terminate meshed jobs and cron jobs without going through the manual process?
I know I can kill the proxy using curl  -XPOST localhost:4191/shutdown, but can we add something to the annotation instead so that it's not manual?

[2021-08-10 19:26] #6641 closed

[2021-08-10 22:31] adleong commented on #6586
It seems like the openAPI schema validation for oneOf already enforces mutual exclusivity.  For example, if we specify both a `matchExpressions` and a `matchLabels` in a `Server`, we get the following schema validation error:

[code]

[2021-08-11 07:29] Pothulapati opened #6647 "Deprecate default SMI support in Linkerd"
SMI support in the Linkerd control-plane is being planned to be removed in favor of the [new SMI extension.](https://github.com/linkerd/linkerd-smi/) which supports the usage of SMI resources(that are currently supported) with Linkerd. [CLI Support](https://github.com/linkerd/linkerd2/pull/6514) has also been added through which users can get the stat metrics on a `TrafficSplit` resource applied w

[2021-08-11 07:47] Pothulapati opened #6648 "Dashboard support for `stat` on services"
## Feature Request

See https://github.com/linkerd/linkerd2/issues/2967,

With #6514, `stat` on services now works with the use of client side metrics and `authority` label. This means that the dashboard can also be made to do the same with a new `Services` button on the side bar. Most of the changes should be straight forward and should be very similar to the existing code paths but stat on servi

[2021-08-11 09:40] cortopy opened #6650 "edge-21.8.1 incompatible with ingress mode for ambassador"
## Bug Report

I was trying edge-21.8.1 because it includes some fixes I need in my cluster. All is working fine except my ambassador ingress pods can't start properly

### What is the issue?

The logs are inundated with messages like `Connection closed error=ingress-mode routing is HTTP-only`. When running linkerd with debug logs it seems that calls from the Kubernetes API are failing due to prot

[2021-08-11 11:03] Pothulapati commented on #6648
@tharun208 Awesome, Going ahead and assigning you this.

Feel free to ask questions here, or in a draft PR (with any changes that you tried) and we can go from there!

[2021-08-11 22:02] #6561 closed

[2021-08-12 15:12] mateiidavid opened #6666 "Remove unused `config` protobuf file and references"
## What

With [linkerd2#5008](https://github.com/linkerd/linkerd2/issues/5008) and associated PRs, we changed the way configuration is handled by storing a helm values struct inside of the configmap. This replaced the old `config` pb API. In PR #6651 we removed some of the functions that were previously responsible for fetching pb configuration from the configmap.

Since these functions were no lo

[2021-08-12 17:15] #6587 closed

[2021-08-12 17:32] #6069 closed

[2021-08-13 09:12] xichengliudui commented on #6666
/accept

[2021-08-13 09:18] mateiidavid commented on #6666
Thanks a lot @xichengliudui! Let us know if you have any questions or if we can help out in any way.

[2021-08-13 14:17] electrical commented on #6442
@dadjeibaah have you had any luck or time to look into this further?
There was one discussion somewhere that the sequence of CNI could be a reason for it when restarting.

[2021-08-13 15:41] mateiidavid commented on #6442
Hey @electrical, just dropping in, I think the discussion might be related to [#2219](https://github.com/linkerd/linkerd2/issues/2219) (and potentially [#4049](https://github.com/linkerd/linkerd2/issues/4049)). Think you might be experiencing the same kind of racey behaviour related to the 2nd scenario in #2219.

We've started looking a bit more in-depth into cnis and iptables to see what can be i

[2021-08-13 21:36] cpretzer commented on #6650
hi @cortopy !

I saw this same message while testing Ambassador recently. The good news is that you don't have to use `ingress` mode with Ambassador/Emissary. In fact, I just updated the [ingress docs](https://linkerd.io/2.10/tasks/using-ingress/#ambassador-aka-emissary).

You can [use](https://linkerd.io/2.10/tasks/using-ingress/#emissary-proxy-mode) `linkerd.io/inject: enabled` for Ambassador be

[2021-08-14 18:33] Tolsto commented on #6650
I observe the same issue with Traefik. However, the problem already existed with `edge-21.7.2`. Adding port 443 to the `config.linkerd.io/skip-outbound-ports` annotation fixes the problem for me.

[2021-08-15 16:43] cortopy commented on #6650
@Tolsto that worked! thanks a lot. Ambassador pods make external calls to check for license status, etc. I guess this is just allowing those calls to succeed?

[2021-08-16 03:03] nathanawmk opened #6678 "Migrating > 1200 in production microservices running across multiple environments (Azure, AWS, GCP, On-premise) from Istio to Linkerd"
## Feature Request

### What problem are you trying to solve?
Migrating > 1200 in production microservices running across multiple environments (Azure, AWS, GCP, On-premise) from Istio to Linkerd

### How should the problem be solved?
A factory migration approach to migrate from Istio to Linkerd
Allow parallel run of both Istio and Linkerd before shutting down Istio.

What do you want to happen? A

[2021-08-16 09:51] #5899 closed

[2021-08-16 14:44] #6678 closed

[2021-08-16 16:24] #6562 closed

[2021-08-16 16:26] adleong commented on #6666
@xichengliudui I suspect that this will be a fairly involved change because our config and upgrade code is somewhat complex.  As a starting point, I suggest reading `cli/cmd/upgrade.go`, `cli/cmd/upgrade_legacy.go`, and `pkg/config/config.go` to see how things currently work.  Ideally, as a result of this change, we will be able to get rid of `upgrade_legacy.go` altogether.

We're here to help, so

[2021-08-16 16:28] cpretzer commented on #6650
@Tolsto, based on my (limited) understanding of how Traefik uses [Pod endpoints](https://doc.traefik.io/traefik/routing/providers/kubernetes-ingress/#communication-between-traefik-and-pods) (instead of service names and Kube DNS). I think your approach to using `ingress` mode and skipping that outbound port is reasonable. I think it's worth doing a bit more research on how traefik obtains and rout

[2021-08-16 18:42] hollowimage opened #6683 "viz edge metrics not being dropped after 10 minutes"
## Bug Report

### What is the issue?
with long lived ingress pods and linkerd viz extensions installed it seems like proxy-metrics are not dropping the exporting configuration after 10 minutes of idleness time
### How can it be reproduced?

Not fully sure, there was a lot of work done before this behavior was noticed

### Logs, error output, etc

[code]

and
[code]

`linkerd diagnostics proxy-met

[2021-08-17 16:22] adleong commented on #2876
Linkerd2 supports multicluster services.  Please open a new issue if there are feature gaps.

[2021-08-17 16:22] #2876 closed

[2021-08-17 16:36] mateiidavid commented on #5561
Closed through #6626

[2021-08-17 16:36] #5561 closed

[2021-08-17 18:59] olix0r opened #6688 "injector: Configure the policy server"
The proxy will support new environment configuration to configure policy discovery via the `LINKERD2_PROXY_POLICY_SVC_{ADDR,NAME}` environment variables (similar to the destination configuration), referring to the `linkerd-policy` service (and port) and the destination controller's identity.

Additionally, the environment variable `LINKERD2_PROXY_POLICY_WORKLOAD` should be set in the form "$ns:$po

[2021-08-17 19:02] olix0r opened #6689 "injector: Always set the opaque-ports annotation"
The `config.linkerd.io/opaque-ports` annotation is set on workloads when the default configuration is overridden (i.e. at the namespace or workload-level); but it is not set with the default configuration. The proxy injector should ALWAYS set this annotation on workload so that controllers can discover how a workload was configured without having to know the global cluster defaults (which may not

[2021-08-18 15:20] mateiidavid commented on #6548
@dkulchinsky any updates? Have you managed to capture more logs?

[2021-08-18 16:27] alpeb opened #6693 "Create new integration test for `linkerd multicluster allow`"
`linkerd multicluster allow` outputs credentials resources (ClusterRole, ServiceAccount and a ClusterRoleBinding to link them) besides the default ones returned by `linkerd multicluster install`, to give additional access to a target cluster.

Turns out this command has been broken for a few releases:
[code]
but has already been fixed by #6665

It would be nice though to have it tested in the inte

[2021-08-18 17:59] cpretzer commented on #6683
@hollowimage I attempted to reproduce this, but haven't been able to do so.

A couple of differences in my setup are:
- Env is k3s on bare metal
- Ingress is ambassador

Is your nginx ingress configured with `linkerd.io/inject` set to `ingress` or `enabled`?

If we can get a clear steps to reproduce, I'll take another look at this, but from what I'm seeing the edges are being removed, as expected.

[2021-08-19 08:10] rohitsakala opened #6700 "Linkerd Images getting pulled very slow in Azure Kubernetes Service"
## Bug Report

### What is the issue?

I created an issue in AKS when `linkerd install | kubectl apply -f - && linkerd check`   was always timing out in the fresh cluster.

AKS Issue link - https://github.com/Azure/AKS/issues/2485

The comment from matucker-msft says that it is the issue of the registry used by linkerd ` cr.l5d.io` which seems right since we faced timed outs locally also but very

[2021-08-19 12:10] ankit-ls commented on #5189
@grampelberg Any plans to support `rollout` objects?

As per @shaikatz's previous [comment](https://github.com/linkerd/linkerd2/issues/5189#issuecomment-736542153) it looks like the only missing part is in UI. Is it something that we can expect to be added soon?

[2021-08-19 12:41] girish332 commented on #6693
Can I work on this ?

[2021-08-19 13:18] alpeb commented on #6693
Sure! Let me know if you have any questions :slightly_smiling_face:

[2021-08-19 13:58] mboutet commented on #6700
I use larger nodes (`Standard_D4s_v4`) and I can also reproduce this ever since the switch to cr.l5d.io was made some months ago.

[2021-08-19 14:14] iss0 commented on #6246
I am using cilium and tried to set up multicluster with linkerd today. My problem is that the linkerd-service-mirror proxy is using the external ip address of the 2nd cluster to contact the multicluster gateway instead of the local probe service. That’s why the identity is not correct when connecting to the 2nd cluster and the 2nd cluster's gateway refuses the connection.
Special thanks to @mateii

[2021-08-19 15:01] Pothulapati opened #6702 "injector: Cleanup `proxy.tpl` to use consistent variables"
## Bug Report

In [`_proxy.tpl`](https://github.com/linkerd/linkerd2/blob/main/charts/partials/templates/_proxy.tpl#L107), multiple ways  are used to tempalte the namespace, clusterDomain varialbes for injection. A single pattern can be used instead and the logic can be simplified.

[2021-08-19 15:23] cortopy commented on #6650
thanks @cpretzer ! I've changed it back to just `enabled` as it started to give me problems again. Is there anything I'll miss by doing this?

[2021-08-19 15:33] Tolsto commented on #6650
@cpretzer In my case the problem is that Traefik cannot make any HTTPS requests to the Kubernetes API since the proxy blocks those.

[2021-08-19 16:30] hollowimage commented on #6683
So, I will fully admit that it's been sitting around long enough in the cluster and has been touched enough by hand and by cicd that I cannot confidently say which annotation was when certain things were exposed.

I would err on the side of saying the annotation had the value of `ingress` but this comes with a 95% certainty.

I am happy to leave this in blocked state for now until i see it happen

[2021-08-19 16:44] cpretzer commented on #6683
thanks @hollowimage !

I _hope_ that it doesn't happen again, but if it does having a repro will help.

There's no reason to believe that `ingress` or `enabled` would cause this behavior, I was more interested in that as a datapoint.

As an aside, you can consider [using](https://linkerd.io/2.10/tasks/using-ingress/#nginx-proxy-mode-configuration) the `nginx.ingress.kubernetes.io/service-upstream`

[2021-08-19 17:25] #6688 closed

[2021-08-19 17:27] importhuman commented on #6563
Can I work on this?

[2021-08-19 17:49] cpretzer commented on #6650
Nope, for ambassador everything will work with `enabled`. If you see unexpected behavior, please let us know

[2021-08-19 17:50] cpretzer commented on #6650
I hear what you're saying @Tolsto for now, I'd use the workaround that you found of adding `443` to the skip ports annotation.

[2021-08-19 20:59] kleimkuhler commented on #6563
@importhuman sure that would be helpful! Let us know if you have any questions while working on it.

It may be helpful to work off the existing multicluster integration test which takes care of all the setup. Adding a test within that that mirrors a stateful set is probably going to be the simplest thing to do here.

[2021-08-20 04:47] #5897 closed

[2021-08-20 20:29] olix0r commented on #6700
@rohitsakala @mboutet Can you share which regions you see this behavior in?

[2021-08-20 20:29] mboutet commented on #6700
`eastus`

[2021-08-20 21:32] olix0r opened #6720 "injector: Configure the `config.linkerd.io/default-inbound-policy`"
* The `config.linkerd.io/default-inbound-policy` annotation may be set on a pod or namespace; otherwise the cluster-wide default applies (from `.Values.policyController.defaultAllowPolicy`). If the annotation is not set on an injected pod, we must always set it with the next-most-specific-scoped value.
* Possible values include `all-unauthenticated`, `all-authenticated`, `cluster-unauthenticated`,

[2021-08-22 20:22] #5966 closed

[2021-08-23 07:03] iss0 commented on #6246
So I tried the exact same configuration but switched both clusters to calico and it works right away. So there is definitely something going on with cilium and multicluster linkerd.

[2021-08-23 10:21] christianhuening commented on #6238
Just seeing this, we apparently also have this issue in `probe` mode of Cilium. But basically we are at the same point where we think about how to proceed 🤔

[2021-08-23 10:50] mkrutik opened #6723 "WaitBeforeExitSeconds doesn't work due to missing /bin/bash inside proxy image"
## Bug Report

### What is the issue?
After swithicng to distroless base image for proxy (it was done in this [PR](https://github.com/linkerd/linkerd2/pull/6228)) `proxy.waitBeforeExitSeconds` functionality stoped working as image doesn't contain `/bin/bash` anymore.

### How can it be reproduced?
Configure `waitBeforeExitSeconds` to non zero value, and delete/update deployment and now it should b

[2021-08-23 11:40] importhuman commented on #6563
I'm a bit confused on what needs to be done. I looked through the changes in the mentioned PR #6090, and the test functions that were added/updated such as `TestRemoteEndpointsUpdatedMirroring` and `TestRemoteServiceCreatedMirroring`.

Does this mean that I should add test cases in the range `[]mirroringTestCase{}` in the test functions? I reckon I'll be working in the `cluster_watcher_test_util.g

[2021-08-23 11:43] iss0 commented on #6238
I work together with @christianhuening and I've attached our cilium configuration where we have the same problem as discussed in this thread:

[code]

[2021-08-23 12:08] tarvip commented on #6147
Closing this issue, seems that when running Traefik in ingress mode we are not hitting this problem.

[2021-08-23 12:08] #6147 closed

[2021-08-23 14:38] alpeb commented on #6723
Thanks for the report, I could confirm this is an issue. To fix, we'll have to bring an external binary performing the sleep without relying on the shell, or perhaps include that functionality into `linkerd-await` itself... In the meantime, I'm afraid you'll have to build your own proxy image using a RUNTIME_IMAGE base from a less minimal image like Alpine.

[2021-08-23 14:58] mateiidavid commented on #6563
@importhuman hey 👋🏻  the changes in PR #6090 added some unit tests to the cluster watcher. For the integration tests, we'd likely want to do something a bit different.

Our integration tests are in [`linkerd2/test/`](https://github.com/linkerd/linkerd2/tree/main/test). We would likely want to add something to either the `source` or (another) `target` directories, in the multicluster integration te

[2021-08-23 15:06] mateiidavid commented on #6178
Not sure how important this issue is at the moment but I'll hold on to it a little bit longer.

[2021-08-23 18:31] tyler-bixal opened #6728 "AWS EKS Fargate backed cluster does not accept control plane deployment"
## Bug Report

### What is the issue?

When using a 100% Fargate backed EKS cluster, deployments time out while progressing.

### How can it be reproduced?

1. Create an EKS Fargate backed cluster and associated Fargate profile for the linkerd namespace.
1. Follow the multi-step linkerd installation guide [here](https://linkerd.io/2.10/tasks/install/#multi-stage-install).
1. See that both `kubectl

[2021-08-23 19:48] alpeb commented on #6728
Can you share the Fargate profile selectors you used that point to the linkerd pods?

[2021-08-23 20:22] tyler-bixal commented on #6728
I have the Fargate profile selector based on namespace so any pod created in a namespace, gets a Fargate profile. There are no finer selectors applied to this particular Fargate profile. So I just have a profile for the 'linkerd' namespace.

[2021-08-23 20:46] kleimkuhler opened #6729 "filter default list of `opaque-ports` during proxy injection"
#6719 changed the proxy injector so that it adds the default list of opaque ports to pods and services. While this covers most cases, there is an edge case that it would currently miss.

If the service's spec exposes ports with a `targetPort`, then blindly copying the default list of opaque ports would not cover this case. For example, if the service maps `80` -> `3306`, then it's opaque ports sho

[2021-08-23 21:38] alpeb commented on #6728
Oh reading through [Fargate docs](https://docs.aws.amazon.com/eks/latest/userguide/fargate.html) I found that privileged containers aren't supported. The init-container that linkerd injects (both into your app and into the linkerd control plane itself) requires `NET_ADMIN` and `NET_RAW` capabilities in order to run `iptables` and configure the proxy rerouting, so this won't work in Fargate. An alt

[2021-08-24 11:26] tyler-bixal commented on #6728
Thank you for confirming @alpeb. Is it possible to reconfigure the CNI plugin to run as a sidecar instead? That is the general guidance for turning a DaemonSet into something compatible with Fargate.

[2021-08-24 14:51] importhuman commented on #6563
Thanks @mateiidavid, this definitely helps to get started! I'm not too familiar with kubernetes or linkerd, so I'll try to learn the relevant components/topics mentioned while working on the issue.

1. I get that we'll need to modify the helper in `testutil/test_helper.go`, but I can't tell where the shell script you mentioned is being used. I tried looking through the workflows, but couldn't find

[2021-08-24 15:17] kleimkuhler commented on #6563
So here is a little breakdown of our integration tests. It's best to keep in mind that the files in `bin/` are responsible for integration test _setup_, and the `.go` files in `test/integration/` are responsible for _execution_. There are setup changes you'll need to make such as passing the new `enableHeadlessServices` flag, and then execution changes you'll need to make in `test/integration/mult

[2021-08-24 16:18] wmorgan commented on #6728
See https://github.com/aws/containers-roadmap/issues/682 for more. Today, Fargate does not support any service mesh except for App Mesh.

[2021-08-24 16:28] tyler-bixal commented on #6728
Appreciate the link!

[2021-08-24 16:28] #6728 closed

[2021-08-24 16:29] hollowimage commented on #6683
ingress mode is fine, honestly. For now I am happy to write the issue above up to gremlins and see if i ever hit it again.

[2021-08-24 16:35] #6650 closed

[2021-08-24 16:36] #6683 closed

[2021-08-24 16:40] olix0r commented on #6238
It's not clear to me what changes we need to make in Linkerd or whether this is purely a Cillium configuration issue. If anyone has suggestions (especially in the form of PRs ;) on changes we can make in Linkerd to address this, we'd be eager to help; but as it stands this problem seems a bit open ended: Cillium doesn't play well with our iptables-based proxy injection.

[2021-08-24 17:10] christianhuening commented on #6238
eBPF support? ok... ok.. I'll see myself out 😏

[2021-08-24 17:56] olix0r opened #6733 "Support `stat` on Servers and ServerAuthorizations"
The new `Server` (`srv`) and `ServerAuthorization` (`saz`) resources are now annotated on inbound metrics via the `srv_name` and `saz_name` labels, respectively. We should update that `viz stat` to include querying metrics on at least `server`s. Authorizations are nice for completion sake.

Note that when no `Server` is present for a port, the labels value will include `default:<policy-name>` like

[2021-08-24 19:25] alpeb opened #6735 "Avoid building unneeded os/archs CLI binaries in `integration.yml`"
`Docker build (cli-bin)` is the longest job from the `docker_build` group in the `integration_tests.yml` workflow (12m). We can shorten it by only building the CLI for `linux-amd64` and removing the `windows_static_cli_tests` job from that workflow. Non-`linux-amd64` binaries very rarely fail when the `linux-amd64` succeeds, so I think it's worth leaving those extra builds (and the windows check)

[2021-08-25 06:25] #6702 closed

[2021-08-25 06:29] Pothulapati opened #6740 "remove unused reference env variables in `_proxy.tpl`"
#6711 removes the usage of `_l5d_namespace` and `_l5d_trustDomain` but doesn't actually
remove them because it causes the `linkerd-viz` upgrades to fail because
the older `tap-injector` still injects `LINKERD2_PROXY_TAP_SVC_NAME` with the usage of them
as the new version of `tap-injector` isn't ready yet which causes the proxy to fail with the following
error.

[code]

This can be fixed by doing a

[2021-08-25 07:52] Pothulapati opened #6741 "Inbound policies not being read by some proxies"
Was trying to test the new inbound policy feature, on the emojivoto app
by using the [emoji-policy.yml](https://gist.github.com/Pothulapati/970ca65b6499d3b5eeb2bbecf5962fea) which is an updated
version of the [linkerd/policy/k8s](https://github.com/linkerd/polixy/tree/main/k8s/emojivoto) manifests to make them work.

After deploying the application, The app wasn't working correctly. Web was being

[2021-08-25 08:47] mdellavedova opened #6742 "edge-21.8.3 on eks 1.19 fails to start control plane components"
I'm experiencing an issue with the latest edge version on eks 1.19 (I only tried edge-21.8.3 so far). The pre checks run fine and the installation completes successfully but pods for deployments linkerd-destination and linkerd-proxy-injector fail to start (only the linkerd-proxy containers in the pods start successfully)
log errors for the linkerd-destination pod/linkerd-proxy  container show:
[co

[2021-08-25 11:41] xoxbet opened #6743 "edge-21.6.3 or later fails to install"
## Bug Report

### What is the issue?
edge-21.6.3 or later fails to install on the cluster. stable-2.10.2 or edge-21.6.2 works fine.

### How can it be reproduced?
Install linkerd-cni and linker using helm (certs are generated using this [doc](https://linkerd.io/2.10/tasks/generate-certificates/)):
[code]
### Logs, error output, etc

#### `linkerd check` output

[code]

#### linkerd-destination fa

[2021-08-25 14:26] alpeb commented on #6740
So this will actually cause downtime in the control plane during upgrades? `linkerd upgrade | kubectl apply -f -` will restart the control-plane pods, which will get tap-injected by the not-yet-upgraded tap injector, causing the issue you pointed out, till viz gets updated and then the control-plane gets rolled out, correct?

[2021-08-25 14:56] alpeb commented on #6743
Do you have PodSecurityPolicy resources in place in that cluster?

[2021-08-25 15:56] #6723 closed

[2021-08-25 16:05] Pothulapati opened #6744 "tests: integration tests for polic controller state changes"
## Feature Request

Currently, There are no integration tests that verifies the state of
the policy controller based on changes to the `Server`
and `ServerAuthorization` objects.

We could have an integration that applies changes on these
resources and verifies the state of the `policy-controller` by
watching on the `InboundServerPolicies` grpc service.

[2021-08-25 16:11] Pothulapati commented on #6740
@alpeb If the upgrade is from `2.11` then it should work right? as this removal is being planned from `2.12` and in `2.11`the tap-injector (which is considered old then) will not be using those variables as per the change in #6711

[2021-08-25 16:31] alpeb commented on #6740
Gotcha, makes sense! :sweat_smile:

[2021-08-26 16:47] sumit-joshi-mt opened #6753 "Getting "connection closed" error intermittently for go services"
## Bug Report

### What is the issue?

So after upgrading to stable 2.10 we were facing this [issue](https://github.com/linkerd/linkerd2/issues/5988) where, connections disconnects intermittently while connecting to unmeshed services. This issue got fixed after upgrading to `edge-21.7.4`. But now we are facing same issue of intermittent "connection closed"(using `edge-21.7.4` proxy) with meshed se

[2021-08-26 17:28] kleimkuhler opened #6754 "add `default-inbound-policy` to proxy injection flags"
#6750 adds the `config.linkerd.io/default-inbound-policy` annotation for setting the default inbound policy for an injected proxy. As this affects how the proxy is configured, we should support this flag in `makeProxyFlags` so that it can be set with the `linkerd inject` command.

[2021-08-26 19:22] airkewld opened #6756 "Unable to deploy tracing and viz in the same namespace"
## Bug Report

### What is the issue?
I want to deploy all linkerd components in the same namespace, but this is not possible as the namespace is labeled with the same key but diff values for the viz and jaeger components.

### How can it be reproduced?
linkerd install -L mesh --values config.yaml  | kubectl apply -f -
kubectl apply -f linkerd.yaml
linkerd check -L mesh
linkerd viz install -L mesh

[2021-08-27 00:57] michaellzc opened #6758 "docker-in-docker(dind): dind containers lost external connectivity"
## Bug Report

### What is the issue?

Same as https://github.com/linkerd/linkerd2/issues/3107, I only added the instruction to reproduce the issue and some workaround.

Docker-in-docker container lost external network connectivity.

### How can it be reproduced?

Spin up a K8S cluster and install linkerd `2.10.2` stable release (no `cni`, just the regular stuff)

[code]

[code]

Upon pod is ready

[2021-08-27 21:52] aidandj opened #6769 "Contour/Envoy/Linkerd Incompatibility"
## Bug Report

### What is the issue?

When a service is annotated with the contour annotation `h2c`, linkerd is unable to proxy websocket traffic on that port.

### How can it be reproduced?

Contour ingress controller. Envoy running with a service annotated with `projectcontour.io/upstream-protocol.h2c`. And a websocket service.

Contour is not meshed, Envoy and websocket service are.

When the

[2021-08-30 14:31] jensoncs commented on #2846
Are we planning to prioritize the circuit-breaking functionality?  is there any option in linked to limit the number of requests and connections at the proxy level or what is the right way to go about this?

[2021-08-30 15:33] MatteoManzoni commented on #6525
Hi @olix0r, will this issue be investigated any further?
Can I provide you with more context to support this issue?

[2021-08-30 15:43] olix0r commented on #6525
@MatteoManzoni I'd like to look into this more after stable-2.11 is out. I don't think this issue is really actionable in its current state--at least, I don't think there are simple changes we can make that would address the concerns raised. But in stable-2.12 we plan to introduce new outbound policy primitives, so we may be able to offer some configuration surface area to help address these issue

[2021-08-30 20:28] kleimkuhler opened #6783 "opaque ports check issues warning on default installation"
[code]

This was introduced after #6719 merged which adds different opaque ports for pods and services in the `linkerd` namespace.

- [ ] this check should be changed to no longer issue warnings when the opaque port values are different
- [ ] this should have been caught by CI running `linkerd check --proxy` either without the namespace flag, or on the `linkerd` namespace

[2021-08-30 23:32] adleong commented on #6741
@Pothulapati are you able to narrow down specifically what the error is?  If you attach a shell to the web pod, are you able to manually make H2 requests to the gRPC port of the emoji pod?  If not, what error is returned?  Can you capture debug logs from the emoji pod's proxy as it rejects the requests?

[2021-08-31 00:03] adleong commented on #6740
@Pothulapati is this fixed by https://github.com/linkerd/linkerd2/pull/6711

[2021-08-31 00:39] adleong commented on #6756
Can you give a bit more background on why you want to have these extensions in the same namespace?  Linkerd uses namespace labels to keep track of which extensions have been installed.

[2021-08-31 11:02] mateiidavid commented on #6352
Hey everyone, thanks for the input! I'm going to close this now as there hasn't been any new information or updates since July.

As always @AlonGluz @kostyay ping me if you want this back up :)

[2021-08-31 11:02] #6352 closed

[2021-08-31 11:04] mateiidavid commented on #6548
Closing for now due to lack of activity.

@dkulchinsky if you have any updates or if you want to re-open this issue, either comment or ping me. Thanks!

[2021-08-31 11:13] dcodix opened #6786 "Linkerd auto-injection breaks QoS Guaranteed"
## Bug Report

### What is the issue?
Linkerd auto-inject breaks any Guaranteed QoS pod.
Both linkerd-proxy and linkerd-init don't have cpu and memory requests == limits so, any pod auto-injected cannot be Guaranteed QoS.
It is easy to solve for the linkerd-proxy container as we can use annotations for seting the req/lim, but we do not have such annotations for linkerd-init, making it imposible to

[2021-08-31 11:46] mateiidavid commented on #6786
Hi @dcodix,

First of all apologies, I was a bit shortsighted on slack and didn't properly look through our supported helm values. We _do in fact_ support custom values for resource limits and requests on the `linkerd-init` container, these have to be supplied at install time.

You can find these values along with their respective defaults here: https://github.com/linkerd/linkerd2/blob/3e4f1369f50

[2021-08-31 12:27] mateiidavid commented on #6786
I'll be closing this issue now since resource requests and limits can be overridden -- users can specify their own overrides to ensure pods are guaranteed.

[2021-08-31 12:27] #6786 closed

[2021-08-31 13:55] dkulchinsky commented on #6548
@mateiidavid sorry for the lack of communication on my end, was on PTO for a while and things side-tracked, I'll try to get the issue reproduced and collect the logs you've requested, will report back once I have them.

[2021-08-31 14:43] airkewld commented on #6756
@adleong
We prefer to keep all mesh services contained in the same namespace.
That's the way it was done prior to 2.10 release.

[2021-08-31 16:05] Pothulapati commented on #6741
@adleong This is fixed on the latest edge. It was happening before we updated the proxy to use the latest policy even when a connection is always created. So, Closing this.

[2021-08-31 16:05] #6741 closed

[2021-08-31 16:10] Pothulapati commented on #6740
@adleong This issue tracks the removal of these reference variables definitions which we did not remove because of the race conditions that happens during upgrade i.e

the older tap-injector still injects LINKERD2_PROXY_TAP_SVC_NAME with the usage of them
as the new version of tap-injector isn't ready yet which causes the proxy to fail with the following
error.

#6711 removes their usage *only*. s

[2021-08-31 16:22] olix0r commented on #2846
@jensoncs Richer client-side policies are planned for stable-2.12.0

[2021-08-31 16:46] olix0r commented on #6769
I'm not really familiar enough about the contour configuration to comment on some of these details, but it would be helpful to confirm some details:

Does the websocket service speak HTTP/2? Or is it an HTTP/1 service? I'm pretty sure that HTTP/1 websocket support should work but I'm not sure if we've tested HTTP/2 websockets. If it's HTTP/1, I'm not sure how the _h2c_ annotation should interact h

[2021-08-31 16:52] artificial-aidan commented on #6769
So if my understanding is correct. The `h2c` annotation tells contour to terminate TLS at the ingress controller. Because we use grpc and websockets on the same port, the traffic cannot be HTTP/1 between the ingress reverse proxy and the application reverse proxy, hence the `h2c` protocol.

So the traffic is being proxied upstream with h2c, but the linkerd proxy throws the error when it is websock

[2021-08-31 18:03] artificial-aidan commented on #6769
https://github.com/artificial-aidan/contour-linkerd-websockets

[2021-08-31 18:27] adleong commented on #5446
This has been fixed by https://github.com/linkerd/linkerd2/pull/6455 which adds a `linkerd-identity-trust-roots` ConfigMap which contains the configured trust root bundle.

[2021-08-31 18:27] #5446 closed

[2021-08-31 18:33] adleong commented on #6756
Thanks @airkewld.  2.10 moved these components into their own namespaces since that's how Linkerd organizes extensions now.  Namespaces are lightweight and this is unlikely to get prioritized unless there's a compelling reason why they need to be in the same namespace.

[2021-08-31 18:35] artificial-aidan commented on #6769
I believe this might be related to my issue. Will dig some more: https://github.com/projectcontour/contour/issues/3371

[2021-08-31 20:33] airkewld commented on #6756
While namespaces are lightweight, its another resource to manage with resources, policies, etc.
I believe that this change introduced complexity that was not needed.
The extensions are being managed by labels which can/should be unique per extension.

[2021-08-31 22:11] #6729 closed

[2021-09-02 17:22] #6153 closed

[2021-09-02 21:09] #5211 closed

[2021-09-03 12:10] irizzant opened #6804 "Thanos Query cannot connect to Prometheus with Linkerd"
## Bug Report

### What is the issue?

I have deployed Prometheus (https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack)  and Thanos in my cluster, without linkerd everything is working fine.

As soon as I enable linkerd for both Prometheus and Thanos the Query pod stops communicating with Prometheus.
`linkerd-proxy` reports connection errors and stops collect

[2021-09-03 18:10] olix0r commented on #6804
Based on your logs, it appears that it's trying to communicate with services that have no endpoints:

[code]

I assume 10.43.179.37 and 10.43.112.5 are the ClusterIP addresses of Kubernetes services? Can you share any details about these services?

[2021-09-03 19:57] olix0r opened #6813 "Create default policies for extensions"
In order to support using a default-deny policy, we should ship the viz and multicluster extensions with default Server & ServerAuthorization resources.

We probably also should add an install test with ` --set policyController.defaultAllowPolicy=deny` that at least ensures the control plane starts properly in this mode

[2021-09-04 09:31] irizzant commented on #6804
I have the following statefulsets:
[code]

and those are Service IP's:
[code]

[2021-09-06 22:58] tdyas commented on #6473
Closing as I'm not going to have the time to work on this any more.

[2021-09-06 22:58] #6473 closed

[2021-09-07 15:51] olix0r opened #6827 "Bump policy CRDs to v1beta1"
Before the next stable release, we should put out a v1beta1 version of our policy CRDs -- we're moving past the alpha stage.

Are there any CRD changes we should make as a part of this? Perhaps printer columns?

[2021-09-07 19:39] ieaves opened #6832 "linkerd viz dashboard fails when proxied through traefik ingressroutes"
## Bug Report

This may be a configuration issue on my part so I'd like to apologize in advance if that's the case. However, I can't get the recommended traefik ingress object to successfully proxy the linkerd viz dashboard.

### What is the issue?

Proxy ingress to the linkerd viz web service nominally works but loads empty results like below:
![Screenshot from 2021-09-07 14-08-37](https://user-i

[2021-09-08 17:17] mkrutik opened #6842 "Proxy trying to connect to stale endpoint IP address"
## Bug Report
From time to time we run into connection problems, when we enabled the debug logs, we noticed that the proxy was trying to connect to outdated IP addresses.

### What is the issue?
The proxy is trying to connect to the stale IP address of the endpoint.

### How can it be reproduced?
We are still trying to reproduce it, but so far with no success. **One thing we've observed that could

[2021-09-08 19:19] kleimkuhler commented on #6842
Thanks for the report @mkrutik. This may already be fixed by linkerd/linkerd2-proxy#1180 which has been included in the last several edge releases. If you are able to try a recent edge release, it would be helpful to know if it fixes it for you.

I'm not sure we ever got solid confirmation that that change was enough to fix this issue about stale endpoint IP addresses, so that would be good to kno

[2021-09-09 06:57] mkrutik commented on #6842
@kleimkuhler  thanks for so quick support 👍 I already thought about trying the `edge` version, but the problem is that we are only able to use the `stable` version for our production cluster (due to our internal requirements).
We are already using the latest `edge` version for our DEV / STAGE clusters, and this issue has not been encountered there yet (possibly due to less load and pod scaling).

[2021-09-09 16:20] kleimkuhler commented on #6842
@mkrutik That's good to hears that you haven't encountered this issue in your dev/stage clusters.

We're close to a release candidate for `stable-2.11.0`—probably this week or next. If nothing major comes up in testing, we should have it released within September.

[2021-09-09 18:45] #6146 closed

[2021-09-09 18:45] #6164 closed

[2021-09-09 20:16] danieloateslee opened #6850 "Linkerd-Vis helm chart"
## Bug Report
Linkerd-Vis helm deployment guide is not correct.

### What is the issue?
The helm command is missing the CA cert requirement

### How can it be reproduced?
Yes ... if you deploy linkerd-vis using the helm chart, the TAP, WEB, Metric pods fail to start.  If you then add the CA used to install linkerd, the pods start up correctly.

We identified the issue with the missing CA after dep

[2021-09-09 22:02] olix0r commented on #6850
Thanks for the PR, @danieloateslee.

I'm not 100% sure I understand the problem you're seeing, though.  Specifically linkerd-viz doesn't actually use the `identityTrustAnchorsPEM` variable anywhere in its template:
[code]

The trust anchors are provided to the viz components via the `proxy-injector` webhook.

Can you share more details about the problem you saw?

The viz install does include some

[2021-09-10 04:21] eric-aops commented on #5932
Hi,

The CNI workaround/implementation doesn't seem to solve the problem on our side. I'm still confronted with the DNS errors even though resolving works from a toolbox Pod in the same namespace. Only Linkerd Identity comes up, the other Pods just crash:
[code]
Tried with FW updated to open all ports from controlplane and between nodes but no joy.

Any pointers or assistance is greatly appreciate

[2021-09-10 05:26] olix0r opened #6857 "Honor `server.proxyProtocol=opaque` in client discovery"
Server resources have a `proxyProtocol` field that can be set to _opaque_. This setting can eliminate the need to configure the annotation `config.linkerd.io/opaque-ports`. We should update the destination controller to use a pod:port's server configuration when possible.

Naively, we might have to update the destination controller to replicate the indexing logic in the policy controller; but, ins