[2020-06-30 23:16] ihcsim commented on #2596
@bradfox2 The default resource values for the proxy can be found in the Helm chart's [`values.yaml` file](https://github.com/linkerd/linkerd2/blob/5a2f326bb506fa6cc794d038199f96e0a4317976/charts/linkerd2/values-ha.yaml#L9-L16). We can use some help with updating the docs. LMK if you are interested in contributing. Thanks!

[2020-07-01 00:02] Abrishges commented on #4624
@zaharidichev In step 5,  it look like you drained the nodes graceful and might not cause errors since Linkerd pods will be drain properly and they will be reschedule to new node.  To simulate a sudden node outage at least which happened to us, we used the following command in AKS
` Stop-AzVmss -ResourceGroupName rgname -VMScaleSetName vmssname -InstanceId id -Force -SkipShutdown -StayProvisioned`

[2020-07-01 00:08] Abrishges commented on #4674
@zaharidichev  From the steps described on your test, it look like you drained the nodes graceful. if you are using azure portal to stop the node, that is a graceful shutdown and might not cause errors since Linkerd pods will be drain properly and they will be reschedule to new node. To simulate a sudden node outage at least which happened to us, we used the following command in AKS
`Stop-AzVmss -

[2020-07-01 07:07] zaharidichev commented on #4674
@Abrishges this is very helpful. Thanks a bunch. Will try that out. I indeed shut down the node through the UI.

[2020-07-01 15:31] seeruk commented on #4605
I think this one might be wrapped up now!

[2020-07-01 15:31] #4605 closed

[2020-07-01 21:13] #4676 closed

[2020-07-01 21:14] hawkw commented on #4676
yayyyyy, i solved global warming!

[2020-07-01 22:42] DerrickMartinez opened #4697 "Dashboard: Tap filter - Authority drop down not populating"
## Bug Report

### What is the issue?
Not able to configure tap with authority options. There is an authority dropdown that isn't populated. Should probably be an input box and not a dropdown if it's not intended to auto populate.

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.17.5
- Cluster Environment: AWS
- Host OS: Ubuntu
- Linkerd version: 2.8.1

### Possible s

[2020-07-01 23:06] alpeb commented on #4678
I'm putting in writing some ideas we chatted about offline:

For non-forks this is trivial to implement; would just require setting up the credentials (for Docker Hub) or using GITHUB_TOKEN (for Github packages) and guard the push step with a condition for restricting it to non-forks, like we already do in many steps.

But ideally we'd like to do this uniformly for forks as well. Unfortunately all

[2020-07-02 15:08] #2491 closed

[2020-07-02 15:15] #4691 closed

[2020-07-02 17:27] #4664 closed

[2020-07-02 17:43] #4431 closed

[2020-07-02 18:29] ihcsim commented on #4690
It looks like the only error message we get back from k8s is `The "[NS]/pushgateway-54cc9678-pk22j" pod is not running`. I think it makes sense to keep this check as-is, since there can be many other reasons why a pod is not running. AIUI, this check will be auto-retried, and continue to fail (because the evicted pods are not removed automatically), until the [`retryDeadline` exceeded](https://git

[2020-07-02 18:36] siggy commented on #4690
@ihcsim I didn't let `linkerd check --proxy` run long enough to complete or timeout.

For my own understanding: shouldn't `linkerd check --proxy` not attempt to connect to evicted pods?

[2020-07-02 19:09] ihcsim commented on #4690
My understanding thus far is that `Evicted` isn't one of the pod [phases](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase). To not select evicted pods, `linkerd check --proxy` will need to do the equivalence of `--field-selector=status.phase!=Running` at the API level. And I am assuming that eviction is not the only reason why a pod is not running.

[2020-07-02 20:05] ihcsim commented on #4690
I am starting to wonder if this stalling/retry isn't limited to just evicted pods. As part of tackling this issue, we should confirm how `linkerd check --proxy` behave when the pod's status is `Pending`, `Failing` and `Unknown`.

[2020-07-02 23:03] adleong opened #4705 "Streamline multicluster checks for per-cluster service mirror controllers"
As described in https://github.com/linkerd/rfc/pull/31 we are moving to a model where we will not install the service-mirror-controller as part of `linkerd multicluster install` but instead create a service mirror controller per linked target cluster as part of `linkerd multicluster link`. This allows us to streamline and simplify some complex and conditional logic around source and target cluster

[2020-07-02 23:03] adleong commented on #4705
@zaharidichev I would love to get your feedback on the above ^^

[2020-07-02 23:19] adleong opened #4706 "Update multicluster gateways command to use per cluster metrics"
As described in linkerd/rfc#31 we are moving to a model where we will not install the service-mirror-controller as part of linkerd multicluster install but instead create a service mirror controller per linked target cluster as part of linkerd multicluster link.  This means that the `linkerd multicluster gateways` command will need to be updated to account for the fact that there is no longer a si

[2020-07-02 23:27] adleong opened #4707 "Add multicluster unlink command"
Add a `linkerd multicluster unlink` command which uninstalls an individual multicluster link.

This command requires a `--cluster-name` flag, just like `linkerd multicluster link` does.

This command outputs manifests of all resources associated with the Link so that they can be piped to `kubectl delete`.

However, a naive implementation may result in a race condition where mirror services are del

[2020-07-02 23:31] adleong opened #4708 "Add a multicluster uninstall command"
Add a `linkerd multicluster uninstall` command which is used to uninstall the multicluster add-on.

The command should first validate that there are no `Link` resources in the cluster.  If any Links exist, the user should be advised to `linkerd multicluster unlink` them first.  Once validation is successful, the command should output all manifests created by `linkerd multicluster install` so that

[2020-07-03 06:19] andyyaldoo opened #4711 "Rotating trust anchor with automatic control plane tls didn't work"
## Bug Report

### What is the issue?

I was following the steps outlined [here](https://linkerd.io/2/tasks/manually-rotating-control-plane-tls-credentials/) and didn't quite succeed. The `linkerd check` was fine until I do `linkerd upgrade --identity-trust-anchors-file=./bundle.crt | k apply -f -`. I've also replaced the `linkerd-trust-anchor` tls secret with the bundle.crt and regenerate the `li

[2020-07-03 08:54] plwhite opened #4713 "Use tproxy to allow preservation of IP addresses"
## Feature Request

### What problem are you trying to solve?

When traffic arrives at a container in a pod via Linked in, the IP addresses are mangled.

- The pod has to listen on localhost instead of the pod IP (which is a minor issue, but does mean that behaviour may need to differ based on whether a service mesh is present).

- All incoming traffic appears to come from localhost. This impacts

[2020-07-03 09:13] strobil opened #4714 "error during reading http1.1 response body with trailers"
## Bug Report

### What is the issue?
linkerd proxy unable to read http1.1 response with trailers

### How can it be reproduced?
http server must respond with chunked transfer-encoding with trailers, example (wireshark dump) in attachment below

[http_response_with_trailers.zip](https://github.com/linkerd/linkerd2/files/4868759/http_response_with_trailers.zip)

### Logs, error output, etc

#### pr

[2020-07-03 09:59] akamenev opened #4715 "nginx ingress doesn't work"
## Bug Report

### What is the issue?
Nginx rules don't work as expected in a multi-cluster setup

### How can it be reproduced?
1. Setup 2 clusters according to the Getting Started guide - https://linkerd.io/2/tasks/multicluster/
2. Create 'tripsinsights' namespaces for the app in both clusters
3. Deploy 3 microservices to 'west' cluster and 2 to 'east' cluster
4. Install nginx-ingress controller

[2020-07-03 11:12] alpeb commented on #4707
How about using [owner references](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/)? All the objects created are marked to be owned by the service mirror controller, so in theory, deleting the service mirror controller should automatically delete everything.

[2020-07-03 12:19] strobil commented on #4714
Looks like i found the reason of this. https://github.com/hyperium/hyper/issues/2171
As @seanmonstar says - hyper doesn't have h1 trailers support...

[2020-07-03 16:25] ihcsim commented on #4715
@zaharidichev Any thoughts on this one?

[2020-07-03 17:01] ihcsim commented on #4711
Can you compare the `data.global.trustAnchorsPem` in the `linkerd-config` configmap and that found in your `linkerd-trust-anchor` secret? `step certificate inspect [--bundle]` will let you see the details of the certs. I wonder if the ordering of the bundled certs is off.

[2020-07-03 17:22] ihcsim commented on #4687
This sounds like a bug to me. The Grafana template includes the `linkerd.node-selector` partial template, but it's not getting set as expected. Whether we want add-ons to inherit the node selectors of the core control plane feels like another legit discussion. I think we should fix this. Any idea how much effort is required to change this Helm variable to a global one? I know it's easy to change t

[2020-07-03 21:50] cpretzer commented on #4660
@ArthurSens I ran this in my local environment and it's looking good, so far.

I also read through your conversation with @ihcsim on slack, so I think I'm all caught up. Is there anything I can help with on this? I'd love to see it merged!

[2020-07-05 21:54] cpretzer commented on #4715
@akamenev thanks for trying multicluster out. Did you set up a TrafficSplit resource for the service? I know that seems like a simple step, so that's my first thought.

[2020-07-05 21:58] cpretzer commented on #4624
hi @listenerme and @Abrishges would you mind running your tests with the latest [edge](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.1)? @zaharidichev committed some updates that should address this

[2020-07-05 22:04] cpretzer commented on #4714
@strobil thanks for making us aware of this and for your PR. Once the PR to grpc-ecosystem/grpc-gateway is released, we can pull the changes into the proxy. We'd love your help with a pull request to that repo 😄

[2020-07-06 05:58] zaharidichev commented on #4624
@cpretzer @listenerme @Abrishges I added some commits that would allow linkerd stat and other commands to proceed but this does not fix the initial problem that results in 503 errors... I am still working on that one

[2020-07-06 06:08] zaharidichev commented on #4715
@akamenev I am not sure what you are trying to do. If you want to route traffic from your ingress to an exported service, why are you exporting the ingress service? Why dont you simply.

1. Export the services you need
2. Mesh the infress controller and configure it to work with Linkerd
3. Setup the rules.

Again. I have not tried that myself, but in theory it should work.

[2020-07-06 06:09] zaharidichev commented on #4715
I will try that myself later today and verify

[2020-07-06 07:45] gmaiztegi opened #4719 "Tap does not work with CNI enabled"
## Bug Report

### What is the issue?

All components in Linkerd seem to work perfectly when CNI is disabled, but recently we considered enabling CNI in order to establish restrictive pod security policies. mTLS works fine, as services can seamesly connect to each other, but we tried using the tap functionality and it is not working. We tried via the CLI, the tap tab in the panel and the live call

[2020-07-06 09:00] #4183 closed

[2020-07-06 09:27] zaharidichev commented on #4715
@akamenev That looks exactly like https://github.com/kubernetes/ingress-nginx/issues/5198 and I suspect is a bug in the nginx ingress controller. I tried running the dev version and still could not get that resolved. As advised, when there is a hostname in the rules, the problem goes away.  Will comment on the issue

I am stil unclear though why you are exporting the controller? I am not sure this

[2020-07-06 09:30] akamenev commented on #4715
It looks like the problem might be related to some headers, I am not sure if this is the desired behavior. I've added the 'host' section with a proper domain to the ingress manifest and it works. In the original setting, I was using Public IP directly.

[2020-07-06 13:09] Pothulapati opened #4720 "Confusion between linkerdVersion and controllerImageVersion"
## Bug Report

Currently there are two variables i.e `linkerdVersion` and `controllerImageVersion` that are used as control-plane image version tags as `{{default .Values.global.linkerdVersion .Values.global.controllerImageVersion}}`

I don't exactly understand why we would need two of them and I see that `controllerImageVersion` is not set with Helm and we use that for CLI and tests especially.

[2020-07-06 13:18] Wihrt opened #4721 "Setting the l5d-dst-overrides header configuration for Kong gateway"
## Bug Report

### What is the issue?

Linkerd doesn't work

### How can it be reproduced?

Using Helm :
- Install Linkerd 2.8.1, using self-signed certificates for every component needing one (Helm does not generate them)
- Install Kong
- Install Dummy Nginx with ingress

### Logs, error output, etc

You have the log of linkerd-proxy of Kong for the v2.7.1 and v2.8.1
https://gist.github.com/Wihrt

[2020-07-06 13:26] Pothulapati commented on #4687
@ihcsim This actually works with the CLI, as we re-use all the `values.yaml` even with add-ons but does not work with Helm as thats not the case.

The change should not be a hard one i.e to move `nodeSelectors` to `Global` but that means that we are making it inherit nodeselectors from the core control-plane right?I mean they can always override it by setting their own using add-on fields!

[2020-07-06 16:01] ihcsim commented on #4687
For now, we should make the Helm experience consistent with the CLI.

[2020-07-06 17:11] ihcsim commented on #4721
@Wihrt For repro purposes, can you attach your Nginx and Kong YAML manifest? You mentioned on Slack that this caused Kong to reply with 502 errors, right? Do you have those logs?

[2020-07-06 17:12] cpretzer commented on #4624
Oops! I got excited and spoke too soon. Thanks for clarifying @zaharidichev

[2020-07-06 17:56] ihcsim commented on #4719
@gmaiztegi Can you attach the `linkerd-tap` proxy logs? The `Unauthenticated` error probably means that the target pod doesn't have the identity that tap expected. Did you enable the Linkerd CNI during a fresh installation, or via an upgrade using Helm?

[2020-07-06 18:20] adleong commented on #3962
Another option would be to abandon the typed code-generated clients for TrafficSplit and instead use an untyped dynamic client (as we do for the Link CRD, see: https://github.com/linkerd/linkerd2/pull/4710/).  This would allow us to write custom deserialization logic that can account for the weight field being either an `int` or a `Quantity`.

[2020-07-06 20:37] ihcsim commented on #4720
Will it make sense to decouple the add-on image version from the control plane image version?

[2020-07-06 21:51] olix0r commented on #4713
@plwhite This is definitely a reasonable request; but it has some big implications, so I think we'd want someone to put together an [RFC](https://github.com/linkerd/rfc) that outlines a plan of attack. Such an RFC will need, at least, some attention to the following:

* Before installation, how can we know whether a cluster supports this? Browsing the Istio backlog, it appears as if some operating

[2020-07-06 21:54] rbtcollins opened #4723 "HTTP3 / QUIC support"
### What problem are you trying to solve?

HTTP/3 support is currently lacking from linkerd2.

HTTP/3 is defined here - https://datatracker.ietf.org/doc/draft-ietf-quic-http/?include_text=1 - and while not fully ratified the bones of it are very clear: it is a UDP protocol, built on QUIC.

QUIC is defined here https://datatracker.ietf.org/doc/draft-ietf-quic-transport/?include_text=1

#4023 which

[2020-07-06 21:55] adleong commented on #4721
Hi @Wihrt!

This looks like an infinite loop.  This can happen with ingresses because they receive requests that have the ingress' address in the Host or Authority header.  When the ingress tries to send that request to a backend, the Linkerd proxy sees that the Host or Authority header targets the ingress and sends it back, resulting in a loop.

The Linkerd [ingress docs](https://linkerd.io/2/tas

[2020-07-06 22:34] olix0r commented on #4723
Thanks, @rbtcollins. I agree that this would be a cool feature; but I'm less convinced that this will add much operational value, especially in relation to the cost of implementing this (which includes much more than the proxy changes you referenced).

* The proxy-init/CNI needs to be modified to configure iptables for UDP.
* The proxy needs to be able to proxy arbitrary UDP packets.
* The proxy n

[2020-07-06 22:46] olix0r commented on #4720
@alpeb Do you recall the history of these values? Is this fallout from supporting the proxy version override?

@Pothulapati I think we should either document what we have or simplify it. But you're probably in the best place to figure out the path forward...

[2020-07-06 23:04] rbtcollins commented on #4723
tl;dr:
- great at long lived sessions
- great at short lived sessions
- faster than H2 at session setup
- faster than H2 at session resumption
- way better than H1 (like H2, HOL blocking is solved)
- solves packet loss and congestion for peak bandwidth users better than H2

All of the above very relevant in a datacentre, and given a service mesh can easily extend cross datacentre (e.g. two AZ's in

[2020-07-06 23:33] olix0r commented on #4723
I don't mean to insinuate that QUIC isn't valuable. We're definitely open to the feature, but not at the expense of the other things we need to be doing. I have to make a decision between working on this and the other things on our roadmap; and this strikes me as a _lot_ of work for something that will only benefit the most specialized, bleeding edge applications. There's other work we can be doin

[2020-07-07 07:27] gmaiztegi commented on #4719
@ihcsim thanks for the answer.

Neither of the proxies (tap and the tapped pod) show any log entry when doing the tap. I haven't touched the log levels of the proxies. Should I set them to an specific value?

I installed it upgrading using Helm. Does it make a difference?

[2020-07-07 13:17] strobil opened #4726 "service profile route name for gRPC services"
## Feature Request

### What problem are you trying to solve?
`linkerd profile` generator for `proto` uses a grpc method name as route name.
In some cases it can be not very comfortable, because we can have the same method name in a different gRPC services.
For example service A has a method Foo, and the service B has a method Foo. Both of them will be listed in `Linkerd route` dashboard with the

[2020-07-07 14:04] alpeb commented on #4720
`linkerdVersion` is a placeholder that gets replaced in `values.yaml` at build-time with the real version. It definitely makes sense to use it and get rid of `controllerImageVersion`!

[2020-07-07 16:13] adleong commented on #4726
Hi @strobil, thanks for filing this.  This seems like a reasonable feature request on its own but I wonder if allowing for a simple prefix on route names is really flexible enough.  Each user may have their own specific requirements on how they would like routes to be named.  Rather than try to accommodate all of these requirements, my instinct would be to say that this is outside of the responsib

[2020-07-07 16:34] strobil commented on #4726
Hmm, for the first time i was thinking that this small change will resolve 99% conflicts in naming with default settings.
But now i'm thinking that you are absolutely right. As you say - each user may have own specific requirements, and without total rethinking of `profile` command there is no sense to apply changes like this :)

[2020-07-07 17:24] ihcsim commented on #4719
What's the output of `linkerd check --pre --linkerd-cni-enabled`? Can you also share the Helm commands you used to install the CNI plugin and the control plane?

Assuming you did a fresh installation of the CNI plugin and control plane, not enabling CNI on an existing non-CNI control plane, this shouldn't make a difference.

[2020-07-07 17:36] adleong commented on #4690
I've yet to confirm this since I don't have an evicted pod to look at, but I believe that when a pod is evicted, the `PodStatus.Phase` is "Failed" and the `PodStatus.Reason` is "Evicted".

I think we should handle this case specially in the ListPods API and set the `Status` field on the API response to be "Evicted" instead of "Failed".  Then in the healthcheck that validates the data plane, we sho

[2020-07-07 18:16] adleong commented on #4667
Hi @plwhite!  Those three example use-cases you list are each pretty different so I wanted to give some context and ask some additional questions about them individually.

1. Protocols like SIP.  If the workload is running in the Kubernetes cluster as a stateful set then you should be able to just mesh that workload and address individual endpoints using their stable network id.  All of Linkerd's

[2020-07-07 19:54] gmaiztegi commented on #4719
@ihcsim I think I have found the issue.

I run `linkerd install-cni | kubectl diff -f -` to see if there was any difference between my instalation from Helm and the one rendered by the CLI and this showed up:

[code]

So, I added `ignoreInboundPorts: "4190,4191"` to my values, performed helm upgrade on the cni, restarted linkerd-tap and one of my deployments, and now the tap works perfectly 😄

I g

[2020-07-07 20:05] ihcsim commented on #4719
@zaharidichev is this issue similar to https://github.com/linkerd/linkerd2/issues/4679?

[2020-07-07 20:20] #4501 closed

[2020-07-08 00:55] vijaygos commented on #3504
@olix0r , any update on this feature request?

[2020-07-08 05:12] allensiho opened #4730 "Multicluster installed on Azure Kubernetes does not appear to see its Targets"
## Bug Report

### What is the issue?
Multicluster installed on Azure Kubernetes does not appear to see its Targets

### How can it be reproduced?
We have AKS clusters on the same VNET in different subnets..
No network policies or security groups are assigned

I created the certificates using step
* step certificate create identity.{our-linkerd-ns}.cluster.local root.crt root.key --profile root-ca

[2020-07-08 05:25] cpretzer commented on #4730
@allensiho Thanks for filing this.

During our slack conversation you mentioned that there were some `BadCertificate` errors in the proxy logs. Can you add those here as well?

[2020-07-08 06:13] Pothulapati commented on #4720
Hmm, So, Currently `controllerImageVersion` can be used to override the image tag of all the control-plane components but I don't see it differing from `linkerdVersion` in most cases. and this overriding can only be performed through Helm as there is no relevant cli flag for this.

Are there any use-cases where folks are using image tags that is different from `linkerdVersion`? Even with private r

[2020-07-08 07:19] zaharidichev commented on #4730
@allensiho  I just tried that on Azure with a custom linkerd namespace, etc and it all worked for me:

[code]

Can you give us a bit more logs from the proxy. Namely if you can give us more logs from the proxy of the service mirror controller on your source cluster. In Slack you mentioned that you had some trouble with certs that was fixed after you resterted pods. Did you restart the service mirr

[2020-07-08 07:30] zaharidichev commented on #4719
@gmaiztegi if you were able to go back and check whether the - --inbound-ports-to-ignore arg of your proxy init container was empty which probably was then yes, this is the same issue. Also  you cna go ahead and try out this PR to further verify that the problem is fixed: https://github.com/linkerd/linkerd2/pull/4688

[2020-07-08 07:43] zaharidichev commented on #4633
This was solved by https://github.com/linkerd/linkerd2-mock-dst/pull/9

[2020-07-08 07:43] #4633 closed

[2020-07-08 08:23] zaharidichev commented on #4690
@adleong so do you suggest to actually explicitly check whether the pods is evicted or not and if it is not simply not fail. What about a situation where the pod  is Pending and its reason is "Unschedulable". This still results in the check hanging and retrying for this pod.

 "status": {
    "conditions": [
      {
        "lastProbeTime": null,
        "lastTransitionTime": "2020-07-08T08:12:23Z

[2020-07-08 13:54] strobil commented on #4714
@cpretzer hello again!

My PR was merged to [grpc-ecosystem/grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway), but this is more likely to be a workaround rather then fix, because of the root cause of this problem stays in the [hyper](https://github.com/hyperium/hyper) source code, which is used by linkerd2-proxy.

I think we could close this issue for now, but this problem can appear a

[2020-07-08 15:49] ihcsim commented on #4720
Sounds like we can get rid of `controllerImageVersion`, and mention this change in the release notes.

[2020-07-08 15:54] ihcsim commented on #4715
@akamenev The `host` field needs to the a FQDN, per the K8s [docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#ingressrule-v1beta1-networking-k8s-io).

[2020-07-08 17:22] cpretzer commented on #4714
hi @strobil, thanks for the update

When we triaged this issue, and once the [hyper issue](https://github.com/hyperium/hyper/issues/2171) is released, we'll pull that version into the proxy codebase.

Is the grpc-gateway workaround sufficient for now?

[2020-07-08 17:23] #4714 closed

[2020-07-08 19:52] mmiller1 commented on #3567
I would very much like the ability to set arbitrary environment variables in injected pods (overriding LINKERD2_PROXY_OUTBOUND_CONNECT_TIMEOUT is our immediate need). I would be willing to help contribute something like "proxy.extraEnv: {}" to the helm chart if it would be welcomed.

[2020-07-08 21:16] ihcsim commented on #4689
This might get fixed as part of the upcoming TCP mTLS and server-speak-first work. Let’s check back in then!

[2020-07-09 00:28] cpretzer commented on #4730
@allensiho thanks for the chat today, I hope it was helpful.

I'm putting notes here to keep track of the steps we took:
- Got the public IPs of the `linkerd-gateway` LoadBalancer in the east:
[code]

- Next we used that IP in a curl container from from the cluster in the west
[code]

Both requests returned a 503 error

- We tried the same requests using the node IP address and also got a 503 erro

[2020-07-09 04:42] cpretzer commented on #4730
@allensiho from our slack conversation and debug session, it sounds like this is a connectivity issue between the clusters that is unrelated to Linkerd, so I'm going to close this ticket.

If you and your IT team are able to establish an SSH tunnel or other mechanism for allowing access between the clusters on the public IP of the load balancer and this issue persists, please add your notes to thi

[2020-07-09 04:42] #4730 closed

[2020-07-09 08:02] rbtcollins commented on #4723
Ok, cool - I do appreciate that triage is an important thing; I'm trying to be clear about the ways in which H3 is useful even within high speed cloud environments.

For context - we're in the process of figuring out which of the plethora of service meshes options to spend time really investigating, because (highlander voice) there can only be one. This, [SPIFFE](https://github.com/linkerd/linkerd

[2020-07-09 09:29] akamenev commented on #4715
It is an FQDN, but at the same time, the host field is optional. You can choose to not specify it, and that's what I meant by using Public IP

[2020-07-09 11:22] #4690 closed

[2020-07-09 11:23] #4679 closed

[2020-07-09 13:19] mmiller1 opened #4736 "The default CONNECT_TIMEOUT value is too low"
## Feature Request

### What problem are you trying to solve?
The default value of 1 second to establish a TCP connection is too low in the linkerd proxy, our VMWare environment is susceptible to stuns induced by frequent vmotion events, these can last up to two seconds on loaded hosts, the client libraries handle this fine without linkerd as the connect timeouts are either non-existent, or > 10 s

[2020-07-09 17:32] ihcsim commented on #4715
In this case, if the host field isn't specified, then you will run into https://github.com/kubernetes/ingress-nginx/issues/5198. Sounds like we can close this issue now?

[2020-07-09 17:50] olix0r commented on #4723
@rbtcollins Thanks! This is helpful context.

One question that might help drastically simplify this problem: how important is it that your application actually speak HTTP/3 on the pod-local communication with the proxy. I.e. would it be suitable for the proxy to use HTTP/3 between pods but to rely on HTTP/2 for the pod-local communication? I think this could likely give you the reliability improv

[2020-07-09 17:59] #3590 closed

[2020-07-09 20:30] olix0r opened #4743 "destination: Handle IP lookups dynamically"
In order to handle the case where a client uses a service IP before it has been made visible to the destination controller, we should support lazily updating IP addresses as the corresponding service address is discovered/lost/etc

[2020-07-10 13:34] eeeeeta commented on #2704
Would it not be possible for the `linkerd-init` container to block until the sidecar was initialized? That seems like a simple solution that would fix this issue, but maybe I'm missing something here...

[2020-07-10 14:25] marratj commented on #3812
Can we reopen this? I experience the same issue.

With CNI enabled, Pods that get the proxy injected the init containers of said Pods cannot open connection to the outside world.

[2020-07-10 14:27] alpeb commented on #2704
When a pod is launched, Init-containers like `linkerd-init` are run first and when they're done the normal containers are launched (the linkerd proxy and your app containers). The problem is to ensure a start sequence (and also shutdown sequence) for the normal containers. That's what the options outlined above try to address.

[2020-07-10 18:17] davecaplinger opened #4749 "Access to remote-cluster TCP services (such as Kafka or databases)"
## Feature Request

### What problem are you trying to solve?

I'm looking for a simpler solution to do Kafka topic replication between Kubernetes clusters.  For example: k8s cluster `east` contains Kafka cluster `kafka-east`, which is a collection of Kafka Brokers, each of which are pods controlled by a statefulSet, and each backs a headless service called 'broker'.  Within the same k8s cluster,

[2020-07-10 21:41] #3916 closed

[2020-07-11 01:39] #4055 closed

[2020-07-11 08:44] WLun001 commented on #4208
I can take this task

[2020-07-12 02:05] rbtcollins commented on #4723
Packet loss on loopback traffic is going to be exceedingly rare, so that configuration would work well I suspect.

[2020-07-12 19:49] praseodym commented on #4211
I've created a docs PR: https://github.com/linkerd/website/pull/764

[2020-07-12 19:52] lukoyanov commented on #3144
Would be great to have this feature implemented.

[2020-07-12 21:49] Abrishges opened #4754 "HA: Relaxing webhook failure policy still triggers check warnings"
## Bug Report
When linkerd is installed in HA mode we have to add  `config.linkerd.io/admission-webhooks=disabled` label in `kube-system `namespace to prevent linkerd to get in the way of system critical workload. However every time I add the label, AKS removes all annotations added in this namespace as AKS team manage the namespace.  The other option  is to change webhook policy in values-ha.yaml

[2020-07-13 01:45] #3735 closed

[2020-07-13 02:13] han-so1omon commented on #4651
New contributor here. I'm gonna hop on this and see if I can figure it out.

[2020-07-13 06:10] han-so1omon commented on #4651
From `pkg/inject/inject.go:getFreshWorkloadObj()` it appears that `kind: ServiceAccount` is not injectable. Maybe a simple question, but what does this entail?

[2020-07-13 06:24] mayankshah1607 commented on #4651
Hi @han-so1omon
The current behavior is to straight away error out `inject` when a manifest contains `automountServiceAccountToken: false`. However, a `ServiceAccount` object, not being supported by the injection process, instead causes the CLI to throw a warning about the unsupported object despite the `automountServiceAccountToken: false` field. This issue entails the consistency in the behavior

[2020-07-13 09:04] #4715 closed

[2020-07-13 11:35] plwhite commented on #4667
Addressing each of these in turn.

1. I agree that within the cluster direct mTLS on the TCP connection should just work. The problem comes when you have some pods within a cluster that need to communicate with entities (VMs or pods) outside the cluster using SIP, and are stuck with direct IP to IP communication because SIP is just designed to impose that. We can't change protocol without breaking

[2020-07-13 14:41] Wihrt commented on #4721
I have updated this gist https://gist.github.com/Wihrt/9fca502c587d757a177adf4dc6fe6895, to add Kong and Nginx manifests
You can also find the logs of Kong here : https://gist.github.com/Wihrt/639658f715a21b0081c116ca77ea2b82

I have tried also differents things :

| Helm Chart Version | Linkerd Controller version | Linkerd Proxy version | Kong Meshed | Nginx Meshed | Status |
| --- | --- | --- |

[2020-07-13 15:15] olix0r commented on #4213
I'm not sure that this is particularly valuable at the moment.

[2020-07-13 15:15] #4213 closed

[2020-07-13 16:28] ihcsim commented on #4754
We should update `check` to perform the `kube-system` namespace annotation check based on the webhook failure policy, not the HA settings.

[2020-07-13 17:18] ihcsim commented on #4721
@Wihrt Can you try setting the `l5d-dst-override` in the ingress resource, which I assume is the ingress resource for your kong gateway, since it's annotated with `kubernetes.io/ingress.class: kong`? (The ingress is named `nginx-ingress` though.) To confirm if the `l5d-dst-override` header is added, you can use `linkerd tap -ojson` on the downstream service.

[2020-07-13 17:21] ihcsim commented on #4651
@han-so1omon Hop on the [#contributors](https://linkerd.slack.com/archives/CMS5ZD60Y) channel. We can help you out there.

[2020-07-13 18:15] ihcsim commented on #4211
@praseodym Thanks for the doc updates. I'm closing this issue now that https://github.com/linkerd/website/pull/764 is merged.

[2020-07-13 18:15] #4211 closed

[2020-07-13 18:34] ihcsim commented on #4726
@strobil Sounds like the approach that @adleong suggested will work for you. I'm closing this issue for now.

[2020-07-13 18:34] #4726 closed

[2020-07-13 18:38] ihcsim commented on #4719
@gmaiztegi The fix in https://github.com/linkerd/linkerd2/pull/4688 has landed. Try out the [latest edge](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.2).

[2020-07-13 18:38] #4719 closed

[2020-07-13 20:12] adleong commented on #4667
@plwhite yep, makes total sense.  I think what makes sense is to close this issue for now, and when you have more specific requirements to open a new issue with all of those details.  Does that work for you?

[2020-07-13 20:51] alex-berger commented on #2219
Actually, this is a real problem out in the wild 😞, especially when using managed kubernets cluster nodes (e.g. AWS EKS managed node groups) resp. if you don't want to maintain your own VM base images. On EKS there is a daemonset called `aws-node` which is the AWS VPC CNI Plugin, and that plugin might override the changes that `linkerd-cni` plugin wrote to the `.conflist` file.
Note, IMHO this is

[2020-07-13 20:55] alex-berger commented on #4049
This is also true for the [AWS VPC CNI Plugin](https://github.com/aws/amazon-vpc-cni-k8s) (the `aws-node` daemonset on AWS EKS clusters). I added a comment on #2219 regarding that.

[2020-07-13 21:28] DerrickMartinez commented on #4697
Was the goal to have a dropdown or a text box? I might take this one on if I have time.

[2020-07-13 21:44] kleimkuhler commented on #4611
Closed by linkerd/linkerd2-proxy#582

[2020-07-13 21:44] #4611 closed

[2020-07-13 22:08] ihcsim commented on #4697
I think a dropdown makes sense, since there will be multiple authorities to choose from.

[2020-07-14 22:52] atkinson137 opened #4758 "Linkerd Init Container Can Run Before Other Injected Init Containers"
## Bug Report

### What is the issue?

Init containers cannot access network resources because the proxy has not started yet.

### How can it be reproduced?

Create a pod with an init container with a simple command, such as `wget google.com`
Example:

[code]

The pod will never initialize as the init containers cannot complete successfully without network availability. I've tried using both the L

[2020-07-14 23:13] ihcsim commented on #4758
By default, the Linkerd `proxy-init` container is injected as the last init container on the list, so it shouldn't interfere with the networking of other init containers that come before it. I did a test with the following YAML:

[code]

It seems to work for me:
[code]

Can you check your `proxy-init` container log to see if there are any errors there?

[2020-07-14 23:22] cpretzer commented on #4758
hi @atkinson137 can you provide detail about how the linkerd proxy was injected into your container? Did you use the `linkerd.io/inject: enabled` annotation? Or did you use the `linkerd inject` command?

I tested this by adding the `busybox` initContainer to the `vote-bot` deployment in `https://run.linkerd.io/emojivoto.yml` and the command ran successfully.

Can you confirm that the `busybox` com

[2020-07-15 04:56] cpretzer commented on #4345
@Pothulapati In my tests, I'm seeing requests for `/opencensus.proto.agent.metrics.v1.MetricsService/Export` which have no root spans. This appears to only occur when the components start up. In the screenshot below, the trace is between the `linkerd-controller` and `linkerd-collector`. I see similar traces with no roots for all the components.

![Screen Shot 2020-07-14 at 21 48 23 ](https://user-

[2020-07-15 09:46] Wihrt commented on #4721
Yeah, for the naming, it's not the best, I agree, but yes, Kong is my ingress Controller. Nginx is just a dummy web server.

I have created/updated the correct objects

KongPlugin
[code]

Ingress
[code]

Result of the command : `linkerd tap deploy/nginx -n security-manager -o json`
[code]

Still, I don't really understand why this header is mandatory when deploying with the Helm Chart 2.8.1, since

[2020-07-15 12:39] Luke-Vear commented on #4537
@ConnorGraham I noticed this/the pull request/the fork branch has not moved since 5 June, if you don't want to continue it I could take a look?

[2020-07-15 16:23] atkinson137 commented on #4758
@cpretzer I can confirm the init container is successful without the `linkerd.io/inject: enabled`. I am using the annotation and not the cli command.
[code]

@ihcsim I do not see any errors in the init container:
[code]

[2020-07-15 16:33] atkinson137 commented on #4758
In today's testing, I was not able to reproduce the issue with my `wget` command in the original post. However, I can still see the issue when using the [vault-agent-init](https://www.vaultproject.io/docs/platform/k8s/injector) container. Perhaps this is because it is injected after the linkerd init container as Vault also uses a modification webhook:

[code]

[2020-07-15 16:59] olix0r commented on #4345
We now understand that these traces are emitted as part of the control plane initialization, there doesn't seem to be any easy/obvious way to prevent these spans from being emitted, and they are otherwise harmless.

[2020-07-15 16:59] #4345 closed

[2020-07-15 17:21] cpretzer commented on #4758
@atkinson137 Thanks for clarifying. So, yeah, this looks to be contention over which initContainer is injected last by its respective webhook.

Long-term, we think this will be resolved with the [Kubernetes Sidecar Resource](https://github.com/kubernetes/enhancements/issues/753).

In the short term, you might be able to use the `--skip-outbound-ports` annotation for the vault-agent-init. This will

[2020-07-15 18:03] atkinson137 commented on #4758
@cpretzer The containers all start properly when applying `config.linkerd.io/skip-outbound-ports: "443"` to the Deployment annotation. In my quick googling, I didn't find any way to apply the annotation to just the vault-init container and not the pod at large. I also looked for any way to arrange the order of the modification webhooks to no avail.

This is an ok fix for me as we are not using 443

[2020-07-15 18:18] mmiller1 commented on #4736
Just to confirm, using `linkerd inject --manual` and increasing both INBOUND and OUTBOUND connect timeout environment variables was sufficient for us to eliminate the `linkerd2_app_core::errors: Failed to proxy request: request timed out` proxy errors from our deployments.

[2020-07-15 18:22] atkinson137 commented on #4758
Thank you for your help @cpretzer and @ihcsim.

[2020-07-15 18:22] #4758 closed

[2020-07-16 08:50] plwhite commented on #4667
I'm fine with that, thanks.

[2020-07-16 08:50] #4667 closed

[2020-07-16 10:43] Pothulapati commented on #4720
Okay, So I was able to remove `controllerImageVersion` but that would mean that users **can't choose other image tag for control-plane components without messing up linkerdVersion everywhere** as they would need to use `linkerdVersion` for that then. I think being able to override control-plane image tags without changing `linkerdVersion` everywhere seems like a normal use-case.

For the grafana a

[2020-07-16 15:08] seeruk commented on #4067
Also hit this problem on GKE, it's not a problem really on other cloud providers where you manually deploy and can configure CA. If you're able to start CA with `--skip-nodes-with-local-storage=false` and you don't have any pods where that would cause problems then that solves this problem nicely.

The alternative solution I've currently gone with is building a mutating admission controller that a

[2020-07-17 17:40] cmanzi opened #4767 "Multi-cluster install doesn't work with new EKS clusters"
## Bug Report

### What is the issue?
I followed the guide here: https://linkerd.io/2/tasks/installing-multicluster/ to set up a demo for Linkerd2 multi-cluster with 2 new EKS 1.16 clusters - 'testa' and 'testb'.

I am unable to successfully link the clusters, as the service-mirror cannot reach the Gateway (503).

### How can it be reproduced?
1. Create two EKS clusters.
2. Install Linkerd in both

[2020-07-17 17:42] cmanzi commented on #4767
More info, here is the Service created in cluster 'testa' for the link to 'testb':
[code]

[2020-07-17 18:50] han-so1omon commented on #4323
I'm gonna hop on this. I'll provide an update of what I find after I do some digging. Then if it seems worthwhile I can move towards a pr.

[2020-07-17 21:06] cmanzi commented on #4767
Discovered the issue was caused by ELBs not properly registering nodes, because of misconfigured tags applied to the instances and worker groups.

[2020-07-17 21:06] #4767 closed

[2020-07-17 23:05] wmorgan commented on #4323
@han-so1omon Great! Please be sure to read Oliver's comments from May 1st for what you we'd need to understand before moving to a PR.

[2020-07-17 23:16] han-so1omon commented on #4323
Yes, I have been specifically thinking about this. My initial thought is that the different hash formulas, (i.e. different mathematical subgroups and different verification algorithms), for RSA vs ECDSA would mean that any key, public or private, would be specific to the type of cryptography used.

I haven't looked enough at `linkerd identity service`, but I suspect that the library used for the i

[2020-07-18 05:40] #2746 closed

[2020-07-19 20:08] #4128 closed

[2020-07-19 20:08] #4063 closed

[2020-07-20 17:07] #4720 closed

[2020-07-20 22:28] adleong commented on #4651
I don't think that this is the right solution to this problem.  As @han-so1omon correctly pointed out, ServiceAccounts are not injectable.  What we really care about is that if a ServiceAccount with `automountServiceAccountToken: false` is used by an injected workload, that workload will fail to start.

Unfortunately, just failing if a ServiceAccount with `automountServiceAccountToken: false` is i

[2020-07-20 22:46] #4208 closed

[2020-07-21 17:15] han-so1omon commented on #4651
I think I agree with @adleong . Among other things, a failure for serviceaccount yaml `automountServiceAccountToken: false` may cause incompatibility of `linkerd inject` with valid workflows for users of linkerd.

If I am understanding your suggestion correctly @adleong , all serviceaccount yaml will pass, and the failure will be delegated to *validating admission webhooks*. Since I am a new contr

[2020-07-21 17:43] adleong commented on #4651
Take a look at https://github.com/linkerd/linkerd2/blob/main/controller/proxy-injector/webhook.go

The proxy injector is a webhook that sees every pod as they are created and adds the proxy sidecar when appropriate.  I think it could also validate that the pod's service account has the correct setting for `automoundServiceAccountToken` and reject the pod if it does not.  @alpeb and @ihcsim have mo

[2020-07-21 18:08] han-so1omon commented on #4651
@adleong Thanks. I'll do some digging and write back here.

[2020-07-21 22:17] grampelberg opened #4772 "check --multicluster hangs indefinitely"
### What is the issue?

If multicluster is not installed, but you run `check --multicluster`, it will hang indefinitely. It should error out saying multicluster is not installed.

### How can it be reproduced?

Run `check --multicluster` when the `linkerd-multicluster` namespace does not exist.

[2020-07-21 22:24] grampelberg opened #4774 "multicluster connectivity logs missing"
### What is the issue?

I have connectivity issues between two clusters. When setup, there's nothing in the logs and `check --multicluster` passes.

[code]

### How can it be reproduced?

Just create a secret that has an unreachable IP address.

### Possible solution

I'd like:

- `check --multicluster` to fail
- Logs to show up in `service-mirror` that say the secrets were picked up, trying to co

[2020-07-22 03:04] han-so1omon commented on #4323
I have an update on changing signature algorithms at different points in the certification chain as well as some initial investigations into necessary code changes to support RSA.

### About certification
[From what](https://security.stackexchange.com/a/218028/234164) [I've seen](https://security.stackexchange.com/a/175753/234164), a CA that uses one signature algorithm is able to sign a certifica

[2020-07-22 12:37] parkee opened #4777 "Can't get Distributed Tracing to work"
## Bug Report

### What is the issue?
I don't see any traces from my services.

### How can it be reproduced?
I'm running a private GKE cluster with empty network policies and workload identity enabled. Container Native Load Balancer is used as an ingress controller.
I have installed linkerd in the linkerd namespace (via Helm) with tracing enabled (slightly modified to push data to stackdriver tra

[2020-07-22 13:49] olivierboudet opened #4778 "Enable jaeger receiver in collector configuration in helm chart"
## Feature Request

### What problem are you trying to solve?

I want to use the jaeger receiver of OpenCensus Collector but it is not enabled when installing linkerd with the Helm chart. Only opencensus & zipkin are enabled

### How should the problem be solved?

Just enable the receiver in the configuration and declare the port in service.

[code]

[2020-07-22 14:52] alpeb commented on #4651
Agreed that the injector webhook is an excellent place to validate this. In the `newReport()` function in `pkg/inject/report.go` a series of checks are performed which will flag whether the pod is injectable or not. You can add a check there that will see if the containers have a `serviceaccount` volume mounted.

One caveat is that `linkerd inject --manual` might also make use of this function but

[2020-07-22 15:59] Matei207 opened #4779 "CLI: stat command unit test fails when namespace is not "default""
## Bug Report

### What is the issue?

* When the `kubectl` context is set to use another namespace as the default, unit tests in `stat_test.go` start failing.
* I think the issue is that `linkerd` for most commands (that act on namespaced resources) now sets the default namespace from the context; when `stat.go` validates `namespace` flags, it makes sure the `--namespace` flag is not used as an o

[2020-07-22 17:37] ihcsim commented on #4777
@parkee Would you mind trying the [latest edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.3)? There is a recent fix in the proxy that may resolve this issue. Keep me posted.

[2020-07-22 18:01] ihcsim commented on #4197
Fixed in #4291.

[2020-07-22 18:01] #4197 closed

[2020-07-22 18:22] ArthurSens commented on #4660
Hey @cpretzer @ihcsim, wanted to say that it has been some time since the last time I worked on this and I'm afraid that I won't be able to put as much effort as I'd like to it.

I think it would be better for linkerd if someone else was assigned to this

[2020-07-22 18:25] cpretzer commented on #4660
Thanks for the update @ArthurSens, we really appreciate all the effort that you have put in. 🙏 😄

When you have time again, we'd love to work with you on this or other PRs.

[2020-07-22 18:27] ihcsim commented on #4323
@han-so1omon You can change the proxy log level following the instructions ]here](https://linkerd.io/2/tasks/modifying-proxy-log-level/). Did the `identity` component and its proxy come up fine with your changes?

As for rebuilding the container images, if memory serves, the `bin/docker-build` spends most of its time building the CLI binaries for different platforms. Since you are working mainly w

[2020-07-22 18:33] cpretzer commented on #4660
Closing for now. If anyone is interested in picking up the work, please comment here

[2020-07-22 18:33] #4660 closed

[2020-07-22 19:20] parkee commented on #4777
@ihcsim
Unfortunately still nothing. Got a nice (and correct) graph of service dependencies now :) But still no tracing data.
Here's logs from my service's proxy (without debug enabled):
[code]

[2020-07-22 20:28] ihcsim commented on #4777
There are some `error trying to connect: Connection refused` errors in the proxy log. Are the services able to talk to each other?

[2020-07-22 21:53] parkee commented on #4777
@ihcsim yes, services can talk other, also I tried to `kubectl exec` inside my service and curl `linkerd-collector.linkerd:55678` and it returned 404 (I suppose that's OK for the root URL). And as a said I even see all the data in graphana and when I click Namespace > prod I see the correct graph of services (I suppose it's guessed from requests/responses).
So it looks like networking is fine, I g

[2020-07-22 22:12] ihcsim commented on #4777
The warning should be irrelevant -  we will need to investigate it separately.

@Pothulapati Any idea where @parkee can't see traces from their services? Header propagation is enabled in their services, but not span emissions. Is that relevant?

[2020-07-23 10:32] Pothulapati commented on #4777
@parkee I just tried the demo application with the latest edge, and it works correctly.

Hmm weird, as the logs look okay. Are you sure that you are using b3 propogation i.e opencensus client in your application as per https://linkerd.io/2/tasks/distributed-tracing/#i-dont-see-any-spans-for-the-proxies ?

[2020-07-23 11:16] parkee commented on #4777
@Pothulapati
I configured the param is my quarkus services to b3
https://quarkus.io/guides/opentracing#quarkus-jaeger_quarkus.jaeger.propagation

Also, separate question, if some service doesn't support b3 propagation (such as simple service with static resources), in this case, linkerd won't send any spans at all?
If I'm not mistaken istio sends spans in such cases as well, but they're just not a

[2020-07-23 12:12] BaudouinH opened #4786 "Debug Sidecar : Unable to chose CPURequest and MemoryRequest"
## Feature Request

Being able to choose the CPURequest and the MemoryRequest for the debug sidecar

### What problem are you trying to solve?

I'm trying to use the debug sidecar on a cluster that requests containers to have these two values to be explicitly written, in order to let the containers be created.

### How should the problem be solved?

Being implementing the possibility of setting th

[2020-07-23 12:54] Pothulapati commented on #4777
@parkee Yep, Linkerd proxy only sends spans if there is a header with b3 propogation format. Can you produce some `debug` logs of any proxy especially around `opencensus`? That would be really useful. If you can give us manifests to reproduce this environment, that would be even better :)

I think, We did not go through that route as there is not much use with the proxy spans if you can't see them

[2020-07-23 16:20] felpasl opened #4787 "Add others tracing protocol's capabilities and documentation."
## Feature Request

### What problem are you trying to solve?

Increase documentation on OpenCencus Collector to add Zipkin and Jaeger tracing endpoints capabilities, put these options in the documentation, the OpenCencus Protocol misses a lot of clients or projects without maintenance to send application trace.

### How should the problem be solved?

Give clearly alternatives to OpenCensus Protoc

[2020-07-23 16:53] Neki opened #4788 "CNI plugin creates iptables rules before the linkerd proxy is started, blocking networking in initContainers"
## Bug Report

### What is the issue?

If one uses the CNI plugin instead of the linkerd `proxy-init` initContainer, then a Pod's initContainers won't be able to create outbound TCP connections.
In such a setup, the Pod's initContainers will run before the linkerd proxy can start, but after the CNI plugin created the iptables rules.

Timeline:
* a Pod is created
* the CNI plugin creates iptables r

[2020-07-23 17:00] jvandemark opened #4789 "linkerd + linkerd-cni does not recover when a node restarts"
## Bug Report

### What is the issue?
linkerd + linkerd-cni fails to restart properly when a node restarts

### How can it be reproduced?

Start a 2 node cluster with ```cni``` configured.

delploy linkerd-cni
 ```linkerd install-cni | kubectl apply -f -```

deploy linkerd
```linkerd install --linkerd-cni-enabled | kubectl apply -f -```

deploy an ingress and some pods to ping: (optional for testi

[2020-07-23 17:46] Pothulapati opened #4790 "smi-metrics in Linkerd"
## Bug Report

[smi-metrics](https://github.com/servicemeshinterface/smi-metrics) was included with Linkerd2, to support multi-tenant metrics and was marked as a external feature.

### What is the issue?

There are definitely not many users for this feature, as it was disabled by default. This has not been updated recently, and might have even become stale. Should we continue supporting this or re

[2020-07-23 18:08] #4777 closed

[2020-07-23 18:22] ihcsim commented on #4789
@jvandemark We suspect this might have something to do with the general CNI plugins start up timing issue we've seen in other environments, where if there is a list/chain of CNI plugins, they step on each other's toes when (re-)starting. Do you have other CNI plugins set up?

The `rustls::session: Sending fatal alert AccessDenied` error usually means there is a mismatch between the mTLS trust cert

[2020-07-23 18:54] adleong opened #4791 "Document upgrade procedure for Link-based multicluster"
In Linkerd 2.8.1, the multicluster addon contains a single service-mirror controller in the `linkerd-multicluster` namespace by default.  We are moving to a model where there will be a service-mirror controller per linkerd target cluster.

We must document the steps for migrating from the old model to the new one, ideally without incurring multicluster downtime.

[2020-07-23 18:56] ihcsim commented on #4788
One workaround is to skip the outbound port of the init container, by annotating the pod template with `config.linkerd.io/skip-outbound-ports`. See https://linkerd.io/2/reference/proxy-configuration/.

[2020-07-23 19:16] ihcsim commented on #4786
One workaround for this is to use `linkerd inject --manual --enable-debug-sidecar` to inject the proxy and the debug sidecar offline, and then modifyt the YAML accordingly. I assume this is an one-off task.

[2020-07-23 21:16] ihcsim opened #4792 "CNI: Proxy skip ports configuration are ignored"
## Bug Report

### What is the issue?

In a CNI setup, init containers that try to make outbound connection will fail due to a timing issue between the CNI plugin modifying the pod iptables, and the proxy container coming up. The current workaround is to skip the outbound ports of the init containers. However, this only works if the skip port configuration is provided during the CNI installation,

[2020-07-24 04:03] han-so1omon commented on #4323
@ihcsim Below I show the state of linkerd and minikube after running the install + apply commands:

[code]

With my changes thus far, everything works the same for all valid cases. The proxy container does not come up if the user-provided pki resources use RSA keys.

[2020-07-24 07:55] ericsuhong commented on #4674
We are also seeing these issues in Azure when some nodes become "**unschedulable**" temporarily, and then linkerd fails and starts to return 502 errors with the following logs:

linkerd2_app_core::errors: Failed to proxy request: Service in fail-fast

[2020-07-24 12:39] Neki commented on #4788
Is there a way to have the annotation only apply to init containers? In our use case, monitoring outgoing HTTP traffic to non-meshed services in non-init containers has value.

[2020-07-24 12:55] jvandemark commented on #4789
@ihcsim the cni plugins are chained:
[code]
So is the problem only present with chained plugins?
And you believe the problem is load order? the writing of iptables rules/chains?
Is there any possibility that this is related to the cni plugins/adapter non being fully initialized/running before linkerd starts?

[2020-07-24 12:58] jvandemark commented on #4789
Regarding "mismatch between the mTLS trust cert and proxy certs"  there's basically nothing else running the system, just linkerd/linkerd-cni, an ingress (Ambassador) and a couple echo pods. I don't see how this issue would arise?

[2020-07-24 14:08] jvandemark commented on #4789
For what it's worth, when a node is restarted, the pods which don't restart properly are missing from the iptables NAT
[code]
NAT linked entries
[code]

[2020-07-24 16:19] #3424 closed

[2020-07-24 17:08] ihcsim commented on #4789
Yeah, this is a problem. What we have seen is that if the Azure CNI starts up first, the Linkerd CNI will append its config to the chain, as seen in the one you posted. If it's the other way, the Azure CNI will overwrite the Linkerd CNI config. Can you confirm that the problematic node only has the Azure CNI config, even though the Linkerd CNI daemonset is installed? There are more details in the

[2020-07-24 17:38] jvandemark commented on #4789
hmm ...
```linkerd       linkerd-proxy-injector-7d5f54495c-5gfbt        1/2     Running   3          117m```

[code]
[code]
[code]
It appears that both plugin configs are present on this bounced node

[2020-07-24 17:46] ihcsim commented on #4788
@Neki I don't think that's possible. The init containers share the same network namespace as all the other containers in the same pod.

[2020-07-24 17:53] marratj commented on #4788
As we are hitting the same issue with some of our workloads (init container that needs network connectivity) while using the CNI plugin:

Is there a possibility to exclude a Pod from the CNI plugin (so it needs the Linkerd init container again)?

That way we could use the CNI method as default and only for some special workloads that require this behavior we’d need to create a separate Pod Securit

[2020-07-24 17:53] ihcsim commented on #4789
Hmm.. not what I expected. I'll need to repro this. Are you blocked by this? I am assuming this isn't a problem with Linkerd's non-CNI setup?

[2020-07-24 17:58] jvandemark commented on #4789
We're in the process of rebuilding all our clusters dev -> prod, the new clusters are using Azure cni, the older cluster were not using cni. We are currently running linkerd 2.7.1 in prod. Without cni functioning thought I won't be able to deploy linkerd into our new clusters, which is kind of a problem.

[2020-07-24 18:00] jvandemark commented on #4789
If there's anything else I can provide let me know, I can setup and tear-down these 2 node clusters at will.

[2020-07-24 18:27] ihcsim commented on #4788
@marratj I feel supporting both the CNI plugin and `proxy-init` will make things more complicated than just simply skipping the ports. We have to account for the _timing_ on when k8s CNI plugins are run. The Linkerd CNI plugin would have been called before the Linkerd init container is live. And whatever changes we make, the plugin has to satisfy the [API spec](https://github.com/containernetworki

[2020-07-24 20:44] ericsuhong commented on #4674
We encountered this issue again in PROD (requests failing with 403 for about 30 minutes while node was unreachable).

We are running **Linkerd Edge 20.5.1** in HA mode (3 replicas) on Kubernetes 1.16.9 in Azure.

I want to explain our affected scenario in detail:

1. Node **X** became unreachable for 30 minutes
1. 503s were being returned from 2 ingress controllers (out of 5) for about 30 minutes,

[2020-07-24 21:24] zaharidichev commented on #4674
@ericsuhong We are working on this at the moment. There is an [open PR](https://github.com/linkerd/linkerd2-proxy/pull/594) for the proxy that hopefully resolves this issue. If you are keen to help out and test this fix out, I can post some instructions on how to do it.

[2020-07-24 23:18] han-so1omon commented on #4323
I have another update. Everything seems to be working now. The problem had to do with the RSA keyset that I was using, so I regenerated the keys and problem solved. Rookie mistake, but ok.

I have gone through the setup and `emojivoto` demo processes specified in [BUILD.md](https://github.com/linkerd/linkerd2/blob/main/BUILD.md) and the test process specified at the top of [TEST.md](https://github

[2020-07-25 03:15] #3532 closed

[2020-07-25 03:15] #4237 closed

[2020-07-25 15:11] Josepy commented on #4789
@ihcsim I've been look at the journal logs (minikube where it fails also) and found something interesting, possibly:

[code]
---
[code]

This for a pod which has only 1/2 containers started after a bounce/restart

```infra          ambassador-edge-stack-84c584fb6b-dldp5         1/2     Running   3          39h```

```Warning  Unhealthy       2m16s (x90 over 17m)  kubelet, cnid2     Readiness probe

[2020-07-26 01:48] seizadi commented on #4685
I have this same problem on my system. I am running this on minikube and have run this several times and it is reproducible with the same error. The linkerd-proxy fails with AccessDenied error. The logs show that it tries several ports before it gives up. I have attached the logs for linkerd-proxy, linkerd-Init and the result of linkerd check in this gist https://gist.github.com/seizadi/88417cf9fb

[2020-07-26 13:12] #4251 closed

[2020-07-26 17:12] #4249 closed

[2020-07-26 17:12] #3014 closed

[2020-07-27 02:15] han-so1omon commented on #4323
Update: I've done some comparisons and loaded them onto raintank, where they will be viewable until Aug 2. The first set of links uses external CA with RSA 2048 bit keys and the second set uses external CA with ECDSA P-256 curve keys. I ran the test in a minikube environment on my Surface Book 2 running Manjaro Linux. The tests ran for about two hours each with [linkerd installed](https://linkerd.

[2020-07-27 04:48] #4256 closed

[2020-07-27 08:48] #4253 closed

[2020-07-27 10:24] christianhuening commented on #4287
ping

[2020-07-27 16:48] #4203 closed

[2020-07-27 16:48] #4248 closed

[2020-07-27 16:49] #4250 closed

[2020-07-27 16:49] #4498 closed

[2020-07-27 17:44] Matei207 commented on #4500
Closed by #4771

[2020-07-27 17:44] #4500 closed

[2020-07-27 17:45] Matei207 commented on #4499
Closed by #4771

[2020-07-27 17:45] #4499 closed

[2020-07-27 18:09] ihcsim commented on #4685
@seizadi There are two things I will check. First, try restarting the `rollouts-demo` pod. If you are using [auto proxy injection](https://linkerd.io/2/features/proxy-injection/), the restart ensures that the new pod will pick up the same trust anchor as the control plane. Secondly, by default, Minikube only services 2GB of memory. Depending on your cluster size, you might want to bump it up to at

[2020-07-27 18:14] Abrishges commented on #4674
@zaharidichev Thanks a lot for taking the time to work on this issue.  I am available to test the change, feel free to share me the instructions

[2020-07-27 19:04] mklemann90 commented on #1165
@stevef1uk and @aliariff hey there. I'm also trying to setup Linkerd. I'm using a Kubernetes cluster with 4 Raspberry Pis (Raspberry Pi 4 Model B). The OS on the Raspis is Raspbian Buster Lite and I'm using the default 32Bit version. I already setup the Kubernetes cluster via kubeadm and it worked fine (I ran some sample applications without any trouble).

For the Linkerd setup I'm using the image

[2020-07-27 19:43] #4601 closed

[2020-07-27 20:17] stevef1uk commented on #1165
From memory I cross-compiled on my Mac to get it to work

[2020-07-27 20:23] ihcsim commented on #4674
@zaharidichev Can you upload the proxy image somewhere for testing?

@Abrishges Once the image is available, you can annotate your workload pod templates with the `config.linkerd.io/proxy-image` and `config.linkerd.io/proxy-version` annotations. Then when restarted, the new pods will be injected with the new proxy.

[2020-07-27 20:30] aliariff commented on #1165
@mklemann90
Hi, Could you please share the log from the pods?

[2020-07-27 20:56] #4736 closed

[2020-07-27 21:13] mklemann90 commented on #1165
Thank you guys for your quick response :-)

@stevef1uk I tried to use the images that @aliariff already had cross-compiled so that I avoid to do the cross-compiling again.

@aliariff when I have a look at all pods from the linkerd namespace I get something like this:
`kubectl get pods -n linkerd:

NAME                                     READY   STATUS             RESTARTS   AGE
linkerd-controller

[2020-07-27 21:28] seizadi commented on #4685
I am running [minikube with 3 nodes and 6GB of memory](https://github.com/seizadi/argo/blob/master/examples/argorollout/Makefile#L14):
[code]
I am using argo rollout CRD which manages a ReplicaSet which creates the Pod which has
[auto proxy injection enabled](https://gist.github.com/seizadi/88417cf9fb6313ed40e23d8222d10873#file-linkerd-poxy-accessdenied-error-L15).

I tried to restart the pod from

[2020-07-27 21:39] aliariff commented on #1165
Hi @mklemann90
Thanks for the information.
What I mean by logs is from this cmd
- `kubectl logs -n linkerd linkerd-controller-59959d6b94-krl8d public-api`
- `kubectl logs -n linkerd linkerd-controller-59959d6b94-krl8d linkerd-proxy`

[2020-07-27 22:02] mklemann90 commented on #1165
@aliariff okay my fault. Here are the logs you asking for:
`kubectl logs -n linkerd linkerd-controller-59959d6b94-krl8d public-api`:
[code]

`kubectl logs -n linkerd linkerd-controller-59959d6b94-krl8d linkerd-proxy`:
[code]

[2020-07-27 22:22] aliariff commented on #1165
ok, at least we know this is not the `exec format error` issue.
Could you please remove the linkerd first `kubectl delete ...`
and then use the linkerd CLI v2.7.1 to check `linkerd check --pre `
Ref: https://linkerd.io/2/getting-started/#step-2-validate-your-kubernetes-cluster

[2020-07-27 23:03] mklemann90 commented on #1165
@aliariff I already ran the `linkerd check --pre` command before I executed the Linkerd installation via `kubectl apply -f arm.yml`. The pre installation checks was fine except for the warning that I'm using Linkerd CLI v2.7.1 instead of the newest version, but that is intended since the Linkerd version I tried to install is v2.7.1 too. Here is the output from the pre installation check (I copied

[2020-07-28 03:34] ericsuhong commented on #4674
@zaharidichev We are also interested in testing this fix, if fix becomes available as an edge version.

[2020-07-28 07:21] zaharidichev commented on #4674
Okey @ericsuhong, @Abrishges In order to test this:

1. Grab my control plane branch: https://github.com/linkerd/linkerd2/tree/zd/headless
2. Run `bin/build-cli-bin`
3. Run `bin/linkerd install --ha  --proxy-version=cplb | kubectl apply -f -` (add whatever options you need for your usecase)

All the images you need are pushed so you will be good to go. Now you can manually fail selected nodes, etc

[2020-07-28 16:01] aliariff commented on #1165
@mklemann90
I just tried your image on my RPi cluster, and it's working fine. So this is likely a problem with your cluster config, but I am not sure what.

[2020-07-28 16:43] mklemann90 commented on #1165
@aliariff thank you for the information and your testing!

As I can see in your previous comments you are using a cluster of RPis 3B/B+ and K3s. My setup is working with RPis 4B (1 Master and 3 Workers) and K8s (installed via kubeadm and using the Weave Net network driver). Do you think that one of those differences in our setups may cause the problems?

For setting up K8s I followed this tutorial

[2020-07-28 16:54] aliariff commented on #1165
@mklemann90
Actually I use k8s on my RPi cluster, and I don't think your RPi version an issue.
Are you on https://linkerd.slack.com/ ? Maybe we can discuss more on chat.

[2020-07-28 17:06] mklemann90 commented on #1165
@aliariff currently I'm not in the linkerd slack workspace. Could you please add me (Martin.Klemann1990@gmail.com)?

To all others: If I find a solution for my problem I will come back and post it here.

[2020-07-28 17:13] aliariff commented on #1165
@mklemann90 you can invite yourself here https://slack.linkerd.io/

[2020-07-28 23:04] #3917 closed

[2020-07-28 23:06] adleong commented on #4495
This is fixed.  Gateways are now probed even when no services are mirrored.

[2020-07-28 23:06] #4495 closed

[2020-07-29 01:37] Abrishges commented on #4674
@zaharidichev @ihcsim  we did test following your  instructions and killed selected nodes where some of linkerd components “linkerd-destination” and “linkerd-identity” were running.  The change is good and checked multiple services,  we haven't seen any issue.

Environment used for testing
[code]
@zaharidichev  Thanks a bunch. This is relay critical change as we are approaching our GA

[2020-07-29 05:52] RainistJordy opened #4807 "Linkerd-CNI: networkPlugin cni failed to set up pod "<pod>" network: unexpected end of JSON input"
## Bug Report
I've been running into the issue where I cannot get Linkerd CNI to work.

### What is the issue?
I've had multiple issues, ultimately getting stuck. The problem is that the CNI won't create pod networks and all containers requiring one will be stuck in ContainerCreating.

Issues that I had before this:
- Simply running `linkerd install-cni | kubectl apply -f -` did not start the pods

[2020-07-29 06:38] D3N14L opened #4808 "Replacing expired trust anchor fails"
## Bug Report

### What is the issue?

The trust anchor certificate expired and I tried to replace it following the procedure in: https://linkerd.io/2/tasks/replacing_expired_certificates/ but the command in the documentation failed, due to the certificate expiration it is trying to fix.

### How can it be reproduced?

Setup a new linkerd instance with a certificate that expires very soon.

### Lo

[2020-07-29 15:35] ihcsim commented on #4807
Per initial investigation with @RainistJordy, this is different from other known CNI plugins race condition issues, as there are no chain setup.

I suspect this has something to do with the `cniPlugin` version defined in the CNI config. We may need to test with the newer kubeadm setup and upgrade the CNI Go package to version 0.4.0.

[2020-07-29 16:37] adleong commented on #4808
Thanks for this report, @D3N14L.  You're right, `--force` should definitely allow the replacement of certificates which are expired.  I will look into this.

[2020-07-29 19:34] susanhuhu opened #4809 "Can proxy metrics add gauge on active requests?"
## Feature Request
Per https://linkerd.io/2/reference/proxy-metrics/  we only have counter for request total, but we don't have metrics for current active requests
### What problem are you trying to solve?
We have need to monitor if a deployment is active, if it is not active for some period, we want to scale down it to be 0 replica.  To achieve that, we want to see if the deployment currently is

[2020-07-29 20:27] tharun208 commented on #4697
I 'll take this up

[2020-07-29 20:57] ihcsim commented on #4697
@tharun208 go for it!

[2020-07-29 21:45] ihcsim commented on #4809
You might be able to achieve that already by watching the [`increase`](https://prometheus.io/docs/prometheus/latest/querying/functions/#increase) rate of the `request_total` metrics over a [predefined time window](https://prometheus.io/docs/prometheus/latest/querying/basics/#range-vector-selectors). If the increase rate is zero during that time window, it means the proxy hasn't seen any new reques

[2020-07-29 21:55] susanhuhu commented on #4809
We do monitor that, but only that is not enough.  Consider the situaiton when there is a long lasting reqeust,  we may not see request_total increase in last 5 minutes,  but the deployment is still active if it is serving a request last longer than 5 minutes.  In our current implementation, we always monitor both metrics,  the increase of request total counter, and the gauge of active requests.

[2020-07-30 07:27] tharun208 commented on #3035
I ll take this up

[2020-07-30 15:43] #2981 closed

[2020-07-30 17:07] #4604 closed

[2020-07-30 17:07] #4481 closed

[2020-07-30 18:03] adleong opened #4813 "Regenerate webhook TLS credentials during Linkerd upgrade"
When running the `linkerd upgrade` command, the CLI will read the TLS credentials of the webhooks (such as the proxy-injector) and copy them into the `linkerd upgrade` output which has the effect of leaving these credentials intact and unchanged by the upgrade.  However, there isn't really any reason why these credentials need to remain unchanged during an upgrade.

One problem here is that when t

[2020-07-30 18:09] adleong commented on #4808
After some investigation, it looks like the issue here is actually that you `proxy-injector` TLS certificate is expired as well and this is preventing you from being able to replace your issuer credentials.  I have filed https://github.com/linkerd/linkerd2/issues/4813 which should prevent this from happening in the future.

In the meantime, you can manually delete the `linkerd-tap-tls` secret from

[2020-07-30 18:31] adleong commented on #4790
Thanks for filing this @Pothulapati!

We should remove the SMI metrics resources from the main Linkerd2 chart and CLI as well as remove the experimental metrics commands which consume this API.  We should also add an integration test which installs https://github.com/servicemeshinterface/smi-metrics on top of Linkerd and ensures that it works as intended.  This will help us ensure that the SMI met

[2020-07-30 18:49] adleong commented on #4521
Target cluster and source cluster is now the prevailing terminology.

Many labels and annotations have been removed.  `mirror.linkerd.io` is still used as a prefix for things related to service mirroring.

[2020-07-30 18:49] #4521 closed

[2020-07-30 18:52] adleong commented on #4535
I don't think we want to pursue this, at least from the lens of simplification.  There are some other aspects such as support for external services and better support for ingresses which are exposed as a DNS hostname, but we should address those in their own specific issues.

[2020-07-30 18:52] #4535 closed

[2020-07-30 18:53] adleong commented on #4575
I'm not sure there's sufficient motivation to pursue this.  If we run into problems with the service mirror controller code in the future, we can revisit this.

[2020-07-30 18:53] #4575 closed

[2020-07-30 18:55] adleong commented on #4584
It's now possible to manually edit the `Link` custom resource created by `linkerd multicluster link` to override the gateway address.  More detailed docs about this will be added soon.

[2020-07-30 18:55] #4584 closed

[2020-07-30 18:58] adleong commented on #4590
I don't see a reason to pursue this for its own sake.  We currently support gateways which expose a DNS name by having the service mirror controller do a periodic endpoints repair to resolve the DNS name.  That solution isn't perfect, but if we want to improve on that, let's open a new issue which specifically describes the problems that we want to solve.

[2020-07-30 18:58] #4590 closed

[2020-07-30 19:07] adleong commented on #4625
The `linkerd multicluster install` and `linkerd multicluster link` commands now support the `--registry` flag.

[2020-07-30 19:07] #4625 closed

[2020-07-30 19:07] adleong commented on #4705
Fixed by https://github.com/linkerd/linkerd2/pull/4710

[2020-07-30 19:07] #4705 closed

[2020-07-30 19:07] adleong commented on #4706
Fixed by https://github.com/linkerd/linkerd2/pull/4710

[2020-07-30 19:07] #4706 closed

[2020-07-30 21:26] adleong commented on #4772
This command no longer hangs in this scenario, but the `--multicluster` flag is incorrectly ignored.  https://github.com/linkerd/linkerd2/pull/4817 will fix that.

[2020-07-30 21:26] #4772 closed

[2020-07-30 23:13] masters3d opened #4818 "[2.8.1] CLI Standard Error: "could not set namespace from kubectl; ...""
Issue Type:

- [x] Bug report
- [ ] Feature request

**What happened**: When I upgrade  (or install from scratch) using the CLI to linkerd 2.8.1 I start getting the following error:

[code]

**What you expected to happen**: no error.

**How to reproduce it (as minimally and precisely as possible)**: Use 2.8.1 CLI to install/upgrade linkerd on AKS 1.18.02
[code]

**Anything else we need to know?**:

[2020-07-30 23:33] cpretzer commented on #4818
@masters3d that error is printed when client-go returns an error to [this code](https://github.com/linkerd/linkerd2/blob/main/cli/cmd/root.go#L210)

The error

indicates that the kubeconfig file is invalid, so when you run `$KUBECTL_BIN --kubeconfig="$KUBECONFIG_FILE_NAME" get po -A`, does that command return with a successful response?

[2020-07-31 00:02] masters3d commented on #4818
Yes it returns successful with all the pods.

[2020-07-31 00:31] cpretzer commented on #4818
Looking at the log again, it looks like Linkerd was successfully upgraded. What is the output from `linkerd check --kubeconfig="$KUBECONFIG_FILE_NAME"`?

As best as I can tell, it looks like linkerd is being installed/upgraded via a shell script that is doing some other things as well. Is it possible that the KUBECONFIG_FILE_NAME is being modified in the script?

[2020-07-31 01:35] masters3d commented on #4818
That output is already part of the logs. After we generate the config file we don’t change it in the script. Everything working as expected with with 2.7.1.

[2020-07-31 14:19] falcoriss opened #4820 "sidecar debug imagename missing after upgrade from 2.7"
## Bug Report

### What is the issue?
The image name is missing in the configmap for the debug sidecar after upgrading from 2.7 to 2.8.1

### How can it be reproduced?
I guess by installing a 2.7 and upgrading it ? DIdn't try to reproduce it again

### Logs, error output, etc

Here's the extract of the CM :
[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.16
-

[2020-07-31 14:26] javaducky commented on #4820
I can take this one.

[2020-07-31 16:23] olix0r opened #4822 "proxy: process_cpu_seconds_total should be a float"
The proxy's metrics representation works exclusively with u64s currently. This is generally fine for counters, but not for gauges. The cpu_seconds_total metric, for instance, is very coarse when only measured in whole cpu seconds. We should convert the gauge representation to support float values. (For context, prometheus handles all values as floats).

[code]

[2020-07-31 16:50] cpretzer commented on #4818
hi @masters3d I dug into the code some more and the logic that is writing that message was [added](https://github.com/linkerd/linkerd2/commit/6b9aaac9d62669c6884ff8168cdaed42de690d8d#diff-2bd1a2130052950faf2de3148685fb5cR208) and [modified](https://github.com/linkerd/linkerd2/commit/654839e63936708eef559216101c57eb9d1bb891#diff-2bd1a2130052950faf2de3148685fb5cR210) between 2.7.1 and 2.8.1.

The un

[2020-07-31 17:07] cpretzer commented on #4820
thanks @javaducky !

[2020-07-31 18:28] ihcsim commented on #4820
A temporary workaround for this is to annotate the pod template with the `config.linkerd.io/debug-image: gcr.io/linkerd-io/debug` annotation. Then when the pod starts up, it should pick up the correct image name.

[2020-07-31 22:16] ihcsim commented on #4685
@seizadi The Linkerd commands in your Makefile looks right to me. Not sure what's going on. Can you try this on a new instance of Minikube? fwiw, I'm don't see the `--memory` option in your `minikube start` command. By default, Minikube will be started with only 2048MB of memory.

[2020-07-31 22:18] #4685 closed

[2020-07-31 22:20] ihcsim commented on #4789
@Josepy Try the `linkerd install-cni --use-wait-flag` option.

[2020-07-31 23:29] ihcsim commented on #4809
Even with a new gauge metric, you'd still want to aggregate that over a time window, right? It's better to kill workloads when there hasn't been any active requests in the past X minutes, than to kill them because there are no activities at this very second.

The other approach is to calculate the `response_total - request_total` over a time window. And if there is strictly for autoscaling purpose

[2020-07-31 23:33] susanhuhu commented on #4809
We aggregate the counter over a time window to see its increase,  we don't aggregate gauge.  gauge tells us if the deployment is serving any request right now.  coutner tells us if there is new request in last x mins.    response_total - request_total have the similar problem, if there is a long running request lasting longer than X mins,  response_total - request_total won't be able to catch it a

[2020-07-31 23:54] #3803 closed

[2020-08-01 22:20] masters3d commented on #4818
I obfuscated the data.
[code]

[2020-08-01 22:50] cpretzer opened #4828 "The CNI Plugin does not set iptables rules"
## Bug Report

### What is the issue?
@jvandermark has been helpful in debugging the CNI plugin and provided these gists[[1](https://gist.github.com/jvandemark/ae2a72b203ad25780b68dfb4d993d80d)][[2](https://gist.github.com/jvandemark/3153e0976b416857b1b9de209af4a51b)]

The error was initially discovered on AKS, and I have reproduced it there as well as on KinD. When the CNI plugin runs, this error

[2020-08-01 23:24] cpretzer commented on #4818
@masters3d if I'm reading this properly it looks like there isn't a `namespace` set in the `- context` key of the kubeconfig file, and I think that is causing the behavior.

I think we can address this with better logging as I described in my last message

[2020-08-02 03:36] cpretzer commented on #4820
I was able to reproduce this by starting at `stable-2.6.1` and upgrading to `stable-2.7.0` or higher. Here are some tests that I ran:

Behavior does happen (the image is *NOT* set):
2.6.0 -> 2.7.0
2.6.0 -> 2.8.1
2.6.0 -> 2.7.1

Behavior does *NOT* happen (the image is set):
2.7.0 -> 2.7.1 -> 2.8.1
2.7.1 -> 2.8.1
2.7.0 -> 2.8.0 -> 2.8.1
2.6.0 -> [PR](https://github.com/linkerd/linkerd2/pull/4823/fi

[2020-08-02 17:37] ihcsim commented on #4809
Thanks for putting some thoughts into other alternatives beforehand. My concern with this new gauge metric is its potential cardinality, particularly, in the worst case scenario where it's equal to the request_total metric. This will double the amount of timeseries data that the proxy generates, right?

Are long-lived requests common in your environment? Say if we aggregate the counter metric over

[2020-08-02 21:27] susanhuhu commented on #4809
Thanks for looking at the possible solutions.  It loosk to me that tcp_open_connections or request_total{direction="inbound"} - response_total{direction="inbound"}  may mee the need.   May I know where is the app label's value in tcp_open_connections coming from?  Wondering if we can control that value so we can differenciate what triggered the connection.
To answer your question,   yes, it is pre

[2020-08-03 10:34] chris-vest commented on #4792
I am also finding this issue, version 2.8.1 and latest CNI.

`linkerd check` ==> `Status check results are √`

Setting the `config.linkerd.io/skip-outbound-ports: 443` annotation as suggested in a number of issues does not solve the initContainer connectivity to, for example, the Kubernetes API (Grafana init container) or Vault (`vault-agent` init container).

[2020-08-03 15:12] tomstreet commented on #4069
Finally had a chance to test this - all fixed. Thanks!

[2020-08-03 15:15] olix0r commented on #4069
Thanks @tomstreet!

[2020-08-03 15:15] #4069 closed

[2020-08-03 17:14] ihcsim commented on #4818
Relevant https://github.com/linkerd/linkerd2/issues/4779.

[2020-08-03 17:18] susanhuhu opened #4830 "How to scale up workload replicas count based on inbound traffic?"
## Feature Request

### What problem are you trying to solve?
We have a zeroscaler service, which needs to scale up a service from 0 replica as soon as there is a reqeust coming in.  One way to achieve this is to rely on prometheus metrics to check if there is request coming in, which always has some delay.  We then developed a notification mode in our grpc load balancer solution,  so whenever the

[2020-08-03 17:22] grampelberg commented on #4830
You can do this pretty trivially with tap, no reason to write a plugin for the proxy.

[2020-08-03 17:24] susanhuhu commented on #4830
great.  would you share more information about tap and how this can be achieved with it please?

[2020-08-03 17:30] susanhuhu commented on #4830
I looked at documenation of tap,  I cannot find a way to output its data to a channel. Seems it is designed to debug LinkerD.

[2020-08-03 18:02] grampelberg commented on #4830
You can either:

- Use the gRPC streaming API directly.
- Consume the CLI as a client library.

I would recommend going the gRPC route first, which would obviously allow you to consume the data with a channel. AFAIK there's no one who's integrated with that API, so you'll want to look through the linkerd codebase, in particular the web service and CLI.

[2020-08-03 18:05] mklemann90 commented on #1165
After a few days of debugging with a lot of help from @aliariff I finally fixed my problem. What I basically did was executing the following on each of my Raspberry Pis:

[code]

I'm using Raspbian Buster Lite and on this OS there can be some problems with the IP tables when using Kubernetes. The 4 commands mentioned above can solve these problems. After I executed these commands I reset Kubernete

[2020-08-03 18:18] KIVagant opened #4831 "Transient OpenSSL errors when Linkerd is injected (no peer certificate available) (SSLv3/TLS write client hello)"
## Bug Report

### What is the issue?

When Linkerd2 sidecar is injected, periodically requests to _external_ endpoints fail with SSL errors.

1. In **Ruby** the issue looks like: `OpenSSL::SSL::SSLError: SSL_connect SYSCALL returned=5 errno=0 state=SSLv3/TLS write client hello`

2. In **linkerd-debug** no visible symptoms

3. In **openssl** cli the error starts from the message `no peer certifica

[2020-08-03 18:27] #4779 closed

[2020-08-03 20:02] olix0r commented on #4831
@KIVagant Thanks for the concise repro! We'll take a look at this.

[2020-08-03 21:43] han-so1omon commented on #4651
I'm trying to add a k8s `ServiceAccountInformer` to the `controller/k8s/api.go` so that I can get information about `automountServiceAccountToken` status during the webhook admissions in the proxy-injector. When I do this the `controller/k8s::API::syncChecks` hangs with `"waiting for caches to sync"`.

Does anyone have an idea why this would happen?

So far I have added service account support to

[2020-08-04 11:04] jvandemark commented on #4789
I've been working with Charles & Thomas on this. The the iptables code in linkerd2-proxy-init is in the process of being re-written

[2020-08-04 11:11] Pothulapati opened #4833 "Making Linkerd configuration more like Helm"
## Feature Request

With the current Linkerd CLI architecture, There is always a question on which configuration goes into CLI and Helm. This issue aims to make the LInkerd CLI install and upgrade flow more like Helm, and thus making the CLI's install and upgrade flow more simpler and making it easy to add more configuration options.

The CLI's `install` and `upgrade` flow is pretty similar to Hel

[2020-08-04 14:37] olix0r commented on #4833
Not to nitpick, but these are all side-effects. What are the problems, framed independently of your proposed solution?

[2020-08-04 16:03] Pothulapati commented on #4833
@olix0r That makes sense, Updated the problems to not include anything related to the solution!

[2020-08-04 16:47] ihcsim commented on #4809
The app label values come from one of the [label rewrite rules](https://github.com/linkerd/linkerd2/blob/cbcc305b78edb9fe65fc0edee99a5722a949287b/charts/add-ons/prometheus/templates/prometheus.yaml#L123-L126). The labels are added as part of the proxy injection process.

LMK if we can close this issue. Thanks.

[2020-08-04 17:01] susanhuhu commented on #4809
thanks. pls feel free to close the issue

[2020-08-04 17:01] #4809 closed

[2020-08-04 17:10] adleong commented on #4833
Let me see if I understand what you are proposing:

We would replace the structure of the `linkerd-config` configmap and replace its contents with the Helm values.yaml.  During `linkerd install` we would generate a Values.yaml based on the existing flags plus any values set with `--set` and `-f` use that to render the linkerd install chart, and store it in the configmap.  During upgrade we would l

[2020-08-04 18:06] ihcsim commented on #4833
If we want to make the CLI _more like_ Helm, why not just remove `install` and `upgrade` entirely, and let Helm 3 manage the installation/upgrade lifecycle? Not saying it's the right way, just want to explore what's possible. Up till now, we have been regarding Helm as the advance use case. But from what I gather, most users end up using Helm either directly or with IaC tools like Terraform, for t

[2020-08-04 18:47] mvaal opened #4834 "linkerd.configs.install is missing the disable-heartbeat flag when using helm"
I am getting the following errors when using helm with `DisableHeartBeat` set to `true`
[code]
It is also failing `check`.
[code]
This issue was introduced here:
https://github.com/linkerd/linkerd2/issues/3386
The command was added to the install command, but not included in the helm chart

[2020-08-04 19:10] ihcsim commented on #4287
@ThomWright Thanks for the detailed steps. The bundle that contains the new and old trusts should ensure that old and new proxies can communicate with each other after step 5. After deploying the new issuer cert in step 4, did the identity service issue an `IssuerUpdated` event? E.g.,

[code]

Just wanna see if there is a pattern to look out for in our repro.

[2020-08-04 20:24] viniciusgarcia-hotmart commented on #4830
Do you guys have some code sample or even a documentation of this gRPC streaming API?

[2020-08-04 20:30] susanhuhu commented on #4830
or please at least give a pointer to the source code of this API. :)

[2020-08-04 21:22] grampelberg commented on #4830
- [Code](https://github.com/linkerd/linkerd2/blob/main/pkg/tap/tap.go)
- [Proto](https://github.com/linkerd/linkerd2-proxy-api/blob/main/proto/tap.proto)

[2020-08-04 23:22] #4707 closed

[2020-08-05 06:19] imdhruva opened #4838 "Grafana links not updated when leveraging external grafana"
## Bug Report

### What is the issue?
Using the helm-chart I have specified following values:
[code]
On opening the page-source of the linkerd-web we do see the html body being updated as (check label `data-grafana`):
[code]
however the grafana link still points to the old dashboard (copying element from html - check `href="/grafana/dashboard/db/linkerd-namespace?var-namespace=int"`):
[code]

###

[2020-08-05 11:37] ThomWright commented on #4287
Pretty sure the `IssuerUpdated` event was emitted, yes.

But that bundle no longer exists, except in the old proxies. From my understanding, the old proxies will trust certs signed by either issuer. The new proxies will not, right?. What am I missing here?

Another thing to point out: after step 5, I assume the control plane will no longer trust the certificates in the non-control-plane proxies. T

[2020-08-05 12:25] tvvignesh opened #4839 "Replacing default cniPluginVersion by a proper value"
Hi. Currently the linkerd2-cni plugin chart has `linkerdVersionValue` as the default value hence tries to download an invalid image when installing.

Its better to replace it with a valid image version value like `stable-2.8.2` or something valid so that people can install it without issues.

Also was wondering where I can get the cni plugin version (since I had a confusion whether linkerd2 versio

[2020-08-05 13:44] alpeb commented on #4839
Hi @tvvignesh ,

We have `linkerdVersionValue` as a placeholder in the source code, so that it gets replaced automatically during CI with the proper version without manual intervention. The version when released is the same as the linkerd2 version.

If your plan is to just install it, the recommended way is to grab it from our Helm repo. First add that repo locally:
[code]
Then install it with:
[c

[2020-08-05 13:52] tvvignesh commented on #4839
@alpeb Makes sense :+1:  . Will close this issue. Thanks for your quick reply.

[2020-08-05 13:52] #4839 closed

[2020-08-05 14:30] viniciusgarcia-hotmart commented on #4830
Thanks @grampelberg!

[2020-08-05 15:36] iampeters commented on #1969
@grampelberg please do you have any doc or tutorial where i can read about exposing linkerd dashboard via ingress? I don't seem to understand the one on Linkerd docs

[2020-08-05 16:28] ihcsim commented on #1969
@iampeters As suggested on slack, you will need to install the nginx ingress controller following their [getting started guide](https://kubernetes.github.io/ingress-nginx/deploy/#provider-specific-steps), and then refer to the [Linkerd doc](https://linkerd.io/2/tasks/using-ingress/) to set up the `Ingress` resource. It's going to be easier than trying to handcraft a bare nginx config to point to t

[2020-08-05 17:20] ihcsim commented on #4830
I'm going to rename the title of this issue. Currently, the Linkerd proxy doesn't support a plugin model. I also don't think a proxy plugin is the right approach - which proxy will be responsible for sending out the notification if the workload replicas count is 0? Are the requests being queued somewhere while the replicas are being scaled up? What if the replicas take longer time to come up?

[2020-08-05 17:22] #4830 closed

[2020-08-05 18:07] ihcsim commented on #4838
@imdhruva Did you enable this with `helm install` or `linkerd install`? Would you mind trying out the [latest edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.5)?

[2020-08-05 18:39] #4820 closed

[2020-08-05 18:48] #4774 closed

[2020-08-06 01:39] gowei710 commented on #4308
The same problem still exists with Stable -2.8.1

[2020-08-06 07:42] Pothulapati commented on #4838
I don't think thats the case. As I see `   <data-grafana="https://externalurl.com"` being present and for any grafana i.e external or add-on we still point to `/grafana` as we proxy `/grafana` to the given URL i.e `data-grafana` but I would definitely want to know more to understand why this does not work!

[2020-08-06 07:52] Pothulapati commented on #4833
As me and @adleong discussed in offline chat, My suggestion was to use the existing templates, and _not remove/replace_ `linkerd-config` (but we can make it more simpler if we are going to take this attempt) but use `Helm install/upgrade` logic for the CLI too and this would make upgrades simpler as `values.yaml` is stored automatically by Helm as a secret in k8s and that would remove CLI from doi

[2020-08-06 09:41] Pothulapati commented on #4792
@ihcsim I was trying to take this up! But wonder how we can make CNI plugin know about the skip port annotations, as its installed before injection and I dont see any touchpoints during inject and CNI to make this possible. Do you have any suggestions/solutions here?

[2020-08-06 15:28] alpeb commented on #4792
@Pothulapati that touchpoint could be `cmdAdd()` that gets called whenever a container is created. We have the pod config in there so we can easily extract the annotations and override the iptables rules. But the logic there is such that the rules are set only after the proxy has been injected, so I don't understand why the init containers' outbound connections are being blocked :man_shrugging:

[2020-08-06 16:32] alexellis opened #4845 "check command fails on can create non-namespaced resources after installing OSM"
## Bug Report

### What is the issue?

The check command fails on can create non-namespaced resources after installing OSM

### How can it be reproduced?

Install the OSM project via https://github.com/openservicemesh/osm#getting-started

Then install linkerd2 and run the pre-flight checks beforehand

### Logs, error output, etc

(If the output is long, please create a [gist](https://gist.github.c

[2020-08-06 17:18] ihcsim commented on #4792
@alpeb I *think* the rules are added after the pod is mutated, but before it's run. Then when all the containers start up, the rules would have been added.

[2020-08-06 17:37] ihcsim commented on #4828
@cpretzer Can we close this issue?

[2020-08-06 17:46] alpeb commented on #4792
Oh that'd make sense. So pulling the annotations in `cmdAdd()` and overriding them should do the trick, even for the init containers :+1:

[2020-08-06 17:46] cpretzer commented on #4828
Yep, closing now!

[2020-08-06 17:46] #4828 closed

[2020-08-06 18:43] ihcsim commented on #4808
@D3N14L Have you had a chance to try out @adleong suggestion?

[2020-08-06 19:00] ihcsim commented on #4308
@gowei710 We haven't been able to reproduce this. Can you try skipping the outbound port 443 to see if that resolves the problem?

[2020-08-06 19:53] rukletsov commented on #4269
Had the same issue today. For posterity, setting `prometheus.io.port: <port>` annotation on the deployment of the scrapped pod has fixed it, i.e. prometheus scrapes only the specified port and not everything it can get hold of.

[2020-08-06 20:08] D3N14L commented on #4808
@adleong @ihcsim Sorry for the late response - I did not had the chance to test @adleong s suggestion. Our prod cert expired closely after the dev, so I was kind of in a hurry. The only solution that I could think of was reinstalling linkerd and restarting all the pods. That, although it produced a short downtime, worked as expected.

[2020-08-06 20:18] ihcsim commented on #4808
@D3N14L Thanks for the updates. In that case, can we close this issue? We have a follow-up issue at https://github.com/linkerd/linkerd2/issues/4813, to handle the webhooks' CA bundle.

[2020-08-06 20:25] D3N14L commented on #4808
Fine with me - thanks for looking into it!

[2020-08-06 20:25] #4808 closed

[2020-08-06 20:51] MaT1g3R opened #4848 "External Grafana url does not work with `https://`"
## Bug Report

### What is the issue?

We are trying to install linkerd with the helm chart. Setting `global.grafanaUrl` to `https://grafana.example.com` does not work.

### How can it be reproduced?

Set `global.grafanaUrl` to a proper URL including the protocol.

### Logs, error output, etc

[code]

### Possible solution

Seting `global.grafanaUrl` to only include the hostname does work (e.g. `g

[2020-08-06 21:35] adleong commented on #4845
Hey @alexellis! OSM uses a different version of the traffic split CRD than we do (v1alpha2 instead of v1alpha1).  Since CRDs are global to the cluster, I think this check error indicates a legitimate incompatibility. We're tracking the upgrade of our trafficsplit CRD version here: https://github.com/linkerd/linkerd2/issues/3962

[2020-08-06 21:40] adleong commented on #4721
@Wihrt just to confirm: this is now working for you with the updated kong config?  should we close this issue?

[2020-08-06 21:42] adleong commented on #4558
Fixed by https://github.com/linkerd/linkerd2/pull/4819

[2020-08-06 21:42] #4558 closed

[2020-08-06 22:26] adleong commented on #3854
@falcoriss sorry for the radio silence here, this issue fell off of my radar.  Sorry to hear that 2.7.1 didn't resolve this for you.  I still maintain that adding ping frames as described in https://github.com/linkerd/linkerd2/issues/1580 is the right long term solution to this problem.

In the meantime, if there's any way to avoid pausing node containers, that's what I'd strongly recommend.

[2020-08-06 22:46] cpretzer commented on #4828
proxy-init [#24](https://github.com/linkerd/linkerd2-proxy-init/pull/24) PR also addresses this iptables issue

[2020-08-07 01:10] gowei710 commented on #4308
Skipping the outbound port solves the HTTPS problem, but sometimes an HTTP request will have an empty response. The HTTP request does not have to be on port 80, and skipping the outbound port does not solve the HTTP problem

[2020-08-07 05:29] imdhruva commented on #4838
@ihcsim I have tested with [latest edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.5) and the problem still persists.

@Pothulapati  the redirection is happening to https://linkerd.test.url/grafana/dashboard/db/linkerd-namespace?var-namespace=emojivoto. I think it should _ideally_ render this link -> https://externalurl.com/dashboard/db/linkerd-namespace?var-namespace=emoj

[2020-08-07 05:53] Pothulapati commented on #4838
@imdhruva Currently, The `linkerd-web` i.e the dashboard acts as a proxy to the Grafana instance (at the given url) in its `/grafana` endpoint. This is done so that we don't have to port-forward Grafana instance too when `linkerd dashboard` is executed. This is the reason why you see `<dashboard-url>/grafana/` instead of directly pointing to the Grafana url.

However, I will try running this use-c

[2020-08-07 06:37] dilshad18 commented on #4630
will upgrade linkerd.Thanks for your suggestion.

[2020-08-07 06:37] #4630 closed

[2020-08-07 07:58] alexellis commented on #4845
Thank you @adleong 👍

[2020-08-07 08:13] Wihrt commented on #4721
@adleong It's working fine now. I'm closing the issue.

[2020-08-07 08:13] #4721 closed

[2020-08-07 11:48] zaharidichev commented on #4822
Seems `process_cpu_seconds_total` is a counter though, not a gauge. Should all be f64 ?

[2020-08-07 11:58] Pothulapati commented on #4838
@imdhruva I was able to replicate this, and things worked as expected (with the current edge) but one important thing to note is that in this case grafana must be configured to allow connections from behind a proxy as in https://gist.github.com/Pothulapati/9f91a9542a636808e5c118d91447c2c1 and the requests fail otherwise!

[2020-08-07 12:34] imdhruva commented on #4838
The external grafana is shared across multiple projects and have different sources. It also has a different hostname. Making this change is probably ideal if I intend it to sit behind the hostname of linkerd - not otherwise.

[2020-08-07 13:12] Pothulapati commented on #4838
@imdhruva Thats definitely a valid concern! I tried googling around, and could find any solution which allows grafana to allow both i.e proxied and normal.

Should we instead provide an option, which makes the the dashboard redirect to the given `grafanaUrl` instead of proxy'ing? obviously, that imples that the client should be able to directly access the grafanaUrl from his browser (as this wasn'

[2020-08-07 17:03] cpretzer commented on #3165
See RFC [#34](https://github.com/linkerd/rfc/pull/34)

[2020-08-07 17:37] ihcsim commented on #4721
@Wihrt Will you be interested in helping to update the Linkerd [ingress doc](https://linkerd.io/2/tasks/using-ingress/) with what you did to get Kong gateway to work? LMK, and I can show you where the markdown source is.

[2020-08-07 17:45] ihcsim commented on #4831
Possibly relevant https://github.com/linkerd/linkerd2/issues/4308.

[2020-08-07 17:46] jkassis commented on #1655
what is the accepted solution here? is it
[code]
?

[2020-08-07 17:56] KIVagant commented on #4831
If it is possible, I would really ask you to prioritize this. The issue hits us hard every day and I don't see any workarounds. :(

[2020-08-07 17:58] ihcsim commented on #4831
@KIVagant Will skipping the outbound tls port help in this case?

[2020-08-07 18:00] KIVagant commented on #4831
I just read this suggestion and I'm going to try this today

[2020-08-07 18:58] jkassis commented on #1655
i found errors related to scc for all of the service accounts and did the install this way...
[code]

pods still refused to show up with no logs at all, so afaict... linkerd is complete incompatible with openshift 4.5...

![image](https://user-images.githubusercontent.com/3630156/89679047-29295700-d8a5-11ea-98a9-31317e09799e.png)

![image](https://user-images.githubusercontent.com/3630156/89679112

[2020-08-07 19:14] jkassis opened #4851 "Openshift 4.5 Install Fails on IPTables"
## Bug Report

### What is the issue?
linkerd-controller pod wont start

### How can it be reproduced?

Install Openshift 4.5.

Install linkerd as follows...

[code]

### Logs, error output, etc

![image](https://user-images.githubusercontent.com/3630156/89680292-858d7600-d8a7-11ea-9ceb-05a7ddf9d1be.png)

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: Openshift 4.5
- C

[2020-08-07 20:21] ihcsim commented on #4848
The proposed fix at https://github.com/linkerd/linkerd2/issues/4838#issuecomment-670509215 might address too. Meanwhile, this variable should be added to the chart README.

[2020-08-07 20:27] MaT1g3R commented on #4813
I tried to get the helm chart to use certificates provisioned via cert-manager with some success.

The steps I've taken:

- Create issuer for `proxy-injector`, `sp-validator`, and `tap`, I'm reusing the issuer per this document: https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/

[code]

- Create certificate resources:

[code]

- Modify the helm chart to work around h

[2020-08-07 20:54] alpeb commented on #4358
We upgraded to Helm v3 in #4373. Closing issue.

[2020-08-07 20:54] #4358 closed

[2020-08-07 21:48] cpretzer commented on #4851
@jkassis thanks for the report. There have been some changes to the iptables logic in the last couple of weeks, so would you mind seeing if you can reproduce this with the [latest edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-20.7.5)?

As long as you're not using CNI, this error _shouldn't_ occur.

Also, can you tell me where you're running openshift? Locally or in the cloud?

[2020-08-07 22:20] jkassis commented on #4851
openshift in aws. ok i will try edge.

On Fri, Aug 7, 2020 at 2:48 PM cpretzer <notifications@github.com> wrote:

[2020-08-08 04:09] imdhruva commented on #4838
@Pothulapati firstly thanks a lot for your promptness on this one.

I do not see any reason why we would want to proxy when we clearly do not want to use linkerd grafana.

Also -  not sure if it has already been highlighted as a concern - [please seperate your app code from charts](https://argoproj.github.io/argo-cd/user-guide/best_practices/#separating-config-vs-source-code-repositories). This wi

[2020-08-08 07:48] k3daevin commented on #3298
How is the status of the hybrid cluster implementation?
May I offer help?

[2020-08-08 20:40] benpettman commented on #3504
+1 for this feature, whats the status?

[2020-08-08 21:20] oganga commented on #1165
Hi

I have a setup base on this guide: https://opensource.com/article/20/6/kubernetes-raspberry-pi
So far only a master(RP4 8G) and one work(RP4 2G).

What is the best way I can help in testing?

[2020-08-09 16:24] rajatjindal commented on #4818
i think this one is fixed by https://github.com/linkerd/linkerd2/pull/4824 already. we should close this ticket

[2020-08-09 16:36] rajatjindal commented on #4786
we have policy to be able to provide cpu/memory for all containers as well. and it might make sense to add the annotations as originally suggested.

may be support default for linkerd cluster, with ability to override at namespace and deployment level. what do u think?

[2020-08-09 16:57] rajatjindal commented on #4754
setting `failurePolicy` to `ignore` will ignore errors (if any) while injecting proxy sidecar (per doc [here](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#failure-policy)), which means the pods in other namespace can come up without proxy sidecar (in case of webhook error) and cause more issues.

the selector on webhook currently is

[code]

which means

[2020-08-09 19:00] rajatjindal commented on #4476
Hi @olix0r

I started to look at this issue (i hope that is ok).

i wanted to clarify one thing:

in func `validateDataPlanePods`, we return error `if pod.Status != "Running" && pod.Status != "Evicted"`,

if i understand correctly your suggestion is to print warning in this if condition and continue rather than returning error right? or you want the `check` itself to be `warning` level instead of

[2020-08-10 01:47] memory commented on #4003
Bumping again because I still think this is a good idea. 🤣

[2020-08-10 05:22] steve-gray opened #4855 "Sometimes Need to Restart Controller/Destination?"
## Bug Report

### What is the issue?
When a cluster is having issues, sometimes we've observed that linkerd seems to either stop working or stop tracking cluster updates. This means that when looking at pods that are having TCP connection startup issues, we see the following issues. linkerd does not seem to recover without a manual intervention.

Visually on a timeline, we see connection error 11

[2020-08-10 09:25] btnguyen2k opened #4856 "Annotation on namespace will not trigger a proxy injection"
## Bug Report

### What is the issue?

Annotation on namespace (`linkerd.io/inject:enabled`) will not trigger a proxy injection.

### How can it be reproduced?

Install linkerd v2.8.1.

Create a namespace, annotate it with `linkerd.io/inject:enabled`:

[code]

deploy a simple deployment, `linkerd-proxy-injector` logs say:

[code]

### Logs, error output, etc

(If the output is long, please create

[2020-08-10 11:04] rbtcollins commented on #2746
Should this be reopened and pinned?

[2020-08-10 14:20] Pothulapati commented on #4838
@imdhruva Currently, Working on this to allow a new `redirect` flag on the web component to make the web component redirect instead of proxy'ing.

The reason we have to maintain the charts in the same repo, is because the Linkerd CLI uses the same charts to generate the templates for the `linkerd install` command.

[2020-08-10 14:53] grampelberg commented on #4856
You're looking for an annotation, not a label:

[code]

Note: you can use `linkerd inject` on any resource to see what is required as it uses auto injection by default.

[2020-08-10 14:53] #4856 closed

[2020-08-10 17:00] ihcsim commented on #4855
@adleong Does this sound like the staleness issue described in https://github.com/linkerd/linkerd2/issues/3854?

[2020-08-10 17:02] cpretzer commented on #2746
@rbtcollins this looks like a good candidate for an [rfc](https://github.com/linkerd/rfc). Are you interested in kicking that off?

[2020-08-10 17:31] ihcsim commented on #4813
@MaT1g3R Thanks for sharing the steps to use cert-manager to manage the webhook certs. Looks like the changes in https://github.com/linkerd/linkerd2/pull/4737 will simplify this a lot, by removing the needs for an additioanl init container and volume mount.

[2020-08-10 17:45] #4818 closed

[2020-08-10 17:52] hawkw commented on #4003
@memory I added the `pinned` label, so you can stop doing that. :)

As a side note, if you'd like to see something like this added to Linkerd, a good way to hurry it along might be to write a [Linkerd RFC](https://github.com/linkerd/rfc) to propose a design for it. That way, we could start to collect community feedback on the design, and come up with a plan that you or someone else in the communit

[2020-08-10 18:05] memory commented on #4003
that's an entirely reasonable request -- I'll scheduled some time to do that in an upcoming sprint.

[2020-08-10 18:18] ihcsim commented on #4786
@rajatjindal I see adding debug container as an one-off task. Would one ever want to permanently annotate their workload YAML with debug container resource requests/limits (with or without an actual debug container running)? Any reasons why using `linkerd inject --manual --enable-debug-sidecar` to output and modify the YAML don't work?

[2020-08-10 18:27] ihcsim commented on #4476
@rajatjindal Thanks for your interest in this issue. I believe this is resolved in https://github.com/linkerd/linkerd2/pull/4732. I'm closing this issue.

[2020-08-10 18:27] #4476 closed

[2020-08-10 18:28] mirkop-mattr opened #4859 "Include network policy documentation on website"
## Feature Request

Current documentation around network policies and linkerd is quite sparse. The only document is on medium.

https://medium.com/@ihcsim/linkerd-2-x-with-network-policy-2657103333ca#:~:text=A%20network%20policy%20defines%20ingress,communication%20within%20a%20Kubernetes%20cluster.

### What problem are you trying to solve?

Have up to date network policy documentation

### How sh

[2020-08-10 19:33] campbel commented on #2746
Maybe the direction should be implementing `traffic-access` from SMI? https://github.com/servicemeshinterface/smi-spec/blob/master/apis/traffic-access/v1alpha2/traffic-access.md

[2020-08-10 19:57] ihcsim commented on #4754
@rajatjindal If AKS removed the `config.linkerd.io/admission-webhooks` label from the namespace, then the workloads will only be injected if they are annotated with the `linkerd.io/inject: enabled` annotation. If the annotations are not present, or set to `linkerd.io/inject: disabled` then auto-injection won't happen.

[2020-08-10 20:42] #4834 closed

[2020-08-10 20:44] ihcsim commented on #1655
@jkassis Thanks for bringing this up. Let's follow-up the conversation at https://github.com/linkerd/linkerd2/issues/4851.

[2020-08-10 21:09] grampelberg commented on #4851
Have you tried using CNI yet? AFAICT OpenShift 4.1+ uses `nftables` which would fail when combined with `proxy-init`. You'll also want to:

[code]

[2020-08-10 23:11] ihcsim commented on #4287
@christianhuening @ThomWright Sorry for the delayed response. I can confirm that this problem is reproducible.

TL;DR as you folks pointed out, the proxies in the data plane need to be restarted after the new issuer certificate is deployed, and before replacing the bundled trust with only the new trust anchor. Otherwise, the communication between the existing proxies and control plane will fail. I

[2020-08-11 05:34] #4296 closed

[2020-08-11 09:47] zaharidichev commented on #4754
@ihcsim I have submitted a PR for that. However I am not entirely convinced that this is the right approach. Isn't this too much of a coarse grained approach. What are the implications of setting this failure policy to `Ignore` in HA scenarios. I am not a fan of too many knobs, but perhaps we can add a flag to disable this check?

[2020-08-11 09:49] zaharidichev commented on #4855
@steve-gray What issues in particular. Could it be the case that the dst service is restarted or the node where it is dies and the svc is brought up on another node. If that is the case, then I think this is a known issue that we are currently working on

[2020-08-11 09:55] steve-gray commented on #4855
Basically if the cluster is in CPU distress and starts rescheduling stuff. It _**may**_ be that the linkerd-destination pod goes cactus. Guessing in that scenario the internal watches stop tracking pod changes? Is there a specific log entry I can use to to validate this next time it happens.

Our UAT environment is a very bruised, beaten creature, and we can probably reliably get it happening in t

[2020-08-11 11:00] zaharidichev commented on #4855
That actually sounds like https://github.com/linkerd/linkerd2/issues/4674

[2020-08-11 16:05] ihcsim commented on #4754
Same behaviour as non-HA mode. We have an issue at https://github.com/linkerd/website/issues/772#issuecomment-662732262 to update the HA doc with these details.

IMO a flag is just another knob. Also, it's not just a matter of `linkerd check` failing. In environment with background reconcilers, users have to set the `failurePolicy` to `Ignore`. Otherwise during restarts, the webhook will try to in

[2020-08-11 16:11] ihcsim commented on #4754
Correction: the k8s api-server will try to call the webhooks.

[2020-08-11 22:15] alpeb commented on #4176
This has been addressed in the [linkerd2-ci-metrics repo](https://github.com/linkerd/linkerd2-ci-metrics). Check the readme there for a detailed description.

[2020-08-11 22:15] #4176 closed

[2020-08-12 00:02] #4511 closed

[2020-08-12 00:04] #4708 closed

[2020-08-12 17:53] kleimkuhler opened #4868 "Update bin/build-cli-bin to build binary based off architecture"
## Feature Request

`bin/build-cli-bin` could benefit from the multi-arch builds we are now doing in
CI. Developers on `arm64` for example could expect that running
`bin/build-cli-bin` would produce a binary in `./target/cli/linux-arm64`.

### What problem are you trying to solve?

When using the `bin/linkerd` script, if a binary does not exist in the expected
path then it attempts to build one in

[2020-08-12 17:57] kleimkuhler commented on #4868
@aliariff Any interest in keeping this issue on your radar? It really only affects Linkerd developers, but it could be helpful in the  future as we have contributors working on different architectures.

[2020-08-12 18:12] aliariff commented on #4868
@kleimkuhler  yes sure, I will take a look at it. Could you assign this to me?

[2020-08-12 18:41] mbelang opened #4870 "Intermittent 502 Bad Gateway issue when service is meshed"
## Bug Report

### What is the issue?

Without linkerd proxy, there are no trace of 502 bad gateway at the ingress level nor the app level
With linkerd proxy enabled on nginx ingress and or app, intermittent 502 Bad Gateway appears in the system.

I see 2 types of error from the proxy:
[code]
and
[code]
both lead to (on ingress)
[code]
or (on an app)
[code]

I have eliminated the scale-up and scal

[2020-08-13 03:03] jkassis commented on #4851
i tried edge with the policy group scc additions you recommended...

`
     lastState:
        terminated:
          exitCode: 1
          reason: Error
          message: >+
            mp-port-unreachable

            -A OUTPUT -d 169.254.169.254/32 -p udp -m udp ! --dport 53 -j REJECT
            --reject-with icmp-port-unreachable

            COMMIT

            # Completed on Thu Aug 13 03:0

[2020-08-13 03:12] jkassis commented on #4851
this is the amazon api service link local IP (https://stackoverflow.com/questions/42314029/whats-special-about-169-254-169-254-ip-address-for-aws)... and not surprising... is the reason i'm looking at linkerd in the first place.

the openshift sdn-cni-plugin hardcodes a rule (https://github.com/openshift/origin/blob/release-4.1/cmd/sdn-cni-plugin/openshift-sdn_linux.go#L129) to block this port, wh

[2020-08-13 03:19] jkassis commented on #4851
well. looks like i can migrate off of openshift-sdn... `https://docs.openshift.com/container-platform/4.5/networking/ovn_kubernetes_network_provider/migrate-from-openshift-sdn.html`

[2020-08-13 04:20] jkassis commented on #4851
i ran the migration to OVN (https://docs.okd.io/latest/networking/ovn_kubernetes_network_provider/migrate-from-openshift-sdn.html) and then the linkerd install again and ran into the same `mp-port-unreachable` error. here is the network status for the pod...

![image](https://user-images.githubusercontent.com/3630156/90093943-8f690c00-dce1-11ea-8627-cd1165ea6549.png)

[2020-08-13 04:30] jkassis commented on #4851
here's the PR where they nerfed the AWS API... https://github.com/openshift/origin/pull/22826

[2020-08-13 04:43] jkassis commented on #4851
and here's a discussion of the AWS / GOOGLE choice to use link local address... `https://stackoverflow.com/questions/42314029/whats-special-about-169-254-169-254-ip-address-for-aws`. I'm also wondering how a link local address resolves to an amazon API. how does the AWS CLI on my Mac make a request through a link-local address to get to AWS API in the cloud?

[2020-08-13 04:51] Pothulapati opened #4874 "Move to Helm v3 sdk in CLI"
## Feature Request

Currently, we use Helm `v2.16.8`. Helm v2 is moving to its end of lifecycle and wont be supported anymore. Its best to move to Helm v3 internally sdk. Irrespective of #4833, Its best to move the current state of things to Helm v3 so that its lets us experiment with the idea of using Helm in the CLI internally, and also may help clean up the code-base a bit as the Helm Go SDK ha

[2020-08-13 05:17] Pothulapati commented on #4874
This requires client-go to be updated to `v0.18`

tagging https://github.com/linkerd/linkerd2/issues/4191

[2020-08-13 07:43] Pothulapati commented on #4191
I tried working on this, as `smi-sdk-go` has been updated to `v1.18`.

But Now the problem is https://github.com/kubernetes/client-go/issues/741. This is because `gnostic` broke their api in https://github.com/googleapis/gnostic/pull/155, and client-go, etc uses the unbroken version while `kube-openapi` was upgraded to `0.4.1`. We use `apiextensions-apiserver` (which takes a dependency on `kube-op

[2020-08-13 10:37] secret104278 opened #4875 "Add check to linkerd cli to see if pods with inject annotation have sidecar"
## Feature Request

### What problem are you trying to solve?
Recently, I try to setup multicluster linkerd follow the document, however it just dont work.
[code]

It took me an afternoon to realize that the problem is:
pod of `linkerd-multicluster/linkerd-gateway` was created before `linkerd/linkerd-proxy-injector` became ready, so `linkerd-multicluster/linkerd-gateway` didn't have the sidecar in

[2020-08-13 11:29] aliariff commented on #1165
Since https://github.com/linkerd/linkerd2/releases/tag/edge-20.8.1
Linkerd now officially supports ARM architecture.
Feel free to try it out.

[2020-08-13 11:31] aliariff commented on #3114
Supported since https://github.com/linkerd/linkerd2/releases/tag/edge-20.8.1

[2020-08-13 11:31] #3114 closed

[2020-08-13 14:30] alpeb commented on #4874
Just to know, would the v3 SDK still support v2 charts?

[2020-08-13 15:13] Pothulapati commented on #4874
@alpeb Yep, I was able to get this working today, especially because we don't use any of the direct `LoadChart()/LoadDir()` funcs which make use of the `requirements.yaml` or `Chart.yaml`. So, Things worked the same as its just replacing types but my hope is that we move into that model (once helmv2 retires) so that we don't have to maintain file paths in code, and let `Load*` functions do their j

[2020-08-13 15:14] Pothulapati commented on #4874
I was able to skip the client-go `v1.18` dependency by using a `v3.1.3` version of Helm which uses a older version of client-go

[2020-08-13 15:22] alpeb commented on #4874
Agreed. Helm v2 should be EOLd in November, from my understanding.

[2020-08-13 16:21] #4868 closed

[2020-08-13 16:36] ihcsim commented on #4870
@mbelang To confirm what we discussed on slack, you added CPU resource requests to your nginx ingress controller's proxy and there were no CPU spikes on the proxy when the connection timeout happened. Then you tried increasing the outbound connection timeout on the proxy of the nginx ingress by changing the `LINKERD2_PROXY_OUTBOUND_CONNECT_TIMEOUT` env var per https://github.com/linkerd/linkerd2/p

[2020-08-13 17:01] mbelang commented on #4870
I'm not sure where I can see the specific metric for the proxy container. I didn't check that but from what I see so far, I get some 502 and the CPU on ingress pod is flat flat flat.

The TCP dump above is from for ingress controller trying to contact upstream app, not datadog agent but I did got a trace for datadog agent is it is exactly the same.

I did play with that trying different values fro

[2020-08-13 17:13] ihcsim commented on #4870
So sounds like the errors are only seen on the nginx ingress controller outbound side? Do you have a minimum set of YAML that we can use for repro? Thanks.

[2020-08-13 17:24] ihcsim commented on #4875
Does `linkerd check --proxy` not show any warnings or errors?

[2020-08-13 18:19] cpretzer commented on #1165
Thanks to the great work from @aliariff I think we can finally close this issue! I've got linkerd `edge-20.8.1` running in my RPi cluster on k3s

@oganga @mklemann90 @stevef1uk please open a new issue if you find any unexpected behavior during your testing.

[2020-08-13 18:19] #1165 closed

[2020-08-13 18:49] olix0r opened #4877 "proxy: Support profile lookup by IP"
Following https://github.com/linkerd/linkerd2/issues/3916, we should modify the proxy's profile client to support discovery on numeric addresses in addition to names. We will have to add an allowed-suffix configuration (as we have done for the destination client).

[2020-08-13 19:04] adleong commented on #4833
In case we needed any more motivation to simplify the install/upgrade/configuration code, @Matei207 and I both just broke our respective brains trying to figure out how flags, options, values, and configs all interact: https://github.com/linkerd/linkerd2/pull/4864

The current situation is just way too complicated.

[2020-08-13 19:57] mbelang commented on #4870
So far yes, but I do have problems with a meshed app trying to reach out to datadog agent. I only have ingress and 1 app meshed in production environment. So far, for the app, no 502 for requests to other apps which is good.

The biggest problem now is the ingress.

[code]

[2020-08-13 20:35] ihcsim commented on #4870
To help further narrow down the repro steps, do these 502s happen only when the datadog agent is the target service?

[2020-08-13 20:52] olix0r opened #4879 "destination: Always return dst_overrides for existing services"
Currently, the destination service (in GetProfile repsonses) only sets dst_overrides when a traffic split is present. Instead, it should always return at least one dst_override when the service exists. The proxy can then use this response as a hint to indicate whether it should perform a destination.Get: if no dst_overrides are present, it is assumed that the target is not a Service and endpoint r

[2020-08-13 21:14] jkassis commented on #4851
i destroyed my Openshift cluster and recreated it with Calico networking. getting this now...

`
  initContainerStatuses:
    - name: linkerd-init
      state:
        waiting:
          reason: CrashLoopBackOff
          message: >-
            back-off 10s restarting failed container=linkerd-init
            pod=linkerd-controller-588d778444-7dfc5_linkerd(946ae8fa-6b67-4794-b044-56079cdff6a6)

[2020-08-13 21:15] jkassis commented on #4851
it's not complaining about the aws api address anymore, so maybe i've dodged that bullet with calico.

[2020-08-13 21:19] hawkw commented on #4877
For IP lookups, it seems like might make sense for the allowlist to be able to include CIDR routing prefixes or something, if we want to permit lookups for non-HTTP traffic? I know the service profile configurations are _currently_ http/gRPC-specific, though...

[2020-08-13 22:37] olix0r commented on #4877
Yeah, that's what I mean:

https://github.com/linkerd/linkerd2-proxy/blob/eee08f995cd8772f45fa3013cd115d4a8621bf25/linkerd/app/src/env.rs#L817-L830

But this is all pretty decoupled from HTTP/etc?

[2020-08-13 22:38] hawkw commented on #4877
...right, i forgot we were already doing this. Yeah.

[2020-08-14 02:01] secret104278 commented on #4875
Oh yes, it seems like what I was looking for. However, you have to specified namespace like `linkerd --context=east -n linkerd-multicluster check --proxy`

It like we can improve the experience by adding this check command in the document.

[2020-08-14 02:17] mbelang commented on #4870
I just saw this: https://github.com/hyperium/hyper/issues/2136.

I do imagine that linkerd proxy is using that lib right? According to them it is a keep-alive problem and by setting the keep alive lower than the upstream would do.

My upstream keep-alive timeout is 5s so I set it to 2s for the proxy... No luck so far. I'm going to try and put the proxy at 0ms for the outbound keep-alive timeout so

[2020-08-14 07:29] #4430 closed

[2020-08-14 11:54] Esardes commented on #1869
@alexklibisz thanks for the workaround!
I got it working on a k8s job, but couldn't figure out how to make it so in an Argo flow (`shareProcessNamespace` doesn't seem to fit anywhere). Any chance you'd have time to share a gist for it?

[2020-08-14 15:05] alexklibisz commented on #1869
I updated the comment above.

[2020-08-14 17:59] mbelang commented on #4870
I mitigate all 502 on GETs with nginx retry mechanism. I could also do it on non-idemponent but it is a bit dangerous ATM.
I do have less problems now but I'd still like to fix/understand what is going wrong with the linkerd proxy.

[2020-08-14 19:30] alpeb opened #4882 "Push images from builds in `main` to Github Packages"
Currently the `cloud_integration.yml` and `release.yml` workflows push the docker images they build to gcr.io.

We'd like to have `cloud_integration.yml` push them to Github Packages instead. In order to run the tests in GKE, given that Github Packages doesn't allow pulling images anonymously, this might imply adding support for imagePullSecrets in linkerd (#4413) as a prerequisite.

[2020-08-16 07:08] #4006 closed

[2020-08-16 07:08] #4126 closed

[2020-08-17 03:17] scottcarol opened #4886 "Add locales to Linkerd web dashboard"
## Feature Request

### What problem are you trying to solve?

The web dashboard for Linkerd now has `en` and `es` translations. This can be expanded to other languages.

### How should the problem be solved?

To add a new locale, follow the local development instructions in `BUILD.md`. Then, from your command line:

[code]

This will create a `your-new-locale/messages.json` file for new locale(s)

[2020-08-17 10:56] #4754 closed

[2020-08-17 12:18] alpeb commented on #4413
Keeping this one open in light of #4882

[2020-08-17 12:44] adinhodovic opened #4887 "Prefixing Prometheus metrics"
## Bug Report

### What is the issue?

How do I prefix Linkerd Prometheus metrics, I've found documentation for [linkerd](https://github.com/linkerd/linkerd/blob/0edec7399396cfb3f453854bcc027e6fa8cd7dfe/linkerd/docs/telemetry.md#prometheus) but cannot find any documentation for linkerd2.

[2020-08-17 14:49] #4887 closed

[2020-08-17 15:25] mbelang commented on #4870
@ihcsim here is an extract of an ingress resource for a test application

[code]

[2020-08-17 15:48] Wihrt commented on #4721
@ihcsim Yeah, I could do that.
I will be on vacation this week, so I could do that when I return, early September, okay ?

[2020-08-17 16:25] ihcsim commented on #4875
@secret104278 Glad to hear that `linkerd check --proxy` works. I am closing this issue for now, and continue the doc discussion in https://github.com/linkerd/website/pull/798.

[2020-08-17 16:25] #4875 closed

[2020-08-17 16:27] ihcsim commented on #4886
@scottcarol Just want to make sure I understand the scope, is there a list of locales we want to include as part of this issue? Or is this more a doc update? Or do we want to introduce a new script etc.?

[2020-08-17 17:55] ihcsim commented on #4886
Per conversation with @scottcarol, the purpose of this issue is to promote visibility of the process to add more locales to the Linkerd dashboard, following interests in KubeCon. We agree that this info should be added to the Linkerd doc. I will follow up with a separate doc PR.

[2020-08-17 21:29] adleong commented on #4855
This could be #3854 or #4674 or something else.  The easiest thing to check would probably be to test @zaharidichev's fix as described in #4674 and see if that resolves the issue.

[2020-08-17 21:34] ihcsim opened #4888 "Update control plane base image"
Per reported at https://github.com/linkerd/linkerd2/discussions/4884, we need to update our control plane base images before the 2.9 release to address the reported CVEs.

cc @cpretzer @olix0r

[2020-08-17 22:02] ihcsim opened #4889 "Extend the 'check' command to validate webhooks certificate validity period"
Some users have recently reported downtime due to errors caused by the expiry of the webhooks certificates and CA bundles. We should extend the `linkerd check` command to check the validity period of the webhook certs, similar to the existing checks for the issuer cert as seen [here](https://github.com/linkerd/linkerd2/blob/ac2bfb387b9fcfa2ff1a29dda4e0ab74a47ea60f/pkg/healthcheck/healthcheck.go#L9

[2020-08-18 03:38] olix0r opened #4891 "proxy: replace net2 with socket2"
The proxy depends on the `net2` crate, which has been deprecated and replaced by `socket2`. We should update our one or two uses:

[code]

[2020-08-18 07:53] joakimr-axis commented on #3114
This is so good!

[2020-08-18 08:44] #4669 closed

[2020-08-18 10:20] eugeniaguerrero commented on #4886
I am happy to work on the French translation - unless it's better to wait for a locales that are desired / needed, as you've mentioned @ihcsim?

[2020-08-18 15:20] mbelang commented on #4870
discovered that 0ms is not supported.

I also tried to raise keep-alive timeout to 90s (higher that nginx outbound of 60s) without any luck either.

[2020-08-18 15:51] ihcsim commented on #4886
@eugeniaguerrero That sounds awesome! Please go ahead and submit a PR with your changes. If you need help with getting the build running locally, feel free to drop by the [#contributors](https://linkerd.slack.com/archives/CMS5ZD60Y) channel.

[2020-08-18 16:05] olix0r commented on #4870
@mbelang and I had a chance to talk through this issue in Slack this morning. I think we have a good enough handle on it to put together a repro setup:

* nginx ingress, injected with proxy
* app with python HTTP server, uninjected

Then, we should try putting consistent load on the ingress. Ideally, we'd test this all on EKS with the latest AWS CNI, as it seems plausible that it's a bad interacti

[2020-08-18 16:18] #4287 closed

[2020-08-19 12:52] c-n-c commented on #4413
@apleb planning to do this today

[2020-08-19 18:07] tharun208 commented on #3874
I will take this up

[2020-08-19 19:26] kleimkuhler commented on #4879
Closed by #4890

[2020-08-19 19:26] #4879 closed

[2020-08-19 21:47] #4877 closed

[2020-08-20 00:28] dwj300 commented on #4889
Was about to create this exact issue... - we just got hit with the expiration of `linkerd-proxy-injector-tls`

[2020-08-20 02:07] ihcsim commented on #4889
@dwj300 The doc to rotate those certs is still in a PR at https://github.com/linkerd/website/pull/799. But it works.

[2020-08-20 08:04] tharun208 commented on #3838
I like to take this up

[2020-08-20 09:42] byakku opened #4894 "Tracing add-on: Failed to proxy request: Connection refused (os error 111)"
## Bug Report

### What is the issue?
Proxy containers have connection refused errors, can't get tracing with Jaeger working.

### How can it be reproduced?
1. Install linkerd (cli, `step` + `CertManager`)
2. Enable tracing
3. Patch deployment

[code]

### Logs, error output, etc

`kubectl logs -f some-app -c linkerd-proxy`
[code]
`target.addr` = `app-container` of patched deployment

#### `linker

[2020-08-20 12:33] byakku commented on #4894
Okay, I did clean install

`linkerd install | kubectl apply -f -`

Injected tracing config

Patched deployment

[code]
Now when I'm checking logs in proxy container in injected pod, it tells me about wrong certificate

[code]

## linkerd check

[code]

[2020-08-20 14:28] oceaneLonneux opened #4895 "linkerd tap: rt_route missing"
## Bug Report

### What is the issue?
Trying to get the results of the routes we have for a micro service.

### How can it be reproduced?
Here is the service profile:
`apiVersion: linkerd.io/v1alpha2
kind: ServiceProfile
metadata:
  creationTimestamp: null
  name: #{Name}-svc.int.svc.cluster.local
  namespace: int
spec:
  routes:
  - condition:
      method: GET
      pathRegex: /path/api/Somethin

[2020-08-20 16:05] #4697 closed

[2020-08-20 16:08] ihcsim commented on #3838
@tharun208 It's yours! Thanks!

[2020-08-20 17:23] ihcsim commented on #4895
Two things stood out to me. If you ingress-nginx controller is injected with the Linkerd proxy, you will need to annotate your `Ingress` resource with:

[code]

See the doc [here](https://linkerd.io/2/tasks/using-ingress/#nginx).

Secondly, try creating the service profile in the client's namespace. You can do that by setting `namespace: ingress-nginx` in your `ServiceProfile` resource, assuming t

[2020-08-20 17:30] byakku commented on #4894
Another finding - I've got _ancient_ `cert-manager` version deployed. After upgrading, reinstalling `linkerd` with `--identity-external-issuer` fixed issues with certs.

Timeouts
[code]

Only appear after launch, later on I have no errors with certs/connections.

The only issue I have right now is tracing that does not really work.

Annotations:
[code]

With env:
[code]

on multiple deployments, u

[2020-08-20 18:37] #4894 closed

[2020-08-20 20:33] siggy opened #4899 "Proxy OOM Killed with Pushgateway"
## Bug Report

### What is the issue?

Prometheus Pushgateway injected with Linkerd is getting OOM killed.

### How can it be reproduced?

Inject Pushgateway with a proxy, push large (10MB+) metrics payloads through it.

### Logs, error output, etc

[code]

### Environment

- Kubernetes Version: v1.16.7
- Cluster Environment: AKS
- Linkerd version: stable-2.8.1

[2020-08-20 21:31] ericsuhong opened #4900 "Linkerd-proxy consuming huge memory (~800MB) for a service that creates and maintains a huge number of outbound connections"
## Bug Report

### What is the issue?

We have noticed that linkerd-proxy is consuming huge memory (~800MB) for a service that creates and maintains a huge number of outbound connections (~30000 sockets per pod):

![image](https://user-images.githubusercontent.com/3857851/90827285-d746ef00-e2f0-11ea-8b92-6aa333f24a9f.png)

For other "normal" services, we do not see such problems, as linkerd-proxy

[2020-08-20 22:10] olix0r commented on #4870
@mbelang reports that this problem goes away when all pods are meshed; so this points strongly to the HTTP/1.1 client.

[2020-08-21 19:45] susanhuhu opened #4905 "Proxy metrics doesn't reflect proxy failure"
## Bug Report

### What is the issue?
In logs, we see below error
INFO outbound:accept{peer.addr=10.240.2.xxx:xxxxx}:source{target.addr=10.240.5.xxx:80}:logical{addr=ppe.testhost.xxxx.com:80}: linkerd2_proxy_http::canonicalize: DNS refinement timed out
WARN outbound:accept{peer.addr=10.240.2.xxx:xxxxx}:source{target.addr=10.240.5.xxx:80}: linkerd2_app_core::errors: Failed to proxy request: error t

[2020-08-21 19:59] #4905 closed, assigned to nobody

[2020-08-22 20:03] Abrishges opened #4906 "Prometheus and our services throws 503 errors"
## Bug Report

### What is the issue?
`Linkerd check` failed and traffic flow to some of my services failed after [ Linkerd Issuer cert rotated](https://linkerd.io/2/tasks/manually-rotating-control-plane-tls-credentials/#rotating-the-identity-issuer-certificate). Prometheus pod was restarted during cert rotation

[code]

### How can it be reproduced?
As of now, I've been unable to reproduce it. I

[2020-08-24 17:16] ihcsim commented on #4906
At which step did the 503s start appearing? Right after `linkerd upgrade  --identity-issuer-certificate-file=./issuer-new.crt --identity-issuer-key-file=./issuer-new.key | kubectl apply -f -`?

Looking at your Prometheus proxy logs, seems like it's getting a bunch of outbound `Connection refused` from other pods it's trying to scrape. Are those Linkerd control plane pods?

Do you have any logs fro

[2020-08-24 17:23] ihcsim commented on #4886
Closing this issue. See [BUILD.md](https://github.com/linkerd/linkerd2/blob/main/BUILD.md#translations) for steps to add more locales. Feel free to raise any questions in the [#contributors](https://linkerd.slack.com/archives/CMS5ZD60Y) channel.

[2020-08-24 17:23] #4886 closed

[2020-08-24 18:18] hawkw commented on #4891
As a side note, this isn't gonna be totally banished from our dependency tree until Tokio migrates from `mio` 0.6 to `mio` 0.7 (https://github.com/tokio-rs/tokio/issues/2677) a breaking change scheduled for Tokio 0.3. But, I imagine that we can remove _our_ uses of it (which all appear to be in the integration tests).

[2020-08-24 18:27] hawkw commented on #4891
I actually have no idea why the integration tests don't just use `tokio::net::TcpListener::bind`...there is probably _some_ backstory for this...

[2020-08-24 18:32] hawkw commented on #4891
Ah, the test change from `TcpListener::bind` to `socket2` was in linkerd/linkerd2#952, because we added a test that required introducing a delay between binding and listening on the socket. So, we do still need this, and can probably just switch to `socket2`.

[2020-08-24 20:19] ihcsim commented on #4906
I can't reproduce the errors you are seeing on GKE, following the steps in the rotating cert documentation. One thing I did notice is that the step on rotating the *issuer cert* should not restart your Prometheus instance, because the only thing that is changed is the identity secret.

If you have more info that you think will be helpful with repro, feel free to add them here. Thanks.

[2020-08-24 20:20] jawhites commented on #4674
@zaharidichev I wanted to follow up on this bug to see when it will be integrated into a release branch. @Abrishges and I are hoping  it gets pulled in soon. Can you let us know what we should expect date wise?

[2020-08-24 20:36] olix0r commented on #4674
@jawhites We're hoping to merge this in time for this week's edge release.

[2020-08-24 20:46] tharun208 commented on #4459
@sannimichaelse @grampelberg I like to work on this

[2020-08-24 20:50] cpretzer commented on #4851
@jkassis thanks for the updates. It's taking me a bit longer to get the OpenShift set up, but I haven't forgotten about this.

[2020-08-24 21:21] #3838 closed

[2020-08-24 21:35] #4790 closed

[2020-08-24 21:55] #4891 closed

[2020-08-24 22:22] Abrishges commented on #4906
Prometheus pods restarted due to small configuration change when `linkerd upgrade` command is applied.
Prometheus proxy logs get outbound `connection refused` errors from linkerd control pods
### error/warn logs from linkerd namespace including identity
[code]

[2020-08-25 05:02] devsentient opened #4909 "Some gateways are not alive with inlets on target cluster"
I'm trying to mirror services from a local cluster that's exposed via the Inlets operator to a GKE cluster. After following the tutorial here:
https://linkerd.io/2/tasks/multicluster/

I'm getting the following validation error:
[code]

Does this have something to do with the fact that Inlets only exposes a single port?

On the GKE cluster's linkerd-service-mirror pod I'm getting lots of the follo

[2020-08-25 05:44] eisig commented on #2048
Or consider Kuma's design.
https://kuma.io/docs/0.7.1/documentation/deployments/

 they can be regarded as multiple clusters, and then cross cluster mechanism can be used to communicate.

[2020-08-25 20:30] hawkw commented on #4831
After adding significantly more verbose debug logging, it looks like the proxy is hitting the 1 second default outbound connection timeout while trying to open a TCP connection to the destination:
[code]

[2020-08-25 21:05] hawkw commented on #4831
increased the value of `LINKERD2_PROXY_OUTBOUND_CONNECT_TIMEOUT` to two minutes, and it _still_ eventuallyh hits the timeout:
[code]
fascinating!

[2020-08-25 21:13] Parad0X commented on #4831
![nervous](https://user-images.githubusercontent.com/14222/91228097-a94d1a80-e6f5-11ea-9625-dff2f2fc9911.gif)

It's like reading a Stephen King novel!

[2020-08-25 21:42] hawkw commented on #4831
ran the repro again with the debug container. here's `tshark` output from what i'm pretty sure is the last request (everything following involves only IPs in the cluster and is basically just metrics scrapes and readiness probes):
[code]
and the proxy's logs:
[code]

[2020-08-25 21:59] hawkw commented on #4831
This is pretty strange because the tshark capture looks pretty different from what @KIVagant posted above --- in the [bad capture](https://gist.github.com/KIVagant/37b87245b27810f359acb22fdfa4c13b#file-linkerd-debug-bad-txt), there is a successful handshake and key exchange with the server:
[code]
we establish a session
[code]
then the client sends an alert...
[code]
...and we tear down the conn:

[2020-08-25 22:23] hawkw commented on #4831
Hmm, the results with `openssl`/example.com is very different than `curl`/bing.

<details><summary>Proxy log</summary>

[code]

</details>

<details><summary>OpenSSL client output (one good request prior to the failure)</summary>:

[code]

</details>

<details><summary>tshark capture</summary>

[code]

</summary>

[2020-08-25 22:37] hawkw commented on #4831
Ah, I see: the difference is that the `openssl s_client` command doesn't actually wait for an HTTP request/response pair to complete, so here we still see the proxy receiving data on conns from previous requests in some places. Looks like the last request _does_ still fail with a timeout.

In particular, OpenSSL claims that it "wrote 102 bytes and read 0":
[code]

so i believe that's the request o

[2020-08-25 23:18] cpretzer commented on #2048
thanks @eisig, would you be interested in helping us come up with the right design for this hybrid architecture?

[2020-08-25 23:21] cpretzer commented on #4909
Off the top of my head, it might have to do with the certificate validation. I'm not sure how inlets handles the traffic from the GKE cluster to the local cluster, so it might be worth looking at those logs.

We'd also want to take a look at the entirety of the `linkerd-service-mirror` logs as well as the proxy in the same container.

[2020-08-26 01:04] olix0r commented on #2392
Closed by https://github.com/linkerd/linkerd2-proxy/commit/6962794b1ef3e0d17a6ece16e581bffb1dda4060

[2020-08-26 01:04] #2392 closed

[2020-08-26 01:09] olix0r opened #4912 "Make proxy controller services headless"
Following https://github.com/linkerd/linkerd2-proxy/commit/6962794b1ef3e0d17a6ece16e581bffb1dda4060, the proxy now supports SRV-based controller discovery. In order to take advantage of this, the control plane's services should be exposed as headless services, so that no load balancer IPs are allocated (as implemented in https://github.com/linkerd/linkerd2/commit/17e6490bf09d4848381eff112e3fca495f

[2020-08-26 01:21] pankajmt opened #4913 "Automatic mTLS not working in our GKE Private Cluster setup"
## Bug Report

### What is the issue?
linkerd is injected, but when we check the comms with edges and tap, the comms are not encrypted

### How can it be reproduced?
CNI install - linkerd install-cni --dest-cni-bin-dir /home/kubernetes/bin --dest-cni-net-dir /etc/cni/net.d --cni-log-level debug --proxy-uid 65535 | kubectl apply -f -
Linkerd install - linkerd install --linkerd-cni-enabled --proxy-l

[2020-08-26 01:23] pankajmt commented on #4913
[edges.log](https://github.com/linkerd/linkerd2/files/5127029/edges.log)
[emojivoto_startup.log](https://github.com/linkerd/linkerd2/files/5127030/emojivoto_startup.log)
[linkerd_check.log](https://github.com/linkerd/linkerd2/files/5127031/linkerd_check.log)
[linkerd_identity.log](https://github.com/linkerd/linkerd2/files/5127032/linkerd_identity.log)
[linkerd_startup.log](https://github.com/linke

[2020-08-26 01:24] pankajmt commented on #4913
Summary of conversation with charles on Slack around this

- `linkerd edges po -o wide -n emojivoto` missing the app pod to pod links
- taps not showing any outbound traffic
- taps not showing l5d-dst-canonical header for inbound traffic (but seen in the control plane)

[2020-08-26 01:28] pankajmt commented on #4913
![nodepool_config](https://user-images.githubusercontent.com/32150474/91244263-49a34d80-e78f-11ea-9877-6c539c9fff7a.png)
![cluster_config](https://user-images.githubusercontent.com/32150474/91244271-4c9e3e00-e78f-11ea-88b9-a9d1e65347c0.png)

[2020-08-26 01:33] pankajmt commented on #4913
![cluster_config](https://user-images.githubusercontent.com/32150474/91244558-f1b91680-e78f-11ea-909a-f2cef18a21fa.png)
![nodepool_config](https://user-images.githubusercontent.com/32150474/91244566-f54c9d80-e78f-11ea-8a8c-e1aee1e1c23b.png)

[2020-08-26 02:59] pankajmt commented on #4913
Network Policies config is set at

linkerd and linkerd-cni namespaces are reachable from any namespace
linkerd and emojivoto namespace can talk to each other

[2020-08-26 05:57] Pothulapati opened #4914 "Parent issue for Simplifying State Management"
This is a parent issue to track the current work happening on Simplifying State Management as per https://github.com/linkerd/rfc/pull/35

---
- [ ]  Add a new linkerd-config-overrides secret
- [ ] Update the control-plane components to be able to get most configuration through
flags, and remove the dependency on the current linkerd cm.
- [ ] Remove the generation of `linkerd-config` cm.
- [ ] Upda

[2020-08-26 09:48] zaharidichev commented on #4912
@olix0r Might be missing something but which services are you refering to. And more importantly, why do we need to change them?

[2020-08-26 13:33] olix0r commented on #4912
@zaharidichev identity and dst, at least (per https://github.com/linkerd/linkerd2/commit/17e6490bf09d4848381eff112e3fca495f47ecfe)... if we don't change them, then we'll continue to see the problems mentioned in #4624 & #4674, correct?

[2020-08-26 13:56] Matei207 commented on #4503
Closed by #4780

[2020-08-26 13:56] #4503 closed

[2020-08-26 13:57] Matei207 commented on #4502
Closed by #4780

[2020-08-26 13:57] #4502 closed

[2020-08-26 14:02] zaharidichev commented on #4912
@olix0r for some reason I thought you are refering to service type LoadBalancer. Never mind... So I tested that the old proxy code works fine when the services are headless, I will also test the upgrade path. The question is, do we want to turn only the services that are used by the proxy or all control plane services into headless ones?

[2020-08-26 14:04] zaharidichev commented on #4912
Ahh.... yes just like you thought `.spec.clusterIP` is immutable...

[2020-08-26 14:44] olix0r commented on #4912
@zaharidichev

Only the services used by the proxy. At least dst and identity. Could go either way on tracing.

[2020-08-26 17:48] ihcsim commented on #4906
Is this reproducible on your cluster?

[2020-08-26 18:22] grampelberg commented on #4913
Your `tap` does not show any `OUTBOUND` for `web`. It sounds like you've got a half-configured CNI setup from the logs to me. I'd recommend checking the CNI logs to see what's going on there and inspecting the `iptables` rules to understand why you're only getting half the redirects. Skimming through your GKE cluster configuration, there might be an issue with shielded nodes, I've not done anythin

[2020-08-26 21:59] pankajmt commented on #4913
Hello Thomas,

Many thanks for a prompt follow-up.

I recycled the web pod and captured the systemd logs from the node it got scheduled on. PFA. I will look into, once my day begins. But I am sure it will take you less time compared to me to decipher what is going on :-)

I would doubt if Shielded VMs would matter, as Calico network policy would also work with iptables and runs fine.

cheers,
pank

[2020-08-27 00:49] pankajmt commented on #4913
Confirming. when you mention CNI logs @grampelberg, those are the ones from systemd on the node, right?

[2020-08-27 04:27] cpretzer commented on #4913
@pankajmt the systemd logs show us the iptables rules that are being created. There is also some log output from the pods in the `linkerd-cni` namespace that would be good to look at, here is the output from my local environment:

[code]

[2020-08-27 05:33] pankajmt commented on #4913
Here you go. As that has just some one time information on startup, I thought it would not be of interest, when having recycled the web pod.
[linkerd_cni_pods.log](https://github.com/linkerd/linkerd2/files/5134258/linkerd_cni_pods.log)

[2020-08-27 07:02] cypherfox commented on #4813
@adleong I think coupling the re-creation of the certs with the linkerd update is a problematic approach. In larger installations (num. of nodes or num. of pods) the roleout of the new proxies takes some time (up to 20min for our cluster). During this time, some of the proxies will not have the correct CA certs to talk to the webhooks. The alternative would be to build a CA management into each of

[2020-08-27 07:03] cypherfox commented on #3831
@rnsv could you please have a look at #4737. Does that fix all your requirements?

[2020-08-27 11:15] wenerme commented on #3165
I want to routing the biz service based on the path or grpc service, I don't know dose header based routing solved this, pure routing, not about rollout deployment.

In kuerbnets, the service or deployment is application level. Biz service level I mean, `com.example.test.PingService`, when using this service, app don't care about which application provide this.

In consul, using [service-router](h

[2020-08-27 13:34] balchua opened #4918 "Go 1.15: Running linkerd on 1.19 results in Certificate error"
## Bug Report

### What is the issue?
Running `linkerd tap` on kubernetes 1.19 throws this error.

[code]
Using the dashboard > Live Calls also shows the error.

### How can it be reproduced?
Install linkerd on Kubernetes 1.19

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.19
- Cluster Environment: MicroK8s
- Host OS: Ubuntu 20.0

[2020-08-27 14:25] Pothulapati commented on #4918
Working on this currently. Looks like it was because K8s updated its go version to `1.15` (i.e latest) which changed how it reads certificates https://github.com/golang/go/issues/39568#issuecomment-671424481

[2020-08-27 17:01] olix0r commented on #4918
It looks http://masterminds.github.io/sprig/crypto.html references a new function, `genSelfSignedCert` can replace `genCA` to support `alternateDNS` names

[2020-08-27 17:54] adleong commented on #4813
@cypherfox I don't think this will be a problem.  The webhooks use self-signed certificates which are not part of the Linkerd identity trust chain.  In fact, the linkerd proxies don't talk to the webhooks at all, only Kubernetes does.

[2020-08-27 18:49] cpretzer commented on #4913
Thanks for sending the CNI output, it's useful to compare the two between a working environment and the private GKE cluster where you see this behavior.

Just as a sanity check, I got the iptables output from an installation that doesn't use CNI and compared it to the iptables output generated by the CNI plugin. The two are identical, and you can find the output in this [gist](https://gist.github.

[2020-08-27 19:27] hawkw commented on #4831
A quick update: this appears to be a bug in an underlying library (`tokio` and/or `mio`) --- I can reproduce it with code that uses `tokio` without Linkerd. Will investigate further and fix it upstream.

[2020-08-27 20:34] Pothulapati commented on #4918
#4919 address this issue, and it makes tap, etc work on kubernetes 1.19

But if we updated our `linkerd2` repo, and images to use `go 1.15`, the `identity` component fails to startup as the trustanchorCerts we generate in the CLI, don't set `alternateDNS` names and hence the identity component fails to startup with the same error above.
Updating the binary to generate certs with `alternateDNS` fie

[2020-08-27 21:17] ihcsim commented on #4909
So your target cluster opens an inlet tunnel, instead of launching an external load balancer? (I am assuming this is a private GKE cluster?) Does the external IP of the target `linkerd-gateway` service matches what the `service-mirror` thinks it is? Runnnig `kubectl -n linkerd-multicluster get svc` on the target cluster should show whether the gateway has an external IP. On the source cluster, the

[2020-08-27 21:22] pankajmt commented on #4913
I am limited versed with iptables. It would help if you tell me the iptables commands to run other than iptables -L?

[2020-08-28 04:24] devsentient commented on #4909
Cluster A is on GKE, cluster B is a physical server behind a firewall. Cluster B only has SSH open + 2 other open ports. Trying to figure out how to mirror services from cluster B to cluster A. Inlets doesn't seem to cut it.

[2020-08-28 06:41] cypherfox commented on #4813
@adleong You are right. I got the source of the problems mixed up.

It is not the proxy per-se, but injection which will cause the admission hooks to be called. If your cluster is large enough, updating the webhooks is non-atomic. And when there is a mismatch between the webhook config CA cert and the running webhook, new pods cannot be injected. When we updated our largest cluster last, we experi

[2020-08-28 14:45] Sadzeih opened #4925 "Can't link two clusters: the server has asked for the client to provide credentials"
## Bug Report

### What is the issue?

I cannot link two clusters with the new per cluster service mirror

### How can it be reproduced?

[code]

### Logs, error output, etc

Service mirror:
[code]

#### `linkerd check` output

Tools cluster:
[code]

Shop cluster:
[code]

### Environment

- Kubernetes Version: tools: v1.16.11-gke.5, shop: v1.16.13-gke.1
- Cluster Environment: GKE
- Host OS: Contai

[2020-08-28 15:50] olix0r commented on #4674
All of the proxy changes have merged, but we hit some issues while testing the required control plane changes (discussed in https://github.com/linkerd/linkerd2/issues/4912). I expect these changes to make it into next week's edge release.

[2020-08-28 17:11] ihcsim commented on #4813
@cypherfox I don't see why we can't support both; use `linkerd upgrade` to re-generate webhook certs, and auto cert management for larger clusters. If you get the latter working, I will love to add that to our doc. (I am assuming you are only using cert-manager to manage the webhook secrets, not the `caBundle` inside the webhook config?)

[2020-08-28 17:36] ihcsim commented on #4925
Does the `kubeconfig` defined in the `cluster-credentials-shop` secret has sufficient permissions to access the `shop` cluster? You can test it with something like:

[code]

[2020-08-28 17:41] olix0r opened #4926 "proxy: Prevent mpsc-sender task leaks"
In code like [this](https://github.com/linkerd/linkerd2-proxy/blob/6962794b1ef3e0d17a6ece16e581bffb1dda4060/linkerd/proxy/dns-resolve/src/lib.rs#L70-L100), we can't know when the stream has closed until we actually try to send a value on it. This means that these tasks can persist until a write is attempted.

It would be great to add a `tokio::sync::mpsc::Sender::closed`, analogous to `watch::Send

[2020-08-28 17:43] cpretzer commented on #4913
Try using `iptables-save` to see the entire list.

[2020-08-28 18:03] ihcsim commented on #4909
Did `linkerd-gateway` get an external IP? If yes, is that external IP accessible from cluster A?

This is likely irrelevant.

[2020-08-28 21:29] devsentient commented on #4909
It does have an external IP and it's accessible, but only has 3 ports open. Two of the three ports are taken up by SSH and the kubernetes API endpoint, so only one port available for Linkerd.

[2020-08-28 22:51] adleong commented on #4813
@cypherfox that's true that updating the webhooks is not atomic, but it should be independent of cluster size.  When updating the webhooks, pod creation will be blocked only for the amount of time it takes for the proxy-injector deployment to roll out, which should be very fast.

But yes, having webhook certs be externally managed would avoid this altogether.

[2020-08-29 13:16] Pothulapati commented on #4515
Closing the issue!

[2020-08-29 13:16] #4515 closed

[2020-08-29 19:16] olix0r opened #4928 "multicluster: Support more than one gateway instance"
As I understand it, multicluster only supports using a single gateway instance.

https://github.com/linkerd/linkerd2/blob/72aadb540f3e3cb250a178964ffd7f2cff1cb39f/pkg/multicluster/link.go#L41-L43

Should it support more than one gateway instance, i.e., if there isn't a single load balancer VIP on the remote cluster (as may be the case for metalLB configurations)?

[2020-08-30 11:45] cypherfox commented on #4813
@ihcsim you would you want to burden the linkerd cli with a full cert management when there are existing tools that can do that just fine, e.g. cert-manager (old unix tenent: one tool for one job).

The whole cert rotation problem only occurs if your cluster lives longer than a year anyway, and judging from the comments when I started working on this, this is true only for a fraction of all cluste

[2020-08-30 11:49] cypherfox commented on #4813
@adleong under normal circumstances you are right. But at a certain size, in particular a certain amount of pod-churn, that small window of the injector roll-out will cause enough of  block for creating new pods that it will result in a downtime or at least degrading of the application services provided by the cluster.

The reason we have observed exactly this caused me to start the work on #4737,

[2020-08-30 12:57] pankajmt commented on #4913
PFA iptables-save logs.

When this was taken, (we have a preemptibles node setup, so nodes get recycled)

web was on node ending with 56r2
emoji was no node ending with 5vh5

[5vh5-iptables-save.log](https://github.com/linkerd/linkerd2/files/5146805/5vh5-iptables-save.log)
[56r2-iptables-save.log](https://github.com/linkerd/linkerd2/files/5146806/56r2-iptables-save.log)

[2020-08-30 18:06] ihcsim commented on #4813
@cypherfox I am a bit confused now. The scope of this issue is not to turn the Linkerd CLI into a full cert management tool like cert-manager. We are just updating `linkerd upgrade` to use the same Helm rendering code that `linkerd install` is already using, to generate the webhook caBundle and secrets. Isn't that the "simple cases" you described? And this approach has worked some users in the com

[2020-08-30 23:36] #4329 closed

[2020-08-31 04:37] vikas027 opened #4929 "Expose Dashboard via Amabassador 400 Error"
## Bug Report
I have used Linkerd with Traefik and Nginx successfully but attempting with Ambassador this time which works on Service annotations.

My ambassador mapping works fine on `default` namespace, not sure if I have to do anything special for services on `linkerd` namespace.

### What is the issue?
Unable to expose linkerd dashboard.

### How can it be reproduced?
- Install Ambassador on N

[2020-08-31 10:23] cypherfox commented on #4813
@ihcsim ok, then I misunderstood. I am sorry for the ruckus. A warning in the documentation, that this may not serve all cases would probably helpful. Understanding whether a given cluster is running into the edge cases we have observed is non trivial and likely best be found through testing.

Would it be worthwhile to move the option to use external secrets from helm-only to the CLI? Then you can

[2020-08-31 13:56] jrmyr commented on #3567
Hello,
I would also absolutely support this possibility. Sure, it might not be wanted that people start to play with these values. But as it is possible anyway via `linkerd inject --manual`, why not providing some comfort to people who are forced to tweak these values?

[2020-08-31 14:10] olix0r commented on #3567
I like @mmiller1's suggestion of providing a general way to add environment variables to the proxy's container.

For context, the rationale of not exposing annotations for all possible env configurations is that we don't really view this as a "stable" API. It's easier for us to change this configuration (sometimes drastically) if we don't have to worry about deprecation cycles, etc. But I don't th

[2020-08-31 14:28] jrmyr commented on #3567
For our use case, it would be great to have this possibility per deployment (that' why I like the "annotation way"). Modifying the helm chart is not needed for us as we don't want to modify the general way the linkerd proxies are configured. On the other hand, using `linkerd inject --manual` for all deployments which need adaptions is cumbersome and error-prone.

So it seems we have 2 approaches h

[2020-08-31 14:35] olix0r commented on #3567
@jrmyr I think we'd be happy to help merge a PR that adds this, if you want to try to put one together.

Please keep in mind that we're a small team, and we give Linkerd away for free. So, just because we haven't prioritized a feature like this, generally doesn't mean we're unwilling to support it ;)

[2020-08-31 14:44] Sadzeih commented on #4925
Yeah I have the same kind of error.

[code]

I guess this must be because the cluster server is the URL address to the rancher k8s API. There must be something going on here.

[2020-08-31 14:44] jrmyr commented on #3567
OK. I see. :-)
It was not to put some pressure or something. I just wanted to note that we are interested in this (as well) and why.

Putting something together for PR will be not that easy for me as I am completely new to Go. But when I will see some free time at some point I will give it a try.
Thanks for your rapid and friendly answers.

[2020-08-31 16:19] ihcsim commented on #3567
@jrmyr When you are ready, join us in the Linkerd [#contributors](https://linkerd.slack.com/archives/CMS5ZD60Y) channel. We can help you get started. We can also re-open this issue when there is someone actively working on it.

[2020-08-31 16:21] ihcsim commented on #4925
If you are getting the same error with `kubectl`, then sounds like this isn't a Linkerd issue then? If you think it is Linkerd related, can you prvoide steps to repro this, including how you set up Rancher etc.? Thanks.

[2020-08-31 16:37] jrmyr commented on #3567
Thanks a lot for this nice invitaion. :-)
I will let you know. Though, I can not make any promise when my schedule will give me time...

[2020-08-31 19:07] ihcsim commented on #4929
@vikas027 See https://linkerd.io/dns-rebinding, per the error message. You will have to either rewrite the header or  update the `-enforced-host` argument of the `linkerd-web` service.

Try with:

[code]

[2020-08-31 21:32] adleong commented on #4928
Good news: this field already supports a comma-separated list of addresses.  The service mirror controller will transform this into an Endpoints resource with one endpoint per address.  Note that all of the gateways must have the expected identity.

[2020-08-31 22:54] ihcsim commented on #4459
@tharun208 I just confirmed with @olix0r that this is something that we still want.

Instead of introducing a new subcommand `identity`, I think we can reuse the existing `linkerd get` command. So something like:

[code]

We can use the output format that @grampelberg described in https://github.com/linkerd/linkerd2/issues/4459#issuecomment-634216369. Note that when using label selector, a list of

[2020-08-31 23:11] #4918 closed

[2020-09-01 00:35] vikas027 commented on #4929
Thanks @ihcsim . I have got it working, [host_rewrite](https://www.getambassador.io/docs/pre-release/topics/using/headers/host/#using-host_rewrite) was the key.

[code]

**Logs**
[code]

[2020-09-01 00:44] dcodix opened #4934 "Intermitent (random) 502 Bad Gateway hitting a service in the mesh"
## Bug Report

###Notes
I think this is related to: https://github.com/linkerd/linkerd2/issues/3964
And maybe (not sure) related to: https://github.com/linkerd/linkerd2/issues/4870 (??)

### What is the issue?
Slack: https://linkerd.slack.com/archives/C89RTCWJF/p1598486828250400

App1 -> ELB(internal)->nginx (ingress controller)->App2
App1 is in a different VPC

When adding App2 to the mesh we sta

[2020-09-01 00:54] vikas027 commented on #4929
I have raised a PR to add this into the documentation as well.

[2020-09-01 00:54] #4929 closed

[2020-09-01 04:44] ihcsim commented on #4909
For multicluster to work, you will need to open port 4143 and 4181, as defined in the `linkerd-gateway` service.

As for inlets, keep in mind that by default, the exit server listens on port 80, but `linkerd check --multicluster` uses the probe port at 4181 to determine if the remote gateway is alive. Your GKE cluster should have an `Endpoint` resource with endpoint info of your remote gateway. In

[2020-09-01 04:44] #4909 closed

[2020-09-01 14:58] olix0r opened #4936 "proxy-api: Apply clang-format in CI"
It would be good to apply a formatting linter on our protobuf files in at least linkerd2-proxy-api (but also linkerd2).

See https://github.com/linkerd/linkerd2-proxy-api/pull/49 https://github.com/marketplace/actions/clang-format-lint

[2020-09-01 16:45] ihcsim commented on #4934
@dcodix Thanks for the detailed issue. Can you post the proxy logs of App2? You can change the proxy log to DEBUG following the doc [here](https://linkerd.io/2/tasks/modifying-proxy-log-level/).

Also for testing repro purposes, does the problem go away if you inject your ingress controller with the Linkerd proxy? (Even if it does, there is still an issue here that we need to investigate.)

For ad

[2020-09-01 18:31] olix0r opened #4938 "destination: Mark opaque ports in profile resolutions"
The proxy will use profile resolution to bootstrap discovery for TCP streams, including whether the proxy should treat the stream as opaque, bypassing protocol detection. https://github.com/linkerd/linkerd2-proxy-api/pull/44 adds a flag to the destination response to facilitate this.

The destination services needs to be modified to set this flag to true as follows:

* Pods may be set with an anno

[2020-09-01 19:42] dcodix commented on #4934
@ihcsim I just tested adding the ingress in the mesh and I keep getting 502s. Also, if I add the ingress to the mesh but I disable the mesh from App2, I still get 502s.

About the debug logs. There are a ton of logs! Not sure I can post all of that here, is there anything in particular I could grep the logs by so I could get some manageable amount of logs?

[2020-09-01 19:50] ihcsim commented on #4934
Make sure your ingress has the required annotation per documented [here](https://linkerd.io/2/tasks/using-ingress/#nginx). Re debug logs, just post it to a gist and share the link here. It will be helpful if you know and can highlight which section of the logs is relevant to the original 502 errors. Thanks.

[2020-09-01 22:03] dcodix commented on #4934
Yes, I have the correct headers on the proxy, I think if I didn't I would get many more errors.

Re: Debug logs
Is there any other way I can help you with this? These logs have some sensitive information, as paths and ports, information I would prefer not to publish. Also, it might be too many lines for me to check that I get rid of all sensitive information, from timestamp `2513.703652634s` to `2

[2020-09-02 10:13] brancz commented on #4414
Sorry I was on vacation for longer than 2 weeks without proper internet, can you reopen this @olix0r ? :)

[2020-09-02 13:48] Sadzeih commented on #4925
So yeah, my local kubeconfig used the rancher cluster URL. As soon as I used the GKE provided external IP directly, it worked. So this is definitely related to Rancher and not linkerd. Thank you for the help

[2020-09-02 13:48] #4925 closed

[2020-09-02 14:29] olix0r commented on #4414
@brancz Congrats on the well-deserved vacation ;)

[2020-09-02 19:03] olix0r commented on #4723
Just noting that it sounds like the Hyper maintainers have been looking at adding HTTP/3 support. When this happens, this integration should get much easier.

[2020-09-02 19:04] olix0r commented on #4452
We've modified the multicluster implementation to eliminate the concept of 'exposing' services from a target cluster. Instead, source clusters select which services they import.

[2020-09-02 19:04] #4452 closed

[2020-09-02 19:53] #4912 closed

[2020-09-04 06:55] zaharidichev commented on #4674
@jawhites @Abrishges You cna pick the latest edge and try it out to verify that this problem has been fixed. Thanks a bunch for your help testing and diagnosing this problem

[2020-09-04 12:46] Abrishges commented on #4674
Thanks @zaharidichev , we will start testing

[2020-09-04 13:20] Sadzeih opened #4943 "Multicluster check failed with custom Prometheus"
## Bug Report

### What is the issue?

I linked 2 clusters and exported a service in the target cluster, but the gateway is not accepting inbound requests.

### How can it be reproduced?

[code]

### Logs, error output, etc

shop gateway proxy logs:
[code]

the proxy from my pod trying to use the mirrored service:
[code]

#### `linkerd check` output

tools cluster:
[code]

I think the failure here

[2020-09-05 00:37] balchua commented on #4918
I've tested the latest edge 20.9.1 all good.  I am just wondering if this is also coming to 2.8?
Thanks

[2020-09-05 15:22] wenerme opened #4945 "go 1.15 cert failed: x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name matching with"
## Bug Report

### What is the issue?

https://github.com/golang/go/issues/39568

API fail

[code]

Proxy injector failed

![image](https://user-images.githubusercontent.com/1777211/92308115-fc647e80-efcd-11ea-8138-8b667c6b7f5d.png)

[code]

failed with

[code]

[code]
 failed with

[code]

### How can it be reproduced?

use k3s or k8s compiled with go 1.15

### Logs, error output, etc

above

###

[2020-09-05 19:20] #4469 closed

[2020-09-06 02:51] RichiCoder1 commented on #3745
The spirit of this ticket is effectively solved by https://github.com/linkerd/linkerd2/issues/3831 which appears to have active support and a standing PR

[2020-09-07 13:03] mschweiker commented on #3504
+1 also.

[2020-09-07 13:30] Pothulapati commented on #4918
@balchua It should land in 2.9, which is planned for early October!

[2020-09-07 13:33] balchua commented on #4918
Ok thanks.

[2020-09-08 00:36] olix0r opened #4947 "proxy: Identity integration tests don't exercise HTTP proxy"
Tests like `http[1|2]_outbound_tls_works_before_identity_is_certified` don't actually exercise the http proxy. Instead, they incorrectly build their own TLS'd HTTP clients and servers, and then exercise the TCP proxy. In order to modify the TCP forwarding stack, these tests must be changed to exercise the actual proxy behavior.

https://github.com/linkerd/linkerd2-proxy/blob/23995e7fb6eae5ede81048

[2020-09-08 00:46] pankajmt commented on #4913
[cluster_description.txt](https://github.com/linkerd/linkerd2/files/5185493/cluster_description.txt)
[nodepool_description.txt](https://github.com/linkerd/linkerd2/files/5185494/nodepool_description.txt)

outputs from
gcloud container clusters describe gke-poc-3 --zone australia-southeast1-a
gcloud container node-pools describe gke-poc-3-np --zone australia-southeast1-a --cluster gke-poc-3

a diff

[2020-09-08 01:37] vikas027 opened #4948 "Traffic Split not working externally (Ambassador Ingress)"
## Bug Report
I am using Ambassador as ingress controller and trying to get basic traffic split using SMI Spec.

This is my complete yaml with two versions of apps (and their services), traffic split, and service for traffic split.
[code]

In this example, I have to apps `v1` shows the IP of the pod and `v2` doesn't
[code]

And the third service is for traffic splitting, in my example, 100% of the

[2020-09-08 06:20] cpretzer commented on #4948
hi @vikas027 can you share the output from `linkerd edges` and `linkerd stat deploy` for the namespace that your application is running in?

From the YAML that you shared, I don't see the `linkerd.io/inject: enabled` annotation. Have you added that at the namespace level?

It will also help to see the output from `kubectl get po -A` from your cluster

[2020-09-08 07:28] vikas027 commented on #4948
hello @cpretzer ,

Thanks for the response. I am using `default` namespace.

Please see the below outputs.

[code]

[2020-09-08 08:22] steve-gray commented on #4262
@olix0r - We're still seeing this on the latest edge (our own service name is edge, but edge-7 here is our app). Note the GRPC error it got back talking to other services.....

[code]

[2020-09-08 11:12] Pothulapati commented on #4948
@vikas027 As per the doc https://linkerd.io/2/tasks/using-ingress/#ambassador, It is mentioned that the adding the annotation `      add_linkerd_headers: true` is the most important but I could find that in the above manifests. Can you try doing that? :thinking:

[2020-09-08 11:36] vikas027 commented on #4948
Thanks @Pothulapati  - I did read that link and had tried that, did again just to double-check in vain :(

[2020-09-08 14:43] Pothulapati commented on #4948
@vikas027 Can you confirm that the ingress controller i.e ambassador instance is also injected by Linkerd, as the injected proxy will take care of the routing once it sees that the required routing headers are present.

[2020-09-08 15:27] olix0r commented on #4262
@steve-gray Thanks. Are you using response streams and maxConnectionAge? If not, would you mind opening a new issue so we can make sure we're focused on the right set of conditions?

[2020-09-08 16:43] GMarkfjard commented on #4156
Would love to pick this up as a part of my open source contribution course!

@alpeb Could you assign me to this?

[2020-09-08 16:49] Pothulapati commented on #4945
@wenerme Okay. Just to confirm, This error occured because the docs mentioned generating certs without the alternate DNS name fields, which were used with k3s that was compiled with go 1.15 (not meaning the official k3s switched over to 1.15). Does that sound correct?

[2020-09-08 17:05] wenerme commented on #4945
@Pothulapati yes, but I use alpine edge branch [k3s](https://pkgs.alpinelinux.org/package/edge/testing/x86_64/k3s), which is compiled by go 1.15.

[2020-09-08 17:13] Pothulapati commented on #4945
@wenerme My expectation with K8s is that this go 1.15 change will not be propagated into the k8s 1.17, 1.18 changes as its a breaking change but will be from 1.19 (I could be wrong here) and was expecting the same with k3s.

However, I will raise a PR to update the docs to make generation of certs have the alternate dns name field.

[2020-09-08 17:24] alpeb commented on #4156
Thanks @GMarkfjard , that'd be amazing!

[2020-09-08 18:00] wenerme commented on #4945
@Pothulapati Thanks, 1.19 will release soon, using k3s can get 1.19 very quick.

[2020-09-08 18:08] olix0r opened #4950 "inject: Configure proxy with opaque ports"
Before https://github.com/linkerd/linkerd2/issues/4938, the injector should be modified to honor the opaque-ports annotations. When this is set, the injector should map all specified ports into a list of discrete ports to set in the `LINKERD2_PROXY_INBOUND_PORTS_DISABLE_PROTOCOL_DETECTION` environment variable.

I.e. an annotation like `config.linkerd.io/opaque-ports: 25,4320-4330,mysql` sets the

[2020-09-08 21:15] ihcsim commented on #4943
Is your custom Prometheus scraping the `linkerd-service-mirror-[target-cluster]` deployment correctly? By default, the scrape endpoint is at [port 9999](https://github.com/linkerd/linkerd2/blob/9bf34ebc4ebcdc50e0db12764c92b8380a47a763/controller/cmd/service-mirror/main.go#L37).

Also, I am going to update the title of this issue to match the problem description.

[2020-09-08 21:18] ihcsim commented on #4943
Your Prometheus should pick up these gateway metrics

![image](https://user-images.githubusercontent.com/1330522/92528734-1b395f80-f1de-11ea-9de0-8a31a65d085f.png)

[2020-09-08 22:09] #4573 closed

[2020-09-09 00:06] vikas027 commented on #4948
Thanks a ton for the hint @Pothulapati . That was the issue. My bad, I didn't realise I had to inject `ambassador` namespace too.

Also, I do not need the line `add_linkerd_headers: true` in `service/site-counter` because I had the ambassador `Module` mapping defined for the namespace.

My apologies for the unwanted noise. I can sleep happy now. :)

For anyone else who bump to this issue, with `am

[2020-09-09 00:06] #4948 closed

[2020-09-09 03:50] steve-gray commented on #4262
We're seeing it on unary and streaming GRPC's. I'll move the above over to the other issue referenced above.

[2020-09-09 03:51] steve-gray commented on #4227
We're still seeing this on the latest edge (our own service name is edge, but edge-7 here is our app). Note the GRPC error it got back talking to other services. In terms of diagnostics is very painful, as we lose information passed between services when linkerd is in the mix.

[code]

linkerd version:
[code]

linkerd check
[code]

[2020-09-09 07:25] Pothulapati commented on #4945
@wenerme I tried replicating this issue on the latest edge with Kubernetes 1.19 but I could not replicate this, as the certs generated during Helm installation **do not reach** the Kubernetes server, and is used only in Linkerd components which are not 1.15 yet, and hence work fine. (Once we move Linkerd to go 1.15, we will have to update the docs as the linkerd components would fail then as there

[2020-09-09 07:35] wenerme commented on #4945
I'll try next stable as soon as released.

[2020-09-09 08:37] Pothulapati commented on #4945
@wenerme Closing this issue, but feel free to re-open it if you run into the same!

[2020-09-09 08:37] #4945 closed

[2020-09-09 09:24] Pothulapati commented on #3944
I'm working on this, and will be following the steps mentioned by @ihcsim above!

[2020-09-09 14:10] quentinalbertone commented on #4031
Hi, @vic3lord

I have the same problem, could you tell me :  how did you resolve this issue ?

[2020-09-09 14:27] Sadzeih commented on #4943
Adding additional scrape configs to my prometheus fixed the issue with the check, but not my original issue which is still:

[code]
in the target gateway

[2020-09-09 17:08] ihcsim commented on #4943
ahh... I missed that line entirely. Despite that error, what's the output of `linkerd check --multicluster` after you updated your custom Prometheus config? Can you reach the remote gateway, via your mirrored service?

[2020-09-09 17:15] ihcsim commented on #4031
@quentinalbertone You can adjust the Linkerd proxy sidecar CPU and RAM requests to satisfy the min/max values defined by your `LimitRange`. The `linkerd install --ha` command will output the default values used by the Linkerd proxy. These values can be adjusted using the `--proxy-[cpu|memory]-[limit|request]` options, of the `install` or `inject` commands.

[2020-09-09 18:05] alpeb commented on #4882
Closing, as no longer relevant, given #4953 which uses the new `ghcr.io` registry.

[2020-09-09 18:05] #4882 closed

[2020-09-09 19:43] dcodix commented on #4934
Filtering the 3000 lines with `grep -i "warn\|error"` it shows only 36 lines:

[code]

[2020-09-09 22:24] sbvitok commented on #3962
any news?

[2020-09-09 23:10] steve-gray commented on #4227
If it helps, it *seems* like during service startup we get a storm of these messages - but they die off gradually. It's as if during startup/discovery phase for A > B routing potentially the proxy is trying to signal back something, as I'm not entirely sure these are manifesting in response to a server side error - We've checked a bunch of stuff and we can't narrow down what did that on the server

[2020-09-09 23:52] alexklibisz commented on #4227
In our case it was definitely just server side errors. We aren't doing any
service discovery. Also I still haven't had time to produce a repro.
Truncating the error message is still working. In our case we do this in an
akka exception handler directive.

On Wed, Sep 9, 2020, 19:10 Steve Gray <notifications@github.com> wrote:

[2020-09-10 11:12] Pothulapati opened #4955 "Linkerd plugin for Spotify Backstage"
## Feature Request

[Backstage]() is an open platform for building developer portals that has a plugin model, allowing all kinds of UI/portals to be built for managing any kind of underlying infra/components/services. It seems to have a [growing ecosystem of plugins](https://backstage.io/plugins) being built.

The idea is to build a plugin for Linkerd on Spotify, allowing users to manage and obser

[2020-09-10 13:54] dschuldt opened #4956 "Session Stickiness only works with TLS backends"
## Bug Report

### What is the issue?

We have an linkerd-sidecar injected Ingress Controller (same behaviour with as well nginx as haproxy, linkerd related setup performed s.t. https://linkerd.io/2/tasks/using-ingress/) which terminates HTTPS connections. The connections to some of the upstream services are HTTPS as well, hence we use the annotation "haproxy.com/server-ssl: true" or "nginx.ingres

[2020-09-10 14:03] Sadzeih commented on #4943
This is the result
[code]

[2020-09-10 16:21] #4889 closed

[2020-09-10 18:39] ihcsim commented on #4943
So can you reach the remote gateway via the mirrored service? If not, are there any errors in the service mirror controller logs?

[2020-09-10 22:15] ihcsim commented on #4956
Linkerd doesn't support session stickiness today. You will have to un-inject the Linkerd proxy from your ingress controllers, and let the ingress do their thing. There is an open issue at https://github.com/linkerd/linkerd2/issues/3504. Feel free to +1 that, and we can prioritize accordingly.

[2020-09-10 23:14] olix0r commented on #3207
This has landed on `main` and will be included in the upcoming edge release.

[2020-09-10 23:14] #3207 closed

[2020-09-10 23:15] #3691 closed

[2020-09-10 23:15] #3445 closed

[2020-09-10 23:18] olix0r commented on #4956
I expect that the in-progress discovery changes (planned for stable-2.9) will allow this to work as expected; but we'll need to confirm this once these changes have landed on an edge release.

[2020-09-10 23:23] kylos101 commented on #3207
Holy cow, that's amazing! Thanks for the heads up.

On Thu, Sep 10, 2020, 7:15 PM Oliver Gould <notifications@github.com> wrote:

[2020-09-11 07:13] dschuldt commented on #3504
+1

[2020-09-11 07:34] dschuldt commented on #4956
So the reason this works in our setup is due to the encrypted traffic (the l5d-dst-override header cannot be read by linkerd)?

I just tried it without the l5d-dst-override header on plaintext traffic. Now session stickiness works as well! Why is the header not necessary even if the documentation states this? (...This creates an infinite loop that can be pretty frustrating!....).

Thank you guys!

[2020-09-11 07:53] dschuldt commented on #4956
Ok, looks like the trafficsplit is not working without l5d-dst-override header

[2020-09-11 12:00] chris-vest opened #4962 "Traffic originating from ingress is not mTLS'd [edge-20.9.2]"
## Bug Report

### What is the issue?

Traffic originating from ingress is not mTLS'd, however pod to pod traffic is.

### How can it be reproduced?

Create a new AWS EKS cluster, v1.16.

Install kube2iam and cert-manager. Follow the guide on automatically rotating control plane TLS credentials here - https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/

Install Linkerd

[2020-09-11 15:15] Pothulapati commented on #4572
We added support for this in #4682

[2020-09-11 15:15] #4572 closed

[2020-09-11 16:52] olix0r opened #4963 "Do not run 'cloud-integration' tests in CI"
The cloud-integration tests depend on Buoyant's GKE infrastructure, and re-run tests that are already run in `kind`. Furthermore, they can be quite slow.

We should limit continuous integration tests to those that can be run on CNCF-funded hosting (i.e. in Packet or GitHub). So we should disable the cloud-integration workflows in our CI, and we should delete any stray resources in GCP.

[2020-09-11 18:14] ihcsim commented on #4956
With an injected ingress controller, nothing will work if the `l5d-dst-override` header is missing. That's because the Linkerd relies on the `:authority` header to do service discovery. In that case of an ingress, the `:authority` is likely set to your external domain, resulting in the loop (as you observed).

As for why this only works for services with TLS, and not plaintext services, Linkerd ca

[2020-09-11 18:17] ihcsim commented on #3504
Per https://github.com/linkerd/linkerd2/issues/4956#issuecomment-690781453, the ongoing discovery changes for 2.9 should make this work. Keep an eye out for the upcoming edge releases; will appreciate some help with testing this.

[2020-09-11 18:37] ihcsim commented on #4962
Does `linkerd tap -ojson` show the `l5d-dst-override` header? I assume your ingress controller is configured to terminate external TLS? Otherwise, Linkerd will just treat your encrypted traffic as TCP, and not mTLS'd it.

Also, I believe we confirmed on Slack that you are using [`ingress-nginx`](https://github.com/kubernetes/ingress-nginx), not [`nginx-ingress`](https://www.nginx.com/products/ngin

[2020-09-12 02:47] vikas027 opened #4964 "Feature Request - Allow images to be pulled in a single command"
## Feature Request
It makes the deployment fast if the images are pre-cached on the instance.

### What problem are you trying to solve?
I am trying to make the linkerd development quicker on my VMs

### How should the problem be solved?
A command similar to this
[code]

Something like this maybe?
[code]

What do you want to happen? Add any considered drawbacks.

### Any alternatives you've consid

[2020-09-12 10:20] #4497 closed

[2020-09-12 10:20] #4513 closed

[2020-09-12 23:52] chris13524 commented on #4203
Should this issue have been closed?

[2020-09-13 11:21] misakwa commented on #4203
Yes @chris13524. At least one of the issues has been resolved and the original pr needs to be split apart into easily managable bits.

[2020-09-13 16:57] cpretzer commented on #4964
Hi @vikas027 the [bin](https://github.com/linkerd/linkerd2/tree/main/bin) directory includes several scripts to support developing and building Linkerd. I like the idea of using your `for` loop workaround as a script in the `bin` directory because, it's simple and effective.

Since the use case for this feature is specifically for development, I don't think the `linkerd` CLI is the right tool to p

[2020-09-13 22:52] vikas027 commented on #4964
Hey @cpretzer,

The use case is not for development environment. I am on one of the team members who manage hundreds of AWS accounts for different teams and build AMIs for them. The teams do not have access to pull images from docker.io, so we have to give them AMIs pre-cached with docker images, the process of which is obviously automated.

Now, with every linkerd release, I will have to find out

[2020-09-13 23:20] cpretzer commented on #4964
@vikas027 thanks for clarifying the use case. I only saw the development use case in the OP 😄

I have just what you're looking for to get the images programmatically:

`linkerd install --ignore-cluster | grep image: | sed -e 's/^ *//' | sort | uniq`

Credit goes to @wmorgan for that one 💥

[2020-09-14 04:42] vikas027 commented on #4964
Cool, yeah that fulfils my need :)

[2020-09-14 04:42] #4964 closed

[2020-09-14 06:19] zaharidichev commented on #4674
@Abrishges Any updates on this one ?

[2020-09-14 08:10] withlin opened #4965 "demo app not inject"
## Bug Report

### What is the issue?
demo app not inject

### How can it be reproduced?
[code]

### Logs, error output, etc
[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version:
[code]
- Cluster Environment: (GKE, AKS, kops, ...)
- Host OS:
[code]
- Linkerd version:
[code]
### Possible solution

### Additional context

[2020-09-14 09:54] chris-vest commented on #4962
Yes, the ingress controller is terminating TLS, you can see the Ingress configuration above and it complies with the configuration from the docs [here](https://kubernetes.github.io/ingress-nginx/examples/tls-termination/).

It doesn't look like `linkerd tap -n httpbin deploy/httpbin -ojson` shows the `l5d-dst-override` header. This is how we have configured it in the Helm values file for `ingress-

[2020-09-14 12:37] bobuntu commented on #4721
@Wihrt early September still okay?

[2020-09-14 12:54] Wihrt commented on #4721
Yeah, it's still okay, just need to know where to add the documentation :)

[2020-09-14 16:10] ihcsim commented on #4721
@Wihrt The ingress markdown is at https://github.com/linkerd/website/blob/master/linkerd.io/content/2/tasks/using-ingress.md. There is info on how to build/test/lint on the README. Thanks.

[2020-09-14 20:22] ihcsim commented on #4965
Something is not right with your proxy injector installation, causing the K8s api-server to not be able to communicate with the injector webhook. What commands did you use to install Linkerd? Any error logs in the K8s api-server? If this is a non-prod environment, the easiest thing to do is to [uninstall Linkerd](https://linkerd.io/2/tasks/uninstall/) and re-install it.

[2020-09-14 20:22] #4965 closed

[2020-09-14 21:40] olix0r commented on #4227
Thanks @alexklibisz -- I think we have enough to repro your issue.

@steve-gray I'm curious if you can share more details about how your request is formed. Specifically, we detect the GRPC-ness of requests by matching the `content-type` header. When the value begins with `application/grpc`, we treat the stream as gRPC; and otherwise it is handled as plain-old HTTP. You can get these details by add

[2020-09-15 00:15] binnie268 commented on #3697
I am having the same issue with loading all the javascript files related to linkerd dashboard when exposing a mapping with ambassador. my https://example.com/ route is routing to my angular web application - which is the default. when i do https://example.com/linkerd-dashboard as the prefix - it fails to load the linkerd index file - it stays on my web application’s index file. index-bundle.js is

[2020-09-15 04:41] Abrishges opened #4973 "Pods are suddenly getting stuck in crash loop (edge-20.9.1)"
## Bug Report

### What is the issue?
Upgrade our linkerd version from stable-2.7.1  to edge-2.9.1 was resulting application container going into a crash loop. Crash loop happened to many of our application pods in many regions, but it’s happened in few pods in a namespace. Crash loop happened to few pods in some namespace.

### How can it be reproduced?
1. upgrade linkerd to edge-2.9.1
2. redeplo

[2020-09-15 04:46] Abrishges commented on #4674
Thank you @zaharidichev  We rolled  back due to pods stacking in crash loop after upgrade. Opened up an issue #4973

[2020-09-15 08:35] #4786 closed

[2020-09-15 14:00] zaharidichev commented on #4973
@Abrishges I tried to reproduce the problem and could not. You are right that the endpoints changed. This should not be a problem though because the pods get reinjected with the the correct endpoints specified. Any of thesefailing pods been injected  by using the `--manual` option ?

[2020-09-15 17:16] Abrishges commented on #4973
@zaharidichev  proxies are auto injected.  I found this proxy log from crash looped pod
[code]
[code]

-

[2020-09-15 20:04] Abrishges commented on #4973
@zaharidichev  @ihcsim  On release [edge-2.4.4 ](https://github.com/linkerd/linkerd2/releases/tag/edge-20.4.4), the Linkerd proxy endpoint for liveness is changed to use the new **/live** endpoint instead of the **/metrics** endpoint. However on edge-release I am using ([edge-2.9.1](https://github.com/linkerd/linkerd2/releases/tag/edge-20.9.1)), kubectl describe and logs from debugging sidecar sho

[2020-09-15 20:31] sbvitok opened #4976 "annotation for DISABLE_PROTOCOL_DETECTION"
Currently we have annotation **config.linkerd.io/skip-outbound-ports** for skip port redirect in init container.
But if I do not want skip port redirect but only DISABLE_PROTOCOL_DETECTION for server-speaks-first protocols on non standard port.
**linkerd2-proxy** have environment variables:
LINKERD2_PROXY_INBOUND_PORTS_DISABLE_PROTOCOL_DETECTION
LINKERD2_PROXY_OUTBOUND_PORTS_DISABLE_PROTOCOL_DETEC

[2020-09-16 00:16] cpretzer commented on #4913
@pankajmt I looked through the describe output and there are a few differences but nothing that I would expect to cause this behavior.

Can you send me the output from these two commands:

`gcloud beta compute networks describe poc-net --zone=australia-southeast1-a`
`gcloud beta compute networks subnets describe poc-gke-3 --zone=australia-southeast1-a`

[2020-09-16 00:46] pankajmt commented on #4913
@cpretzer Guess what, I just deleted the cluster yesterday as it was not in use for long as I am busy with other things and did not have the right security controls :-)

But I have the code for it

`resource "google_compute_network" "vpc_network" {
  project                         = var.project
  name                            = local.net_name
  description                     = "POC VPC"
  rout

[2020-09-16 03:53] cpretzer commented on #4913
Thanks @pankajmt this output looks a bit different than the output that I have for the networks associated with my private cluster.

I've sent the cluster, nodepool, network, and subnetwork descriptions as YAML to your email

[2020-09-16 12:06] zaharidichev commented on #4973
Alright. This is quite strange to me. Your proxy image is the correct one, and on this version of linkerd the proxy template is with the correct endpoint. Somehow though your  Liveness endpoint is still pointing to `/metrics`. I wonder how is that possible. Did you wait for the control plane components upgrade to fully finish before you rolled your application deployments? Could it be the case tha

[2020-09-16 12:26] twendt opened #4977 "Cert expiration in helm chart for auto generated sp-validator, proxy-injector and tap"
The helm chart uses a fixed cert expiration of 365 days for the proxy injector, sp-validator and tap. Does that mean that the cert has to be manually renewed after 365 days?

Here is the link to the code in the sp-validator helm template:
https://github.com/linkerd/linkerd2/blob/599872815884f6b5dd5eddcad0af4a57b4248ad7/charts/linkerd2/templates/sp-validator-rbac.yaml#L45

[2020-09-16 14:36] #4963 closed

[2020-09-16 16:20] ihcsim commented on #4977
Yes, the `linkerd upgrade` and `helm upgrade` commands can be used to renew those certs. See https://linkerd.io/2/tasks/rotating_webhooks_certificates/. Also, some folks in the community have been trying to put together steps on how to automate this with cert-manager.

[2020-09-16 17:44] twendt commented on #4977
Great, thank you. That was exactly the hint I was looking for.

[2020-09-16 17:50] #4977 closed

[2020-09-16 18:54] Abrishges commented on #4973
@zaharidichev  Linkerd components upgrade fully completed a day before and pods start to crash loop during deployment or during pod restart.  The proxy from linkerd seems to fail to start for some weird OS panic issue (OS error 107). any idea why this is happening ?