[2020-12-07 22:53] adleong commented on #5338
As far as I can find, this annotation is not read anywhere in the Linkerd2 codebase.  It's possible that this annotation is useful information to the end user.  However, users could also just look at the tag of the container image itself, which would be more authoritative.

[2020-12-07 23:05] olix0r commented on #5338
I wanted to use this value to wire it through into metric export. I think it's valuable.

[2020-12-07 23:47] kivagant-ba commented on #5298
We run into the same issue. It probably happens when some pods get a `stable-2.9.0` proxy while older pods still have _some of the older versions_ (in our case it is `2.7.1`).

[2020-12-08 01:19] adleong commented on #5292
(copied my questions from Slack)

so I think this is the external issuer case, correct?  e.g. cert-manager

when you install Linkerd with the CLI, it automatically copies the ca bundle from the cert-manager created secret into the Linkerd config.  so those values are supposed to match exactly

if installing with Helm you have to do this yourself

the ca cert bundle in the Linkerd config is what’s

[2020-12-08 06:47] cypherfox commented on #5292
The check will fail when you work through the manual trust anchor rotation as documented (https://linkerd.io/2/tasks/manually-rotating-control-plane-tls-credentials/), as the `ca.crt` will only contain the upper part of the cert chain from the identity issuer to its root, while the field `global.identityTrustAnchorsPEM` of the linkerd config will contain two root certs.
This case would be relative

[2020-12-08 07:38] joakimr-axis commented on #5337
Ok, I have made a suggestion PR in #5347 now!

[2020-12-08 08:56] s4got10dev commented on #2901
@grampelberg can you provide some update on this one? is it somewhere on roadmap?

[2020-12-08 14:56] alpeb commented on #5341
I'll check exactly how long that delay is. Nevertheless, I think a cleaner fix would be having the injector restart, like you suggest. That is actually sufficient to fix this, even without the dynamic cert reload (which is not trivial to cherry-pick into 2.9.1 btw).

[2020-12-08 15:12] dkulchinsky commented on #5344
just a quick update, both workarounds mentioned above "fix" the issue:
1. skip outbound port 6379
2. revert to 2.8.1

[2020-12-08 15:28] alpeb opened #5348 "Stop publishing the `linkerd2-multicluster-link` chart"
That chart only serves as a repository of templates used by the `linkerd multicluster link` CLI command and cannot be installed by itself through `helm install` because it doesn't contain the `cluster-credentials` secret nor the `Link` CR that need to be generated dynamically.

This is just a matter of removing one line in `bin/helm-build`

[2020-12-08 20:01] adleong commented on #5292
I'm having a hard time following exactly what the scenario is here.  The check that you mention is only used when there is an external identity issuer (e.g. cert-manager).  The manual cert rotation docs don't cover how to rotate cert-manager's root certificate.

So it sounds like you're adding the multi-cert CA bundle to the Linkerd config with the intention of rotating the root credentials for ce

[2020-12-08 20:18] cypherfox commented on #5292
Yes, I am adding a multi-cert CA bundle, because that is (IMO) the only way to rotate the trust anchors without a down time.

And regardless of the fact whether linkerd actually *needs* the `ca.crt` to be correct, the test is there and will stop the program when it does not succeed.

I think the test is pretty usefull, especially when rotating the anchors, as it will tell you when you a) have adde

[2020-12-08 20:34] olix0r commented on #5298
I'd be especially curious to see the output of a proxy with a log level like `linkerd2=debug,linkerd2_proxy_http=trace`.

The code in question is here: https://github.com/linkerd/linkerd2-proxy/blob/100a6b324452442837f9fae122c82584d87bd54a/linkerd%2Fproxy%2Fhttp%2Fsrc%2Fh1.rs#L106-L107

It sounds like we're somehow incorrectly marking a client in absolute-form? It seems less likely--though entirel

[2020-12-08 22:53] sagilson opened #5350 "502: Bad Gateway error due to linkerd-proxy 'Bad certificate' TLS error"
## Bug Report

### What is the issue?
We have a kubernetes cluster that uses linkerd to encrypt traffic between pods using the linkerd-proxy. We also have a nginx container within our deployment that handles routing traffic. When we deploy our our service on the kubernetes cluster, there are no issues for a seemingly random amount of time (anywhere between 1hr to 1 week). The nginx container is co

[2020-12-08 23:25] adleong commented on #5292
Makes sense.  I'd be in favor of moving the check which compares `ca.crt` and `global.identityTrustAnchorsPEM` to its own line item and make that item a warning instead of an error.

[2020-12-09 00:25] adleong opened #5352 "heartbeat cron should get metrics from linkerd-viz extension when available"
The heartbeat cron job currently gets cluster metrics from Prometheus.  However, Prometheus will no longer be available in the core control plane once it moves to the linkerd-viz extension.  To prepare for this, we should add a GetHeartbeatMetrics method to the public-api (which will move to the metrics-api).  This method will fetch the appropriate metrics from Prometheus (either the bundled prome

[2020-12-09 01:53] keyhana opened #5354 "Web index does not show error if api call is failed"
## Bug Report

### What is the issue?
When the web component fails to call Linkerd API the index handler shows a blank page instead of showing an error message.

### How can it be reproduced?
Run the component with the wrong api-addr argument and try to open the index page.

### Logs, error output, etc
```ERRO[2020-12-09T05:09:44+03:30] template: app.tmpl.html:3:33: executing "content" at <.Data.R

[2020-12-09 04:35] cpretzer commented on #5354
Thanks for this issue and the PR @keyhana. I'm testing this now.

Can you tell me how you installed Linkerd? I'd like to understand how the `--api-addr` setting was set incorrectly

[2020-12-09 06:02] olix0r commented on #5298
I spent some time trying to reproduce this manually by sending a mix of absolute-form and relative-form requests, but this wasn't enough to trigger the issue. If someone has a reproducible case, I'd be especially eager to capture the log messages from the modules `linkerd2_proxy_http::h1` and `linkerd2_proxy_http::normalize_uri` (at trace level, per the above-mentioned log configuration).

[2020-12-09 10:28] pengux opened #5356 "In k8s cluster, linkerd-identity may get descheduled when scaling down the cluster"
## Bug Report

### What is the issue?
As there is no `priorityClassName` set for the `linkerd-identity` deployment, it may get descheduled completed if the cluster is scaled down and worker nodes are removed. This will prevent the `linkerd-proxy` from working when the cluster is scaled back up again.

### How can it be reproduced?
1. Install `linkerd2` in a Kubernetes cluster with 3 worker nodes w

[2020-12-09 11:06] keyhana commented on #5354
@cpretzer Thanks for testing this.
Actually, I was exploring the code base and tried to run the web component alone when I saw this issue.
Otherwise, Linkerd is working fine in our cluster.

[2020-12-09 14:12] #5337 closed

[2020-12-09 14:36] yaron-idan commented on #5348
Are there any plans to publish a chart that can support these resources? Would it be baked into the multicluster chart or stay outside of the chart responsiblity?

[2020-12-09 15:28] alpeb commented on #5343
Internal note: It appears the gateway hostname couldn't be resolved [here](https://github.com/linkerd/linkerd2/blob/377b38f0bfb83421a3b74434aea43188810a0d01/multicluster/service-mirror/cluster_watcher.go#L676-L689) for some reason. It might prove useful to at least log the error there.

[2020-12-09 15:41] lundbird commented on #5298
We also ran into this issue with out setup. The warn message above was intermittent but caused 502 in the injected apps. Fixing was as simple as restarting the existing injected applications to ensure they get the latest proxy sidecar.

[2020-12-09 16:38] yfried opened #5359 "Multicluster fails on EKS cluster when created with helm chart"
## Bug Report

### What is the issue?
`linkerd check` reports:
[code]

### How can it be reproduced?
Deployed using `linkerd2` (`v2.9.0`) and `linkerd2-multicluster` (`edge-20.12.1`)
The link was deployed using cli according to tutorial

### Logs, error output, etc

[code]

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.17
- Cluster Environment: EKS
- Linkerd

[2020-12-09 18:10] yfried commented on #5359
Looks like I was missing the following value from `linkerd2-multicluster` helm chart:
[code]
This made it work

I'm super new to this, so I'm not sure if I missed something in the doc or not

[2020-12-09 19:19] KIVagant commented on #5331
We also noticed thousands of errors after upgrading to 2.9.0. They appeared when we redeployed pods with the newer proxy sidecar. There are no visible application errors, but a lot of proxy errors like this:

[code]

5432 is a PostgreSQL port. We don't filter out postgres ports in `skip-outbound-ports`. And it was not necessary with **linkerd-proxy** 2.7.1. Is it necessary now?

[2020-12-09 19:58] adleong commented on #5356
Thanks for the PR, @pengux!  Before I review that, I wanted to ask some higher level questions here about the issue itself.

Linkerd does not support scaling clusters down below 3 nodes when in HA mode.  We cannot provide HA guarantees for clusters of that size and so HA mode is not appropriate for any cluster which may get scaled down below 3 nodes.  What exactly is your use-case here?

[2020-12-09 20:09] alpeb commented on #5359
Thanks @yfried :+1:  This is an omission on our side so I'm reopening until it gets addressed.

[2020-12-09 20:17] alpeb commented on #5359
This actually got recently fixed by #5346 which was already merged into `main` and I'll merge into `release/2.9` to include it in the `2.9.1` release.

[2020-12-09 20:17] #5359 closed

[2020-12-09 20:23] #5342 closed

[2020-12-09 21:22] adleong commented on #5058
When an API error happens, can we print our own error message and then use `os.Exit(1)` to avoid cobra printing the usage message?  We should try this and see if it works...

[2020-12-09 21:32] kleimkuhler commented on #5058
Yep I just tested this and it seems to work for this case.

I changed `edges` command to `os.Exit(1)` right away. It still prints usage if you don't pass the correct number of arguments, but once it validates that correctly then it just immediately exists without printing the usage text.

[2020-12-10 08:37] pengux commented on #5356
Our use-case is to be able to scale down dev clusters to save cost, also being able to recycle nodes. From the slack thread, we already know that this is not currently supported in Linkerd2 yet. This change is one step to support it though.

[2020-12-10 13:27] yfried opened #5360 "In multicluster, TrafficSplit routes traffic to services with no endpoints"
## Bug Report

### What is the issue?
If a service in either remote or local cluster has no endpoints (crashloop, scale=0, etc...), the TraffciSplit object continues to route traffic to it.

### How can it be reproduced?
1. Follow the multicluster tutorial and [install the test service](https://linkerd.io/2/tasks/multicluster/#installing-the-test-services)
2. Create TrafficSplit with 50:50 ratio
3

[2020-12-10 13:33] svmaris commented on #5298
We've had the same issue when we upgraded from 2.8.1 to 2.9.0. The control plane was updated, *some* pods were restarted and got the new proxy, but some didn't (which was our own fault btw).

Using curl from an unmeshed Alpine pod worked fine, but requests coming from another pod failed with the reported error. So I *think* this only occurs when a 2.9.0-enabled Pod talks to a service that's still

[2020-12-10 14:55] alpeb commented on #5360
TrafficSplit only lets you declare where to route your traffic. It doesn't imply just by itself any kind of health checks on the services that would shift traffic depending on their health. For that, you can pair up with other tools. For example in the context of progressive delivery (canary deployments) there exists an integration with [Flagger](https://flagger.app/).

[2020-12-10 16:28] alpeb commented on #5348
The `cluster-credentials` secret generated as part of `linkerd multicluster link` contains the credentials for the source cluster to connect to the target cluster, so it can watch for the services being exported. That can't be generated solely through Helm templates and thus has to rely on the CLI command.

[2020-12-10 16:56] #5341 closed

[2020-12-10 18:32] Pothulapati commented on #5344
Hey @dkulchinsky, It would be awesome if you could provide further information that can help us deubg the issue. Some of the following could be helpful.
- [Debug logs from the proxy](https://linkerd.io/2/tasks/modifying-proxy-log-level/)
- Also, Does this happen with a specific pattern or random? Does this occur right away once the application starts? 🤔

[2020-12-10 19:24] adleong commented on #5356
Does this happen when HA mode is not enabled, or only with the HA flag?  I would say that HA mode should definitely be disabled for any cluster that you plan to scale down.  If this issue happens for clusters which are not in HA mode, more investigation is required to find out why this is happening.  I would expect that even without setting a priority class, the linkerd-identity deployment should

[2020-12-10 19:26] kleimkuhler commented on #5350
Hey @sagilson! I have a few questions as this could be from any one of multiple things.

1. Do you have an application you care share that reliably reproduces this? I see that the timeframe it occurs is anywhere from 1 hr to 1 week, but thought I'd check!
2. Does `linkerd check --proxy` report everything as okay?
3. If you look at the pod YAML for the Linkerd destination and identity pods, do thei

[2020-12-10 19:27] adleong commented on #5331
Is your PostgreSQL service headless?  If so, this sounds like https://github.com/linkerd/linkerd2/issues/5209.  This issue caused problems when talking to headless services in stable-2.9.0.  It has since been fixed and you can try out the latest edge release to see if it resolves the problem.  The fix will be included in the stable-2.9.1 patch release.

[2020-12-10 19:28] adleong commented on #4308
I'm going to close this from inactivity, but please re-open (or file a new issue) if you can reproduce this in a testbed or have any additional information to provide.

[2020-12-10 19:28] #4308 closed

[2020-12-10 19:37] #5315 closed

[2020-12-10 23:40] rish-onesignal opened #5368 "Linkerd-cni helm chart missing tolerations"
## Bug Report

### What is the issue?

The linkerd-cni helm chart does not have the ability to add tolerations. This prevents the daemonset from being installed on tainted nodes.

### How can it be reproduced?

Taint a node and then attempt to install the linkerd-cni helm chart.

### Logs, error output, etc

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the lin

[2020-12-11 06:09] prasus commented on #5331
Thank you @adleong 👍🏿  I went through the logs and it seems like we are having these messages for **non-headless** service targets as well.

[code]
The `target.addr` (PostgreSQL) is a non-headless service.

[code]
I will plan for an update once we have the `stable-2.9.1` patch release available and will keep you posted on this. Thanks! 🙂

[2020-12-11 11:36] naseemkullah opened #5371 "[prometheus add-on]: alertManagers or alertmanagers ?"
https://github.com/linkerd/linkerd2/blob/c19cfd71a12bd0cb033e9a494a3e86a8a3e46c2f/charts/add-ons/prometheus/values.yaml#L31

Noticed after alertmanager integration was not working post 2.9.0 upgrade that it has been camelCased i.e. two words (`alertManagers`), upon porting to add-on. Is this intentional, if not, is it worth changing back to one word (`alertmanagers`) ?

[2020-12-11 13:55] #5348 closed

[2020-12-11 13:59] kleimkuhler commented on #5371
@Pothulapati Do you remember if this was an intentional change when moving to an add-on?

[2020-12-11 15:06] dkulchinsky commented on #5344
Hey @Pothulapati, sure - I'll work on gathering all that.

Would logs be needed from the client or server (redis) proxy as well?

as for the pattern, it's a bit difficult to pin point, but it looks like this happens after some time of inactivity on the client side, since it's an async worker scheduling service it's a bit of challenge to follow.

[2020-12-11 16:41] olix0r opened #5372 "proxy: Expire transport metrics"
The proxy now exposes transport metrics with per-endpoint metadata; but, unlike http metrics, these metrics are never dropped. So  an application that has communicated with a now-defunct pod will continue to expose metrics about that pod indefinitely.

We should extend metrics retention/expiration logic to transport metrics so defunct metrics are dropped.

[2020-12-11 16:43] Pothulapati commented on #5344
@dkulchinsky Client logs is the important part, as thats where the error seems to be. the redis proxy logs would be helpful too, if included.

Yep, I will also try running the stuff that you mentioned in the issue, and see if I'm able to reproduce.

[2020-12-11 16:51] Pothulapati commented on #5371
[Looks like the configuration is still used in the templates as `alertmanager` only](https://github.com/linkerd/linkerd2/blob/main/charts/add-ons/prometheus/templates/prometheus.yaml#L159). It's only the field name that is wrong in `values.yaml` which was [added incorrectly in the automatic readme generation PR](https://github.com/linkerd/linkerd2/pull/5316/files?file-filters%5B%5D=.golden&file-fi

[2020-12-11 16:53] Pothulapati commented on #5371
Also, As the `values.yaml` of add-ons are not public facing. This should not effect the users much. These are only used for the generation of readme now, and we can update the readme to reflect the same? 🤔

[2020-12-11 17:01] anshgodara opened #5373 "Unable to setup multi-cluster using k3d clusters"
## Bug Report

### What is the issue?
Unable to setup multicluster following guide at https://linkerd.io/2/tasks/multicluster/#linking-the-clusters
### How can it be reproduced?
I have attached script which i used to create the clusters.
https://gist.github.com/anshgodara/b735562d0b46a73999eb6d7c021a4919#file-linkerd_multi-sh
### Logs, error output, etc
I have attached the detailed log file which

[2020-12-11 17:02] Pothulapati commented on #5371
As per the conversation with @alpeb, #5316 did land in the `2.9.*` release branches, So This should not effect any users.

@naseemkullah This means that the alert manager stuff should just work normally without any changes. Can you check if the configuration is correctly being propogated into `linkerd-prometheus-config`? 🤔

[2020-12-11 17:05] naseemkullah commented on #5371
from 2.8.x to 2.9.0 the flat values moved to nested values, and we remapped our grafana and prometheus values accordingly (nested the flat values).

The one oversight/surprise was that alertManagers was camelCased i.e. two words, while I missed it on my end, it should be known that alertmanager is stylized as one word

configuring `prometheus.alertmanagers: [my config here]` did not work (well hel

[2020-12-11 17:20] Pothulapati commented on #5371
@naseemkullah Yep, My bad. Can confirm that `alertManagers` is how that field is used with `2.9.x`. This got changed with the add-ons change and not the docs generation change. Probably because we use camelCase everywhere.

We can update this to reflect how prometheus mentions alertmanager i.e `alertmanager` and not `alertManager` but that won't be for the `2.9.x` release.

[2020-12-11 17:34] glenjamin commented on #3342
Is this actually `wontfix`?

I've been trying to find an issue I can subscribe to for future Access Control work, but so far i've only found https://github.com/linkerd/linkerd2/issues/4647 and this one.

[2020-12-11 18:14] naseemkullah commented on #5371
Thanks @Pothulapati , I can submit a PR, but I'd like to know should we just make the breaking change from `.Values.prometheus.alertManagers` to `.Values.prometheus.alertmanagers` or go through the trouble of supporting both for a period of time? I'm under the impression that this feature is not widely used today (though it should be it is great!), but I do not have numbers to prove this.

[2020-12-11 21:06] KIVagant commented on #5331
It's RDS, lives not in Kubernetes.

[2020-12-11 21:13] adleong commented on #5260
Looks like this is already done.

[2020-12-11 21:13] #5260 closed

[2020-12-11 21:40] alpeb opened #5374 "Service mirror not honoring `requeueLimit`"
## Bug Report

### What is the issue?

When a (retryable) error occurs in the service mirror it keeps on getting retrying indefinitely. In theory in should be requeued only up to (by default) 3 times.

### How can it be reproduced?

Run the `multicluster` integration test disabling tearing down the clusters, so we can further work with the clusters after the test finishes, replace the `gatewayAddr

[2020-12-11 22:02] alexklibisz commented on #5183
@olix0r I actually get a proper UNAVAILABLE status when using edge-20.11.5, which is an improvement over stable-2.9.0. It still says `proxy max-concurrency exhausted`, which doesn't make sense. For context, I'm simulating some error scenarios by killing grpc service pods and checking that the clients return reasonable errors.

[2020-12-11 22:29] alpeb commented on #5373
If you check the credentials `east` is using to connect to `west`, you'll see it's trying to hit `https://0.0.0.0:6440`:
[code]
This comes from k3d clusters exposing their server addresses as 0.0.0.0 in their kubeconfigs.
To circumvent that, when creating the multicluster link, you actually need to specify the IP of the LoadBalancer IP exposed by Traefik:
[code]
We have an integration tests using

[2020-12-12 01:02] #5334 closed

[2020-12-12 21:05] #4855 closed

[2020-12-13 06:57] halcyondude commented on #3704
We're using `oauth2-proxy` combined with `nginx-ingress` to provide authenticated access to the linkerd 2.8 dashboard (in our case on EKS).  Has there been an enumeration of concerns, RFC, or (rough) design re: implementing authorization using JWT?  We'll do a bit of source diving to assess, but if there's existing collateral that would be great to start with 👍

[2020-12-13 19:44] naseemkullah commented on #5371
Thanks @Pothulapati https://github.com/linkerd/linkerd2/pull/5377 opened PTAL 🙏

[2020-12-14 08:40] leghissa commented on #5356
This specific issue is independent from HA mode, it was happening also when we had HA mode disabled.
The problem is that when we scale down to 1 node the resources on that node are not enough to successfully schedule all the pods(we don't mind because nobody is going to actually use the cluster). And given that the `linkerd-identity` pod has priority 0 it doesn't get rescheduled.
The idea was to i

[2020-12-14 09:12] byrnedo commented on #5298
We also get this when a 2.8.1 proxied pod tries to talk to a 2.9.0 proxied pod.

[2020-12-14 11:16] cypherfox opened #5379 "Expose identity certificate validity period in proxy metrics"
## Feature Request

### What problem are you trying to solve?
When the identity certificate of the proxy fails to renew its certificate before the end of its validity period, communication between injected pods will fail. And only a restart of the pod will heal this.

Due to the failure not occurring neither within the application service code, nor the client connecting to the service, this makes

[2020-12-14 11:56] jimil749 commented on #4459
But I think in the latest release, the CLI no longer supports the `get` command, so we need to introduce a new `identity` command for this, right?

[2020-12-14 16:29] adleong commented on #3704
@halcyondude I think most of the discussion on JWT has been here on this issue.  Using `oauth2-proxy` with `nginx-ingress` to provide authenticated access to Linkerd's dashboard seems like a reasonable solution to me.  Is there a shortcoming of that solution?

[2020-12-14 16:34] adleong commented on #5356
Interesting!  I would expect that once the cluster is scaled up again, that the `linkerd-identity` pod would get scheduled when resources become available and the cluster should resume working (though perhaps any Linkerd pods which got scheduled while the `linkerd-identity` pod was unavailable might need to be restarted).  Let me try this and get back to you.

[2020-12-14 16:36] hakanmhmd opened #5382 "linkerd proxy: DNS refinement timed out"
### Bug report

**What is the issue?**

When coredns pods inside a k8s cluster restart, we start seeing application failing with DNS resolution errors.
We are unsure if the issues is in CoreDNS deployment or is linkerd proxy unable to stop sending DNS queries to killed/restarted core dns pods.

**How can it be reproduced?**]

N/A

**Logs, error output, etc**

Thousands of
[code]

**linkerd check o

[2020-12-14 17:22] adleong commented on #5379
Potentially related: https://github.com/linkerd/linkerd2/issues/4459

Another way to address this problem would be for the `linkerd check --proxy` command to connect to each pod and check the certificate.

[2020-12-14 17:22] adleong commented on #4459
@jimil749 that's correct

[2020-12-14 17:25] adleong commented on #5382
Hi @hakanmhmd, that `linkerd check` output suggests that the Linkerd control plane is not installed.  The Linkerd proxy will not work without the control plane installed.

[2020-12-14 18:29] adleong commented on #5356
I tested this by first scaling the `linkerd-identity` deployment down to 0 replicas.  Then I attempted to deploy the emojivoto app, injected with the proxy.

As expected, the Linkerd proxy container in the emojivoto pods do not become ready.  The proxy logs contain this message over and over:

[code]

I then scaled the `linkerd-identity` deployment back up to 1 replicas.  Shortly after, this messa

[2020-12-14 18:33] cypherfox commented on #5379
But that would in principle still be an external polling, which I would then pump into prometheus anyway, in order to make it available for alerting.

I do agree that this would be usefull in `linkerd check`. But connecting to each proxy, especially if a lot of them are broken and the connection is failing, would take a very long time. I am not sure if integrating all of that into the `check` subc

[2020-12-14 18:39] hakanmhmd commented on #5382
Hi @adleong Sorry i posted the wrong output. I have fixed it now. The control plane is installed and working. The only issue is i am getting heartbeat missing but i think thats ok

[2020-12-14 18:57] barkardk opened #5384 "Support server speaks first protocol linkerd2"
## Feature Request
Since 2.9 mTLS for TCP connections is now supported and can be verified using linkerd edges command.
Server speaks first protocols such as mysql and smtp , still do not work  though.
In linkerd2 slack space there are several mentions that mTLS for TCP connections where server initiates the connection as with mysql and smpt, will be released in version 2.10.
No issue has ben crea

[2020-12-14 19:04] olix0r commented on #5384
https://github.com/linkerd/linkerd2/pull/5294 adds support for an `opaque-ports` annotation so that the proxy can discover whether the target workload should be handled opaquely (i.e. for server-first protocols). The proxy-side support for this annotation has already been implemented.

Following #5294, we plan to add a "connection header" to such streams so that we can transport these connections

[2020-12-15 00:22] borchero commented on #5344
I encountered a similar issue when deploying Redis Cluster on a cluster running Linkerd 2.9.0. The issue was resolved by adding the following annotations on the Redis Pods:

[code]

[2020-12-15 05:37] siggy opened #5385 "linkerd upgrade --ha fails with "failed to read CA: not PEM-encoded""
## Bug Report

### What is the issue?

`linkerd upgrade --ha` fails on `edge-20.12.3`

### How can it be reproduced?

Command succeeds prior to this commit, fails with it: https://github.com/linkerd/linkerd2/commit/35612ae26823a9dfec51facc927f1b68051cd255

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.18.2
- Cluster Environment: AKS
- Host OS: Linux
- Linke

[2020-12-15 09:59] anshgodara commented on #5373
Hey Alejandro,
Thanks for your support.
I managed to correct the setup the way you explained. But I am still seeing few error as listed below. Any pointers around it?

--------------------
√ Link CRD exists
√ Link resources are valid
	* east
W1212 21:57:18.751024   37419 transport.go:260] Unable to cancel request for promhttp.RoundTripperFunc
× remote cluster access credentials are valid

[2020-12-15 12:13] glitchcrab opened #5386 "Remove the use of emptyDir for proxy sidecars"
## Feature Request

### What problem are you trying to solve?

All clusters we manage have least-privileged PSPs applied, and the clusters all have heavily restricted PSPs in place by default. Currently in order to use Linkerd (with the CNI) we need to modify every PSP to allow emptyDir or the proxy sidecar cannot start.

Discussed briefly with grampelberg here: https://linkerd.slack.com/archives/

[2020-12-15 13:30] yaron-idan opened #5387 "Failover controller for trafficsplit objects"
## Feature Request
We are using trafficsplit to route local traffic flowing within our cluster to a remote cluster linked using linkerd-multicluster, and would like the weights to be set in a way that will only route traffic to the local cluster, and shift all traffic automatically to the remote cluster in case all endpoints in the local service are unhealthy.

### What problem are you trying to s

[2020-12-15 14:53] alpeb commented on #5385
@siggy from my testing, I do get the same error with code bases prior to `35612ae` :man_shrugging:

The error does make sense to me though... I assume you installed via Helm in order to set up cert-manager, via `--set identity.issuer.scheme=kubernetes.io/tls`? After 2.9 it's no longer possible to install via Helm and then upgrade through the CLI. This was done in order to simplify the upgrade logi

[2020-12-15 16:39] alpeb commented on #5373
Can you update your script so I can try replicating the issue exactly as you did?

[2020-12-15 18:18] adleong commented on #5386
Hey @glitchcrab!  To give some context around how the empty dir is used: when the proxy container starts up, a [small Go script](https://github.com/linkerd/linkerd2/tree/main/proxy-identity) runs which generates the private key and certificate signing request (CSR) for the proxy and writes them to that emptyDir for the proxy to read.

We do this in Go to keep our certificate generation code unifor

[2020-12-15 18:54] n-oden opened #5391 "Elasticsearch cannot establish a cluster w/ linkerd >= 2.9.0"
## Bug Report

### What is the issue?

After upgrading from edge-20.7.5 to 2.9.0, our elasticsearch (v5) statefulset is no longer able to establish a cluster; the problem appears to be that connections between the nodes get terminated during the TLS handshake.

### How can it be reproduced?

The attached Helm chart installs an ES 5.6.16 statefulset. (You will need to unzip it before applying it.)

[2020-12-15 19:54] cpretzer commented on #5391
Here's a [gist](https://gist.github.com/cpretzer/7cfd9f2f4e3c36f5f8ab85c570d0d427) of the trace log output where I've reproduced this

[2020-12-15 20:05] zaharidichev commented on #5385
@alpeb @siggy We have not used Helm at all. When transitioning to cert manager, what I did is uninstall Linkerd and then install it through the CLI again with the external issuer option. So is there a reason then for this not to work?

[2020-12-15 21:00] acobaugh commented on #5385
Seeing the same error when upgrading with the CLI from 2.9.0 to 2.9.1:

[code]

This linkerd installation was installed may minor versions ago, and we've only ever used the CLI. We installed it thusly, after pre-creating the CA and issuer certs and keys:
[code]

I saw #5263, but we don't have a `secret/linkerd-config-overrides`, so maybe unrelated.

[2020-12-15 21:35] alpeb commented on #5385
@acobaugh I couldn't reproduce your issue by installing 2.9.0 using the command you pointed out and then upgrading to 2.9.1. Are you sure you didn't use `--identity-external-issuer` in your original install?  You can find out by looking into `kubectl get cm linkerd-config -oyaml` under `data.identity.issuer.scheme` (should be `kubernetes.io/tls` if you did use an external issuer).

[2020-12-15 21:45] acobaugh commented on #5385
My scheme is `linkerd.io/tls` in the configmap.

[2020-12-15 22:30] alpeb commented on #5385
We found there's indeed a bug when using the `--ha` in `linkerd upgrade`. Although your issue @acobaugh I still can't figure out. To begin with, when you upgraded to `2.9.0` the `linkerd-config-overrides` secret should have been created. How does `linkerd check` look like?

[2020-12-15 23:05] electrical opened #5393 "page for collection of production best practices"
## Feature Request

It would be great to have a page in the documentation that gives all the best practices ( links to existing articles perhaps ) for a production quality setup.
Since there are different components to linkerd it can be sometimes a bit confusing what would be best for a production ready setup.
Some of them would be the automatic rotation of certificates and the HA installation. I'

[2020-12-15 23:23] adleong commented on #5393
Sounds useful, though a little bit subjective.  What "production ready" means can vary a lot depending on individual needs.  Are you interested in contributing this page?  I'd recommend opening and issue or PR on the https://github.com/linkerd/website repo.  Alternatively, this might make for a really excellent blog post if you're interested in writing something like that.

[2020-12-15 23:24] acobaugh commented on #5385
`linkerd check` all checks out. If this is a different bug, I can create another issue rather than hijack this one.

[code]

[2020-12-15 23:32] adleong commented on #5387
@yaron-idan this is a really cool idea and I think should be well supported by Linkerd's multicluster and trafficsplit functionality.  Even better, it should be possible to build this operator without making any changes to Linkerd itself.  The operator would simply need to monitor prometheus metrics and then make the appropriate changes to the trafficsplit resources.  This is similar to what Flagg

[2020-12-15 23:34] adleong commented on #5382
@hakanmhmd the heartbeat ServiceAccount error is causing `linkerd check` to exit early, potentially masking other errors.  Can you correct that so that we can see the full `linkerd check` output?

[2020-12-15 23:35] adleong commented on #5379
Yup, I just wanted to point out an possible alternative.  But I agree that having this data in the metrics would be useful.  Are you interested in working on this?

[2020-12-16 06:42] cypherfox commented on #5379
Unfortunately, I cannot, as I don't speak Rust yet. I would like to find the time to finish the things I already started.

[2020-12-16 08:48] flood4life commented on #5391
We're observing the same behaviour with linkerd 2.9.1 (after upgrading from 2.7.1) and Elasticsearch 7.6.2.

Interestingly enough, linkerd 2.9.1 works perfectly fine with Elasticsearch 2.4.6 (\*sigh\* yes, I know), though I'm not sure whether ES 2.4.6 uses the port 9300 connections internally.

[2020-12-16 10:05] electrical commented on #5393
Although I agree it depends on individual needs, i'm sure there are some basic requirements / advice to run this in a production environment. Like the TLS credentials rotation could be considered best practice. I would guess you guys know this much better than I do ;-)
I will be writing blog posts in the future about all the work I'm doing but no timeline on that. But always happy to contribute!
I

[2020-12-16 11:14] kforsthoevel opened #5394 "Traffic stops when two pods have the same IP address"
## Bug Report

### What is the issue?

Traffic to a pod stops when the pod has the same IP address as another pod with state `Completed`.

When I take a look at `target.addr":"100.96.43.254:8080` from the logs and do `kubectl get po -A -owide | grep 100.96.43.254` I get the two pods with the same IP address:

[code]
See: https://github.com/kubernetes/kubernetes/issues/92697

When I delete one of t

[2020-12-16 14:18] alpeb commented on #5343
@yaron-idan we added some extra logging for these type of scenarios in edge-20.12.3 released earlier this week. Would it be possible to install that in an environment similar to the one you have and try reproducing that problem?

[2020-12-16 14:22] alpeb commented on #5360
I'm closing this one in favor of #5387 where a possible operator addressing this is discussed.

[2020-12-16 14:22] #5360 closed

[2020-12-16 15:26] alpeb commented on #5385
@acobaugh thanks for the prompt reply. I could finally reproduce your case as long as I deleted the `linkerd-config-overrides` secret, and the issue is caused by the same bug I mentioned above. However I still can't figure how when you upgraded to `2.9.0` that secret wasn't created. As of that version, the issuer cert key is stored in there (and not in the `linkerd-config` ConfigMap). Without it,

[2020-12-16 16:25] karsten42 commented on #5183
Is there any update on if `stable-2.9.1` helps with this error. I'm seeing the same issue between two meshed go services with around 20 requests per second.
Is it possible to configure the `max-concurrency`? What is it set to by default? I didn't really find anything in the docs about this.

[2020-12-16 17:00] tustvold opened #5398 "Add Support for PodDisruptionBudgets in Helm Chart"
## Feature Request

### What problem are you trying to solve?

When rolling the nodes of the cluster and/or scaling in it is possible for all the control plane pods to be terminated

### How should the problem be solved?

An option to provision PodDisruptionBudgets for the control plane services as part of the helm chart

### Any alternatives you've considered?

I am currently planning to configur

[2020-12-16 17:04] mateiidavid commented on #5210
Hi, I see nobody has picked this up yet. I'd be interested in working on it over the next week(s) if that's ok?

[2020-12-16 19:12] adleong commented on #5394
Hey @kforsthoevel, when this error happens, is it possible for you to get logs from the Linkerd destination controller?  The proxy error that you shared suggests that it is getting an error response from the destination controller so it would be helpful to see those logs.

[code]

[2020-12-16 19:16] adleong commented on #5394
My guess is that we're probably hitting this: https://github.com/linkerd/linkerd2/blob/main/controller/api/destination/watcher/ip_watcher.go#L162

We may need to filter out completed pods from that list.

[2020-12-16 19:18] 01100010011001010110010101110000 commented on #5394
I ran into a similar issue without completed pods, I think this issue exists with pods using `hostPort`, which causes an IP conflict with system pods or anything else using `hostNetwork: true`, even if those pods aren't meshed.

[2020-12-16 19:29] adleong commented on #5394
@01100010011001010110010101110000 we already have special logic to exclude pods with hostNetwork: true.  See: https://github.com/linkerd/linkerd2/pull/4335.  If you're seeing an issue related to hostNetwork pods, please file a separate issue.

[2020-12-16 20:48] acobaugh commented on #5385
We have 5 clusters (2 EKS, 3 on-prem) that were all updated to 2.9.0 that are missing that secret. CLI was used every time, and to the best of my knowledge the same process was used to install and update (in fact, two different people did the updates to 2.9.0).

Just now I was able to reproduce it. Order of events was roughly
* linkerd-2.8.1 install
* linkerd 2.9.0 upgrade
* linkerd 2.9.1 upgrade

[2020-12-16 22:46] #5272 closed

[2020-12-17 00:17] adleong commented on #5393
Cool!  I'm going to close this and I'll keep an eye out for the issue in the website repo.

[2020-12-17 00:17] #5393 closed

[2020-12-17 03:11] alexklibisz commented on #5183
I'm still occasionally seeing max-concurrency errors on 2.9.1. It seems to happen when k8s removes pods which are serving active requests.

[2020-12-17 06:47] olix0r opened #5400 "destination: Indicate support for connection headers"
Now that the proxy has [initial support for reading connection headers](https://github.com/linkerd/linkerd2-proxy/pull/780), the outbound proxy needs a way to discover which streams should be transported with this header.

The destination service should provide an [`OpaqueHeader` protocol hint](https://github.com/linkerd/linkerd2-proxy-api/pull/53) when:
* The endpoint is injected with a proxy;
*

[2020-12-17 08:04] kforsthoevel commented on #5394
@adleong Here are some logs from the `linkerd-destination` during the incident. Just `level=info`

[code]

But what I found is this pattern again in the linkerd-proxy of the linkerd prometheus:

[code]

Followed by hundreds of these messages:

[code]

I hope this help. Let me know if you need further info.

[2020-12-17 08:25] karsten42 commented on #5183
We are still on `stable-2.9.0` and are seeing this constantly, not just in the context of pod removals or restarts.

[2020-12-17 08:51] glitchcrab commented on #5386
Thanks for the explanation @adleong! What's the purpose of the use of the emptyDir over just using the container's filesystem? Is it to preserve the certs between pod restarts? Or are the certs generated each time the pod starts?

[2020-12-17 09:09] purkhusid opened #5401 "Make service profile generation work offline"
Currently the service profile generation from proto/swagger requires that you have access to the k8s cluster that has Linkerd running.

The only reason for this is that currently the cluster domain is fetched from the Linkerd installation on the cluster.

I propose that the `profile` command be updated to support the `--ignore-cluster` flag
I also propose that there should be a flag `--cluster-dom

[2020-12-17 09:55] twDuke opened #5403 "Improve Getting Per-Route Metrics docs"
# Thanks for your help improving the project! #

## Getting Help ##

Github issues are for bug reports and feature requests. For questions about
Linkerd, how to use it, or debugging assistance, start by
[asking a question in the forums](https://discourse.linkerd.io/) or join us on
[Slack](https://slack.linkerd.io/).

Full details at [CONTRIBUTING.md](https://github.com/linkerd/linkerd/blob/main/CO

[2020-12-17 10:41] behrtam commented on #5298
+1 with 2.8.1 to 2.9.0 proxied pod

[2020-12-17 13:51] behrtam commented on #5350
Might be the same as https://github.com/linkerd/linkerd2/issues/5298

[2020-12-17 15:12] #5368 closed

[2020-12-17 17:38] #4822 closed

[2020-12-17 17:38] olix0r commented on #4822
This was done in a recent proxy release.

[2020-12-17 17:41] olix0r commented on #5379
@cypherfox What do you imagine that the metric/value would be? A gauge of remaining time? The timestamp of the expiration time?

I've looked through the prometheus docs and I'm not clear on the best practice is for this type of metric.

[2020-12-17 17:45] kleimkuhler commented on #5210
Hey @mateiidavid you are okay to work on this. I think you'll probably want to wait until #5340 is merged, or at least work on commands that are not part of that change!

[2020-12-17 17:45] olix0r commented on #5382
@hakanmhmd DNS resolution has been removed in the stable-2.9.x release. Are you able to upgrade to stable-2.9.1?

[2020-12-17 17:52] cpretzer commented on #5398
We should check for minimum version requirements for this

[2020-12-17 18:13] olix0r commented on #5350
As far as I can tell, there aren't any logs indicating the absolute-form error mentioned in that issue, so I wouldn't assume they're related unless we are seeing that same error message.

Regarding the error message:

[code]

This indicates that there's a problem communicating with the _control plane_, but I'm not seeing errors related to dataplane (pod to pod) communication. I'd be curious to see

[2020-12-17 18:21] olix0r commented on #5386
@glitchcrab the `emptyDir` ensures that the credentials stay in (tmpfs) memory and permits the proxy container to run with a read-only filesystem--something that is also required by many PSPs.

In the rare case where the proxy restarts, the proxy will use the existing credentials; though that use case isn't particularly important. It's mainly intended to have a clear scope for mutable data so the

[2020-12-17 18:29] jimil749 commented on #4459
So I thought of giving this a shot. What I've been able to achieve as of yet is following:
- Since the `get` command is no longer supported, I added a identity command, which currently works for a single pod. (`linkerd identity pod/<pod-name>` gets the certificate for mentioned pod)
- I used go's `X509.Certificate` struct type for the certificates, so the output may differ in some aspects compared

[2020-12-17 18:31] adleong commented on #5210
Actually, this issue is probably going to be fixed automatically as a side effect of the Linkerd extension work that is being done.  For example, all of the viz CLI commands will be moved into the `viz` directory and all of the multicluster commands have been moved into the `multicluster` directory, and so on.

I don't think there are any other Linkerd subcommands other than the ones which are mov

[2020-12-17 18:35] cpretzer commented on #5401
@purkhusid thanks for pointing this out. We'd love your help with this, if you're up for submitting a PR

[2020-12-17 18:48] cpretzer commented on #5398
@tustvold if you're up for submitting a PR that would be really helpful!

[2020-12-17 19:21] gokcesurenkok opened #5405 "When service label selector is changed under traffic , linkerd prevents outbound traffic"
## Bug Report

### What is the issue?
we have blue/green deployment strategy in our services. After we deploy the new release and switch the service by changing the selector of  k8s service, we are having downtime since none of the outbound traffic cannot be sent through linkerd. It continues for a minute, then it recovers.

### How can it be reproduced?
It seems to be happening with the services

[2020-12-17 19:28] olix0r commented on #5379
After some discussion, I'm inclined to represent this as a gauge of remaining time -- it should be easier to monitor that this never hits `0` than to try to compare it to the current time.  Something like:

[code]

[2020-12-17 20:23] adleong commented on #4459
I think ideally the `linkerd identity` command should support a `-L / --selector` flag (like many kubectl commands do) which accepts a label selector.  The command would then get certificates for all pods which match that selector.

As for printing the cert, take a look at: https://github.com/linkerd/linkerd2/blob/main/pkg/tls/codec.go#L18

[2020-12-17 20:26] olix0r commented on #5391
I tried to do some digging to get deeper on ES's "zen" service discovery protocol; but, as far as I can tell, the protocol is not documented anywhere. I even tried to find the source code for the implementation for the client but I got lost in a mess of Java. If someone can find a reference for how this protocol actually works, I'd be pretty eager to learn more about it.

In the meantime, I'd sugg

[2020-12-17 20:33] adleong commented on #5398
Note that we already specify this rolling update strategy for control plane components:

[code]

Adding a similar PDB which specifies a `maxUnavailable: 1` would be a good complement to this and would help prevent scaling clusters down to the point that the control plane becomes unavailable.  This seems like "the right thing" in all cases, so I don't think it needs to be configurable with a boolea

[2020-12-17 21:01] n-oden commented on #5391
@olix0r just one problem.  From the helm chart I provided, in the elasticsearch statefulset:

[code]

I don't think I can skip 9300/tcp any more than we already are, and we're still seeing the issue :(

[2020-12-17 21:09] olix0r commented on #5391
@n-oden Hm, and that port is still referenced in the error messages? If so, then the annotation isn't taking (because that traffic should totally bypass the proxy).

[2020-12-17 21:10] n-oden commented on #5391
I believe it was, yes!  I'll try to schedule a time to re-apply 2.9.1 and we can try again.

[2020-12-17 21:48] adleong commented on #5300
This already exists
![Uploading Screen Shot 2020-12-17 at 1.47.16 PM.png…]()

[2020-12-17 21:50] adleong commented on #5310
This is a great suggestion and is somewhat related to https://github.com/linkerd/linkerd2/issues/5330

@electrical are you interested in contributing a PR to improve these pages?

[2020-12-17 22:29] #5354 closed

[2020-12-17 23:10] alpeb commented on #5385
@acobaugh Ok I see the problem was the `--prune` option used in `linkerd-2.9.1 upgrade | kubectl apply --prune -l linkerd.io/control-plane-ns=linkerd -f - `. Turns out the new secret doesn't have that label so it's not surviving that pruning... I would have thought kubectl only pruned resources _already_ living in the cluster, but it appears it also applies to resources being created :man_shruggin

[2020-12-17 23:20] cpretzer commented on #5391
@n-oden per my slack message, these errors didn't happen with the configuration to skip the 9300 port.

I ended up completely uninstalling/reinstalling the elasticsearch chart with the annotations, because the Ordered policy for stateful sets made for unexpected behavior when the pod that was restarting attempted to do service discovery on another pod which was still injected with the proxy and wa

[2020-12-17 23:42] adleong commented on #5344
I think this issue started in 2.9.0 because of the addition of protocol detection timeouts.  If a meshed pod establishes a connection, Linkerd will listen to that connection to determine if it is HTTP or not.  If it doesn't receive any bytes on that connection within 5 seconds, it will fail the connection.

I suspect that what is happening is that the Redis client is probably eagerly creating conn

[2020-12-17 23:43] adleong commented on #5405
Thanks @gokcesurenkok.  I'm going to try to reproduce this.

[2020-12-17 23:50] #5372 closed

[2020-12-18 00:01] olix0r commented on #5391
I've put up a change to [drastically increase our protocol detection timeouts](https://github.com/linkerd/linkerd2-proxy/pull/782). I can't be sure that this will resolve issue for zen discovery, but I'd be curious to get feedback from those who can test it. In order to test it, set the workload annotations:

[code]

[2020-12-18 00:55] cpretzer commented on #5403
@twDuke, we'd love your help with this documentation if you're up for submitting a PR in the [linkerd website](https://github.com/linkerd/website) repo

[2020-12-18 01:48] olix0r commented on #5344
I've put up a change to [drastically increase our protocol detection timeouts](https://github.com/linkerd/linkerd2-proxy/pull/782). I can't be sure that this will resolve issue for redis, but I'd be curious to get feedback from those who can test it. In order to test it, set the workload annotations:

[code]

[2020-12-18 07:42] cypherfox commented on #5379
@olix0r I am afraid it can (and will) have values below 0, as certs run out of validity. But as the value comes to be stuck at 0, you loose the ability to quickly determine the timestamp of the issuance of the cert.

Also reduction of variants: cert-manager uses epoch (which will be good until 2038).

If I can make a wish, I would prefer l5d to do the same, if only to make writing Grafana dashboar

[2020-12-18 08:59] glitchcrab commented on #5386
OK, I wasn't aware that the proxy's FS was read-only - the requirement for the emptyDir makes more sense now. In that case I can't see a way to remove this requirement (unless someone smarter than me has a bright idea).

[2020-12-18 09:12] flood4life commented on #5391
@olix0r I've tried your change, doesn't seem to help with elasticsearch, however, the log messages are different now.

**With 2.9.0:**
[code]

**With detect-timeout.642efd13:**
[code]

[2020-12-18 10:50] tustvold commented on #5398
@cpretzer PodDisruptionBudgets were added in kubernetes 1.5 which was EOL in 2017, so we should be good on that front

[2020-12-18 11:11] mateiidavid commented on #5210
Oh! Apologies should have paid a bit more attention.

Thank you for bringing this up @adleong! If for whatever reason circumstances change, let me know :)

[2020-12-18 11:30] electrical commented on #5300
@adleong unfortunately the screenshot is not showing for some reason.

[2020-12-18 12:43] flood4life commented on #5391
This has also worked for me to, the ES7 cluster managed to boot and become ready. However, when an application tries to actually use it via port 9300 (it's a legacy Spring Boot application, for some reason it doesn't use the REST API) I see the following in the ES logs:
[code]

I'm suspecting that I need to annotate the client application to skip 9300 on outbound requests as well.

[2020-12-18 14:50] olix0r commented on #5391
@flood4life thanks for testing! I think this all confirms that the discovery port should be skipped.. it sounds like the application is doing its own TLS, anyway; so the proxy would provide fairly limited value even when the opaque transport feature lands.

[2020-12-18 18:15] adleong commented on #5300
@electrical whoops, sorry about that.  screenshot fixed.

[2020-12-18 18:26] #5386 closed

[2020-12-19 00:41] aarosil opened #5413 "Argo Rollouts compatibility issues"
Issue Type:

- [ ] Bug report
- [X] Feature request

**Background**
Argo Rollouts replaces the native `Deployment` object with it's own object and takes over creation of replicasets ([docs](https://argoproj.github.io/argo-rollouts/migrating/) ). This seems to break the conventions of the linkerd dashboard, which assumes all things deployed are part of a deployment. I now see an IP address which us

[2020-12-19 08:06] #4926 closed

[2020-12-19 13:53] mateiidavid commented on #5338
Hi, I'd like to work on this if that's cool.

I would assume based on the latest comment that the preferred way to do this is to change the annotation to be `linkerd.io/injector-version`?

[2020-12-19 22:25] olix0r commented on #5400
https://github.com/linkerd/linkerd2-proxy/pull/785 adds proxy support for this discovery

[2020-12-20 03:39] jjangga0214 opened #5416 "feat(tracing): support W3C Trace Context header"
## Feature Request

### What problem are you trying to solve?

Currently, Linkerd only supports [B3 Propagation](https://github.com/openzipkin/b3-propagation) for tracing header.
My applications use [w3c Trace Context header](https://www.w3.org/TR/trace-context/), conversely.

### How should the problem be solved?
Linkerd supports w3c spec.

### Any alternatives you've considered?

Currenlty, nope

[2020-12-20 04:38] jjangga0214 opened #5417 "OTLP for OpenTelemetry collector for tracing and metric"
## Feature Request

I expect OTLP gets stable in near future, adapted by many vendors, so become the de fecto standard.
Therefore, I believe Linkerd should implement it, at least someday, if not now.

### What problem are you trying to solve?

For tracing, Linkerd currently only emits by OpenCensus protocol.

For metric, Linkerd currently only expose Promethues exposition format.

### How should t

[2020-12-21 16:38] fpetkovski commented on #5398
I could look into this one since we already had to patch our own copy of the chart. Should someone assign it to me before I start working on it?

[2020-12-21 19:06] adleong commented on #5338
Thanks, @mateiidavid!  I think the preferred solution is to change the annotation's value to match the override.

[2020-12-21 19:14] adleong commented on #5416
For reference, this is the relevant proxy code: https://github.com/linkerd/linkerd2-proxy/blob/main/linkerd/trace-context/src/propagation.rs

I don't think an annotation is needed here.  If the proxy supported w3c trace context, it should automatically participate in w3c traces when a w3c trace context is present on the request.

[2020-12-21 19:19] adleong commented on #5416
@jjangga0214 thanks for filing this.  I think that adding w3c trace context support to the proxy would not be too difficult.  However, I think the biggest question is around developing a reference architecture that uses w3c trace contexts.  (See https://linkerd.io/2/tasks/distributed-tracing/#ingress for some discussion of this)

So I think the first step here would be to develop a reference archi

[2020-12-21 19:26] adleong commented on #5417
Thanks, @jjangga0214.  We will consider using OTLP once it is stable and is more widely used in the ecosystem.

[2020-12-21 20:10] adleong commented on #5413
Is this a duplicate of https://github.com/linkerd/linkerd2/issues/5189?

[2020-12-21 20:13] adleong commented on #5387
Since this can be built outside of the Linkerd repository, I'm going to close this issue.  However, I highly encourage this project!

[2020-12-21 20:13] #5387 closed

[2020-12-21 20:50] #5208 closed

[2020-12-21 22:16] hawkw commented on #5379
Looking at [cert-manager's source code][1], it looks like the metric is `certificate_expiration_timestamp_seconds`. It sounds like @cypherfox would prefer it to be exported in the same format for consistency.

@olix0r what do you think?

[1]: https://github.com/jetstack/cert-manager/blob/cdc53b65cbd344dbef64f0c5c22e6070e79c5b5c/pkg/metrics/metrics.go#L19

[2020-12-21 22:31] olix0r commented on #5379
@hawkw I think that makes sense. I didn't realize that Prometheus's `time` function existed; so there's still a straightforward way to compare this value for the purposes of alerting.

[2020-12-22 00:07] subhan-nadeem commented on #1111
@grampelberg I'm trying to gain some additional insight on leveraging a gRPC web proxy (such as Envoy) with linkerd. If I have a gRPC server that is managed by a LinkerD service mesh, and I have a grpc-web client that wishes to interact with my gRPC server, will I have to deploy an Envoy proxy instance on top of linkerd that receives the grpc-web requests, and then routes it to the linkerd service

[2020-12-22 00:12] isabey-cogni commented on #5331
I am also seeing a good amount of these logs. I upgraded our staging environment to `stable-2.9.1` in hopes of resolution, but to no avail.

Here is a sample of logs in one of our `linkerd-proxy` containers:
[code]

Our PostgreSQL instance is through RDS. The error that prompted me to start looking into this was a broken pipe error in our own services, though I'm wondering if the broken pipe log f

[2020-12-22 01:37] jsoref opened #5423 "upgrading helm managed template from ~2.8.1 to 2.9.1 failed"
## Bug Report

### What is the issue?

`linkerd check --verbose` gave an error:
[code]

### How can it be reproduced?

We were running this modification of `stable-2.8.1` (it probably wasn't really 83ae0ccf, but this is the smallest diff I could find along the path to `master`):
[code]

Note: we don't use `tap`, so the changes for it probably don't work. The `injector` changes result in projected

[2020-12-22 05:56] jjangga0214 commented on #5416
Thank you! I agree in genereal.

But there might be a rare case that some of microservices uses b3 propagation and some starts adapting w3c.
This might happen, for some reason, a legacy service creates root span of b4 format, and some propagate it.
A company might not be ready to patch the code, for administrative reason, even if it's just only removing the tracing.

[code]

In this case, linkerd

[2020-12-22 09:07] Pothulapati opened #5425 "viz: Add Control plane tracing"
## Feature Request

#5340 removed those templates from viz extension, and they should be added back.

[2020-12-22 11:36] Pothulapati opened #5426 "viz: make install wait till proxy-injector is up"
## Feature Request

With #5340, Components are separated into a new viz extension, which takes a dependency on proxy injector to be up. Currently, It's the users job to make sure they are up and running.

### What problem are you trying to solve?

Make `viz install` wait till proxy-injector is up and running.

### How should the problem be solved?

Use similar semantics of that of wait with `linke

[2020-12-22 15:54] alpeb opened #5429 "Create prom scrape rule for the extension components"
The existing `linkerd-controller` rule fails to generate proper metrics for the viz components, resulting in empty charts in charts like Linkerd Health.

A new rule should be created to capture the metrics for the viz components:
[code]

The Linkerd Health chart should be have a section added targetting this new job.

[2020-12-22 16:59] Pothulapati opened #5430 "viz: support `--registry` flag"
## Feature Request

Support a registry flag to override the registry of all images present in the viz extension. This is useful with private registries.

The core install already has a relevant flag, where that logic is done through the CLI and hence Go, But with Viz, It's important that this logic happens through Helm, so that this field is supported both through Helm and CLI.

[2020-12-22 16:59] Pothulapati commented on #5236
https://github.com/linkerd/linkerd2/issues/5430 👀

[2020-12-22 17:36] kleimkuhler commented on #5236
Closing this since it is now a dup of #5430 and the solution is explained in that.

[2020-12-22 17:36] #5236 closed

[2020-12-22 17:53] olix0r commented on #3342
This is planned for stable-2.11 (we're currently working on stable-2.10). This has mostly been blocked on extending mTLS to cover all meshed communication. In 2.9 we added mTLS for most TCP traffic; and 2.10 will extend coverage to include server-first protocols, as well as multicluster routing. The server-first mTLS should merge before the new year. We'll update this issue with llinks to our plan

[2020-12-22 18:06] glenjamin commented on #3342
Awesome news - thank you for the update!

[2020-12-22 18:35] adleong commented on #5423
So the check is complaining that `tls.crt` doesn't exist in `secret/linkerd-tap-tls` but when you look with kubectl, `tls.crt` does exist in `secret/linkerd-tap-tls`?  Very strange...

[2020-12-22 18:39] chicken231 commented on #5331
I ran into these errors when deploying Linkerd for the first time recently.
I'm not seeing it mentioned here, but two other recent open issues relating to 2.9.1 are very similar to this issue, and supposedly it'll be corrected once https://github.com/linkerd/linkerd2-proxy/pull/782 is released.

[2020-12-22 21:58] #5379 closed

[2020-12-22 22:01] adleong commented on #5423
Ok, there's a bunch of stuff going on here and I admit I don't totally understand what state you're upgrading from, but here's some relevant information:

* We migrated from `secret/linkerd-tap-tls` (which uses the `crt.pem` and `key.pem` keys) to using `secret/linkerd-tap-k8s-tls` (which uses the `tls.crt` and `tls.key` keys)
* For backwards compatibility, we'll still read the old secret if it ex

[2020-12-22 22:08] jsoref commented on #5423
I think we're in some intermediate state, our secret is called `secret/linkerd-tap-tls`, but it has the structure from what you're describing as `secret/linkerd-tap-k8s-tls`.
It sounds like if I export my secret and reimport it w/ the new name, it might "magically" work...

[2020-12-22 23:07] jsoref commented on #5423
ok, I found one of our problems, we had a helm template override which had pinned the image. Fixing that:
[code]
+ exporting the secrets and renaming them let me upgrade.

[code]
is still unhappy with me.

The linkerd nginx ingress is broken which looks like #5298.

[2020-12-23 01:45] camsjams commented on #3704
@grampelberg Hi!

Is this still a desired feature and in need of feature collection and implementation?

I am looking at either adopting Linkerd and I like Linkerd's core concepts and mission.

Am I correct that this would first need an [RFC](https://linkerd.io/2020/04/08/introducing-linkerds-rfc-process/) and then some sort of game plan?

I would love to spearhead this as I am a big fan of Rust a

[2020-12-23 04:38] olix0r commented on #5384
proxy API changes: https://github.com/linkerd/linkerd2-proxy-api/pull/53
proxy support for the new API: https://github.com/linkerd/linkerd2-proxy/pull/785
destination controller to provide new API fields: https://github.com/linkerd/linkerd2/pull/5421
proxy release/upgrade: https://github.com/linkerd/linkerd2/pull/5432

[2020-12-23 07:47] christianhuening commented on #3342
wow! great stuff!

[2020-12-23 09:09] xpepermint commented on #3704
JWT support would be great, but I think that Linkerd should support custom "plugins" or "filters" which would allow anyone to add such functionality in no time. Adding support for X, Y and Z would potentially be a bad thing for the project because they would have to support all those custom pieces and from the developer's perspective, that would sooner or later become unsustainable. Let the team f

[2020-12-23 15:24] sjahl commented on #5344
I'm running linkerd 2.9.1 and experienced redis timeouts as well. Skipping the redis ports in my config made things work again.

@olix0r I tried disabling the skip ports and redeployed my redis and application pods with the detect-timeout image and version, but it looks like no traffic was getting through to anywhere with that image in place (both from my app -> redis, and also from my app to post

[2020-12-23 16:54] camsjams commented on #3704
If it makes sense to create an add-on for this feature, that seems fine to me. I'm new to this thread but I think the original intention was built-in much like how Istio does it, which is agnostic to any particular solution (aside from a JWT in the header) and more focused on the actual step of authentication and authorization. Given that a large majority of Auth providers and Customer Identity an

[2020-12-23 17:01] olix0r commented on #5384
The above changes have merged and should be included in the next edge release. This feature still isn't documented, really; so I'll leave this issue open until we've updated our docs on the website.

To quickly summarize for the sake of testing:

You can now specify a `config.linkerd.io/opaque-ports` annotation on workloads. The value of this annotation is a list of container ports (by number/rang

[2020-12-23 18:02] adleong commented on #5423
Linkerd requires that all of the leaf certificates (including the tap tls certificates) have a SAN (Subject Alternative Name) field.  It looks like check is complaining that your tap tls cert doesn't have a SAN field.  How are you generating your tap cert?  Can you amend it to include the SAN field?

[2020-12-23 18:24] olix0r commented on #5331
Without a repro config we can apply, it's difficult to know whether our recent changes will impact this, but there are two recent changes which may have some bearing on this:

* As @chicken231, we've changed to default protocol detection timeout. This _may_ be a source of some of these errors, but it's difficult to know without more data
* Additionally, we've introduced a new `config.linkerd.io/op

[2020-12-23 18:30] adleong commented on #5405
So I tried to reproduce this at low traffic volume and didn't see the issue.  Specifically, when I edited the service label selector, I saw traffic shift smoothly without errors or fail-fast log messages.  However, I did notice that when we edit the service selector like this, the destination controller sends two updates to the proxy: first a `remove` of the old addresses followed by an `add` of t

[2020-12-23 19:03] olix0r commented on #5344
I think the most reliable way for us to figure out what's going on would be to try to reproduce these issues in an isolated configuration; and, ideally, we'd add this configuration to our integration test suite. Even if we can get our hands on a k8s manifest that exhibits this behavior, that would be a huge help.

In lieu of a repro, there are a few things to try:

* You could try running with ver

[2020-12-23 19:12] adleong commented on #5416
One thing that's important to note is that the trace propagation format (such as x-b3, w3c trace context, etc.) is separate from the export format (such as OpenCensus gRPC).  If the proxy gets a request with multiple different trace propagation contexts, it would be able to propagate both.  It would also be able to export both.  This may cause duplicate traces but should not result in errors.

[2020-12-23 19:14] #5292 closed

[2020-12-23 19:17] olix0r commented on #5417
@jjangga0214 Can you provide references to OTLP?

When you say it would be "better" for Linkerd to push metrics to a collector -- why? We're quite happy with the prometheus scape-based model. What problems does our current approach have? Why is a push-based approach better?

[2020-12-23 19:22] jsoref commented on #5423
They're issued by cert-manager:
[code]

[2020-12-23 19:55] xpepermint commented on #3704
@camsjams don't get me wrong. We are on the same page here and agree that such features are needed. I just want to warn the decision-makers to choose the right path for this story. Extending the project into an all-in-one solution by adding features rather than adding support for extending Linkerd and its proxy, could mean the start of its end or at least a never-ending story for the team. So to p

[2020-12-23 20:13] isabey-cogni commented on #5331
@olix0r With regard to my comment, the only times this seems to have manifested as an application error is the os error 32.
[code]
Whenever those pop up they align with the application errors (also broken pipe).

[2020-12-23 20:34] adleong commented on #5423
Ah, I just noticed that you installed the Linkerd CLI with brew.  Brew compiles the Linkerd CLI with go 1.15 which has some slight differences from the Linkerd CLI which you can download from the github releases page (which is built with go 1.14).  In particular, go 1.15 has stricter validation that leaf certificates must have SAN fields.

You can either switch to using the official Linkerd CLI do

[2020-12-23 20:36] adleong opened #5437 "Create update notes for linkerd-viz split"
The viz components of Linkerd have been split into a new extension called Linkerd-Viz.  This means that running `linkerd install` is no longer sufficient to get observability; you must run `linkerd viz install` as well.

Write update documentation describing how to upgrade Linkerd from a version that has the viz components bundled in the main control plane to a version that has the linkerd-viz ext

[2020-12-23 20:39] adleong opened #5438 "Typo in check error message"
This check validates that `certOldKeyName` is present in the secret.  However, if it is not, the error message incorrectly refers to the `certKeyName` field.  This error message should be corrected.

https://github.com/linkerd/linkerd2/blob/main/pkg/healthcheck/healthcheck.go#L1734

[2020-12-23 20:40] adleong commented on #5438
This was first noticed in https://github.com/linkerd/linkerd2/issues/5423

[2020-12-23 20:43] jsoref commented on #5423
I'm trying to give it `dnsNames` and so far haven't managed to convince it to cooperate. (I get to file argocd bugs as I go, so that's a plus.)

[2020-12-23 20:44] adleong opened #5440 "Update cert-manager docs to create certs with SAN"
The documentation for using cert-manager with Linkerd:

https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/
https://linkerd.io/2/tasks/automatically-rotating-webhook-tls-credentials/

create Certificate resource which do not include the `dnsNames` field.  In turn, this causes cert-manager to issue leaf certs which do not include the SAN field.  This causes any go proce

[2020-12-23 20:46] adleong opened #5441 "test-cleanup should be extension aware"
The `bin/test-cleanup` script does not delete linkerd extensions which have been installed on the cluster.  This can cause subsequent test runs to fail when those extensions are installed again.

The script should be updated to full delete all linkerd extensions.  It can use the `linkerd.io/extension` label to locate all resources associated with an extension.  This label may need to be added to e

[2020-12-23 21:03] jsoref commented on #5423
ok, using the official releases results in a `happier` review:
[code]

To be split to a new issue: we're using 2 day validity certs that get renewed & rotated daily. I don't think that the complaint about 60 days should apply in this case. Ideally it'd do something like complain if:

[code]

Also, the linkerd web endpoint still hates me. (HTTP ERROR 502)
[code]
Which I still think is #5298

[2020-12-23 21:19] jsoref commented on #5423
Thoughts from `~/Downloads/linkerd2-cli-stable-2.9.1-darwin check --proxy`:
[code]

The `error copying from local connection` bits are probably from a pod that was in the process of being restarted. At the very least, it'd have been helpful if it told me the name of the pod that was giving it fits instead of just `tcp6 [::1]:60492->[::1]:60494` (for which I really can't do anything).

[2020-12-23 21:28] jsoref commented on #5423
Actually, I'm not sure what these things mean. I triggered restarts (via ArgoCD at the Deployment or StatefulSet) of everything which wasn't `up-to-date` in the data plane, and I currently have:

[code]

[2020-12-23 21:31] jsoref commented on #5423
Hmmm, the linkerd-web endpoint is now working. So, *shrug*?

I guess at this point everything mostly works, although maybe a couple of bugs to file...

[2020-12-23 21:45] jsoref commented on #5423
wrt the brew things noted in https://github.com/linkerd/linkerd2/issues/5423#issuecomment-750463389, might I suggest that the landing page suggest using the non brew version for checking?

[2020-12-23 21:55] jsoref commented on #5423
For my reference, we currently see:
[code]
on various pages in the linkerd-web site (we're using https) -- /namespaces/{something}/deployments/{something}

This isn't a regression, it's just something we need to resolve which is discussed here: https://github.com/linkerd/linkerd2/discussions/5264 -- I'm pretty sure I just need to tune my ingress.

[2020-12-23 23:20] olix0r opened #5444 "Remove nginx container from mc gateway pod"
The multicluster `gateway` component includes an `nginx` container; but this container is not actually used at all. (Instead, the proxy routes traffic internally). We should remove this container in favor of a `pause` container.

My one concern is that the service-mirror healthcheck may rely on this container to prove the gateway is live; but this is really checking something unrelated to the func

[2020-12-24 00:00] pradeepnnv commented on #5438
I'd like to work on this issue.

[2020-12-24 05:27] adnxn commented on #4326
is anyone working on this?

[2020-12-24 05:42] rnsv opened #5446 "Support for loading identity-trust-anchors-pem arg in identity from file"
## Feature Request
I need a way to load the value of the arg identity-trust-anchors-pem in identity from volume mount

### What problem are you trying to solve?
Using cert manager to generate tls certs and hence need a way to load identity-trust-anchors-pem from a file

### How should the problem be solved?
Allow an option to read https://github.com/linkerd/linkerd2/blob/main/controller/cmd/identi

[2020-12-25 03:30] rnsv opened #5450 "Allow linkerd check to continue evaluating all rules after failure"
## Feature Request
I want linkerd check to continue checking all rules after one or more failures

### What problem are you trying to solve?
Currently, linkerd check fails after the first failure which is not user friendly.

### How should the problem be solved?
Introduce new status between warning and fatal.  for example fail/error that records that the check failed but continues after marking it

[2020-12-25 23:39] cpretzer commented on #5450
@rnsv thanks for your thoughts on this, from your perspective, it is more user friendly to show all the errors rather than using a "fail fast" approach?

I can see the case where it is also user friendly to break on any check errors in order to enable users to quickly address those issues. Can you provide more information about how the user experience would be different? This is only my opinion, b

[2020-12-26 22:15] olix0r opened #5451 "proxy: Update tokio to 1.0"
The ecosystem didn't really fully update to tokio-0.3, with dependencies like hyper jumping directly to `tokio="1"`. In order to reduce the number of random git dependencies we have, we should upgrade the proxy to use tokio 1.0 et al

[2020-12-26 22:30] olix0r commented on #4326
@adnxn We haven't been working on this. Tools like [`ksniff`](https://github.com/eldadru/ksniff) do this pretty well without us having to add overhead to the proxy. At this point I'd be somewhat reticent to add this feature directly to Linkerd...

[2020-12-27 07:43] creativearmenia commented on #5331
I am also seeing a lot of this kind of logs as @prasus in versions 2.9.1 and 2.9.0

[code]

downgrade to 2.8.1 and logs gone

[2020-12-27 17:05] jimil749 commented on #5430
Hey @Pothulapati! Can you explain a bit more about how this has to implemented via helm. Because with the `linkerd install` command, we are implementing the `registry` flag in `registryOverride` in `root.go`, so do we also want to do something similar for the `viz install`? I am confused as in how exactly do we want to achieve this via helm?

[2020-12-27 18:09] olix0r commented on #5331
Thanks, that's helpful.

But, as mentioned above, we'll probably need more details to identify the cause of this error. Ideally, we'd have a minimal application that we can deploy to reproduce the problem. If that's not possible, it would be helpful to know more about:

* The application protocol being used for these connections (HTTP? something else?);
* The traffic pattern for such a connection

[2020-12-28 02:38] jjangga0214 commented on #5417
@olix0r

Specification: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md
(Is this what you asked?)

I think there's confusion on what I actually meant.

it'd be better for Linkerd to support OTLP, and push metirc to OpenTelemetry collector.

I did **NOT** argue it would be "better" for Linkerd to **DROP** Prometheus scape-based model.
Rather,

[2020-12-28 13:00] alpeb commented on #5438
@pradeepnnv go for it! :+1: :partying_face:

[2020-12-28 13:02] alpeb commented on #5011
This got finally addressed by #5005

[2020-12-28 13:02] #5011 closed

[2020-12-28 13:03] alpeb commented on #5010
This was completed in #4911

[2020-12-28 13:03] #5010 closed

[2020-12-28 13:31] alpeb commented on #5009
Done in #5023 (for check)  and #5036 (for inject)

[2020-12-28 13:31] #5009 closed

[2020-12-28 13:48] alpeb commented on #5430
Hi @jimil749 :wave:
If you check the output of `linkerd viz install -h` you'll see there are no flags (except for `--skip-checks`) besides the same ones `helm install` exposes to change config (`--set-*` and `--values`).
I think we should leave the addition of a flag like `--registry` to `linkerd viz install` for later (if at all), and first add support for custom registries in the helm charts. So

[2020-12-28 14:54] pradeepnnv commented on #5438
Thanks @alpeb . I submitted a PR. Please review.

[2020-12-28 15:43] jimil749 commented on #5430
Thanks for the detailed response, @alpeb :)  I was under the notion that we had to add a `registry` flag similar to that of `install`. But this clears it up! :+1:

[2020-12-28 15:48] olix0r commented on #5400
There's an issue with the change in #5421 -- it doesn't actually check that the endpoint's port is opaque before setting the opaque port hint. we should _only_ set the opaquetransport hint when the target workload is configured to support traffic on this port opaquely -- i.e. we need to check the endpoint address against the `opaque-ports` annotation.

This should be a fairly easy fix, I think.

[2020-12-28 20:03] sagilson commented on #5350
Thanks for all the help with this. I went through and looked at the linked issue you gave, but upgrading to the edge version to use the new TLS forwarding stack is not an option for us at the moment. I will try and upgrade a cluster to stable-2.9.1 and see if that resolves the issue. Bringing our cluster back to stable-2.8.1 solved the issue, so it is a regression in 2.9.0. Here is  gist containin

[2020-12-29 00:08] cpretzer commented on #5350
@sagilson I looked through the `linkerd metrics` output and I don't see any error totals. I think that the metrics should include responses with specific error codes, but I'm not 100% sure. That might be in the metrics for the service itself.

Regarding the `no server certificate chain resolved` message, that appears to be coming from the `rustls` [library](https://github.com/ctz/rustls/blob/main/

[2020-12-29 01:33] sagilson commented on #5350
Yes I can answer those questions. Sorry about the delay on these, and thanks for the help.
1. I cannot share the application that reproduces this unfortunately. I have not been able to determine any rhyme or reason as to why the certificates begin to be denied, causing this error
2. Everything succeeds as normal, except for the data plane proxy metrics are not found in prometheus.  I receive this

[2020-12-29 11:32] erwbgy commented on #3843
@ihcsim Please can this comment be added to the Linkerd docs.  It is spot on and would have saved me several hours trying to get Linkerd, cert-manager and kustomize to work together.

[2020-12-29 17:21] erwbgy opened #5456 "linkerd install ignores --identity-external-issuer when --ha is used"
## Bug Report

### What is the issue?

The `linkerd install` command ignores `--identity-external-issuer` and generates Secret values when `--ha` is passed as well.

### How can it be reproduced?

[code]

### Environment

- Kubernetes Version: 1.18.11
- Cluster Environment: kubeadm
- Host OS: RHEL 8.2
- Linkerd version: stable-2.9.1

[2020-12-29 17:50] cpretzer commented on #5456
Thanks for this report @erwbgy There were a few `ha` issues fixed in the latest edge release:

https://github.com/linkerd/linkerd2/pull/5399
https://github.com/linkerd/linkerd2/pull/5358

I'll see if I can repro this with the latest edge release

[2020-12-29 17:52] cpretzer commented on #3843
@erwbgy we'd love a PR if you have time to help out :smile:

[2020-12-29 18:56] jsoref opened #5457 "linkerd should report the name of the pod in when portforward fails"
## Feature Request

### What problem are you trying to solve?

https://github.com/linkerd/linkerd2/issues/5423#issuecomment-750480989

Currently, when port forwarding fails, the error message reports `[::1]` (localhost ipv6) `:` + (random transient local port) as source and destination:

[code]

### How should the problem be solved?

What do you want to happen? Add any considered drawbacks.

https

[2020-12-29 19:25] erwbgy commented on #5456
Thanks @cpretzer, it is indeed fixed in edge-20.12.4 - sorry for the noise.

[2020-12-29 19:25] #5456 closed

[2020-12-29 23:59] cpretzer commented on #5350
@sagilson my initial thought is that the chart repo is on the main branch, and you should use the [stable-2.9.1](https://github.com/linkerd/linkerd2/tree/stable-2.9.1/charts/linkerd2) tag, because main is frequently merged with ongoing work.

Better still is to add the stable repo to your helm installation: https://linkerd.io/2/tasks/install-helm/#adding-linkerds-helm-repository

The dataplane met

[2020-12-30 00:07] cpretzer commented on #5456
Thanks for confirming @erwbgy !

[2020-12-30 00:24] cpretzer commented on #5457
@jsoref it looks like this error message comes from the `portforward.go` in [client-go](https://github.com/kubernetes/client-go/blob/master/tools/portforward/portforward.go#L385).

And, if I'm reading the code correctly, the error propagates up from the `run` [function](https://github.com/linkerd/linkerd2/blob/main/pkg/k8s/portforward.go#L152) in the Linkerd k8s package.

In order to get the outpu

[2020-12-30 11:24] erwbgy opened #5459 "linkerd-proxy-injector panic using linkerd edge client with linkerd stable-2.9.1 server"
## Bug Report

### What is the issue?

The linkerd-proxy injector Pods panic when receiving requests due to missing configuration.  This is due to using linkerd edge-20.12.4 client with linkerd stable-2.9.1 server.

### How can it be reproduced?

Follow https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/ to create Secrets using cert-manager.

Run linkerd install using

[2020-12-30 11:25] erwbgy commented on #5459
Closing as:
[code]
makes it clear that this is not a supported configuration.

[2020-12-30 11:25] #5459 closed

[2020-12-30 18:25] kellybirr opened #5460 "support external load balancer for multi-cluster link"
## Feature Request
I am trying to link bare-metal clusters that do not have an integrated "LoadBalancer" provider but have perfectly functional external TCP load balancers.  I need to be able to do one or more of the following:

1. Tell `linkerd multicluster link` get the IP for the service from `spec.loadBalancerIP` or `spec.externalIPs` instead of `status.loadBalancer.ingress.ip`.  Both of these

[2020-12-31 06:10] gokcesurenkok commented on #5405
@adleong @olix0r hello guys, is there any update on this issue? we are having difficulty every time we switch service selectors when we release something on production.
It would be nice to try the solution of @adleong in the next release.

[2020-12-31 06:23] piyushsingariya commented on #5437
Hi @adleong, so basically BUILD.md needs to be updated?

[2020-12-31 06:57] piyushsingariya commented on #5450
Hi, it's an interesting problem and I would like to work on this? @cpretzer Can you explain a bit more what I exactly have to do here?
Thanks!

[2020-12-31 08:40] erwbgy opened #5462 "Avoid multi-cluster LoadBalancer Service requirement"
## Feature Request

### What problem are you trying to solve?

LoadBalancer type Services may not be supported or allowed in some Kubernetes clusters - for example due to:
* Being on-prem or in a lab with no "load-balancer as a service" capability
* Security concerns around exposing Services externally
* Policy that requires all incoming traffic to go via ingress proxies

Not all clusters support

[2020-12-31 16:33] olix0r commented on #5405
@adleong The failfast timeout is something like 3 seconds, so I would be pretty surprised if it took that long to process consecutive discovery updates.

@gokcesurenkok We don't even have a way to reproduce this issue yet, so we can't really start working on a fix. What @adleong suggests is just a shot in the dark, but we can't just make changes on a hunch---I'm not convinced that this solution wo

[2021-01-01 06:24] jjangga0214 opened #5466 "Fast initialization for local development environment"
## Feature Request

Fast initialization for local development environment.

### What problem are you trying to solve?

On local development environment, I use lightweight clusters like [kind](https://kind.sigs.k8s.io/docs/user/quick-start/) or [k3d](https://k3d.io/).
To my experiments (on kind and k3d), Linkerd installation is so slow on such clusters, compared to production-ready clusters, like E

[2021-01-01 06:37] cpretzer commented on #5466
@jjangga0214 this is right in line with the work that is going on to separate the control plane from linkerd-viz

I think you'll see what you're looking for over the next few edge releases and possibly the next stable release

[2021-01-02 07:40] erwbgy commented on #3342
@olix0r Is the plan to implement SMI Traffic Access Control, support calling an external authz provider (#2901) or something else?

As @cypherfox, @kubaj and others have noted, some of us already have an external authz provider that implements the Envoy External Authorization [API](https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/external_auth.proto#envoy-v3-api-msg-service-auth-

[2021-01-02 20:04] erwbgy opened #5467 "The linkerd install config command has missing flags and creates unneeded files"
## Bug Report

### What is the issue?

The `--identity-external-issuer` and `--disable-heartbeat` options are available when running `linkerd install` but not with `linkerd install config`.

Without `--disable-heartbeat` the `linkerd install config` command incorrectly adds:
[code]
and incorrectly creates:
* linkerd-heartbeat Role
* linkerd-heartbeat RoleBinding
* linkerd-heartbeat ServiceAccount

[2021-01-02 20:09] erwbgy commented on #5440
Fixed by https://github.com/linkerd/website/pull/882.

[2021-01-02 20:25] cpretzer commented on #5467
thanks @erwbgy I'll have a look at this today or tomorrow

[2021-01-03 05:18] piyushsingariya commented on #5401
Hi, I would like to work on this issue!

[2021-01-03 06:04] piyushsingariya commented on #5401
Hi @cpretzer, I edited the `cli/cmd/profile.go ` where basically I added code to validate `--ignore-cluster`, added a new boolean variable `ignoreCluster` default to be `false` in profileOptions and now we will call a function to create a profile
and I think the step after this is to create a new file in `pkg/profiles` -> ignoreCluster.go where function(creates a profile without checking the acces

[2021-01-03 11:28] piyushsingariya commented on #5401
Hi, @purkhusid I have started working on this. It would be helpful if you could explain what are the other flags and args which can be passed alongside the flag `--ignore-cluster`

[2021-01-04 10:05] nnqq commented on #5183
Same here. It appears from time to time and i can't reproduce this

[2021-01-04 17:59] olix0r commented on #5183
So, this error means that the proxy has 10K _pending_ requests--meaning requests for which there has been no response headers. In a recent edge release we've updated this limit to 100K, but I suspect that this is just hiding some other sort of problem.

Unfortunately, I've been unable to reproduce this with our test apps and we haven't been provided with diagnostics to help narrow this down. In fa

[2021-01-04 18:10] #5300 closed

[2021-01-04 18:11] #5391 closed

[2021-01-04 18:16] adleong commented on #5466
I'll echo what @cpretzer said: we're currently working to make it possible to install a minimal control plane.

[2021-01-04 18:16] #5466 closed

[2021-01-04 18:21] adleong commented on #5462
Hi @erwbgy, is this problem already addressed by https://github.com/linkerd/linkerd2/pull/5307 ?

[2021-01-04 18:26] adleong commented on #5423
Hmmm... this is all pretty interesting @jsoref.  Do you mind if I close this issue and we can pick up each of these individual threads on their own separate issues?

[2021-01-04 18:27] #5356 closed

[2021-01-04 18:31] #5343 closed

[2021-01-04 18:32] #5382 closed

[2021-01-04 18:33] adleong commented on #5373
Closing this due to inactivity.  Please re-open if you can provide the requested information.

[2021-01-04 18:33] #5373 closed

[2021-01-04 18:33] adleong commented on #5382
Closing this due to inactivity.  Please re-open if you can provide the requested information.

[2021-01-04 18:33] jsoref commented on #5423
Fine by me.

(Fwiw, overall, we ended up w/ a broken Neo4J install -- packets larger than some amount result in failures -- we're debugging, but haven't been able to find any useful logs at all.)

[2021-01-04 18:33] #5423 closed

[2021-01-04 18:34] adleong commented on #5343
Closing this due to inactivity.  Please re-open if you can provide the requested information.

[2021-01-04 18:34] adleong commented on #5356
Closing this due to inactivity.  Please re-open if you can provide the requested information.

[2021-01-04 18:41] olix0r commented on #5350
Hmm, these log messages are extremely suspicious:

[code]

In both of these cases, the namespace is omitted from the identity string and, in the later case, the there is no service account name. I can't explain how this could happen, but this points strongly to a misconfiguration.

Does `linkerd check --proxy` show any warnings when run against this namespace/workload?

[2021-01-04 19:04] adleong opened #5471 "gateway-addresses flag missing form multicluster link command"
https://github.com/linkerd/linkerd2/pull/5307 added a `--gateway-addresses` command to the multicluster link command.  That flag no longer seems to be present.  I suspect it probably got lost in the merge as part of https://github.com/linkerd/linkerd2/pull/5293

Other aspects of https://github.com/linkerd/linkerd2/pull/5307 may have also been lost during https://github.com/linkerd/linkerd2/pull/52

[2021-01-04 19:04] adleong commented on #5471
@Pothulapati can you take a look at this?

[2021-01-04 19:31] adleong commented on #5460
https://github.com/linkerd/linkerd2/pull/5307 added a `--gateway-addresses` flag which I think addresses this.  However, it seems like this flag got accidentally removed in a recent change.  I've filed https://github.com/linkerd/linkerd2/issues/5471 to restore it.

[2021-01-04 19:35] adleong commented on #5446
@rnsv can you give some additional context here?  the trust anchors should very rarely change; can you tell me more about the situation where you would need to dynamically reload them?

[2021-01-04 19:39] adleong commented on #5450
Check works this way because certain checks only make sense if previous checks have passed.  For example, if the Kubernetes API or Linkerd control plane are not reachable, then most other checks will be guaranteed to fail.

Only checks which are explicitly marked as `fatal` will cause `linkerd check` to stop immediately.  Are there fatal checks which you think should not be marked as fatal?

[2021-01-04 19:40] #5440 closed

[2021-01-04 19:59] erwbgy commented on #5462
The #5307 change allows the gateway address to be specified manually which will suit some use cases, but it does mean that the information may need to be duplicated from the Service object.  For example if I have an ExternalName Service then I'd need to copy the value from the .Spec.ExternalName field and pass it as a gateway-addresses parameter.  While this is not a big deal I can imagine future

[2021-01-04 20:41] alexklibisz commented on #5183
Hi @olix0r, here's some more info for our usecase: the error shows up on the client-side, i.e. the sidecar of a pod that's making requests to a service. The service has a sidecar with the same version of linkerd. This happens even when there's virtually zero other traffic. I'm not 100% sure if the service sidecar emits any sort of error. Using grpc with Scala (akka-grpc) client and service.

I can

[2021-01-04 21:18] aarosil commented on #5413
It's closely related. I think this issue should be closed, as long as there is already a feature request logged for https://github.com/linkerd/linkerd2/issues/5189#issuecomment-735907382 (to populate the dashboard resource types based off observed metrics from the reworked metrics labels)

[2021-01-04 21:58] cpretzer commented on #5413
thanks for the note @aarosil

[2021-01-04 21:58] #5413 closed

[2021-01-04 22:50] olix0r opened #5474 "heartbeat: Report ServiceProfile usage"
I'd like to begin deprecating the `ServiceProfile` CRD in 2.11 (to replaced by a family of more flexible traffic policy CRDs). We don't really have any insight, though, into how widely the `ServiceProfile` API is used and how impactful this change will be.

In advance of these changes, I propose that:

* The destination controller be instrumented with the total number of (unique) ServiceProfile in

[2021-01-05 00:19] adleong commented on #5462
Thanks for clarifying @erwbgy.  My concern is that the ExternalIP field is intended for a slightly different purpose: it specifies all the different IP addresses for which this service can receive traffic which is sort of the reverse of what we want.  Just because a service can receive traffic for an ip address doesn't mean that ip address is what this specific client should use to contact that se

[2021-01-05 01:48] rnsv commented on #3843
In my current installation, I have to manage multiple Kubernetes clusters and I use flux v1 (gitops) for cluster add-on automation.  In a setup like this I am able to deploy all addons by configuring flux to fetch from a centralized git repo. We use certmanager for all certificate management.  I would like to leverage gitops for linkerd installation as well - with all the yaml files managed via gi

[2021-01-05 01:55] rnsv commented on #5446
In my current installation, I have to manage multiple Kubernetes clusters and I use flux v1 (gitops) for cluster add-on automation.  In this setup, I am able to deploy all addons by configuring flux to fetch from a centralized git repo. I use certmanager for all certificate management.  I would like to leverage gitops for linkerd installation as well - with all the yaml files managed via git repo

[2021-01-05 03:08] rnsv commented on #5450
Here is a sample implementation
https://github.com/rnsv/linkerd2/commit/ba4c4af0d7bb57732989f457658c91621ea28e44
I introduced a new status name fail (between fatal and warning).

[2021-01-05 04:35] tharun208 commented on #5474
@olix0r I will take this up

[2021-01-05 18:52] adleong commented on #5446
Ah, gotcha.  That workaround where you load the trust anchors into an env variable looks nice; if that works I'd recommend sticking with that.

One reason I hesitate to natively support reading from secrets is that it gives the (incorrect) impression that the value will be reloaded if the value of the secret changes.  The nice thing about the env variable approach is that it makes it clear that th

[2021-01-05 18:54] adleong commented on #5450
`fatal` and `warning` are already separate fields.  This means that checks can be set as as non-fatal errors (fatal=false, warning=false) which will count as check failures, but will allow check to continue to run.

[2021-01-05 21:11] kleimkuhler opened #5478 "Dashboard test always fails because web component is no longer installed by default"
Once `linkerd viz dashboard` has been added and the web component can be reliably tested, the test should be reenabled.

[2021-01-05 21:49] adleong opened #5479 "linkerd viz commands should check for existence of linkerd viz extension"
When running `linkerd stat` without having the linkerd viz extension installed, I get this error message:

[code]

Linkerd viz commands should check for the existence of the linkerd viz extension and print a helpful message about how to install it if it is absent.

[2021-01-06 04:14] #5438 closed

[2021-01-06 04:48] Pothulapati commented on #5313
Update: Except for the public-api, every other viz component is now under the new `linkerd-viz` chart,

[2021-01-06 04:49] Pothulapati commented on #5232
This seems to be done. @adleong Can you please close this if you think everything is in?

[2021-01-06 14:19] #5398 closed

[2021-01-06 14:51] erwbgy commented on #5462
@adleong We don't have any specific use-case for ExternalIP. I was trying to address #5460 as well but as you commented there the gateway-addresses parameter will meet that need once it is re-added.  I'll remove ExternalIP and just leave ExternalName.

[2021-01-06 16:13] #5338 closed

[2021-01-06 16:15] olix0r commented on #5338
Thanks @mateiidavid! 🌮

[2021-01-06 16:36] #5430 closed

[2021-01-06 17:00] alpeb opened #5484 "Add support for k8s 1.19"
It appears that with the latest edge everything works fine with k8s 1.19 except for the warnings about the resource versions deprecations, e.g. in `linkerd check` we see things like this in stderr:
[code]
This should be just a matter of updating the versions in the template files, along with the tests golden files.

Note that as of #5483 `bin/k3d` already installs k8s 1.19 by default.

[2021-01-06 22:01] gabriellemadden opened #5489 "Add support for global deployment annotations"
## Feature Request

### What problem are you trying to solve?
When secrets and configmaps change in a cluster via https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/, pods don't restart with the new secret/configmap information and therefore end up using stale data.

[Stakater/Reloader](https://github.com/stakater/Reloader) supports restarting deployments based on anno

[2021-01-06 22:19] adleong commented on #5462
I think `ExternalName` is something else altogether.  I believe that externalName is a DNS name that the service will route TO, not an address by which the service is addressable.  See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#servicespec-v1-core

[2021-01-06 22:49] #5478 closed

[2021-01-07 07:10] RyanSiu1995 commented on #4322
Hi there, we encountered similar issue with header too big error as the following.
[code]
Any idea on how to resolve this?

[2021-01-07 14:11] erwbgy commented on #5462
That says:

so it doesn't have to be outbound only.

However with this change I see that `linkerd multicluster` just creates a Link object so it is easier to just create that directly and set the gatewayAddress field:
[code]
which is presumably what the --gateway-addresses option will do when re-added so closing this in favour of https://github.com/linkerd/linkerd2/issues/5471.

[2021-01-07 14:11] #5462 closed

[2021-01-07 15:03] alexklibisz commented on #5183
Unfortunately I haven't been able to replicate the exact behavior on-demand. Go figure. I'll remember to post back once I see it again.

[2021-01-07 15:07] olix0r commented on #4322
@RyanSiu1995 It looks like the maximum header (name + value) length is about [16KB](https://github.com/hyperium/h2/blob/5a92f256c0ab63fd12e2180f99e603230955dfbc/src/frame/headers.rs#L17). It appears that this limit is hardcoded and not currently configurable by hyper, though I haven't looked exhaustively. Do you think you're sending individual headers large than 16KB?

If you want to produce diagn

[2021-01-07 18:22] #5426 closed

[2021-01-07 18:22] #5471 closed

[2021-01-07 18:23] adleong commented on #5489
@gabriellemadden can you tell me more about when you would need to manually restart the Linkerd control plane components?

When going through the workflow described in https://linkerd.io/2/tasks/automatically-rotating-control-plane-tls-credentials/ the `linkerd-identity` controller is already watching the issuer secret for changes and will reload the issuer credentials when they change.  It will t

[2021-01-07 21:50] jsoref opened #5493 "Crash setting up pod"
## Bug Report

### What is the issue?
Afaict, #5036 introduced a null pointer deref near
https://github.com/linkerd/linkerd2/blob/2ff70d4c7da2af2dbe868d470bbacb9de0275607/pkg/inject/inject.go#L569

### How can it be reproduced?
We're just trying to roll out new pods (using ArgoCD) that happen to have linkerd sidecars (via standard injection)

### Logs, error output, etc

[code]
[code]

#### `linke

[2021-01-07 22:38] adleong commented on #5232
Yep!

[2021-01-07 22:38] #5232 closed

[2021-01-07 22:39] adleong commented on #5314
This is done.

[2021-01-07 22:39] #5314 closed

[2021-01-07 23:21] adleong commented on #5493
This has been fixed by https://github.com/linkerd/linkerd2/pull/5269, and the fix is available in edge-20.11.5 and later.

[2021-01-07 23:27] jsoref commented on #5493
Thanks, we moved to edge-21.1.1 and this part of things is happy (lots of other things are still in the air, but...)

[2021-01-07 23:27] #5493 closed

[2021-01-08 00:31] adleong opened #5495 "linkerd jaeger check does not check health of jaeger-injector"
`linkerd jaeger check` should verify that the jaeger injector exist and is healthy.

[code]

[2021-01-08 03:09] piyushsingariya commented on #5457
Hi, I'm working on this :)

[2021-01-08 09:34] piyushsingariya commented on #5457
I have been going through a lot of files right now, but I still haven't found the exact source where this error is being output.
@jsoref @cpretzer Can you help me out to strategies how exactly this issue can be resolved? :smile:

[2021-01-08 10:44] mateiidavid commented on #5484
👋  I'd like to take this on if that's ok!

[2021-01-08 12:58] jimil749 commented on #5467
So, are we proposing to add the `--disable-heartbeat` and `--identity-external-issuer` flags to `linkerd install config` subcommand to prevent creating the extra files/configurations?

[2021-01-08 13:51] kleimkuhler opened #5497 "Use linkerd uninstall in test-cleanup script"
The [test-cleanup](https://github.com/linkerd/linkerd2/blob/main/bin/test-cleanup) script used primarily in CI contains a lot of bash script
which is responsible for cleaning up a cluster after running tests.

The history that lead to the state that it is in is there was not always a
`linkerd uninstall` command, so we had to manually clear all the resources out.

We should now be able to use `link

[2021-01-08 13:53] kleimkuhler commented on #5484
That'd be great @mateiidavid!

[2021-01-08 17:39] adleong commented on #5495
Per https://github.com/linkerd/linkerd2/issues/5232, this should also "ensures that all data plane pods with a Linkerd sidecar have the tracing variables set"

[2021-01-08 18:24] kleimkuhler commented on #5467
@Pothulapati Do you have any input on this? Is there a plan to move `install` flagsets to the helm way of customization through `set`, `set-string`, `values`, `set-files` flags?

[2021-01-08 18:48] olix0r commented on #5400
Fixed by #5421 and #5458

[2021-01-08 18:48] #5400 closed

[2021-01-08 18:56] cpretzer commented on #5484
Thanks @mateiidavid !

[2021-01-09 00:57] taiseerkhaled opened #5500 "linkerd inject command does not work with Ubuntu 20.04"
## Bug Report

### What is the issue?
After upgrading our cluster to Ubuntu 20.04, running linkerd inject command fails with the the error shown below

### How can it be reproduced?
on ubuntu 20.04 machine.
kubectl get deploy <yourdep> -o yaml | linkerd inject - | kubectl apply -f -
### Logs, error output, etc
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV:

[2021-01-09 07:11] jimil749 commented on #4651
Hi @alpeb!
Can we check for `serviceAccountName` in the pod spec and then maybe then fetch the value of `automountServiceAccountToken` field from that service account to validate the workload?

[2021-01-09 18:23] #5401 closed

[2021-01-09 19:19] mbelang commented on #4870
Even if all my services are meshed, I still have intermittent 502s. I can mitigate with retries at the client level but it is not suitable. Also, I could setup retries with the mesh itself but Linkerd doesn't support retries with body...

[2021-01-09 19:27] cpretzer commented on #4870
hi @mbelang have you been able to reproduce this with `2.9.1`?

You're right that retries only work for GET requests at the moment. There is an open issue (#3985) that we'd love help with, if you're interested.

[2021-01-09 19:44] yashvardhan-kukreja commented on #5497
Hi @kleimkuhler . I am new to linkerd and lately, was looking forward to contribute to it. This issue seems like a nice place to start. So, I'd like to be assigned to this :)

[2021-01-10 14:36] #4973 closed

[2021-01-10 14:36] #4934 closed

[2021-01-10 14:36] #4914 closed

[2021-01-10 14:36] #4906 closed

[2021-01-10 14:36] #3745 closed

[2021-01-10 14:36] #4928 closed

[2021-01-10 17:26] tustvold commented on #5025
Closed by #5027

[2021-01-10 17:26] #5025 closed

[2021-01-10 17:26] tustvold commented on #5026
Closed by #5074

[2021-01-10 17:26] #5026 closed

[2021-01-10 19:39] mbelang commented on #4870
@cpretzer I have yet to update to 2.9.1. Were there any fix or improvements related to the proxy with regard to this issue?

[2021-01-10 20:13] olix0r commented on #4870
I'm not confident that retries would help in this case. It really depends on where we're encountering the issue, but I don't think we have enough data to know yet.

There were substantial changes between 2.8 and 2.9, especially around caching and discovery. (For instance, there's no longer any DNS resolution in the data path). It would be good to test this more recent version if only to ensure tha

[2021-01-10 20:47] #4947 closed

[2021-01-10 20:53] olix0r commented on #5500
I suspect that this isn't related to Ubuntu-20.04, but that the 2.9.1 CLI fails to handle metadata from the 2.7.0 control plane metadata properly.

This looks likely caused by our accessing of fields without getter-methods

[2021-01-10 21:08] olix0r commented on #4612
This work is in progress.

[2021-01-11 03:48] RyanSiu1995 commented on #4322
Hi @olix0r, yes, we are.
We have the headers larger in 16KB.
I have asked our internal to change the implementation in the message transfer.
Wonder if it is possible to let us configure the max size of the headers...

[2021-01-11 06:22] #4375 closed

[2021-01-11 06:28] Pothulapati commented on #5467
@kleimkuhler I dont think we have a plan to remove the current flags and setting them through helm way of things but we definitely want to add the helm flags along side the current flag. I will be working on this.

Irrespective, I would like to first confirm with @adleong, if multi-stage installl is still being supported or not as there have been conversations to remove it.

[2021-01-11 06:29] pankajmt opened #5505 "Linkerd without CNI - run as non-root"
## Feature Request

### What problem are you trying to solve?

We are not able to run Linkerd with CNI as another CNI we have in the chain does not play well with Linkerds. Hence we want to switch to Linkerd without CNI. But that needs our kube PSPs to allow
- capability NET_RAW
- capability NET_ADMIN
- run as root

We are OK with the first two capabilities confined to the linkerd proxy binary wit

[2021-01-11 06:30] Pothulapati opened #5506 "cli: Add helm customization flags to linkerd install cmd"
## Feature Request

Allow the helm way of customization through `set`, `set-string`, `values`, `set-files` flags for `linkerd install` cmd. this should follow the same extension install model

[2021-01-11 11:49] steventranjs opened #5508 "Unable To View Success Rate & RPS"
## Bug Report
We deployed linkerd into our k8s cluster and successfully got default namespace meshed BUT I do not see details like "Success Rate", "RPS" on default namespace. However, these details shows very clear on linkerd namespace.

We tried to deploy your emojivoto  example as in https://linkerd.io/2/getting-started/ and got same results

You can see below screenshot for details.
![image](ht

[2021-01-11 13:34] kleimkuhler commented on #5497
Sounds good @yashvardhan-kukreja! I'll keep an eye out for the PR. Let me know if you have any questions.

[2021-01-11 13:55] mbelang commented on #4870
@olix0r I know that retries would not solve the issue but would at least _mitigate_. I will plan an upgrade to 2.9.1 and see how it goes from there.

I did try to put the proxy in Debug mode but I didn't manage to get more information that I posted here. Maybe I missed it but it is a fairly rare event that it is very hard to catch and I do not want to debug that in production cluster though I susp

[2021-01-11 14:14] taiseerkhaled commented on #5500
Hi @olix0r,
What you are saying makes a lot of sense. Let me check my previous docker image and see what versions of linkerd we are using there.
Please excuse my silly question, but what command shall I use install a specific linkerd cli version?

[2021-01-11 15:24] alpeb commented on #4651
Sounds to me the latter should do. Looks like we already have a check in place, but do nothing if the mount is not there:
https://github.com/linkerd/linkerd2/blob/b5dddf5dafcb2025ceaf3db64b97eb5ff2e45d2f/pkg/inject/inject.go#L535-L541

[2021-01-11 15:58] karsten42 commented on #5183
I also haven't been able yet to reproduce this on a sample application.
But I reenabled linkerd on our production services and the problem shows up again.
We have version `stable-2.9.0` running.
The communication is between two `go` services. In the scenario the client is doing `Server side streaming` calls at a rate of about 25Hz with an average call duration of around 200ms (although this varies

[2021-01-11 16:33] benjdlambert commented on #4955
To give an update on this. I've been working on it with our hackdays. Hopefully will have something to show with a few more hours on it. Been waiting for a few other pieces to settle in Backstage first like the `k8s` support 👍

[2021-01-11 16:46] olix0r commented on #5500
@taiseerkhaled Generally, we only test sequential neighboring versions for compatibility. So, a 2.8.x CLI should work with a 2.7 control plane; and in order to upgrade from 2.7 to 2.9, we recommend upgrading to 2.8 first, and then to 2.9.

That said, we should fix the underlying segfault.

[2021-01-11 17:27] tustvold opened #5511 "Linkerd-viz Helm Chart Invalid PodAffinity"
## Bug Report

### What is the issue?

The linkerd-viz helm chart included in edge-21.1.1 references `.Values.controllerComponentLabel` that is not set by the chart

### How can it be reproduced?

[code]

Produces an invalid affinity spec

[code]

### Environment

- Kubernetes Version: N/A
- Cluster Environment: N/A
- Host OS: N/A
- Linkerd version: edge-21.1.1

### Workaround

This can be worked

[2021-01-11 17:41] tustvold opened #5512 "Option to not have linkerd-viz helm chart create namespace"
## Feature Request

Add a `installNamespace` flag to the linkerd-viz helm chart to match the one present in the main linkerd2 helm chart.

### What problem are you trying to solve?

It is beneficial to be able to create namespaces outside of Helm, in part to avoid chicken-and-egg situations with regards to where Helm stores its metadata, but also because namespaces may need to integrate with acces

[2021-01-11 18:45] klingerf commented on #5511
I've run into this issue too, with edge-21.1.1. Applying the output of `linkerd viz install --ha` to my cluster produces the following error:

[code]

The tap deployment includes a `podAntiAffinity` config, and this `podAffinityTerm` is invalid because it's missing a `key` value:

[code]

[2021-01-11 18:51] adleong commented on #5508
Weird!  Check doesn't show any errors so I would expect that stats should be visible.  A few things you can try to dig further in:

* Run `linkerd check  --proxy -n emojivoto` to check the health of the proxies in the emojivoto namespace
* Run `linkerd metrics <pod>` to see if you can get proxy metrics from pods in the emojivoto namespace
* Run `linkerd stat deploy -n emojivoto` to see if you can

[2021-01-11 18:53] adleong commented on #5506
Related: https://github.com/linkerd/linkerd2/issues/5158

[2021-01-11 18:59] adleong commented on #5505
Hey @pankajmt!  If we could run the proxy-init container as non-root but still with the appropriate net capabilities, we'd be open to it.  As far as I know, no one has tried this so I'm not totally sure if it is possible or not.  If you are interested in working on this, I'd love to take a look.

[2021-01-11 19:04] smusick-teamwork commented on #5446
I'm trying to do something very similar with ArgoCD and running up against the same thing.

[2021-01-11 19:13] steventranjs commented on #5508
@adleong Thanks a lot for ur hint. After I restarted my cluster and try ur command. `emojivoto` namespace started to shows metrics. BUT the default one still empty. Any way I can continue on this? Thanks
![image](https://user-images.githubusercontent.com/6488765/104227257-120a1900-5484-11eb-84bc-83ff5f08ba2b.png)

[2021-01-11 19:17] taiseerkhaled commented on #5500
@olix0r Thanks for your help. I used 2.8.1 for client version and it worked. This bug report can be closed.

[2021-01-11 19:17] #5500 closed

[2021-01-11 21:36] ipaleka opened #5515 "CSRF protection - Django rejects incoming request for injected deployment"
## Bug Report

### What is the issue?

Injected deployment of a Django application served by Gunicorn can't pass Django's [Cross Site Request Forgery](https://docs.djangoproject.com/en/3.1/ref/csrf/) protection. If Linkerd is not set or it is uninjected then everything works as expected.

Gunicorn and nginx redirect to my [custom 403_csrf.html template](https://docs.djangoproject.com/en/3.1/ref/se

[2021-01-11 22:00] olix0r commented on #5515
Linkerd shouldn't do anything to interfere with a request's headers; but if your CSRF protection is trying to do something to validate the client's IP address, the linkerd proxy will necessarily interfere with this check, because all requests from the proxy to your application will be sent over the localhost network.

I'm afraid that you'll have to use [inbound-skip-ports](https://linkerd.io/2/fea

[2021-01-11 22:11] olix0r commented on #5515
Actually, my assumption may be incorrect. https://docs.djangoproject.com/en/2.2/_modules/django/middleware/csrf/ does not appear to have any references to the client IP; and that error (`Referer checking failed - no Referer.`) does appear to indicate that the request does not have a `Referer` header; but Linkerd shouldn't interfere with `Referer` headers...

Are you able to run your workload with

[2021-01-11 22:18] cpretzer commented on #4227
@AdallomRoy have you been able to determine what the illegal gRPC response is from the proxy? It sounds like the server container is restarting when the `fail fast` messages are displayed in the log, is that right?

I'm also curious to know if this error occurs with Linkerd 2.9.1, which is the latest stable version. Have you had a chance to test with 2.9.1?

[2021-01-11 22:24] adleong commented on #5158
Just to be clear, this question is specifically about `linkerd upgrade`, right?  i.e. this is not relevant to `linkerd install` and not relevant to any linkerd extensions (since those do not have upgrade workflows).

It strikes me as very odd that Helm defaults to "reset-values" mode when the `--set` flag is used.  Here is what I would intuitively expect Linkerd to do:

* When `linkerd upgrade` is

[2021-01-11 22:25] ipaleka commented on #5515
I can do that, but your comment has brought me to something else, a html's head c/p from another template that maybe I left. After kind cluster provisioning finishes, I'll first try to check that, and then if it doesn't help I'll set that annotation.

[2021-01-11 22:26] adleong commented on #5497
@kleimkuhler has this been fixed by https://github.com/linkerd/linkerd2/pull/5494?

[2021-01-11 22:27] adleong commented on #5460
Fixed by https://github.com/linkerd/linkerd2/pull/5473

[2021-01-11 22:27] #5460 closed

[2021-01-11 22:29] olix0r commented on #2453
Integration tests have since changed.

[2021-01-11 22:29] #2453 closed

[2021-01-11 22:34] olix0r commented on #5384
edge-21.1.1 includes support for server-first protocols via the `opaque-ports` annotation

[2021-01-11 22:34] #5384 closed

[2021-01-11 22:35] olix0r commented on #5451
Fixed via https://github.com/linkerd/linkerd2-proxy/pull/826

[2021-01-11 22:35] #5451 closed

[2021-01-11 22:37] kleimkuhler commented on #5497
@adleong Nope this is about removing all the calls to `populate_array` in `test-cleanup` and using `linkerd uninstall` instead.

[2021-01-11 22:39] olix0r opened #5516 "heartbeat: Report extension usage"
As we introduce Linkerd extensions, we should update the heartbeat reporter to report which extensions are enabled. This can be determined by reading namespaces that match the linkerd extension label.

This data is useful to understand whether the majority of clusters update to use the `linkerd-viz` extension (or whether this is viewed as purely optional), and how prevalent the `multicluster` and

[2021-01-11 22:51] olix0r commented on #5183
@karsten42 thanks. That's helpful context. If you're able to, it would be helpful to see proxy debug logs (i.e., with the `config.linkerd.io/proxy-log-level: linkerd=debug,warn` annotation set) as well as the output of `linkerd metrics` on a pod in this state.

[2021-01-11 22:51] ipaleka commented on #5515
Well done @olix0r, I've seen/read that message about Referer from Gunicorn/Nginx at least twenty times today, was thinking about [this setting](https://docs.djangoproject.com/en/3.1/ref/settings/#csrf-trusted-origins), but has to be your comment to remind me of silly c/p of `<meta name="referrer" content="no-referrer">` in my Django base template. XD

The most beautiful product you have indeed, I

[2021-01-11 22:51] #5515 closed

[2021-01-11 23:02] adleong opened #5518 "More helpful error when attempting to `linkerd upgrade` a Helm installation"
If Linkerd is installed with Helm, it is not possible to upgrade that installation using `linkerd upgrade`; only Helm can be used to upgrade.  However, attempting to use `linkerd upgrade` on a Helm installation of Linkerd gives a confusing error:

[code]

I believe this is because it is attempting (and failing) to load the CA from the (non-existent) linkerd-config-overrides secret.  Instead, if `l

[2021-01-11 23:09] pankajmt commented on #5505
ah yes, it would be the proxy-init container and not the proxy container to be precise. I might start looking into this today.

[2021-01-11 23:21] kfirfer commented on #5394
Just hit the bug aswell

Using linkerd 2.9.1

This is part of the log:
[code]

[2021-01-11 23:33] cpretzer commented on #5446
@smusick-teamwork is the environment variable approach an option for you? I'd be interested to see if your ArgoCD integration can be implemented that way

[2021-01-11 23:40] cpretzer commented on #5508
@steventranjs You can use the same Linkerd CLI commands on the `default` namespace to inspect the metrics there:

- Run `linkerd check --proxy -n default` to check the health of the proxies in the default namespace
- Run `linkerd metrics <pod>` to see if you can get proxy metrics from pods in the default namespace
- Run `linkerd stat deploy -n default` to see if you can get stats on the CLI

What

[2021-01-11 23:49] #5457 closed

[2021-01-11 23:53] kleimkuhler commented on #5394
@kfirfer Sorry you ran into this issue! We have #5412 open which should fix this issue. This is a good reminder to get that reviewed and hopefully our next edge release can pick up the fix. I'll make sure to leave a comment here when that get's merged.

[2021-01-12 00:06] pradeepnnv commented on #5512
I would like to work on this issue.

[2021-01-12 00:07] adleong commented on #5512
@pradeepnnv fantastic!

[2021-01-12 00:17] adleong commented on #5158
Actually, I think it is probably simpler and more coherent to just ALWAYS do the "reuse-values" behavior, even if the `--values` flag is set.  This means that there's no way in the CLI to unset a value, but I think that's a pretty niche case.  (If this is really necessary, users can unset values by manually editting the linkerd-config-overrides secret).

I think the "reset-values" behavior isn't t

[2021-01-12 00:20] akloss-cibo commented on #5394
FYI, we now delete all completed pods every 30 seconds as a workaround for this issue.  It is not ideal.

[2021-01-12 00:24] olix0r commented on #5158
Though, this necessarily requires downtime, as reinstalling like this builds new trust roots...

Might we be able to support an `--unset` flag?

[2021-01-12 00:27] olix0r commented on #5511
Do we have integration tests that test pod affinity? I don't think we should do a full round of functional testing with this configuration, but it seems like we should at least validate that the output can be validated by kubectl.

[2021-01-12 00:28] rnsv commented on #5446
I believe, env var approach is a viable option.  But, please note that this option
```- -identity-trust-anchors-pem=$(LINKERD_IDENTITY_TRUST_ANCHORS_PEM)```
 expects the value to be base64 encoded - which means, we cannot directly load it from tls secret.
Can we provide an option in identity to accept the non encoded value?

[2021-01-12 00:30] adleong commented on #5158
The trust roots are in the values so as long as you give the same trust roots in your values.yml, it shouldn't incur any downtime.

[2021-01-12 00:32] pradeepnnv commented on #5512
This flag is already added as part of this commit.

https://github.com/linkerd/linkerd2/commit/8eab38d15e211e33889382637845bc15bac3a642

Does this mean this issue is already fixed?

[2021-01-12 00:40] adleong commented on #5512
Ah, you're right.  It looks like it was fixed by https://github.com/linkerd/linkerd2/pull/5509.  Sorry about that!

[2021-01-12 00:40] #5512 closed

[2021-01-12 00:42] olix0r commented on #5158
Oh, I see what you're saying:

+1

[2021-01-12 07:25] karsten42 commented on #5183
The gist I attached are the proxy debug logs, sorry if that wasn't clear.

I will try to get them.

[2021-01-12 09:13] kforsthoevel opened #5520 "Increased error rate: Transport endpoint is not connected (os error 107)"
## Bug Report

### What is the issue?

Since the upgrade from `stable-2.9.1` to `edge-20.12.4` we see an increased error rate (~200/min) in the `linkerd-proxy`. The high rate of errors that haven't been there before worries me a lot.

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.18.14
- Cluster Environment: kops
- Host OS: Ubun

[2021-01-12 12:29] pankajmt commented on #5505
Not much luck with attempt 1

[23:26] [ptolani@Pankajs-MacBook-Pro:~/greaterbank/infosec/PE-1247/pankajmt]$ [._.] cd linkerd2
[23:26] [ptolani@Pankajs-MacBook-Pro:~/greaterbank/infosec/PE-1247/pankajmt/linkerd2]$ [._.] git diff
diff --git a/charts/partials/templates/_proxy-init.tpl b/charts/partials/templates/_proxy-init.tpl
index c818e713..e821f9dd 100644
--- a/charts/partials/templates/_proxy-in

[2021-01-12 12:57] oleh-ozimok opened #5521 "Linkerd Destination crash if endpoint slices enabled"
## Bug Report

### What is the issue?
Linkerd Destination crash if endpoint slices enabled (-enable-endpoint-slices=true)
### How can it be reproduced?
Run Linkerd Destination with -enable-endpoint-slices=true flag
### Logs, error output, etc
`
panic: assignment to entry in nil map
/linkerd-build/controller/api/destination/watcher/endpoints_watcher.go:616 +0x1b4
github.com/linkerd/linkerd2/control

[2021-01-12 14:05] karsten42 commented on #5183
I added the output from `linkerd metrics` to the existing [gist](https://gist.github.com/karsten42/2198075dabdf34a6fc41cdf3c7f84db2)

[2021-01-12 14:18] pradeepnnv commented on #5518
I'd like to work on this issue.

[2021-01-12 16:32] olix0r commented on #5521
@oleh-ozimok Thanks for the helpful bug report! Do you have time to submit a PR with your suggested fix?

[2021-01-12 16:59] #5511 closed

[2021-01-12 17:01] cpretzer commented on #5518
Great, thanks @pradeepnnv!

Please be sure to join the #contributors channel on [Linkerd Slack](https://slack.linkerd.io) to chat with other contributors and get answers to any questions that come up

[2021-01-12 17:25] #5394 closed

[2021-01-12 17:26] kleimkuhler commented on #5394
This should be closed by #5412, and will be included in our edge release later this week.

For anyone that has ran into this issue please reopen if it still occurs.

[2021-01-12 17:41] Pothulapati opened #5523 "support viz specific commands under linkerd"
## Feature Request

#5485 moves all the subcmds that use viz extension under `viz`, The same commands also have to be supported under `linkerd` along with a warning message that they would be depreciated!

[2021-01-12 19:21] alpeb opened #5524 "The default namespace isn't detected by CLI commands"
## Bug Report

### What is the issue?

The default namespace for the current context isn't being properly detected.

### How can it be reproduced?

[code]
### Environment

- Kubernetes Version: 1.19
- Cluster Environment: k3d
- Host OS: Linux
- Linkerd version: edge-21.1.1

### Possible solution

I think the problem lies here:
https://github.com/linkerd/linkerd2/blob/40192e258ab1765944529d80a1ca2d

[2021-01-12 19:35] smusick-teamwork commented on #5446
No success so far, unfortunately.

[2021-01-12 20:09] jkassis commented on #4851
@mattpolsen whatever you do, i recommend using calico as the network layer.

[2021-01-12 21:15] gabriellemadden commented on #5489
Thanks for taking a look - we reviewed each step in the link you provided and checked to make sure we had all the correct pieces in our cluster. The only discrepancy was the `renewBefore` field in the linkerd-identity-issuer certificate (the documentation says to use `25h` [here](https://github.com/linkerd/website/blame/97ef08cac574b09d78fa44a3a5f0d5e5031d935b/linkerd.io/content/2/tasks/automatica

[2021-01-12 22:25] alpeb commented on #5524
Note this is currently being addressed in #5485

[2021-01-12 23:51] #5497 closed

[2021-01-13 05:23] pankajmt commented on #5505
Not much luck with attempt 2

Updated Dockerfile to allow child processes inherit the capabilities too and also assign capabilities also to iptables binary. Same output. Wonder if iptables 1.8.2 legacy on debian buster is good enough. i see mentions buster also now has nftables, successor to iptables.

[code]

[2021-01-13 06:41] #5327 closed

[2021-01-13 09:45] Pothulapati commented on #5523
@adleong `cmd.Find` does not seem to be useful in our case as its expecting all the viz commands to be attached. In my case, I first tried if we could directly invoke find from the rootcmd like
[code]
For `linkerd stat` this was throwing cmd not found. And attaching each commands to viz seems a bit too much especially when we could do it more easily i.e #5525 along with depreciated notices.

[2021-01-13 12:25] yashvardhan-kukreja commented on #5495
hi @adleong , I would like to pick this up :)

[2021-01-13 12:57] pankajmt commented on #5505
Looks like I am able to run iptables commands in a pod without being root if the associated PSP in addition to capabilities NET_ADMIN and NET_RAW also has allowPrivilegeEscalation: true

Now as per https://kubernetes.io/docs/concepts/policy/pod-security-policy/,

This bool directly controls whether the no_new_privs flag gets set on the container process. This flag will prevent setuid binaries from

[2021-01-13 14:06] alpeb commented on #5524
Fixed by #5485

[2021-01-13 14:06] #5524 closed

[2021-01-13 15:10] mateiidavid commented on #5484
Hi, I started working on this yesterday. I think there may be a bit more work than initially thought.

What I have done at first was to change all `.golden` files and all templates to use v1 instead of  v1beta1 for `apiextensions.k8s.io` and `admissionregistration.k8s.io` resources.

To test, I tried a fresh install on my k3s cluster. Unfortunately, warnings were replaced with errors 😢:
[code]

I

[2021-01-13 15:40] alpeb commented on #5484
Hi @mateiidavid :wave:

I have no detailed knowledge of how versioning here works, but from what I can tell, moving to v1, including the client-go methods, it seems to be fine. IMO verifying the CLI remains sane when hitting say a linkerd stable-2.9.1 installation should be enough, along with making sure things continue to work with k8s 1.15.
As for CRD schema, yeah, it might be better to change t

[2021-01-13 16:29] kfirfer opened #5529 "Install with --ha option"
Hello
When installing with --ha argument, the `prometheus.enabled:false` and the controller log level configuration are ignored

this is the command:
[code]

This is the config.yaml:

[code]

Linkerd version: 2.9.1 stable

[2021-01-13 16:47] alpeb commented on #5529
This bug was fixed in #5399, released in `edge-20.12.4`, not yet available in a stable release. If upgrading to an edge is not an option for you, I'm afraid the only course of action for now is to edit the output of `linkerd upgrade` removing the prometheus resources, before applying the yaml to the cluster.

[2021-01-13 16:49] kfirfer commented on #5529
Yes thats what I have done for now

Waiting for the stable release to be published

[2021-01-13 19:04] hawkw commented on #5520
The `field_error` messages in
[code]
are not a proxy error, but [an error emitted by the JSON log formatter](https://github.com/tokio-rs/tracing/blob/b1baa6c2ef4877bd7f11de5991234fc81a025947/tracing-subscriber/src/fmt/format/json.rs#L165-L168), which likely signifies a bug in the JSON formatter that was encountered while trying to log the "connection refused" error.

The actual error being logged

[2021-01-13 19:08] adleong commented on #5489
Thanks for those corrections to the website!

For rotating `linkerd-proxy-injector-k8s-tls` are you following the directions in https://linkerd.io/2/tasks/automatically-rotating-webhook-tls-credentials/ ?  Following those directions should make it so that the proxy-injector will automatically pick up the new certificate when the secret is updated.

[2021-01-13 19:16] adleong commented on #5520
@hawkw is there an issue for the bug in the tokio tracing json formatting that we can link to?

[2021-01-13 19:19] adleong commented on #5280
@shaikatz I'm going to close this issue and the associated PR for now.  Please feel free to re-open if you'd like to continue the discussion.

[2021-01-13 19:19] #5280 closed

[2021-01-13 19:34] #5312 closed

[2021-01-13 19:51] olix0r commented on #5520
@kforsthoevel are these connection closed messages correlated to request failures or other application errors? This message typically indicates that the peer has closed the connection, which may be benign. Specifically, there were caching changes made in December, and these message may simply indicate we're closing idle connections more aggressively.

[2021-01-13 21:12] taman9333 commented on #3260
Hello @alpeb there's a type in `Docker Desktop` which will make cluster stuck starting...
this

`    - --service-account-signing-key-file=/var/run/config/pki/apiserver.key`

should be

`    - --service-account-signing-key-file=/run/config/pki/apiserver.key`

[2021-01-13 21:44] ipaleka commented on #5331
Hi @olix0r !

I suppose the same error I've got using Zalando's [postgres-operator](https://github.com/zalando/postgres-operator) (_spilo_ from above suggests that).
If you have [kind](https://kind.sigs.k8s.io/) installed or have somewhere a cluster used for testing in the default namespace, here are the steps to reproduce the same error:

[code]
And the output is:

`2021-01-13 21:33:15,559 ERROR:

[2021-01-13 21:49] adleong commented on #5234
Fixed by https://github.com/linkerd/linkerd2/pull/5499

[2021-01-13 23:20] kleimkuhler commented on #5394
Just a heads up for those looking to get this fix in, but prefer to remain on stable, `stable-2.9.2` was just released today and contains this fix. Thank you for the reports on this!

[2021-01-14 02:58] mo4islona opened #5536 "Support JSON log format in control plane components"
JSON is much easier to collect/parse by fluentd (or any similar tools). It was nice and more flexible to have a flag for it.

`go run main.go destination`
[code]

`go run main.go destination -log-format json`
[code]

[2021-01-14 06:28] kfirfer commented on #5529
thanks a lot for the hotfix !
closing

[2021-01-14 06:28] #5529 closed

[2021-01-14 07:44] #5523 closed

[2021-01-14 14:21] kleimkuhler commented on #4938
This is closed by #4972, #5294, #5421, and #5458.

[2021-01-14 14:21] #4938 closed

[2021-01-14 14:39] sjahl opened #5539 "postgres dumps hang when routed through linkerd"
## Bug Report

### What is the issue?

I've got a postgres 12.1 database, and a python (django 3.1.3) web application running in two separate pods in my GKE cluster. Normal (mostly very quick) queries between the two pods are fine when meshed through linkerd. However, when trying to dump the database (with `pg_dump` when exec'ing into the web app pod), the dump hangs partway through when traffic i

[2021-01-14 15:44] kforsthoevel commented on #5520
@olix0r Sorry, we have switched to stable-2.9.2 this morning and all those log messages disappeared. We have had around 3000 logs messages from all `linkerd-proxy` containers per 10 minutes and now we have around 100 per 10 minutes w/o changing anything else.
We weren't aware of any actual problems, but the sheer increase in log messages got me worried a lot.

[2021-01-14 15:53] olix0r commented on #5520
@kforsthoevel Thanks for the clarification. For what it's worth, stable-2.9.2 does **not** include a proxy update, so this issue likely persists on edge releases...

At the very least, we need to fix the log message formatting; but we should also investigate the volume of connection resets... We could consider moving these log messages to the DEBUG level to avoid excessive logging, though I'm not

[2021-01-14 15:59] alpeb commented on #3260
Thanks @taman9333! I've updated the comment above :+1:

[2021-01-14 16:31] nnqq commented on #1715
Any news about implementing NATS support?

[2021-01-14 16:34] olix0r commented on #1715
@nnqq the most recent edge release, `edge-20.1.1` should support mTLS/discovery for NATS via the `config.linkerd.io/opaque-ports` annotation.

[2021-01-14 16:34] n-oden opened #5541 "gRPC clients fail with proxy max-concurrence exhausted errors after upgrading to 2.9.1"
## Bug Report

### What is the issue?

After moving from linkerd edge-20.7.5 to stable-2.9.1, we see a large number of connections being blocked due to proxy max-concurrency errors.  This seems to center around (but not be entirely limited to) connections coming over a google internal LoadBalancer service.

### How can it be reproduced?

This happens consistently when we attempt to upgrade to 2.9.

[2021-01-14 17:01] hawkw commented on #5520
opened an upstream issue: tokio-rs/tracing#1192

[2021-01-14 17:11] olix0r commented on #5331
Thanks, @ipaleka. We'll try to take a look at this before the next stable release.

[2021-01-14 17:13] olix0r commented on #5541
Can you share any details about the gRPC APIs in question? We haven't been able to reproduce this issue with our (admittedly simple) test gRPC applications.

[2021-01-14 17:52] olix0r commented on #5218
This work has been done.

[2021-01-14 17:52] #5218 closed

[2021-01-14 17:57] olix0r commented on #5210
This work is done.

[2021-01-14 17:57] #5210 closed

[2021-01-14 17:57] olix0r commented on #5197
This is now tracked by other issues and is mostly complete.

[2021-01-14 17:57] #5197 closed

[2021-01-14 17:58] hawkw commented on #5212
Per a conversation with @olix0r, we determined that the best way to go about this is probably by just changing the proxy's admin metrics to be part of the inbound metrics, rather than separating them. That would mean that all traffic to the admin listener will show up as "inbound" traffic.

To distinguish inbound traffic to the admin listener from inbound traffic to the inbound proxy listener (e.g

[2021-01-14 18:09] olix0r commented on #4989
Dupe of #5484

[2021-01-14 18:09] #4989 closed

[2021-01-14 18:09] hawkw commented on #5520
Update: turns out that was a proxy issue, not an upstream bug --- we weren't configuring the logger correctly. Fixed in linkerd/linkerd2-proxy#845.

[2021-01-14 18:13] adleong commented on #5437
See https://github.com/linkerd/website/pull/887

[2021-01-14 18:22] #5313 closed

[2021-01-14 18:55] n-oden commented on #5541
@olix0r fair question; I've recently made some improvements to our grpc debugging tooling and am going to try to set up a time soon to re-attempt the upgrade and hopefully be able to get some better info out of it.

[2021-01-14 19:12] ipaleka commented on #5331
You're welcome! Please don't hesitate to ask If I may help with some other task, like those logs you mentioned or something else.

[2021-01-14 19:15] ewhauser commented on #4870
I came across the thread because I was also running into an issue with using linkerd and the Datadog agent together. In the setup I'm using, Datadog is installed as a daemonset using this [Helm chart](https://github.com/DataDog/helm-charts/tree/master/charts/datadog) so it is not meshed.

I get similar errors as described above. These logs are coming from the Go Datadog client:

[code]

If I disab

[2021-01-14 21:36] smusick-teamwork commented on #5446
So I was able to finally get this to work with ArgoCD using a fork of the chart.
There were a quite a few issues along the way, some because Argo doesn't fully use Helm, just it's templating. I had to rip out all the YAML anchors for instance.
But the trickiest bit was probably what @rnsv mentioned. Eventually I ended up storing the base64 encoded cert in a secret, double encoding it.

[2021-01-14 21:43] cpretzer commented on #5446
Thanks for the follow-up @smusick-teamwork

Do you think that this is something that is common across CI/CD systems? Or is it unique to ArgoCD?

[2021-01-14 22:09] cpretzer commented on #5541
Thiis may be related to #5183

[2021-01-14 23:40] yashvardhan-kukreja commented on #5441
@adleong  I guess #5497 addresses this as #5497 leads to deleting the entire namespaces with the label `linkerd.io/is-test-data-plane` and the prior deletions also end up cleaning up the entire cluster of resources created by linkerd.(I tested it)
Still, if there's a strong reason to target deletions with respect to the label `linkerd.io/extension`, then, I think that the following command should

[2021-01-15 01:02] adleong commented on #5325
In `--proxy` mode it should also check that all pods which have a linkerd proxy sidecar also have the appropriate tap environment variables set.

[2021-01-15 01:03] adleong opened #5544 "Tap controller should exclude pods with tap disabled"
If you run `linkerd viz tap` targeting a workload which has tap disabled or has not been injected by the tap-injector, the tap command simply waits and produces no output.

In some sense, this behavior is correct.  However, it can be unexpected, and users will encounter this situation more frequently now that the tap-injector is no longer part of the default proxy-injector.

To remedy this, the ta

[2021-01-15 01:12] olix0r commented on #5183
While debugging this today, we noticed something surprising: this error message is completely misleading. The underlying error doesn't actually indicate that the service is at capacity (so we've been trying debug a very different situation). Instead, this error signals, simply, that the proxy is in _failfast_. A service may enter failfast whenever it is unable to process requests for some amount o

[2021-01-15 01:14] olix0r commented on #5541
As mentioned in the other issue:

I'm now less concerned about the details of the gRPC API... Instead, the output of `linkerd metrics` on a pod failing with these errors would probably be informative. Now that we have a clearer lead on this, we'll be adding diagnostics to the upcoming edge release(s) so that we can get a clearer plan of attack.

[2021-01-15 01:37] adleong opened #5545 "Move tap and tap-injector code to viz directory"
The `tap` and `tap-injector` controllers are currently built as subcommands of the Linkerd controller and live inside the controller docker image.  We should move the code for these controllers into the `viz` directory and move them out of the controller docker image.

[2021-01-15 01:37] adleong commented on #5545
It may be convenient to bundle both `tap` and `tap-injector` into the same docker image and perhaps even into the same pod but this isn't a requirement.

[2021-01-15 10:18] smusick-teamwork commented on #5446
I've only used ArgoCD myself, so I don't know how other systems cope with the Helm issues I ran into.

But any gitops solution is going to run into the same problems I ran into trying to read the certs, (specifically the trust anchor). Since the configuration has to be in the repository, certs and keys need to be moved elsewhere. In our case, that is secrets created via cert manager or our own aut

[2021-01-15 12:18] smusick-teamwork commented on #5446
I spoke too soon. The pods were healthy but linkerd check fails and the proxy sidecar fails to inject.

[code]

They're the same cert but loaded two different ways

[2021-01-15 15:07] wmorgan commented on #5505
@pankajmt Thanks for the experimentation. To confirm, the only way you've found to have the proxy-init container to run as non-root is by setting `allowPrivilegeEscalation` to true in the PSP?

[2021-01-15 15:51] #5536 closed

[2021-01-15 15:57] rltvty commented on #5183
We are seeing this issue almost constantly when we try to add linkerd2 to our system.

This morning I upgraded to linkerd 2.9.2 and the issue continues to persist.

After the mention by @olix0r of the potential issue with *failfast*, I tried to grab some logs to help.  See this [gist](https://gist.github.com/rltvty/be58d46f13395d7b24d35f3ed36ade43).

In the logs, most of the requests are coming fr

[2021-01-15 16:01] n-oden commented on #5541
@olix0r interesting!  That definitely tracks with what we've been seeing -- one of the absolutely mystifying aspects of it was the fact that I could not even begin to imagine how we would have overrun a 100k-slot connection pool!

Given the current state of play, I think it makes sense for us to wait for an edge release that has https://github.com/linkerd/linkerd2-proxy/pull/847 merged into it (ho

[2021-01-15 16:17] olix0r commented on #5183
Thanks @rltvty. In your case we see:
[code]
[code]

This error is pretty straightforward; the application isn't accepting these connections so the proxy is unable to forward requests. Is it possible that your application is not listening on `127.0.0.1:8558` and `127.0.0.1:50051`? I.e., perhaps it is only bound on the public interface so it's not accepting connections on the loopback interface? For

[2021-01-15 16:18] karsten42 commented on #5183
For us at least part of the issue was actually in our code where we initialised our grpc server with the setting

[code]

where `n` was `1`. 🤦
So, no wonder really that after a while the linkerd proxy can't establish connections anymore.
Removing this server option solved the issue at hand and the proxy has been working smoothly ever since.

We saw another service where this was happening yesterda

[2021-01-15 16:49] rltvty commented on #5183
@olix0r

In my issue, the server container is still starting as these requests are coming in.  It makes sense that the linkerd-proxy is unable to forward the requests while the server container is starting, but it seems that even after the server is up, linkerd-proxy continues to block drop all requests to the pod for some time.

The server is written in scala... I'll check into how it is listenin

[2021-01-15 16:54] rltvty commented on #5183
@olix0r It looks like we are listening on `0.0.0.0`. Do we need to move to `127.0.0.1` for linkerd-proxy to function correctly?

Thanks.

[2021-01-15 17:08] olix0r commented on #5183
@rltvty No, `0.0.0.0` should bind on all interfaces...

There is a default connect timeout of 100ms--I'd be surprised if you were hitting that on a pod where the application is effectively idle, but we could try increasing that limit. I believe that we'd have to use `linkerd inject --manual` and then manually edit the yaml to include a `LINKERD2_PROXY_INBOUND_CONNECT_TIMEOUT` environment variable.

[2021-01-15 17:53] vyta opened #5550 "latest smi spec versions not supported, locked to v1alpha1"
## Bug Report

### What is the issue?
SMI spec version is locked to v1alpha1, meaning latest versions do not work

### How can it be reproduced?
Create resources with newer versions of smi spec on cluster with linkerd

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.18.10
- Cluster Environment: AKS
- Host OS:
- Linkerd version: st

[2021-01-15 18:07] irizzant opened #5551 "Pod not schedulable with automatic webhoook certificates rotation"
## Bug Report

### What is the issue?
After installing lilnkerd and enabling automatic webook and control-plane certificate rotation (via cert-manager) when certificates are rotated Pods are prevented from being scheduled and fail with:
[code]
It looks like the admission controller `linkerd-proxy-injector` is the root cause, becacuse it doesn't "feel" the certificate rotation.

Slack discussion li

[2021-01-15 18:20] olix0r commented on #5544
Rather than relying on environment variables, it would be preferable to use workload annotations, if possible. Can/should the tap injector set a disable annotation on pods?

[2021-01-15 18:21] adleong commented on #5551
@irizzant if I understand the linked Slack conversation correctly, this has already been fixed on main.  Have you tried the latest edge release?

[2021-01-15 18:23] adleong commented on #5550
Duplicate of https://github.com/linkerd/linkerd2/issues/3962

[2021-01-15 18:23] #5550 closed

[2021-01-15 18:27] adleong commented on #5520
Fixed by linkerd/linkerd2-proxy#845

[2021-01-15 18:27] #5520 closed

[2021-01-15 18:32] adleong commented on #5446
Well I have some good news at least: that check has been removed https://github.com/linkerd/linkerd2/pull/5424

[2021-01-15 18:40] adleong commented on #5446
I've never used ArgoCD or Flux and I have very limited experience with gitops so it's hard for me to have an informed opinion here about the best way to integrate.  But I can say that Linkerd expects the trust root to remain constant with trust root rotation being a very rare and manual process.  So the way that I would expect this to work is that first you would set up cert-manager which would ge

[2021-01-15 20:25] rltvty commented on #5183
I haven't seen the issue now since I added the `linkerd debug sidecar` container.  And removing it didn't restore the issue either.  I'll try to get some more logs next time the issue comes up.

[2021-01-15 20:52] #5521 closed

[2021-01-15 21:32] iamsudip commented on #3819
https://github.com/linkerd/linkerd2/issues/3819

[2021-01-15 23:28] olix0r commented on #5541
We've merged linkerd/linkerd2-proxy#847 and linkerd/linkerd2-proxy#848 to main to help improve failfast diagnostics. I've built and pushed a container image for the proxy that includes these changes. It can be used with control planes from 2.9.x or recent edge releases.

[code]

[2021-01-15 23:33] olix0r commented on #5183
We've merged linkerd/linkerd2-proxy#847 and linkerd/linkerd2-proxy#848 to main to help improve failfast diagnostics. I've built and pushed a container image for the proxy that includes these changes. It can be used with control planes from 2.9.x or recent edge releases.

[code]

[2021-01-16 01:58] pankajmt commented on #5505
Following linkerd control plane PSP changes allow iptables to run as NON root

<   allowPrivilegeEscalation: false
---

29c19
<     rule: RunAsAny
---

my docker image where I have this working atm is

[code]

I am expecting the same result for proxy init container, but still to be verified.

But I am now also wondering if the powers are still same as before.

Run as Root with limited capabilities

[2021-01-16 02:36] mbelang commented on #4870
I ended up meshing datadog pods as well and that resulted in no more 502s from apps to datadog agent. I do see some 502s from datadog agent to linkerd proxy metrics collection api too. And I suspect this is why I have some metrics in datadog that miss some requests. I haven't got the chance to upgrade to 2.9.1 yet but I will soon.

@olix0r any reason you tagged the issue for 2.10 release?

[2021-01-16 11:45] iamsudip commented on #2151
I am facing this issue on linkerd 2.9

[2021-01-16 12:08] rltvty commented on #5183
@olix0r I tried using the new build, and my services are failing on startup.  Logs are in this [gist](https://gist.github.com/rltvty/6fc5342b530282c76b7eeabed1f65daa).

I included both the logs from the service container itself and the linkerd-proxy container, for two of my services.

`egret` is a go-lang service that is failing to connect to an RDS database on startup. `marlin` is a scala service

[2021-01-16 17:37] olix0r commented on #5183
Thanks for the helpful data! My observations:

## egret

### inbound

All of the inbound traffic to egret appears to be prometheus scrapes on port 9100; and it appears that all of these requests fail due to `Connection refused` errors.

To test this, I'd `kubectl exec` into the pod and try to `curl -v localhost:9100/metrics`. This should be, effectively, exactly what the proxy is doing. Does it wo

[2021-01-16 18:42] olix0r commented on #5183
I've opened https://github.com/linkerd/linkerd2-proxy/pull/852 to help give us more information about which peer is failing when we see errors like _Transport endpoint is not connected_.

[2021-01-16 18:47] rltvty commented on #5183
I've verified that `egret` doesn't start listening on any ports until after verifying the database connection.

Instructing the linkerd-proxy to skip outbound port `5432` allows the service to startup successfully.

I might not have a chance to look at `marlin` until tomorrow.

[2021-01-16 19:49] rltvty commented on #5183
I found some time to play with `marlin`.

I updated its linkerd-proxy to skip outbound port 9042 for Cassandra, and also updated the linkerd-proxy on Cassandra to skip inbound on 9042.  Now marlin is starting successfully.

Is there any documentation with some general guidance on which ports should skip the proxy?

Initially, I was thinking it made sense to have the proxy handle all traffic to gai

[2021-01-16 23:55] wmorgan commented on #5401
@piyushsingariya just wanted to say thanks again for fixing this. This was a pet peeve of mine.

[2021-01-16 23:56] wmorgan commented on #5401
(And thanks @purkhusid for creating the issue, which I never got around to doing!)

[2021-01-17 17:12] olix0r commented on #5183
https://linkerd.io/2/features/protocol-detection/ -- we ship with a standard set of skip ports to get many common cases; but clearly we don't catch all of them.

Correct, tracing doesn't really work with arbitrary TCP protocols.

As for mTLS, the _opaque ports_ feature I mentioned is intended to allow the proxy to transport arbitrary protocols over mTLS. This currently only works with resources th

[2021-01-17 22:25] xynova commented on #5505
Running as non-root seems to be always a better choice. Granting root means the process gets write access to all files though and no capabilities prevent that from my experiments.

[2021-01-17 22:44] olix0r commented on #4870
@mbelang

I want to make sure that we take a deeper look at issues like this before we cut another stable release.

[2021-01-17 22:53] olix0r commented on #2151
@iamsudip If you still have this problem would you mind opening a [new issue])https://github.com/linkerd/linkerd2/issues/new/choose) including details about you setup your cluster? Thanks.

[2021-01-18 10:48] smusick-teamwork commented on #5446
The issue is that any helm values in ArgoCD are going to be stored in a Git Repo (in a yaml manifest for that application). Because of this, secrets are usually handled separately from other configuration.

But if the trust root is already stored in a secret on the cluster, then there shouldn't be any need to add it to the Helm values. If the chart was reading the root from that secret, then you w

[2021-01-18 15:53] rltvty commented on #5183
Thanks @olix0r!  I'm beginning to think our issues with "proxy max-concurrency exhausted" are just due us configuring linkerd incorrectly.

I'm pushing out your suggested changes to more of our test environments today.  I'll let you know if I encounter any additional issues.

[2021-01-18 18:28] manusant opened #5561 "Expose service metadata from source service to mirrored service in a Multicluster mesh"
Issue Type:
- [x] Feature request

**Current Solution**
Currently services mirrored from a remote cluster (multicluster mesh) are created with a couple custom annotations and labels without the option to copy the original/remote servicemetadata. That's enough for the service discovery and load balancing but prevents any advanced feature to be implemented on top of the service discovery (In kuberne

[2021-01-18 22:07] rltvty commented on #5183
@olix0r we are still running into `fail-fast` issues on `marlin` and we are currently only proxying gRPC calls.  I think the issue is that our service doesn't initially respond to requests until a startup sequence is complete.

Is there some way we can configure linkerd to not drop into `fail-fast` in this scenario?  Like, wait some time until giving up after container startup?

[2021-01-19 03:05] #5495 closed

[2021-01-19 07:21] olix0r commented on #5183
@rltvty A few questions:

Does this only occur at startup or does this also occur after the process has successfully processed requests?

Does the proxy ever recover (if given enough time) or does it stay stuck this way after the process has initialized? You could check this by `exec`ing into the pod and looking at `ss -an |grep LISTEN | grep $port` (or `netstat -an` if `ss` is not available).

If

[2021-01-19 12:50] RagingPuppies commented on #5183
Hi all,
i would like to contribute some information with my side withGRPC + linkerd + fail-fast and proxy exhaustion exception with .net core.

**Infra**
[ConsoleApp written in .net core. ] - > uses 1 connection with 1 concurrent with grpc -> [HAPROXY with H2 enabled with 3 worker nodes as backend with port 443(ingress)] -> nginx ingress controller with linkerd injected -> kubernetes service[clust

[2021-01-19 13:13] barkardk commented on #5384
I have tested this on a myqsql client connected to a mysql galera cluster and I get connection errors
SO I did the following
Installed a galera cluster using bitnami helm chart. just the latest with no data in it on a 3 node cluster
I set these annotations at first in the statefulset hoping that for example the gcomm port would not be an issue
[code]
But the first restarted meshed galera pod  star

[2021-01-19 13:28] barkardk commented on #5384
As I hit send I noticed that due to a misconfig in my local setup , even if I had installed the proper edge release, that is not what I used for testing.
I would delete my comment but cant seem to so my hasty remark is sadly stuck.
SO I have now verified the running version  with the above exact same settings
 level=info msg="running version edge-21.1.2"
It works but does not look mTLSed.
I will c

[2021-01-19 14:10] barkardk opened #5570 "no mTLS in latest edge-21.1.2 for mysql with port 3306 set to opaque"
## Bug Report
Issue #5384 has been marked closed but is is not clear that that only means SSF is now supported , not TLS. So I am creating a new issue for this here
I have also verified that SSF indeed works on mysql client port but it does not work on galera gcomm port.

I have tested this on a mysql client connected to a mysql galera cluster and I do not get any connection errors but I cant see

[2021-01-19 14:18] n-oden commented on #5541
@olix0r that docker tag does not seem to exist?

[code]

Also: can I apply those annotations at the namespace level or do they need to be made part of the spec for all deployments/statefulsets?

[2021-01-19 14:23] barkardk opened #5571 "latest edge-21.1.2 still has default SSF ports set to be skipped in linkerd iptables"
## Bug Report

### What is the issue?
When testing out edge-21.1.2 as it supports server speaks first protocols it no longer makes sense to bypass common SSF ports in iptables by default ion installation .

### How can it be reproduced?
mesh any pod in kubernetes using linkerd version 21.1.1 or higher , look at the linkerd-init pod logs
[code]
To get rid of the default port 3306 override so to tes

[2021-01-19 14:31] barkardk opened #5572 "linkerd edges is trying to connect to a missing service in edge-21.1.2"
## Bug Report

### What is the issue?
Maybe premature to create an issue on an edge release. If that is , then I apologize.
After installing edge-21.1.2 linkerd edges command no longer works
### How can it be reproduced?
install linkerd-edge-21.1.2 and run
[code]
### Logs, error output, etc

[code]

### Environment

- Kubernetes Version:
- 1.15
- Cluster Environment: (GKE, AKS, kops, ...)
- GKE
-

[2021-01-19 15:38] dayglojesus opened #5594 "Linkerd Upgrade process does not preserve "skipped" ports"
By default, `linkerd-proxy` will avoid negotiating TLS on certain ports. <~ not sure where these ports are officially documented, but there is a ref to them [here in #5093](https://github.com/linkerd/linkerd2/pull/5093#pullrequestreview-510710583).

During a fresh **install**, if one passes `--skip-outbound-ports`, the `linkerd` binary will append any of the ports specified to this default list. H

[2021-01-19 15:42] olix0r commented on #5541
@n-oden Sorry about that. I've done some more debugging over the weekend and I have a branch that would be good for you to test:

[2021-01-19 16:19] olix0r commented on #5183
@RagingPuppies

Your error includes:
[code]

Are you sure there are actually endpoints in the service at the time when the error is logged?

If you are running a control plane from version stable-2.9.x or a recent edge release, it may be helpful to test the above-mentioned proxy version by setting annotations like:
[code]

[2021-01-19 16:48] olix0r commented on #5570
@barkardk Thanks for the detailed issue!

Is the `opaque-ports` annotation set on the _server_ workload? Or on the client workload? It should be set on the serverside workload, and will be discovered by the client. If you've configured it properly on the serverside, it would be helpful to see debug logs from the client proxy (i.e. with `config.linkerd.io/proxy-log-level: linkerd=debug,warn`).

[2021-01-19 17:09] RagingPuppies commented on #5183
@olix0r i had 2 pods with ready status under that deployment, so it won't make much of sense

[2021-01-19 17:17] Pothulapati commented on #5572
No problem.

Just to confirm, Are you sure you installed the linkerd-viz extension through `linkerd viz install | k apply -f -`? Also, We have better error messages comming for cases where extension is not installed and the commands are run at #5566

[2021-01-19 17:46] olix0r commented on #5571
This is a bit tricky... Because `opaque-ports` is a serverside workload annotation, we can't necessarily just replace the

[2021-01-19 17:48] olix0r commented on #5572
It's _especially_ important to get issues on edge releases so that we can fix issues before they hit stable! Thanks for the helpful issues ;)

[2021-01-19 17:50] olix0r commented on #5561
Can you elaborate on the specific problem you're trying to solve? What advanced feature are you trying to implement?

[2021-01-19 18:02] adleong commented on #5446
Sorry to hear that you got so close but couldn't quite get it working 😢

The only thing I can think of to add is that even though Cert-Manager stores the trust root in a secret, the trust root is a not a private value and can be safely stored in a Git Repo (unlike, for example, private keys).

[2021-01-19 18:03] #5450 closed

[2021-01-19 19:38] manusant commented on #5561
Sure.
I work for Mercedes-Benz.io were we are doing a POC for our Kubernetes infrastructure in order to support a multi-cluster mesh across AWS regions and with the possibility to have common services exposed in a cross-cluster (common services maintained by a core team and used by all kubernetes clusters - one cluster per project).

We already tried both linkerd and Istio multicluster setups and

[2021-01-19 19:45] olix0r commented on #5561
@manusant Thanks. That's helpful context. I'm not sure if we'll have bandwidth to work this before stable-2.10, but we'd welcome PRs to support this if you're willing/have time to contribute.

[2021-01-19 20:05] rltvty commented on #5183
@olix0r Now that we are configuring linkerd-proxy properly, the issue seems to primarily happen during the launch of a new cluster of pods.

Initializing and getting to a quorum state on a new cluster takes about 3 minutes.  After reaching quorum the first time, a single pod takes about 45 seconds to restart and rejoin the cluster successfully.

Yesterday in this scenario, I was seeing that the li

[2021-01-19 20:20] rltvty commented on #5183
oh, I'll try the new build too. thanks!

[2021-01-19 20:26] olix0r commented on #5183
@rltvty Thanks for sharing. Let us know how the new build works. If you're still seeing problems, I think we have enough information to try to reproduce this in a test configuration.

[2021-01-19 21:22] coderfornow commented on #5518
is it available ?

[2021-01-19 21:24] coderfornow commented on #216
is this available ?

[2021-01-19 21:31] cpretzer commented on #216
sure if you're willing to help, that would be great :)

[2021-01-19 22:14] coderfornow commented on #216
/assign

[2021-01-19 22:30] adleong opened #5574 "helm: Replace configurable annotation names with include"
The Linkerd chart and the extension charts contain values for configuring the name of certain annotations such as `createdByAnnotation`.  In practice, the name of these annotations should never be changed.  These Helm variables are intended to simply be used as constants.

Instead, replace these variables with `include` statements which allows us to define these constants once but also does not ex

[2021-01-19 22:57] kleimkuhler commented on #5518
@coderfornow Yep this available if you'd like to work on it!

[2021-01-20 00:40] alpeb opened #5575 "Simplify SelfCheck API"
Currently the SelfCheck API returns multiple responses that require special handling in the healthcheck library. It's the only gRPC call made by health checks so it still requires to be handled a little different than the other checks, but we can simplify things by:
1) Simplifying the the gRPC function and its protobuf so that `SelfCheckResponse` consists of just a status field and an error messag

[2021-01-20 01:00] douglmil opened #5576 "Linkerd + Calico + EKS not working"
## Bug Report

### What is the issue?
Linkerd pod injection does not work when installed along with Calico in EKS.

### How can it be reproduced?
Deploy Linkerd in an EKS cluster running with a default install of calico cni.

### Logs, error output, etc

linkderd check:  FailedDiscoveryCheck: failing or missing response from https://192.168.200.144:8089/apis/tap.linkerd.io/v1alpha1: Get https://19

[2021-01-20 10:01] coderfornow commented on #5518
/assign

[2021-01-20 10:08] coderfornow commented on #5574
can you assign this to me?

[2021-01-20 13:13] barkardk commented on #5572
linkerd was freshly installed on a new k8s cluster using the edges-21.1.2 release. I assumed the edges command would work out of the box just like with older versions so I did not make a linkerd viz install no.

[2021-01-20 13:25] barkardk commented on #5570
I actually set the opaque-ports annotation on both sides
I have one galera 3 node mariadb cluster acting as server with 3306 annotated as opaque and galera in-cluster ports annotated as skip-inbound/skip-outbound
Acting as a client was a mysql database setup as a single instance. I annotated the 3306 port on that instance as well.
Here is the proxy log from the mysql "client" database while I run

[2021-01-20 14:30] Pothulapati commented on #5572
@barkardk That makes sense. For 2.10, The control-plane components are being split into Core and extensions ( Currently viz, multicluster and Jager) . Viz components i.e tap, grafana, prometheus, etc are now under viz, and so are the commands. There is no full documentation on this yet. So, Sorry for the confusion.

Some things to look at before the docs are added.
- https://github.com/linkerd/lin

[2021-01-20 14:37] barkardk commented on #5572
Ah ok. Thank you

[2021-01-20 15:12] abarisuzuner commented on #3697
I am having the exact same issue. I wanted to have a look at it just in case if I can find a solution but no luck so far. I found some solutions like [this](https://skryvets.com/blog/2018/09/20/an-elegant-solution-of-deploying-react-app-into-a-subdirectory/). But this is basically about exposing the dashboard on a static domain and path. Have someone ever worked on this issue? Any ideas?

[2021-01-20 15:32] quentinbadoud commented on #3528
I agree that we should be able to mark 404 as errors

[2021-01-20 17:03] olix0r commented on #3528
This can be configured via `ServiceProfile` https://linkerd.io/2/reference/service-profiles/#response-class

[2021-01-20 18:15] adleong commented on #5576
Hi @douglmil. I haven't tried running Linkerd with Calico on EKS but based on the networking restrictions that you describe, it's not too surprising that this doesn't work.  Linkerd relies heavily on webhooks to do things like proxy injection and to serve the tap API.  Linkerd also prohibits running in hostNetwork mode because proxy injection involves modifying the iptables for the pod.

Unfortuna

[2021-01-20 18:20] douglmil commented on #5576
hi @adleong,  Do you know if there are other CNI's such as cillium that allow for intergration with linkerd?

[2021-01-20 18:23] adleong commented on #5576
Any CNI that doesn't impose the networking restriction that prevents the control plane from connecting to pods should work.

[2021-01-20 18:24] barkardk opened #5577 "Custom tagging and docker registry push for linkerd-proxy-init"
## Feature Request
It would be nice to use the make image but be able to configure custom tags
It would also be nice to run make docker-push and push said image to a custom registry without having tio use buildx as it is now in make push
### What problem are you trying to solve?
Build and deploy linkerd-proxy-init images to private registries with custom tags
If the custom tag is omitted the tag i

[2021-01-20 18:24] barkardk commented on #5577
I have a PR https://github.com/linkerd/linkerd2-proxy-init/pull/30 for this

[2021-01-20 18:28] douglmil commented on #5576
@adleong, Any particular recommendations?

[2021-01-20 19:20] hadican commented on #5405
Hi @gokcesurenkok, we are experiencing the same issue. We are running a deployment with lightweight 400+ pods on GKE 1.16, and all are calling a deployment with powerful 6 pods. After a while, say 8-10mins later, we are getting below errors: (hundreds of them)
[code]

[2021-01-20 22:59] adleong commented on #5576
Sorry, I don't personally have any CNI recommendations.

[2021-01-20 23:00] rltvty commented on #5183
@olix0r I don't see much improvement with the new build.  Our pods are still not recovering on startup.

I also noticed another thing... The marlin pods communicate with each other using UDP on port 25520.  When the `linkerd-proxy` is disabled, this works without issue.  But when the proxy is enabled, the communication fails even if we tell the proxy to skip port `25520` in both directions.

I can

[2021-01-20 23:12] olix0r commented on #5183
Bummer. We'll take a deeper look at trying to reproduce this. (Specifically, a pod that receives requests before the application has initialized).

Linkerd shouldn't touch UDP _at all_ right now. It makes sense that you wouldn't see anything in the proxy's logs because these packets should never hit the proxy at all. This could potentially point to some issue with our iptables initialization, but

[2021-01-20 23:54] barkardk commented on #5570
To add to this just to make sure that the fact that I had opaque ports set on both the client and the server was not causing issues.
I tested by taking port 3306 out from the annotations in the mysql client that also serves as a database.
My client (mysql database) annotations
[code]
My server (mariadb galera) annotations
[code]
* queries from mysql-client to mariadb-server work just fine
* querie

[2021-01-21 02:19] DesmondH0 opened #5582 "Linkerd showed Service in fail-fast error while master node is down"
### What is the issue?
We occasionally found that while master node is down, the intra-node connection will be failing.
And we also found the linkerd-proxy is reporting `Service in fail-fast` error as below:
[code]

I expect while master node is gone, services should be still working and intra-node connection should be still able to connect.

### How can it be reproduced?
The event was found while

[2021-01-21 09:48] irizzant commented on #5551
@adleong sorry for the delay, I confirm that:
* version 2.9.2 is still affected by the issue
* latest edge version * works * as expected

[2021-01-21 11:24] adinhodovic commented on #5298
What's the approach to avoid downtime/5xx error while upgrading from 2.8.1 to 2.9.1/2? Just ran into the same issue in our staging environment. Should data planes not be backward compatible by at least 1 version? Did anyone find a workaround?

[2021-01-21 14:56] wmorgan commented on #5298
@adinhodovic Yes, data planes *should* always be compatible by one stable version. In this case there appears to be a bug in some calls that we haven't been able to reproduce. Are you able to reproduce it consistently in your staging environment? If so, can you enable trace logging and report the relevant log lines from `linkerd2_proxy_http::h1` and `linkerd2_proxy_http::normalize_uri` modules?

[2021-01-21 16:24] #5326 closed

[2021-01-21 16:26] olix0r commented on #5298
I've got this repro'd now.

1. install linkerd stable-2.8.1
2. deploy an app (i used a [load generator](https://github.com/olix0r/ort) i wrote, configured to send 1 http request every 5s).
3. upgrade the control plane to linkerd stable-2.9.2
4. restart the server to pick up the newer proxy
5. Then the server emits log messages including the error.

[2021-01-21 16:34] adinhodovic commented on #5298
@wmorgan Ran into this error today and have not had the time yet, but could make a effort if @olix0r repro is not enough. Would be great to backport a fix since it will allow a smooth upgrade for us.

[2021-01-21 16:45] dadjeibaah commented on #5329
@adleong, I tested this on the main branch, it seems like this feature is already supported.  It's possible that we may need to update docs so that we clearly describe how to get this working.

I built linkerd and first installed the jaeger extension. After all checks passed with `bin/linkerd jaeger check`,  I then installed `linkerd-viz` with this command. `bin/linkerd viz install --set jaegerUrl

[2021-01-21 16:55] #5371 closed

[2021-01-21 17:19] #5506 closed

[2021-01-21 18:03] kforsthoevel commented on #5405
@olix0r We ran into a similar problem today. We started 200+ pods in a very short time frame (~1min). Outbound traffic stopped for the whole cluster with the same fail-fast error messages. During debugging we found a lot of errors in the `destination` log:

[code]

and

[code]

<img width="997" alt="Screenshot 2021-01-21 at 19 01 52" src="https://user-images.githubusercontent.com/2952012/105392169

[2021-01-21 20:29] olix0r commented on #5405
@kforsthoevel thanks. this is interesting. Are there errors in the destination controller's _proxy_ logs at that time?

[2021-01-21 20:39] dayglojesus commented on #5331
We are also seeing similar behaviour since upgrading from `2.8.1` to `2.9.2`. None of our Services are "headless", but both HTTP(s) and connections to RDS backends are being severed.

[code]

[code]

I don't know if this is new behaviour or simply more verbose logging. Whatever the case, if you cna lend any advice on debugging or if there's any more information I can provide to assist, let me know

[2021-01-21 20:55] adleong commented on #5575
What I had in mind here was to move the SelfCheck related proto out of a common package and into the viz pacakge (since the metrics-api is the only thing that implements the SelfCheck API).  I don't think we need to modify the proto definition at all.

Since we're getting rid of `checkRPC`, we lose the ability to have one check which generates multiple check results.  I think this is fine: the sel

[2021-01-21 21:13] alpeb opened #5589 "Refactor BuildResource and BuildResource to remove public-api dependency on viz"
Refactor the `BuildResource` and `BuildResources` functions in `controller/api/util/api_utils.go` that are used by `cli/cmd/metrics` so that instead of returning viz' `pb.Resource` they return an internal struct or something from k8s ' apimachinery. That way we can remove the public-api dependency on viz.

Other places in viz that depend on these functions (`stat`, `edges`, `routes` and `tap` (soo

[2021-01-21 22:17] adleong commented on #5329
@dadjeibaah the behavior you describe is exactly what I was hoping for so I think we can call this done!  Thanks for looking into it and validating.

[2021-01-21 22:17] #5329 closed

[2021-01-21 23:04] adleong commented on #5325
https://github.com/linkerd/linkerd2/pull/5496 adds the `viz check` command.  However, more work is still required to add `--proxy` mode and to call the SelfCheck API.

[2021-01-21 23:26] #5328 closed

[2021-01-22 02:06] wmorgan commented on #5298
@adinhodovic Appreciate the offer. Given @olix0r's repro (woot!) we're probably in good shape but I'll let him chime in if he wants more logs.

[2021-01-22 10:26] kforsthoevel commented on #5405
@olix0r There are four types of log messages from `linkerd-proxy`. But 139 log lines.

a)

[code]

b)

[code]

c)

[code]

d)

[code]

Let me know if you need further info.

[2021-01-22 13:03] barkardk commented on #5570
@olix0r  I setup the latest linker-proxy release `v2.129.0`
I have again tested with both client and server port annotates as opaque.
Querying the server from the client now times out but in wireshark it looks like the connection is encrypted.

[code]
After what loks like a succesfull handshake and key exchange to start communicating using encryption  the server sends a RST package and ends the co

[2021-01-22 13:07] kforsthoevel opened #5591 ""connection error: Transport endpoint is not connected (os error 107)" messages in linkerd-proxy log"
## Bug Report

We are seeing a lot of these log messages in the `linkerd-proxy` logs of injected pod. Sometimes in only one of two pods for a deployment sometimes in all of them.

[code]

The target IP is always the pod the message comes from.

What needs to be done here?

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.18.15
- Cluster Environment: kops
- Host OS: Ubu

[2021-01-22 15:56] olix0r commented on #5570
@barkardk Thanks. This is extremely helpful.

Do you see this log message on the client side?
https://github.com/linkerd/linkerd2-proxy/blob/0d6471c46e50aad7afdf509b4ecac080c53e56d5/linkerd/app/outbound/src/tcp/opaque_transport.rs#L78

[2021-01-22 16:05] kleimkuhler commented on #5479
Looks like this was fixed as part of #5485:

Not using viz subcommand:

[code]

Using viz subcommand:

[code]

[2021-01-22 16:05] #5479 closed

[2021-01-22 16:07] barkardk commented on #5570
@olix0r  yes I do
[code]
full log from client
[code]

[2021-01-22 16:43] olix0r commented on #5570
@barkardk How did you build this proxy image? Are you sure it's the release artifact? Or is it possible it included https://github.com/linkerd/linkerd2-proxy/commit/1a7de34ae44e04ce3acc32d10c54ee3032b8e0a3 (which was merged after the release was tag). I just found (and fixed) and issue with that commit that could potentially cause the behavior you're seeing..

[2021-01-22 17:17] barkardk commented on #5570
Ah yes you are correct , it is built using the 1a7de34 merge.  Ill update to include your fix and rerun

[2021-01-22 18:56] olix0r opened #5595 "Add 5432 to default skip ports?"
We've had a bunch of issues recently referencing port 5432 which is used by Amazon RDS and, I believe Postgres. If we do a stable-2.9.3, should we include this skip port? We'll still need to fold this into https://github.com/linkerd/linkerd2/issues/5571 for stable-2.10...

[2021-01-22 20:08] olix0r commented on #5591
Unless there's an application error associated with these messages, there's nothing inherently "bad" about them. It's indicating that a peer has shutdown the connection. We log these at the INFO level because they can be a helpful data point if you're debugging an application error.

You have a few options:

* If these do not relate to application errors and you just want to shut them up, you can

[2021-01-22 20:15] dayglojesus commented on #5594
@adleong ok, you know what ... I have no idea what the behaviour is anymore. I will close this.

[2021-01-22 20:20] dayglojesus commented on #5594
@adleong Actually, I take that back ... Here's what I am trying to say ...

[code]

VS.

[code]

So, re-phrase it anyway required the behaviour in the code above is what I am trying to document because it's confusing and difficult to describe.

[2021-01-22 21:24] adleong commented on #5594
Ah, yes, I see what you mean now.

In 2.8.1 we would append the specified skip ports to the list of defaults while in 2.9.2 we simply use the specified skip ports list as-is.  There are two main reasons why this behavior was changed:

1. It's simpler: whatever skip ports you pass is are the ones that Linkerd will use.  What you see is what you get.
2. It gives you a mechanism to un-set skip ports

[2021-01-22 21:45] dayglojesus commented on #5594
Thanks @adleong. What page is that quoted from? I thin it deserves some greater emphasis 😅

[2021-01-22 21:47] adleong commented on #5594
`linkerd install --help`

or

https://linkerd.io/2/reference/cli/install/

[2021-01-22 21:49] olix0r commented on #5582
@DesmondH0 When you say "master node", you're referring to the Kubernetes API server?

I assume if the API server was down, then no pods were rescheduled during that time.

Linkerd's load balancer should remain cached as long as traffic is running through the system, though it could idle out if traffic stopped for some time.

I'd be curious to check the linkerd-destination controller's logs during

[2021-01-23 14:23] bohrasd commented on #5344
I ran into the same problem, it cannot access to redis once in a while. Sometimes it worked perfectly fine so it's kinda tricky to track down.
The linkerd-proxy outputs:
[code]
Here's the log output of linkerd-debug, in case it could help:
[code]

[2021-01-24 07:08] Tolsto commented on #2704
Would it be possible to add a post-start lifecycle hook to the linkerd-proxy container that blocks until the proxy is ready to serve requests?

[2021-01-24 12:07] JTarball commented on #2214
Hi, Is there any updates on this topic?

[2021-01-24 15:52] olix0r commented on #2704
@Tolsto The issue is that we need to block _application_ containers from starting until the proxy has started. I don't think post-start hooks are can do this. Per the docs:

So, even if we modified application containers with a hook that depends on the proxy, I don't think this could reliably block the container from starting.

That said, if you find something that works, please share an example!

[2021-01-24 22:23] samstride opened #5598 "linkerd v2.9.2 upgrade Error: failed to validate issuer credentials: failed to read CA: not PEM-encoded"
## Bug Report

Linkerd (v 2.x) was originally installed using:

[code]

Been able to upgrade without any issues until v2.9.0.

Running into issue upgrading control plane from v2.9.0 to v2.9.2:

[code]

### What is the issue?

Upgrade fails with following error:

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: Rancher v1.18.4
- Linkerd client version: stable-2.9.

[2021-01-25 00:58] barkardk commented on #5570
@olix0r  I have now verified
I used the latest linkerd-proxy and I installed linkerd-edge-21.1.3
mysql queries look encrypted now
[code]
Thank you so much for the fantastic work

[2021-01-25 01:00] #5570 closed

[2021-01-25 02:12] #5572 closed

[2021-01-25 02:24] olix0r commented on #5570
Thanks @barkardk. I'm also improving some of our test apps to exercise this behavior. E.g. https://github.com/olix0r/tcp-echo/commit/975d4a97c47ef6bb9b05f9ed665a2b8bf342adca

[2021-01-25 04:44] Tolsto commented on #2704
@olix0r I didn't mean to use post-start hooks for the application containers but only for the linkerd-proxy container. Kubernetes starts containers sequentially and a post-start hook will block that process until the post-start hook has completed. This post here describes the idea: https://medium.com/@marko.luksa/delaying-application-start-until-sidecar-is-ready-2ec2d21a7b74

The relevant code is:

[2021-01-25 07:06] hadican opened #5599 ""HTTP Logical service in fail-fast" logs in linkerd-proxy"
## Bug Report
In our system, we have 400+ lightweight pods, which are making requests with gRPC to 6 powerful pods (runs on preemtible node) with 3-4 RPS for each. (All 6 pods have Nvidia GPU) After 1-2 mins of successful deployment and auto Linkerd proxy injection with `kubectl -n the_namespace get deploy/the_deployment -o yaml | linkerd inject - | kubectl apply -f -`, we are seeing hundreds of `

[2021-01-25 14:21] mroohian opened #5604 "Not all Docker image names can be configured using helm chart values"
## Bug Report

### What is the issue?

Not all Docker image names can be configured using helm chart values making it impossible for us to use our private registry.

### How can it be reproduced?

Using helm to install Linkerd does not give the possibility to change all docker image names as variables.

### Logs, error output, etc
Using the following command:

[code]

The `output.yaml` file still

[2021-01-25 15:42] barkardk opened #5605 "latest edge-21.1.3 breaks tcp mTLS in RabbitMQ"
## Bug Report

### What is the issue?
Using linkerd stable-2.9.0 to mesh a RabbitMQ cluster mTLSed endpoints works perfectly out of the box (no port annotations), upgrading to edge-21.1.3 causes RabbitMQ to break
linkerd now throws this `linkerd_proxy_http::detect: Could not detect protocol read=9`

### How can it be reproduced?
install edge-21.1.3 to a rabbitMQ 3 node cluster  check the logs

###

[2021-01-25 16:15] olix0r opened #5606 "Upgrading to recent edge leaves orphaned Tap API service"
After upgrading from stable-2.9.x to a recent edge with:

[code]

I end up with a broken API service:

[code]

This prevents the deletion of namespaces...

Did I upgrade incorrectly? Or is this a problem with the upgrade notes?

[code]

[2021-01-25 16:29] Pothulapati commented on #5606
I think the issue here is that we don't have this label for some cluster-scoped resources including APIService mentioned above. Some others I could find

[code]

As these are cluster-scoped, probably same with some mutations would be created even through the viz extension but that should not effect us from pruning them as viz is separate and may not be installed at all.

[2021-01-25 16:34] olix0r commented on #5605
Note that the "cannot detect protocol" message only means that the module can't identify an HTTP request on the stream, so it continues handling the stream as an unknown TCP protocol:

[code]

We see that the detected protocol is `None` and we continue initializing a TLS connection to the target.

Notably, we see:

[code]

This indicates that the server is closing the connection unexpectedly.

Is

[2021-01-25 16:50] Pothulapati commented on #5606
Update: All the above mentioned resources do have that label. So, Why isn't prune deleting them? 🤔

[2021-01-25 16:51] olix0r commented on #5606
I see other cluster-level resources remain as well:

[code]

[2021-01-25 16:57] olix0r commented on #5604
Looking at https://github.com/linkerd/linkerd2/blob/d5e9d56ce431bdf5ec02e51461ec0cf4bfdd783c/charts/linkerd2/values.yaml -- it looks as if there are settings to control these image names as well?

[2021-01-25 17:00] Pothulapati commented on #5606
[code]

From the stdout, I think its only pruning (which happens after all the resources passed are mutated i.e at the end) existing namespace scoped resources with the label. I can't find any of the cluster-scoped ones being pruned.

[2021-01-25 17:11] olix0r commented on #5599
Thanks @hadican; we've been looking into similar reports of inbound proxies getting stuck in failfast.

It would be helpful to see debug logs from this proxy. You can enable dbeug logging by adding the following annotation to your pod template: `config.linkerd.io/proxy-log-level: linkerd=debug.warn`

It may be the case that our connect timeout is too aggressive and the proxy is unable to establish

[2021-01-25 17:39] Pothulapati commented on #5474
Update: @tharun208 is not working on this issue as it needs some checking on the receiver side. I think @adleong was planning to take this up.

[2021-01-25 17:45] hawkw commented on #5599
Note that the period between `debug` and `warn` should be a comma:
[code]
Just in case you copy and pasted what @olix0r wrote directly :)

[2021-01-25 17:52] olix0r commented on #5474
Per discussion, it might be preferable to avoid tracking metrics in prometheus and instead give the heartbeat job RBAC to enumerate service profile directly.

[2021-01-25 18:49] hadican commented on #5599
Hi @olix0r & @hawkw,

I've tried it back then, to see if I can catch some thing. Here are the logs:

Not sure if I catched the correct ones.
[code]

[2021-01-25 21:02] ruig2 commented on #2214
@JTarball Hi, this project was part of the Google Summer of Code 2019. The related codebase is at https://github.com/ruig2/KafkaRustCodec and hope this is helpful to you.

[2021-01-25 23:05] olix0r commented on #5599
I've made some changes to the _HTTP Logical_ stack that could potentially address this and, if not, should help us have some clearer diagnostics around this part of the stack. If you can set the following pod annotations and share logs from the _first ~30s_ of the pod's runtime, that may help shed light on the issue:

[code]

[2021-01-25 23:06] olix0r commented on #5541
We continue to work on diagnosing and reproducing this issue. We've made some changes to the inbound stack that may better highlight what's going on. I'd recommend testing with the following workload annotations:

[code]

[2021-01-25 23:07] olix0r commented on #5183
We continue to work on diagnosing and reproducing this issue. We've made some changes to the inbound stack that may better highlight what's going on. I'd recommend testing with the following workload annotations:

[code]

attn: @rltvty

[2021-01-26 01:30] DesmondH0 commented on #5582
Hi @olix0r, sorry for confusion.
Yes, i am referring to K8S API server.

And from the destination pod logs, it seems quite normal back at that moment following are some examples:
[code]

And from the external alert system, the external traffic going into the cluster (public ingress) is returning 503 at that moment.
I guess its related to the linkerd proxy error i mentioned above 🤔

[2021-01-26 07:54] hadican commented on #5599
Hi @olix0r,

I've tried with your recent build and here are the logs of proxy container from the beginning:
[code]

I've waited more than 30 secs, waited for 2-3 mins but didn't recover. I'll check again, but did not see any error other than "HTTP Logical service in fail-fast".

I injected with:
[code]

Also, one thing that I noticed; in the logs the version seem as `edge-21.1.2` but latest is `ed

[2021-01-26 08:31] michael4screen commented on #3936
@ArgTang Thank you !  Works perfectly.
But for Keycloak.X (v12.0.2) it is port **7800** instead of **7600**.

[2021-01-26 09:09] Tolsto commented on #5605
I observed the same issue after upgrading from 2.9.2 to edge-21.1.3

[2021-01-26 11:03] Tolsto opened #5611 "Tap doesn't work anymore after upgrade from 2.9.2 to edge-21.1.3"
## Bug Report

### What is the issue?

After upgrading from 2.9.2 to edge-21.1.3 linkerd-tap does not work anymore. All nodes have been restarted after the upgrade and the LINKERD2_PROXY_TAP_SVC_NAME variable has been set. Any suggestions on how to debug this further are greatly appreciated.

### How can it be reproduced?

### Logs, error output, etc

`linkerd viz tap deploy/app --namespace pas` d

[2021-01-26 11:58] mroohian commented on #5604
correct! I missed `webImage` and `grafana.image.name`. sorry for the noise.

[2021-01-26 11:58] #5604 closed

[2021-01-26 14:04] piyushsingariya commented on #5518
Hi @adleong, I would like to take this issue. However, I have a small doubt about how do we exactly know that Linkerd has been installed using **Helm**.

[2021-01-26 14:07] adrianparks commented on #5605
Just to add that I have run into this on a new install of edge-21.1.3. It can be recreated in a dev environment by running through the "How can it be reproduced?" section of https://github.com/linkerd/linkerd2/issues/4999 . When attempting to create the queue in those steps, I saw the following:

[code]

[2021-01-26 14:36] sjahl commented on #5539
As requested, here's some TRACE level logs from a hanging pg_dump: https://gist.github.com/sjahl/f35175a9631de3f1a13f5d9692b0e6f1

I've removed some lines from the log (and noted where I did that). There was thousands of lines of logs relating to reading and writing data which I felt were less interesting, and may have caused some perf issues with github's gist. I left some of the original message

[2021-01-26 15:46] liuerfire commented on #5599
Hi @hadican, just provide a idea to help you troubleshooting:
You can check the pod's iptables rules. If you enabled the CNI plugin and didn't set --use-wait-flag, it may cause broken iptables rules.

[2021-01-26 16:00] barkardk commented on #5605
Thanks @olix0r
also linkerd cluster communications port is unexpectedly closed off (epmb port 4369)
If I tell linkerd to bypass amqp 5672 so that we can create queues  and  4369  for service discovery it works fine again but that feels as a step backwards as with stable 2.9 I can mesh and have mTLS on these ports.

[2021-01-26 16:05] olix0r commented on #5599
Thanks. Looking at this, I realize i mis-specified the log configuration. It would be great if you can try again with:

[code]

It's curious to me that we don't see any logging from the reconnect module, though we see connection refused errors.

It's also interesting that we see attempts at 4s, 6s, and then at 55s -- there's a 50s gap there. What I'm trying to understand from the logs is whether w

[2021-01-26 16:17] olix0r commented on #5605
@barkardk Protocol detection has changed a bit since 2.9. Previously, we could mistake non-HTTP traffic as HTTP, which caused another set of bizarre-seeming failures.

I don't see any references to port 5672 in the logs you shared. Can you share debug logs grepped with `:5672`? It would be helpful to see the exact  error these connections are hitting.

I suspect that annotating the servers to incl

[2021-01-26 16:57] barkardk commented on #5605
It is completely fair to ask for amqp logs sad thing is I cannot get linkerd-proxy to send any output of blocking or at all interacting with this particular port , All I have is if I set  either 4396 or 5672 in skip-inbound/outbound annotations then RabbitMQ will not work . I I set both ports then it works fine.
I am trying to see if I can dig up something on the amqp port from the logs , if not j

[2021-01-26 17:05] kleimkuhler commented on #5598
@samstride Was the original installation through Helm by chance?

[2021-01-26 17:59] olix0r commented on #5212
@hawkw Is this complete?

[2021-01-26 17:59] hawkw commented on #5212
Yup, forgot to close this from the proxy PR!

[2021-01-26 17:59] #5212 closed

[2021-01-26 19:03] adleong commented on #5605
What would actually be super helpful here is if we had an integration test that uses RabbitMQ.  That test would help us validate any fixes for this issue AND help us prevent regressions in the future.  @barkardk would you be interested in helping put together such an integration test?

I think the most straightforward way to do it would be to add a new test case to [edges_test](https://github.com/

[2021-01-26 19:06] adleong commented on #5598
Possibly related: https://github.com/linkerd/linkerd2/issues/5518

[2021-01-26 19:07] adleong commented on #5518
The simplest heuristic is to look for the `linkerd-config-overrides` secret.  This secret will exist if Linkerd was installed with the CLI but will not exist if it was installed with Helm.

[2021-01-26 19:18] dadjeibaah opened #5612 "Linkerd dashboard does not load in versions of Chrome 88+"
## Bug Report

### What is the issue?
The Linkerd dashboard does not load and displays the error message below
![Screen Shot 2021-01-26 at 11 36 29 AM](https://user-images.githubusercontent.com/2197104/105890338-d8352880-5fd4-11eb-9ccd-0a7c28f463ec.png)
It looks like this issue occurs in versions of Chrome 88 and higher. Upon further investigation, it looks like material-ui has a bug that that is

[2021-01-26 19:23] barkardk commented on #5605
@adleong  yes absolutely Id be interested in that

[2021-01-26 19:24] adleong commented on #5582
Hi @DesmondH0!  Unfortunately, we would need a lot more information to be able to look into this issue.  Detailed steps to reproduce it would be best.  In absence of that, more complete information about the state of your system would be helpful.  For example: from the proxy logs you posted, it appears that the proxy is attempting to send a request to `10.118.5.159:8080` but goes into fail-fast.

[2021-01-26 19:27] adleong commented on #5539
Thanks for the detailed information @sjahl!  We will definitely look into this as we prepare for the stable-2.10 release.  Thanks for your patience!

[2021-01-26 19:37] adleong commented on #5344
If I'm following this correctly, the fact that Redis clients which establish an idle connection get timed out by Linkerd-proxy is expected behavior in 2.9.0.  The solution is to either skip the proxy or to mark the port as opaque (requires a recent edge release of Linkerd).

@olix0r is there any other information that we need here or any other action we should take?

[2021-01-26 19:44] adleong commented on #5405
Hi @hadican and @kforsthoevel!  Thanks for these reports.  Could you each please open a new issue for these reports with as much information as possible about the steps you took to trigger the issue or the events that lead up to the issue.  This particular issue describes a very specific scenario involving updating the label selector of an existing service and I think we may be confusing things by

[2021-01-26 19:50] adleong commented on #5605
Awesome!!!  I'd recommend taking a look at the integration test I linked above as a starting point.  Please let me know if I can answer any questions.

[2021-01-26 20:16] hadican commented on #5599
Hi @olix0r,

Here is the log of start:
[code]
It was working fine, then went into fail-fast. These logs are after 1-2 mins:
[code]

[2021-01-26 20:20] adleong commented on #5508
@steventranjs are you still experiencing the issue?  have the commands that @cpretzer posted been helpful at all?

[2021-01-26 20:21] hadican commented on #5599
Hi @liuerfire, thanks for the tip. We don't use the CNI plugin. However, do you have any other tips? 🤔

[2021-01-26 20:26] olix0r commented on #5599
@hadican Thanks, this is helpful. Just for the sake of ruling out configuration issues: is it possible that your gRPC server is setting a stream concurrency limit?

[2021-01-26 20:26] adleong commented on #5551
thanks for confirming!

[2021-01-26 20:36] adleong commented on #5233
This can be accomplished by having the `linkerd check` command first search for all installed extensions by getting all namespaces with the `linkerd.io/extension` label.  For each known extension, it can then invoke the appropriate extension check subcommand.  For example, if the jaeger extension is detected, it can initialize and invoke the jaeger check cobra command.

For now, any unknown extens

[2021-01-26 21:05] kleimkuhler opened #5613 "core: profile command's tap source flag does not work when Viz extension is not installed"
## What is the issue?

When the Viz extension is not installed, the `profile --tap` command does not
work.

The `--tap` flag outputs a SP based on tap data for the given target source, but
if tap is not running or has not injected the target source, an unhelpful error
is returned.

## How can it be reproduced?

Install linkerd without the Viz extension and try to tap any target:

[code]

## Possib

[2021-01-26 21:27] samstride commented on #5598
Originally installed using:

[code]