[2020-02-20 18:57] grampelberg commented on #3622
@ihcsim assuming folks use auto-injection, we could just delete the injector first and have folks clean up the proxies, then output the yaml to remove the control plane.

FWIW, this is all way more complicated than having a command which outputs enough to clean up the control plane. We should keep this issue scoped to that for now.

[2020-02-20 19:44] adleong commented on #4048
I've learned a lot about the GKE Ingress controller today.  Fascinating!

Adding such a gauge doesn't seem unreasonable.  We're also considering increasing the default inbound router capacity.

A potentially more robust solution would be to use a dedicated ingress like nginx and have linkerd-web sit behind that.  The advantage of this is that you can use `skip-inbound-ports` on nginx to avoid the

[2020-02-20 20:14] ihcsim commented on #3622
@grampelberg So to summarize, if we choose to do this, we will limit it to just the control plane. And the new command will:

1. Find all namespace-scoped and cluster-scoped resources that are labelled with `linkerd.io/control-plane-ns` (see https://github.com/linkerd/linkerd2/pull/2971). This ensures that we aren't coupled to the CLI version, where the output of `linkerd install` might be differe

[2020-02-20 21:23] #4082 closed

[2020-02-20 21:52] grampelberg commented on #3622
@ihcsim we should either:

- look up install options from the configmap, output the identical install and let users pipe to delete.
- pick the important things we need to clean up (CRD, namespace, APIService), output only those in the minimal possible sense (just names and kinds) and let users pipe that to delete.

From a complexity perspective, option 1 feels like the most robust, but I definitel

[2020-02-20 22:50] #3616 closed

[2020-02-20 22:51] uromahn commented on #2048
Adding a comment to bubble this up. The ticket has been create a year ago but no action has been taken yet.

[2020-02-20 22:56] grampelberg commented on #2048
@uromahn we'd love your help getting it built! Please jump into the Linkerd slack so that we can chat through what the next steps would be =)

[2020-02-20 23:20] adleong commented on #3962
I spent a bunch of time thinking about this and coming up with what I think the next steps should be here and wrote them in a comment on this issue.  However, it appears that the comment never posted.  😭

I'll try to remember what I came up with...

In order to accomplish this migration without downtime, I think we need to go through a deprecation cycle:

phase 1:
* Linkerd should create both v1al

[2020-02-21 03:18] vukhanhtruong commented on #4071
@grampelberg once enabling prometheus scrape, my linkerd-proxy shows the error:
[code]
It makes my app crashing occasionally. I re-installed the prometheus server by using the helm chart, it fixed the issue already.

Thank you for your kindly support.

[2020-02-21 03:18] #4071 closed

[2020-02-21 05:21] cpretzer commented on #3751
@Enrico2 If Linkerd is giving you the metrics that you want and you can work around the issue with the `proxy-wait-before-exist-seconds` annotation, then it sounds like you're in good shape.

Once Kubernetes officially [supports sidecar containers](https://github.com/kubernetes/enhancements/issues/753), then we'll re-test with the version of Kubernetes that supports those containers to make sure t

[2020-02-21 05:51] Enrico2 commented on #3751
Totally understand.
Although since we have a reproducible environment, if you're curious to
find the root cause let me know, I don't mind spending some time with you
debugging this.

On Thu, Feb 20, 2020, 9:21 PM cpretzer <notifications@github.com> wrote:

[2020-02-21 05:59] cpretzer commented on #3751
@Enrico2 sorting this out together would be AWESOME!

I'll ping you on Slack tomorrow

[2020-02-21 08:14] phxql commented on #2783
Okay, thanks!

[2020-02-21 09:41] oboukili commented on #2681
Hello, I was about to open a new issue just I noticed this thread exhibiting the same linkerd-proxy (both stable/2.6.1 and stable/2.7.0) behaviour I'm encountering across all my meshed pods on 2 different GKE clusters (both 1.14.8-gke.33 and 1.15.7-gke.23). This issue is preventing us from using linkerd on our production clusters.

As advised above, I've set up a service profile with a timeout pol

[2020-02-21 13:12] arminbuerkle commented on #3910
The better solution is to add a proper service account to envoy.

---

I submitted a PR to remove the envoy/contour restrictions.

[2020-02-21 15:29] supra08 commented on #3958
@tanuck can you please elaborate the reproduction steps?

[2020-02-21 15:36] tanuck commented on #3958
@supra08 if you follow the official control plane upgrade instructions - `linkerd upgrade | kubectl apply --prune -l linkerd.io/control-plane-ns=linkerd -f -`
You'll notice the namespace object is omitted from the output

[2020-02-22 03:05] cpretzer commented on #2681
@oboukili Just following up on my slack message.

Can you share the definitions for the k8s probes? I'm going to try to reproduce this

[2020-02-22 10:59] srv-twry commented on #3072
@grampelberg I would like to work on this if it's still relevant.

@Pothulapati Could you please tell me what was wrong with your opened PR that you had to close it?

[2020-02-22 11:07] Pothulapati commented on #3072
So I think, I had merged another tracing PR which had this PR stuff in it (so closed it) and later tracing PR got reverted and was did in a different way.

I think doing the same changes should work fine, unless something changed. :)

[2020-02-22 11:45] supra08 commented on #3622
I had been into the docs to get a better understanding of the issue. From what I infer, option 1 as suggested by @grampelberg looks like a better option.
But on what aspects is it different from the `linkerd install | kubectl delete ...`? The config yaml would be the same as from the stdout of the `linkerd install`. We are mainly aiming for a better linkerd command to achieve this. Am I correct ab

[2020-02-22 19:11] devsinghnaini commented on #3745
@piontec  Hi I wanted to know how you will update the the root trust anchor cert with the help of helm upgrade? Is that the same process how linkerd explained in https://linkerd.io/2/tasks/manually-rotating-control-plane-tls-credentials/ ?

[2020-02-23 18:21] DhruvM1994 commented on #1165
@aliariff how did you get the linkerd dashboard on the Raspberry Pi?

Installation steps:
1. I installed k3s cluster on the Raspberry Pi
2. Downloaded the ```linkerd2-cli-stable-2.4.0-windows.exe``` for Windows 10
3. Created ".yml"-file via ```linkerd install > arm.yml``` as described above
4. Transferred the generated ".yml"-file to the Raspberry Pi via SCP
5. Peformed ```sudo kubectl apply -f ar

[2020-02-23 18:31] sannimichaelse commented on #3997
Hi @ihcsim , do I need to install any package to be able to run the commands for the before and after comparison on the Linkerd Prometheus memory and CPU usage?

 following this #3258 saw the commands used

```k -n emojivoto get deploy```

```k -n linkerd top po```

[2020-02-23 18:37] aliariff commented on #1165
@DhruvM1994
I suggest you make your host(in this case looks like a windows machine) to be able to connect with your raspi cluster. So you can run `kubectl apply` from your windows machine, without scp the yaml file etc. You just need to configure the config (ex: `~/.kube/config` in the windows machine).
In that case, you will able to run `linkerd dashboard` from your windows machine.

[2020-02-23 20:40] DhruvM1994 commented on #1165
I noticed that not all pods in the control plane are "ready". Is it possible that the Kubernetes-Version may prompt that?
I am trying the installation with Kubernetes-Version ```17.X```.

[2020-02-24 01:19] cpretzer opened #4093 "Unexpected value for CONNECT method when setting https_proxy"
The behavior for setting the value of the CONNECT method has changed with version 2.7.0 of the Linkerd proxy.

When testing with the `[squid](http://www.squid-cache.org/)` caching proxy, the value of the method for version 2.7.0 is the IP address and port of the pod running the `squid` proxy.

[code]

The same request sent to a container running with version 2.6.1 of the Linkerd proxy results in t

[2020-02-24 03:38] truongces commented on #3935
Any update? I got the same issue after running load test.
Thanks.

[2020-02-24 05:45] jon-walton commented on #4076
@grampelberg We can use terraform to generate the certificate, but we don't use terraform to deploy helm charts / standard manifests to kubernetes.

Our application deployments are done outside of terraform, using a gitops model and ArgoCD to sync the cluster into the desired state as defined in github. We don't store secrets (encrypted or not) in git (well except for the linkerd trust anchor stor

[2020-02-24 05:48] jon-walton commented on #4076
The end goal for us is to be able to automatically spin up new clusters without human interaction. These will run our entire stack and be used as review environments for pull requests

[2020-02-24 06:05] ihcsim commented on #3622
@grampelberg Are there any install options that will alter the number of generated resource kinds? As @supra08 pointed out, won't that just be the same as `linkerd install | k delete -f -` (other than there is less YAML in the output)? Also, this still requires the CLI to be the same version as the control plane. IMO, a command like `linkerd delete` should be able to clean up all Linkerd resources

[2020-02-24 06:15] ihcsim commented on #3997
@sannimichaelse `k` is just an alias for `kubectl` in `zsh`. The changes needed to fix this issue should be very small. Most of the work lies in the before/after CPU and memory usage comparison. If you put together a test plan, I can help you review it. See https://github.com/linkerd/linkerd2/pull/3541#issuecomment-564717323 for an example.

[2020-02-24 10:21] truongces commented on #3935
I've handled gracefully shutdown the pods, this issue was gone.
I'm not sure if it could help you guys.

[2020-02-24 12:02] oboukili commented on #2681
Sure thing @cpretzer , here you go (I should also add that the application only has cleartext, non-tls'ed http endpoints, and there is no liveness probe check):

          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 4

[2020-02-24 15:36] aliariff commented on #3690
Hi @klingerf

I am interested in fixing this. I am going to see if the problem still exists in the latest release.

[2020-02-24 15:36] alpeb commented on #3761
It appears this is no longer an issue, so closing it down

[code]

[2020-02-24 15:36] #3761 closed

[2020-02-24 16:32] zaharidichev commented on #3992
@grampelberg @adleong
Here is a nginx config that works.  This assumes tht we have the namespace in the service name. We can change that and not support routing if there is no (at least) namespace in the path (i.e. `service-ns-remote.ns`)
[code]

[2020-02-24 16:44] grampelberg commented on #3745
@devsinghnaini yup!

[2020-02-24 17:09] #3116 closed

[2020-02-24 17:12] grampelberg commented on #4076
The Linkerd trust anchor is not a secret. It is a public cert that anyone can see.

[2020-02-24 17:15] grampelberg commented on #3622
@ihcsim sure, especially once we introduce addons.

[2020-02-24 17:42] grampelberg commented on #3992
Woah, nice!

[2020-02-24 17:53] aliariff commented on #3690
I can confirm that the issue still exists in the latest release.

![image](https://user-images.githubusercontent.com/6806035/75177610-d0229800-5736-11ea-950f-0a486cfd97dc.png)

@ihcsim I would like to try to fix this issue. Could you assign this to me?

[2020-02-24 18:19] supra08 commented on #3622
I am a bit unsure about the `resources` that is being referred. Does it include the proxies? And by `addons` are we referring to [this](https://github.com/linkerd/linkerd2/issues/3794)?
@grampelberg @ihcsim

[2020-02-24 18:55] ihcsim commented on #3622
@supra08 The resources refer to everything defined in the `linkerd install` output. It includes the control plane components, each has its own Linkerd proxy sidecar container.

Yes, there are some WIP PRs on addons.

Do you feel like you have enough information to get started? If not, don't hesitate to post your questions here.

[2020-02-24 19:02] supra08 commented on #3622
Yeah, thanks for the info.
I guess I can begin working on it!

[2020-02-24 20:08] dmitri-lerko commented on #4048
Thank you for your advice @adleong . I will evaluate nginx ingress controller, however, I will also be cautious of GKE Ingress popular being a popular choice.

Are you also considering increasing default outbound routes? I've seen some of our services hover around 80 mark, which is quite close to the maximum. What is an actual downside to having default value higher? Does it increase initial memor

[2020-02-24 20:23] raphaelvigee commented on #3819
Same thing here, cant really tell what trigerred that tho

[2020-02-24 20:57] #3958 closed

[2020-02-24 21:23] #3670 closed

[2020-02-24 21:39] saurav-malani commented on #3983
@grampelberg is this assigned to anyone? If not, then please assign this to me, I would like to give this issue a try.

[2020-02-24 21:42] chris13524 opened #4096 "Snap package"
## Feature Request

Linkerd already supports a brew package, why not a snap too?

[2020-02-24 21:45] grampelberg commented on #4096
This'd be awesome!

[2020-02-24 21:46] grampelberg commented on #3983
@Vineet-Sharma29 are you still working on this?

[2020-02-24 21:47] saurav-malani commented on #3840
@ihcsim @grampelberg can the change be done now or we have to wait? If it can be done, then I would like to take up this issue.

[2020-02-24 22:02] ihcsim commented on #3840
@saurav-malani Not yet. I'm closing this issue for now, since it's going to be a while before 1.16 becomes our minimum supported version. GKE, e.g., still supports 1.13. Likely, this issue will go stale before k8s 1.19 arrives.

[2020-02-24 22:02] #3840 closed

[2020-02-24 22:04] saurav-malani commented on #2450
@siggy @ihcsim I would like to look into this, if it's still relevant and open.

[2020-02-24 22:11] ihcsim commented on #2450
@saurav-malani Go for it! Thanks!

[2020-02-24 22:11] cpretzer commented on #4065
hi @DhruvM1994 have you had a chance to look at #3943?

If it looks like the same issue, let's close this one out and collaborate on the other issue.

[2020-02-24 22:12] #4065 closed

[2020-02-25 05:25] Vineet-Sharma29 commented on #3983
@grampelberg No

[2020-02-25 06:03] clintberry commented on #3165
SMI has officially merged header based routing into the spec!!!

[2020-02-25 10:21] phxql opened #4099 ""invalid service: invalid k8s service" in logs"
## Bug Report

### What is the issue?

All my pods which are injected by linkerd constantly print warnings like these:

[code]

There is a service called `jaeger-collector` in the namespace `opentracing` (it's NOT in the mesh). The injected pod runs in the namespace `platform-edge`. I don't get how linkerd constructs the strange service name `jaeger-collector.opentracing.svc.cluster.local.platform

[2020-02-25 10:23] srv-twry commented on #4096
@grampelberg I'll be happy to work on this.

[2020-02-25 10:40] DhruvM1994 commented on #4065
Hey @cpretzer, no I did not dig into it so far.

[2020-02-25 16:54] ihcsim commented on #4096
@srv-twry Go for it!

[2020-02-25 17:06] ihcsim commented on #4099
This looks like https://github.com/linkerd/linkerd2/issues/2800. It's likely that your CoreDNS is configured with autopath enabled. Try disabling it to see if it resolves the problem.

[2020-02-25 17:31] grampelberg commented on #3165
@clintberry we'd love help getting this implemented!

[2020-02-25 18:34] adleong commented on #4055
I did some digging into the history and that kube-system exclusion has been there from the beginning.  I can't recall why we put it in but as far as I can tell it should be safe to remove.

[2020-02-25 18:35] adleong commented on #4055
@humboldt-xie are you interested in working on this?

[2020-02-25 18:37] adleong commented on #4048
It doesn't increase initial memory allocation, but it does increase the maximum potential amount of memory that could be consumed.

We've increased the default to 10k in a [recent PR](https://github.com/linkerd/linkerd2-proxy/pull/434) which should be part of a Linkerd edge release soon.

[2020-02-25 18:38] adleong commented on #3919
@derrickburns any luck reproducing?

[2020-02-25 19:02] tlipinski commented on #3735
@nickjackson did you try running Linkerd 2.7? In my case it no longer reports "Not connected" errors on the same cluster as last time - Kubernetes 1.16.3. I haven't tried 1.17 yet.

[2020-02-25 19:07] derrickburns commented on #3919
@adleong i apologize for the delay. I have not had a chance to attempt to reproduce.

[2020-02-26 00:18] grampelberg commented on #3734
Closing this out, tracking the epic instead in https://docs.google.com/document/d/1uzD90l1BAX06za_yie8VroGcoCB8F2wCzN0SUeA3ucw/edit#

[2020-02-26 00:18] #3734 closed

[2020-02-26 02:32] siggy opened #4101 "Add source labels to inbound metrics"
## Feature Request

### What problem are you trying to solve?

I would like to answer the question:
For a given proxy/pod/workload, what are the inbound metrics, grouped by client?

Additionally, per the [Prometheus docs](https://prometheus.io/docs/instrumenting/writing_exporters/#labels), a single metric should always be exported with the same set of labels. We currently do not satisfy this requi

[2020-02-26 02:32] siggy opened #4102 "Make the set of labels consistent within each metric exported by Linkerd"
## Feature Request

### What problem are you trying to solve?

Make the set of labels consistent within each metric exported by Linkerd.

Per the [Prometheus doc](https://prometheus.io/docs/instrumenting/writing_exporters/#labels), a single metric should always be exported with the same set of labels.

Prometheus' `client_golang` enforces this requirement in `prometheus.Registry`:
https://github.c

[2020-02-26 14:05] #4083 closed

[2020-02-26 14:15] alpeb commented on #4079
Addressed in #4091

[2020-02-26 14:15] #4079 closed

[2020-02-26 14:16] alpeb commented on #4078
Addressed in #4090

[2020-02-26 14:16] #4078 closed

[2020-02-26 15:06] idoqo commented on #3337
Hi @ihcsim If this is till available I'd love to work on it with some pointers. It seems to me like it would also involve modifying Grafana's interface as well.

[2020-02-26 15:36] vasi-grigo commented on #3935
Can confirm this happening  quite a few times for **2.7.0** in GCP during load tests as well for gRPC and HTTP.
The tested pod accepts HTTP requests as input and makes gRPC requests to a backend service.
Tester pod uses the K8S service name as the endpoint. After a few runs with pods and nodes scaling out and in, the traffic is no longer routed although no changes have been made to the service dec

[2020-02-26 15:42] Pothulapati opened #4105 "TestExternalIssuer Integration Test seems flaky"
## Bug Report

### What is the issue?

I've seen this Integration test failing, a couple of times in my PR and also in other PR too. Can we do something here to make the test less flaky?

![image](https://user-images.githubusercontent.com/7892868/75360928-7eb40d80-58dc-11ea-83ad-7f69018c57f8.png)

### How can it be reproduced?

### Logs, error output, etc

(If the output is long, please create a [

[2020-02-26 15:50] Pothulapati commented on #4101
Ah! This is important
On,

(This may not be a important, so take it with a pinch of salt :p )
I've raised a similar issue on the proxy not knowing the metadata i.e https://github.com/linkerd/linkerd2/issues/4008. If we solve that, I guess we don't have to rely on Prometheus and lets us get the same data from each individual proxy too.

[2020-02-26 18:58] mi-lee commented on #3948
@scottcarol Can I take this issue?

[2020-02-26 19:06] scottcarol commented on #3948
@mi-lee You are welcome to take this issue!

[2020-02-26 19:22] mi-lee commented on #3948
Wonderful! Could I be assigned? :-)

[2020-02-26 19:24] scottcarol commented on #3948
Done!

[2020-02-26 19:25] ihcsim commented on #3337
@kohsheen1234 Are you still working on this?

[2020-02-26 20:03] #3717 closed

[2020-02-26 20:03] #3267 closed

[2020-02-26 20:03] #3711 closed

[2020-02-27 01:17] cpretzer commented on #4065
@DhruvM1994 once you have a look at #3943, let me know whether you think it's the same issue.

If it's different, we'll reopen this one and work on it together

[2020-02-27 03:53] #3690 closed

[2020-02-27 08:37] phxql commented on #4099
Hi, thanks for the hint. I'll investigate.

[2020-02-27 09:27] kohsheen1234 commented on #3337
@ihcsim I am having some problems trying to fix this issue, also I am working some something else currently. Let @idoqo give it a shot, you can assign it to @idoqo 👍

[2020-02-27 16:06] phxql commented on #4099
Yep, that fixed it. Thanks for the help!

[2020-02-27 16:06] #4099 closed

[2020-02-27 22:22] hawkw commented on #3202
probably still worth looking into

[2020-02-27 23:31] daveio opened #4116 "Linkerd 2.7.0 on GKE breaks vertical Pod and Node autoscaler"
## Bug Report

### What is the issue?

Installing Linkerd on a GKE cluster causes the Calico vertical autoscaler and vertical node autoscaler to go into CrashLoopBackOff.

**Note:** I have set up RBAC rules to allow Tap to work, without effect. The breakage is present with or without them.

### How can it be reproduced?

* Create a cluster on GKE.
* Install Linkerd with or without the CNI plugin.

[2020-02-28 00:25] adleong commented on #4116
Looks like a similar issue is discussed here: https://github.com/linkerd/linkerd2/issues/3388#issuecomment-557254746

[2020-02-28 09:03] dmitri-lerko commented on #4116
I observe exactly the same behaviour on 1.14.8-gke.33, private IP cluster using VPC-native, with no Vertical autoscaler enabled but with Network Policy enabled.

[2020-02-28 12:53] mayankshah1607 commented on #2553
@ihcsim @adleong  looks like this is very similar to https://github.com/linkerd/linkerd2/pull/4007
If this is not being worked on, I'd love to take up this one! :)

[2020-02-28 17:04] adleong commented on #4048
The above change is now available in the latest [edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-20.2.3)

[2020-02-28 17:18] ihcsim commented on #2553
@mayankshah1607 Go for it!

[2020-02-28 17:20] ihcsim commented on #3337
@idoqo It's yours.

[2020-02-28 20:06] tammert commented on #2553
Just a heads up: I'm pretty sure this bug should have been closed after the refactorings that are mentioned in my non-merged PR #2867.

Unless the bug was reintroduced of course, but if you can't reproduce it quickly I wouldn't spend too much time on it :-)

[2020-02-28 21:06] KIVagant opened #4122 "Add resource request and limits to each pod in L5d namespace (including Helm chart)"
## Feature Request

### What problem are you trying to solve?

[code]

### How should the problem be solved?

There should be an ability to limit each pod resource usage when installing Linkerd. I found a similar issue (https://github.com/linkerd/linkerd2/issues/2980), but this one is more general. It would be nice to have some recommended defaults, but at least cluster administrators should be ab

[2020-02-28 21:09] grampelberg commented on #4122
@KIVagant this happens today and we have recommendations. See:

https://github.com/linkerd/linkerd2/blob/master/charts/linkerd2/values-ha.yaml

Feel free to open things up if we're missing something =)

[2020-02-28 21:09] #4122 closed

[2020-02-28 21:21] KIVagant commented on #4122
@grampelberg , yeah, my bad, I was blind. I actually have the values configured for HA but for some reason, there are no real requests and limits applied to the pods. I'm researching and if find something, will come back.

[2020-02-28 21:39] #3343 closed

[2020-02-28 22:25] cpretzer commented on #3935
@vasi-grigo this is interesting info and I have some questions:

- approximately how many runs did you do?
- when the pods and nodes scaled in and out, did you scale them down to zero at any time?

[2020-02-29 11:33] vasi-grigo commented on #3935
- Hard to say exactly but some 2-3 runs. Think that the key thing is to have a lot of scale in/out events happen.
- Nope; both autoscaling and HPAs are configured for a min of 2+ (nodes and pods correspondingly).

[2020-02-29 15:11] lundbird opened #4123 "Allow for default route timeout configuration"
## Feature Request

### What problem are you trying to solve?
For routes configured in serviceprofiles without a timeout set the default is 10 seconds before the service returns a 504 to the requester. Lots of our routes take long to respond to some requests. It would be convenient for initial installation of serviceprofiles to optionally have a longer timeout, then tune the timeouts later.
### Ho

[2020-02-29 19:58] Josepy commented on #4076
I would also like to see this capability. We are going to use cert-manager to rotate the intermediate cert, but it would be nice to be able to `helm install linkerd ... ` and have it pick up the root CA instead of having to pass on the command line via `global.identityTrustAnchorsPEM=...`

[2020-03-01 15:00] base698 commented on #1726
@grampelberg how do you configure the Prometheus instance, just edit it's configmap to hit an alertmanager you install?  Will the config get overwritten during upgrades?

[2020-03-02 07:33] a7744hsc opened #4125 "Annotation on deployment will not trigger a proxy injection"
## Bug Report

### What is the issue?
I am trying to add a proxy for one of my deployment following the tutorial  https://linkerd.io/2/features/proxy-injection/.

I have added the annotation "linkerd.io/inject: enabled" to my deployment and restart it with "kubectl rollout restart", but the pods under the deployment are not meshed.

**Then I add the same annotation to namespace and it works.**

**

[2020-03-02 09:37] burov commented on #4125
@a7744hsc add annotation for pod template  spec->template->metadata->annotations, instead of metadata->annotation

[2020-03-02 10:00] burov commented on #4076
In case of linkerd installation via spinnaker, for example, will be simpler to get trustAnchor from secret. Any plans to support this functionality ?

[2020-03-02 11:14] DhruvM1994 commented on #1165
With an older version of k3s (0.5.0) that is based on kubernetes v1.14.1 no adjustments were required.
@aliariff Thanks for the great material.

[2020-03-02 13:02] dmitri-lerko commented on #4048
@adleong thank you for all your help. I tried looking into adding metrics, but I feel like I'd need to familiarise myself with rust further to make my addition of any value. With above change, risk of hitting this limit will be very very low.

[2020-03-02 13:19] phxql opened #4126 "java.io.EOFException: SSL peer shut down incorrectly"
## Bug Report

### What is the issue?

After deploying linkerd2 in our cluster, `java.io.EOFException: SSL peer shut down incorrectly` show up.

### How can it be reproduced?

Unsure, happens randomly.

### Logs, error output, etc

Output from the Java application:

[code]

At the same time i see this in the logs:

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version:

[2020-03-02 13:53] zaharidichev opened #4127 "Enable TLS for remote cluster gateways"
After the service mirroring component is merged, we want to enable tls-ed traffic between clusters. Assuming that our ingress is meshed and we have certs that share a common root, we need to be able to convery the remote identitiy that needs to be used when talking to the remote ingress. This can happend via an annotation on the mirrored service. I supposed this can actually happen without any cha

[2020-03-02 14:18] #3910 closed

[2020-03-02 14:42] zaharidichev opened #4128 "Add remote cluster traffic labels"
When Service Mirroring is merged, we would like to be able to distinguish between remote and in-cluster traffic. I think this can be easily done with the addition of a few lables that need to be added by the destinations when it observes new endpoints. Currently the labels added in the metadata (for headless services) are `service` and `namespace`. We can can add to that:

`remote-cluster-call`
`r

[2020-03-02 17:48] adleong commented on #4048
👍 I'm going to close this issue now.  Please re-open or get in touch if you have further problems or questions.

[2020-03-02 17:48] #4048 closed

[2020-03-02 17:57] adleong commented on #4127
I think that sounds more or less right.  I'd imagine that users would put the identity annotation on the gateway service itself so as to reduce coupling between the mirrored service and the gateway service.

[2020-03-02 18:24] zaharidichev commented on #4127
@adleong yes I imagine the same. However this will have to make its way to the local Endpoint, right? And be updated accordingly if the gateway changes

[2020-03-02 18:25] adleong commented on #4127
Yes, that sounds right to me.

[2020-03-02 19:44] alpeb commented on #3802
Closing this, as I confirmed the linkerd2-cni 2.7.0 chart was automatically picked in the helm hub:
https://hub.helm.sh/charts/linkerd2/linkerd2-cni

[2020-03-02 19:44] #3802 closed

[2020-03-03 01:06] a7744hsc commented on #4125
@burov Thank you for your help.

So the annotation should be on pod level but deployment level and the tutorial is a little misleading.   Do you think we can make an update on it?

[2020-03-03 06:31] mayankshah1607 commented on #3183
@ihcsim @grampelberg I'd love to take up this one if it is still relevant. :)
Seems like https://github.com/linkerd/linkerd2/issues/2843 could be related.

[2020-03-03 06:49] mayankshah1607 commented on #3890
@grampelberg do you think I could work on this as a part of https://github.com/linkerd/gsoc/pull/2 ?

[2020-03-03 08:54] burov commented on #4125
@a7744hsc For me it's makes sense to explicitly describe where you need to put annotation [there](https://linkerd.io/2/features/proxy-injection/),  this is a common situation when people put annotations for Deployment instead of Pod template

[2020-03-03 09:58] burov opened #4131 "Control plane configuration refactoring using viper"
## Feature Request
Enable configuration using [Viper library](https://github.com/spf13/viper), Viper is a common library for configuration in Golang world, for me it makes sense to onboard viper. Viper support value overriding on different levels default values, file, envs variables, program arguments, this allows people more flexibility in configuration.

### What problem are you trying to solve?

[2020-03-03 13:22] mayankshah1607 commented on #2553
@tammert you're right. The portion of the code that causes this routine to crash has been refactored/moved. Unless this issue can be reproduced again, it doesn't seem like it should be pursued.
@ihcsim Should this be marked as closed?

[2020-03-03 15:33] souvik3333 commented on #4096
Hi, is anyone working on this? If not can I work on this?

[2020-03-03 15:35] srv-twry commented on #4096
@souvik3333 Hi, yeah I have started working on it. If I can't then I'll let you know :)

[2020-03-03 17:44] ihcsim commented on #2553
@mayankshah1607 Yup, looks like this is fixed. This is the log I see after sending a `kill -15` to the `destination` container.

[code]

[2020-03-03 17:44] #2553 closed

[2020-03-03 19:20] #3079 closed

[2020-03-04 05:00] ihcsim commented on #3183
@mayankshah1607 The only part that we can do here is to return an error and emit an event when `automountServiceAccountToken: false`, which implies that mTLS won't work. If you want to tackle this, feel free!

The [service account token volume projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection) is still in beta. A

[2020-03-04 05:04] ihcsim commented on #3890
@mayankshah1607 Yes, part of your RFC already includes test cases that involve with MySQL and Redis, right? That will cover this too.

[2020-03-04 06:11] christyjacob4 commented on #4014
@adleong Can you please tell me how I can reproduce it

[2020-03-04 06:34] cpretzer commented on #3388
I think that the `priorityClass` and `priorityClassName` configurations should be sufficient to close this issue. In light of this [calico issue](https://github.com/gardener/gardener-extension-networking-calico/issues/8) and having looked through the cluster vertical autoscaler code, I think that this might be something that needs to be addressed upstream.

The other option is that we can rename t

[2020-03-04 08:03] humboldt-xie commented on #4026
we use this like:
[code]
in a common product machine. we didn't want to save the token to filesystem

[2020-03-04 08:05] humboldt-xie commented on #4055
i had remove the code when namespace is kube-system .

review please

[2020-03-04 15:55] Hertog-PJ commented on #3107
We're experiencing a similar issue that when running a docker container(let's call this container A)  within a docker-in-docker image based container (let's call this container B) combined with the linkerd-proxy sidecar prevents any traffic from container A to go outside the cluster.

When trying to fetch an npm package from container A I've observed the following logs in the linkerd-debug contain

[2020-03-04 16:01] mayankshah1607 commented on #3890
@ihcsim would it be advisable to start working on the emojivoto app now itself? I could start small by adding the redis component.

Also, should this issue be moved to the emojivoto repo?

[2020-03-04 16:18] warwick-mitchell1 commented on #3935
We have also experienced this issue on 2.7.0. We've downgraded to 2.6.1 and it appears to be ok now

[2020-03-04 17:53] grampelberg commented on #1726
@base698 to configure the Linkerd prometheus, you would edit the configmap. It would be overwritten during upgrade. I would recommend using your own prometheus for all this today.

[2020-03-04 17:56] grampelberg commented on #4126
This sounds pretty normal. Is there something being impacted specifically?

[2020-03-04 17:57] grampelberg commented on #4128
@zaharidichev are you thinking of this being a label in the metrics?

[2020-03-04 18:00] grampelberg commented on #4127
Won't we know the identity from the service account?

[2020-03-04 18:02] adleong commented on #4127
We need to know the service account of the gateway pods, which isn't intrinsically knowable from the gateway service.

[2020-03-04 18:02] #4125 closed

[2020-03-04 18:04] grampelberg commented on #4131
FWIW, this only works for `linkerd install`. Helm installs won't work, because of limitations inside of helm. That's the main reason we're asking for the inclusion of trust root today.

[2020-03-04 18:21] grampelberg commented on #4026
I'm pretty surprised this isn't an environment variable (which we'd just pick up as part of the REST auth dance).

[2020-03-04 18:22] hawkw commented on #3789
I think this was fixed in another change?

[2020-03-04 18:22] hawkw commented on #3788
probably still relevant?

[2020-03-04 18:45] derrickburns commented on #3977
I have another instance of this problem.

[2020-03-04 18:53] derrickburns commented on #3977
I am not sure if they are related, however, I am using tracing and I know that the trace collector backend is full, so linkerd cannot write spans.

On my production system I do not have tracing and have not seen this bug.

[2020-03-04 18:55] adleong commented on #4127
The problem is that the gateway service may be backed by a number of pods which are running with different service account and thus have different identities.  This scenario would have a single externally facing load balancer IP mapping to multiple different identities and will not work for us.

Having the user specify an identity on the gateway service makes it explicit that the service is unifor

[2020-03-04 22:08] grampelberg commented on #4014
@christyjacob4 we're not actually sure if this is still happening or not. Closing this out for now.

[2020-03-04 22:08] #4014 closed

[2020-03-04 22:11] grampelberg commented on #4123
@lundbird a really cool way to get this working today would be an operator that watches services and automatically creates service profiles for those.

[2020-03-04 23:31] adleong commented on #4131
Thanks for this suggestion, @burov.  However, we're not interested in adopting viper into the project at this time.  Happy to explore other solutions to issues like #4067, though.

[2020-03-04 23:31] #4131 closed

[2020-03-05 00:05] olix0r commented on #3977
I have a proxy version which I believe fixes these issues. It should be released in tomorrow's edge release, but it can be tested manually by adding an annotation to your workload:
[code]

Please let us know if you observe any similar issues with the newer version!

[2020-03-05 15:17] olix0r opened #4138 "proxy log level should not be order-dependent"
A proxy log level like `linkerd=debug,warn` does not emit any logs, but `warn,linkerd=debug` seems to work as intended. This is surprising and, I think, a regression from previous behavior. I would expect it to work as longest-match-wins, ignoring order.

[2020-03-05 16:05] hawkw commented on #4138
Yup, that's definitely a bug. I'll take a look.

[2020-03-05 16:56] cpretzer commented on #3751
Just writing an update here for the folks who may be following this issue.

@Enrico2 and I have held a couple of meetings and have been using [Slack](https://slack.linkerd.io) to discuss this issue.

I've been working to reproduce the behavior with a [simple kafka/zookeeper configuration](https://github.com/cpretzer/demos/tree/master/kafka-on-k8s).

So far, I've not been able to reproduce the beha

[2020-03-05 19:38] hawkw commented on #4138
should be fixed upstream by tokio-rs/tracing#624

[2020-03-05 21:27] alexklibisz commented on #1869
I believe I found a solution to this that doesn't require waiting for a new k8s feature or significantly altering the main job process.

Pods have a [`shareProcessNamespace`](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) setting. This lets containers in a pod see and kill the processes running in other containers.

**The solution:** Assume you can identify the

[2020-03-05 23:06] kleimkuhler opened #4140 "Release tag script should validate the tag"
## Motivation

A listed future possibility in the [Automated releases RFC](https://github.com/linkerd/rfc/blob/master/design/0001-automated-releases.md#future-possibilities)

The validation would ensure the `YY.MM.XX` is correct for edge versions. `XX` would depend on the current edge version incrementing by 1 if `MM` is the same.

The validation for stable release tags would have less "structure"

[2020-03-06 15:12] saurav-malani commented on #3983
@grampelberg  @ihcsim According to me there is somethings is wrong with the "transform" function in cli/cmd/inject.go, specifically here: https://github.com/linkerd/linkerd2/blob/master/cli/cmd/inject.go#L193-L208. i.e. when interconversion occurs from yaml to json and then back to yaml.
ie. maybe when yamltojson conversion is done then every string is under double quote (" "), so conversion metho

[2020-03-06 17:33] Enrico2 opened #4146 "Use `shareProcessNamespace` to shut down the proxy when the main container shuts down"
## Feature Request

### What problem are you trying to solve?

Our main app containers have various durations for their graceful shut downs, sometimes even within the same application (e.g. in prod n seconds, in dev m << n  seconds). We want the proxy process to stay alive until the main app container shuts down (graceful shutdown might still need network). We also want the proxy container to shut

[2020-03-06 18:34] grampelberg commented on #4146
Have you looked at #3798 yet? That solves this specific problem (though, obviously doesn't address the `Job` issues).

[2020-03-06 18:36] Pothulapati commented on #3983
As @saurav-malani mentioned, It's not straight forward from what we discussed.
but I do think its an important use-case, I can take this up and see what I can do there.

@ihcsim Do you have some ideas on how to fix this?

[2020-03-06 18:38] Enrico2 commented on #4146
I did. This is why I mentioned the m << n part. Setting a constant time
value is not as robust as it being dynamic.

On Fri, Mar 6, 2020, 10:34 AM Thomas Rampelberg <notifications@github.com>
wrote:

[2020-03-06 18:47] Enrico2 commented on #4146
Also fwiw, this suggestion would also help with #3751, which we have still not narrowed down to a root cause.

[2020-03-06 18:50] Enrico2 commented on #3751
Skipping specifically those ports didn't help.

We did identify that that the proxy was still holding onto some connections and the hypothesis is that they're preventing it from shutting down.
We were able to find the process id and run `strace` on it.
we saw that the `/metrics` endpoint was still being hit and returning `200 OK` but that the port is not listening anymore, so it's an already estab

[2020-03-06 18:52] grampelberg commented on #4146
It sounds reasonable, there are some nasty edge cases but they don't seem like a major blocker. This'll definitely require going through the [RFC](https://github.com/linkerd/rfc) proces given the potential edge cases. Interested in getting a proposal together there?

Some concerns that I have right now:

- You'll need something to handle the SIGTERM that k8s sends and keep it from getting to the p

[2020-03-06 19:11] grampelberg commented on #3751
@Enrico2 what is your grace period set to? I'm super surprised k8s isn't sending a SIGKILL.

[2020-03-06 19:25] Enrico2 commented on #3751
In this case it was set to an hour (old legacy issue but the setting was not removed). We just changed it to 3 minutes. The main container shuts down usually within 25 seconds though, and so we also have
[code]
We're going to end up with 2.5 minutes of the proxy just stuck and waiting for the SIGKILL.

[2020-03-06 19:31] grampelberg commented on #3751
Totally a bug we need to fix! I was just trying to understand why it seems so unique to your specific use cases. Knowing that the grace period was changed pretty radically from the defaults helps me understand why other folks aren't running into this =)

[2020-03-06 19:42] dad264 commented on #4005
We were having this issue too. After upgrading to 2.7.0, it went away. FWIW.

[2020-03-06 20:02] gamer22026 commented on #3977
Just rolled 20.3.1 into our testing environment. Will update this issue accordingly.

[2020-03-06 20:36] #4138 closed

[2020-03-06 20:45] thedevelopnik opened #4149 "Sidecar is injected when annotation has a value other than `enabled`"
## Bug Report

### What is the issue?
Linkerd 2.7 injects sidecar if the "linkerd.io/inject" annotation is set to values other than "enabled". A developer added it as `linkerd.io/inject: "false"` on two deployments and the sidecar was injected.

### How can it be reproduced?
Add the annotation `linkerd.io/inject: "false"`

### Logs, error output, etc

#### `linkerd check` output

### Environment

[2020-03-06 21:03] grampelberg commented on #4149
@thedevelopnik would you mind explaining more about your setup and maybe sharing the specs? I just tested and value other than `"enabled"` causes it to be skipped.

[2020-03-06 21:05] grampelberg commented on #4149
Here's the code - https://github.com/linkerd/linkerd2/blob/master/pkg/k8s/labels.go#L96

Maybe you have it enabled on the namespace? `false` isn't the same as `disabled`.

[2020-03-06 21:18] alpeb commented on #4081
Fixed by #4100 and #4106

[2020-03-06 21:18] #4081 closed

[2020-03-06 21:22] alpeb commented on #3021
Fixed by #4091 #4090 #4094 #4100 #4106

[2020-03-06 21:22] #3021 closed

[2020-03-06 22:47] hawkw opened #4150 "proxy: elevated HTTP/2 tail latencies on recent master"
## Bug Report

### What is the issue?

Builds of the `linkerd2-proxy` master branch after linkerd/linkerd2-proxy@871e56c9effb3d4ff5ac875a6f2d262d09561f87 display significantly higher 99.9th percentile  latencies in gRPC benchmarks.
![latency-graphs](https://user-images.githubusercontent.com/2796466/76128318-d592a480-5fb8-11ea-9749-b83c19c132bb.png)
(blue bars are linkerd/linkerd2-proxy@b61b044ead8

[2020-03-07 03:55] cpretzer commented on #3935
@warwick-mitchell1 @vasi-grigo @StupidScience the [latest edge](https://github.com/linkerd/linkerd2/releases/tag/edge-20.3.1) has some improvements to the proxy and it would be really helpful if you can give feedback with that version

[2020-03-07 05:19] mayankshah1607 commented on #4149
IIRC, such a scenario should have been handled in https://github.com/linkerd/linkerd2/pull/3909

[2020-03-07 12:32] christyjacob4 commented on #3822
I think this can be closed in light of the merged PRs

[2020-03-07 12:56] Pothulapati commented on #3822
Yes, Thanks!

[2020-03-07 12:56] #3822 closed

[2020-03-07 18:13] jon-walton commented on #4076
To give everyone an update. I've had time today to look into this. I have a proof of concept running with linkerd loading the trust anchors from a secret provided by terraform (anything creating a `kubernetes.io/tls` secret will do) and the issuers provided by cert-manager.

So far it's not touching much code, `linkerd install` still works the same, the helm chart has an additional value (to load

[2020-03-07 20:05] olix0r commented on #4150
@hawkw would you mind testing linkerd/linkerd2-proxy@a7a4cbd1? While I can run the tests, i'm having trouble using `plot.sh` to generate graphs...

[2020-03-07 22:34] hawkw commented on #4150
@olix0r latency on linkerd/linkerd2-proxy@a7a4cbd121da282ee4ba2dc8f420f94feca09390 is significantly reduced!
![ver-latest-latency](https://user-images.githubusercontent.com/2796466/76153382-21f4e780-6080-11ea-89ec-5c2dccd60609.png)
(blue is linkerd/linkerd2-proxy@b61b044ead8025c9553d3a1fcd7dcf3db56b9a74, orange is kerd/linkerd2-proxy@a7a4cbd121da282ee4ba2dc8f420f94feca09390)

Latency on that commi

[2020-03-08 14:37] christyjacob4 commented on #3944
Hey @zaharidichev  I'd like to take this up

[2020-03-08 14:56] zaharidichev commented on #3944
@christyjacob4 Feel free to take a stab. You can see some of my previos work on it right here https://github.com/linkerd/linkerd2/pull/3954/files. At the time our CI was causing us trouble when trying to implement this so it was not possible. Now.. since there have been quit a lot of changes on the CI part it might be the case that things are easier. I am sitll a bit skeptical though...

[2020-03-08 14:58] christyjacob4 commented on #3944
Thanks @zaharidichev  That will help me understand it better. Can I understand what was it, that was causing the issue?

[2020-03-08 15:03] zaharidichev commented on #3944
The problem was that kind (which is what we use for integration testing) uses a very rudimentary network setup called kind-net. This does not support CNI plugin chaining. I tried to deisable that and install calico in place (as far as I remember correctly), but this did not quite work either. The just of it is that kind was nto built with the full fledged functionality of the CNI interface so that

[2020-03-08 15:06] christyjacob4 commented on #3944
So you're saying that you were unable to enable CNI on the CI?

[2020-03-08 17:42] #3518 closed

[2020-03-08 18:28] samber commented on #1726
I would love to add those rules to https://awesome-prometheus-alerts.grep.to/rules as well ;)

[2020-03-08 22:20] jon-walton commented on #4076
@grampelberg RFC: https://github.com/linkerd/rfc/pull/9

[2020-03-09 00:12] lundbird commented on #4046
Not a fix for this, but if you are looking to visualization into per route metrics, I have published one we created at my company here: https://grafana.com/grafana/dashboards/11868. This gives you visualization into your success-rate, latency, and rps. This is similar to the existing dashboards, but this has variables set so you can drill down by sender, receiver, status-code, and rt_route for any

[2020-03-09 07:18] christyjacob4 commented on #3944
@zaharidichev  What are the testcases to be checked as part of the Integration tests? Here are a few that come to mind
1. Install linkerd with cni plugin
2. Install a sample application without CNI,
3. Check that you are able to make a request the pod and get a response back
4. Install the application with CNI
5. Check that you are able to make a request the pod and get a response back

What do yo

[2020-03-09 07:34] phxql commented on #4126
Hi, I don't agree that `java.io.EOFException: SSL peer shut down incorrectly` sounds pretty normal.

The impact is the non-ability to speak with the backend system. Doesn't happen all the time, but does happen occasionally.

This issue only pops up when proxying the traffic through linkerd. When excluding the service from linkerd, the connection to the backend works. I have a workaround with exclu

[2020-03-09 10:44] zaharidichev commented on #3944
The CNI plugin is in fact a facility to configure the ip tabls rules, much like the InitContainer, just a different way of doing it. That being said, you cannot install an application with or without CNI. You can install Linkerd with the CNI plugin, which means you need to install the CNI plugin beforehand. Then if linkerd works and you do some basic tests on an app that is meshed, this means the

[2020-03-09 13:06] christyjacob4 commented on #3944
@zaharidichev Thats exactly how I understood it but sorry I worded it the wrong way.
In order to test if it is working correctly on the CI, do I have to raise a PR? is that the only way to test it?

[2020-03-09 15:23] grampelberg commented on #4149
Closing this for now, please reopen if there's something not working!

[2020-03-09 15:23] #4149 closed

[2020-03-09 15:31] grampelberg commented on #1726
TIL, that is super cool.

[2020-03-09 15:52] grampelberg commented on #4076
@jon-walton awesome!!

[2020-03-09 16:05] grampelberg commented on #4126
Ahha, that's what I was looking for! You're not really getting anything out of proxying 443, so that's a solid workaround. We've got a bug to look into though!

[2020-03-09 16:06] alpeb opened #4156 "Automate the generation of the Helm chart's README files"
Leverage a tool like [helm-docs](https://github.com/norwoodj/helm-docs) to generate the Helm chart's README files automatically based on annotations in the values.yaml files, prior to publishing the charts in CI.

[2020-03-09 19:51] ihcsim commented on #3890
@mayankshah1607 Yup, this will be useful outside of the context of gsoc. We will be able to use it to test the upcoming TCP mTLS work. Meanwhile, this issue can remain in this repo for visibility.

[2020-03-09 20:13] ihcsim commented on #3944
@christyjacob4 This task isn't suitable for a fork. Since kind isn't the right infrastructure for this test, we will have to run this on the remote GKE clusters, which is part of the CI [`cloud_integration_test`](https://github.com/linkerd/linkerd2/blob/caf4e61daf16803324deb3a0093b25912e1c5c6a/.github/workflows/cloud_integration.yml#L71-L119) job. That job only get triggered by events in `master`.

[2020-03-09 20:32] ihcsim commented on #3983
@Pothulapati @saurav-malani Can you help me to extract out that block of code into an unexported function and add some unit test to help identify which library is acting weird? Maybe something like:

[code]
There is a good example on how to set up your unit test with simple inputs in the `json-patch` library [README](https://github.com/evanphx/json-patch#create-and-apply-a-json-patch). Thanks!

[2020-03-09 20:56] grampelberg commented on #4126
The next step for us would be getting a really narrow repro. It'd be perfect if you could provide some k8s yaml that results in this exact behavior.

[2020-03-09 21:03] Enrico2 commented on #1869
@alexklibisz I tried this approach with a **deployment** for a similar issue (https://github.com/linkerd/linkerd2/issues/3751), and the kill command is not permitted:
[code]

The base image is `ubuntu:bionic-20200112`

did you encounter any permissions issues you had to work around?

[2020-03-09 21:04] Enrico2 commented on #4146
I tried this out in our environment and facing some permission issues. See https://github.com/linkerd/linkerd2/issues/1869#issuecomment-596777911.

[2020-03-09 21:33] saurav-malani commented on #3983
@ihcsim I commented out [this](https://github.com/linkerd/linkerd2/blob/master/cli/cmd/inject.go#L205-L208) portion and returned injectedJSON instead of injectedYAML. And, the output corresponding to is exactly same as expected i.e. integer not under double quote and rest under double quote. So, I believe there is nothing wrong till L208 and probably something goes wrong afterwards, specifically h

[2020-03-09 22:45] olix0r opened #4158 "proxy: Decouple controller configuration from profiling"
Our integration tests provide a mocked controller to integration tests so that they can perform discovery as they would in production. But they can be quite brittle, especially as the controller code is used in more places, especially the profiling use case.

The profiling use case, especially, should support traffic to an arbitrary number of services from an arbitrary number of clients, etc. In t

[2020-03-09 23:52] alexklibisz commented on #1869
IIRC, I saw some permission errors when I forgot to add the `shareProcessNamespace` setting.

[2020-03-09 23:54] Enrico2 commented on #1869
I do have that setting, the termination process can see the pid of the other process. Afaict, the issue is that `linkerd-proxy` and the termination process are run by different users.

[2020-03-09 23:57] alexklibisz commented on #1869
In my case, the `java` process was definitely owned by a non-root user (user id 1001 IIRC) and the `kill` process, definitely owned by the root user in the termination container, and I believe that linkerd2-proxy was owned by a non-root user as well. But I would have to double check on the last one and don't have my work computer right now.

[2020-03-10 00:55] Enrico2 commented on #1869
Yeah I didn't set up the termination process to run as root.

On Mon, Mar 9, 2020, 4:57 PM Alex Klibisz <notifications@github.com> wrote:

[2020-03-10 00:59] alexklibisz commented on #1869
Got it. So it's working now?

[2020-03-10 01:03] Enrico2 commented on #1869
I'll update once I try 😉

On Mon, Mar 9, 2020, 5:59 PM Alex Klibisz <notifications@github.com> wrote:

[2020-03-10 08:21] phxql commented on #4126
I'll try to do that, but can't promise anything. The backend system is part of a proprietary system.

[2020-03-10 11:32] christyjacob4 commented on #3061
@grampelberg I would like to work on this

[2020-03-10 14:32] a7744hsc opened #4161 "False alarm when running linkerd checking against kubernetes 1.17"
## Bug Report

### What is the issue?
When running ` linkerd check --pre` against a Kubernetes cluster v1.17,  there is a chance that we got an error `clock skew detected for node(s): xxxx,xxx,xxx.

I have spent some time on investigating the root cause. And found that the time skew checking feature is introduced by [this issue](https://github.com/linkerd/linkerd2/issues/2762) and [this PR](https:

[2020-03-10 15:51] grampelberg commented on #3061
We'd like to move over to https://cytoscape.org/ for doing all the charting. This should be closed out and used as a requirement for that work.

[2020-03-10 15:51] #3061 closed

[2020-03-10 15:54] grampelberg commented on #4161
Check out #3947 for a lot more discussion on where this got to. We'd love help getting the PR across the line!

[2020-03-10 17:03] #4140 closed

[2020-03-10 18:35] miklezzzz commented on #3792
:(

[2020-03-10 21:19] cpressland commented on #3977
I've finally deployed 20.3.1 into our Dev, Staging and Sandbox environments. I'll report back if I see anything odd.

[2020-03-10 21:38] cpretzer commented on #3977
Thanks @gamer22026 and @cpressland looking forward to hearing the results

[2020-03-11 05:08] navinag commented on #2875
Forgot to comment before, adding the firewall rules resolved the issue.
Also this documentation is really helpful
https://linkerd.io/2/reference/cluster-configuration/#private-clusters

[2020-03-11 06:19] christyjacob4 commented on #3622
@supra08 are you still working on this?

[2020-03-11 06:29] christianhuening commented on #3977
@gamer22026 @cpressland thanks for checking this out! I currently lack time, but appreciate your efforts!

[2020-03-11 06:54] supra08 commented on #3622
Yeah! just need 2 days time for this.

[2020-03-11 06:55] christyjacob4 commented on #3622
Okay great! :)

[2020-03-11 08:06] christyjacob4 commented on #3204
I think this can be closed in light of the merged PR

[2020-03-11 11:55] srv-twry commented on #3895
@ihcsim @grampelberg Some questions:

I am not sure I completely understand what a "test" means in this context.
Are the three bullet points the specifications of the testing environment(with 1k services and pods and 10k rps)?

Should I keep the number of pods/services constant at 1K and vary the rps in different tests? Maybe I can also vary the number of pods/services in different test cases.

So

[2020-03-11 11:58] srv-twry commented on #3692
@adleong

What is "traffic"? I saw the `emojivoto.yaml` and couldn't find a deployment with name "traffic". Is it called `vote-bot`?

[2020-03-11 14:57] #3204 closed

[2020-03-11 15:03] grampelberg commented on #3895
@srv-twry I suspect the first two bullets can be done in a single test. 10k rps would be a separate test. We should probably flesh things out a little bit around test definition as well. It'll be valuable to test both sides of the equation.

[2020-03-11 16:41] ihcsim commented on #3983
Are you able to trace down what's going on in `conf.JSONToYAML(injectedJSON)`? Adding some unit tests might help to flush out the bugs.

[2020-03-11 17:34] #3558 closed

[2020-03-12 01:50] srv-twry commented on #3997
I'll take this one since it doesn't look like @sannimichaelse is actively working on this. Plus, this is somewhat related to the "Scale Testing" gsoc idea.

[2020-03-12 05:35] ihcsim commented on #3895
In my ideal world, you let me tune these parameters via command line arguments.

I don't want the test to run for a long time. If the first test suite with 1000 pods ran to completion with a nice report on the latencies, but an hour later, the **fourth** test suite with 50000 pods failed halfway... then what? Shall I re-run everything? I don't mind re-running the test suite manually, where each te

[2020-03-12 05:38] ihcsim commented on #3692
@srv-twry `vote-bot` is the right one.

[2020-03-12 15:07] srv-twry commented on #3895
Thank you for your detailed explanation. A lot of things are much more clearer now :+1:

[2020-03-12 18:12] eMurgaNd opened #4165 "the request could not be dispatched in a timely fashion"
## Bug Report

### What is the issue?
None of the proxies in our cluster are responding. This is the same error in all the proxies.
[  2720.454496451s] ERROR daemon:identity: linkerd2_proxy_identity::certify: Failed to certify identity: grpc-status: Unknown, grpc-message: "the request could not be dispatched in a timely fashion"

### How can it be reproduced?
We're not sure what event led to this.

[2020-03-12 18:50] eMurgaNd commented on #4165
During the upgrade process we missed the DNS change step for 1.14 to 1.15.
`kubectl edit configmap coredns -n kube-system`
Changing `proxy . /etc/resolv.conf` to `forward . /etc/resolv.conf`

[2020-03-12 18:50] #4165 closed

[2020-03-12 21:10] srv-twry commented on #3997
@ihcsim Is it okay if I try to use your setup described at [#3692(comment)](https://github.com/linkerd/linkerd2/issues/3692#issuecomment-564695766) but with a reduced number of deployments of `emojivoto`? May be 10 namespaces each containing 5 replicas of each. For a total of 200(10 * 5 * 4) pods.

AKS won't allow me to create 30 worker nodes because of subscription limits.
I got this message when

[2020-03-12 22:25] derrickburns opened #4168 "Gloo Discovery/Linkerd 2.7.0 issue"
The Gloo API discovery service makes constant calls that linkerd 2.7.0 warns about.  This fills up my logs. Is there a way to suppress the logs?

[code]

https://github.com/solo-io/gloo/issues/2592

[2020-03-13 00:17] siggy opened #4169 "Linkerd HA upgrade stuck with affinity error"
## Bug Report

### What is the issue?

### How can it be reproduced?

On a 4-node AKS cluster, perform a `linkerd upgrade --ha`:

[code]

### Logs, error output, etc

Observe one of the new pods gets stuck pending:

[code]

Observe one of the 4 AKS nodes is not scheduling a tap pod:

[code]

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: v1.17.0
- Cluster Envir

[2020-03-13 03:55] ihcsim commented on #3997
@srv-twry Works for me. Important thing is to keep it running for a while (2+ hours?), and see the trend. Thanks!

[2020-03-13 03:59] ihcsim commented on #3997
@srv-twry Also fwiw, you will notice that the default [emojivoto.yaml](https://run.linkerd.io/emojivoto.yml) defines CPU resource requests for all the deployments, and most of the time your node are heavily underutilized. Feel free to remove those requests to allow more pods to be scheduled onto your nodes.

[2020-03-13 15:46] srv-twry commented on #3997
Okay thanks :slightly_smiling_face:

Yes. I am actually using the scripts from your [gist](https://gist.github.com/ihcsim/4b89e43929d98ffd65658356e761f868). I saw that you've removed the requests.

[2020-03-13 17:41] cpretzer commented on #3935
That's great to hear. Please update this issue if you see any funny behavior.

The changes to the proxy will be included in the next stable release.

[2020-03-13 17:55] christianhuening commented on #3935
awesome!
@cpretzer is there an ETA for the next stable one?

[2020-03-13 19:08] derrickburns commented on #4168
This is a Gloo issue.

[2020-03-13 19:08] #4168 closed

[2020-03-13 21:08] christyjacob4 commented on #3622
@supra08 Can I start work on this?

[2020-03-13 21:20] christyjacob4 commented on #2657
@adleong I'd like to work on this

[2020-03-13 21:45] adleong commented on #2657
@christyjacob4 thanks for your interest!  I believe this was already addressed in https://github.com/linkerd/linkerd2/pull/3833

[2020-03-13 21:45] #2657 closed

[2020-03-14 11:23] mayankshah1607 commented on #3871
Does https://github.com/linkerd/linkerd2/pull/4040 fix this issue?

[2020-03-14 15:35] supra08 commented on #3622
Yeah sorry, I can not continue currently, you can start working on it. 👍

[2020-03-15 20:03] srv-twry commented on #3895
@ihcsim

Does it make sense to have multiple test targets in a single test suite?

For eg: Assume, I have a test-suite aiming to measure the latency of the system. Is it a good practice to also use the same tests for measuring Prometheus CPU/memory usage? Or Is it recommended to start another test suite just aiming at measuring the Prometheus CPU/memory usage?

[2020-03-15 23:15] #3732 closed

[2020-03-15 23:15] #3688 closed

[2020-03-16 14:07] zaharidichev commented on #4093
@cpretzer I think this is fixed on master. Currently the URI authority is set to the correct value on the proxy outbound side. Unfortunatelly I could not see any logs when tailing the cache.log or the access log... Not sure why. But the Linkerd log looks reasonable:

[code]

I think we can close that?

[2020-03-16 15:10] cpretzer commented on #4093
@zaharidichev thanks for the update. I have a reproducible test case and will give it a go on master.

Can you point me to the code that sets the URI? I tried looking for it and got a little lost in the proxy code.

[2020-03-16 17:03] Tharun-Sabbu opened #4175 "Linkerd Injection Priority"
### What is the issue?

Labeling kube-system namespace with config.linkerd.io/admission-webhooks:disabled after cluster restart is working however if we want to inject to a specific deployment in kube-system then it doesn't work.

We are running nginx ingress controller and prometheus in kube-system namespace and injection isn't happening as the label mentioned on namespace to disable injection is

[2020-03-16 17:44] grampelberg commented on #4175
Would you mind sharing the yaml you're using?

[2020-03-16 17:59] Tharun-Sabbu commented on #4175
Namespace yaml:

[code]

Nginx Deployment yaml:

[code]

I edited the namespace by adding webhook disable label, then when I restarted nginx pod, pod did not get injected with linkerd-proxy container.

Then I removed the label from namespace kube-system and after restarting nginx pod, pod was injected with linkerd-proxy.

[2020-03-16 18:04] grampelberg commented on #4175
Oh, so, there's nothing we can do here unfortunately. The label makes it so k8s never reaches out to the injector. This is so that your cluster doesn't get wedged when the proxy-injector is down. You'll want to move these things to another namespace.

[2020-03-16 21:18] zaharidichev commented on #4093
@cpretzer I think you can take a look at this and start from there: https://github.com/linkerd/linkerd2-proxy/blob/master/linkerd/app/outbound/src/endpoint.rs#L345. Then take a look at the normalize_uri.rs, where this authority is set towards the end.

[2020-03-16 22:01] alpeb opened #4176 "CI health and metrics"
## Feature Request

### What problem are you trying to solve?

- We'd like to have a global idea of how CI is performing.
- If there are recurring errors, we'd like to easily tell them apart.

### How should the problem be solved?

- [x] Modify tests in go so they properly surface errors as Github annotations when running in CI
- [x] Modify tests in javascript so they properly surface errors as Gi

[2020-03-17 02:52] #3776 closed

[2020-03-17 17:30] grampelberg commented on #4175
@Tharun-Sabbu I'll be closing this out for now. Please reopen if there's something Linkerd can do!

[2020-03-17 17:30] #4175 closed

[2020-03-17 18:06] kleimkuhler opened #4179 "Changes to Go dependencies require approval from all code owners"
## Motivation

When a change requires updating Go dependencies, the Dockerfiles in all
sub-directories are changed to have new dependency SHAs.

This is an issue because the code owner for each sub-directory is required to
approve the change, even if two other code owners for other sub-directories
have already left approvals.

Current examples:
- #4170
- #4173

## Solution

@adleong proposed one o

[2020-03-17 18:26] grampelberg commented on #4179
I didn't even consider the Dockerfiles. Adding a group just for those files sounds like a fantastic idea to me.

Are there any other shared artifacts in the repo like that we should add?

[2020-03-17 18:47] kleimkuhler commented on #4179
Maybe `.golden` files? They are only in `cli/` and `test/`.

I think the code owners of those directories will probably review those PRs anyways, but there may be some cases where a change is required that doesn't necessarily require a full review from the `cli/` or `test/` code owner?

[2020-03-17 19:32] olix0r commented on #3818
This has been addressed by https://github.com/linkerd/linkerd2-proxy/pull/456

[2020-03-18 03:54] ihcsim commented on #3895
It will make sense for me to be able to say something like, "Given 50 emojivoto namespaces, where each namespace has 50 pods, and a 500 qps rate, the Prometheus average CPU usage is X percent of the pod's CPU limit, and maximum memory utilization is Y percent of the pod's memory limit".

[2020-03-18 12:35] sevaho commented on #3935
Also having this issue with stable-2.7.0 is there an easy to use downgrade option in linkerd?

[2020-03-18 15:36] mayankshah1607 opened #4183 "cli: Update resource selectors for tap, top, routes and metrics commands"
Following up with the discussion on https://github.com/linkerd/linkerd2/pull/4120, the below mentioned updates need to be made to the Linkerd CLI
- Unify various methods that retrieve label selectors
- Add support for `tap`,`top`,`routes`,`stat` to accept list of resources
- Update `metrics` command to accept label selectors - `--selector` flag
- Update `metrics` command to not require resource na

[2020-03-18 15:39] jvandemark commented on #3935
I was seeing the same behavior while testing 2.7.0. I was using `curl` between pods and found the issue when curling service.namespace:port, but was able to work around the the issue by using the fully qualified cluster name: curl service.namespace.svc.cluster.local:port
don't know if this helps anyone ...

[2020-03-18 16:35] alpeb commented on #4183
Thanks for creating this issue :+1:
One thing to consider is that currently there's work undergoing on a `linkerd alpha stat` command by @adleong that will ultimately replace `linkerd stat`, so you might wanna apply your `stat` changes to the new one only.

[2020-03-18 17:42] shifuharris opened #4184 "Azure Private AKS cluster `Failed to certify identity: grpc-status: Unknown, grpc-message: "the request could not be dispatched in a timely fashion`"
Bug Report
What is the issue?
Installing linkerd2 on an Azure Private Kubernetes cluster with an NGINX ingress controller fails to start most pods and renders linkerd non operational

How can it be reproduced?
Install using the getting started installation guide to a Private AKS cluster with NGINX ingress controller installed.  Same behavior every time.

Logs, error output, etc

![Screen Shot 2020

[2020-03-18 18:14] grampelberg commented on #4184
Your identity pod is in crash backoff, so that'd be the problem. What's in the logs for that? My suspicion is that you've not opened up the firewall to allow Linkerd to talk to the api server.

[2020-03-18 18:25] shifuharris commented on #4184
@grampelberg thanks for the reply. Here's what kubectl -n linkerd describe po linkerd-identity-6b98699cf7-62pfj outputs:

Name:           linkerd-identity-6b98699cf7-62pfj
Namespace:      linkerd
Priority:       0
Node:           aks-nodepool1-23409916-vmss000002/10.253.17.6
Start Time:     Wed, 18 Mar 2020 18:18:21 +0000
Labels:         linkerd.io/control-plane-component=identity

[2020-03-18 18:30] grampelberg commented on #4184
1. Please use code snippets. It is impossible to read that otherwise.
2. Please provide logs, not `describe` output.
3. We can help you out more effectively in [Slack](https://slack.linkerd.io/) as it is almost guaranteed this is a configuration problem with your AKS cluster.

I'll be closing this issue out, as it is more of a question than a bug. We can open this issue back up again if there is s

[2020-03-18 18:30] #4184 closed

[2020-03-18 18:33] shifuharris commented on #4184
@grampelberg here is a sinppet of the output from sudo linkerd logs --control-plane-component identity:

+ linkerd linkerd-identity-6b98699cf7-62pfj › linkerd-proxy
linkerd-identity-6b98699cf7-62pfj linkerd-proxy time="2020-03-18T18:18:27Z" level=info msg="running version stable-2.6.0"
linkerd-identity-6b98699cf7-62pfj linkerd-proxy INFO [     0.004736s] linkerd2_proxy::app::main using destination

[2020-03-18 18:34] mayankshah1607 commented on #4183
Yep, had a word with @adleong recently. Looks like the SMI-Metrics API doesn't yet support label selectors, so we might have to open an issue there regarding this.

[2020-03-18 18:46] cpretzer commented on #3935
@sevaho If you're in a position to use the edge release, I'd suggest going forward.

That being said, you can use the `linkerd upgrade` command to roll back to a previous version.

I just tested this by using the `2.6.1` [CLI](https://github.com/linkerd/linkerd2/releases/tag/stable-2.6.1) on a cluster that was running `2.7.0`. You can run the command `linkerd upgrade | kubectl apply -f -`

[2020-03-18 20:52] zaharidichev commented on #4069
@tomstreet Do you happen to have an isolated reproduction of this? We really want to get to the bottom of it.

[2020-03-18 23:12] olix0r opened #4185 "proxy: update test certificates"
The proxy’s test certificates have expired and need to be updated on master.I suggest we use a 10 year expiration.

[2020-03-19 15:53] zaharidichev commented on #4069
@tomstreet I tried to reproduce this in the following way.

1. Installed Linkerd
2. Applied [this yaml](https://gist.github.com/zaharidichev/4bab2c2ca81e35192a110502e74c0f24), providing a mysql instance
3. Ssh-ed into the client pod and ran `for ((i=1;i<=10000000;i++)); do   mysql -h mysql -ppassword -e "SELECT version()"; sleep 1; done`

After some time memory looks like:

![Screenshot 2020-03-19

[2020-03-19 17:51] #4185 closed

[2020-03-20 00:04] Place1 commented on #3107
Yep, just hit this as well. I ended up figuring it out by exec'ing into the pod and checking the network, seeing it didn't work, then googling to arrive here.

I'm new to linkerd, is there any way to see this problem via the linkerd dashboard or grafana?

[2020-03-20 08:41] alenkacz commented on #4123
@grampelberg oooh, that definitely sounds like something I would like to work on :) is it really a solution to this problem though? This feels like a need for timeout settings while yours sounds to me like automated creation of profiles. Pretty much this https://linkerd.io/2/tasks/setting-up-service-profiles/#auto-creation but on the controller level. Am I understanding this correctly?

[2020-03-20 11:24] zaharidichev commented on #4069
Actually scratch all that. I can see the problem occuring on both stable and master. It was not happening in my first test because I has mysql running on a standard port...

[2020-03-20 13:03] saiharshitachava opened #4189 "PSP issue while injecting the side car"
Hi Team..
I have setup linkerd 2
using the link
https://linkerd.io/2/getting-started/

When I try the proxy inject none of pods start with error
39s         Warning   FailedCreate        ReplicaSet   (combined from similar events): Error creating: pods "web-756c775dc4-4m99j" is forbidden: unable to validate against any pod security policy: [spec.initContainers[0].securityContext.capabilities.add:

[2020-03-20 16:39] grampelberg commented on #4123
@alenkacz I was just suggesting the creation of a profile with a catchall that has a default timeout on it. Automatic creation of profiles through an operator would be different, but equally awesome! Even before going down the `tap` based solution we've got right now, something that looks for swagger and proto files on the services and creates them automatically would be awesome! That would fit re

[2020-03-20 17:46] cpretzer commented on #4189
hi @saiharshitachava I see that you posted the same question in https://slack.linkerd.io and @alpeb has been answering your questions.

Can you provide more detail here including:
- how you installed Linkerd
- where your cluster is running: e.g. EKS, AKS, GKE, bare-metal, etc.
- the output from the `linkerd check` command

That will help us to get started :)

[2020-03-20 20:53] kleimkuhler opened #4190 "Provide option for more isolated integration tests"
## Motivation

It should be easier to run integration tests in a more isolated way. Instead
of the default testflow which isolates tests by namespace, tests will be
isolated by cluster. With each test creating it's own cluster, it will ensure
there is no existing Linkerd resources when starting the test. It will also
allow tests to be run in parallel because each test can run within its own
cluste

[2020-03-22 17:29] hanoisteve opened #4266 "Support Kafka Protocol and Request/Response protobuf over Kafka"
# Thanks for your help improving the project! #

## Getting Help ##

Github issues are for bug reports and feature requests. For questions about
Linkerd, how to use it, or debugging assistance, start by
[asking a question in the forums](https://discourse.linkerd.io/) or join us on
[Slack](https://slack.linkerd.io/).

Full details at [CONTRIBUTING.md](https://github.com/linkerd/linkerd/blob/master/

[2020-03-22 20:21] #3373 closed

[2020-03-23 12:16] joakimr-axis commented on #3114
With images for amd64 and arm32v7 built by [jaerik](https://github.com/jaerik), I created docker manifests providing multi-arch support. I put those manifests on dockerhub to be easily available. I run a cluster of mixed units amd64 & arm32v7, and with an amd64 machine on master where I run the linked command through sed to slightly change the image URLs:

`linkerd install --registry docker.io/d97

[2020-03-23 16:55] grampelberg commented on #3114
That's super helpful, thank you @joakimr-axis!

[2020-03-23 16:57] hawkw commented on #4158
Ideally, I think we want the setup of a mock controller to be more declarative than imperative. In the current design, each test is basically responsible for specifying exactly what RPC calls the mock controller should expect and how it should respond to them. This means that each test has to be aware of exactly how the controller behaves in a particular cluster state, making it easy to write test

[2020-03-23 18:19] olix0r opened #4191 "Upgrade client-go for k8s v1.18"
Kubernetes v1.18 is due out soon. However, we will need to take care to upgrade `client-go`, as many APIs have changed (to use `context` as they should have).

Before any code changes, we need to enumerate our dependencies that have transitive `client-go` dependencies to determine an upgrade path.

[2020-03-23 18:26] joakimr-axis commented on #3114
I'll ask @jaerik if he used some extra magic/TLC when he built those images that he could/should share here.

[2020-03-23 19:57] hawkw commented on #2374
AFAICT this is still relevant?

[2020-03-23 21:00] grampelberg commented on #4189
Closing this issue out as it is a question. Please re-open if you run into a bug!

[2020-03-23 21:00] #4189 closed

[2020-03-24 08:10] logbon72 commented on #3935
We're also having this issue. It happens intermittently for some pods. When you try to access the other service directly using their Cluster IP, you get a response, however, if you use the service's name, you get a 502 Bad Gateway error.

The LinkerD proxy sidecar shows the following logs:

[code]

[2020-03-24 09:46] Matei207 commented on #3622
Hi, is anyone currently looking at this issue? If not I'd like to pick it up.

@christyjacob4

[2020-03-24 16:46] #4179 closed

[2020-03-24 19:12] cpretzer commented on #3935
@logbon72 Thanks for the report. Which version of Linkerd are you using?

If you're in a position to try the latest edge, that would be really helpful!

[2020-03-24 19:21] logbon72 commented on #3935
We were using version 2.7.0-stable, now downgraded to 2.6.1-stable.

Unfortunately can't test with an edge version at the moment as we are pressed for time to rollout, but I can try this sometime next week.

[2020-03-24 19:22] cpretzer commented on #3935
Thanks @logbon72.  We should have another edge out this week, so testing next week would be awesome. ⭐️

[2020-03-24 19:41] alpeb opened #4196 "There's are no integration tests running with PSP"
A full run of the integration tests would help catch issues like what #4193 fixed. We could add another [matrix element](https://github.com/linkerd/linkerd2/blob/d6c588f6830f70b563d7d38b333d562dc6ac84fe/.github/workflows/kind_integration.yml#L69) into our kind_integration.yaml workflow.

Unfortunately, it's not obvious to set up KinD to run with PSP, so I'd like to list below some caveats to consi

[2020-03-24 20:37] praseodym opened #4197 "Linkerd CLI should default to current namespace from kubeconfig"
## Bug Report

### What is the issue?

I'm using [`kubens`](https://github.com/ahmetb/kubectx) to quickly switch the default namespace that kubectl uses. This works by rewriting the current context in `~/.kube/config`. For example, executing `kubens ingress-nginx` means that `kubectl get pod nginx-ingress-controller-84dd6b84fd-gcb6x` picks up the pod from the `ingress-nginx` namespace without expl

[2020-03-24 21:10] psychonetic commented on #3441
We are also facing the same issue. It is quite annoying. We are running a cluster on gke. A few days it is working, but after almost all requests are failing. Any updates on this?

[2020-03-24 21:15] grampelberg opened #4198 "Release Test Plan"
## 20.4.1

- [x] scale testing
  - deploy emojivoto to 10 namespaces (with identity)
  - deploy books to 10 namespaces (with identity) / or find a way to get to 100+ services
  - scale each deployment to 10 replicas
  - increase total traffic to 1000 rps
- [x] ingress testing
  - inject nginx-ingress controller
  - send 100k bad domains at it
  - send 100 rps traffic back to emojivoto deployment
-

[2020-03-24 21:19] #3943 closed

[2020-03-24 21:24] #3796 closed

[2020-03-25 00:02] cpretzer commented on #3441
@psychonetic we're still looking for a reproducible test case. Which versions of Kubernetes and Linkerd are you running?

Any additional detail that you can provide about your environment and the types of workloads you are running will be helpful.

In addition, if you have logs that you can share, I can take a look through them.

The next time it happens, it would be helpful to get some output fro

[2020-03-25 02:09] #3800 closed

[2020-03-25 03:48] gamer22026 commented on #3977
Think we can close this one out. Any idea when the edge fixes will land in a 2.x release?

[2020-03-25 04:50] cpretzer commented on #3977
There isn't a date set yet, but we're getting good feedback about the edge releases.

Assuming no new issues come up, my best guess is that one of the upcoming edges will be an RC.

[2020-03-25 07:16] DidierHoarau commented on #3697
Hi,

That's true, this is a common issue with SPA, but some SPA have a way to handle it.

Some application provide a parameter to set the root URL, like: Jenkins, Nexus, Sonarqube, Kibana (not extremely modern frontend but still)

Some application auto-detect the root URL, like: Portainer

I don't know if I have enough knowledge but I may try a PR....

Regards,

[2020-03-25 11:14] HaithemSouala commented on #4116
Any updates ?

[2020-03-25 11:19] HaithemSouala commented on #3388
Any more details about that workaround? how to implement that?

[2020-03-25 17:05] memory commented on #3935
This appears to have bitten us as well, thankfully during the bake-in period on our preproduction cluster.  We've rolled back to 2.6.1 and the problem appears to have vanished.
[proxylog.txt](https://github.com/linkerd/linkerd2/files/4382331/proxylog.txt)

[2020-03-25 17:45] grampelberg commented on #4116
@HaithemSouala we've not made progress and would love help getting it fixed!

[2020-03-25 19:12] futurekill commented on #3935
We're seeing the same thing on 2.7.0. Happens very intermittently and not with all services.

[2020-03-25 22:21] cpretzer commented on #3388
Hi @HaithemSouala

@michalschott gave a great description of the `priorityClass` and `priorityClassName` configurations that they created in [this comment](https://github.com/linkerd/linkerd2/issues/3388#issuecomment-553486915).

[2020-03-26 09:39] HaithemSouala commented on #3388
Hi @cpretzer,

I posted a message on Slack.

[2020-03-26 10:25] Matei207 commented on #4197
I'd like to pick this up if nobody else is working on it.

[2020-03-26 12:51] irizzant commented on #3260
Minikube won't start with:
`minikube start --extra-config=apiserver.service-account-issuer=api --extra-config=apiserver.service-account-signing-key-file=/var/lib/minikube/certs/apiserver.key --extra-config=apiserver.service-account-api-audiences=api`

at least not version 1.8.2

[2020-03-26 13:13] misakwa opened #4203 "Full automation of control plane TLS cert rotation for clusters"
## Feature Request

While automating rotation of control plane TLS I noticed that there are three components that cannot be automated:

- Proxy Injector
- SP Validator
- Tap service

The certs for these credentials can be set manually through the helm chart, but the cli doesn't provide anyway to set these.

### What problem are you trying to solve?

Provide full automation of all tls certs through

[2020-03-26 14:25] alpeb commented on #4197
@Matei207 Great! please proceed :+1:

[2020-03-26 14:42] alpeb commented on #3260
Thanks @irizzant :+1:
I've updated the comment above.

[2020-03-26 16:14] ihcsim commented on #4203
Here are some other alternatives to consider:

1. Try annotate the webhook and apiservice configuration with `certmanager.k8s.io/inject-ca-from`. Last I tried with [Kubebuilder](https://kubebuilder.io/cronjob-tutorial/cert-manager.html), this will notify cert-manager to inject the specified certificate into the configuration
1. Last I checked, `helm upgrade` will recreate the `caBundle` inside the

[2020-03-26 17:51] alpeb commented on #3622
Forgive me for jumping in late into this issue.
From my understanding, it is sufficient to gather the cluster-scoped resources (APIService, ClusterRoles, etc) and the namespace, and delete that. It's not needed to regenerate all the namespace-scoped resources (Deployments, Services, etc) as deleting the namespace will take care of deleting everything under it. Which also includes the Secrets, Issu

[2020-03-26 17:57] adleong commented on #3622
I really like @alpeb's suggestion.  The only downside that I can think of is that we need to hardcode the list of cluster-scoped kinds, and this could theoretically change at some point.  But I think this is outweighed by the benefit that this command will still work even if the list of installed resources changes between versions, as it often does (such as when we add new RBAC, for example).

[2020-03-26 19:37] Matei207 commented on #3622
Hi, I've read the new comments and thought I'd weigh in with my own opinion.

The way I have implemented it seems a bit heavy and unnecessarily complex, so I welcome the idea of simplifying it as @alpeb suggested. I am thinking of using the `k8s clientset` to get a list of all of the resources, output to stdout then that can be piped to `kubectl delete`. I also will get rid of the subcommands (e.g

[2020-03-26 20:18] paymog commented on #3403
Does setting up `skip-inbound-ports` reduce the mTLS guarantees of linkerd for service-to-service communication?

[2020-03-26 20:23] 007 commented on #3207
`priority/P0` should trump `stale`, but @olix0r are y'all ever gonna do this?

[2020-03-26 20:26] olix0r commented on #3207
@007 I agree it should.. I think #pinned should work... Parts of this work have completed. I'm working on an RFC to scope the rest of the work that needs to be completed. Expect progress on this soon.

[2020-03-26 20:32] bzon commented on #3403
@paymog in this context, it’s only the nginx pod to upstream pod traffic. See also https://linkerd.io/2/reference/proxy-configuration/

[2020-03-26 22:15] hawkw commented on #4158
Started on a standalone Destination server: https://github.com/linkerd/linkerd2-mock-dst

Right now, it's not used in any of the existing integration tests, as it doesn't support everything the current tests need. However, it should be useable as a standalone process in benchmarks.

[2020-03-27 00:35] misakwa commented on #4203
Yeah. That will only partially update the cert references . The deployment backing the webhook/apiservice will still read from the secret . That secret will need to be updated with whatever was injected with cert-manager.

I'll have to test this out. Does `linkerd upgrade ...` also do the same?

TIL.

[2020-03-27 01:52] misakwa commented on #4203
@ihcsim you're right about point 2. `helm upgrade` does regenerate the certs and restart the pods. I think its quite useful actually. Unfortunately I wasn't able to get `linkerd upgrade ...` to do the same.

There's still no way to automatically generate these certs without running a `helm upgrade ...` though.

[2020-03-27 14:40] alpeb opened #4206 "Extract common logic in scripts and CI to load images into KinD"
Extract common logic to load images into KinD, from `bin/kind-load`, `bin/install-pr`, `.github/workflows/kind_integration.yml` and `.github/workflows/release.yml`.

Besides removing the duplication, `bin/kind-load` will benefit in performance by having each image be loaded in parallel.

This will be a follow up to #4167

[2020-03-27 16:04] olix0r opened #4207 "Migrate proxy-api to GitHub Actions"
The linkerd2-proxy-api repo still uses Travis. It should be migrated to GitHub Actions so it's in line with the other linkerd2 repos.

[2020-03-27 16:17] naseemkullah commented on #2822
Any downside to connecting the prom adapter to the copied metrics prometheus rather than at the source linkerd-prometheus (e.g. less acurate, less precise, less reactive or anything of the sort)?

[2020-03-27 16:55] nesl247 opened #4208 "Add fish shell completions"
## Feature Request
Add fish shell completions. Currently only bash/zsh are supported.

### What problem are you trying to solve?
Adding completions to the very popular fish shell

### How should the problem be solved?

Add support for `linkerd completion fish`.

[2020-03-27 17:30] grampelberg commented on #4208
Blocked on https://github.com/spf13/cobra/pull/754

[2020-03-27 18:26] grampelberg commented on #2822
@naseemkullah there'll be a delay and it will be dependent on how you've configured your own prometheus installation.

[2020-03-27 18:50] nesl247 commented on #4208
Or this one which seems like it has a better chance of being merged: https://github.com/spf13/cobra/pull/1048 instead

[2020-03-27 19:16] adleong commented on #3622
@Matei207 this sounds great to me!  thanks for taking this on!

[2020-03-27 22:10] grampelberg opened #4209 "APIService swagger specs"
### What is the issue?

It appears that some k8s clients assume APIServices expose swagger specs. If they don't get the spec, crashes happen. See:

- https://github.com/godaddy/kubernetes-external-secrets/issues/278
- #4116

### How can it be reproduced?

- Install Linkerd and then add external secrets.
- Start GKE cluster with calico.

### Possible solution

Have the `tap` and `smi-metrics` APISe

[2020-03-27 22:15] siggy commented on #4209
It might be as simple as adding something like:
[code]
to:
https://github.com/linkerd/linkerd2/blob/3088f404cec1c33349acfc07e6dc8aad8e0d179f/controller/tap/handlers.go#L78-L87

[2020-03-28 08:34] mooperd opened #4210 "Namespace access control"
On the website is the statement "By default, the Secret is placed in the linkerd namespace and can only be read by the service account used by the Linkerd control plane‘s identity component."

Kubernetes does not have any kind of "Deny" rules within its RBAC system - this statement would appear to be a bit misleading because any "standard" user on K8s would be able to read these secrets. This stat

[2020-03-28 18:12] sukhong commented on #4055
We were being affected by this issue. We had two services running in kube-system namespace talking to each other, and whenever some pods restarted, they stopped communicating each other because linkerd could not find proper endpoints.

Logs from Linkerd-proxy:
outbound:accept{peer.addr=10.240.1.149:38896}:source{target.addr=10.0.184.69:80}: linkerd2_app_core::errors: Failed to proxy request: reque

[2020-03-28 22:04] praseodym opened #4211 "l5d-dst-override + ingress-nginx doesn't work with string servicePort"
## Bug Report

### What is the issue?

With ingress-nginx set up [according to the Linkerd documentation](https://linkerd.io/2/tasks/using-ingress/#nginx), requests made to an ingress with `servicePort` set to a string value fail. The `$service_port` is not resolved to a numeric value and instead Linkerd falls back to port 80, which is not necessarily the correct port.

### How can it be reproduce

[2020-03-29 17:31] #3828 closed

[2020-03-30 16:20] grampelberg commented on #4211
@praseodym feels like the best solution is to document that you either need a numeric port or to hard code it in the spec. Would you be up for a website PR to add a note to that effect?

We won't be able to resolve the string and logging a warning would end up in the proxy logs next to the ingress controller. I'm wondering if there's a more visible solution we can come up with to expose something

[2020-03-30 19:17] olix0r commented on #4191
cc @adleong

[2020-03-30 19:50] olix0r opened #4213 "Create a mock identity controller for proxy tests"
When running proxy integration/profile tests outside of a full Linkerd installation, we want a way to bootstrap/refresh proxy identity as it would normally operate.

We should implement an alternate version of the Identity service that, instead of service account tokens, expects its token to be the identity (so, to validate a CSR, it checks the identity in the CSR against the token value and, if t

[2020-03-30 21:06] GarrettGeorge commented on #2746
@andrew-waters Can you expand on how the NetworkPolicy rollout leads to downtime. I haven't rolled any out personally yet so I'm unaware of how their deployment implementation works.

[2020-03-30 21:28] #4206 closed

[2020-03-30 21:50] olix0r commented on #3896
[This manifest](https://gist.github.com/olix0r/76ba545a410563a846fda3b17ae66a0a) could be modified to implement this test -- just change the `sleep` values and add service profiles.

[2020-03-30 21:52] olix0r commented on #3854
Newer versions of Linkerd (e.g., `edge-20.3.4`) have been updated to handle service discovery differently. If you're still experiencing these issues, I recommend annotating your workload with `config.linkerd.io/proxy-version: edge-20.3.4`. If you test this, please report back! These changes will be released soon in `stable-2.7.1`.

[2020-03-30 21:53] olix0r commented on #3735
Newer versions of Linkerd (e.g., `edge-20.3.4`) have been updated to handle service discovery differently. If you're still experiencing these issues, I recommend annotating your workload with `config.linkerd.io/proxy-version: edge-20.3.4`. If you test this, please report back! These changes will be released soon in `stable-2.7.1`.

[2020-03-30 21:54] olix0r commented on #3441
Newer versions of Linkerd (e.g., `edge-20.3.4`) have been updated to handle service discovery differently. If you're still experiencing these issues, I recommend annotating your workload with `config.linkerd.io/proxy-version: edge-20.3.4`. If you test this, please report back! These changes will be released soon in `stable-2.7.1`.

[2020-03-30 21:56] olix0r commented on #3977
We're starting to prepare `stable-2.7.1` to include this fix, hopefully released later this week.

In the meantime, I suggest setting the annotation to:
[code]

Please report back if you experience this issue again! Thanks

[2020-03-30 21:56] #3977 closed

[2020-03-30 21:59] admc commented on #4198
scale: Zahari
ingress: Eliza
functionality: Alex
cluster version: charles
upgrade: kevin

[2020-03-30 23:36] adleong commented on #4198
I notice that upgrading from edge-20.3.4 is not listed above.  Is this upgrade path not supported?

[2020-03-31 04:21] naseemkullah commented on #1726
cc @christyjacob4 @Pothulapati @ihcsim

Please feel free to use [this alertmanager chart](https://github.com/naseemkullah/naseem-charts/tree/master/charts/alertmanager) if needed. I will be as I explore alerting on linkerd metrics on my end.

[code]

[2020-03-31 05:19] praseodym commented on #4211
@grampelberg what spec would this be?

I can create a website PR to improve docs for this. I’ll also see if ingress-nginx can be improved by adding a numeric service port variable or changing the existing `$service_port` variable to be resolved to its numeric value.

I’d say that logging a warning in the proxy logs would still be useful; that was one of the first places I looked when debugging thi

[2020-03-31 05:55] christianhuening commented on #3977
That's awesome news! Thanks

[2020-03-31 09:21] jaybatra26 commented on #1726
Hi
Is this project still open for GSOC?

[2020-03-31 12:48] mayankshah1607 opened #4214 "inject: throw an error while attempting to inject non-compliant pods"
This issue has been opened after following up with the discussion on https://github.com/linkerd/linkerd2/pull/4145

### Current behaviour
At present, `linkerd inject` outputs an uninjected YAML configuration while attempting to inject non-compliant pods, i.e, pods with issues related to  hostNetwork, sidecar, udp, etc. As this output is usually piped to `kubectl`, this causes an uninjected workloa

[2020-03-31 16:58] grampelberg commented on #4211
@praseodym the Ingress resource definition.

[2020-03-31 17:32] adleong opened #4215 "route_actual_response_total metric missing in proxy version v2.89.0"
When testing emojivoto with proxy version v2.89.0 the `route_actual_response_total` metric appears to be missing.

* web-svc has a service profile with retries configured
* vote-bot proxy has `route_response_total` metric but no `route_actual_response_total` metric

This causes missing data when using `linkerd routes -o wide`:

[code]

Full metrics dump from vote-bot proxy:

<details>

[code]
</de

[2020-03-31 18:18] #3741 closed

[2020-03-31 18:54] adleong opened #4216 "incorrect formatting of empty values in routes wide output"
Empty values are not formatted correctly in the `LATENCY_P95` and `LATENCY_P99` columns of the wide `linkerd routes` output.  These empty values should be formatted as a dash `-` but instead are completely blank.

[code]

Linkerd version edge-20.3.4

[2020-03-31 19:02] adleong commented on #4198
Tracing, timeouts, retries, and edges are all working as expected, with the exception that certain retry metrics are missing, as described here: https://github.com/linkerd/linkerd2/issues/4215

[2020-03-31 20:44] #4215 closed

[2020-03-31 21:18] olix0r commented on #4215
@adleong Are we lacking a `linkerd2` test for `routes -o wide`? If so, would you mind filing an issue to add one?

[2020-03-31 21:31] adleong opened #4217 "Add retries integration test"
Add an integration test that tests Linkerd's retries feature.  Such a test would set up an application with a service profile configured to do retries and compare the `actual` and `effective` output from the `linkerd routes -o wide` command to verify that retries were happening and being reported correctly.

[2020-03-31 21:31] adleong commented on #4215
https://github.com/linkerd/linkerd2/issues/4217

[2020-03-31 21:53] paultiplady opened #4219 "Set `Forwarded` / `X-Forwarded-For` when proxying HTTP traffic"
## Feature Request

When the linkerd-proxy forwards an HTTP request, append a `Forwarded` or `X-Forwarded-For` header entry so that upstreams can tell where the forwarded request came from.

### What problem are you trying to solve?

It's common for HTTP services to log or consider the source-IP of incoming requests. For example, for rate-limiting or auditing. Usually external Load Balancers will

[2020-03-31 22:12] olix0r commented on #4198
proxy v2.90.0 has been released with a fix

[2020-04-01 00:06] paultiplady commented on #4219
Tangentially related: https://github.com/linkerd/linkerd2/issues/3403

[2020-04-01 00:15] kleimkuhler commented on #4198
Using: `Client version: git-2b8f1b27`

Upgrading from 2.6 and 2.7 works as expected. There was no change in error rates for the installed demo app and there was no downtown introduced.

[2020-04-01 01:37] alpeb commented on #4198
Regarding testing under k8s 1.17, I think we'll have to include #4195 (relax clock skew check) to avoid the check failures, and also to be able to pass the integration tests.

[2020-04-01 02:19] alpeb commented on #4198
Only affecting integration testing, #4025 needs to be included, which took care of the changing structure of the Helm chart values.yaml file between stable versions.

[2020-04-01 03:28] alpeb commented on #4198
With the aforementioned cherry-picks, 2.7.1 is testing well under k8s 1.17 :+1:
I'm seeing some errors in 1.18 for which I'll create separate issues.

[2020-04-01 12:50] dad264 commented on #4209
This issue has caused trouble for us as we are users of [KES](https://github.com/godaddy/kubernetes-external-secrets/). Luckily, it's just in our QA environment right now. Would your recommendation be to roll back to https://github.com/linkerd/linkerd2/releases/tag/stable-2.6.1 so we can get back up and running?

[2020-04-01 13:52] zaharidichev commented on #4198
Spent some time scale testing today. Things appear to work normally. I wonder if there is anything in particular that I need to pay attention to @grampelberg ?
<img width="1696" alt="Screenshot 2020-04-01 at 16 49 15" src="https://user-images.githubusercontent.com/4391506/78144987-02f83400-7439-11ea-9619-d734b9f8b3d5.png">

[2020-04-01 14:39] #2843 closed

[2020-04-01 14:39] #3183 closed

[2020-04-01 16:20] grampelberg commented on #4219
This has enough moving parts, we'll want to get an [RFC](https://github.com/linkerd/rfc) going for it before implementation. I'm particularly interested in the security implications, as anyone can add a XFF header themselves at any point.

[2020-04-01 16:26] grampelberg commented on #4209
@dad264 the work around is to just install Linkerd after KES.

[2020-04-01 16:28] dad264 commented on #4209
If KES restarts, I don't believe it will start up again.

[2020-04-01 19:16] dad264 commented on #4209
Worked around it [like this](https://github.com/godaddy/kubernetes-external-secrets/issues/278#issuecomment-607440992)

[2020-04-01 21:59] alpeb commented on #4198
FYI, the errors in 1.18 is just service profiles being rejected because of a dependency on an old apimachinery. This is not occurring in master.

[2020-04-01 22:37] adleong commented on #4116
As far as I can tell, it seems like the underlying issue is a bug in the autoscaler where it cannot handle the deployments resource being in multiple APIGroups: https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler/issues/31

Installation of Linkerd can trigger this bug because our "tap" resource is a sub-resource of deployments.

@cpretzer describes a workaround for thi

[2020-04-01 23:32] #3858 closed

[2020-04-02 00:25] HaithemSouala commented on #4116
Hi Alex,

In my case, CNI is not enabled or installed, so i don't see how can i
implement that!!
Any idea?

On Thu, Apr 2, 2020 at 12:37 AM Alex Leong <notifications@github.com> wrote:

--

Haithem Souala

mobile: 0754 27 91 98

mail: soualahaitem@gmail.com

<http://linkedin.com/in/haithemsouala>

[2020-04-02 02:58] Aisuko opened #4224 "[Feature Request] The charts support Helm v3"
## Feature Request

### What problem are you trying to solve?

   * Hi, guys. Helm v3 was released to V3.1.0. Are there any ideas that Linkerd2 has a plan to support Helm v3? In fact, I'm going to develop the adapter for Linkerd2 and with `helm.sh/helm/v3`

### How should the problem be solved?

What do you want to happen? Add any considered drawbacks.

   * The charts can support Helm v3

### Any

[2020-04-02 03:02] grampelberg commented on #4224
@Aisuko the charts already work fine with Helm v3. Is there an issue you're running into?

[2020-04-02 07:42] misakwa commented on #4203
@ihcsim so I created a diff that is a WIP of what I'm hoping to achieve here: https://github.com/linkerd/linkerd2/compare/master...misakwa:misakwa/externalize-tls?expand=1

It updates the install and upgrade commands and adds a new option `--tls-manager` that can be used to control whether the tls resources are created or not.

I've also updated the sample project that I created to fully automate

[2020-04-02 07:48] Aisuko commented on #4224
Thanks for your quick reply. In my opinion, the Helm v3 requirements file was moved to the Chart.yaml. The Linkerd2 chart still using the requirement.txt as the dependency manifest. Oh, wait for a moment. Do you mean the user just download the chart and deploy it by using Helm v3 and there will not need to update requirements?  I saw the dependency chart was under the folder named charts?

[2020-04-02 08:54] andrew-waters commented on #2746
@GarrettGeorge - sure, whilst it is rare (because our PCI environments aren't as actively developed as others), we occasionally see a lag between pods coming up and the policies being applied to those _before_ the old ones are destroyed giving a short window where the default deny policies kick in.

[2020-04-02 10:41] cypherfox opened #4225 "Add support for configuration of per-component resources configuration for proxy in Helm chart."
## Feature Request

### What problem are you trying to solve?
Currently only one cluster-wide confguration for the resources the proxy requests and is limited to are available. This is far from optimal, as the the really high values for the prometheus proxy are not needed for e.g. the web UI.

Especially as the settings are also used for the injected proxies, this will break our cluster injecting

[2020-04-02 10:42] cypherfox commented on #4225
MR coming up.

[2020-04-02 16:00] grampelberg commented on #4224
@Aisuko you just add the repo and you're good to go. I'm going to close this issue out for now, please reopen if you run into a specific issue.

[2020-04-02 16:00] #4224 closed

[2020-04-02 16:05] Aisuko commented on #4224
Oh, thanks a lot.

[2020-04-02 17:35] #3622 closed

[2020-04-02 18:21] alexklibisz opened #4227 "Linkerd + gRPC returns 200 instead of error status when the gRPC status description is too long"
## Bug Report

### What is the issue?

I have a gRPC service implemented in scala using akka-grpc version 0.7.1.
The client I'm using is also implemented in scala using akka-grpc.
There's a specific rpc that should return an INVALID_ARGUMENT status with a description that's about 300 chars.
When I hit that rpc without any linkerd proxying, the status and description are fine.
But, when I introduce

[2020-04-02 18:24] cpretzer commented on #4116
@HaithemSouala CNI isn't necessary to implement PriorityClasses.

I sent you a message on slack suggesting that we have a video call to debug the issues that you're seeing on GKE.

[2020-04-02 22:32] #3860 closed

[2020-04-03 00:50] cpretzer commented on #3388
@HaithemSouala @michalschott @daveio

@ialidzhikov wrote a [fix](https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler/pull/32) for this and it looks like the cpvpa team is planning to release this soon as [v0.8.2](https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler/issues/33)

I reproduced the error GKE 1.15.9, then built the a new image fro

[2020-04-03 00:52] cpretzer commented on #4116
@daveio thanks for the report, it was really helpful in helping me to reproduce the error and test a fix. 🎉

I'm going to close this ticket based on [this comment](https://github.com/linkerd/linkerd2/issues/3388#issuecomment-608169755) from #3388

If you have questions, please put them in that ticket so that we can consolidate the issues.

[2020-04-03 00:52] #4116 closed

[2020-04-03 02:01] naseemkullah commented on #1726
Also this PR https://github.com/linkerd/linkerd2/pull/4220 should be a good step forward.

FWIW While I think eventually linkerd should ship with basic alerts for latency and error rate, it may not necessarily have to ship with it's own alert manager, it should be an option to provision one.

[2020-04-06 15:55] alpeb commented on #4203
@misakwa Linkerd 2.7 added the ability to use external PKI providers for managing the certs used for supporting the automatic mTLS feature between services, which is a critical feature, and thus required the extra "configurability".
Note however that the certs for the webhooks and APIServices are used by some of Linkerd's control plane components to authenticate against the k8s apiserver and have

[2020-04-06 17:06] alpeb commented on #4225
IIUC, you'd like to set specific requests and limits for the proxies injected into your own pods. Have you considered using annotations to specify that?
For example you can add any of the following annotations into any specific deployment in your Helm templates, specifying the exact limits/requests you want:
[code]
(Note these annotations go under `spec.template.metadata.annotation` in the case of

[2020-04-06 19:14] zaharidichev commented on #4128
This is mostly implemented in #4178

[2020-04-06 19:16] zaharidichev commented on #4063
This is being addressed in #4233

[2020-04-06 19:20] zaharidichev opened #4237 "Visualize health of remote cluster gateways"
After we have metrics about remote gateways and their health in Prometheus, we would ideally like to visualise that somehow (as mentioned  [here](https://github.com/linkerd/linkerd2/issues/4063#issuecomment-587083112)). A cli command similar to `stat` seems like a logical choice. This command can display information such as,  number of routed service, latency data as well as health information for

[2020-04-06 19:30] olix0r commented on #4237
Do we want to introduce this as another subcommand (e.g. `linkerd remote-stat`)? Or should this be part of a family of subcommands (e.g., `linkerd remote stat`)? Or should this just be part of `linkerd stat svc/remote-svc-name` directly?

[2020-04-06 19:43] zaharidichev commented on #4237
@ver @grampelberg I spent a bit of time debating with myself whether that should go under the stat command. Ultimately decided to put it under linkerd cluster gateways (there are other cluster sub-commands). The main reason being that albeit the logic being very similar, after looking at the stat codebase, if feels like there are quite a lot of bells that you can tweak on it and the `StatSummayReq

[2020-04-06 20:07] adnxn commented on #3983
@ihcsim: cant seem to repro this using example above with build from latest commit on master. i wonder if it was fixed with a dependency upgrade or something. haven't actually sifted through the PRs.

[code]

[code]

[2020-04-06 22:03] hawkw commented on #4198
Proxy linkerd/linkerd2-proxy@2.91.0, the version in 20.4.1, has been run through the ingress tests prior to merging linkerd/linkerd2-proxy#469. Do we care about running the test again against the tagged edge-20.4.1, or is that sufficient?

[2020-04-06 23:27] jon-walton commented on #4076
Only automating the management of the trust anchor isn't enough. This PR is needed https://github.com/linkerd/linkerd2/pull/4232

[2020-04-06 23:27] #4076 closed

[2020-04-06 23:31] adleong commented on #4198
Upgrading from 2.6.0, 2.7.0, and edge-20.4.1 to the latest candidate (git-ca760bdd) all worked fine.  Upgrading from the latest edge is actually a downgrade of controller version and leaves the SMI metrics APIServer and SMI metrics controller still running in the control plane namespace, but this shouldn't cause any harm as far as I can tell.

[2020-04-06 23:39] kleimkuhler commented on #3807
@grampelberg Is this still a valuable configuration for 2.8? If so, the original issue description mentions configuring this through `--manual` injection.

Alternatively, it could be an additional flag for `linkerd inject`.

[2020-04-06 23:55] adleong commented on #4198
Tracing, timeouts, retries, and edges are all working as expected on git-ca760bdd

[2020-04-07 00:03] adleong commented on #3962
I implemented phase 1 as described here.  For reference the code is available at https://github.com/linkerd/linkerd2/compare/alex/ts-v1alpha2?expand=1

Unfortunately, I don't think this approach will work.  Linkerd fails to start because the TrafficSplit v1alpha3 and v1alpha2 clients fail to sync their caches.  This is because when they attempt to fetch TrafficSplits at versions v1alpha2 or v1alph

[2020-04-07 00:03] adleong commented on #3950
Duplicate of https://github.com/linkerd/linkerd2/issues/3962

[2020-04-07 00:03] #3950 closed

[2020-04-07 01:55] misakwa commented on #4203
Thanks @alpeb!

I've recently deployed linkerd on our infrastructure and one of the main areas that I had to deal with was with tls rotations. I realized that being able to keep those updated can be a hassle sometimes. Even though most deployments do not have to worry about it until the 1 year mark, one can easily render the cluster unstable if some of the tls components are allowed to expire.

In

[2020-04-07 02:09] jon-walton commented on #4203
Hi @alpeb

To add my use case for this issue and PR.

We strictly follow gitops and infrastructure-as-code. We currently have the manifest that's generated by `linkerd install ...` saved into git. This manifest includes private keys for the webhooks, which isn't ideal and something I would like to move away from.

I've toyed with the linkerd helm chart for 2.7.0 and using cert-manager to generate

[2020-04-07 06:06] cypherfox commented on #4225
No, you misunderstood (somewhat). For the proxies injected into the applications the above method works fine (we already use that).

But for the proxies that are part of the linkerd installation I would like to the set proxy resources as well, using helm. And there the resources currently are being set using fragments.

Especially our Prometheus proxy requires resources that are an order of magnit

[2020-04-07 07:59] ThomWright opened #4238 "Document long-running connections"
## Feature Request

Document long-running connections. Specifically the connection between the `linkerd-proxy` and the container it's proxying for, but also other connections.

### What problem are you trying to solve?

I was trying to diagnose a problem which was partly caused by the long-running connection between `linkerd-proxy` and the main container in our pod.

We had a NodeJS container woul

[2020-04-07 13:29] zaharidichev commented on #4237
Currently my WIP looks like:

<img width="964" alt="Screenshot 2020-04-07 at 16 17 39" src="https://user-images.githubusercontent.com/4391506/78674734-be631180-78ec-11ea-96aa-0f84182a69e4.png">

[2020-04-07 19:35] #4216 closed

[2020-04-07 20:00] alpeb commented on #4225
Ok, thanks for the explanation, that makes sense. Let me check that PR more closely :+1:

[2020-04-08 15:43] grampelberg commented on #3807
@kleimkuhler it sounds like this is more about making it configurable in the future than doing something right now. It'll be required for turning on IP based discovery but not in 2.8 yet.

[2020-04-08 15:47] grampelberg commented on #4203
@jon-walton my biggest concern here is introducing a hard dependency on cert-manager. AFAIK it is the only tool that can change the MWC configurations (which will immediately go out of sync with git on you again). Is there a way to have the MWC/APIServices consume secrets *without* requiring modification of the base assets?

[2020-04-08 15:52] grampelberg commented on #4237
I'm a fan of this being a whole tree of commands under `linkerd cluster`. We should get a list of the commands together that should go under that though!

[2020-04-08 15:55] grampelberg commented on #4225
Is there a reason this needs to be under `.Values.global.proxy.perComponentResources` instead of `.Values.global.prometheus.proxy` ? Ideally it'd go under `.Values.prometheus.proxy` but AFAIK that's not possible?

[2020-04-08 16:25] alpeb commented on #4225
@grampelberg It is possible to override globals like you say. Check #4226 for the proposed way forward, which is having these resources in properties like `.Values.prometheusProxyResources`, `.Values.ControllerProxyResources`, etc.
It would be neater to have `Values.prometheus.proxy.resources` but `values.yaml` had already settled into using camel case instead of nested objects for the linkerd com

[2020-04-08 16:35] grampelberg commented on #4225
Cool!

[2020-04-08 16:55] kleimkuhler commented on #3807
@grampelberg Sounds good. This can be kept open, but the current labels marking it as P0 can be removed

[2020-04-08 17:34] jon-walton commented on #4203
@grampelberg Looking at the PR, if `.Values.global.tlsManager` is not set to `internal`, then either the tls secrets are not created, or the cert/key/ca are not added to the secret (identity, proxy injector, webhooks, etc)

We can test this using `helm template`.

Taken from https://linkerd.io/2/tasks/generate-certificates/

[code]

we get different certs/keys, which causes automation to go into a

[2020-04-08 17:37] jon-walton commented on #4203
If we did want to entertain the idea of externally provided and rotated trust anchors (out of scope for my use case for now), then we'll just need to update the Linkerd chart to allow us to specify the annotations in a values.yaml, which is a common configuration option for other helm charts. Again, this will also keep the manifest in sync with an infrastructure-as-code repo

(I'm referring to)

[

[2020-04-08 18:21] hawkw commented on #4198
Per offline conversation with @olix0r et al., we've agreed that this is sufficient, so I'm willing to check off ingress.

[2020-04-09 06:24] cypherfox commented on #4225
Next question: documentation?
my MR would introduce a number of settings in values that are not set by default. Should these be documented in the values file (but commented out) or is there a separate place?

Also: the structure of the `values.yaml` is not consistent. eg. `smiMetrics` is  a section while `prometheus` is not. I will try to use as much structure as possible to aid in later clean ups

[2020-04-09 07:53] zaharidichev commented on #4198
Scale testing is good.

[2020-04-09 12:47] jvandemark commented on #3935
will this be fixed in the 2.7.1 release?

[2020-04-09 13:37] #3405 closed

[2020-04-09 15:16] grampelberg commented on #4203
@jon-walton I see, I was confused. This is all so complicated! Let me walk through the pieces and make sure we're on the same page.

- MWC resources need a `caBundle` or the destinations need to use certificates signed by the api-server.
- Linkerd must create the MWC resources because there's Linkerd specific configuration in there.
- cert-manager has the ability to update MWC resources and inject

[2020-04-09 15:24] grampelberg commented on #3935
@jvandemark we'd love it if you tested the latest edge and gave us some feedback. We've definitely fixed it for the cases that we can reproduce locally.

[2020-04-09 17:39] alpeb commented on #4225
You can leave them empty, and add a line into `charts/linkerd2/README.md` describing them.

Sounds good to me :+1:

[2020-04-09 22:14] kleimkuhler commented on #3871
@mayankshah1607 This is helpful for displaying meshed pods:
[code]
Unfortunately it doesn't cover all cases such as deployments since they do not have a label that can be selected on. There is an inject annotation, but those cannot be selected on.

A possibility is that we just do not display rows that have a `0` meshed pod count. It would be fairly straightforward to implement and would cover any

[2020-04-10 04:22] derrickburns opened #4242 "Migrating from edge to stable 2.7.1 leaves smi-metrics"
Removed the deployment is not enough.

One must also remove the apiservice:

[code]

[2020-04-10 04:44] derrickburns opened #4243 "Migrating from edge to stable-2.7.1 required manual restart of linkerd services"
I had to restart the linkerd services manually in a certain order after running the standard upgrade procedure.  They came up in a non-functional state.

[2020-04-10 16:29] grampelberg commented on #4242
@derrickburns that's not surprising as 2.7.1 doesn't contain any of the control plane changes. The upgrade from edge -> 2.8.0 will be much smoother.

[2020-04-10 16:31] grampelberg commented on #4243
@adleong @alpeb is this anything we should be concerned about with the upgrade to 2.8?

[2020-04-10 16:39] adleong commented on #4243
@derrickburns can you give more information about the errors or behavior you saw? I didn't encounter this when upgrading edge-20.4.1 to stable-2.7.1

[2020-04-10 17:57] derrickburns commented on #4242
It would be helpful to have a note on supported migration paths.

[2020-04-10 18:05] grampelberg commented on #4242
That's a great suggestion. We've been treating edge as unstable with no upgrade guarantees so far, it'll be nice to have some more guidance around that.

[2020-04-10 22:06] GaruGaru commented on #3114
I'm trying to rebuild the linkerd images for multiple architectures (linkerd2, linkerd2-proxy, linkerd2-proxy-init).
The golang services are pretty straight forward to build, i manage to compile them properly using both docker buildx and 'raw' docker manifests using github actions.

I also manage to build the linkerd-proxy rust service for multiple architectures using [cross](https://github.com/ru

[2020-04-11 00:13] kleimkuhler commented on #4209
So I do not think this an issue about the routes that the tap API service exposes.

Between 2.6.1 and 2.7, the Linkerd tap endpoints started showing up in the response from `openapi/v2`:

[code]

These returned endpoints do not have an `operationID` field which is not required.

This is an issue because as one of comments mentions in godaddy/kubernetes-external-secrets#278, a dependency *expects*

[2020-04-11 14:44] #3794 closed

[2020-04-11 22:14] cpretzer commented on #4209
Awesome find @kleimkuhler. I missed the `operationID` field. Reviewing your PR now.

[2020-04-12 23:59] dwbrown2 commented on #3014
@grampelberg, we've now implemented this in Kubecost. Happy to share more info on our approach if it becomes a priority for you guys! Hope to catch up soon too.

[2020-04-13 11:00] zaharidichev opened #4248 "Externalize multicluster gateway liveliness probe settings"
Rigfht now there are three parameters that need to be configured for the multicluster gateway prober:

- probe path
- probe port
- probe period

We need to externalize these throgh the `get-credentials` command. Or at least put sensible defaults.  This will allow us to specify these per cluster.

[2020-04-13 11:06] zaharidichev opened #4249 "Introduce multicluster healthchecks"
We want to have a section in the checks command that will verify the following things.

- all remote gateways are reachable and healthy  - we can do that either by looking at prometheus data coming from the service mirror component  OR actually issue requests ourselves
- we have sufficient permissions to list,watch and get services on the remote clusters we have provisioned secrets for
- the servi

[2020-04-13 11:10] zaharidichev opened #4250 "Idea: Provide a way to deploy the cluster gateway"
I envision that there might be quite a few people digging through PRs to look for a sensible gateway implementation. That being said, i wonder whether we can just package ours as a chart and provide command to install it, while underlining that this is not a gold standard implementation and that it has some security caveats?

[2020-04-13 11:17] zaharidichev opened #4251 "Add debug metrics for the service mirroring component"
Apart from improving logging where possible, we can add counters for enqueued and dequeued events, allowing us to see whether the queue is backed up or whether we have received and handled the number of events we are expecting.

In addition to that instead of logginc we can issue K8s events at some more critical spots(i.e. whe mirroring an event, resolving gateways, etc).  I am open to suggestions

[2020-04-13 11:34] zaharidichev opened #4252 "Provide a stat(like) command for remote services"
We might want to have a command that much like stat displayes stats about remote services and the traffic flowing to them with some additional relevant information such gateway, cluster name, etc. I am imagining something like:

[code]

[2020-04-13 11:35] zaharidichev commented on #4248
cc  @grampelberg @adleong

[2020-04-13 11:35] zaharidichev commented on #4249
cc  @grampelberg @adleong

[2020-04-13 11:35] zaharidichev commented on #4250
cc  @grampelberg @adleong

[2020-04-13 11:35] zaharidichev commented on #4251
cc  @grampelberg @adleong

[2020-04-13 11:35] zaharidichev commented on #4252
cc  @grampelberg @adleong

[2020-04-13 12:14] zaharidichev opened #4253 "Provide a test suite for mutlicluster gateway liveliness probes"
After #4233 merged, we need to provide a very extensive set of unit tests to ensure the checks logic is sound.

[2020-04-13 15:13] grampelberg commented on #3014
@dwbrown2 woah, that's awesome! We'd love to know!

[2020-04-13 16:54] adleong commented on #4248
Just to make sure I understand correctly: these values are basically determined by the ingress, right?  i.e. nginx has a certain probe path, traefik might have a different one, etc etc.
By configuring these at the cluster level, we can't have more than one type of gateway per cluster.

My mental model so far has been that the only cluster-wide configuration is the credentials for connecting to the

[2020-04-13 16:55] adleong commented on #4249
LGTM!

[2020-04-13 16:56] adleong commented on #4250
I really like the way we did this for the [distributed tracing guide](https://linkerd.io/2/tasks/distributed-tracing/) where we just hosted an example manifest on run.linkerd.io.

[2020-04-13 17:04] grampelberg commented on #4250
As we have addons, I don't see any reason why we can't just use those for this. We're already doing it for tracing after all =)

I suspect that we're going to want to take ownership of the gateway sooner rather than later anyways. Letting folks setup the gateway is awesome for external projects like gloo but I'm not sure it works out for end users in the long term.

[2020-04-13 17:04] adleong commented on #4252
Where would the latencies be measured from?  Clients in the local cluster?  Clients in both clusters? On the server side?  From the gateway?  This difference is especially important for cross-cluster traffic because the cross-cluster hop will likely introduce significant latency.

I might take a step back here and think about what question the user is trying to answer.

Can that question be answer

[2020-04-13 17:11] olix0r commented on #4102
Are `workload` and `name` meaningful labels outside the context of Linkerd? Or are these just suggestions you've chosen?

[2020-04-13 17:13] olix0r commented on #4102
Furthermore, are we sure this is the only set of labels that we do not apply consistently across all uses of a metric? It seems like this issue should be more broadly scoped to audit our metrics for this class of problem?

[2020-04-13 17:17] grampelberg commented on #4102
Ignoring the names, the problem from my perspective is that we're putting data we'd like to query into the names of labels (eg `dst_deployment`) and everything we'd like to query should be a value instead of a label name.

[2020-04-13 17:22] siggy commented on #4102
@olix0r `name` aligns with the `name` field in k8s, similar to `namespace`. `workload` aligns with how the k8s docs group things like `Deployment`/`DaemonSet`/`ReplicaSet`:
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

Auditing all metrics is a worthy goal. In practice, there's a subset of labels that are commonly used by `linkerd stat`, `linkerd dashboard`, `Grafana`, and

[2020-04-13 17:26] adleong commented on #4250
That makes sense, but it's a shift from the philosophy we had in mind when this project started.  If we want to take ownership of the gateway (which I think is probably a good idea) we should revisit some of the earlier assumptions we made:

* Deploying the gateway and creating the remote credentials can probably be consolidated into one "remote cluster setup" step
* By guaranteeing that the gatew

[2020-04-13 17:36] grampelberg commented on #4250
Wouldn't this be two separate `kubectl` apply steps? One for the credentials on the local cluster and one for the gateway on the remote cluster?

This sounds like an awesome set of questions for v2!

When we get to having policy for all this, we're going to have more than one gateway per cluster.

[2020-04-13 17:46] adleong commented on #4250
One command to create the resources on the remote cluster (service account and gateway) and then another command to fetch the credentials and apply them to the local cluster.  I'm just suggesting bundling the gateway manifest with the remote cluster service account manifest.

Ah, I don't think I'm up to speed on the vision here so it's hard for me to meaningfully comment.  Is this in the design do

[2020-04-13 17:54] olix0r commented on #4008
Depends on at least #4199

[2020-04-13 18:02] grampelberg commented on #4250
Ooooh, yup, that makes a ton of sense! We'd need to think through what it means for multiple clusters to be sharing the same gateway, but k8s *should* take care of that for us.

I know we've talked about it, @zaharidichev did that end up in one of the design docs?

[2020-04-13 18:41] lstyles opened #4255 "Service mirroring - remote gateway receives short service name in the request host header"
## Bug Report

### What is the issue?

I'm trying to get multiple azure k8s clusters connected using service mirroring for exploratory purposes and I'm seeing issues with remote linkerd-gateway receiving non fqdn host in the header which it doesn't know how to resolve.

My understanding is that nginx doesn't use libc dns resolution and therefore ignores /etc/resolv.conf search domains.

Also, it's

[2020-04-13 18:57] grampelberg commented on #4255
Hmm, I thought we weren't modifying the FQDN on purpose @zaharidichev?

Have you tried with this config? There shouldn't be a reason we need it to resolve anything (I've not tested this personally yet):

[code]

[2020-04-13 19:20] zaharidichev commented on #4255
@grampelberg fqdn is the authority really. We set it to be the fqdn on the remote cluster's service that we have mirrorred. What does "modifying the FQDN" constitute in this particular case?

[2020-04-13 19:24] zaharidichev commented on #4255
@lstyles do you have a traffic split on both clusters?

[2020-04-13 19:26] zaharidichev commented on #4255
From slack:

I think most of your problems are stemming from the fact that you have two way mirroring with services named exactly the same way defined on both clusters. I think this gets you in some kind of a loop but I will investigate that tomorrow. This should work in a one directional setting with no problems. Do you think you can try one way mirroring and see how that works before you try and

[2020-04-13 19:31] lstyles commented on #4255
Thanks both.

I don't have traffic split setup on the remote cluster which is why I find it odd that I get those responses from the local backend when querying the remote gateway.

Additionally, if I query the remote service via public ip -> ingress -> frontend -> backend I only get remote backend back. So the only situation where I'm seeing remote cluster returning "local" backend is via the gate

[2020-04-13 20:06] zaharidichev commented on #4255
Thanks a lot! That will be quite useful.

[2020-04-13 20:53] nesl247 commented on #4208
The PR was merged. Any chance we could get cobra updated for the next release?

[2020-04-13 20:58] grampelberg commented on #4208
@nesl247 sure! Up for a PR? I suspect @adleong will particularly appreciate it =)

[2020-04-13 21:06] lstyles commented on #4255
So I've set everything up again from scratch, one way, following the instructions to the letter (but swapping remote and local labels with mine uksk8s = local, ukwk8s = remote).

I get to a point where I'm running curl from the test container against a remote service and I get this:

[code]

and this logged in nginx log on the remote gateway:

[code]

So something's not right. I'll make a gist wit

[2020-04-13 21:07] grampelberg commented on #3842
This should be fixed now with `stable-2.7.1`. Please reopen if you're continuing to see this issue!

[2020-04-13 21:07] #3842 closed

[2020-04-13 21:08] grampelberg commented on #3935
This should be fixed now with `stable-2.7.1`. Please reopen if you're continuing to see this issue!

[2020-04-13 21:08] #3935 closed

[2020-04-13 21:08] grampelberg commented on #4161
This should be fixed now with `stable-2.7.1`. Please reopen if you're continuing to see this issue!

[2020-04-13 21:08] #4161 closed

[2020-04-13 21:09] grampelberg commented on #4227
@alexklibisz would you happen to have a small replication setup we could run ourselves? That'll help out a ton for figuring out where the problem is occurring!

[2020-04-13 21:13] alpeb opened #4256 "ADOPTERS.md change doesn't trigger CI. Also improve workflow dependencies."
## Main Problem

When a PR with changes to just `.md` files occurs no CI runs are triggered. This was made so because that happens when a change to `CHANGES.md` is merged which is immediately followed by a release tag which does trigger CI.

We didn't foresee though that when a change to for example solely `ADOPTERS.md` is merged then CI is not triggered and so the docker images for the latest mas

[2020-04-13 21:34] lstyles commented on #4255
The whole setup here:
https://gist.github.com/lstyles/7bbcb924552b006dccd2a568717b871d

[2020-04-13 22:23] olix0r commented on #4227
Are there any errors in the linkerd proxy pod's logs?

[2020-04-13 22:30] olix0r commented on #4227
It looks like the error message comes from:

https://github.com/grpc/grpc-java/blob/c91e127f93f1a60e5625c8bb71c4e09f7858966b/core/src/main/java/io/grpc/internal/GrpcUtil.java#L269-L272

The odd thing about this is that gRPC response statuses are _always_ 200, so it seems as if the process is getting a response without gRPC metadata?

Before stable-2.7.0, Linkerd would not add grpc status when the

[2020-04-13 22:35] kleimkuhler commented on #4256
I am +1 on reducing the duplication of jobs between workflows by using the repository dispatch events! The website update job uses this, and I don't see any reason why we wouldn't be able to use it to trigger workflows within the same job.

[2020-04-13 22:44] nesl247 commented on #4208
I'll try to tackle it when I can. I tried to get it to work earlier, but the completions it generated weren't actually working. If someone wants to pick it up from where I left off (let me know and I can submit a PR or something), great, otherwise I'll get to it when I can.

[2020-04-13 23:39] adleong commented on #4102
I don't think a audit of all metrics will be very helpful in this regard.  We include the pod labels as Prometheus labels (https://github.com/linkerd/linkerd2/pull/3833) so all bets are off in terms of having a uniform set of labels.  I don't think it's feasible, given the way that we use Prometheus.

That said, I think adding `workload_type`, `workload_name`, `dst_workload_type`, and `dst_workloa

[2020-04-13 23:45] siggy commented on #4102
I'd prefer `name` to `workload_name`, to better align with `namespace`.
I'd also prefer `workload` to `workload_type`, as `workload_type` feels redundant. If there's a compelling reason not to use `workload`, I'd prefer `workload_kind` to better align with k8s' `kind` field.

[2020-04-13 23:46] lstyles commented on #4255
Ok, making some progress.

Updating deployments to use `recognize-debug2` version of linkerd-proxy makes this work from the test container:

[code]

[2020-04-14 00:35] grampelberg commented on #4102
Just brainstorming and piling on @siggy's great points about making it more k8s centric, what about:

- `resource_name`
- `resource_kind`

We could continue adding things like:

- `resource_version`
- `resource_author`

[2020-04-14 07:14] zaharidichev commented on #4255
@lstyles Yes, so this is the reason I was quite surprised from your previous results. If you get something like  host: `backend-two-svc-ukwk8s:8888` for header in the ingress logs, this means that your proxy is not overwriting the authority and host headers as it should where it should. The only reason this might happen (well at least the only one I can think of) is if you are using the wrong vers

[2020-04-14 08:01] jon-walton commented on #4203
@grampelberg I believe we're on the same page.

If the helm chart doesn't render `caBundle` into the manifest, ArgoCD won't think it's out of sync. Under the hood, Argocd does a diff (I'm not entirely sure on how it does that), and applies with `helm template ... | kubectl apply`. I'm assuming the same logic apply uses is used in the diff. If a manifest has been edited after a `kubectl apply` to *

[2020-04-14 08:34] zaharidichev commented on #4248
Yeah I understand what you are saying. We can avoid coupling here. One way to do that would be to assume some annotations for these values exist on the gateway. We try to parse them all and if they are all there and valid we use them. You think that would work better? I am not really sure I want to go down the road of tracking updates for this config values. For example if something changes, like

[2020-04-14 08:37] zaharidichev commented on #4252
They would be measured for clients initiating connections to the mirrored services, so yes the results I beleive shall be much like linkerd stat deploy/foo --to svc  fo traffic goign towards these services. The idea is that we would be able to provide a bit more data in order to identity that this is a remote srevice. WDYT ? We can scratch the whole idea and just rely on `stat` as it is atm

[2020-04-14 08:38] zaharidichev commented on #4253
cc @grampelberg @adleong

[2020-04-14 09:11] zaharidichev commented on #4250
We can make more bold assumptions. However I do not think we can greatly simplify routing.  Not sure we want to use the dst-override header for that particular functionality, but I am not really up to scrath on the semantical meaning of these headers. Nevertheless in the end of the day we will have to set some header somehwere in the proxy. Currently we set the authority which is quite generic. We

[2020-04-14 12:07] zaharidichev commented on #4255
@lstyles I tried your setup with Kind + gcp cluster and it works fine for me. The only thing you need to ensure is to use the correct proxy version

[2020-04-14 13:13] misakwa commented on #4203
@jon-walton I like the idea of allowing annotations in the chart. It makes it simple enough for everyone else to use without an additional customization (kustomization.yml) layer. Allowing annotations is also a standard approach like for some helm charts. I'll definitely consider this after we iron out the implementation fully.

[2020-04-14 14:03] dayglojesus commented on #3780
@grampelberg circling round on this again, I'd like to keep this alive if possible. To rehash, the real issue here isn't that there are secrets, it's that the trust chain get injected into so many places that it makes to template or patch.

[2020-04-14 15:09] grampelberg commented on #4248
My preference is to have the liveness config stored locally on the cluster (not in a CRD). The easiest would be two key in the same CM, but it could be two separate CMs ... just more complexity at that point.

[2020-04-14 15:10] grampelberg commented on #4252
Stat is confusing enough for folks that my preference is to have this be a multi-cluster specific command. We can fill out all the options for end users and give them a good UI to see exactly what's happening outbound. Remember that cloud users are charged for egress, so a very specific command around this is going to be extremely beneficial for them.

[2020-04-14 15:16] grampelberg commented on #4250
I think my preference is to have the gateway be an addon that is installed as part of the control plane. This fits into when I'd think about it as a user (eg. I am setting this up to get multi-cluster traffic) and maintains the output from credential commands to just that. Thinking about it a little more, as a user I would be surprised that credentials create something on the cluster as well.

My

[2020-04-14 16:03] grampelberg commented on #3780
@dayglojesus any ideas how we could make it better within the constraints?

The proxy trust roots are added via. the injector during normal operation. We've got an unfortunate chicken/egg problem during installation though and need to add the proxy to every control plane component manually. It'd be possible to introduce a two-phase install (injector first), but then you'd have two separate charts

[2020-04-14 16:13] grampelberg commented on #4203
@jon-walton ahhha! Thank you! I'm a little surprised that works, I've spent quite a lot of time fighting helm's "apply" or complete lack thereof.

I think my main concern can be taken care of by adding a `check` that errors on the `caBundle` not being in place so users can have some kind of idea what state they've gotten themselves into and how to get out of it.

[2020-04-14 16:47] dayglojesus opened #4257 "linkerd upgrade produces invalid proxy config when original cli install specified `--skip-outbound-ports`"
## Bug Report

### What is the issue?

The `linkerd upgrade` sub-command produces an invalid proxy config when original cli install specified `--skip-outbound-ports`.

Instead of independently appending the previously specified ports to the CLI args in CSV format, it appends what appears to be string literal from a JSON list. As a result, the proxy crashes and pods enter a crashloop.

### How can

[2020-04-14 17:12] adleong commented on #4102
Upon further inspection, this may be more difficult than anticipated.

These labels are generated by the prometheus kubernetes relabel config from meta labels like `__meta_kubernetes_pod_label_linkerd_io_proxy_deployment=foo`.  As far as I can tell, there isn't a way in the [relabel config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config) to specify that th

[2020-04-14 19:55] lstyles commented on #4255
I just wanted to confirm that this is the case. I must have had a gap somewhere running a different version of the proxy.

I've just tested it with my own services and I get the correct fqdn passed on to the proxy.

I think this can be closed. I'm going to start looking at other scenarios like two way mirroring, but I'm also interested in some other concepts like grpc support in multi-cluster setu

[2020-04-14 20:47] grampelberg commented on #4255
@lstyles grpc support is in v1, could you explain more around what you're looking for in cross cluster observability? #4252 is what we're thinking of there right now.

[2020-04-14 20:47] #4255 closed

[2020-04-14 20:59] kleimkuhler commented on #3939
@grampelberg I've been looking into this this morning and I'm not sure a PDB is the answer here. I think we either need to relax the anti-affinity rules from require to prefer so that pods can be scheduled on a node that has other control plane pods, or recommend HA deployments on at least 4 node clusters.

Using a simpler deployment of nginx with three replicas and the same Linkerd anti-affinity

[2020-04-14 21:06] grampelberg commented on #3939
@kleimkuhler that all sounds pretty reasonable to me. Mind sharing the nginx config you're testing with?

@siggy and I found instances where 5 nodes were required, but only for one of our components (and only sometimes).

If we're doing what the docs say to do, feels like the next step would be to find/open a bug on k8s itself and then reference that here. That way folks will at least understand w

[2020-04-14 21:19] kleimkuhler commented on #3939
@grampelberg This config is what replicates the issue we are seeing. There is a PDB at the bottom with `MinAvailable: 1` (but the issue continues to exist with `MaxUnavailable: 2`:

[code]

I have successfully upgraded Linkerd a few times now on a 4 node GKE cluster, so I haven't observed the need for 5 nodes, but maybe Siggy has seen that more recently?

[2020-04-14 22:16] dstarosta opened #4259 "2.7.1 web dashboard - tap service health status issue"
## Bug Report

### What is the issue?

The health check in the "control plane" section of the LinkerD dashboard reports the following error/warning about the tap API service. The dashboard is running behind an NGINX proxy in a Kubernetes 1.16.5 cluster.

The recommended URL does not seem to provide anything useful for that situation.

The tap tool is working from the dashboard.

### How can it be

[2020-04-14 22:26] grampelberg commented on #4259
RBAC is tough! This is an issue with the service account that the dashboard is running under and is innocuous (though we should fix it). Thank you for the report!

[2020-04-14 23:30] kleimkuhler commented on #3939
#4260 should fix the issue where upgrade fails on a 4 node cluster.

[2020-04-15 00:19] kleimkuhler commented on #3939
Reported here: kubernetes/kubernetes#90151

[2020-04-15 02:15] siggy commented on #4102
I *think* this should do it:

[code]

<img width="829" alt="Screen Shot 2020-04-14 at 7 10 36 PM" src="https://user-images.githubusercontent.com/236915/79291665-16b58880-7e84-11ea-85e1-72b30fe7365a.png">

[2020-04-15 02:23] jaitaiwan opened #4261 "Linkerd Namespace stuck in Deletion"
Hi Folks,

k8 v1.17.3

This is more of a call to add something to the docs (because it turns out to be a somewhat odd issue that you might not easily find) than it is a problem with linkerd.

So when deleting linkerd2 it automagically attempts to delete the namespace. The namespace will be stuck in the terminating state and never deleted. Here's the replication steps:

1. Install Linkerd
2. Instal

[2020-04-15 02:34] jaitaiwan commented on #3441
Noting that 2.7.1 has been released with that fix.

[2020-04-15 03:24] #3871 closed

[2020-04-15 04:31] byblakeorriver opened #4262 "Server Side Streaming gRPC Proper Status Code Not Making it to Client"
## Bug Report

### What is the issue?
Hello! I am working with a server side streaming gRPC application, and in accordance to their best practices, involving long-lived rpc's, I have given the server a max connection age. Once this age is reached, the server will sever ties with the client, and the client side's onError will be called with the status code UNAVAILABLE. gRPC defines the status code

[2020-04-15 12:11] #4257 closed

[2020-04-15 15:03] grampelberg commented on #4261
Technically, there's no reason the prometheus adapter should go into the `linkerd` namespace. Maybe we should remind folks that if they decide to put other components into that namespace it is up to them to figure out how to uninstall everything?

IMHO this is a major issue that k8s needs to fix upstream as we run into it on a semi-regular basis because of the tap API.

[2020-04-15 15:04] grampelberg commented on #3441
Thanks @jaitaiwan! I'm going to close this out now. If folks run into the same issue with 2.7.1, please open up a new issue with what you're seeing.

[2020-04-15 15:04] #3441 closed

[2020-04-15 15:58] olix0r commented on #4262
@byblakeorriver Huge thanks for the repro! This should give us enough to track this down.

[2020-04-15 16:53] adleong commented on #4102
Good call, @siggy, I think you're right.

See also https://github.com/linkerd/rfc/pull/15 for an alternative approach.

[2020-04-15 16:58] siggy commented on #4102
@adleong My reading of linkerd/rfc#15 seems like it will solve for #4101, but not necessarily for this issue? Unless linkerd/rfc#15 includes proxies self-identifying their own `workload_name` and `workload_kind`?

[2020-04-15 17:05] adleong commented on #4102
@siggy they certainly could, but is it necessary?  my understanding of #4101 is that if all metrics (inbound and outbound) have both a src and dst metadata, then the `workload_name` and `workload_kind` are not necessary.  This is because on the inbound side, dst is self and on the outbound side, src is self.

[2020-04-15 17:46] siggy commented on #4102
@adleong Ok, just to confirm my understanding of linkerd/rfc#15, here is what I think/hope it is proposing:

Every request/response metric, exported via the proxy (not at rest in Prometheus) has the following label keys:
- `direction`
- `src_workload_kind`
- `src_workload_name`
- `dst_workload_kind`
- `dst_workload_name`

This implies three changes to the proxy `/metrics` endpoint:
- adding `src_*

[2020-04-15 17:55] cpretzer commented on #3388
Closing this because `v0.8.2` has been released.

[2020-04-15 17:55] #3388 closed

[2020-04-15 17:57] adleong commented on #4102
Maybe we should move this discussion over to that RFC, but yes.

[2020-04-16 17:05] #4207 closed

[2020-04-16 17:05] grampelberg commented on #4266
Closing this out as a duplicate of #2214.

[2020-04-16 17:05] #4266 closed

[2020-04-16 18:47] naseemkullah opened #4268 "TAP auto-generated SERVICE PROFILE high cardinality"
## Feature Request

### What problem are you trying to solve?

Smooth out auto creation of service profiles as per https://linkerd.io/2/tasks/setting-up-service-profiles/#auto-creation.

The generated YAML today:

[code]
### How should the problem be solved?

@grampelberg hinted at https://github.com/linkerd/linkerd2/blob/e962bf19687dcc8343a8411333552538f7302f4a/pkg/profiles/tap.go#L116

What do y

[2020-04-16 19:07] ericsuhong opened #4269 "Huge increase in CPU/memory usage after upgrading to 2.7.1 (from 2.7.0)"
## Bug Report

### What is the issue?

We were facing an issue where 20~30% of incoming requests (via Nginx ingress) were being timed out on Linkerd 2.7.0, so we decided to upgrade to 2.7.1.

After upgrading Linkerd to 2.7.1, ~~we do not see requests timeout issue any more~~. (We still see the issue, although the numbers decreased a little bit. We will create a separate issue for it).

However, we

[2020-04-16 19:12] grampelberg commented on #4269
Could you describe your traffic a little bit more?

- What protocol?
- What's your rps?
- What's latency look like?
- How many domains are you handling?
- Do you use the default backend?
- How many bad domains hit your nginx?
- Is the traffic encrypted?

[2020-04-16 19:23] ericsuhong commented on #4269
Hi, @grampelberg

We are running simple .NET Core WebAPI apps in our Kubernetes clusters. To answer your questions:

- What protocol? **REST Calls via Https**
- What's your rps? **Very small (~10 requests per minute) (We are still at ramping up process)**
- What's latency look like? ~500ms
- How many domains are you handling? **One external domain, but traffic multiplexed and routed to each servic

[2020-04-16 20:19] grampelberg commented on #4269
Are you using `l5d-dst-override`?

[2020-04-16 20:23] ericsuhong commented on #4269
Yes, this is our full ingress object annotations:
[code]

[2020-04-16 20:28] grampelberg commented on #4269
You said it was REST .... are you using gRPC as well?

[2020-04-16 20:35] ericsuhong commented on #4269
No gRPC at all.

[2020-04-16 20:46] grampelberg commented on #4269
I'll see if I can get something similar going myself, none of our test workloads triggered this unfortunately. In the meantime if you can get us a small repo that would be insanely helpful.

[2020-04-17 01:21] alexklibisz commented on #4227
@grampelberg I can try to set something up on minikube over the weekend.

@olix0r I'll try 2.7.0 or greater when I setup a repro.. we are also planning to upgrade cluster-wide in the next week or so.

[2020-04-17 02:48] ericsuhong commented on #4269
I enabled debug log for linkerd-proxy within ingress controller, and whoa, I am seeing TONS of logs  that seems to be related to /metrics endpoint. Also, in linkerd dashboard, we see that this ingress controller pod is being self-DDOS'd at /metrics endpoint from 127.0.0.1 endpoint:

![Self DDOS](https://user-images.githubusercontent.com/3857851/79526889-22878300-801b-11ea-9016-6f86a6f3b728.png)

H

[2020-04-17 03:08] ericsuhong commented on #4269
It seems to be actually linkerd-proxy calling itself for livenessProbe infinitely?

[2020-04-17 04:37] DavidParks8 commented on #2681
@cpretzer any updates on this? I just ran into this in a prod cluster as well.

[2020-04-17 11:31] ericsuhong commented on #4269
We found out that our Prometheus server seems to be clashing with linkerd-proxy in nginx ingress controller.

Our Prometheus server is set to scrape nginx ingress controller's metric server, which runs within the same contains as ingress controller (probably exposed as /metrics).

For some reason, with 2.7.1 Linkerd, prometheus seems to be scraping nginx ingress endpoint super aggressively as if L

[2020-04-17 14:57] cpretzer commented on #2681
@DavidParks8 I'll get a test set up this afternoon.

Which version of linkerd are you using?

[2020-04-17 15:23] grampelberg commented on #4269
That's super helpful @ericsuhong! Any idea what the issue is with your prometheus configuration?

[2020-04-17 15:26] grampelberg commented on #2681
@DavidParks8 have you tested with either the latest edge or stable-2.7.1?

[2020-04-17 18:09] Matei207 commented on #4197
Hi, I have started looking at this issue and would like to discuss a potential solution to see what the rest of the community thinks.

I've looked through the `cli` commands to see which commands accept a namespace passed as a flag, in total there should be 7 commands that would need to infer the namespace from the `kubeConfig` context.

We can get namespace of a context from a `ClientConfig`, e.g

[2020-04-17 18:34] ericsuhong commented on #4269
@grampelberg there is nothing special about our prometheus configuration.

We simply define "prometheus.io/scrape: true" as annotation at Nginx ingress controllers to tell Prometheus to scape from /metrics endpoint.

It seems like with Linkerd 2.7.1, it is creating a sort of infinite loop for all /metrics call coming from prometheus.

Note that /metrics endpoint is also defined as a liveness probe

[2020-04-17 18:44] grampelberg commented on #4269
Can you share both your prometheus and nginx configs? An infinite loop would happen if nginx is incorrectly proxying `/metrics` instead of serving it itself.

[2020-04-17 19:28] ericsuhong commented on #4269
@grampelberg We use a helm chart to deploy nginx.

Here is our nginx helm values file:
[code]
Here is our Nginx Pod with linkerd-proxy injected:
[code]
Here is our nginx metrics server that is being scraped:
[code]

[2020-04-17 19:30] grampelberg commented on #4269
@ericsuhong I don't see your prometheus config? Just looking through this, I don't see `prometheus.io/port: 10254` as a pod annotation, is there a reason you left that out?

[2020-04-17 19:33] ericsuhong commented on #4269
There is nothing special about our prometheus (we mostly rely on default config). We also use Helm to deploy Prometheus, and this is our values file for prometheus:

prometheus:
  alertmanager:
    enabled: false
  pushgateway:
    enabled: false
  kubeStateMetrics:
    replicaCount: 3
    tolerations:
      - operator: Exists
        effect: NoSchedule
  nodeExporter:
    tolerations:
      - ope

[2020-04-17 19:35] grampelberg commented on #4269
I just tested with the ingress-nginx helm chart (1.36.2), linkerd (stable-2.7.1) and the following configuration:

## Helm

[code]

## Prometheus

[code]

This works without any undue CPU or memory issues. I don't see the scrape config section of your prometheus or `prometheus.io/port: 10254` in your helm configuration. Maybe it is one of those?

[2020-04-17 20:07] ericsuhong commented on #4269
@grampelberg I do not need a separate scrape config section because by default, prometheus scrape all services that are annotated with prometheus.io/scrape: "true".

Within ingress helm config, can you please add these lines?
metrics:
      enabled: true
      service:
        annotations:
          prometheus.io/scrape: true

[2020-04-17 20:58] grampelberg commented on #4269
@ericsuhong did as you asked, now prometheus isn't scraping anything =) This prometheus config is required to get scrapes to happen:

[code]

There's no other requests to `/metrics`, CPU is at 0.02% and memory is holding steady at 9mb for the proxy. I'd love some other suggestions to get a replication step together, getting a list of the targets you have and the `scrape_configs` you're using would

[2020-04-17 21:14] ericsuhong commented on #4269
When you run **kubectl get services**, do you see controller-metrics service running?

In the service yaml definition, do you see "**prometheus.io/scrape: true**" in annotations?

[2020-04-17 21:15] grampelberg commented on #4269
Yes and yes. Like I said, I got it working but it requires a specific config, Prometheus does not scrape services by default.

[2020-04-17 21:22] ericsuhong commented on #4269
I actually found following scrape_configs automatically added by helm chart:

[code]

In our ingress config, we have this defined: "**externalTrafficPolicy: Local**", can this be causing the issue?
[code]

[2020-04-17 21:27] grampelberg commented on #4269
There's still nothing in your scrape config that would look at services (you've got the api server, nodes and cadvisor). Is there something else hitting `/metrics`? Maybe take a look at the source IP and see what it's coming from?

AFAIK it wouldn't, that would go on your load balancer service and simply configure the Azure load balancer.

[2020-04-17 21:33] ericsuhong commented on #4269
@grampelberg Sorry, I just realized that previous scrape_configs were cut off. This is the full content:
[code]

**kubernetes-service-endpoints** job is responsible for scraping services.

[2020-04-17 21:37] grampelberg commented on #4269
Thank you for the scrape config! Getting your current active targets would be extremely helpful.

[2020-04-17 21:53] #3984 closed

[2020-04-17 21:54] ericsuhong commented on #4269
Okay, here is the latest information on the latest reprod:

**ingress controller pod with linkerd-proxy injected:**
[code]
Ingress Service being scraped:
[code]
Prometheus Targets:
![image](https://user-images.githubusercontent.com/3857851/79617016-55815380-80bb-11ea-85be-da78b0acabc7.png)

[2020-04-17 22:05] grampelberg commented on #4269
The three targets that are down are likely the culprit. They appear to be getting picked up by `kubernetes-service-endpoints` and would need the `prometheus.io/scrape: true` annotation to have that happen. Did you do something to add that annotation? It definitely isn't happening on my cluster.

[2020-04-17 22:13] ericsuhong commented on #4269
Yes, we define **prometheus.io/scape: true** to nginx ingress-metrics service to scape ingress-related metrics:
[code]
Please check yaml on the above comment to see the content of this ingress-metrics service.

This is the content of the endpoints for this ingress-metrics service:
[code]

[2020-04-17 22:16] ericsuhong commented on #4269
I am kind of surprised that prometheus is trying to scrape from 5 different ports... that may be causing the issue.

[2020-04-17 22:18] grampelberg commented on #4269
My point is that ports 80, 443, 4143 are not running the metrics server and shouldn't be getting scraped. I'd take a look at the annotations on those services, the metrics service is working the way it should be.

[2020-04-17 22:31] ericsuhong commented on #4269
Yes, it seems that automatically generated scrape-config tries top scrape from every single defined endpoints, which is causing the problem. We will investigate further. Thank you so much for the help!

[2020-04-17 22:32] grampelberg commented on #4269
YW! I'm gonna close this out now, feel free to jump into slack if I can help you out any more!

[2020-04-17 22:32] #4269 closed

[2020-04-18 22:34] ericsuhong commented on #3596
We were facing the same issue. We were about to give up on Linkerd until we found this post!

We are using Nginx Ingress, and we increased net.netfilter. nf_conntrack_tcp_timeout_close_wait to 3600 seconds for ingress controller pods using PodSecurityPolicy + SecurityContext.

Once we applied this fix, 502 Gateway timeout issues completely went away.

I also believe that this issue is specific to

[2020-04-19 08:43] ericsuhong opened #4274 "Prometheus scrape occasionally fails with "server returned HTTP status 502 Bad Gateway" in Linkerd 2.7.1"
## Bug Report

### What is the issue?

After upgrading Linkerd to 2.7.1 (from 2.7.0), Prometheus scraping occasionally fails on targets with "server returned HTTP status 502 Bad Gateway":

![image](https://user-images.githubusercontent.com/3857851/79683054-27dffb80-81dc-11ea-85f3-8f556435e2f1.png)

This error seems to be transient but consistent. As I keep refreshing Prometheus dashboard, these er

[2020-04-19 18:04] thedevelopnik opened #4275 "Traces should be able to leave the mesh"
## Feature Request
I would like to be able to send distributed tracing traces/spans out of the mesh.

### What problem are you trying to solve?
We run Jaeger in our cluster but also use a vendor for all-in-one-place observability, including logs and metrics, and are in a trial for sending OpenTracing traces. Traces sent through LinkerD reach Jaeger correctly when it is in the mesh, but they cannot

[2020-04-19 19:24] grampelberg commented on #4275
I'm not sure I understand. You're running Jaeger *and* an OT collector in-mesh on the cluster and not getting all the traces?

[2020-04-19 19:51] Pothulapati commented on #4275
Hey

Linkerd just requires the Collector to be part of the mesh, to send the traces from the proxies securely but once they reach the collector, The collector would be just sending traces out through some kind of RPC/requests which the collector's proxy doesn't consider as traces but as general requests that are going outbound, and they could obviously go outside the mesh i.e to a vendor, etc. Thi

[2020-04-20 15:32] grampelberg opened #4276 "Increase nf_conntrack_tcp_timeout_close_wait"
## What problem are you trying to solve?

By default, `nf_conntrack_tcp_timeout_close_wait` is set to 60 seconds. Any requests taking longer than that get lost by the kernel causing 502 gateway errors to applications. `kube-proxy` bumped this up to 3600 seconds for its rules (see https://github.com/kubernetes/kubernetes/issues/32551).

### How should the problem be solved?

It is not possible to m

[2020-04-20 15:52] grampelberg commented on #3596
See #4276 to change this by default.

[2020-04-20 16:27] grampelberg commented on #4274
Are you using resource requests and limits?

[2020-04-20 17:06] ericsuhong commented on #4274
Yes, we define only requests for prometheus via helm chart:

prometheus:
  server:
    resources:
      requests:
        cpu: 300m
        memory: 2000Mi

[2020-04-20 17:09] thedevelopnik commented on #4275
@grampelberg We are using an OT collector in-mesh and forwarding to both Jaeger AND another OT collector. Jaeger is one final destination, the other is an external http endpoint that the second OT collector forwards to.

@Pothulapati What we're seeing is that with our collector, Jaeger, and the vendor's collector in the mesh, Jaeger receives traces but the vendor does not. What you describe was al

[2020-04-20 17:13] grampelberg commented on #4275
There's nothing special about collector -> collector communication as the requirement is around proxy -> collector (so that we can mTLS it). I'd turn up logging and verify that the first collector is correctly sending traces out.

[2020-04-20 17:14] grampelberg commented on #4274
I'd bump the proxy requests to 1 cpu and see what happens.

[2020-04-20 17:40] thedevelopnik commented on #4275
Thanks for the clarification @grampelberg. We are seeing the traces reach the second OT collector, but then they don't show up on the vendor side which is why I suspected mesh-exit or encryption issues, but it sounds like it's something else.

[2020-04-20 17:56] grampelberg commented on #4275
I'll be closing this one out for now. Please jump into slack if you'd like any help! We'd be happy to debug what's going on with you =) Tracing is insanely difficult to setup with all the options out there, so there might be something simple in the collector config that is off.

[2020-04-20 17:56] #4275 closed

[2020-04-20 18:05] kleimkuhler commented on #4209
This title of this issue is a little different than what was changed in #4245, but the issues described are closed by that change. I do not think the tap service needs a `/swagger` endpoint.

[2020-04-20 18:05] #4209 closed

[2020-04-20 20:54] grampelberg commented on #4274
Have you set `nf_conntrack_tcp_timeout_close_wait` on these btw?

[2020-04-20 20:56] grampelberg commented on #4242
I'm going to close this out, we'll have a follow up issue to document what kind of upgrade paths are supported between edges and stables.

[2020-04-20 20:56] #4242 closed

[2020-04-20 20:56] grampelberg commented on #4243
I'm going to close this out, we'll have a follow up issue to document what kind of upgrade paths are supported between edges and stables.

[2020-04-20 20:56] #4243 closed

[2020-04-20 23:03] olix0r commented on #4274
Are there any errors in prometheus's logs? Or does prometheus expose metrics indicating which specific scrape is failing? Basically trying to get at: are we sure `10.248.0.4:9100` is a live pod when this error is emitted?

[2020-04-20 23:58] ericsuhong commented on #4274
@grampelberg I increased CPU requests for both prometheus-server and linkerd-proxy, but it did not help. CPU usage for linkerd-proxy seems super low and normal (5~10 CPU millicores).

We only applied nf_conntrack_tcp_timeout_close_wait settings for nginx ingress controller pods.

[2020-04-21 00:01] ericsuhong commented on #4274
@olix0r Nothing shows up in prometheus logs. The only error logs messages I see is followings from linkerd-proxy container (from prometheus-server):
[code]

Also, the pods are always live, because this is a test cluster with nothing major going on. I am consistently able to reproduce this issue, and as soon as I remove linkerd injection from prometheus, this issue goes away.

Note that problematic

[2020-04-21 00:15] ericsuhong commented on #4274
I enabled debug logs to linkerd-proxy, and here is the log file when "Service idled out after 60s" failure occurred twice:

[linkerd-proxy-failed-logs.txt](https://github.com/linkerd/linkerd2/files/4506938/linkerd-proxy-failed-logs.txt)

You can search using "Service idled out after 60s" in the log file.

[2020-04-21 00:22] ericsuhong commented on #4274
I also enabled "trace" level  and gathered logs for another pod failure here as well:
[linkerd-proxy-failed-trace-logs.txt](https://github.com/linkerd/linkerd2/files/4506956/linkerd-proxy-failed-trace-logs.txt)

[2020-04-21 13:45] alpeb commented on #4197
Thanks @Matei207, that sounds solid to me :+1: Looking forward for the PR :wink:

[2020-04-21 14:23] zaharidichev commented on #4262
@byblakeorriver just to confirm, in this scenario you are only injecting the client, right ?

[2020-04-21 14:37] olix0r commented on #4262
@zaharidichev IIRC, the problem exists in a full-meshed configuration as well, but this was a narrower repro

[2020-04-21 15:59] grampelberg commented on #4274
@ericsuhong would you happen to have a very small yaml that replicates this? We'd love to give it a try from our side and see what the issue is.

[2020-04-21 18:41] kleimkuhler commented on #4169
This was fixed in #4260. I was testing on GKE, but I just went through the upgrade process on a 4 node AKS cluster.

The 3 node AKS cluster upgrade also works now as well!

[2020-04-21 18:41] #4169 closed

[2020-04-21 18:58] caniszczyk commented on #3009
friendly ping on this one @olix0r

[2020-04-21 22:29] ericsuhong commented on #4274
@grampelberg I provided a reprod steps (really just installing prometheus via helm and installing kured).

Can you see whether you can get a reprod from it?

[2020-04-21 22:33] grampelberg commented on #4274
I was kinda hoping for a YAML that I could apply. Worried you've got some configuration in your prometheus config that I'll be missing out on.

[2020-04-21 23:01] #3009 closed

[2020-04-21 23:10] ericsuhong commented on #4274
I will try to get reprod yaml files, but do not have a time for it right now. Did you find anything interesting from attached logs?

[2020-04-21 23:11] grampelberg commented on #4274
No =( I think this is gonna require a tcpdump.

[2020-04-22 15:33] #4008 closed

[2020-04-22 16:36] kleimkuhler commented on #3939
Closed by #4267

[2020-04-22 16:36] #3939 closed

[2020-04-22 16:54] #4198 closed

[2020-04-23 04:38] #3870 closed

[2020-04-23 04:38] #2800 closed

[2020-04-23 04:38] #2074 closed

[2020-04-23 04:38] #3062 closed

[2020-04-23 11:56] zaharidichev commented on #4262
@olix0r @byblakeorriver  So after a fair bit of spelunking here is what I think... What is happening here is that when the server reaches the 1m Graceful Shutdown period it simply sends a GOAWAY frame to the client. This simply indicates that no new streams are allowed. Forward 30 seconds from that point the connection is severed, accoring to the `maxConnectionAgeGrace` threshold.

The rust H2 imp

[2020-04-23 15:09] olix0r commented on #4262
@zaharidichev Thanks for digging into this. A few questions:

Would you mind walking us through the series of frames sent here, especially between the proxy and server?

Specifically, I would expect a stream reset (with the unavailable status), but i'm surprised that we see a full connection teardown via GOAWAY. The serverside sends the GOAWAY? Why? Does it send this without the proxy involved?

I

[2020-04-23 15:30] zaharidichev commented on #4262
@olix0r I did a bit more digging and I am not entirely convinced that all of this is correct.  But to elaborate on the sequence of frames.

So after the initial handshake and stream intialization we have the following:
1. Proxy sends One data frame with EOS=true transitioning the client side into `HalfClosedLocal`
2. Proxy keeps receiving data frames from the server.
3. At one minute, the server s

[2020-04-23 17:55] olix0r opened #4285 "Cloud Integration flakiness?"
When the proxy merged master, its Cloud Integration run [failed with the following](https://pipelines.actions.githubusercontent.com/p7a3cQoVOfFGt1NRY3JcIVixtulpQevYmOxJelqxEKZRqxlSR3/_apis/pipelines/1/runs/4569/signedlogcontent/22?urlExpires=2020-04-22T22%3A14%3A27.1326673Z&urlSigningMethod=HMACV1&urlSignature=JWIu%2B%2BT9mNCkAJyXBxjDxHleqRlZ%2BKUTgAM9rq6K9zU%3D):

[code]

On a subsequent run, it

[2020-04-23 18:20] olix0r commented on #4262
OK. I have a much better understanding of this situation after discussing this further...

The problem arises from use of `maxConnectionAge` on the serverside. The feature is, aiui, intended to force clients to balance load, assuming that clients balance by connection (and not by stream).

This is somewhat at odds with linkerd's load balancer, which natively balances by streams and not connections

[2020-04-23 18:57] wmorgan commented on #2876
This is on the roadmap for Linkerd 2.8.

[2020-04-23 19:03] adleong commented on #4191
This is blocked on a release from smi-sdk-go because we need to keep our client-go version synchronized.

[2020-04-23 22:30] olix0r commented on #4069
@tomstreet Last week's edge release (`edge-20.4.2`) includes a fix that we expect to address this issue. Are you able to test a newer version of LInkerd?

Alternatively, you can test a single workload by adding an annotation like `config.linkerd.io/proxy-version: edge-20.4.2`

[2020-04-24 00:05] byblakeorriver commented on #4262
@olix0r I got the idea to use `maxConnectionAge` from Eric Anderson's talk at KubeCon.
https://www.youtube.com/watch?v=Naonb2XD_2Q (around 5:36). The talk was about common issues that arise when having long lived rpcs. Since my particular rpc could live forever, I went ahead and added the max connection age setting to force the break up between the client and server. When this occurs, I would expe

[2020-04-24 00:32] olix0r commented on #4262
@byblakeorriver Thanks, that's helpful context. That definitely is the easiest way to balance load, given the tools that Netty offers out of the box. However, it's a somewhat blunt approach, akin to just restarting the pod every so often (but without the obvious startup and scheduling overhead); and it's especially tricky for middle-boxes like Linkerd's proxy to be totally transparent in this situ

[2020-04-24 05:56] christianhuening opened #4287 "Guide for manually rotating control plane needs more information"
## Bug Report

### What is the issue?
I think, the docs for rotating the TLS Credentials manually (https://linkerd.io/2/tasks/manually-rotating-control-plane-tls-credentials/) do lack an important pointer towards the necessity of rotating all proxy side-cars OR wait 24h before removing the old ca cert from the bundle?

### What happened?
We rotated the Trust Anchor, kicked over all our side-car pr

[2020-04-24 07:49] zaharidichev commented on #4262
@olix0r @byblakeorriver All of this makes sense. I did a bit more digging and I can configm that go-grpc handles these connection errors by ending an UNAVAILABLE status. This comes as a bit of a surprise to me but we can certainly special case this into the proxy. The relevant piece of Go code is right [here](https://github.com/grpc/grpc-go/blob/master/rpc_util.go#L794).

I can confirm that when u

[2020-04-24 12:14] cypherfox opened #4288 "In Helm chart allow disabeling the creation of certificate secrets for webhook and API server components"
## Feature Request

### What problem are you trying to solve?
Currently the following secrets are created by the helm chart:
* `linkerd-proxy-injector-tls`
* `linkerd-sp-validator-tls`
* `linkerd-smi-metrics-tls`
* `linkerd-tap-tls`
These contain the certificates and private keys for us in TLS connections when configuring the respective webhooks and Kubernetes API server extensions.

The creation

[2020-04-24 14:46] dayglojesus commented on #3780
@grampelberg sorry the delayed response here... I understand the challenges and I am afraid I can't offer a simple solution. I will close this.

[2020-04-24 14:46] #3780 closed

[2020-04-24 15:26] grampelberg commented on #4287
@zaharidichev WDYT?

[2020-04-24 18:04] byblakeorriver commented on #4262
Awesome! Thank you guys for helping out with this. @olix0r I will definitely consider using my own stream life termination technique in place of relying on the status code. Also, @zaharidichev if you have any particular questions for the folks at gRPC, they are very active on their Gitter. I usually get a response within a couple of hours.

[2020-04-24 21:55] gazzyt commented on #1165
While we wait for an official solution, I have used the guidance from @aliariff to build the current version (2.7.1) for ARMv7.
Source modifications are:
- https://github.com/gazzyt/linkerd2/tree/arm-2.7.1
- https://github.com/gazzyt/linkerd2-proxy-init/tree/arm-1.3.2
- https://github.com/gazzyt/linkerd2-proxy/tree/arm-2.7.0

The built images are at docker.io/gazzyt if you just want to use them.

[2020-04-24 23:06] retr0h opened #4296 "FailedDiscoveryCheck behind proxy"
## Bug Report

### What is the issue?

We run our cluster behind a proxy.  Therefore, the api server is running with HTTP/HTTPS proxy configuration.

When running `linkerd check` it fails wih the following error.  Oddly, it appears to be  using the tap's IP vs the DNS name, which would work because we have NO_PROXY configured for `.cluster.local`.

[code]

[code]

### How can it be reproduced?

Ha

[2020-04-25 04:38] DavidParks8 commented on #2681
Yes, the issue repros with 2.7.0 and 2.7.1

[2020-04-25 04:46] cpretzer commented on #2681
@DavidParks8 I'm going to try to test this over the weekend

[2020-04-25 15:06] alexklibisz commented on #4227
Hey, sorry, still haven't had the time to look into this. It isn't a big
issue for us internally but I would like to get into it as it's an
interesting problem.

On Mon, Apr 20, 2020, 16:58 Thomas Rampelberg <notifications@github.com>
wrote:

[2020-04-25 15:33] olix0r commented on #4227
@alexklibisz Thanks for the update.

We recently received another issue related to gRPC error codes (https://github.com/linkerd/linkerd2/issues/4262#issuecomment-618738482) -- I'm not sure that this is the same issue being described here, but I'd be curious to have you test that fix when it is ready (hopefully for next week's Edge release).

[2020-04-25 15:38] olix0r commented on #3916
@adleong I think you said you were about to enable this on the control plane? Please close this out when you do so.

[2020-04-26 03:52] ericsuhong commented on #3785
We have encountered this issue on our cluster as well. We found that two linkerd-proxy containers from five nginx-ingress-controller pods suddenly started to consume 100% of CPUs:

![image](https://user-images.githubusercontent.com/3857851/80297203-eef0db00-8735-11ea-8e09-3d3feaf360ce.png)

The funny thing is, this is a test cluster with ZERO production traffic. When I look at nginx logs, there ar

[2020-04-26 09:35] ericsuhong commented on #4274
@grampelberg I was able to get a reprod with a YAML. Can you please try the following YAML in a cluster with linkerd 2.7.1? After around 5 minutes (reprod takes some time), you will be able to see "**linkerd2_app_core::errors: Failed to proxy request: Service idled out after 60s**" errors coming from linkerd-proxy containers within prometheus server.

All components are installed in a namespace ca

[2020-04-26 18:58] cpretzer commented on #2681
@oboukili @DavidParks8 I ran a test overnight on linkerd 2.7.1 and didn't see this behavior.

I'm now running a test with linkerd 2.7.0 and will update this issue with the results when I have them

[2020-04-26 23:32] #3918 closed

[2020-04-27 10:16] zaharidichev commented on #4262
@byblakeorriver If you are keen you cna give this branch a go https://github.com/linkerd/linkerd2-proxy/pull/493

[2020-04-27 13:32] zaharidichev opened #4298 "Tag name contain redundant symbols"
I have noticed that recent tag names contain chars that cause problems. For example:

This is fine:
[code]

This is not:
[code]

The result of that is that if you check out an edge tag , build the cli and try to install linkerd, it will fail because the CLI will perform a regex match on the version and it will be illegal.

[2020-04-27 14:50] alpeb commented on #4298
Good catch :+1:
I believe this is happening since we sign release tags, which creates "annotated" tags instead of lightweight tags. The former are separate git objects unlike the latter which are just a pointer. So `^0` is sorta the way of linking that tag object with its commit. I'll push something to fix this.

[2020-04-27 15:20] grampelberg commented on #4296
@retr0h I assume that log line is from your api server? It sounds like you've got connectivity issues between the api server and the tap service. In GKE, this happens because of a firewall rule.

[2020-04-27 15:22] grampelberg commented on #3785
@ericsuhong are you using the default backend at all? I've seen this happen when the ingress going into a tight loop. The proxy does discovery by authority (host header) and if it is a public address, the request goes back to the same set of pods.

It'd also be worth upgrading to 2.7.1 if you've got the chance.

[2020-04-27 15:23] grampelberg commented on #4274
@ericsuhong thanks! Have you observed this with anything other than kured?

[2020-04-27 16:08] #4298 closed

[2020-04-27 16:44] zaharidichev commented on #4298
Ahh.. that explains things. I was wondering why this started happening at a certain point in time.

[2020-04-27 16:53] ericsuhong commented on #4274
Yes, this issue occurs for all pods and endpoints actually. You don't actually need to install kured from above YAML to reproduce this issue.

[2020-04-27 16:55] ericsuhong commented on #3785
@grampelberg @MSLaguana mentioned that the issue was not resolved after they disabled default backend. Also, we cannot upgrade to 2.7.1 due to https://github.com/linkerd/linkerd2/issues/4274 right now.

[2020-04-27 17:48] adleong commented on #4276
In a quick spot check, I saw that this is already configured to 3600 on GKE and 60 on AKS.

[2020-04-27 18:46] retr0h commented on #4296
@grampelberg like I stated, it works perfectly fine if we remove proxy settings from the api server.  The question I have is why an IP address is used vs the svc dns name.  I would expect linkerd to use the service dns name for the tap service not an IP address.

[2020-04-27 19:04] cpretzer commented on #2681
@oboukili @DavidParks8 So far, I haven't been able to replicate the behavior of leaking tcp connections.

Do you have any additional configuration or details that you can share? In my environment, I'm using the [booksapp](https://github.com/buoyantio/booksapp) sample application as well as the bb-p2p application described in the original report. In neither case is the number of tcp connections cli

[2020-04-27 19:47] byblakeorriver commented on #4262
@zaharidichev I probably won't be able to try today, but as soon as I can I will. Thanks again!

[2020-04-27 20:32] ericsuhong commented on #3785
@grampelberg Do you actually recommend us to disable defaultBackend? We do not like the error page being returned without defaultBackend, and we rather keep the defaultBackend.

[2020-04-27 20:45] grampelberg commented on #3785
@ericsuhong I'd take a look at your access logs first to understand what's going on in nginx. Any pointers to what's happening can help us come up with some solutions =)

[2020-04-28 07:48] oboukili commented on #2681
Hey @cpretzer, sorry for the late reply. In my case the exhibited problems occur with nodejs 12.16.2 applications that are using Fastify 2.13.1 web framework. Issues appear randomly (sometimes more than 12 hours later, but definitely not immediately, as you also concluded with your test), that's why we thought of a connection leak somewhere.

Try to run your test over a few days during the weekend

[2020-04-28 07:55] oboukili commented on #2681
I forgot to mention in the ticket, but counting open tcp sockets using `netstat` within a debug app container (so, the same network namespace as linkerd-proxy) showed that ~2000 connections were open between the nodejs app and linkerd-proxy. However, Kubernetes metrics did not show any of that on the **pod** metrics, so it seems it's an issue between the app and the proxy.

And, on the linkerd met

[2020-04-28 09:16] zaharidichev commented on #4287
I tried replicating the problem and could not see the same behavior but I have of idea of how to explore that a bit more. Will follow up with a solution soon

[2020-04-28 10:19] satish3-ntap opened #4301 "tap api service is running -- FailedDiscoveryCheck"
## Bug Report

### What is the issue?
tap api service is running but fails with
    "FailedDiscoveryCheck"
### How can it be reproduced?
Manual installation of K8's cluster( all components and corresponding certificates) in a secure
environment which does not have connectivity to Internet.
CNI - weave is used for networking.
My deployments are able to communicate properly over the network.

Tried

[2020-04-28 12:43] joakimr-axis commented on #3114
...and there we got @jaerik's build setup that for a build host of any architecture will build containers for all the architectures.

[2020-04-28 17:07] Pothulapati commented on #4301
@satish3-ntap I've been looking online around network problems with aggregated API Servers and  found this [requirements](https://github.com/kubernetes-sigs/metrics-server#requirements) doc for metrics-server which also is very similar as it alos uses the `apiService` model. Can you please check if those requirements are satisfied?

[2020-04-28 17:17] grampelberg commented on #4296
@retr0h here's the code that we're using for that check:

https://github.com/linkerd/linkerd2/blob/437f53cdcf6f75727c6064b116f1b971529d4849/pkg/healthcheck/healthcheck.go#L1865

This is coming directly back from the api server. It is configured with the service and the error message shows the IP address that the api server is using. It is coming from the api-server -> tap hop itself, so there's a

[2020-04-28 18:34] Pothulapati opened #4303 "Resouce URL's error in the linkerd-web dashboard"
## Bug Report

In the latest linkerd edge i.e `20.4.4`, `linkerd-web` dashboard's home page works great but the resource URL's like `http://localhost:50750/namespaces/linkerd/deployments/linkerd-destination` seem to error out!

Also, It works great fine when I run the dashboard locally by `./bin/web run`

### What is the issue?

### How can it be reproduced?
Just run the latest edge, and open any

[2020-04-28 19:56] praseodym opened #4304 "Creating a ServiceProfile fails with error `unknown field "fieldsType"`"
## Bug Report

### What is the issue?

On Linkerd 2.7.1 (stable) with Kubernetes v1.18.2, creating a ServiceProfile fails with the following error:

[code]

Linkerd edge-20.4.4 works fine.

### How can it be reproduced?

[code]

### Logs, error output, etc

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

Relevant `linkerd-sp-validator` log lines:

[2020-04-28 20:27] grampelberg opened #4305 "No metrics for routes when using ServiceProfile"
### What is the issue?

I'm getting this output from `linkerd routes`:

[code]

I've just started the dashboard up and run `linkerd install-sp | kubectl apply -f -`. I also have this output from `tap`:

[code]

### How can it be reproduced?

1. Install edge-20.4.4
1. Start dashboard
1. Run `linkerd install-sp | kubectl apply -f -`
1. Run `linkerd routes -n linkerd deploy/linkerd-prometheus`

[2020-04-28 20:42] olix0r commented on #4305
The metrics export includes
[code]

[2020-04-28 20:45] adleong commented on #4305
Looking at the service profile generated by install-sp, it has:

[code]

looks like it only looks for GETs and your tap request looks like a POST

[2020-04-28 22:12] grampelberg commented on #4304
@praseodym as this is fixed in edge, I'm going to close this out for now. Please re-open if there's something we can help you out with there!

[2020-04-28 22:12] #4304 closed

[2020-04-28 22:17] grampelberg commented on #3992
@zaharidichev this is done, right?

[2020-04-28 22:32] cpretzer commented on #4304
@praseodym just to follow up on our slack conversation, [here](https://github.com/linkerd/linkerd2/commit/d8eebee4f73b19046b6deeca5b845c6748695410#diff-37aff102a57d3d7b797f152915a6dc16R53) is the change between the stable and edge versions that cause this behavior.

And [here](https://github.com/kubernetes/apimachinery/commit/709eba34c58bb2863f2dfa410a35e1e15acdc3dd#diff-5b79c1ed408724bca9a51b438c

[2020-04-28 22:35] cpretzer commented on #2681
Thanks @oboukili. I've got my test running and will follow up in a couple of days.

The `netstat` piece is really helpful.

[2020-04-29 01:01] adleong commented on #4276
It seems that in order to do this, we need to set `allowPrivilegeEscalation` and `privilaged` to true in the init container security policy.  I'm not really sure what the implications of that are.  Is this a tradeoff we're okay with?

[2020-04-29 02:25] derrickburns commented on #4276
I deployed this today into a test environment using an initContainer per the suggestion of @grampelberg.  I will have feedback in the next few days if this worked to address the issues that we are seeing.

[2020-04-29 05:53] oboukili commented on #2681
No worries, we are also running Gloo API gateway 1.3.x (gateway mode) to handle north/south traffic. Gloo also happens to be in the linkerd mesh.

[2020-04-29 14:20] mmiller1 opened #4308 "Intermittent outbound TLS handshake errors from stable-2.7.1"
## Bug Report
Intermittent outbound TLS handshake errors have been observed from the proxy in stable-2.7.1. This was only observed in our production environment, possibly indicating that request rate / load is a contributing factor.
### What is the issue?
Outbound calls using TLS (port 443) intermittently experience TLS handshake failures depending on the calling client I've seen messages like (si

[2020-04-29 15:02] mmiller1 commented on #4126
I ran into a similar issue prompting me to open https://github.com/linkerd/linkerd2/issues/4308 (which now may be a duplicate of this one). I included very rudimentary reproduction steps that I was able to demonstrate the problem with intermittently.

[2020-04-29 16:41] #3063 closed

[2020-04-29 16:52] hawkw commented on #2491
The `tracing-subscriber` crate, which the proxy uses to format its logs, has a [`Json` event formatter](https://docs.rs/tracing-subscriber/0.2.5/tracing_subscriber/fmt/format/struct.Json.html) that we could sub in pretty easily to output logs in JSON.

We'd definitely to make this a configuration option of some kind (env var?), of course, because I think many folks would agree that the current out

[2020-04-29 17:41] naseemkullah commented on #2491
💯

`LINKERD_PROXY_LOG_FORMAT` environment variable
`--proxy-log-format` CLI flag
`config.linkerd.io/proxy-log-format` annotation

[2020-04-29 18:31] stephaneey opened #4309 "LinkerD dashboard failure"
## Bug Report

### What is the issue?
Trying to drill down to a pod or deployment or anything leads to a Javascript issue in the browser (with both Chrome & IE).
### How can it be reproduced?
Just start the dashboard and click on any pod/deployment
### Logs, error output, etc
Chrome's console output:
main.c1d727b8ee986d741d7e.js:22829 TypeError: Cannot read property 'api' of undefined
    at l.lin

[2020-04-29 19:29] grampelberg commented on #4309
I assume you're on the latest edge? If so, see #4303. If you're on a different version, please reopen with some more details about your env and what's going on =)

[2020-04-29 19:29] #4309 closed

[2020-04-29 20:45] grampelberg commented on #4308
Couple questions:

- What is your ingress?
- Are you running with resource requests and limits?
- How long are these requests outstanding?
- Any idea how many are in flight?

[2020-04-29 22:00] #4303 closed

[2020-04-30 16:55] zaharidichev commented on #3992
@grampelberg yes

[2020-04-30 16:56] zaharidichev commented on #3992
This was closed by #4265

[2020-04-30 16:56] #3992 closed

[2020-04-30 17:45] #4262 closed

[2020-04-30 17:53] olix0r commented on #4262
@byblakeorriver This will be released with today's edge release (`edge-20.4.5`). You can either upgrade your cluster from this version of the CLI (i.e. via `:; curl -sL https://run.linkerd.io/install-edge | sh`) or you can test this on a single workload by setting an annotation like `config.linkerd.io/proxy-version: edge-20.4.5`.

Note: this release is not yet live, but should be within the next f

[2020-04-30 18:22] #3807 closed

[2020-04-30 18:29] byblakeorriver commented on #4262
Awesome news! Thank you guys so much for the help!

[2020-04-30 22:28] leepatrick-goop commented on #2491
Plus one for this!

[2020-04-30 22:50] hawkw commented on #2491
This should be pretty straightforward to implement, so if anyone is interested in working on it (and getting the opportunity to make a proxy contribution), let me know — I'd be happy to provide pointers!

[2020-04-30 22:54] praseodym opened #4316 "503 Service Unavailable from proxy with large number of connections"
## Bug Report

### What is the issue?

Requests to ingress-nginx, reverse proxied to a backend service, get consistent 40-50% 503 Service Unavailable responses from the linkerd-proxy on the ingress-nginx side when there are a large number of clients connecting. In addition, when this happens, the Linkerd dashboard will still show a 100% success rate for both ingress-nginx and the backend service.

[2020-04-30 22:58] naseemkullah commented on #2491
🙋‍♂️

[2020-05-01 15:47] olix0r commented on #4006
I believe we have fixed this; but we should re-run a test to confirm...

[2020-05-01 16:11] grampelberg commented on #4316
Thank you for the repro! That's gonna be super helpful.

[2020-05-01 16:31] aledbf commented on #4316
@grampelberg I can reproduce this issue. This is the error I see in the likerd-proxy
[code]

[2020-05-01 16:37] ThomWright opened #4322 "Long URLs/query params fail with no explanation"
## Bug Report

### What is the issue?

Requests to URLs with really long query params seem to fail in a difficult-to-debug way.

Symptoms (some of which _might_ be unrelated) for requests from `C` to `S`:

- client `C` reporting 502s
- linkerd-proxy on the client reporting errors: `connection closed before message completed` (see below)
- grafana dashboard the for the svc `S` showing spikes of 50s

[2020-05-01 16:44] kivagant-ba commented on #3307
@grampelberg , any chance this can be prioritized? I also found the Helm chart [does not support setting](https://github.com/linkerd/linkerd2/blob/master/charts/partials/templates/_resources.tpl) ephemeral storage and other potential requests and limits which causes some undesired corner side effects.

For example, if one has a [`LimitRange`](https://kubernetes.io/docs/concepts/policy/limit-range/

[2020-05-01 17:17] grampelberg commented on #4322
I wonder what the RFC says the max length of an URL can be.

[2020-05-01 17:21] grampelberg commented on #3307
@kivagant-ba I'll need more definition around the problem and solution I think before this can be scheduled. I don't have any experience with `LimitRange` and your configuration here. Obviously the easiest solution here would be a PR, but if we flesh out the problem/solution some more it might be possible to get help on this sooner rather than later.

[2020-05-01 17:25] grampelberg commented on #4316
That makes it sound like the remote pod is shutting down?

[2020-05-01 17:36] olix0r commented on #4322
@grampelberg IIRC the RFC doesn't expose a hard limit. Implementations have to choose max buffer sizes and error accordingly. I believe we can modify our buffer size, though...

[2020-05-01 17:36] grampelberg commented on #4322
@olix0r maybe just exposing an error when we hit the limit would be enough?

[2020-05-01 17:37] olix0r commented on #4322
@grampelberg It sounds like we should be returning a 414 in this scenario...

[2020-05-01 18:04] hawkw commented on #4316
Those logs are from the outbound accept side of the proxy, and indicate that the client which the proxy accepted a connection from has closed the connection. If this is from the proxy injected into a nginx ingress controller pod, this means that nginx opened a TCP connection to Linkerd (presumably to forward a request upstream), and closed the connection before sending a request.

[2020-05-01 18:19] grampelberg commented on #3785
@ericsuhong would you mind opening up a new issue? We'd like to look into this some more and should have it be separate =)

[2020-05-01 18:29] ericsuhong commented on #3785
Can't we just reopen this issue? Otherwise, I will probably create a new issue when we encounter this issue again in PROD (right now, we already restarted all the pods, and do not have any useful information to give anyways).

[2020-05-01 18:41] grampelberg commented on #3785
This was fixed by disabling default backend. It sounds like you're still having issues with default backend disabled?

[2020-05-01 18:45] MSLaguana commented on #3785
Disabling the default backend didn't fix the issue for me, it did come back again as stated in https://github.com/linkerd/linkerd2/issues/3785#issuecomment-565747837

However after I manually fixed it (redeploying the impacted ingress pod) a second time, I didn't see it happen again after that yet. I don't think it's fixed, so much as the (unknown) trigger hasn't happened for me again yet.

[2020-05-01 20:25] dwj300 opened #4323 "Support RSA certificates from external PKI"
## Feature Request
We would like to onboard to using an external CA, but unfortunately they do not support ECDSA, only RSA:
[code]

### What problem are you trying to solve?
Using an external CA, so we don't have to rely on certificates generated within the cluster.

### How should the problem be solved?
Preferably by supporting RSA certs in linkerd identity.

### How would users interact with thi

[2020-05-01 20:33] grampelberg commented on #4323
@dwj300 your external CA does not have ECDSA support?

[2020-05-01 20:39] olix0r commented on #4323
So, I think the main thing we'd need to validate is whether this change can be limited to the identity service without impacting how proxies generate certificates. We really want the proxies to have a very minimal surface of crypto-related config.

For context, ECDSA was chosen to minimize memory & transfer overhead.

[2020-05-01 21:05] dwj300 commented on #4323
@grampelberg, as of now, the Azure internal CA does not. I am pushing them to support it, but it has yet to get funded.

@olix0r maybe, dumb question, but doesn't the identity service generate certs? Which certs do the proxies generate? Or do you just mean the CSRs.

[2020-05-01 21:15] grampelberg commented on #4323
@dwj300 ahh, makes sense.

[2020-05-01 21:17] olix0r commented on #4323
@dwj300 Sorry, I mean the Key and CSR. The question is can the ECDSA CSR be signed by the RSA issuer key? If that works, I think we could relax some of the service-side checks. We'd need to validate that the proxies can still verify the certs, obviously; and it would be helpful to understand how the resulting certs differ (especially in terms of size).  But I think we'd be open to the change if we

[2020-05-01 21:24] dwj300 commented on #4323
good question(s). I can do some digging...

[2020-05-01 21:36] praseodym commented on #4316
Please also take a look at the [linkerd-proxy logs in my gist](https://gist.github.com/praseodym/57e99d161020aa1a2343aa1141873eed#file-linkerd-proxy-trace-log) which logs timeouts generated by the proxy as the source of 503s.

[2020-05-01 21:58] grampelberg opened #4325 "Service Topology"
### What problem are you trying to solve?

It is valuable to have metadata related to the topology of a cluster when making load balancing decisions. This metadata can be used to control egress costs between regions or even make advanced routing decisions in multicluster situations. As part of Kubernetes 1.17, [service topology](https://kubernetes.io/docs/concepts/services-networking/service-topol

[2020-05-01 22:03] grampelberg opened #4326 "PCAP-NG Export"
## What problem are you trying to solve?

It is difficult to debug what is happening to the network traffic for workloads on Kubernetes. Linkerd provides `tap` and `stat` to provide some glimpses into what's happening. Many times, this is enough. Unfortunately, when low level problems and protocol issues crop up, the existing tools are not enough. This causes users to inject the debug container an

[2020-05-01 22:22] grampelberg opened #4327 "Network Diagnostics"
### What problem are you trying to solve?

It can be challenging to diagnose why things aren't working in a remote cluster. Is there a connectivity issue? What happens when a specific request is sent to a service? How do I work with the data that comes back? Linkerd should make this kind of interaction with a cluster's traffic easy and seamless.

### How should the problem be solved?

Introduce a

[2020-05-02 10:28] stephaneey commented on #4309
Hello,

Sorry for my late answer and thanks for your fast answer :). Indeed, I'm on the edge one.

Thanks

[2020-05-02 14:25] stephaneey opened #4328 "No data after inject"
## Bug Report
Dashboard showing no data for injected PODs.
### What is the issue?
Having a few PODs running fine in namespace "mynamespace". Injecting the namespace with kubectl get -n mynamespace deploy -o yaml | linkerd inject - | kubectl apply -f - shows that all PODs are meshed but no metric is ever captured and shown despites of hundreds of calls made against the main service.
### How can it

[2020-05-02 14:42] stephaneey commented on #4328
Sorry, was targeting directly the Service IP instead of host name.

[2020-05-02 14:42] #4328 closed

[2020-05-02 21:25] ericsuhong commented on #4276
For us, we did not have to increase **nf_conntrack_tcp_timeout_close_wait** for all containers.

We only needed to increase **nf_conntrack_tcp_timeout_close_wait** value for Nginx ingress controller only to fix the issue, so maybe making this configurable as an annotation can limit the security concern.

[2020-05-02 22:05] olix0r commented on #4274
I think I have a handle on what's going on here... It seems to be a race between the 60s idle timeout and the 60s polling interval for prometheus. The gross workaround for this would be to modify the proxy's environment to include something like `LINKERD2_PROXY_OUTBOUND_ROUTER_MAX_IDLE_AGE: 70s`. I'll look into how we can avoid this.

[2020-05-02 22:57] ericsuhong commented on #4274
@olix0r In which situations does this issue have an impact? Does it impact regular web requests that take longer than 60 seconds to execute? Or does it only affect "every 60 seconds poll" type of workloads only?