[2019-09-06 10:55] KIVagant opened #3394 "In documentation for Helm chart replace command for Identity.Issuer.CrtExpiry"
## Bug Report

### What is the issue?

https://linkerd.io/2/tasks/install-helm/#helm-install-procedure

[code]

The command does not look perfect, because with each call it generates a new value and does not correspond to the expiration date in CrtPEM as it is required in `values.yaml`:

[code]

### Possible solution

I suggest to replace it with something like this:

[code]

[2019-09-06 13:04] lecourtoisn opened #3395 "Heartbeat CronJob with no access to internet"
## Feature Request

### What problem are you trying to solve?
The hearbeat job makes a call to https://versioncheck.linkerd.io/version.json wich can't work on on-premise servers with no access to internet for example.

### How should the problem be solved?
Maybe there should be way of disabling that particular version check. Or am I missing something ?

### Any alternatives you've considered?
Disa

[2019-09-06 15:17] grampelberg commented on #3388
This appears to be an ordering issue resulting from scaling the cluster to zero. I would assume that proxies would still retry to get their certificates though until `identity` comes online.

[2019-09-06 15:25] grampelberg commented on #3390
I updated to remove the headers (so that this work can happen in parallel) and for the first version of this it should match the existing protobuf.

[2019-09-06 16:29] ihcsim commented on #3395
@lecourtoisn Good timing. We just released edge-19.9.1, which includes a new Helm variable to disable the heartbeat service. One caveat is that when the heartbeat service is disabled, the `linkerd check` command will fail. See https://github.com/linkerd/linkerd2/pull/3366#issuecomment-528186756.

LMK if you have further questions, or if we can close this issue.

[2019-09-06 17:03] grampelberg opened #3396 "Enable debug sidecar for control plane components"
### What problem are you trying to solve?

I would like to use the debug sidecar with the control plane components. It is not surfaced as part of `install`, which is okay as I don't want it on for all the components. Trying to add the sidecar via `inject`, however, results in:

[code]

I would like `inject` to be able to add the debug sidecar to control plane components as well as data plane compo

[2019-09-06 17:07] lecourtoisn commented on #3395
I mentioned it under "Any alternative" but unless the heartbeat service is all about this version call, I don't wish to disable it entirely, do I ?

[2019-09-06 18:25] hawkw commented on #3262
What's the motivation for including HTTP/2 pseudo-headers in the headers part of the tap event?

The tap events [already include pseudo-header fields](https://github.com/linkerd/linkerd2-proxy-api/blob/ddbc3a4f7f8b0058801f896d27974d19ee98094c/proto/tap.proto#L142-L145) in the structured data. Furthermore, this means that pseudo-headers will show up in the headers part of the tap event for HTTP/2 r

[2019-09-06 21:09] poochwashere commented on #2836
What if we want to have one ingress definition with multiple services on different ports. Is there a way of templating the port?

[2019-09-06 22:09] grampelberg opened #3399 "N+1 queries to prometheus"
### What is the issue?

When the `public-api` service receives a request to `StatSummary`, there can be a list of resources. This ends up regularly containing many resource types such as deployments and pods. Each resource type fires off its own query, creating a 10x increase in the number of requests that are issued to prometheus.

See [stat_summary.go](https://github.com/linkerd/linkerd2/blob/ma

[2019-09-06 22:27] grampelberg opened #3400 "Simplify dashboard sidebar"
### What problem are you trying to solve?

The dashboard's sidebar has a couple current problems:

- It is a little cluttered.
- Information is hidden by default.
- Filtering is difficult.
- Load on prometheus is excessive.

### How should the problem be solved?

The Kubernetes dashboard does a good job of solving these problems by:

- Listing the possible resources types, not showing every resour

[2019-09-07 05:18] ihcsim commented on #3395
Disabling/failing heartbeat will not interfere with any Linkerd features.

[2019-09-07 10:09] menardorama opened #3402 "Implement header authorization header auth for the dashboard"
## Feature Request
Permit authentication in the dashboard based on authorisation header.

### What problem are you trying to solve?

Use central authentication mechanism (such as Keycloak) which give users full access to objects they are granted using RBACs.

### How should the problem be solved?

Implement Header authorisation token like in the kubernetes dashboard.
Then you can use dex or keyclo

[2019-09-07 10:29] jon-walton opened #3403 "Injected nginx ingress controller doesn't have access to the remote client IP"
## Bug Report

### What is the issue?

We have a service that uses a GeoIP database to lookup the country of incoming requests. It's currently not receiving the remote IPs.

After injecting an nginx ingress controller, `$remote_addr` and `$the_real_ip` are set to `127.0.0.1`, due to the incoming connections coming from the linkerd proxy. The header `l5d_remote_ip` is also not set, therefore cannot

[2019-09-07 18:19] lecourtoisn commented on #3395
I know, I don't want to disable the heartbeat. I want to disable anything that requires an internet call and keep anything the heartbeat does besides that.

[2019-09-07 20:32] ihcsim commented on #3395
Not sure I fully understand your intent. Heartbeat just gathers the [control plane version and a few other attributes](https://github.com/linkerd/linkerd2/blob/46d33a10e46dc2cb5fbe39475b7f435b26eab89f/controller/cmd/heartbeat/main.go#L26-L33), and send them to the external URL, with no return values. If your k8s cluster has no access to external endpoints, then heartbeat won't be relevant. Feel fr

[2019-09-08 17:29] cscetbon opened #3404 "Connection to pod's own IP is prevented"
## Bug Report

### What is the issue?
Applications can't connect to local services using the pod's ip address status.podIP. As an example Cassandra which uses Gossip needs to connect to its own IP.
### How can it be reproduced?
Use deployment files available at https://gist.github.com/cscetbon/f7869c53d2362fa2f744a444b73efbfb. The first one prevents second node to start correctly. The second one f

[2019-09-08 19:31] ihcsim commented on #3404
For context, Cassandra can't listen on `0.0.0.0` per [docs](http://cassandra.apache.org/doc/latest/faq/index.html#why-cant-list-all). By default, the Cassandra nodes are configured to listen on the pod IP (via downward API). I suspect what is happening is that this default causes the Linkerd proxy to not be able to communicate with the Cassandra service via the loopback address. @cscetbon got arou

[2019-09-09 03:08] cscetbon commented on #3404
@ihcsim I checked and you're right, The **cassandra** container can connect to itself using the loopback interface or the pod ip where it listens to. However, it can't connect to the other cassandra container which is the issue. Then after a minute or more, the connection is available

[code]

[2019-09-09 07:29] lecourtoisn commented on #3395
It does answer my question, thank you !

[2019-09-09 07:29] #3395 closed

[2019-09-09 08:30] michalschott commented on #3388
That's correct, we're scaling down all worker nodes to 0.

Proxies still are trying to reach identity service, but failing until identity pods are manually restarted.

[2019-09-09 10:55] andrew-waters opened #3405 "Add multicluster support for Grafana"
## Feature Request

### What problem are you trying to solve?

At the moment, linkerd2 supplies some hard [coded dashboards](https://github.com/linkerd/linkerd2/tree/master/grafana/dashboards) for Grafana.

These work very well when viewed on the cluster, but don't take account for use cases where a single pane of glass is required _with_ the ability to drill down into metrics for that particular

[2019-09-09 10:58] andrew-waters commented on #3405
For the maintainers, I'd also like to express a willingness to contribute to this project, at the moment this is to solicit some feedback on the problem and the proposed solution.

[2019-09-09 12:09] andrew-waters opened #3406 "Unbundle Prometheus and Grafana"
## Feature Request

### What problem are you trying to solve?

linkerd2 deployments come with Grafana and Prometheus bundled into the deployment. This is great for single cluster setups and PoC's but it comes at the cost of resources when an existing cluster already has prometheus running. The documentation around [exporting metrics](https://linkerd.io/2/tasks/exporting-metrics/) is useful and for

[2019-09-09 16:15] ihcsim commented on #2909
Since we've decided to not support installing multi control planes on a single k8s cluster, I'm closing this RFC. This issue was referenced earlier today on slack on the topic of multi clusters support, which is different.

[2019-09-09 16:15] #2909 closed

[2019-09-09 17:28] ihcsim commented on #3258
For posterity, we submitted a PR to change the Prometheus config to only keep cadvisor metrics that are relevant to container resources. See https://github.com/linkerd/linkerd2/pull/3401.

[2019-09-09 17:34] ihcsim commented on #3258
After running 500 to 600 emojivoto apps for 3 days, I can see that the `linkerd-proxy` job has way more data than the cadvisor job, with the `response_latency_ms_bucket` metrics many times higher than the next top-4.

Total metrics size grouped by jobs:
![count-by-jobs](https://user-images.githubusercontent.com/1330522/64552818-e81f7000-d2ec-11e9-9f2f-a7a2873fcffb.png)

Top-5 metrics in the `linke

[2019-09-09 18:52] olix0r commented on #3258
My guess is that the the `response_latency_ms_bucket` (and `response_total`, etc) are especially high because you're running an exceptionally large load balancer... A `vote-bot` that balances over 100s of pods `webs` will have a very high-cardinality of client metrics, which is what you're seeing here.

I might suggest changing the configuration to be more representative of real workloads... Rathe

[2019-09-09 18:58] #2812 closed

[2019-09-09 19:21] grampelberg commented on #3392
Both charts are internal implementation details. Packaged up, end users shouldn't ever need those (so there's no real reason to have them included in your local repo).

[2019-09-09 19:22] grampelberg commented on #3394
Ooh, that's a good call! Will need to do some extra testing =)

[2019-09-09 19:24] grampelberg commented on #2836
@poochwashere `$service_port` is what you're looking for. We should probably update the docs to reference that =)

[2019-09-09 19:27] grampelberg commented on #3402
This would be fantastic to get. I wonder if this could be wired up with `linkerd dashboard` to work on clusters that don't use oauth for k8s accounts.

[2019-09-09 19:38] grampelberg commented on #3403
This is tough because the incoming stream is encrypted ... so it isn't possible to just add the `x-forwarded-for` header. Luckily, nginx supports the PROXY protocol.

[2019-09-09 19:40] wmorgan commented on #2846
Keeping this ticket open. For those watching, we've done some preliminary design work on this feature and learned some good things.

[2019-09-09 19:58] grampelberg commented on #3404
What protocol does cassandra use? This sounds like a server-speaks first issue.

[2019-09-09 19:59] grampelberg commented on #3388
Oh, that's an interesting tidbit. The identity pod comes up after you've scaled up ... but that needs to be restarted again to make everything work?

[2019-09-09 20:02] grampelberg commented on #3406
The bundled prometheus is pretty tuned just for Linkerd. We're doing enough things there and with the CLI/dashboard that a central system would likely crash, especially if retention is over 6 hours. Assuming that cost can be kept in check, it feels like an important piece of the puzzle.

Grafana, on the other hand, is 100% optional. There's some ongoing work around configuration that'll make it op

[2019-09-09 20:05] grampelberg commented on #3405
Adding an optional cluster dropdown to the dashboards sounds like a solid idea. Would it be possible to hide if someone's not using thanos?

This subject in particular feels like something that we could do a lot on. I'd love to get a multi-cluster reference architecture together so that we can think a little bit more about which pieces can really be improved.

[2019-09-09 20:14] andrew-waters commented on #3405
Thanos isn't the factor that makes this an issue - it's just a mechanism to consolidate metrics into cheap storage and solve some issues with federation. My description was more to demonstrate one architecture that this could benefit.

If we did this with jsonnet (which is pretty standard for this domain AFAIK) then something like the following would achieve multi-cluster support (of course, there

[2019-09-09 20:16] andrew-waters commented on #3405
As a side note, it would also be possible from the same jsonnet package to perform a full linkerd2 install. This would expand installation options beyond `linkerd instal` and `helm` which provides more choice to the operator as they could be bundled inside a larger "stack" application. That's a different issue though...

[2019-09-09 20:21] andrew-waters commented on #3406
That's interesting. Is linkerd using prometheus as it's own storage? The most common (recommended) tsdb lifecycle in prometheus is 2 hours so that _shouldn't_ cause issues.

Being able to point dashboard links to an URL outside of the cluster would be helpful.

I still maintain that unbundling (optional) is valid _if it's explicit_ what the ramifications may be.

[2019-09-09 20:36] grampelberg commented on #2921
It'd be cool to do away with `install-cni` entirely and just use the helm chart.

[2019-09-09 20:43] grampelberg commented on #3406
Linkerd doesn't do *any* storage itself. So, it is either prometheus for metrics or k8s for cluster state and configuration.

You're totally right, at least some documentation on what happens would be helpful.

[2019-09-09 21:25] grampelberg commented on #3357
I'll move it over to the website repo, thanks!

[2019-09-09 22:33] wmorgan commented on #3166
@grampelberg what do you think we should do with this issue?

[2019-09-09 22:37] grampelberg commented on #3166
We'll need to add debugging tools to figure out what isn't HTTP and go from there.

[2019-09-09 22:44] wmorgan commented on #3166
Ok, let's keep this open then.

[2019-09-09 22:46] adleong commented on #3262
To be clear, this means request headers, request trailers, response headers, and response trailers?

[2019-09-09 22:53] adleong commented on #3262
Binary valued headers too?

[2019-09-09 22:59] hawkw commented on #3262
Request stream ends don't currently emit tap events (as I pointed out here https://github.com/linkerd/linkerd2-proxy-api/pull/33#issuecomment-529696679). In order to display request trailers, we would also need to add a new tap event for request body ends.

Yes, that's correct. In the proposed API change linkerd/linkerd2-proxy-api#33, header values are a protobuf `bytes` field. The CLI is responsi

[2019-09-09 23:03] kleimkuhler commented on #3262
Hm yea I'm not sure why that is. Request trailers may make sense to be a separate PR from linkerd/linkerd2-proxy-api#33 as you mentioned @hawkw, but do we know if there is any reason we do not currently have tap events for request body ends?

[2019-09-09 23:19] hawkw commented on #3262
My guess is just that, without displaying trailers, there wasn't really a whole lot of value to show them in the tap output.

[2019-09-09 23:36] jon-walton commented on #3403
Yep, any thoughts on getting proxy protocol into the linkerd proxy?

[2019-09-10 01:04] cscetbon commented on #3404
@grampelberg like I said it uses [The Gossip protocol](https://www.linkedin.com/pulse/gossip-protocol-inside-apache-cassandra-soham-saha/).

[2019-09-10 01:32] cscetbon commented on #3404
I forgot to say that the error is that I get tons of
[code]

on the second node that is supposed to handshake with the first node and finally the second node starts with only itself in the cluster as it was not able to connect to the existing node.

[2019-09-10 04:44] ihcsim commented on #3399
So far what I am seeing is that when the dashboard is launched, it continually sends requests to fetch metrics, selecting on the `All` type. This type got translated into a slice that looks like `[daemonset statefulset job deployment replicationcontroller pod service trafficsplit authority]`. Each of these resource types is then used to built the group-by condition of the PromQL queries (in the ab

[2019-09-10 06:56] michalschott commented on #3388
That's correct.

[2019-09-10 07:52] cpretzer commented on #3388
@michalschott I'll work on reproducing this and let you know what I find.

[2019-09-10 07:52] kivagant-ba commented on #3392
Unfortunately, `helm dependency update` usually is a part of CI and called within the `linkerd` chart it won't work since it relies on a local directory `../partials`

[2019-09-10 08:33] KIVagant opened #3412 "Helm chart: namespaces "linkerd" already exists"
## Bug Report

### What is the issue?

 https://github.com/helm/helm/issues/5153 (https://github.com/helm/helm/issues/3179)
[code]

### How can it be reproduced?

1. Delete linkerd2 completely.
2. Install it with the Helm chart using `helm upgrade --install`

### Logs, error output, etc

#### `linkerd check` output

[code]

### Environment
[code]
- Kubernetes Version: doesn't matter
- Cluster Envi

[2019-09-10 11:13] KIVagant opened #3414 "Helm chart installation: "Failed to read trust anchors: not a PEM certificate""
## Bug Report

### What is the issue?

### How can it be reproduced?

Install Linkerd following the instructions:

1. https://linkerd.io/2/tasks/install-helm/
2. https://linkerd.io/2/tasks/generate-certificates/

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version:
- Cluster Environment: (GKE, AKS, kops, ...)
- Host OS:
- Linkerd version:

[2019-09-10 12:47] mayankshah1607 commented on #3255
Hi, I am a new contributor here. If no one is working on this issue, I would like to help. :)

[2019-09-10 14:43] alpeb commented on #3412
@KIVagant As per the Helm issues you linked to, Helm doesn't allow creating namespaces with annotations/labels, something that is required for Linkerd. For that reason we don't support Helm's `--namespace` flag.

If you pass `--namespace linkerd` it will fail because Helm will create the namespace and then Linkerd will also try to create the namespace (with the required annotations and labels).

I

[2019-09-10 15:05] alpeb commented on #3414
I believe the problem is the extra newline character at the end of your trust root cert. From the linkerd-config ConfigMap you posted above:
[code]
Please try removing that an let me know how it goes.

[2019-09-10 15:20] KIVagant commented on #3392
@alpeb , yeah, I saw the ticket and this is good of course. However, some of the companies have policies when artifacts like Helm charts are cached in an internal git / helm repo to control changes, do some local fixes without waiting for upstream fixes etc. If the public repo you mentioned has the chart without dependencies on local folders, my issue will be not an issue anymore. But if not, plea

[2019-09-10 15:43] KIVagant commented on #3414
I have already tried, it was my first idea. And it didn't help. Tomorrow I'll do one more try just in case, but still don't think it somehow affects certificates.

https://golang.org/pkg/encoding/pem/#Decode
If we simulate [`decodeCertificatePEM`](https://github.com/linkerd/linkerd2/blob/master/pkg/tls/codec.go#L111) with a lot of empty lines at the end, it works well. Maybe for some reason `crtb`

[2019-09-10 15:58] grampelberg commented on #3403
It shouldn't be hard, just needs some definition and scoping around when it is used and how it is configured.

[2019-09-10 16:13] KIVagant commented on #3414
I edit manually `linkerd-config` for the L5d installed with `linkerd install | kubectl apply -f -` and added additional new lines at the and of a working certificate. Then I restarted `linkerd-identity` pod and it works. So the new lines should be ok.

[2019-09-10 18:04] #3382 closed

[2019-09-10 18:23] siggy commented on #3399
Agree with @ihcsim that while `stat_summary.go` may have some areas for optimization, looking at what the dashboard actually needs is perhaps a better starting point.

A few areas to look at:
- i assume the "all" queries are for the sidebar. we should consider:
  - only performing these queries when the sidebar is expanded
  - query less often than every 2 seconds
  - share the query responses wit

[2019-09-10 18:26] grampelberg commented on #3255
Go for it, that would be awesome!

[2019-09-10 18:27] grampelberg commented on #3392
@KIVagant when building the chart with your own CI, will the naming be an issue? It seems, as these charts are only ever used internally, you'd only ever build/publish the `linkerd2` chart itself and the naming wouldn't be an issue?

[2019-09-10 18:31] grampelberg commented on #3414
Could you explain how you generated the certificates and what the install method was (sounds like helm? command line would be great).

[2019-09-10 18:44] scottcarol commented on #3399
Re: @siggy @ihcsim comments re: Dashboard, I'm currently digging into how we can reduce and/or consolidate the queries we make to the API from the dashboard. I have a few options (including the ones siggy suggested above) and am talking with @rmars today for some additional context on architecture. I can update this issue and/or break it out into a separate issue relating only to the dashboard.

[2019-09-10 19:54] andrew-waters commented on #3405
@grampelberg I've created a repo to demonstrate this functionality - although for a disclaimer I've only migrated _one_ panel for _one_ dashboard. I'd be interested in getting your feedback as to whether or not this is something that I should spend some time on. The readme should hopefully be self explanatory.

https://github.com/andrew-waters/linkerd2-mixin

[2019-09-10 19:56] andrew-waters commented on #3405
<img width="364" alt="Screenshot 2019-09-10 at 20 55 26" src="https://user-images.githubusercontent.com/501976/64645712-62dfac80-d40d-11e9-84d2-3ed4782a8191.png">

[2019-09-10 20:10] grampelberg commented on #3399
I'm currently putting mockups together for a new sidebar that gets rid of the prometheus query entirely. I've got a couple other ideas in scoping down what the queries do.

[2019-09-10 20:25] grampelberg commented on #3405
That's pretty cool! Where is the source being fetched (as someone who knows nothing about jsonnet)?

[2019-09-10 20:26] andrew-waters commented on #3405
The source for the namespace?

[2019-09-10 20:29] grampelberg commented on #3405
`top-line.json` actually.

[2019-09-10 20:30] andrew-waters commented on #3405
Not sure I'm following the question?

[2019-09-10 20:31] grampelberg commented on #3405
Oh, this is *building* the dashboard for grafana - not taking the existing `top-line.json` and patching it?

[2019-09-10 20:32] andrew-waters commented on #3405
Yeah precisely. You could patch it, but if we go to the effort of building this with jsonnet we may as well go all in and rebuild them with more customisation

[2019-09-10 20:44] grampelberg commented on #3405
I'm really hesitant to bring `jsonnet` in as a dependency. We'll not be able to get away from helm as the core installation method as that's what most folks want.

I've gone down the "dashboards in my own grafana" path a couple times and the only sustainable solution was export from the linkerd grafana, import into your own. Documenting jsonnet as a way to patch/build the dashboards I'm 100% behin

[2019-09-10 20:52] andrew-waters commented on #3405
Well, a couple of thoughts:

1. It doesn’t need to be a dependency - storing the output JSON means it can remain as is (possibly adding multi cluster and standalone directory in this repo) but still give people the choice.

2. I’d also suggested it’s own repo (whether that lives in linkerd namespace or not). I’d be happy to build it out (if we’re going to adopt linkerd) - this is pretty basic stuf

[2019-09-10 21:07] grampelberg commented on #3405
Both options sound great to me. What are you thinking around storing the JSON output? All the dashboards are already in JSON - https://github.com/linkerd/linkerd2/tree/master/grafana/dashboards

[2019-09-10 21:17] andrew-waters commented on #3405
Yep, I’ve used those and ended up here 😂

Obviously linkerd needs these as part of the install (you’ve seen my other issue about unbundling). That suggests one of two things:

1. Have CI do some pretty advanced work building these on each (pre) release. I’m not sure how this would be done, just floating it as an idea.

2. Configure the linkerd bin to pull them at runtime. This is less desirable an

[2019-09-10 21:28] grampelberg commented on #3405
For this kind of advanced usage, I don't think it makes sense to allow configuration at this level as part of the install for all the install methods. To your point, the unbundling stuff is definitely important and the correct (tm) way to go.

I would *love* to provide the tools and docs to get the dashboards for a specific version and configure as you see fit. That's kinda where the kustomize ins

[2019-09-10 21:38] andrew-waters commented on #3405
I think this all leads to having it in a separate repo. Does that sound sensible? If so, I’d suggest the following:

I’ll continue with some work on this tomorrow (I’m on GMT). I’ll get a single dashboard complete using what I’ve prepared already for preview.

You can chat internally about where this lives. I’m happy to host on my github account if it’s your preference but I’m also happy to pass i

[2019-09-10 22:03] grampelberg commented on #3405
That sounds like a fantastic plan to me!

[2019-09-10 22:06] alpeb opened #3417 "---"
The service account `github-actions@***.iam.gserviceaccount.com` needs access to GCS in order to upload the Helm release files when run inside a Github action.

Ref #3415

[2019-09-10 22:28] #3417 closed

[2019-09-10 22:35] ihcsim commented on #3399
@grampelberg brought up the same idea this morning. At first glance, a query like:
[code]
does seem to do what we want. The results it generates seem to match those generated by the queries with the `(namespace, [deployment|statefulset|job|etc.])` group-by conditions. And AFAICT, the grouping shouldn't require code change on the dashboard. Currently, I'm trying to understand the [existing code to

[2019-09-10 23:59] scottcarol commented on #3399
@grampelberg thanks for the update on the dashboard plan.

Here's what I came up with for options for the current dashboard after talking with @rmars.

Even if we change the default dashboard display to only display resources and metrics for a single namespace, like the k8s dashboard, these options are still relevant

However, it may make sense to hold off changing until @grampelberg has finished

[2019-09-11 00:03] jon-walton commented on #3403
The only place I've needed to use proxy protocol is on ingress controllers. Having a pod annotation `linkerd.io/proxy-protocol: enabled` would make most sense from a user's perspective, which I guess the injector can pick up and configure the linkerd-proxy accordingly?

[2019-09-11 08:08] KIVagant commented on #3392
If `requirements.yaml` won't have these lines, then yes, of course:
[code]

[2019-09-11 09:07] KIVagant opened #3418 "Order yaml keys alphabetically in values.yaml inside the Helm chart"
## Feature Request

### What problem are you trying to solve?

Big YAMLs are hard to read. When one needs to add a new value, it's hard to decide in what position it should be added. Also it's hard to compare two files when a lot of keys were changed in a customization.

### How should the problem be solved?

Setup the new convention and sort all keys alphabetically (root level only).

### Any alt

[2019-09-11 09:12] KIVagant commented on #3412
Thank you, @alpeb, fair enough. Anyway, I prefer to control all namespaces in a different place all together, so for my case the PR is more convenient solution.

[2019-09-11 09:22] mayankshah1607 commented on #3255
/assign

[2019-09-11 11:53] mayankshah1607 commented on #3255
Just wanted to make sure that I understand this issue well.

The here [here](https://linkerd.io/2/features/proxy-injection/) say that :
[code]

This suggest that a pod that runs on the said namespace can automatically get linkerd support if the namespace has been injected.

[2019-09-11 14:32] alpeb commented on #3412
I'll take a look at your PR in a bit. If you'll be managing your namespaces elsewhere, please keep in mind that you'll have to add the label `linkerd.io/is-control-plane: "true"`, which is necessary for the correct functioning of the control plane.

[2019-09-11 15:14] grampelberg commented on #3403
We had a longer conversation about this yesterday. If AKS actually uses the PROXY protocol for its LBs, then we'd pass it on without modification and everything should work. I've not tested yet, or looked into what AKS LBs actually support ... but it might be a good route to go down.

[2019-09-11 15:53] alpeb opened #3419 "Trim certificates before processing them"
Trim the certificates before processing them, in case there are trailing newlines that would result in an error.

Ref #3414

[2019-09-11 15:54] alpeb commented on #3414
@KIVagant thanks for the detailed feedback :+1:
I'm still betting on the trailing newline issue. Your go snippet above can't reproduce the issue because that has to be run inside a loop:
https://github.com/linkerd/linkerd2/blob/a5a6e8ff9f01a2c63a3c4d9b7895eab1fc9ebd2d/pkg/tls/codec.go#L78-L88
So after the first part of the cert is correctly parsed, the remaining bytes are attempted to be parsed as

[2019-09-11 16:07] grampelberg commented on #3414
Hmm, `step` generates the correct certs for me. I walked through your steps and it all works for me. Have you done a diff before and after things go into your secret storage? That sounds like the most likely issue right now.

[2019-09-11 16:16] grampelberg commented on #3255
This issue is a little different than that. When you run `kubectl get deploy -o yaml | linkerd inject -`, the `inject` command will add the annotation for you. Right now, when you do `kubectl get namespace -o yaml | linkerd inject -`, nothing happens. This issue is to update `inject` to add the annotation to namespaces as well as deployments.

[2019-09-11 17:07] jon-walton commented on #3403
Unfortunately azure load balancers don't support proxy protocol

[2019-09-11 17:12] grampelberg commented on #3403
Hmm, how were you getting the correct IP before then?

[2019-09-11 20:54] grampelberg commented on #142
Fixed by #3171.

[2019-09-11 20:54] #142 closed

[2019-09-11 20:54] grampelberg commented on #308
Fixed by #3171.

[2019-09-11 20:54] #308 closed

[2019-09-11 20:55] #559 closed

[2019-09-11 20:56] #475 closed

[2019-09-11 20:58] #345 closed

[2019-09-11 20:58] #523 closed

[2019-09-11 22:34] poochwashere opened #3422 "Templatize port number for nginx ingress sample definition"
Problem:
If you have more than one endpoint running on different ports you will need to generalize the port number for traffic to route to the destined service.

The example on `using-ingress.md` lists the following...
[code]
If you have multiple services behind the same ingress they would both need to be listening on port 80 for this to work (which our services were not).

Suggestion:
Use the ngi

[2019-09-11 23:34] jon-walton commented on #3403
The service was running on-prem

[2019-09-11 23:37] kleimkuhler opened #3423 "Properly format fields in tap command JSON output option"
In order to fix the nesting and bloat that happens when rendering protobuf structs as JSON with `encoding/json`, change the rendering library to `protobuf/jsonpb`.

This will properly format fields such as `oneof` and maintain a flatter structure.

[2019-09-12 01:47] #3419 closed

[2019-09-12 02:20] #1455 closed

[2019-09-12 04:57] olix0r opened #3424 "proxy: Expose build info to prometheus"
According to the prometheus best practices, it's proper to [expose build info to prometheus](https://www.robustperception.io/exposing-the-software-version-to-prometheus).

Modify the proxy's build/telemetry to support encoding `linkerd2_proxy_build_info`.

[2019-09-12 19:44] olix0r opened #3427 "proxy: grpc_headers_end is flakey"
CI failures caused by
[code]

Can we fix this test?

[2019-09-13 10:01] kivagant-ba commented on #3358
Looks like we faced the issue and from the symptoms I see, we also reached the events limit.
Right now I'm looking at 85 replicasets that failed to create pods during one night. Their DESIRED state is bigger than **1** while CURRENT and RUNNING are zero. And `kubectl describe replicaset` shows `Events:               <none>`. In the same time we got an alert from the monitoring system which says:
[

[2019-09-13 15:53] ihcsim commented on #3399
@scottcarol Re changes to the Prometheus queries, when repeatedly using `curl` to hit the Prometheus API, so far the single query yields a slightly better CPU utilization result. There isn't much difference with the memory consumption. In a way, I guess the slight improvement didn't come as a surprise, because as previously discussed, most of work is done to process the `by(namespace, pod)` querie

[2019-09-13 17:18] olix0r opened #3430 "proxy: opencensus exporter should eagerly poll for errors"
As discussed in linkerd/linkerd2-proxy#338, the initial implementation of the span exporter has a small defect in that it doesn't poll the response side of the stream, which (I believe) is necessary to eagerly detect stream errors (and to know the grpc-status/message of the error).

[2019-09-13 18:00] adleong commented on #3430
What about the situation where the response is complete (i.e. we poll it to completion) but the server raises a stream error (stream reset)?  How can the sender be eagerly notified in that case?

[2019-09-13 18:12] scottcarol commented on #3400
Responsive question: The current Linkerd dashboard looks like the below image when the screen width is narrow. (Running your test repo in Safari, the sidebar disappears at a certain screen width.)

The K8s dashboard keeps the sidebar the same width no matter the screen size. If we are moving towards the K8s dashboard, I'd support maintaining the width of the sidebar in all views. WDYT?

![Screen S

[2019-09-13 18:47] adleong commented on #3430
Looking at the opencensus go client, it appears that they never attempt to read the response stream until the request stream encounters an error.  The response is then read to determine the cause of the request stream error:

https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/blob/master/ocagent.go#L400

In particular, it doesn't seem like the server sending a response will termina

[2019-09-13 21:09] grampelberg opened #3431 "Validate certificates"
## What problem are you trying to solve?

It is way too easy to build the certificates wrong. Either because of a bad algorithm, misformating the actual data or time drift between generation and installation.

### How should the problem be solved?

Add a `check` that validates the cert can be used and has been generated correctly from the control plane secret itself.

[2019-09-13 21:17] olix0r commented on #3431
just to be clear on a detail: the validation should be done in the control plane itself (rather than reading the secrets into the CLI). we want to test the control plane's clock, especially, against the certificates

[2019-09-15 13:21] mayankshah1607 opened #3435 "Create a makefile that automatically builds all Linkerd2 components"
## Feature Request

Create a makefile that automatically builds all Linkerd2 components in Docker images, and deploys them onto Minikube

### What problem are you trying to solve?
Save time by using `make` to automatically build all the components required by linkerd2 for dev purposes

### How should the problem be solved?
By creating  a simple Makefile with all the commands under [Comprehensive b

[2019-09-15 20:34] #2751 closed

[2019-09-16 01:23] cscetbon commented on #3404
Hey guys, any idea what's going on here and how to fix it ?

[2019-09-16 09:27] andrew-waters commented on #3405
👋 @grampelberg - just a courtesy note to mention I'm looking at some other things so haven't had the chance to circle back around to this yet in any meaningful way - I'll do so in due course and update you on here when I can carve that time out.

[2019-09-16 15:21] kivagant-ba commented on #3358
@alpeb , could you suggest any workarounds that can help to improve the situation?

[2019-09-16 16:01] alpeb commented on #3358
@kivagant-ba The current issue is tracking timeouts when trying to inject hundreds of pods at the same time. Even at that level a portion of all the pods should be injected without problems. You're seeing none, and also a certificate error, so it sounds to me yours is a different issue. To answer your question, that timeout is hard-coded inside kubernetes, so can't change it.

Would it be possible

[2019-09-16 16:28] #3365 closed

[2019-09-16 17:15] kivagant-ba commented on #3358
From the Slack discussion with @ihcsim and @alpeb:

So I did
[code]
and changed the `failurePolicy` to Ignore. Will come back with the results in a couple of days.

[2019-09-16 18:28] brianstorti commented on #2980
Just to add to this one, I'm seeing Prometheus using all the CPU available in a worker node when I open the linkerd dashboard. Memory doesn't seem to be a big issue for me, and it doesn't seem to be related to which page in the dashboard in open, even opening just the "overview" page is enough to trigger the CPU spike.

I was running it in a 4-cores node and it was using 100% of CPU, starving all

[2019-09-16 23:26] #1948 closed

[2019-09-16 23:47] mikeslemmer opened #3437 "TLS nginx ingress of grpc request to linkerd-meshed grpc service errors with 502"
## Bug Report

### What is the issue?

TLS ingress of a grpc request to the emoji grpc service of the emojivoto demo app can be accessed fine using grpcurl until you add the service to linkerd mesh at which point it stops working.

### How can it be reproduced?

* Install linkerd-2.5.0 and the emojivoto demo app in the emojivoto namespace of a kubernetes cluster.
* A public IP will be assigned to

[2019-09-17 04:26] #2339 closed

[2019-09-17 06:03] ihcsim commented on #3404
@cscetbon Sorry for the delay. We haven't had the chance to look deeper into your issue yet. I am not sure if we are still looking at the same errors.

Here are some initial thoughts on the latest logs you posted:

I am not sure what this means. Since it is logged as `INFO`, I assume it's benign?

This is saying the Linkerd proxy can't talk to your Cassandra application's at 127.0.0.1:7000 and 127

[2019-09-17 06:24] ihcsim commented on #2980
@brianstorti Thanks for bringing this up. Can you try updating the `linkerd-prometheus-config` config map with the changes in https://github.com/linkerd/linkerd2/pull/3401/files#diff-26bef37e1506c3f8b33144756cb7e919R62-R68? I am very curious to see it will resolve the intense CPU consumption you are seeing.

I'm curious about how much memory Prometheus is consuming. `kubectl -n linkerd top po` sho

[2019-09-17 07:02] michalschott commented on #3388
@cpretzer any progress on this?

[2019-09-17 09:46] brianstorti commented on #2980
Here are Prometheus queries:

![Screenshot 2019-09-17 06 23 36](https://user-images.githubusercontent.com/183363/65029895-eb31e600-d914-11e9-9edd-41db3af34938.jpg)
![Screenshot 2019-09-17 06 24 20](https://user-images.githubusercontent.com/183363/65029896-ebca7c80-d914-11e9-9ba4-95f7accd6489.jpg)

Here you can see the CPU and memory usage (this is Prometheus running in a "dedicated" 4-core node):

[2019-09-17 14:21] brianstorti commented on #2980
@ihcsim I tried applying these changes to `linkerd-prometheus-config` and restarted all Linkerd deployments, but didn't notice any difference in the CPU usage.

[2019-09-17 15:10] kivagant-ba commented on #3358
I found that it's enough to restart 1 of 3 linkerd pods in parallel with some other pods in the cluster to get into the issue:
[code]

[code]

[2019-09-17 15:15] grampelberg commented on #3435
Any reason `bin/docker-build` didn't work for you?

@ihcsim where's that awesome tilt setup that you have been using?

[2019-09-17 15:16] grampelberg commented on #3405
Looking forward to it!

[2019-09-17 15:29] grampelberg commented on #3358
@kivagant-ba you might want to look into doing manual injection (`inject --manual`) for the time being. We've been learning that MWCs are not nearly as reliable as we all thought ....

[2019-09-17 16:22] scottcarol commented on #2953
Replaced by #3400

[2019-09-17 16:22] #2953 closed

[2019-09-17 16:31] grampelberg commented on #3437
I can't replicate this at all. Here's all my config:

[code]

And the command that is working for me:

[code]

[2019-09-17 16:32] grampelberg commented on #3437
The only difference I can spot is using path.

[2019-09-17 17:25] #3412 closed

[2019-09-17 18:03] alpeb commented on #3367
I've created a PR in Helm's hub repo:n helm/hub#148

[2019-09-17 19:55] ihcsim commented on #3435
@mayankshah1607 I'm a big fan of Makefile, but as you've already seen in the build docs, the `DOCKER_TRACE=1 bin/mkube bin/docker-build` command will do what you want. Not sure how much we're gonna save from having introducing a Makefile here, especially when most terminals can alias or reverse search the command.

If you want a truly continuous build and deploy experience, I will recommed checkin

[2019-09-17 21:09] grampelberg commented on #2921
@zaharidichev this would be good to tackle as part of the larger #3263 issue.

[2019-09-17 21:30] #3130 closed

[2019-09-17 21:37] grampelberg commented on #3198
@kleimkuhler where'd we get to with this?

[2019-09-17 21:41] #2794 closed

[2019-09-17 22:00] kleimkuhler commented on #3198
@grampelberg This could be probably be closed. It's currently handled in the UI as shown [here](https://github.com/linkerd/linkerd2/pull/3208#issuecomment-519570458).

[2019-09-17 22:06] #3392 closed

[2019-09-18 04:33] #3198 closed

[2019-09-18 13:12] bjoernhaeuser opened #3441 "Linkerd 2.5.0: linkerd2_proxy::app::errors unexpected error: error trying to connect: No route to host (os error 113) (address: 10.10.3.181:8080)"
## Bug Report

### What is the issue?

We have injected pod which is running for days connecting to a partially (1/3) injected deployment, which is eventually throwing the mentioned error.

## How can it be reproduced?

Run a pod for days and let it talk to a deployment which is regularly restarted, which is causing new pods and new IP addresses etc.

### Logs, error output, etc

linkerd-proxy ERR

[2019-09-18 15:10] grampelberg commented on #3435
I'm going to close this one out for now. Please repon @mayankshah1607 if there's something in either of those solutions that doesn't work for you.

[2019-09-18 15:10] #3435 closed

[2019-09-18 15:15] grampelberg commented on #3441
At a super high level, the proxy discovers new endpoints via:

proxy (watch) -> destination (watch) -> api-server

In the past when this has been an issue, it is because there's a poor connection between destination and the api-server. Next time this happens, try restarting the `linkerd-controller` pod and see if that fixes it. If that *doesn't* fix the problem, check out the endpoints for the ser

[2019-09-18 16:18] olix0r opened #3443 "destination: support resolving pod IP addresses"
The destination service should `Get` request with a `path` in the form of `IP:PORT`; and when this IP is that of a kubernetes pod IP, serve that pods metadata via a resolution (i.e. with no parent service metadata).

It would only ever make sense for these resolutions to receive responses that are:
- `Add(...)`
- `NoEndpoints { exists: false }`
- `InvalidArgument` (error) if the control plane can

[2019-09-18 16:21] olix0r opened #3444 "destination: support resolving service IP addresses"
The destination service should `Get` request with a `path` in the form of `IP:PORT`; and when this IP is that of a kubernetes Service IP, serve that service's metadata via a resolution (i.e. as if it were called by its proper name).

This will primarily allow opaque TCP traffic that is destined for a kubernetes service to participate in mesh identity.

[2019-09-18 16:32] bjoernhaeuser commented on #3441
@grampelberg thanks for the swift response.

I assume you mean the kubernetes service. The endpoints there are correct, 100%, the rest of the system is using that service successfully.

We tried to see anything in the logs of these components, without finding anything that looks like an error or "poor" connection.

Do you have any hints for which kind of log messages we would look out for?

Thanks

[2019-09-18 16:35] grampelberg commented on #3441
There wouldn't be anything in the logs for the cases that I'm thinkin of. Basically, the connection dies silently and no updates happen.

api-server specifically. It sounds like we're on the same page =)

[2019-09-18 16:52] olix0r opened #3445 "proxy: Resolve and balance tcp-forwarding"
In order to establish mTLS for non-HTTP traffic, we need to start resolving IP addresses through the control plane and potentially balancing across more than one endpoint (i.e. in the case of a service IP).

Probably depends on https://github.com/tower-rs/tower/pull/302.

[2019-09-18 16:55] olix0r opened #3446 "proxy: Expose SNI value from opaque TLS streams"
When the proxy is forwarding an opaque TLS stream that it does not terminate, it can still know the SNI value the client sends. When we know an SNI value for a TCP stream, we should expose it in its labels (i.e. in metrics and tap).

[2019-09-18 18:41] #3268 closed

[2019-09-18 20:15] jaredallard commented on #2876
@grampelberg Is there any idea if this will be pursued? We'd really like this feature.

[2019-09-18 20:16] grampelberg commented on #2876
I'd love to know what problem you're trying to solve @jaredallard. Right now we're encouraging folks to do it the k8s native way, which could definitely use some improvements.

[2019-09-18 20:18] jaredallard commented on #2876
@grampelberg Sure! We're looking to be able to have services from one cluster talk to services in another cluster transparently without going the federation route or using a CNI provider to do so. Also potentially be able to do locality aware load balancing. Does that make sense?

[2019-09-18 20:26] grampelberg commented on #2876
That makes sense! That's pretty easy to setup today with just a couple pieces of normal k8s stuff. I should probably write up a reference architecture on that one of these days. There's a couple little pieces of this that a service mesh can help out with, which we're currently trying to figure out. As of right now, it is definitely looking like a 2020 kinda thing unless someone who's not currently

[2019-09-18 20:33] jaredallard commented on #2876
@grampelberg Interesting! Do you have any references? I'd love to learn about that! Also, open to helping work that out if my company decides to use it and I can dedicate time to help.

I'm wondering why you feel that way?

[2019-09-18 22:26] adleong commented on #3431
The identity controller does some validation on startup and panics if the validation fails.  Is this what we want to surface through `linkerd check`?  Or some other validation?

[2019-09-18 22:34] grampelberg commented on #2876
Nope, this is why I need to write it up. TLDR, use ingress, external-dns and cert-manager/letsencrypt. It is pretty important to keep your fault domains separate and treat external clusters just like you would an external third party service.

Normally, you'd use locality aware load balancing to "fail over" to a remote cluster if the local one was unable to serve requests. There are two big parts

[2019-09-18 22:35] grampelberg commented on #3431
I'd like to:

- make sure we can load the certificates.
- that the algorithm is one we can use (eg not RSA).
- the certificate is valid from a not-before perspective.
- the trust bundle is valid (eg we can actually validate generated certificates).

[2019-09-18 22:43] mikeslemmer commented on #3437
The issue here was that I was using a very old version of the nginx helm chart (0.24.1). If you are experiencing this issue, try upgrading to the latest nginx. It worked for me using 1.20.0.

[2019-09-18 22:43] #3437 closed

[2019-09-18 22:58] #3358 closed

[2019-09-19 11:17] jonasdkhansen opened #3448 "Proxy log connection reset by peer and connection refused"
## Bug Report

### What is the issue?
I see a lot of connection reset by peer errors, from the proxy log, on all my services. I'm kind of stuck in finding the issue, so i hope someone can point me in the right direction. It dosen't seem to affect the traffic, but the success rate in Linkerd is sometimes down a few percent.

### How can it be reproduced?
No i am not able to reproduce the issue, by

[2019-09-19 12:41] anchit1729 commented on #3344
Hi @grampelberg, I would like to take up this issue and work on it if that's okay.

[2019-09-19 15:10] grampelberg commented on #3448
`Connection reset by peer` is pretty benign, it just means that the remote connection was closed. If you're not seeing any issues in your application it should be fine to ignore.

`Connection refused` is a little more concerning. If you're not using readiness probes, it suggests that a new pod started up and began receiving traffic before it was ready. Otherwise, there can be some staleness in the

[2019-09-19 16:04] grampelberg opened #3449 "Load certificates from secrets"
## What problem are you trying to solve?

Today, when installing linkerd through the helm method (and optionally through `install`), certificates and keys must be provided to base the mTLS trust chains off. Many users already have cert-manager running in their cluster and are able to generate certificates from that.

### How should the problem be solved?

Allow users to configure a secret that the

[2019-09-19 16:15] olix0r opened #3450 "Move olix0r/linkerd-await into linkerd org"
The linkerd-await utility is probably worth promoting into the linkerd org, now that we have a clearer story about how it can be controlled at runtime (rather than build-time).

Then, we can consider using linkerd-await in the control plane (though note it MUST be disabled on at least the identity controller). This would enable controller-to-k8s traffic to be properly depicted in telemetry, for in

[2019-09-19 16:34] #3390 closed

[2019-09-19 16:44] alpeb commented on #3256
Our own repo publishing has been addressed in #3415 and the Helm hub publishing is being tracked in #3367

[2019-09-19 16:44] #3256 closed

[2019-09-19 17:10] olix0r commented on #3325
Depends on https://github.com/linkerd/linkerd2/issues/3450

[2019-09-19 17:15] adleong opened #3452 "Identity issuer certificate expires after 1 year"
When the Linkerd control plane is installed, the default behavior is to generate an identity issuer certificate and key for the identity controller to use to issue service account certificates.  The issuer material is generated from a root CA and key.  The root CA is saved in a config map as the trust root and the root key is thrown away.

The default expiry period for the issuer certificate is 1

[2019-09-19 20:47] ihcsim commented on #3290
@jonasdkhansen The latest [edge-19.9.3](https://github.com/linkerd/linkerd2/releases/tag/edge-19.9.3) release has a fix for this issue. I'm closing this issue. Feel free to ping me on slack if you have any questions.

[2019-09-19 20:47] #3290 closed

[2019-09-19 21:27] olix0r opened #3453 "proxy: Instrument the OC client with metrics"
What do we care about knowing?

- Number of messages sent to OC
- Distribution of batch sizes.
- Connection failures
- Stream failures

We probably do NOT want generic HTTP metadata for this client, as it's not a typical HTTP api...

[2019-09-19 23:08] #1720 closed

[2019-09-20 02:28] ihcsim opened #3454 "Disable custom cluster domain changes during control plane upgrade"
PR #3360 added a new option to the `linkerd install` command, to support custom cluster domain. The `upgrade` command inherits this option, because it shares the same set of flags with `install`. Since upgrading the trust domain isn't supported, we should fail the upgrade process if the `--cluster-domain` option is used during upgrade, to avoid breaking mTLS.

[2019-09-20 13:39] MelwinKfr commented on #2310
Hello, is there an option to set during the installation in order to make this work?

I'm using `gcr.io/linkerd-io/proxy:stable-2.5.0` and the header `l5d-remote-ip` is empty when requests arrive on my Nginx Ingress Controller.

[2019-09-20 14:37] grampelberg commented on #2310
We ended up removing this as there was a bunch of potential for leaking internal cluster details if you weren’t careful.

That said, if your ingress controller is terminating https, there’s not much Linkerd can do to add the header. What platform are you running your cluster on? Anyone who supports the PROXY protocol should just have it work.

[2019-09-20 14:44] MelwinKfr commented on #2310
Alright, thank you for clearing this out. I am running my cluster on premise, are you referring to [this](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt) when you write "the PROXY protocol"?

[2019-09-20 14:46] grampelberg commented on #2310
Yup!

[2019-09-20 14:55] cpretzer commented on #3379
@christianhuening I'm working on reproducing this now. Can you confirm that linkerd is running with the `--ha` flag set?

[2019-09-20 14:57] christianhuening commented on #3379
@cpretzer yes, i can confirm

[2019-09-20 16:46] #3060 closed

[2019-09-20 16:53] ihcsim opened #3456 "Increase Grafana refresh interval from 5s to 10s"
This should help to reduce the CPU and memory load on Prometheus.

Relevant #3258.

[2019-09-20 21:23] cpretzer commented on #3388
@michalschott

Sorry for the delay in the update to this issue. **TL:DR**: I ran a test on GKE and I think I've reproduced the issue. It found an error message in the calico pods which I have to explore further.

**The Details:**

Using the booksapp demo, the first interesting thing that I found is that the app continues to service requests. What I mean by that is that the page for booksapp loads

[2019-09-21 20:42] hasheddan commented on #3346
Happy to take this one!

[2019-09-22 04:41] balchua opened #3459 "Tap pod should consider subjectAltNames"
When verifying for `requestheader-allowed-names` in the tap apiserver consider `subjectAltNames` for cases when there are multiple names.

[2019-09-22 08:09] cpretzer commented on #3388
@michalschott I've done some digging through the code and I think that the `unknown target kind` error might not be related: https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler/blob/master/pkg/autoscaler/k8sclient/k8sclient.go#L117

I'll keep working to reproduce this and post updates here

[2019-09-22 09:48] kangxiaoning commented on #3204
I have the same problem, I changed the installation command to `linkerd install --registry local.registry | sed 's#prom/prometheus:v2.11.1#local.registry/linkerd-io/prometheus:v2.11.1#' | kubectl apply -f -`.

[2019-09-22 17:59] #2352 closed

[2019-09-22 23:31] #2914 closed

[2019-09-23 00:10] kleimkuhler commented on #2712
Closed in [tap hardening project](https://github.com/orgs/linkerd/projects/8)

[2019-09-23 00:10] #2712 closed

[2019-09-23 01:54] cscetbon commented on #3404
@ihcsim I confirm that using those options allows nodes to communicate and to handshake correctly.

[2019-09-23 11:56] Pac23 commented on #2213
@grampelberg @alpeb anyone working on this ? if not can i ? learned go recently this seems like a fun project/idea to work on. Did gsoc 19 with another org btw.

[2019-09-23 15:11] alpeb commented on #3367
The charts have been published at these locations:
https://hub.helm.sh/charts/linkerd2/linkerd2
https://hub.helm.sh/charts/linkerd2-edge/linkerd2

I'll try now to properly set an icon for them.

[2019-09-23 15:14] grampelberg commented on #3404
@cscetbon it sounds like your issue's been taken care of. I'll close this issue out for now. If you have any suggestions for ways to make it more obvious a server speaks first protocol isn't getting detected that'd be super helpful!

[2019-09-23 15:14] #3404 closed

[2019-09-23 15:19] grampelberg commented on #3346
Awesome! Thank you!

[2019-09-23 15:21] grampelberg commented on #3459
Could you explain a little more about the situation where there are multiple names in the SAN?

[2019-09-23 15:24] grampelberg commented on #3204
This would be a great first PR!

[2019-09-23 15:49] grampelberg commented on #2213
@Pac23 CI is currently in flux as we're moving to github actions right now. Why don't you jump on slack? I can come up with some interesting issues for you with a little chat =)

[2019-09-23 16:50] #2102 closed

[2019-09-23 17:06] Pothulapati opened #3462 "Add check for Tap APIService"
## Feature Request

### What problem are you trying to solve?

`Linkerd check` is very useful rn as it does comprehensive tests on most of the control-plane integration points. It would be really great to have one for the `Tap APIService` too, as we have been seeing some issues around APIServices on some clusters.

### How should the problem be solved?
We may check for

- Use k8s API and check the

[2019-09-23 20:37] mattupstate opened #3465 "TrafficSplit visualization"
## Bug Report

### What is the issue?

The visualization of network traffic does not appear to represent the actual state of the network when using a `TrafficSplit` resource.

### How can it be reproduced?

Follow the steps outlined in the [Injecting Faults](https://linkerd.io/2/tasks/fault-injection/) section of the documentation and view the resulting dashboard.

### Logs, error output, etc

A s

[2019-09-23 20:49] cpretzer commented on #3388
@michalschott I see that you're using calico for CNI. Have you installed the `linkerd-cni` plugin with the `linkerd install-cni` command?

[2019-09-23 21:18] grampelberg commented on #3452
See #3431 for a related issue.

[2019-09-23 21:20] grampelberg commented on #3452
Also see #3449.

[2019-09-23 21:44] michalschott commented on #3388
Yes. It is needed due to non-root psp.

[2019-09-23 21:48] #3456 closed

[2019-09-23 21:55] balchua commented on #3459
Hi sorry didn't give a bit more info here.

For example i have `othername` in the SAN and i add it to the kube apiserver option `requestheader-allowed-names=commonname,othername` the tap pod doesn't recognize it.

Because it only checks for the allowed names in the CN.

https://github.com/linkerd/linkerd2/blob/5e51208b5deea360932bd294337683f51a4571eb/controller/tap/apiserver.go#L98

[2019-09-23 23:20] olix0r commented on #3431
@adleong

I think what we basically want is for the identity service to expose an API that returns its public signing cert metadata, if valid, and, if invalid, returns the reason that the signing credentials cannot be used. This would allow clients that consume this API to make their own determinations with to regard what the acceptible certificate lifetime may be.  It's important that _only_ the

[2019-09-24 01:34] adleong opened #3468 "Allow trace collector address to be configured via flag or helm variable"
https://github.com/linkerd/linkerd2-proxy/pull/354 added environment variables: `LINKERD2_PROXY_TRACE_COLLECTOR_SVC_ADDR` and `LINKERD2_PROXY_TRACE_COLLECTOR_SVC_NAME` which enable the Linkerd proxy to participate in traces and to emit spans to the provided collector.  We should allow these environment variables to be set from the CLI in the normal ways.

[2019-09-24 01:38] adleong opened #3469 "Measure span end at response end, rather than response start"
For spans recorded by the proxy, we consider the span to start when the request transits the proxy and consider the span to end when the response transits the proxy.

Instead, we should only consider the span to be ended when the response stream is complete.  By waiting until this point to record span end, we also gain access to the trailers and can record, for example, grpc-status as span metadat

[2019-09-24 01:57] halcyondude commented on #2214
Is there any update or movement on this issue?  We are migrating workloads involving meshed Kafka clients and have just started investigating possibilities.

[2019-09-24 02:04] mattupstate commented on #3465
Truth!

![image](https://user-images.githubusercontent.com/166176/65475576-0a1d0480-de4e-11e9-8b58-5df5f753dcba.png)

Thanks for pointing that out.

[2019-09-24 02:04] #3465 closed

[2019-09-24 07:53] ruig2 commented on #2214
@halcyondude The report of the GSoC project is at https://github.com/ruig2/KafkaRustCodec/blob/master/gsoc.md . I did some investigation about meshed Kafka clients this summer, however, it is not yet ready for the production environment.

Please let me know if I can help ;)

[2019-09-24 15:07] grampelberg commented on #3468
@adleong this seems like a blocker for 2.6?

[2019-09-24 16:34] scottcarol commented on #3465
Awesome, thanks again for filing the issue @mattupstate!

[2019-09-24 17:22] mayankshah1607 commented on #3255
Hi, I need some guidance with this issue. I cant really find a way to fetch all deployment configs given a namespace config. Is there a simpler way to tackle this issue?

[2019-09-24 18:12] grampelberg opened #3472 "Enable tracing on a per-pod basis"
### What problem are you trying to solve?

The proxy is now able to emit spans. This needs to be configured on a per-proxy basis.

### How should the problem be solved?

Add two annotations:

- `config.linkerd.io/trace-collector: oc-collector.tracing:55678` - translates to `LINKERD2_PROXY_TRACE_COLLECTOR_SVC_ADDR ` for the proxy.
- `config.experimental.linkerd.io/trace-collector-service-account: d

[2019-09-24 18:16] grampelberg commented on #3255
The scope of this issue is to take:

[code]

and produce:

[code]

[2019-09-24 18:16] adleong commented on #3468
yes, I think so

[2019-09-24 18:18] adleong commented on #3468
So far I've been testing by using manual injection and editing the output to add:

[code]

[2019-09-25 02:28] #3346 closed

[2019-09-25 03:07] AlienResidents opened #3473 "GKE private cluster documentation update"
## Bug Report

### What is the issue?
The documentation for GKE private clusters needs updating to reflect tap port from the apiserver to the nodes.

### How can it be reproduced?
Create a GKE private cluster, install linkerd, and run `kubectl apiservices`.  You'll see that the AVAILABLE value is `False (FailedDiscoveryCheck)`.

Add the appropriate firewall rules, and run `kubectl apiservices` aga

[2019-09-25 04:01] ekapratama93 commented on #3165
Our usecase is little different. For example request contains header `Version: 1` will be routed to `app-v1` and `Version: 2` will be routed to `app-v2`.

This will make the uri little cleaner because we don't need to need version number in request uri.

[2019-09-25 06:27] jasonscz opened #3474 "java service add service profile ，but is doesn't work as my expect"
k8s

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:32:14Z", GoVersion:"go1.12.5", Comp
iler:"gc", Platform:"linux/amd64"}Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean",

[2019-09-25 13:54] Pac23 commented on #3224
can i take this as per slack discussion ?

[2019-09-25 14:22] mayankshah1607 commented on #3255
I am trying to append the annotations as such :
`conf.workload.Meta.Annotations[k] = v`

But I keep getting an error that says
`panic: assignment to entry in nil map [recovered]
	panic: assignment to entry in nil map`

I cant figure out why I am getting this error. The map `Annotations` has been initialized under `Meta` which is of type ObjectMeta struct

[2019-09-25 15:04] grampelberg commented on #3224
Go for it!

[2019-09-25 15:49] #3453 closed

[2019-09-25 16:40] hasheddan commented on #3462
Happy to take this one!

[2019-09-25 17:00] mayankshah1607 commented on #3255
I have appended the annotations to the config as follows :
`conf.Workload.Meta = &metav1.ObjectMeta{Annotations: map[string]string{k: v}}`
I have even added Namespaces as an injectable object under `getFreshWorkloadObj()`

However, `injectedJSON` gives me an uninjected object. On further debugging, conf.GetPatch() gives me an empty array.
`conf` with the appended annotations is not converting to a

[2019-09-25 17:09] grampelberg commented on #3462
That'd be amazing!

[2019-09-25 17:11] grampelberg commented on #3255
I'd recommend putting up a draft PR with a comment where you're looking for help. It is pretty tough to help out without seeing all the code.

[2019-09-25 17:16] ihcsim commented on #3474
@jasonscz Can you post the YAML output by `cat swagger.yaml |linkerd -n icdss profile --open-api - client`? Also, are there any traffic flowing through the endpoints? `linkerd tap` should be able to provide some insights.

[2019-09-25 18:49] alpeb opened #3477 "Create integration test for `linkerd edges`"
Just a minimal test comparing against some predefined output, to make sure the command is working.

[2019-09-25 18:50] alpeb opened #3478 "Create integration test for `linkerd endpoints`"
Just a minimal test comparing against some predefined output, to make sure the command is working.

[2019-09-25 20:08] #2935 closed

[2019-09-25 20:08] #2936 closed

[2019-09-25 20:33] bmcstdio commented on #3343
I'd like to take on this one, even though I have very limited time at hand! If that is OK, I think I can find my way around! :)

[2019-09-25 20:45] grampelberg commented on #3343
This'd be great for that! There's a question in my mind around RBAC and access to read that specific secret.

[2019-09-25 20:53] #3386 closed

[2019-09-25 20:58] bmcstdio commented on #3343
Exactly - what should the behaviour be in case the user running `linkerd check --pre` doesn't have enough perms? Should the test fail (or maybe be skipped)?

[2019-09-25 21:06] grampelberg commented on #3343
As most clusters have escalation protection right now, the user will need that RBAC to even install linkerd. It might be sufficient to just order the check after the RBAC checks (though I suspect they're missing this right now).

If the current user doesn't have enough perms, the check should definitely fail.

[2019-09-25 21:45] cpretzer commented on #3388
@michalschott I've taken the steps below to reproduce the behavior that you outlined in this issue.

The TL;DR is that the behavior is a symptom of how the instances are shutdown as part of the AWS Auto Scaling Groups [lifecycle](https://docs.aws.amazon.com/en_pv/autoscaling/ec2/userguide/AutoScalingGroupLifecycle.html). In short, autoscaling the cluster does not include gracefully shutting down t

[2019-09-25 23:54] #3400 closed

[2019-09-26 00:53] olix0r opened #3480 "Flakey test: TestInjectAutoNamespaceOverrideAnnotations"
This test appears to fail spuriously:

[code]

[2019-09-26 04:53] cpretzer commented on #3379
thanks @christianhuening I've run a test using the _emojivoto_ application and scaled up to 3100 pods.

I see the `CrashLoopBackOff` from _Prometheus_, but the `linkerd-controller` instances appear to be stable and there are no restarts.

Are you using the `linkerd-cni` plugin? If so, I'll run another test with that.

[2019-09-26 05:27] christianhuening commented on #3379
no, we're not yet using linkerd-cni plugin, but if you could test that anyways we would be graceful since we are interested in trying it out ;-)
Can these load-tests be added to an automated pipeline for each release? That would be awesome.

[2019-09-26 06:39] mayankshah1607 commented on #3255
I have oped a PR #3482 with all the necessary comments :)

[2019-09-26 14:41] olix0r commented on #3379
I totally agree that we need to verify scale between releases. It's going to be tricky to automate this, though, because it means we need a k8s cluster hanging around that we trust to be stable at 3K pods, and we don't. However, it seems more likely that, as we make changes the prometheus scrape config, especially, that we ensure we have a very detailed understanding of how new metrics scale.

i.e

[2019-09-26 15:28] grampelberg commented on #3379
@christianhuening if you happened to know someone would could donate a cluster of that size to the project for testing .... I'm sure we'd appreciate it!

[2019-09-26 15:48] christianhuening commented on #3379
@grampelberg good point ;-) Of course that's problematic and sadly I don't know anyone. Only possibility could be the official CNCF cluster, but I have no idea whether one can use that to run a 3000 pod test.

[2019-09-26 16:49] cpretzer commented on #3474
Thanks for the update @jasonscz, glad you got it sorted out

[2019-09-26 18:15] scottcarol opened #3483 "New Dashboard Sidebar: Polish and Mobile Behavior"
#3467 redesigned the dashboard to minimize load on Prometheus.

Now that it has been merged, there are follow-up improvements that can be made:

* **Tests**: Add namespace change and rerouting to JS unit tests
* **Mobile**: Add sidebar behavior from [grampelberg mockups](https://github.com/grampelberg/linkerd2-mockups)
    * when in desktop view, sidebar is alongside content and cannot be minimize

[2019-09-26 19:11] michalschott commented on #3388
@cpretzer so to avoid any race conditions, we're shutting down workers first and after 15 mins master node goes down as well.

For spinning up, we have similar approach - bring master first then wait 15 mins before spinning up any workers.

[2019-09-26 19:38] cpretzer commented on #3388
@michalschott I tested that scenario as well and it's good that you're thinking about staggering shutdown and startup of the master and worker nodes. From a Kubernetes perspective, I don't think that this is sufficient to address potential race conditions, because the ASG is shutting down the operating system, but not gracefully shutting down the kubernetes clusters by tainting the nodes.

I think

[2019-09-26 19:57] grampelberg opened #3487 "Tracing configuration"
### What problem are you trying to solve?

There are a couple different ways to configure tracing with competing concerns. This issue strives to make each piece explicit.

#### Control Plane

[code]

This should:

- Configure each control plane component (eg `linkerd-web`).
- Set `config.linkerd.io/trace-collector` for each proxy used by the control plane.
- Set `-sampling-probability=1` for each

[2019-09-26 20:04] olix0r commented on #3487
What do you think about distinguishing them as:

`linkerd [install|upgrade] --control-plane-trace-collector` and `linkerd inject --proxy-trace-collector`?

Since these flags configure different things, I don't think they should have identical names, especially because many of the install-time flags configure defaults for inject. I also think it would then be suitable to support `--proxy-trace-coll

[2019-09-26 20:05] olix0r commented on #3487
Also note that the control-plane setting should be persisted in the config flags so upgrade uses them by default as well. How does one disable a control plane trace collector once it's been configured?

[2019-09-26 20:15] grampelberg commented on #3487
+1, updating the issue to reflect that.

From a contextual perspective, I still prefer `--trace-collector` here.

I'm really, really hesitant to do this one right now because it will require figuring out how to disable it on a per-pod basis. From a reasoning perspective, I much prefer opt-in instead of conditional opt-in/opt-out.

`linkerd upgrade --control-plane-trace-collector=''` makes sense bu

[2019-09-26 20:48] cpretzer commented on #3379
@christianhuening if you find a cluster let us know :)

With regard to this issue, my testing methodology involved slowly scaling up the pods over a period of a few hours.

In the scenario where you saw this behavior, can you tell me what the pod lifecycle profile was like in the environment? I'd like to know:
- Were pods being added and removed at the same? I'm specifically looking for pod lifecy

[2019-09-26 20:53] cpretzer commented on #3388
Removing this from P0 because AWS ASG shutdown lifecycle behavior isn't terminating the cluster in a way that workloads expect it to, possibly leaving the cluster in a bad state.

[2019-09-26 20:59] scottcarol commented on #3483
@grampelberg, @alpeb discovered interesting behavior now that a user can navigate to `/namespaces/_all`.

The floating Network Graph displays all namespace networks and then the graphs eventually float off the page. I'll go ahead and remove the Network Graph display for `/namespaces/_all` unless you have a different preference.

<img width="344" alt="Screen Shot 2019-09-26 at 1 51 43 PM" src="http

[2019-09-26 20:59] scottcarol commented on #3011
still relevant

[2019-09-26 23:07] #3472 closed

[2019-09-27 06:03] bmcstdio commented on #3343
@grampelberg cool! I think #3488, if not the whole thing, is at least a starting point for this.

[2019-09-27 07:34] drholmie commented on #3459
Hey there! Is anyone working on this? I'm interested in helping out.

[2019-09-27 11:20] pietervogelaar opened #3489 "Improve helm 3 support"
## Bug Report

### What is the issue?
The page https://linkerd.io/2/tasks/install-helm/ describes how to install linkerd with Helm 2. However Helm 3 doesn't have a `--set-file` parameter. Installing with Helm 3 work if the content of the generated certificates is put in a `values.yaml` file.

However with scripting it would be easier to pass the certificates to Helm with the `--set` parameter. The

[2019-09-27 12:41] svenwltr commented on #3441
Hello,

I am in the same team as @bjoernhaeuser.

The connection issue just appeared again. As suggested, restarting all Linkerd controllers fixed the problem.

Nevertheless, letting a connection silently die and not logging anything doesn't sound quite resilient to me. Is this somehow an expected behavior, or is this just hard to fix currently?

Also, we do not know how to properly debug the apis

[2019-09-27 14:26] zaharidichev commented on #3263
## CNI proxy life cycle

### The current state of things
We currently use a CNI plug-in which is essentially a daemon set that installs a CNI binary that gets called every time a pod is created. This plug-in is currently responsible for setting the IP tables rules that are needed to pass traffic through the proxy. This effectively removes the need for init containers. It does not however remove th

[2019-09-27 15:19] alpeb commented on #3489
Thanks @pietervogelaar , this is a great point. Indeed, I haven't seen any initiatives in the Helm project regarding support for `--set-file` in v3 for now, so we'll have to work around it.
I think we might be able to manage this easily with an extra filter in the helm templates. Will keep you posted.

[2019-09-27 16:13] ihcsim commented on #3468
With edge-19.9.3, Helm users can enable tracing by running:
[code]
Notice that I have to specify the namespace of the service account, as there isn't a way to derive it from the service name. I think this is a detail we can add to the Linkerd Helm documentation.

[2019-09-27 16:41] grampelberg commented on #3263
That's a fantastic writeup @zaharidichev. I'm going to close this issue out for now, given the added complexity and lack of users asking for this specifically. We can revisit in the future depending on what's happening with k8s itself.

[2019-09-27 16:41] #3263 closed

[2019-09-27 17:36] #2851 closed

[2019-09-27 17:43] cpretzer commented on #3441
@svenwltr @bjoernhaeuser I'm working to reproduce this and will let you know my findings. I hope to be able to reproduce it in a time period shorter than days.

Is there any chance you have an estimate of the number of times that the deployments were restarted? Also, how many replicas of the restarted deployment are you running?

[2019-09-27 18:38] bmcstdio commented on #3454
@ihcsim I'd be happy to take on this one, but I am certainly missing something: why, then, isn't `--cluster-domain` part of `installOnlyFlagSet`?

[2019-09-27 18:54] ihcsim commented on #3454
@bmcstdio IIRC, `installOnlyFlagSet` doesn't get persisted in the `linkerd-config` config map. If you run `kubectl -n linkerd describe cm linkerd-config`, you will see there is an `Install` JSON blob in the config map. (It's empty by default.) That captures all the flags and their values we want to persist during `linkerd upgrade`. It will be worth confirming if `installOnlyFlagSet` does get persi

[2019-09-27 20:21] alpeb commented on #3480
That results from a `kubectl wait` command that timed out. Currently the timeout is set at 30s. When this happens, the cluster is not cleaned-up, so one can look what's going on. Instead of increasing that timeout, I suggest that when this happens again, this ticket gets updated with a link to the failed CI run. I'll then check that ASAP.

[2019-09-27 21:05] olix0r opened #3493 "proxy: Set grpc-status when failing grpc requests"
The proxy emits 5XX errors in a number of cases (such as when a request's dispatch timeout is exhausted). However, this is very confusing for grpc clients, who receive errors such as:
[code]

It seems like it should be possible for us to set an appropriate grpc-status/message on responses when failing requests that include the appropriate content-type? This should make it much easier to debug thes

[2019-09-27 23:16] wmorgan commented on #3459
@drholmie I think it's all yours!

[2019-09-28 02:18] prasanthj commented on #3207
This is also useful for several p2p headless services use cases that talk directly to peer pods for quorum (zookeeper, cassandra) or stateful workloads (services talking to thrift based services).

[2019-09-28 22:21] michalschott commented on #3388
@cpretzer Did some scaling activities with watch attached and I can see indeed various races in there. I still think these retries could be handled better, maybe some liveness probes tweaks?

[2019-09-29 03:05] sfxworks opened #3494 "Check script fails it can't detect a PSP with NET_ADMIN,NET_RAW"
## Bug Report

### What is the issue?

I am using IPVs on my cluster instead of IPTables.

When running pre-check, I get the following warning with reference documentation saying I need this before continuing. However, upon deployment and testing, everything works okay. This precheck section even reports ok afterwords.

### How can it be reproduced?
Deploy a kubeadm cluster with the following conf

[2019-09-29 03:39] sfxworks commented on #3494
Update from their slack:
[code]

Seems to be related specifically to the checking of NET_ADMIN and NET_RAW for PSP related events instead of IPVS vs IPtables.

[2019-09-29 16:54] #3262 closed

[2019-09-29 22:39] #2883 closed

[2019-09-30 09:23] bmcstdio commented on #3454
@ihcsim I understand. I've opened #3496 as an attempt at implementing this.

[2019-09-30 15:02] KIVagant opened #3497 "Random errors: x509: certificate signed by unknown authority"
## Bug Report

### What is the issue?

I don't understand all details, but periodically I see the error in different places but Linkerd works in general. The error appears randomly. Pods restarting helps to solve it but I don't think it's a good workaround.

[code]

### How can it be reproduced?

### Logs, error output, etc

[code]

I didn't find any other errors in other L5d pods.

[code]
#### `l

[2019-09-30 15:09] alpeb commented on #3454
I believe the right approach is indeed to move `--cluster-domain` into the `installOnlyFlagSet`, which will remove it from the `linkerd upgrade -h` list and will have the CLI rightfully err when the user attempts to use the flag during upgrade. The flag won't get included into the `install` section of the linkerd-config ConfigMap, but it is still included into the `global` section, which is where

[2019-09-30 15:44] sachinkundu opened #3498 "When calling a service using K8s injected service host and port env vars fails to register an edge"
## Bug Report

### What is the issue?

I have an endpoint in serviceB which in turn calls serviceA and returns the response back. That works fine. I have an ingress route for that endpoint. When I check
```linkerd edges po -n dev```
I see an entry for ingress and serviceB but nothing for serviceB to serviceA.

### How can it be reproduced?
My code for calling serviceA from serviceB is as follows
[

[2019-09-30 16:25] ihcsim commented on #3497
@KIVagant IIRC, you installed Linkerd using the Helm templates, right? Did you override the Tap TLS cert and key in your `values.yaml`? If yes, how was the cert generated?

I also wonder if this verification error is caused by clock skew on your servers. Can you confirm? Do you have `ntpd` etc. installed on your server?

[2019-09-30 16:50] alpeb opened #3499 "Remove Discovery service as Destination has taken its place"
Followup to #2990 in which we refactored `linkerd endpoints` to consume `Destination.Get` instead of `Discovery.Endpoints`. That was the last client for the discovery service, and now that service finds itself doing nothing. We should clean up everything related to the old Discovery service.

[2019-09-30 17:42] scottcarol commented on #2998
I still think this could be a good improvement!

[2019-09-30 17:48] alpeb commented on #3023
Superseded by #3499

[2019-09-30 17:48] #3023 closed

[2019-09-30 18:04] KIVagant commented on #3497
There are still the same certs that were generated in https://github.com/linkerd/linkerd2/issues/3414#issuecomment-530268377 taking into account this issue https://github.com/linkerd/website/issues/516

When the problem with extra newlines was solved, L5d works well, but randomly we start getting the `TLS handshake error`

That's a nice point. I will try to check this tomorrow (UTC+3).

[2019-09-30 18:52] ihcsim opened #3501 "Enable CLI to output proxy config annotations"
Update the CLI to generate docs for the proxy config annotations. This should replace the current manual way of updating the proxy configuration documentation. The list of `config.linkerd.io` annotations can be found in `pkg/k8s/labels.go`.

Open questions:

1. Shall we implement this as a new flag? E.g.,

* `linkerd doc --config`
* `linkerd doc --proxy-config`
* `linkerd config doc # if we are go

[2019-09-30 19:31] grampelberg commented on #2746
This is tied up in the authz work now that identity is a first class citizen.

[2019-09-30 19:42] grampelberg commented on #2998
I've got a POC empty state table in the mockups =)

[2019-09-30 19:45] alpeb commented on #3489
@pietervogelaar Good news: `--set-file` will be supported in Helm v3 after all: helm/helm#6248, so I'm closing this issue.

[2019-09-30 19:45] #3489 closed

[2019-09-30 19:49] grampelberg commented on #3497
This is referring to an APIService which uses a certificate that is part of the resource configuration (`caBundle`) on the server side and a configmap from `kube-system` on the client side (`extension-apiserver-authentication`). Are you doing any kind of certificate rotation?

The fact that restarting the pod fixes it leads me to believe that `extension-apiserver-authentication` is being updated.

[2019-09-30 19:52] grampelberg commented on #3501
Any downsides I'm not thinking of WRT updating `linkerd doc` output itself and nesting a `cli` and `annotation` section? Feels like the easiest as this is all just for internal usage anyways.

[2019-09-30 20:55] jamesallen-vol commented on #3441
I'm running in GKE with a cluster running 382 pods on version 1.12.8-gke.10. LinkerD is running in HA and I'm seeing that at random intervals of a few hours to 10 days I will start getting 503s originating from one of my backend services. There are 3 services that communicate via http calls (Services A, B, C). Service A is a public facing API and makes calls back to services B and C. When the even

[2019-09-30 20:55] ihcsim commented on #3501
My initial thought on re-using the same `linkerd doc` command is that it will require us having to figure out where the separator between the CLI and annotation sections is. Also, the annotation partial is in HTML.

Taking a closer look at the partial, I think there is only [one line](https://github.com/linkerd/website/blob/9cfd31faf1c71d0ad76135b7340ee9925c7771cb/linkerd.io/layouts/partials/cli/a

[2019-09-30 21:03] grampelberg commented on #3312
Note: it is probably worth using smi-metrics where it can be used and expanding the spec where it isn't usable instead of creating a new one-off APIService.

[2019-09-30 21:34] #2468 closed

[2019-09-30 21:45] grampelberg commented on #3498
Thank you, we've got some upcoming work that I think will help out a lot on the debugging side of things.

[2019-09-30 22:44] grampelberg commented on #3501
It is super easy to just use the data stuff in hugo to do the rendering like `{{ $labels: .... }}`. I was proposing something like:

[code]

[2019-09-30 23:19] ihcsim commented on #3501
ah.. cool. That works :+1:! Maybe I can investigate a bit to see if we can get to something like:
[code]

[2019-09-30 23:35] wmorgan commented on #2883
Do we think this was fixed in a later release, or....?

[2019-10-01 04:32] cpretzer commented on #3441
@jamesallen-vol I've been looking through the logs that you sent and haven't found anything conclusive yet.

The before and after restart output from the metrics server looks to be promising. I hope to find a metric count in there that will show us what may have consumed the memory.

Do you have any other details around what occurred at the time that the controller failed? So far, my attempts to r

[2019-10-01 05:10] ihcsim commented on #3441
@jamesallen-vol @cpretzer This sounds like a different problem. Shall we create a separate issue for this? We can explore further there. In particular, I'm interested in knowing when the 503s happen, did the readiness/liveness probes of Service A, B and C and/or their proxies start failing? What does the step increase in the `destination`'s memory usage look like (i.e. maybe the pod is still healt

[2019-10-01 05:20] drholmie commented on #3459
Awesome. Thanks for the go ahead!

[2019-10-01 05:41] ihcsim commented on #3441
@svenwltr I notice that you are running k8s on custom environment on CoreOS. Do you have access to the api server logs (via `journalctl` perhaps)? Also curious if you are running any custom CNI, overlay network etc.?

Can you give the new [RC](https://github.com/linkerd/linkerd2/releases/tag/edge-19.9.5) a try?

The `linkerd endpoints` command maybe able to help with debugging this.

[2019-10-01 08:02] JohannesEH commented on #3305
I had a similar issue today where our cluster crashed and stayed in a degraded state until I got my head around what was happening. Note we are also running on AKS.

So the scenario was as follows. Last night kured restarted one of our nodes due to security patches being installed on the machine. Unfortunately this node was running tunnelfront and so when tunnelfront went down the admission contro

[2019-10-01 08:06] JohannesEH commented on #3305
Note MS support told me that it isn't possible to run multiple replicas of tunnelfront. 😞

[2019-10-01 08:08] JohannesEH commented on #3305
An alternative solution could be to make an opt-in MWC where you only run it on namepsaces tagged with some linkerd specific tag. This would be way more safe in production setups.

[2019-10-01 09:09] svenwltr commented on #3441
Sorry for the late response @cpretzer.

This is quite hard to estimate, but it looks like there were roughly 15 pods in total while having 3 replicas.

We have access to the apiserver logs, but the logs from the last failure are already gone. We are using flannel as overlay network, but we do not see any issue with other services.

We will try to reproduce the issue more reliably, first. Otherwise

[2019-10-01 10:26] JohannesEH commented on #3305
@ihcsim could you exclude stuff with kubernetes.io/cluster-service: true from the MWC?

[2019-10-01 15:06] pietervogelaar opened #3504 "Option to skip load balancing on ingress proxies"
## Feature Request
Option to skip load balancing on ingress proxies.

### What problem are you trying to solve?
I have Ambassador running as ingress controller and Linkerd as service mesh. To make it possible that Ambassador can communicate mTLS with services in the Kubernetes cluster, the Ambassador pods must also be meshed (get a linkerd sidecar proxy injected).

Ambassador has several load bala

[2019-10-01 15:19] ihcsim commented on #3305
@JohannesEH https://github.com/linkerd/linkerd2/pull/3460 might be what you're looking for. Basically, just label your `kube-system` namespace with `config.linkerd.io/admission-webhooks:disabled`, to make sure all the Linkerd webhooks don't get in the way in scenarios you just described. LMK if that works.

[2019-10-01 15:31] alpeb commented on #3201
I just wanted to point out that this works as of k8s 1.15, when admission controllers reinvocation was introduced.

[2019-10-01 15:32] ihcsim opened #3505 "Update 'check' command to validate HA"
Following https://github.com/linkerd/linkerd2/issues/3305#issuecomment-525033155, we'll like to update the `linkerd check` command to validate the properties of HA control planes, such as:

1. The control plane components (except, for `web`, `grafana` and `prometheus`) should have more than one replicas.
1. The replicated pods should be scheduled on different hosts.
1. The MWC and VWC's `FailurePo

[2019-10-01 15:33] #3305 closed

[2019-10-01 15:33] jamesmmchugh opened #3506 "Tap not returning any data, missing content-type header in logs"
## Bug Report

### What is the issue?

Using the tap CLI (or via dashboard) seems to return no data for any deployment.
For example when running:

`linkerd -n linkerd tap deploy/linkerd-controller`

The process just sits there and does not print anything. This is the same for deployments in the default namespace also.

Everything else seems to work as expected.

### How can it be reproduced?

`lin

[2019-10-01 15:35] alpeb commented on #3367
The changes in our Helm repo aren't being picked up by the Helm hub. I've opened helm/hub#160 to ask about it.

[2019-10-01 15:44] grampelberg commented on #3497
@KIVagant the certificate in question isn't part of the trust chain at all. `ca.pem` in `linkerd-tap-tls` should match `caBundle` in `apiservice/v1alpha1.tap.linkerd.io`. I still think `extension-apiserver-authentication` is being rotated by the api-server though.

[2019-10-01 15:51] bjoernhaeuser commented on #3441
We just had the problem again. `linkerd endpoints` always delivered the correct results. (tested controller, api, and the deployments itself)

[2019-10-01 15:53] grampelberg commented on #3505
Let's check to make sure the `kube-system` namespace has the skip annotation as well.

[2019-10-01 16:00] grampelberg commented on #3441
When this happens, before restarting, can you get a snapshot of the metrics?

[code]

That'll give a ton of visibility into what's happening there. `linkerd endpoints` being correct suggests that it isn't a stale connection to the api-server.

[2019-10-01 16:01] svenwltr commented on #3441
Also I do not see anything related in the apiserver logs at this time.

Nevertheless the logs are full of these messages:

[code]

and

[code]

Not sure whether this is related, but they appear continuously.

[2019-10-01 16:11] grampelberg commented on #3441
@svenwltr that should be benign and unrelated. Those are from the `APIService` that the api-server uses to forward requests to `tap`. The k8s folks haven't published *what* that API expects and so we've been slowly filling out what it should be.

[2019-10-01 16:27] ihcsim commented on #3505
Actually, IIRC, in order to support multi-stage installation, the `linkerd check` currently doesn't check for cluster-scoped resources, because the user running the command may not have the RBAC permissions. So checking for MWC/VWC's `FailurePolicy` and `kube-system` label won't work here.

[2019-10-01 16:37] grampelberg commented on #3505
I think it is fine to do a `warning` that says we were unable to check because of RBAC.

[2019-10-01 16:54] #2912 closed

[2019-10-01 18:04] yeya24 commented on #3288
Is this issue already been fixed?
[code]

[2019-10-01 18:08] siggy commented on #3288
@yeya24 We still occasionally see OOM's despite setting `GOGC`. There are a few more things we can do. I see some activity on https://github.com/golangci/golangci-lint/issues/337, so it's possible a simple upgrade can help. We should also look at `GOOPTS`, similar to Prometheus: https://github.com/prometheus/prometheus/blob/abdcbda82a62f2a7ebffe428b90e2d1e41e0fa06/.circleci/config.yml#L23-L24

Is

[2019-10-01 18:38] scottcarol commented on #3483
@grampelberg Just checked out your updated mockup repo. Is the new build process to navigate to `/linkerd2-mockups` and run `hugo serve -s sidebar`?

When I run that, I get the below site - it has the mobile behavior we discussed before, but I can't click on additional views, see breadcrumbs, etc., that I can see referenced in the mockup files.

![Screen Shot 2019-10-01 at 11 32 05 AM](https://use

[2019-10-01 18:48] grampelberg commented on #3483
I'm experimenting with getting rid of the breadcrumb entirely. The reasoning is that the breadcrumb and header feels pretty repetitive in every treatment I've given it so far. As the sidebar does a better job of showing where you are now, it feels like we can just get rid of that.

I moved over to hugo so that there can be separate pages, there's one under `Deployments` right now that lets you get

[2019-10-01 19:06] olix0r commented on #3035
`linkerd tap -o json` now displays header information! We should consider how this can be leveraged in other commands that use Tap internally.

[2019-10-01 19:14] scottcarol commented on #3483
Agree that the breadcrumbs are no longer important as links. But I still like the green horizontal bar!

Having a green horizontal bar span the full top of the browser window shows the user they're looking at Linkerd content. Otherwise it looks like we're pulling in an unrelated window and could be confusing if folks have lots of windows open.

What about, for the top-level workload list pages, di

[2019-10-01 19:44] yeya24 commented on #3288
@siggy  Maybe we can try to add this option like Prometheus team does

[2019-10-01 19:48] grampelberg commented on #3483
Those are some great points! I'm most unsure about the workload list pages right now. The sidebar does a good job of highlighting what you're looking at, but I've not actually put real data in to feel how much is missing.

On the detail page, Paul had a fantastic idea that I'm giving a try. If that doesn't work out, I think some kind of colored header will be required as the title without any visu

[2019-10-01 20:32] scottcarol commented on #3483
Great, I'm interested to see Paul's idea.

It looks like whatever happens, there will always be a sidebar that appears to the left of the main view, so I'll move forward with the mobile behavior in the mockups, and browser tests for the routing behavior.

[2019-10-01 20:34] grampelberg commented on #3483
Yup, I feel pretty good about the responsive stuff right now. If there's anything there that doesn't make sense make sure to ask!

[2019-10-01 20:46] #3477 closed

[2019-10-01 22:01] scottcarol commented on #2838
Hey @christianhuening, thanks again for creating this great issue earlier this year!

We've redesigned our dashboard sidebar as of `edge-19.9.4` and it has the namespace selector you requested. Have you had a chance to upgrade to [the latest edge release of Linkerd](https://linkerd.io/2/edge/)? We'd love to know if the dashboard is more useful to you now.

[2019-10-02 00:33] cpretzer commented on #3388
@michalschott tweaking the liveness and readiness probes is worth a try.

I'm still have concerns about the cluster nodes not being properly drained during the shutdown process. For a truly reliable system, I suggest looking in to the options I mentioned previously:

[2019-10-02 01:54] #1959 closed

[2019-10-02 04:30] christianhuening commented on #2838
@scottcarol yes, the UX has greatly improved, i am very pleased with the outcome! Thanks a lot!

[2019-10-02 12:33] joshuabezaleel commented on #3501
Hi @grampelberg @ihcsim , do you have any recommendation on where should I start looking if I am interested in this issue?
Thank you very much! :slightly_smiling_face:

[2019-10-02 15:41] jamesallen-vol commented on #3441
@cpretzer The jump in memory usage in the linkerd-controller pod appears to lead the 503s by a few minutes. How it currently appears is there will be a jump to above 400MB in combined memory usage across the linkerd-controller pods. when this happens the 503 errors from the backing service start occurring.
@ihcsim there are no failures for the readiness/liveness probes of Service A, B and C or the

[2019-10-02 16:24] b-ashley opened #3511 "Display service profile configuration in dashboard"
## Feature Request

Display per-route features and route configuration in the Linkerd dashboard.

### What problem are you trying to solve?

There’s no way to list all service profiles or view a specific configuration without using kubectl.

To solve this problem, there are three feature goals:

- A user should be able to view a list of all service profiles defined in the cluster in the dashboard

[2019-10-02 16:54] grampelberg commented on #3441
@jamesallen-vol see [my comment](https://github.com/linkerd/linkerd2/issues/3441#issuecomment-537105945) for what we could use next =)

[2019-10-02 16:56] ihcsim commented on #3501
@joshuabezaleel Thanks! Much appreciated! If you run the `linkerd doc` command, you will see that it returns a blob of YAML. We use this YAML to update our [CLI docs](https://linkerd.io/2/reference/cli/), by copying the content to this [`cli.yaml`](https://github.com/linkerd/website/tree/master/linkerd.io/data) file.
The code for the `linkerd doc` command is in `cli/cmd/doc.go`.

The goal of this

[2019-10-02 17:13] v2-dev-ci commented on #3441
@grampelberg For sure. I'll grab them again next time. I did pull those metrics from the controller during the last occurence and sent them to Charles.

[2019-10-02 17:14] jamesallen-vol commented on #3441
@grampelberg For sure. I'll grab them again the next time it happens. I did pull those metrics the last time and sent them to Charles.

[2019-10-02 17:36] olix0r opened #3514 "integration test: mTLS for unnamed HTTP services"
Write an integration test that ensures that a client proxy records the proper metrics (i.e. reflecting mutual identity, pod metadata) when a client application emits HTTP requests that have IP-address authorities.

We should test at least:
* Kubernetes Service IPs;
* Inividual pod IPs.

[2019-10-02 17:38] olix0r opened #3515 "integration test: mTLS for opaque TCP traffic"
Write an integration test that ensures that a client proxy records the proper metrics (i.e. reflecting mutual identity, pod metadata) when a client application makes an opaque TCP connection to a meshed server.

We should test at least:
* Kubernetes Service IPs;
* Individual pod IPs.

[2019-10-02 17:41] olix0r opened #3516 "integration test: external SNI detection"
Write an integration test that ensures that a client proxy records the proper metrics (i.e. reflecting non-proxy-terminated SNI names) when a client application makes an HTTPS request to a service that terminates TLS without Linkerd.

[2019-10-02 18:20] alpeb commented on #3478
Fixed in #3491

[2019-10-02 18:20] #3478 closed

[2019-10-02 18:26] olix0r opened #3517 "integration test: custom cluster domain"
Now that users can change the cluster domain, we should setup an integration test that executes all of the standard behavior for alternate cluster domains. (Does kind support custom cluster names?)

[2019-10-02 18:30] siggy commented on #3517
There's some pretty fine-grained kubeadm control via kind, check out:
https://kind.sigs.k8s.io/docs/user/quick-start#enable-feature-gates-in-your-cluster
https://raw.githubusercontent.com/kubernetes-sigs/kind/master/site/content/docs/user/kind-example-config.yaml

[2019-10-02 20:26] cpretzer commented on #3441
@jamesallen-vol I and a colleague looked at the logs that you sent over. Unfortunately, there's no obvious cause for the behavior in the log files.

I've been running a test for the last three days in an attempt to reproduce this behavior, and so far the `linkerd-controller` component has been stable.

I'd like to get some more information from you and @bjoernhaeuser about the kubernetes cluster.

[2019-10-02 20:43] cpretzer commented on #3441
@jamesallen-vol @bjoernhaeuser did you specify any options when you ran `linkerd install`? In my current test, I'm using the base installation, and I'd like to know how your installation is different than mine. Did you specify the `--ha` option?

[2019-10-02 20:55] jamesallen-vol commented on #3441
@cpretzer I used the `--ha` option on the install. There are no reconcilliation controllers like `flux` changing the state of the system. The only operator I'm currently using is a `prometheus-operator` The other apps are deployed via helm templates and use standard kubernetes objects.

[2019-10-02 21:48] grampelberg commented on #3506
This is a bug that occurs from how linkerd was installed. If you install with:

[code]

This will fail because the tap controller is expecting a different identity from what the proxies are serving.

As a workaround, you should install with:

[code]

Note: I've not tested the rest of the control plane operation, so there are no guarantees as to whether other things are broken when these two settin

[2019-10-02 21:49] grampelberg opened #3518 "Surface authz errors in tap"
## What problem are you trying to solve?

When there are errors between the tap controller and destination proxy, running `linkerd tap` produces no output.

### How should the problem be solved?

Inform the user that there are authz errors and that there is something broken in their cluster.

[2019-10-02 21:51] grampelberg commented on #3517
[code]

That's the snippet that'll do the cluster domain for you. It took me awhile to find [all the options](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2).

[2019-10-02 21:58] #2975 closed

[2019-10-03 09:01] jamesmmchugh opened #3520 "Selectable / configurable timewindow for Linkerd dashboard"
## Feature Request

### What problem are you trying to solve?
The linkerd dashboard shows near real-time data for most aggregated views (i.e. RPS, errors etc.). Some of this is also accessible as time series views via Granfana views, but other views such as dependency graphs etc. can not be configured to display the behaviour over a particular time window.

On some environments that don't see cons

[2019-10-03 13:06] zaharidichev commented on #3518
So @grampelberg I started working on that one. my idea is to wrap the TapEvent into an ADT. Something like TapData(TapEvent|TapError). This way any error stemming from the tap events acquisition logic can be propagated into the tap events stream without tearing down the stream and we can render one error for one pod, while successfully tapping the rest.

Problem is however that quite a lot of code

[2019-10-03 14:38] memory commented on #3035
\o/

[2019-10-03 15:00] dwoldemariam1 opened #3521 "Missing edge from nginx ingress controller pod to GRPC backend"
## Bug Report

### What is the issue?
I am using nginx ingress controller to allow external traffic into my cluster. When I run the command `linkerd edges po`, I see the edges from the nginx ingress controller pods to my internal services for all services that accept http1 traffic. However, the edges to the services using GRPC are do not appear on the list.

This doesn't seem to affect the traffic

[2019-10-03 15:02] alpeb commented on #3367
The changes were finally picked up. Closing this issue.

[2019-10-03 15:02] #3367 closed

[2019-10-03 15:08] grampelberg commented on #3521
Tested with:

[code]

You'll want to check [emojivoto](https://github.com/BuoyantIO/emojivoto/) out for the proto and run:

[code]

For verification that it works for http/1 traffic, use `curl` against the web service.

Here's how I'm installing `nginx`:

[code]

[2019-10-03 17:35] grampelberg commented on #3520
This would be great. There would need to be some kind of integration with prometheus to understand how far back the window can actually be set (as only 6 hours of data are currently preserved).

[2019-10-03 17:44] grampelberg commented on #3518
@adleong and @siggy probably have a better idea on the API side of things.

[2019-10-03 17:49] olix0r commented on #3518
So, I am pretty sure that this is going to require proxy changes (that I am currently [blocking](https://github.com/linkerd/linkerd2-proxy/pull/368) to return an Unauthorized grpc-status (rather than closing the whole connection).

I think I am -1 on exposing any of this in the Tap API. It's not clear to me, though, where or how this error should be surfaced.

[2019-10-03 17:54] olix0r commented on #3518
@olix0r Nope, I'm totally wrong. It looks like the tap server properly returns unauthenticated grpc-status messages. No proxy changes should be necessary.

[2019-10-03 18:01] zaharidichev commented on #3518
@olix0r It does indeed https://github.com/linkerd/linkerd2-proxy/blob/master/src/app/tap.rs#L84. I can even see it in the logging.
I am a bit hesitant of exposing this on the tap api as well. But indeed if you tap on two separate pods , one of them might succeed and emit a stream of tap events while the other one can just fail due to some error (authorization for example), but there is nothing tha

[2019-10-03 18:07] olix0r commented on #3518
@zaharidichev you're right. there are two Tap APIs, and I initially misunderstood this to be in the context of the [proxy's API](https://github.com/linkerd/linkerd2-proxy-api).

However, I'm still not sure what the desired behavior is with regard to reporting/retrying/etc.  This seems like something that should definitely be emitted as errors in the tap controller's logs, and incremented as counte

[2019-10-03 18:09] zaharidichev commented on #3518
Yeah, I aggree certainly. I guess the immediate problem is that one can ultimatelly run a tap through the CLI on a pod that has auth problems and pretty much see nothing as no events are coming at all. Dont really see much of a way to change that without changing whats coming through the tap api. Will think about it.

[2019-10-03 18:15] olix0r commented on #3518
@zaharidichev I'm not sure I'm against the API change, for what it's worth... but it's probably helpful  to get clearer about the expected behavior when, for instance, you run `linkerd tap deploy/foo` on a deploy in which only some pods through unauthorized errors.  Or when they all emit unauthorized errors? What if other errors are encountered (like connection refused)?

Note, for instance, that

[2019-10-03 20:03] grampelberg commented on #3518
What about a summary when you first run `tap`?

[code]

[2019-10-03 21:08] grampelberg opened #3523 "Edges for TCP and out of mesh communication"
### What problem are you trying to solve?

I would like to know what communication has been encrypted (or not) at the TCP level for resources that are inside the mesh and outside the mesh. This will primarily be used to audit the state of my cluster and reason about what is happening with it.

### How should the problem be solved?

[code]

- `ip` is required for both src and dst
- `port` is requir

[2019-10-03 21:32] grampelberg commented on #3523
@olix0r ^^

[2019-10-03 21:44] olix0r commented on #3518
@grampelberg that feels a bit odd to me... how would that work with -o json? What happens if the deploy changes while it runs? (Consider that tap can work on namespaces, etc, and can run indefinitely long).

[2019-10-03 21:47] grampelberg commented on #3518
What happens to the tap when the deploy changes?

[2019-10-04 00:18] ereslibre commented on #3344
PR open: https://github.com/linkerd/linkerd2/pull/3524. Submitted for early feedback, have to address the lack of tests.

[2019-10-04 08:25] aaabramov commented on #2700
The same for circleci. Example output:
[code]

Fixed with piping to _cat_:
[code]

[2019-10-04 12:46] george-oakling opened #3525 "Port mismatch"
## Bug Report

### What is the issue?

APIService could not connect to tap pod on private clusters. As written in docs, we allowed traffic from 8443, but it didnt help as api service needs to connect to port 8089. We allowed port 8089 and it started working. This needs to be fixed in documentation.

[2019-10-04 14:35] geekmush opened #3526 "Missing node-selector template on destination.yaml in Helm chart"
## Bug Report

### What is the issue?
Missing node-selector template line in destination.yaml preventing destination pod from always going to a Linux node

### How can it be reproduced?
helm install linkerd

### Logs, error output, etc
kubectl shows the pod being created on a random node

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

#### `link

[2019-10-04 16:52] ihcsim commented on #3258
@olix0r That seems to be accurate. I re-ran my tests with edge-19.10.1, with Prometheus deployed to a 6 CPU and 56 RAM VM. A single namespace with high number of client-side load balancing got me to about 1400 pods. If I separate them into multiple namespaces, I was able to get it up to about 2000 pods. This is a cluster with 100 nodes, though that seems mostly irrelevant, since we are bounded by

[2019-10-04 17:01] ihcsim commented on #3258
As for the dashboard, a namespace with a large number of pods (in my case, 1400) can still be problematic on the namespace-specific page. It would trigger a high CPU usage on Prometheus, cascading failures to other open dashboards. As long as I don't bring up that particular namespace page, other pages seem to be working fine (although the `Namespaces` page can still be slow).

[2019-10-04 17:05] falcoriss commented on #3061
Feature request matches my thought exactly. It's a very cool feature that needs more space to readable when you have more than 3 services !

[2019-10-04 17:43] kleimkuhler commented on #3164
The tap controller does not try to tap a pod that has tap disabled. linkerd/linkerd2-proxy#295 tied the tap disabled annotation to the identity annotation, so the server can rely on this being set when checking if the pod should be tapped.

Communicating this back to the CLI is being discussed in #3518, but this issue should be closed.

[2019-10-04 17:43] #3164 closed

[2019-10-04 17:46] kleimkuhler commented on #3423
Fixed in #3434

[2019-10-04 17:46] #3423 closed

[2019-10-04 17:47] #3526 closed

[2019-10-04 18:21] memory opened #3528 ""live calls" view counts 4xx responses as success"
## Bug Report

### What is the issue?

In the "live calls" view for a deployment, it appears that the success rate calculation appears to not count 404 errors against the success rate.  This leads to the disconcerting effect of 10qps of 404 traffic being accounted as "100% successful"

### How can it be reproduced?

Send a large number of requests to a meshed service for a nonexistent path. :)

##

[2019-10-04 18:28] ihcsim commented on #3528
I can reproduce this by using an injected `curl` pod to curl a non-existent endpoint.

[code]

Success rate shows 100%:
![image](https://user-images.githubusercontent.com/1330522/66230756-b6a28600-e699-11e9-9a9b-01d93b9ee0de.png)

`tap` picks up 404 errors:
![image](https://user-images.githubusercontent.com/1330522/66230733-a5597980-e699-11e9-8989-db8d5c501f31.png)

[2019-10-04 23:08] grampelberg opened #3531 "cert-manager integration"
## What problem are you trying to solve?

While linkerd-proxy manages certificate rotation for the actual proxy certs, the core certificate used by the built-in CA (identity) is not managed today. In addition, it can be difficult to create your own external trust root and keys.

### How should the problem be solved?

Many k8s clusters today use [cert-manager](https://github.com/jetstack/cert-manag

[2019-10-04 23:13] jonrichards opened #3532 "Require valid mTLS for communication to containers in the pod"
## Feature Request

### What problem are you trying to solve?

Currently, the `linkerd2-proxy` will fall back to plaintext if communication requests are initiated via plaintext. While this is needed for metrics, liveliness checks, readiness checks, etc..., it also means containers that require callers to use secure communication only can be called via plaintext.

Additionally, if no cert or an inv

[2019-10-05 00:00] srv-twry commented on #3116
@grampelberg Hi, can I take this as my first issue?

[2019-10-05 04:39] wez470 commented on #2956
I'm looking for a first issue to do. Would it be okay for me to pick this up?

[2019-10-05 09:50] StupidScience commented on #3308
Any chances to get this in next release? It looks like blocker for us to use linkerd2

[2019-10-05 18:57] #2552 closed

[2019-10-05 19:09] hollinwilkins commented on #1981
Hey, wanted to add my 2 cents.

GKE in private mode has issues integrating with webhooks from a few projects due to the strict default firewall rules it comes with, see for cert-manager: https://www.revsys.com/tidbits/jetstackcert-manager-gke-private-clusters/

In order to get all of the webhooks working and proxying for Linkerd in my cluster, which includes linkerd and cert-manager, I create a fi

[2019-10-06 15:57] #2761 closed

[2019-10-06 16:03] srv-twry opened #3533 "CLI: typo in `Less` function in cmd/metrics.go"
The definition of function `Less` in the `cli/cmd/metrics.go` is as follows:
[code]
It looks like it's a typo in the line `s[i].pod < s[i].pod` and the correct definition should be(replace the second i with j)

[code]

[2019-10-06 16:54] wmorgan commented on #2956
@wez470 go for it. Since this is a few months old I would double-check that the issue still exists, first. And if you come up with a solution, I would propose it in this issue before jumping straight to a PR. There are several competing concerns when it comes to upgrade flow.

[2019-10-06 17:11] VineethReddy02 commented on #2734
I would like to work on this.

[2019-10-07 05:09] christianhuening commented on #3046
wontfix?

[2019-10-07 10:59] Pothulapati opened #3536 "Proxy Injector going crazy"
## Bug Report

### What is the issue?

The following yaml works fine, when deployed normally.
[code]

but now when I enable injection to the namespace, by adding
[code]

The proxy injector is going wild, and I'm seeing a lots and lots of those pods trying to be created. and the injection metrics are like
[code]
It finally kills my minikube cluster.

As without the inject annotation, it is working

[2019-10-07 14:31] srv-twry commented on #3116
@adleong @grampelberg  Hi,
I went through the source code of the `metrics` command of the CLI and I have a doubt regarding this issue.

The documentation of the command suggests that we can get the metrics from the linkerd-controller pod using
[code]

How is this different from the subcommand this issue suggests to implement?

[2019-10-07 15:29] grampelberg commented on #3308
@StupidScience it won't make the next stable (2.6) but it should be in the edge immediately after merging.

[2019-10-07 15:48] grampelberg commented on #2956
Definitely still a problem, we'd love your help @wez470 !

[2019-10-07 15:48] grampelberg commented on #2734
@VineethReddy02 go for it! Any pointers we can give to help out?

[2019-10-07 16:14] Pothulapati commented on #3536
Removing the linkerd control plane labels worked
[code]

[2019-10-07 16:17] grampelberg commented on #3044
Still a great issue, working towards being able to manage prometheus' authority and pass it through discovery correctly.

[2019-10-07 16:28] wmorgan commented on #3044
@aphistic how much pain and suffering is this causing you at the moment?

[2019-10-07 17:51] olix0r commented on #3532
I don't think such a simple policy would be feasible, as this would immediately break health/readiness probes, etc. AFAIK the proxy has no way to differentiate this traffic from other application traffic. I think we basically _have to_ target a policy spec (like that in SMI), rather than rely on pod annotations...

[2019-10-07 17:53] grampelberg commented on #3116
@srv-twry different metrics endpoints. `linkerd metrics` gets the *proxy* prometheus metrics but does not currently get the *controller* metrics. Each controller process also exports its own prometheus metrics and should be part of the `linkerd metrics` output.

[2019-10-07 18:18] ihcsim opened #3537 "2.7 control plane upgrade causes 503 errors in the data plane"
After upgrading the stable-2.5 control plane to the latest RC, the injected services started to show 503 errors. This is the result of a recent work to migrate the `destination` container into its own `Deployment`. While restarting all the pods in the data plane (so that the proxies picked up the new spec) resolve the problem, this may not be feasible for large cluster. A workaround may require us

[2019-10-07 18:37] adleong commented on #3537
In the above PR, the `linkerd-destination` service changed so that it now points to the dedicated linkerd-destination deployment rather than the linkerd-controller-api deployment.  This is fine except for the fact that the `linkerd-destination` pods run under a different service account (`linkerd-destionation` rather than `linkerd-controller`) which breaks old proxies which are expecting the `link

[2019-10-07 18:40] grampelberg commented on #3116
This shouldn't be lumped into the `metrics` command and instead should be its own. As the `metrics` command can hit both control plane *and* data plane proxies, this should be scoped just to control plane data. My proposal:

[code]

This would dump the metrics for the entire control plane's containers at once (not the proxies) with a comment before each section that explains where the metrics are

[2019-10-07 18:44] adleong commented on #3537
@ihcsim what do you think about this:

Running two copies of the `linkerd-destination` deployment:

1.
Deployment: `linkerd-destionation`
Service: `linkerd-destination`
Service Account: `linkerd-controller`
Old proxies use the `linkerd-destination` service and connect to a pod in this deployment, which runs in the `linkerd-controller` service account, which is what the proxy expects.

2.
Deploymen

[2019-10-07 18:45] grampelberg commented on #3536
@Pothulapati should this get closed out? As we don't support multi-control plane installations, this behavior isn't entirely surprising.

[2019-10-07 18:46] adleong commented on #3537
I believe this would require the following changes:

* Modify the install templates to run 2 copies of the destination controller as described above
* Modify the injector to configure proxies to connect to the new `linkerd-dst` service for discovery and to expect the new `linkerd-dst` service account

[2019-10-07 18:48] Pothulapati commented on #3536
Yeah, This can be closed out.

[2019-10-07 18:48] #3536 closed

[2019-10-07 19:39] Pothulapati commented on #3537
In that case, We would also want `public-api`, to talk to the corresponding new destination as per https://github.com/linkerd/linkerd2/pull/3476

[2019-10-07 19:43] hollinwilkins opened #3538 "SplitTraffic UI looks cluttered and unclear"
## Feature Request

When creating SplitTraffic resources (in this case for Canary deploys w/ Flagger), all services that are split get added to the "Overview" UI for deployments. I have attached a screenshot to illustrate this point.

In this case, we are looking at 3 services:
1. crasample
2. sesamestreet
3. sesamestreet-frontend

sesamestreet-frontend talks to sesamestreet, while crasample is en

[2019-10-07 19:50] grampelberg commented on #3538
What version are you running? This sounds a lot like #3465.

[2019-10-07 19:54] adleong commented on #3537
@Pothulapati yup, great point

[2019-10-07 21:10] grampelberg commented on #3528
@memory a 404 is a success because the server is actually handling it correctly (you wouldn't want to retry on a 4xx for example).

[2019-10-07 21:14] memory commented on #3528
I mean that's fair, but I think it points out a weakness in the "success" UI calculation: I think I'd want to know if 90% of my traffic was 404 errors!  (In the case that lead to me filing this bug...it was.)

[2019-10-07 21:30] grampelberg commented on #3528
It'd be easy to show classification by error class (2xx, 3xx, 4xx, 5xx). That'll only work for HTTP/1 though. Maybe just group errors in general?

[2019-10-07 21:46] memory commented on #3528
Yeah, a breakdown by major error type was what I was hazily envisioning, although it's a fair point that won't map to all protocols.  Separate columns just for "success %" vs "error %" would be fine although people might need some explanation about why they could add up to >100% :)

[2019-10-08 00:20] #2997 closed

[2019-10-08 00:20] #2999 closed

[2019-10-08 00:55] aphistic commented on #3044
None at the moment, this was only being used on my personal cluster for stuff at home and I was trying to figure out if I was misunderstanding how linkerd works or not.  That cluster changes at my whim, though, so it doesn't matter. :)

[2019-10-08 12:47] zaharidichev commented on #3531
@grampelberg @ihcsim
So I read through all resources I could find and just wanted to make sure I understand the essence of it all. So pretty much what needs to happen is the following:

**We assume that we have:**
Cert manager installed and setup to manage the root cert. As a result of that we end up with a secret in the following form that gets periodically updated with the certificates that cert

[2019-10-08 14:59] yanngit opened #3542 "Weird Linkerd DNS requests"
## Bug Report
I'm running Linkerd2 2.5 on a k8s cluster using coreDNS. I just activated the logs for the DNS and I can see some weird DNS resolution like : `2019-10-08T14:41:05.132Z [INFO] 10.233.80.59:50173 - 55550 "A IN linkerd-prometheus.linkerd.svc.cluster.local.svc.cluster.local. udp 80 false 512" NXDOMAIN qr,rd,ra 173 0.000132038s
`
### What is the issue?
Seems like linkerd components are tr

[2019-10-08 15:21] grampelberg commented on #3531
I'm hoping we can just monitor the FS and let k8s do all this for us. I'm unclear on what will need to be updated with the proxy env vars, we should definitely double check that.

I think this also suggests that we'll want a couple new `check` commands that are similar to what is happening in #3524 .

This is the one I'm most concerned about, I'm wondering if it makes sense to move over to cert-ma

[2019-10-08 15:24] grampelberg commented on #3542
Linkerd canonicalizes every `:authority` to normalize the data. This is the proxy doing that and will happen for all your application workloads as well.

Can you turn the logging down on CoreDNS?

[2019-10-08 16:55] ihcsim commented on #3531
How about if we just [`watch`](https://godoc.org/k8s.io/client-go/kubernetes/typed/core/v1#SecretInterface) the `linkerd-identity-issuer` secret?

Eventually, the trust anchor will expire. For users who provided their own trust anchor (e.g. Helm users), they will have to manage that themselves. For other existing installation, I don't know how feasible it is to add some automated cert rotation fun

[2019-10-08 17:04] grampelberg commented on #3531
My point is that is what a k8s secret does, it'll get synced automatically to every pod it is mounted in. We just need to watch the FS and load on changes.

We basically used to do this. We moved away from it because:

- As a distributed system, you have no guarantees on what syncs where. This introduces a lot of edge cases that are hard to reason about with which proxies can talk to which others.

[2019-10-08 17:11] adleong opened #3543 "Remove the destination container from the controller pod (again)"
#3268 describes removing the destination container out of the controller pod.  This was implemented in #3407.  However, in order to facilitate graceful upgrade, we added the destination container back into the controller in #3540 in addition to keeping the dedicated destination deployment.  This allows proxies to gracefully upgrade from using the destination container in the controller to the dest

[2019-10-08 17:49] #3537 closed

[2019-10-08 18:09] ihcsim opened #3544 "Add integration test to ensure backward compatible upgrade"
Following https://github.com/linkerd/linkerd2/issues/3537, we should update the `upgrade` integration test to check the application's health and success rates, to ensure that the newer version of the control plane doesn't break the data plane. To ensure zero downtime upgrade, the application should remain healthy before and after its restart.

[2019-10-08 23:44] wmorgan commented on #3046
Still a good idea 😀

[2019-10-09 05:08] ihcsim opened #3548 "RFC: Integration With Cert Manager"
# Introduction
[Linkerd](https://linkerd.io) is a lightweight service mesh for Kubernetes, which provides zero-config, automatic mTLS between meshed workloads. The `identity` component serves as the service mesh's [Certificate Authority (CA)](https://en.wikipedia.org/wiki/Certificate_authority). It's responsible for handling [Certificate Signing Request (CSR)](https://en.wikipedia.org/wiki/Certifi

[2019-10-09 08:07] yanngit commented on #3542
As you said it'a happening for all various workload in the application ... I can turn the logging down of course. But is it an expected behavior ? Taking a look at the configuration in the sidecar proxies everything seems fine ...

[2019-10-09 08:21] rhengstermann opened #3550 "Linkerd 2.5.0 - controller keeps restarting with calico cni"
## Bug Report
I've deployed Linkerd stable-2.5.0 to a local vagrant cluster (1x master, 2x worker) with kubernetes 1.16.1.

I'm using calico as a cluster cni and the experimental linkerd-cni. So deployment of linkerd was done with:

[code]

### What is the issue?

1. Linkerd controller, public-api and tab are not starting
2. Linkerd check is in a not ready state

### How can it be reproduced?
- se

[2019-10-09 11:25] rhengstermann commented on #3550
I already tried the suggestions from #2970 (apart from the special image, as my version is different) without luck.
Seems to be a similar but different problem as for me the initial installation does not suceed.

[2019-10-09 12:34] falcoriss opened #3551 "linkerd dashboard can't connect to linkerd web when node is lost"
## Bug Report

### What is the issue?
linkerd is trying to connect to a pod attached to lost node

### How can it be reproduced?
scale linkerd-web to 2 replicas then crash the node on which 1 pod is. The pod will switch to unknown and k8s will reschedule the pod on another node but the dashboard will keep trying to reach this one.

### Logs, error output, etc

[code]

[code]

#### `linkerd check`

[2019-10-09 12:49] rhengstermann commented on #3550
I just tried the latest edge build (edge-19.10.1) and the installation works.

[2019-10-09 12:49] #3550 closed

[2019-10-09 14:59] olix0r commented on #3548
For what it's worth, I have a strong aversion to providing any recommendations about how to configure/use `openssl`. It's probably suitable for testing, but I would prefer to recommend `cfssl` or `smallstep` for any user-facing documentation.

[2019-10-09 15:25] grampelberg commented on #3550
`stable-2.5.0` doesn't support k8s 1.16 as they did an API removal. Glad it is working for you!

[2019-10-09 15:29] grampelberg commented on #3551
`linkerd dashboard` does a port forward to the `linkerd-web` service. Internally client-go just uses the service to look up a single pod and forwards all traffic to that. If a pod dies, `dashboard` (and `port-forward`) would need be restarted.

Did it just stop working entirely or did it start working again on restart?

[2019-10-09 16:01] grampelberg commented on #3548
Technically, the trust anchor and issuer cert/key would be in the same secret, right?

[2019-10-09 16:04] ihcsim commented on #3551
@falcoriss The tl;dr (https://github.com/kubernetes/kubernetes/issues/15180#issuecomment-457311160) is that even when we issue a port forward call to a service, behind the scene it's still only using a single pod. AFAIK, that behaviour hasn't changed recently.

[2019-10-09 16:18] ihcsim commented on #3548
@grampelberg I thought, before install, the ca issuer needs to refer to the trust anchor as a separate secret, before it can generate the `linkerd-identity-issuer` secret.

[2019-10-09 16:24] grampelberg commented on #3548
@ihcsim you're right, if they're using the CA issuer instead of something like vault. It feels like that piece is out of scope for us though as there are so many ways you could configure that setup. I think I just was confused as to what *our* API is (eg `linkerd-identity-issuer`) vs what the user needed to do to get cert-manager doing its thing.

[2019-10-09 16:40] ihcsim commented on #3548
Yeah, all the prerequisites outlined above should be fulfilled by the user. Our API is the `linkerd-identity-issuer` secret and the trust anchor file. The trust anchor has to be provided during install (via the existing `--identity-trust-anchors-file` option), because it's needed by the proxy and the `linkerd-config` config map. Re issuers like vault, if the user has a way to provide the trust anc

[2019-10-09 16:43] grampelberg commented on #3548
I was kinda hoping we'd just pull it out of the `linkerd-identity-issuer` secret.

[2019-10-09 17:54] ihcsim commented on #3548
That will require install to fetch the secret though. I thought we don't want any secrets to leave the cluster. If there is a way around that, I'm totally up for reducing the amount of manual setup a user has to do.

[2019-10-09 20:01] cpretzer commented on #3441
@jamesallen-vol I've been working to reproduce this, but haven't seen the exact behavior. What I have seen is that a node occasionally fails and goes in to a `NotReady` state, and the description of the node indicates that the kubelet is not reporting metrics about the node.

Unfortunately, I can't get access to the kubelet logs on this EKS cluster, so I'm going to tear it down and create a new cl

[2019-10-09 21:48] #3004 closed

[2019-10-09 22:13] ihcsim commented on #3548
My thinking is that in the `external` mode, we will issue an error if `--identity-issuer-certificate-file` and
`--identity-issuer-key-file` are provided. Instead of requiring the user to specify `manual`, can we just implicitly infer that's what the user wants, based on the presence of the `--identity-issuer-certificate-file` and `--identity-issuer-key-file` options (which is what the current code

[2019-10-09 22:25] grampelberg commented on #3548
Is there a way to fetch only a part of a secret? Honestly, it is no worse than what we have today by fetching.

We can, but how does a user reason about `--identity-issuer-mode=auto` when they pass certs in? Honestly, the ideal situation would be to use a boolean that is more specific `--identity-already-exists` or something like that.

[2019-10-09 23:18] ihcsim commented on #3548
Per slack convo, we will go with `--identity-external-issuer=[true|false]`. I agree that boolean seems to be the clearest.

[2019-10-10 05:54] ihcsim opened #3556 "Extend the CLI to support cert-manager CA issuer"
To enable cert-manager to manage the `linkerd-identity-issuer` secret, a new CLI option needs to be added to the `install` command to omit the YAML of the `linkerd-identity-issuer` secret.

This issue adds a new flag named `--identity-external-issuer` to the `install` command:

|      |    values
| -----------------------  | ----------------------------
| Name                    |  `--identity-ext

[2019-10-10 05:56] ihcsim opened #3557 "Auto-update the identity service's issuer key/cert pair"
The `identity` component should be updated to watch for changes to its issuer key/cert pairs located at the default location of `/var/run/linkerd/identity/issuer`. When these assets are changed, the identity component should ensure that the new certificate:

1. Hasn't or about to expire
1. Remains valid with the trust anchor

And then reload them without needing a re-deployment.

[2019-10-10 06:07] ihcsim commented on #3556
@zaharidichev I'm assigning this to you, since you already started #3552.

[2019-10-10 09:49] zaharidichev commented on #3556
So I looked a bit into that and I cant see a way to partially fetch just selected keys from a secret's data while omitting the rest. Are we completely against the option of fetching the whole secret? I mean, after all we check for its existence beforehand, which is either a `get` or a `list` call, which means that the content of the secret will be transferred to anyway, If we are willing to use th

[2019-10-10 10:42] nickjackson commented on #3441
I also have an identical issue to this.

I restarted the `linkerd-controller` pods (which fixed the issue) before seeing [this comment](https://github.com/linkerd/linkerd2/issues/3441#issuecomment-537105945), but I will do this when it happens again.

Not sure what else I can offer that hasn't already been said, but happy to help where I can. I could probably give access to the cluster if that hel

[2019-10-10 14:07] zaharidichev commented on #3557
@ihcsim Already started digging into that, so you can assign it to me as well

[2019-10-10 16:50] cpretzer commented on #3441
@nickjackson thanks for helping to get to to the bottom of this.

How often does this occur?

Does `flux` manage your linkerd deployments?

[2019-10-10 17:18] grampelberg opened #3558 "kubeconfig using server paths does not work with tap"
### What is the issue?

Given a kubeconfig with `clusters[0].cluster.server = https://localhost:8443/k8s/clusters/c-c6rsk`, `linkerd tap` always fails with a 404. The URL being fetched is `/apis/tap.linkerd.io/v1alpha1/namespaces/default/deployments/tap` and should be `/k8s/clusters/c-c6rsk/apis/tap.linkerd.io/v1alpha1/namespaces/default/deployments/tap`

### How can it be reproduced?

Stand up a

[2019-10-10 17:31] grampelberg commented on #3556
I'm good with fetching the whole secret as it is no worse than what we're doing today.

This will only work for the control plane as secrets are namespace scoped. Feels like this is okay as most will go through the proxy-injector. What about `inject --manual`? We definitely don't want everyone adding linkerd to their workload having read access to the identity secret.

[2019-10-10 17:47] ihcsim commented on #3558
fwiw, I remember helping a user with a similar problem. `kubectl proxy` won't work if `clusters[0].cluster.server = https://<hostname>:<port>/<some-path>` where `<some-path>` needs to be prepended to `/apis/tap.linkerd.io/v1alpha1/namespaces/foo`. An issue was raised at https://github.com/kubernetes/kubectl/issues/715, as it didn't look like a Linkerd issue.

[2019-10-10 17:48] grampelberg commented on #3558
It definitely works for APIServices and `kubectl` (at least 1.16) as that's how I figured out how it was broken to begin with.

[2019-10-10 17:55] nickjackson commented on #3441
@cpretzer no problem.

Hard to say how often it occurs. Every few days something will start 503'ing, even without any deploys. Its a development cluster, so it's only got minimal traffic on it.

I'm not convinced the issue is tied to deployments, but when we do deploy, the issue becomes apparent, probably because the proxies have out of date IP's. When I `kubectl exec` into an affected pod, and tr

[2019-10-10 17:56] ihcsim commented on #3556
The proxy spec is shared between the control plane components and user's workloads. I'm not a fan of rendering different proxy YAML for the control plane and user data plane.

Yeah, if we want to do a pre-install check either with the `install` or `check --pre` command, we will need to do a `GET` somehow. So far, fetching the secret through the API will always result in decrypted content being ret

[2019-10-10 18:07] pietervogelaar commented on #3558
A possible related problem. I have Rancher v2.2.8 and installed a default Kubernetes cluster with Rancher.

With helm 3, I installed linkerd2 `edge-19.9.4`. Installation works great. After running `helm upgrade --install` I get:

[code]

However after this, it never works again. Every time I execute `helm upgrade --install` I get:
[code]

[2019-10-10 19:02] zaharidichev commented on #3556
Yeah, very good points. Thanks for bringing these up!

[2019-10-10 22:44] ihcsim opened #3559 "Upgrade using --from-manifest option causes APIService error"
When upgrade is performed with the `--from-manifest` option, the command failed with the following error:

[code]

~It looks like the `apiextensions` client lib needs to be updated from [`v1beta1` to `v1`](https://github.com/linkerd/linkerd2/blob/1039d82547388f361160b419e30d0b6b2051dc36/pkg/k8s/fake.go#L151). When I attempted to fix this, go mod upgraded other k8s serializer-related packages, whic

[2019-10-11 06:59] ihcsim commented on #3559
I believe the reason why some users encountered this error is because the [doc](https://linkerd.io/2/tasks/upgrade/#upgrading-via-manifests) instructed them to dump the entire control plane YAML into the manifest file:
[code]
From the same doc, this probably makes more sense, and probably won't trigger the error:
[code]

[2019-10-11 11:58] george-oakling opened #3561 "Helm chart 2.5 disappeared?"
Hi, I was using happily Linkerd2 2.5 helm chart. Now I want to simulate upgrade from 2.5 to 2.6 locally, but helm says `chart "linkerd2" matching version "2.5.0" not found in linkerd index.` Can you add the helm chart back on track, pls?

[2019-10-11 12:02] stefanprodan opened #3562 "Traffic split shows no stats when filtered by namespace"
## Bug Report

### What is the issue?
Traffic split shows no metrics in dashboard or with `linkerd stat ts -n some-ns` while `linkerd stat ts --all-namespaces` does.

### How can it be reproduced?

Create a traffic split and generate some traffic.

### Logs, error output, etc

<img width="1173" alt="Screenshot 2019-10-11 at 14 58 37" src="https://user-images.githubusercontent.com/3797675/66649824-

[2019-10-11 12:40] yanngit commented on #3112
I'm also having these warnings ... any guess about what is could be ?

[2019-10-11 13:14] jurgengrech opened #3563 "All linkerd components in Init:CrashLoopBackOff"
Having below issue with all linkerd components, after circa 48hrs from pod creation.

Environment:
kubernetes: GitVersion:"v1.13.2"
docker package: docker-1.13.1-103.git7f2769b.el7.centos.x86_64

linkerd version
Client version: edge-19.10.1
Server version: edge-19.10.1

Kubernetes running on virtual machines in Google Cloud Platform, with host OS: CentOS Linux release 7.6.1810 (Core)

[code]
Snipp

[2019-10-11 15:16] scottcarol commented on #3562
Hey @stefanprodan thanks for filing this issue (and for your work on Flagger 👍)

I am trying to replicate this on my own machine using `stable-2.6.0` and am able to show traffic split stats by individual namespace and using `--all-namespaces`:

[code]

Let me try a few more setups. Would you mind sharing your yaml for your `podinfo` trafficsplit you created in the `test-linkerd` namespace?

[2019-10-11 15:17] george-oakling commented on #3561
Perfect :) according to `helm search linkerd/linkerd2 --versions` it works. Thanks very much for quick response :)

[2019-10-11 15:24] scottcarol commented on #3562
Also checking, were you able to upgrade using the `stable-2.6` [upgrade docs)](https://linkerd.io/2/tasks/upgrade/#upgrade-notice-stable-2-6-0) including [upgrading the data plane](https://linkerd.io/2/tasks/upgrade/#upgrade-the-data-plane)?

[2019-10-11 15:38] grampelberg commented on #3112
@yanngit Are you using resource requests for your workloads?

[2019-10-11 15:38] grampelberg commented on #3563
I assume you're using `linkerd-cni`?

[2019-10-11 20:19] scottcarol commented on #3562
Hey @stefanprodan, I was able to go through the Flagger canary deployment docs for Linkerd - I got it working with Linkerd 19.9.4, then upgraded to stable 2.6 using the [upgrade docs](https://linkerd.io/2/tasks/upgrade/#upgrade-notice-stable-2-6-0) and successfully triggered a canary deployment. Let me know if you are able to try it again and tell us what you find.

![Screen Shot 2019-10-11 at 1 1

[2019-10-13 12:51] jeffreyfriedman opened #3566 "build-cli-bin fails with invalid pseudo-version: does not match version-control timestamp"
## Bug Report
After a new git clone, attempting to execute `bin/build-cli-bin` fails.

### What is the issue?
A dependency appears to have an invalid timestamp compared to the tagged version.

### How can it be reproduced?

Clone the repo, then execute `bin/build-cli-bin`.  May require Go 1.13.1 to reproduce.

### Logs, error output, etc

[code]

#### `linkerd check` output

[code]

### Environmen

[2019-10-13 15:40] mayankshah1607 commented on #3505
Hi, @grampelberg @ihcsim !
I'd like to work on this issue. Where can I start from?

[2019-10-13 15:46] mayankshah1607 commented on #3255
Now that I have opened a PR with a fix for this, I was wondering if I could update the documentation for the same. Shall I open an issue for this on the website repo?

[2019-10-13 17:35] cpretzer opened #3567 "Add annotations for proxy environment variables"
## Feature Request
Provide annotations for all proxy environment variables.

When the linkerd proxy yaml is added to the pod, there are several environment variables defined which configure the proxy behavior. An example of the yaml for an injected pod is in this [gist](https://gist.github.com/cpretzer/67ba0bd59d8a2fb980cad1802c55fd53).

Admittedly, these environment variables have sensible defaul

[2019-10-13 19:12] brennerm commented on #2646
Not sure if this issue is still valid. The dashboard has changed quite a bit til April and from what I see the metrics update correctly when switching namespaces.

[2019-10-13 22:09] #2994 closed

[2019-10-14 13:50] nickjackson commented on #3441
Thought you should know that I upgraded to `2.6` and am seeing this issue still. :-(

This time it happened to an nginx ingress pod, and we noticed because we deployed a new frontend service, and a 3rd of requests started 503ing. Restarting the linkerd controller fixed the issue.

I've captured the metrics from the linkerd-controller (before restart), along with the logs on that nginx pod.  I've s

[2019-10-14 13:58] cpretzer commented on #3441
Thanks @nickjackson, I'll look through the info you provided and let you know what I find.

Are you using service profiles in your injected deployments?

[2019-10-14 13:59] nickjackson commented on #3441
I've not got around to that yet. Would that help you out if I did?

[2019-10-14 14:02] cpretzer commented on #3441
No, but thank you for offering.

I ask because someone else experiencing similar behavior was using service profiles and removing them appeared to resolve the issue

[2019-10-14 14:13] srv-twry commented on #3566
Hi @jeffreyfriedman, I recently faced the same issue as well. I was using `go 1.13`. I can confirm that the issue was the use of version `1.13`. Installing version `1.12.9` resolved it.

Your additional context is spot on. Go `1.13` does version validations on transitive dependencies as well.

Basically, the project's `go.mod` file declares a dependency on `k8s.io/apimachinery v0.0.0-2019061220582

[2019-10-14 14:44] srv-twry opened #3570 "Build: Linkerd install fails if the username contains an underscore"
## Bug Report
I have been trying to setup Linkerd for local development on my Arch Linux machine following the [comprehensive development configuration](https://github.com/linkerd/linkerd2/blob/master/BUILD.md#comprehensive).

According to the guide building the docker images using `DOCKER_TRACE=1 bin/mkube bin/docker-build` runs fine.
However, on attempting to install Linkerd using `bin/linkerd i

[2019-10-14 15:13] jurgengrech commented on #3563
No, I am using projectcalico's canal.

[2019-10-14 15:17] grampelberg commented on #3563
Please share the full pod yaml, how you installed k8s and the full install command that you used for `linkerd`.

[2019-10-14 15:52] grampelberg commented on #3505
@mayankshah1607 the list @ihcsim has is pretty good, you'll want to:

1. Lookup whether the control plane was installed with `--ha`.
1. Introduce a new section in check for HA.
1. Add each line from the description as a separate check.

[2019-10-14 15:52] grampelberg commented on #3255
That would be great!

[2019-10-14 15:54] grampelberg commented on #3567
I feel a little uncomfortable making most of these configurable. They're internal and I'd rather not support modifying them moving forward.

[2019-10-14 15:55] grampelberg commented on #2646
The new sidebar really helps out here, good call!

[2019-10-14 15:55] #2646 closed

[2019-10-14 16:46] StupidScience opened #3571 "No CLI Reference link in the sidebar on docs site"
## Bug Report

### What is the issue?
There is no CLI Reference link in the sidebar on [docs site](https://linkerd.io/2/reference/).

### Screenshot
![image](https://user-images.githubusercontent.com/32177073/66768382-1fb8a380-eebb-11e9-95eb-bcdca0f39b49.png)

[2019-10-14 16:55] olix0r commented on #3567
I'm -1 on this as well, I think. This makes this configuration part of a public API that I don't intend to maintain as a stable API. If we were to support something like this, I think we'd want being able to configure _arbitrary_ environment for the proxy... though I think that has a number of potential problems as well (how should that interact with other injector-set variables, for instance?)

[2019-10-14 17:53] geekmush opened #3573 "Dashboard may need shift-reload in order to display"
## Bug Report

### What is the issue?
Dashboard (in Chrome) coming up with a blank screen.

### How can it be reproduced?
Attaching to dashboard via `linkerd dashboard` and get a blank screen (in Chrome).

### Logs, error output, etc
Blank browser window!

#### `linkerd check` output

(all green)

### Environment

- Kubernetes Version: 1.14.6
- Cluster Environment: AKS
- Host OS: Chrome on MacOS M

[2019-10-14 18:26] scottcarol commented on #3573
Hey @geekmush, thanks for filing this issue! We've heard this from other users too - question, were you using Linkerd before 2.6, and if so, which version were you upgrading from?

[2019-10-14 18:32] grampelberg commented on #3441
@nickjackson where does your cluster live?

[2019-10-14 18:35] nickjackson commented on #3441
DigitalOcean's Kubernetes offering. LON1.

[2019-10-14 18:54] scottcarol commented on #3573
Note: we previously added a hash to the webpack bundle name when webpack builds (#2058) so this may be a separate issue. Any console errors would be helpful too.

[2019-10-14 18:59] geekmush commented on #3573
We've been on Linkerd since 2.4 ... this was a fresh install, however ...
albeit, that same browser session had already opened a dashboard prior
(restarting Chrome is an adventure for me, so that's why I use FireFox for
a lot of short-term viewing ... I should have in this case).

I even did a full delete of linkerd and fresh install again ...
definitely browser cache issue.

The shift-reload fixe

[2019-10-14 19:04] scottcarol commented on #3573
Thank you, super helpful!

[2019-10-14 20:39] geekmush opened #3574 ""linkerd check --proxy" takes loooooong time to complete with pods in Init or Pending"
## Bug Report

### What is the issue?

Running `linkerd check --proxy` when there are pods in `Init or Pending` causes the check to take an inordinate amount of time (long timeouts?)

### How can it be reproduced?

Have a pod in Initializing or Pending status and run a `linkerd check --proxy' ... and when it gets to the last stage of `data plane and cli versions match`, it will show an error for t

[2019-10-14 23:55] StrongMonkey opened #3576 "Linkerd-proxy expose in-flight requests"
## Feature Request

Right now `linkerd-proxy` will expose metrics under `/metrics` api. There is no metric like in-flight request in the metrics it currently exposes.

### What problem are you trying to solve?

We are trying to implement an autoscaling solution based on in-flight request.

### How should the problem be solved?

Adding in-flight metrics to `/metrics` api.

If you could point me the

[2019-10-14 23:56] wmorgan commented on #3035
Is there anything else to this issue or can we close it?

[2019-10-15 00:00] wmorgan commented on #2876
We have a draft doc describing one approach here. Comments appreciated. https://docs.google.com/document/d/1yDdd5nC348oNibvFAbxOwHL1dpFAEucpNuox1zcsOFg/edit#

[2019-10-15 00:04] zackangelo commented on #3165
We would also like to be able to re-route traffic by header, although I'm most interested in this capability being supported in the destination API and proxy.

I think this would let us build a drop in replacement for our linkerd 1.x setup which does routing based on path (e.g., discover endpoints based off of grpc service name). FWIW, we aren't concerned about this being SMI-supported.

I think t

[2019-10-15 00:28] adleong commented on #3487
If control plane tracing is intended as a debugging tool for Linkerd developers, what do you think of having the `--control-plane-trace` flag:
* Add jaeger and the oc-collector manifests to the install
* Use a fixed service name rather than accepting it as a flag parameter

This makes the tool much easier to use, and we don't need the flexibility of supporting other tracing setups.

[2019-10-15 01:00] scottcarol opened #3577 "Octopus Graph Polish"
As raised in #3047, there are a few issues with the octopus graphs if there are multiple nodes displayed:

- Vertical positioning of arrows is not consistent when there are multiple nodes in the graph (see #3047 for screenshot)
- The octopus graph can only display 6 nodes, with an additional box for "overflow nodes". The styling, sizing and positioning of the "overflow node box" (as discussed in a

[2019-10-15 01:13] olix0r commented on #3035
@wmorgan headers are only exposed in the raw JSON output of `linkerd tap`. It seems likely it could be useful in other views that consume tap (like the web ui), top, etc

[2019-10-15 01:33] #2376 closed

[2019-10-15 02:04] Sandyman commented on #1165
Will there be an update of this for the stable-2.6.0 version, because some things seems different?

Better yet: will this (arm support) at some point become an official part of linkerd?

[2019-10-15 03:34] cpretzer commented on #3567
@grampelberg @olix0r Thanks for the feedback on this. I take your points.

Reading into your responses, the takeaway is that folks who find themselves needing to manage advanced configuration options today should rely on `linkerd inject --manual` for their deployments that require a more granular level of control.

[2019-10-15 04:04] ihcsim opened #3578 "Evaluate additional cert-manager scenarios"
As part of our integration effort with cert-manager, we should test out the following scenarios, to have a better understanding of how things work:

1. What happens if user manually rotates the `linkerd-identity-isuer` secret generated by cert-manager? Will cert-manager still work when it tries to rotate the cert?
1. Can cert-manager perform on-demand cert rotation such as in the event of a breach

[2019-10-15 07:37] sayboras opened #3580 "Unable to compile from master branch"
## Bug Report

### What is the issue?
I am unable to comiple from master branch due to below issue

go: github.com/deislabs/smi-sdk-go@v0.0.0-20190610232231-f281e2121a16 requires
	k8s.io/apimachinery@v0.0.0-20181127105237-2b1284ed4c93: invalid pseudo-version: does not match version-control timestamp (2018-11-27T02:52:37Z)

### How can it be reproduced?
Run go mod tidy from project direction.

./bi

[2019-10-15 07:57] zaharidichev commented on #3578
cert-manager actually watches the secret and whenever it is modified in any way it rotates the certs itself. So in order for manual rotation to happen, the user needs to actually stop cert-manager and manually rotate `linkerd-identity-isuer`.

Yes, you can just delete the  `linkerd-identity-isuer` and cert-manager will recreate ir right away with new certs. The identity service will pick up this u

[2019-10-15 11:18] falcoriss commented on #3551
it stopped working entirely, the "linkerd dashboard" command would never be able to connect to the healthy replica, it would keep trying the unknown one on the lost node

[2019-10-15 12:04] svenwltr commented on #3441
@grampelberg The service just failed again and we were able to get some metrics. The broken one is the `blue-order-silo`: https://gist.github.com/svenwltr/8e806e8c27758485def1b9ae348becb1

[2019-10-15 15:37] kevingbb commented on #2822
It would be great to be able to leverage linkerd custom metrics such as rps, success rate and latency without having to install a custom metrics adapter like k9s-prometheus-adapter for example.

The additional challenge I foresee in this is the fact that there can only be a single custom metrics adapter per k8s installation. So if the prometheus adapter has been installed already, or something lik

[2019-10-15 15:45] grampelberg commented on #3574
By default, `check` waits for all the components to be up and ready. This is by design so that folks who are getting started get a chance to see everything come up instead of erroring immediately.

In this instance, it sounds like you'd like to just make sure the proxies that are running are operating correctly? What exactly are you checking for? Does `--wait 1` work?

[2019-10-15 15:54] grampelberg commented on #1165
@Sandyman we'd love a contribution to get arm64 as a supported platform for Linkerd. The biggest blocker so far has been getting access to hardware that can be integrated into the CI pipeline. As this will be a pretty big contribution, please reach out to us on slack in #contributors first so that we can get a plan together.

[2019-10-15 16:20] #3499 closed

[2019-10-15 16:26] aliariff commented on #1165
@grampelberg why the hardware required? Can we just do cross-compile?
I was trying to create a PR for the support it a few months ago, but it is no longer relevant and needs to be adjusted.
Ref: https://github.com/linkerd/linkerd2/pull/3115/files

[2019-10-15 16:34] Pothulapati commented on #3468
I'm taking this up,

The plan is to have, `linkerd inject --proxy-collector-svc-address --proxy-collector-svc-account` flags add relevant annotations to the workloads.

[2019-10-15 16:36] grampelberg opened #3582 "Tracing Control Plane Installation"
### What problem are you trying to solve?

Now that tracing support has landed in the proxies and is soon to land in the control plane (#3539), there should be an easy way for users to install the tracing components required to see everything working (collector, backend).

### How should the problem be solved?

### Open Questions

### Out of scope

- This should be a *demo* installation with minim

[2019-10-15 16:38] grampelberg commented on #1165
@aliariff to be supported, we'll want to make sure that integration tests run.

[2019-10-15 16:48] geekmush commented on #3574
That might work ... I tried that but didn't realize I needed the time
denomination (i.e "1s") ... just figured that out.  I guess I thought it
would default to seconds.  My bad.   Only issue, in a script, I only see
"success" or "failure" ... so, I can't tell if it is working or have a "one
busted pod, but everything else good".

I'd still have to do some "smart things" to figure out if what is er

[2019-10-15 17:03] geekmush commented on #3574
Well, note to self ... markdown doesn't work via email, sorry!

Also wanted to add a note.  As we are attempting to implement linkerd in a Helm Operator environment, we will be running the various install/upgrade/check commands against a new or existing environment over and over and they need to run idempotently (or at least fail in a way that we can manage it).  This appears to be a new pattern b

[2019-10-15 17:07] Pothulapati commented on #3580
Hey, there's a similar issue mentioned in the linkerd slack. https://linkerd.slack.com/archives/CMS5ZD60Y/p1570879445023700

I guess using `1.12.9` solves this! I personally use `1.12.10`

[2019-10-15 17:08] grampelberg commented on #3487
I'd like to tackle this as part of #3582.

+1 from me, that's how #3539 ended up actually.

[2019-10-15 17:27] grampelberg commented on #3542
Were you able to turn the logging down? I'm going to close this out for now. If you feel like there's something we could do to help, please reopen!

[2019-10-15 17:27] #3542 closed

[2019-10-15 17:28] grampelberg commented on #3538
Closing out as a dup of #3465 for now, please reopen if that isn't the case.

[2019-10-15 17:28] #3538 closed

[2019-10-15 18:24] grampelberg commented on #3567
@cpretzer I think it comes down to public vs private APIs more than advanced configurations. It *should* be possible to still use, as long as it feels like an unsupported configuration. If `inject --manual` isn't the right solution to that, I'm totally up for other suggestions. A couple examples off the top of my head would be allowing `inject` helm chart modifications, json patches as annotations

[2019-10-15 18:27] adleong commented on #3441
What's surprising to me about this is that the `linkerd endpoints` command gives the correct results but restarting the pod (and thus the Linkerd proxy) does not fix the problem.  Both of those actions create a brand new watch on the destination service so it's very weird if they give different results.

I'm curious about the ip address that appears in the proxy logs, e.g. `No route to host (os er

[2019-10-15 18:33] #3344 closed

[2019-10-15 18:41] grampelberg commented on #2822
You're correct, there can only be one!

[2019-10-15 18:46] grampelberg commented on #3468
@Pothulapati let's try and match the annotations:

- `--trace-collector`
- `--trace-collector-service-account`

@adleong @ihcsim any good ideas on how to move the `config.alpha.linkerd.io` space forward to the CLI arguments?

[2019-10-15 18:55] grampelberg commented on #3574
It feels like this is more in scope for using the k8s API directly for your use cases than `check` specifically. From your use cases:

- broken/crashed pod - if the pod isn't coming up, it should be marked as failed. While it is possible that the proxy is operating okay, the combination might be what's crashing everything and still need eyes.
- pending/initializing pods - this feels like an error

[2019-10-15 19:02] zaharidichev commented on #2921
@grampelberg I think this is a long shot... The way I see it, `install-cni` is a completely separate step from `install`. One that has to be complete (for some definition of it) before we proceed to install ld5 components.  In fact I would argue that, it would even make more sense to have a pre-install check that explicitly makes sure that if installing with `--cni-enabled`, the cni plugin gas act

[2019-10-15 19:54] geekmush commented on #3574
So, the original idea was somewhere around here:  https://coreos.com/blog/introducing-operators.html

Since they were kind enough to publish a standard SDK (https://github.com/operator-framework/operator-sdk), there is naturally only 1 implementation of an operator ... just kidding, there's a zillion (https://github.com/operator-framework/awesome-operators).

We've decided to run with https://kopf

[2019-10-15 19:57] grampelberg commented on #2921
Hmm, I went and looked at how everything's wired up again. It is definitely more complicated to fold everything into a single `install` command than I anticipated. Let's revisit at a different time.

[2019-10-15 20:16] grampelberg commented on #3574
If it was scheduled and hasn't started, it should fail. Remember, `Pending` also counts if there's not enough resources on the cluster.

It still feels like the correct solution to this problem is using the readiness checks. You've got some custom logic for your environments that'll require a little bit more thought and code around it.

[2019-10-15 20:51] grampelberg commented on #3573
I've got my browser in this state right now. I'm getting a 404 on `http://localhost:50750/dist/main.2b8f9aeb515f7c29f134.js`. It appears that this is because `index_bundle.js` is cached and I'm getting a 304 back (which is where that javascript gets downloaded).

[2019-10-15 20:56] scottcarol commented on #3573
Thanks @grampelberg, that's helpful. @siggy and I talked about it this morning and the problem may be in how we're loading our hashed js bundles (#2074).

[2019-10-15 21:09] #3454 closed

[2019-10-15 21:21] #3533 closed

[2019-10-15 21:33] StupidScience commented on #3402
Hi @grampelberg.
I'd like to give it a try.
I've investigated a bit and it looks like it's possible to reuse some of `kubernetes-dashboard` packages for this feature.
Can you please help me to understand full scope of this task and maybe decompose it a bit.

As i can see:
1. Implement `Authorization` header usage;
2. Add some flag for installation (helm variable as well) so `linkerd-dashboard` wil

[2019-10-15 21:42] grampelberg commented on #3402
Sounds like the right list, just a couple comments:

This is already covered by `--restrict-dashboard-privileges`.

Let's leave this out of scope right now.

[2019-10-15 21:48] grampelberg commented on #3497
@KIVagant any new details?

[2019-10-15 21:52] grampelberg commented on #3449
Superseded by #3531.

[2019-10-15 21:52] #3449 closed

[2019-10-15 21:54] grampelberg commented on #3498
Tracked by #3444 .

[2019-10-15 21:54] #3498 closed

[2019-10-15 21:56] #3308 closed

[2019-10-15 22:12] grampelberg commented on #3402
@StupidScience I'd split this into at least a couple PRs as it'll take more than just implementing the header usage (you'll need to get impersonation working as well). You'll want to get a POC and short design together before doing any serious polishing.

[2019-10-15 22:15] grampelberg commented on #3188
Implemented.

[2019-10-15 22:15] #3188 closed

[2019-10-15 22:20] alpeb commented on #3531
We checked that in linkerd/website#490 ; the issue is k8s isn't currently able to generate intermediate certs :-(

[2019-10-15 22:24] #3158 closed

[2019-10-15 22:36] #3110 closed

[2019-10-15 22:48] grampelberg commented on #2799
I'm going to close this out. Because of k8s and how it handles things such as APIServices and admission-controllers, it is extremely difficult for there to be multiple control planes on a single cluster. For now, we'll be doing a single control plane per cluster and locking down the tenancy model via k8s RBAC.

[2019-10-15 22:48] #2799 closed

[2019-10-15 22:55] grampelberg opened #3584 "Implement CronJob view"
## What problem are you trying to solve?

The dashboard does not currently show CronJobs. There should be a section added to the dashboard for this as well as a corresponding grafana dashboard.

### How should the problem be solved?

TBD

[2019-10-15 22:56] grampelberg opened #3585 "Implement ReplicaSet dashboard"
## What problem are you trying to solve?

It should be possible to see replicasets as well as the deployments that own them. There should be a corresponding grafana dashboard.

### How should the problem be solved?

TBD

[2019-10-15 22:58] grampelberg opened #3586 "Ingress Dashboard"
### What problem are you trying to solve?

Visualizing data related to ingress resources (and ingress controllers) is important. This should be a dashboard.

### How should the problem be solved?

TBD

- Highlight missing configuration.
- Check for common controllers to be injected.
- Show stats.

[2019-10-15 22:59] grampelberg opened #3587 "ServiceAccount Dashboard"
## What problem are you trying to solve?

A large part of mTLS identity is service accounts. When navigating between resources and checking edges, it is valuable to see the associated service account and understand the relationships between them.

### How should the problem be solved?

TBD

[2019-10-15 23:09] adleong commented on #3487
I don't think it makes sense to do control plane tracing configuration and #3582 separately.  What makes sense the most in my mind is to have:

* a PR which implements #3582 (adds a flag to install tracing components and configure the control plane to use them).  I think #3539 could be updated to be this.
* a separate PR which adds a flag to configure data plane tracing

[2019-10-15 23:36] #3570 closed

[2019-10-16 00:42] cpretzer commented on #3441
@svenwltr Thanks for the gist. The metrics all look healthy, so I'm continuing to try to reproduce on my side. So far, the `linkerd-controller` pods in my cluster have remained healthy, after running for several days.

@grampelberg: @nickjackson said that this occurred on `2.6.0` and restarting the `linkerd-controller` deployment resolved the errors. In the initial reply, you describe the `proxy`

[2019-10-16 03:42] Sandyman commented on #1165
@grampelberg Out of curiosity, what kind of hardware are you talking about?

[2019-10-16 13:22] KIVagant commented on #3497
My findings:

1. All nodes have running `ntpd` service, and `ntpstat` responds something close to this:

[code]

2. debug from `linkerd tap`:

[code]

3. Certificate information from `apis/tap.linkerd.io`:

[code]

4.

[code]

[2019-10-16 13:22] nickjackson commented on #3441
@adleong deleting the pods on a meshed service _does_ fix the issue for me. New pods get spun up, the pods reconnect fine.

It is worth noting, that I used `linkerd upgrade` to go from `2.4` through to `2.6`. Some pods are still using the 2.5 proxy.

I did manage to `kubectl exec` into a service with a broken proxy a few days ago, and I wasn't able to curl any of my services by DNS.

[2019-10-16 13:43] KIVagant commented on #3497
After `kubectl rollout restart -n linkerd deployment/linkerd-tap`

[code]

So, this is the difference:

- before the restart:
[code]

- after the restart:
[code]

[2019-10-16 15:14] grampelberg commented on #1165
@Sandyman something to run all the integration tests on as part of CI. We're using packet for the rest of build/testing, so it isn't impossible, just needs to get wired up =)

[2019-10-16 18:23] Pothulapati opened #3590 "Make Prometheus Pluggable"
## Feature Request

The prometheus instance that comes with Linkerd is nice but for large clusters this can become a bottleneck. By allowing the prometheus instance to be configurable, we can give users the ability to re-use their existing monitoring infra with Linkerd and also use longer metric retention.

There have also been projects like [cortex](https://github.com/cortexproject/cortex), [than

[2019-10-16 18:31] stefanprodan commented on #3562
@scottcarol I've deleted the traffic split objects, reinstalled linkerd on the same GKE cluster and I got the same result. Using a fresh cluster, this time EKS, the stats look ok so I guess I've mess up something in my GKE cluster.

[2019-10-16 18:55] adleong commented on #3452
In particular, we should understand what happens for each of the Linkerd versions when it hits the doomsday.
e.g. What happens when a 2.6 cluster hits doomsday?  What happens when a 2.7 cluster hits doomsday?  Can we warn users in advance if there's some action that they need to take before doomsday?

[2019-10-16 19:58] ihcsim commented on #3562
Was the GKE cluster a private cluster?

[2019-10-16 20:29] ihcsim commented on #3452
From my last conversation with @grampelberg, the cert-manager integration works only for 2.7+. If for whatever reasons, the cert-manager cert auto-renewal window is missed, users can manually override it, using something like `linkerd upgrade --from-manifest`. (Most of the `--identity-*` options are disabled for `upgrade`.) We created https://github.com/linkerd/linkerd2/issues/3578 to investigate

[2019-10-16 20:51] scottcarol opened #3592 "Update the dashboard to Material 4"
The dashboard is currently using Material-UI `3.6.1` but the [latest version](https://material-ui.com/getting-started/installation/) is `4.5.1`. Update the dashboard, ensuring views and functionality are consistent.

[2019-10-16 22:21] #3561 closed

[2019-10-17 02:57] adleong commented on #3441
@nickjackson interesting!  It sounds like the issue you are experiencing is different from @jamesallen-vol's issue.  In a previous comment he writes:

It might be good to get these two issues split into separate github issues so that we don't confuse ourselves.

[2019-10-17 05:51] stefanprodan commented on #3562
The GKE cluster has nothing special, not private, not using network policies or any beta add-ons.

[2019-10-17 08:10] jurgengrech commented on #3563
K8s is being installed / run using hyperkube (https://stackoverflow.com/questions/33953254/what-is-hyperkube)

Linkerd is being installed using commands below:

[code]

Below, yaml for a canal pod:

[code]

[2019-10-17 15:21] grampelberg commented on #3497
Ooooh, you're totally right! That's it. This'd be a really simple PR using [helm's shasum](https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change).

[2019-10-17 15:21] grampelberg commented on #3497
Should happen for at least `tap`, `proxy-injector` and `sp-validator` as those are all using certificates associated with the api server.

[2019-10-17 16:38] rocketraman opened #3596 "502 Bad Gateway from proxy on retry after timeout"
## Bug Report

### What is the issue?

I call an external http/1.1 service from a linkerd2-injected container. The service takes a while to execute each request, and often the client side times out and retries.

The behavior I'm seeing is

1) Request made
2) Request times out
3) 1 second later, my container retries the request again, and
4) linkerd proxy immediately returns 502 Bad Gateway to the

[2019-10-17 17:05] dcodix opened #3619 "ngnix auth-url port gets ignored"
Issue Type:

- [x] Bug report
- [ ] Feature request

**What happened**:
Enabling linkerd on our nginx ingress controller fails to route the auth-url correctly ignoring the port.

**What you expected to happen**:
I would expect it to not ignore the por.

**How to reproduce it (as minimally and precisely as possible)**:
1) Create an auth service listening on port 8000
2) Create a service for that de

[2019-10-17 18:07] cpretzer commented on #3112
@yanngit can you share a bit more detail about this?

It sounds like the control plane becomes unavailable and the `linkerd-proxy` begins to log the error message in the title of this issue.

Are you microservices receiving requests when the control plane is down? To answer your question,  I believe that @grampelberg is asking if your deployments are configured to use memory and cpu requests: http

[2019-10-17 18:09] adleong commented on #3523
Will this replace the existing `edges` command which can display edges between resources, such as:

[code]

and move the edges command to be entirely connection based?

[2019-10-17 18:09] rocketraman commented on #3596
Some more information:

I used the debug sidecar to capture packets. From what I can tell, according to the packet capture, the debug sidecar is reporting that the 502 Bad Gateway is coming from the remote service.

However, if I remove the linkerd proxy completely and run the request again, I never see the 502 Bad Gateway at all.

[2019-10-17 18:14] siggy commented on #3279
Fixed via #3555

[2019-10-17 18:14] #3279 closed

[2019-10-17 18:31] grampelberg commented on #3523
@adleong that's my thinking (assuming we're on the same page by what you mean wrt "connection"). It was the original intent of `edges`. Is there a reason to keep the current behavior?

[2019-10-17 18:41] memory commented on #3081
Hi stalebot.  This would still be nice to have. :)

[2019-10-17 20:21] adleong commented on #3523
:+1: Fully replacing the existing behavior sounds good to me.

[2019-10-17 20:39] adleong commented on #3523
Should `src` and `dst` have a boolean `meshed` field?  This is redundant with the `classification` field: ingress means src is meshed, egress means dst is meshed, internal means both are meshed.  But it might be more clear?  Also I'd hesitate to use the word "classification" since we use that word usually in the context of response classification.

Should source id and dst id be part of the `src`

[2019-10-17 21:09] adleong commented on #3523
Taking a stab at the proxy metrics needed to support this:

## Example

[code]

## Metrics

`inbound_connection_opens`: A counter of the connections established between a remote (non-localhost) peer and the inbound proxy.

`inbound_connection_closes`: A counter of the connections closed between a remote (non-localhost) peer and the inbound proxy.

The difference between these two counters gives th

[2019-10-17 22:11] cpretzer opened #3599 "Linkerd controller becomes inaccessible from the proxies"
I also have an identical issue to this.

I restarted the `linkerd-controller` pods (which fixed the issue) before seeing [this comment](https://github.com/linkerd/linkerd2/issues/3441#issuecomment-537105945), but I will do this when it happens again.

Not sure what else I can offer that hasn't already been said, but happy to help where I can. I could probably give access to the cluster if that hel

[2019-10-17 22:12] cpretzer commented on #3441
I agree with @adleong that we should separate these issues out.

After reading through the thread, it seems that @jamesallen-vol and @svenwltr / @bjoernhaeuser are seeing different symptoms caused by the same trigger which is that `the linkerd-controller pod becomes inaccessible by the proxy containers after some indeterminate period of time`. When this occurs, the only known resolution is to rest

[2019-10-17 22:13] cpretzer commented on #3599
From #3441 : https://github.com/linkerd/linkerd2/issues/3441#issuecomment-540700274

[2019-10-17 22:15] cpretzer commented on #3441
@bjoernhaeuser @svenwltr are you using Service Profiles in your deployments?

[2019-10-18 01:01] cpretzer commented on #3567
@grampelberg that makes sense to me.

For now, it makes sense to continue to use `linkerd inject --manual`, since there are higher priority tasks where we can put effort.

I'm going to close this because we have a workaround. If we find that more folks are looking to modify these environment variables, we can revisit the issue.

[2019-10-18 01:01] #3567 closed

[2019-10-18 07:45] yanngit commented on #3112
@cpretzer Yes the api gateway is receiving some requests (it's a NodePort service) but then we are observing a loos in the gRPC communication ... But this occurs only when we shutdown the node where linkerd control plane is. If we are scaling gently the control plane to 0, everything seems to be working.
@grampelberg yes we are using resources requests for our deployments, something like that :

`

[2019-10-18 09:37] nickjackson commented on #3599
Thank you @cpretzer. Sorry for causing confusion on the other issue.

Not sure if this will help, but I've set the proxies to a `debug` log level, in hope that might have some more details in there.

[2019-10-18 10:42] KIVagant commented on #2929
Got the same issue, here's the detailed log:

[code]

[2019-10-18 10:46] KIVagant commented on #2929
In my case re-injection didn't help, restarting l5d didn't help, restarting the pod didn't help either.

Container settings for Linkerd in deployment:

[code]

[2019-10-18 12:02] KIVagant commented on #2929
A full example of the problem:

[code]

Any ideas how this can be fixed?

[2019-10-18 13:10] KIVagant commented on #2929
@grampelberg, I found that the problem first appeared in the logs after we upgraded Linkerd from edge-19.9.3 to stable 2.6.0. I downgraded it back and the problem immediately disappeared.

[2019-10-18 16:28] grampelberg commented on #2929
@KIVagant would you mind opening up a new issue for your problem? You're seeing something that is completely different than the original issue. I'm also having a tough time understanding what the problem is. Would you mind explaining a little bit more of the architecture and what exactly is going wrong (and where)?

[2019-10-18 16:28] grampelberg commented on #2929
I'm going to close this issue out, it seems like we've fixed the AKS tunnel-front issues for the time being.

[2019-10-18 16:28] #2929 closed

[2019-10-18 17:49] alpeb opened #3601 "In mobile, font size when looking at a pod details is smaller"
In mobile view (both portrait and landscape) the font size when in the pod details screen is smaller, both for the sidebar and the main section.

I reproduced this with Edge-19.10.3 and in #3547, using Chrome's mobile simulator

View in any section but the pod details:
![image](https://user-images.githubusercontent.com/554287/67115739-7ddbd400-f1a4-11e9-8d08-ba2818f79efc.png)

View when looking at

[2019-10-18 18:27] cpretzer commented on #3599
@nickjackson, no problem at all! I'm glad that it's not the same issue.

The debug output will be helpful, for sure.

When the behavior occurs again, it will be helpful to get the log info from `flux` and `flagger` just to see if anything happened. It will also be helpful to get the `kubelet` logs.

[2019-10-18 18:36] cpretzer commented on #3112
@yanngit this is helpful information. So, you're intentionally shutting down the control plane node to observe the behavior of `linkerd` when the control plane is not available. Does that sound right?

Can you describe more which gRPC communication is being lost? Based on what you've sent so far, I understand that you've got an `API Gateway` configured as a `NodePort`.

- Where does this API gatew

[2019-10-18 19:26] ihcsim commented on #3452
I guess this is tied to https://github.com/linkerd/linkerd2/issues/3431.

[2019-10-19 10:27] StupidScience opened #3604 "Service profile autogeneration"
## Feature Request

Generate service profiles automatically based on Swagger (OpenAPI) specification.

### What problem are you trying to solve?

At the moment you should generate service profiles explicitly. But services usually serve Swagger Spec as well so there is the way to generate Service Profiles based on it.

### How should the problem be solved?

Add kinda annotation with swagger spec pa

[2019-10-19 19:11] rocketraman opened #3605 "HTTP/1.1 outbound external call loses response -- response never received by sending container"
## Bug Report

### What is the issue?

I have a long-running http/1.1 call outbound from a linkerd2-proxy injected container. Even when the external service (running at 10.254.2.5:7071) has sent its response, the response is never received by my container. Smaller and shorter request/responses work fine, but this longer bigger request does not.  The debug logs when the remote service is finished p

[2019-10-20 12:55] alirajabi commented on #3165
We need header based routing in our company, we need an estimate for this feature, can you tell us a date(or milestone)?

[2019-10-21 08:11] svenwltr commented on #3441
@cpretzer We indeed are using service profiles. But it does not look like the services that failed are using them.

[2019-10-21 10:33] falcoriss opened #3606 "Problems with HA on lost node"
## Bug Report

### What is the issue?
It seems that the HA doesn't work properly when a k8s node is lost (out of memory, high load, kernel panic, etc..) The issue seems to apply the "destination" and "proxy injector" components but could apply to others.

### How can it be reproduced?
1 - Check which node a replica of the component "proxy injector" is running on and shut it down (a simple poweroff

[2019-10-21 13:30] yanngit commented on #3112
That's exactly it. We've had problems on our nodes and noticed the issue at this time so we're making sure it won't happen again and can reproduce the problem everytime we fail a node.

That's it

Coming from an nginx outside of k8s to this API via nodeport, then there are multiple communication with other microservice inside the k8s cluster using GRPC

It's the nodeJS web server + express

We do

[2019-10-21 16:23] grampelberg opened #3608 "Certificates change during upgrade"
### What is the issue?

I am under the impression that when running `upgrade`, the CLI will keep all the certificates the same. It appears that this is not the case. When upgrading from stable-2.5.0 to stable-2.6.0, the following certs/keys change:

- linkerd-identity-issuer
- linkerd-proxy-injector-tls
- linkerd.linkerd-sp-validator-tls
- linkerd-tap-tls

Note: this appears to not introduce downt

[2019-10-21 16:37] olix0r opened #3609 "proxy: remove the LINKERD2_PROXY_INBOUND_FORWARD configuration"
The `LINKERD2_PROXY_INBOUND_FORWARD` configuration was implemented to support local testing; but the proxy has evolved to the point where it needs a proper runtime harness (as in docker or the integration test infrastructure) to run.

This option is just a bit of debt that should be removed to simplify code/diagnostics.

[2019-10-21 16:52] wmorgan commented on #3089
@cpretzer might be worth adding to your list of things to repro

[2019-10-21 16:53] scottcarol commented on #2325
Closing - new design does not include a full-width vertical navbar

[2019-10-21 16:53] #2325 closed

[2019-10-21 17:01] grampelberg commented on #3604
Have you seen `linkerd profile --open-api`?

[2019-10-21 17:11] adleong commented on #3608
Unless I'm mistaken about how this works, this should not be possible.  The root key (the private half of the trust root) is generated and discarded at install time.  This means that it is not possible to generate a new issuer cert that will validate against the same trust root.

Either I'm confused, or something weird is going on...

[2019-10-21 17:14] olix0r commented on #3608
The credentials are always emitted. They're just identitical

[2019-10-21 17:16] StupidScience commented on #3604
Yes, ofc. But it should be invoked explicitly.

[2019-10-21 17:33] grampelberg commented on #3165
@alirajabi there's no one working on this right now, we'd love your help!

[2019-10-21 18:23] wmorgan commented on #3604
@StupidScience To make sure I understand this: your proposal is that users annotate a Deployment object with the URL path of a Swagger-serving endpoint on that Deployment. Then Linkerd calls that endpoint and creates a service profile for the Deployment, and keep it up to date when the contents of that endpoint changes.

This would be an alternative to using `linkerd profile --open-api` and re-app

[2019-10-21 18:29] StupidScience commented on #3604
@wmorgan yep, looks correct.

[2019-10-21 18:36] scottcarol opened #3610 "Allow user to filter list of namespaces in dashboard selection menu"
*Problem*: If a user's cluster has more than 5-6 namespaces, it may be time-consuming to find the desired namespace after opening the namespace selection menu.

![Screen Shot 2019-10-21 at 11 26 42 AM](https://user-images.githubusercontent.com/2289389/67232368-187f2180-f3f6-11e9-8931-7aa5cc749237.png)

*Solution*: Add a text filter to the namespace selection dropdown, as the [Kubernetes dashboard

[2019-10-21 19:02] grampelberg commented on #3604
Makes sense! This would need to be an annotation on the service and not the deployment as deployments don't have service profiles. Otherwise, sounds like a cool feature! Could be used for protobufs as well.

[2019-10-21 19:04] #3559 closed

[2019-10-21 19:10] scottcarol opened #3611 "Display an "Empty State" Component for dashboard tables with no data"
*Problem*: Currently, if there is no data to display in a table, we simply show the table headers without explicitly saying there is no data to return, or explaining why.

![empty-state-table](https://user-images.githubusercontent.com/2289389/67233510-33eb2c00-f3f8-11e9-9389-7e60951801bd.png)

*Solution*: @grampelberg is designing an empty state view. Before he has created mockups, we can create a

[2019-10-21 19:46] #3609 closed

[2019-10-21 19:51] adleong commented on #3608
Upon investigating, it appears that the certificates and keys only differ by trailing whitespace.  They deserialize to the exact same certificate or key.  It's unclear why the whitespace formatting changed, but this appears to be harmless.

[2019-10-21 19:56] #3608 closed

[2019-10-21 20:10] scottcarol opened #3612 "Display tap headers in dashboard view"
#3434 and #3410 added request and response headers to `linkerd tap` when using the `-o json` flag.

[code]

These headers now be displayed in the dashboard. We can start to incorporate the headers into the Tap view by adding them to the detail modal that shows when clicking the `ˇ` icon on the left of each returned row:

(below screenshots from `tap?namespace=linkerd&resource=namespace%2Flinkerd`)

[2019-10-21 20:35] scottcarol opened #3613 "Allow user to run `linkerd check` from the dashboard and see results"
Running `linkerd check` in the CLI is a handy diagnostic tool. We can allow users to run `linkerd check` from the web dashboard from the `/controlplane` view.

Control Plane view should now have:
1. A button titled "Run Linkerd Check" that, when clicked runs `check`
2. After running check, display the output as displayed in the CLI.

[code]

[2019-10-21 20:59] grampelberg commented on #3523
As I understand it, this would have the implication of not providing any metrics for these (TCP bytes, requests) and simply tell the state of the edge and the number of outstanding connections? How does this play with http/2?

## inbound_connection

There should be a `dst_addr` label. Technically, I'm really just interested in the port. It just seems easier to keep the same format.

## outbound_co

[2019-10-21 21:25] scottcarol opened #3614 "Add Cron Jobs and Replica Sets to dashboard"
The Kubernetes dashboard has views for these workloads:
[code]
The Linkerd dashboard does not show data for `Cron Jobs` or `Replica Sets`. We should add these workload types to the sidebar, list them by namespace and return stats for them if possible.

[2019-10-21 21:25] grampelberg commented on #3580
@sayboras I'm going to close this out. Please open if you're still having issues.

[2019-10-21 21:25] #3580 closed

[2019-10-21 21:26] grampelberg commented on #3574
@geekmush I'm going to close this out for now. It sounds like you're trying to do something special that feels like a better fit for readiness checks. Please open back up if I'm wrong!

[2019-10-21 21:26] #3574 closed

[2019-10-21 21:31] grampelberg commented on #3551
I'm wondering if this is related to #3606 as well.

[2019-10-21 21:33] scottcarol opened #3615 "Fetch the resource definition when on dashboard detail view"
In the future, the resource detail page of the dashboard will be redesigned, and the dashboard will also show service profiles.

We can prepare for this by fetching the resource definition when on a resource detail page. This should be the same definition returned if you query kubectl:
[code]

This should not (yet) be shown in the UI, but can be wired through to the `ResourceDetail` component and

[2019-10-21 21:43] scottcarol opened #3616 "Move from JS Promises to Async/Await"
[async/await](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await) is part of ECMAScript 2017 and makes asynchronous code easier to read and write. We can take advantage of this by refactoring our `Promises` in the dashboard code.

[2019-10-21 21:56] scottcarol opened #3617 "Update dashboard to latest React"
The dashboard is currently on React `16.5.0`. React can be updated to `16.9.0`.

Updating to the latest React means that we will need to stop using from the `react-url-query` library, which we are using to encode/decode URLs in the Tap and Top Routes views.

`react-url-query` utilizes the `componentWillMount` lifecycle method which will no longer be supported by React.

The creator of the react-ur

[2019-10-21 22:05] scottcarol opened #3618 "Consolidate dashboard API requests further to speed up dashboard"
#3467 simplified and sped up the dashboard by reducing API requests, adding a namespace selection button and removing the sidebar's list of resources and their green/red status icons. It also expanded our use of React's `Context` API. The user's selected namespace is now shared to all components that are consuming context. We can update that shared context from within the app when the user changes

[2019-10-21 22:42] cpretzer commented on #3606
@falcoriss I've been trying to reproduce this on a cluster and am not seeing the issues that you describe.

My environment is slightly different, though, so I think it's worth digging in to the Kubernetes cluster configuration and logs to see if we can figure out the cause.

When you simulate the error by powering down the node, can you collect the `kubelet` logs from the other nodes?

Which netwo

[2019-10-21 23:31] scottcarol commented on #2687
Closing because @grampelberg is creating mocks that will specify mobile behavior

[2019-10-21 23:31] #2687 closed

[2019-10-21 23:44] scottcarol commented on #2998
Closed in favor of #3611

[2019-10-21 23:44] #2998 closed

[2019-10-22 05:16] halcyondude commented on #3403
Watching this issue - we use CF orange network and have services (not yet meshed) that use `x-forwarded-for` for GeoIP lookup.

@sdickhoven @ dwoldemariam1 FYI

[2019-10-22 09:22] tzsword commented on #3617
🙋🏻‍♂️

[2019-10-22 13:35] scottcarol commented on #3617
Hey tzsword! 👋 Glad you're interested in working on the dashboard! This issue is already assigned, but are you interested in working on another React ticket? #2915 and #2996 are available.

[2019-10-22 18:54] uipo78 commented on #2929
hey @grampelberg is this fix included in [the most recent edge release](https://github.com/linkerd/linkerd2/releases/tag/edge-19.10.3)?

[2019-10-22 19:41] grampelberg commented on #2929
@uipo78 this issue was fixed quite awhile ago. If you're seeing behavior like this, please open a new issue up with all your details so that we can do some troubleshooting. @KIVagant has something else going on that we need to track down as well.

[2019-10-22 20:17] uipo78 opened #3620 "Sidecar proxies not spinning up due to `Failed to certify identity: grpc-status: Unknown, grpc-message: "the request could not be dispatched in a timely fashion`"
## Bug Report

### What is the issue?

After annotating a namespace with `linkerd.io/inject=enabled` or manually injecting deployments with the linkerd proxy using `linkerd inject`, we observe that the sidecar proxy of certain pods (ut not all) aren't able to become ready.

### How can it be reproduced?

I'm not really sure how to reproduce this since the bug doesn't occur on every pod.

### Logs,

[2019-10-22 20:18] uipo78 commented on #2929
done deal

[2019-10-22 20:25] ihcsim opened #3621 "Control plane UUID gets overridden during Helm upgrade"
The control plane [UUID](https://github.com/linkerd/linkerd2/blob/0f9ea553d2ab9b985e6d9666e95dae2260c26210/charts/linkerd2/templates/_config.tpl#L76) gets overridden when users run `helm upgrade`. The template should be updated so that the UUID remains unchanged, and matches the one stored in the `linkerd-config` config map.

At this point, I'm not sure if there is a way to automate this, since th

[2019-10-22 22:44] alpeb commented on #3083
@ver While working on this I realized that once we protect `linkerd-web` we won't have to do anything with Grafana because it's being proxied through `linkerd-web`. So Grafana could still be exposed directly or through ingress without any extra config. Agreed?

[2019-10-22 23:29] cpretzer commented on #3563
@jurgengrech Does this 48 hour failure happen only when using hyperkube?

The `too many links` output is interesting because it means that some resources related to `iptables` are not being cleaned up. The next time that this happens, can you ssh in to the VM and get the contents of the iptables with the `sudo iptables -L` command? The output from `journalctl -u kubelet` might have valuable inform

[2019-10-23 00:35] tzsword commented on #3617
@scottcarol 👋 i will try #2915

[2019-10-23 01:33] tzsword commented on #2915
![image](https://user-images.githubusercontent.com/20581031/67348098-7470b400-f576-11e9-9ee0-b488d8493443.png)
sorry, how to test?

[2019-10-23 10:39] falcoriss commented on #3606
This is what we get from the api-server when the node goes down
[code]
@cpretzer
 For the few minutes following the shutdown of the node, the only log i've got on kubelet of another node is this :
[code]
Not quite usefull i believe :s

Using weave plugin but tried with calico as well and the problem remains.

It's because it had just been created and hadn't had enough time

the ouput of that pod i

[2019-10-23 10:43] zaharidichev opened #3622 "Provide linkerd delete command"
## Feature Request

### What problem are you trying to solve?
Currently deletion of linkerd from an k8s cluster is done via the `linkerd install --ignore-cluster` command. This has worked so far but after the work carried out in #3600, some questions emerged. Namely, the previous command relies on the fact that we can generate a yaml file that is identical to the one used by the installation phase

[2019-10-23 11:43] KIVagant commented on #2899
@grampelberg, don't we also need to use Session Affinity for linkerd-web service for websockets?

https://stackoverflow.com/questions/48993286/is-it-possible-to-route-traffic-to-a-specific-pod?rq=1

[2019-10-23 12:03] KIVagant opened #3624 "Unclear error message in linkerd2_proxy logs: "error trying to connect: request timed out""
## Bug Report

### What is the issue?

We have several dozens of services deployed to Kubernetes and randomly get "request timed out" in logs of random pods while the service is working and all health checks are okay.

### How can it be reproduced?

No idea. After a pod started, after a while the error message starts appearing in a pod logs (one random of many). When I enable "debug" mode for Link

[2019-10-23 12:35] nickjackson commented on #3599
Hello @cpretzer, so managed to dig out some more logs with `debug` but there's now so much logging that I'm not entirely sure it's useful anymore.

The issue came back earlier today after deploying a new backing service. The following logs from a failing pod are interesting. In each line, it's referencing a pod that was either _just_ discarded by the deployment or references a pod that was discard

[2019-10-23 15:40] grampelberg commented on #3622
So far, we don't modify the cluster at all. I think it makes sense to do that still. Maybe `linkerd delete` should output just the component names instead of all the YAML?

Hmm, with helm, it'd just be `helm delete` and that would clean everything up, right?

## Other questions

- Should this take care of the data plane as well? What about checks there?
- Before we go implement this, we should get

[2019-10-23 15:46] grampelberg commented on #2899
@KIVagant right now, we only run one replica of `linkerd-web`, even with `--ha`. So, stickiness wouldn't be an issue.

With that out of the way, you probably know more than I do wrt ingress and how it interacts with services. My understanding is that the actual ingress controller doesn't care what the settings on the internal service is - it just fetches the endpoints. That would suggest that the

[2019-10-23 15:48] grampelberg commented on #3624
This is totally pattern matching, but as I see you're on EKS, have you been having any DNS issues? We've seen folks run into somewhat similar issues because DNS is timing out (error messages are in the progress of getting better!).

[2019-10-23 15:49] grampelberg commented on #3599
@nickjackson did you happen to run `linkerd endpoints` when this was happening?

[2019-10-23 15:54] nickjackson commented on #3599
Afraid not on this occasion, but when it happened in the past, it yielded the correct pod details.

[2019-10-23 15:59] falcoriss commented on #3606
Maybe I missed something this morning.. Here are the errors you're talking about, made another test just now :
[code]

[2019-10-23 16:03] falcoriss commented on #3606
Also tried the solution to disable HTTP2 on the api-server referenced on [this issue](https://github.com/kubernetes/kubernetes/issues/75791) but beside creating lots of slow queries everywhere, it doesn't improve the problem =)

[2019-10-23 16:10] uipo78 commented on #3620
[Here's a gist of the sidecar proxy's logs](https://gist.github.com/uipo78/5c4e4cac96d5a909ae5ea194b3eb428a)

[And here's a gist of the destination container's logs](https://gist.github.com/uipo78/3bb5d78578b7daec40d19c268b5781ed)
^ Full disclosure: I redacted the trust anchor PEM and deleted some entries saying `Updating endpoints for` for certain services whose names I didn't want to disclose pu

[2019-10-23 17:29] grampelberg commented on #3606
This really looks like something is going funky with your cluster. The connection to `linkerd-proxy-injector.linkerd.svc` is going to go through a cluster ip and timing out. Have you tried replicating this without linkerd in the mix at all?

[2019-10-23 17:36] ihcsim commented on #3578
@zaharidichev Thanks for doing the additional investigation work. Closing this issue.

[2019-10-23 17:36] #3578 closed

[2019-10-23 17:43] grampelberg commented on #3620
Are you using network policy? According to those logs, the cluster IP was fetched correctly (`172.16.113.32:8080`) and the request timed out. Also, is that the correct cluster IP for the `linkerd-identity` service?

[2019-10-23 21:07] geekmush opened #3630 ""linkerd inject" does not work on cronjobs?"
## Bug Report

### What is the issue?
Trying to use `linkerd inject` to annotate a cronjob yaml and it  returns "!! no supported object found"

### How can it be reproduced?
Create a cronjob yaml, apply it, then:

`kubectl get cronjobs.batch mssql-backup -o yaml | linkerd inject  -`

### Logs, error output, etc
(apologies for the debugging code in the sample)

[code]
#### `linkerd check` output

[

[2019-10-23 21:30] pablomfc commented on #2899
Just an update on my configs:

Linkerd header now goes into Ambassador's configs, and I've added timeout_ms to linkerd-web service as sometimes the default value 3000 isn't enough

Ambassador annotation:

  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:xxxxxxxx"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/a

[2019-10-23 21:37] geekmush opened #3631 "Teach linkerd-proxy to listen for "special requests" from the main container (that the sidecar is servicing)"
## Feature Request

### What problem are you trying to solve?
In certain circumstances (like a cronjob), when the main container completes, the linkerd-proxy sidecar does not gracefully exit as well and let the pod terminate.

### How should the problem be solved?
If the linkerd-proxy could be taught to watch the network traffic (for example, on the `LINKERD2_PROXY_ADMIN_LISTEN_ADDR`) for specific

[2019-10-23 22:04] olix0r commented on #3631
We're hoping that https://github.com/kubernetes/enhancements/issues/753 provides a more proper solution to this (possibly in Kubernetes 1.17?), but I agree it seems useful to add an admin endpoint to the proxy that supports shutdown (like the admin endpoint that supports log-level changes).