[2019-02-12 22:34] grampelberg opened #2271 "Client/Server connection details"
### What problem are you trying to solve?

With TLS being a percentage in `stat`, it is easy to be unaware as to what is encrypted and isn't. Even once you know why a specific connection is not encrypted, it is difficult to understand why without digging around in multiple tools.

### How should the problem be solved?

Get rid of the TLS column in metrics and create a new CLI command (`connections

[2019-02-12 22:42] grampelberg commented on #2271
@scottcarol @rmars it'd be awesome to have something like this in the GUI, I'm not sure what form it should/could/would take.

[2019-02-12 22:52] grampelberg commented on #1762
Huh, that's a good theory. I've not had time to do any reproduction yet. It should be easy to A/B test on AKS though with the reproduction steps.

[2019-02-13 00:31] grampelberg opened #2273 "Inject output shows empty YAML"
### What is the issue?

For [this YAML](https://gist.github.com/grampelberg/110db89003542231403364a5c58bda19), the inject output is:

[code]

I would expect the last four lines to not be there at all.

[2019-02-13 14:24] Pothulapati commented on #2273
I am willing to take this issue!

I started looking at the code, and another condition checking if the `injectReport.Kind` is empty string or not [here](https://github.com/linkerd/linkerd2/blob/907f01fba67d69967afa534259883db0b41c1971/cli/cmd/inject.go#L489) would be enough I guess as every resource will have a non-empty kind field.
`uninject.go` should also have a similar condition I guess.

WDYT

[2019-02-13 17:30] adleong opened #2276 "proxy-api logs errors when route timeout isn't set"
When a route does not specify a timeout, the proxy-api defaults to the default timeout and logs an error:

[code]

We should not log any error when the timeout is blank.  Additionally, having service profile name and namespace in logs like this could be helpful.

### Environment

- Linkerd version: stable-2.2.0

[2019-02-13 17:32] ihcsim commented on #2273
@Pothulapati That's great! Checking `Kind` does sound the right thing to do. But instead of performing the check in the `generateReport()` method, I think we can do that in the [`ProcessYAML()` method](https://github.com/linkerd/linkerd2/blob/907f01fba67d69967afa534259883db0b41c1971/cli/cmd/inject_util.go#L92), which is called by both `inject` and `uninject`. WDYT?

In addition to testing with the

[2019-02-13 17:34] grampelberg commented on #2273
@ihcsim is there a `Kind: List` that would be empty like that?

[2019-02-13 18:06] ihcsim commented on #2273
For all intents and purposes, I doubt we will ever see a list like this:
[code]

The only reason why I brought that up is because I notice that the `transform()` methods are returning a slice to `ProcessYAML()`. The only place where that makes a difference is when we are dealing with [list](https://github.com/linkerd/linkerd2/blob/907f01fba67d69967afa534259883db0b41c1971/cli/cmd/inject_util.go#L10

[2019-02-13 18:13] grampelberg commented on #2273
👍 makes sense to me!

[2019-02-13 19:22] #2258 closed

[2019-02-13 20:07] olix0r opened #2277 "Replace bin/ build tooling"
When I wrote the `bin/docker-*` tooling, I was mostly doing so out of frustration and expediency. But, ultimately, there are better tools out there for this sort of thing that will be easier for folks to work with---especially new comers to the project.

My hunch is that we should use `make` (though, hopefully not one massive Makefile).

[2019-02-13 20:53] siggy commented on #2277
For reference: https://github.com/linkerd/linkerd2/blob/master/BUILD.md#build-architecture

[2019-02-13 23:39] olix0r commented on #2205
It's probably important that we understand how this interacts with `--ha`, i.e. when there are multiple destination service instances and a given proxy may be talking to an arbitrary number of these instances at any point.

[2019-02-13 23:44] olix0r opened #2280 "UX: differentiate traffic by port"
Currently, when one browses through the UI or runs `linkerd stat`, etc, we don't differentiate traffic by port. This is why, even when an application is not serving any traffic, we frequently show a small amount of traffic (e.g. 0.1rps) due to health checking, etc.  As a user, I'd really like to be able to see the RPS for each port on my pod so that administrative traffic can be understood distinc

[2019-02-14 01:14] okian opened #2282 "Check doesn't pass Prometheus"
## Bug Report

### What is the issue?
I'm trying to install linkerd in bare-metal kubernetes cluster but  seems like there is a problem with Prometheus. in ```linkerd check``` log! it seems like it's looking for ```cluster.local``` but the cluster name is ```cyb.local```. i'm not sure if that's the problem or not. prior to this i had installed Prometheus in another namespace so i tried to edit ```

[2019-02-14 02:15] klingerf commented on #2282
@okian Thanks for reporting this. The issue is that linkerd doesn't currently allow configuration of the cluster base domain, as described in #1720. Some users have reported that hand-editing the linkerd install YAML to replace "cluster.local" with "cyb.local" globally would fix your issue, but #1720 tracks adding actual support for alternate base domains. Am going to close this issue in favor of

[2019-02-14 02:15] #2282 closed

[2019-02-14 03:17] jon-walton opened #2283 "endpoints command should have ep alias to match kubectl"
## Feature Request

### What problem are you trying to solve?

Every time I try to get the linkerd endpoints, i end up typing `l ep` which fails 😄 I'm lazy and typing `l endpoints` is too many key presses 😉

### How should the problem be solved?

ad an alias for the `linkerd endpoints` command to be `linkerd ep`

[2019-02-14 09:20] Pothulapati commented on #2273
@ihcsim A `Kind: List` returns the same error with and without the check in `processYAML`.

I also did try it with the yaml [here](https://gist.github.com/Pothulapati/db90c546798f642d1fab7c025ece6495) which has a deployment resource, followed by empty resources (as per your example). The check did work and didn't add the empty `injectreport` item into the list.

If everyone is okay with the fix, R

[2019-02-14 14:19] #2127 closed

[2019-02-14 14:51] #2264 closed

[2019-02-14 16:15] alpeb opened #2285 "Protobuf for configs to be stored in the control plane"
Create protobuf (and generated) files for:

- [x] global config
- [x] proxy config
- [x] endpoints for persisting global and proxy configs

[2019-02-14 16:19] alpeb opened #2286 "Expose a new endpoint for injection in the proxy auto-injector"
Expose a new endpoint in the control plane that performs the proxy injection, given the new stored config (#1999). This will be used by both `linkerd install/inject` (#2288) and the auto-injector (#2289).

It should receive the resource yaml in the request, and return the injected yaml, or the JSON patch.
A request param should determine the type of the response.
As a followup, this endpoint shoul

[2019-02-14 16:21] ihcsim commented on #2273
@Pothulapati Please go ahead and submit your PR. Thanks!

[2019-02-14 16:22] alpeb opened #2287 "Proxy Config Overrides Via Annotation During Auto-Inject"
Provide a mechanism to override proxy configurations during auto-inject via pod annotations. When the proxy-injector receives an inject request, it determines the inject options in the following order:

* if an annotation for that option is present on the pod, it uses that
* otherwise if an annotation for that option is present on the pod's namespace, it uses that
* if no annotations are present,

[2019-02-14 16:25] alpeb opened #2288 "Refactor `linkerd inject` to make use of the new endpoint for injecting the proxy"
Depends on #2286

[2019-02-14 16:25] alpeb opened #2289 "Refactor the auto-injector to make use of the new shared lib for injecting the proxy"
Depends on #2286

[2019-02-14 16:59] grampelberg commented on #2280
@adleong have you thought any about how this intersects with `routes`? Probably not an issue, just haven't thought it through all the way yet.

[2019-02-14 17:02] alpeb commented on #2286
We can provide this as a new endpoint in the controller api, or as part of the auto-injector, in which case we need to lift the current restriction of only installing the auto-injector when `--proxy-auto-inject` is provided at install time.

[2019-02-14 17:28] grampelberg commented on #2199
There should be symbols in place to be able to use gdb for both the proxy and control plane components.

[2019-02-14 17:31] grampelberg opened #2290 "Prometheus check URL seems incorrect"
### What is the issue?

The output for failing the prometheus check is:

[code]

I would have expected the URL to be `https://linkerd.io/checks/##l5d-api-prom`.

[2019-02-14 17:31] grampelberg commented on #2290
See #2282.

[2019-02-14 17:43] grampelberg commented on #2283
@jon-walton how is `endpoints` working out for you? Helping at all? Anything missing?

[2019-02-14 18:46] ihcsim commented on #2286
My thought is to re-use the existing proxy-injector controller, and change the effect of the `--proxy-auto-inject` flag such that, if enabled, then the [admission controller webhook](https://github.com/linkerd/linkerd2/blob/c78f1053505fc95391142c77548356098fbc19de/controller/cmd/proxy-injector/main.go#L42-L63) is installed. Otherwise, it only serves the new endpoint.

[2019-02-14 19:03] klingerf commented on #2286
👍 to @ihcsim's comment. Originally I was thinking we should add a separate endpoint that's called by both the CLI and the auto-injector, but I think we'll gain a lot by instead forcing the CLI to use the auto-inject endpoint directly (although not by way of the `linkerd-proxy-injector` Service that the webhook uses -- we'll instead need to expose that endpoint via the public API).

By forcing the

[2019-02-14 19:16] Pothulapati commented on #2283
If this issue is just about adding an alias as `ep` for `endpoints` , I am willing to take this :)

[2019-02-14 19:26] grampelberg commented on #2283
Go for it!

[2019-02-14 19:31] #1662 closed

[2019-02-14 19:55] #2201 closed

[2019-02-14 22:03] klingerf commented on #2288
Just a quick clarifying comment here: we should update `linkerd inject` to make use of the new endpoint, but for `linkerd install` we'll still need to use a library to inject the control plane install config, since the control plane won't be available at the time that the install config is generated.

[2019-02-14 22:38] adleong opened #2294 "Inbound proxy not accepting connections"
## Bug Report

### What is the issue?

When running emojivoto injected with Linkerd 2.2 on AKS and scaling the vote-bot deployment to 150 instances, at some point the rate of requests flowing through the system drops to zero.  This appears to be because the inbound proxy of the web pod stops accepting requests and connections.

![No traffic flowing](https://user-images.githubusercontent.com/397981

[2019-02-14 22:43] adleong commented on #2294
Looking at the proxy logs from a meshed vote-bot pod, we see a single reconnect error to 10.0.0.6 (the web pod):

[code]

[2019-02-14 22:46] alpeb commented on #2288
@klingerf thanks for the clarification, that makes sense.

[2019-02-14 23:02] adleong opened #2295 "Synthetic proxy responses should contain an identifying header"
All responses returned by the proxy are either a proxied response from another server or a synthetic response generated by the proxy (e.g. if the proxy encounters an error and returns a 500 or if the proxy times out a request and returns a 504).

When debugging issues, it can be difficult to know for sure if a response (especially a 500 response with no body) was generated by Linkerd or by a servi

[2019-02-15 00:12] adleong commented on #2294
I have reproduced the issue with proxy log level = `warn,linkerd2_proxy=debug`.  Unfortunately, it doesn't shed a lot of light on WHY the requests/connections stop.

[code]

[2019-02-15 00:28] jon-walton commented on #2283
@grampelberg since the recent Azure oriented fixes in the last edge builds, I've also upgraded the Azure CNI plugin (which actually gave us some large performance gains) so I've not used the endpoints command in anger yet, but it'll be one of the first things in our runbook, thanks for adding it

[2019-02-15 00:29] olix0r commented on #2294
Can you share the output of `netstat -an` in the pod where connections are hung?

[2019-02-15 00:32] olix0r commented on #2294
Also, i might suggest just using a proxy log level of `trace` (i.e. for all crates) and posting the output to a gist or zip.

[2019-02-15 00:35] adleong commented on #2294
[code]

[2019-02-15 00:47] rmars commented on #2208
The go standard library manages this using an `-update` flag on the tests, so that if you ran `go test ./... -update` all of the golden files would be updated:
https://github.com/golang/go/blob/master/src/cmd/gofmt/gofmt_test.go

[2019-02-15 00:48] klingerf commented on #2208
Huge 👍 to @rmars's suggestion.

[2019-02-15 01:01] adleong commented on #2294
This line is interesting...
[code]

there are no pods in the cluster with ip `10.0.0.190`.  Perhaps this is the ip of a pod that has been deleted?

[2019-02-15 01:09] #2276 closed

[2019-02-15 01:32] klingerf commented on #2294
Typically connections from IPs that don't correspond to pods in your cluster are the result of readiness and liveliness probes from Kubernetes itself.

[2019-02-15 01:36] #2283 closed

[2019-02-15 06:52] jon-walton commented on #2294
@adleong is this with kubenet (basic networking) or azure cni (advanced networking)? aks engine recently upgraded the cni plugin to 1.0.17. We jumped from 1.0.13 and it's fixed a whole bunch of weirdness for us (random connection issues, slow performance, etc)

aks engine features eventually trickle through to aks, so it'll get it... eventually

[2019-02-15 09:35] murarisumit commented on #1704
Hi @siggy made PR for stable version here: https://github.com/Homebrew/homebrew-core/pull/36957.

Now they don't accept devel in homebrew-core, so removed those section.

One change I took from my side instead for dropping the old version, thought of keeping both the version first, then deprecating the old version in favor of new one. Let me know how that sounds to you.

[2019-02-15 15:30] TwinProduction commented on #2029
This is also important if a pod needs to have a specific `qosClass`. Because `linkerd` doesn't currently allow inject to set the resource limit, it prevents a pod from having a `qosClass` of `Guaranteed`, even if all other containers in the pod meet the requirements.

[2019-02-15 16:22] jon-walton commented on #2116
I think we can close this now? Adding a port to `l5d-dst-override` gets it working

[2019-02-15 16:22] #2116 closed

[2019-02-15 16:39] grampelberg commented on #2029
TIL, I've not played around with the `qosClass` stuff. Another great reason to set limits as well.

[2019-02-15 18:22] hawkw commented on #2116
@jon-walton okay, excellent! That's good to hear.

[2019-02-15 18:35] adleong commented on #2294
@jon-walton I'm not too familiar with AKS but if I'm reading this correctly, I think it's the azure cni:

[code]

[2019-02-15 19:51] alpeb opened #2298 "Have `Linkerd install` generate a new ConfigMap for general and proxy configs"
Have `linkerd install` output an additional `ConfigMap` populated with the json serialization of `pb.GlobalConfig` and `pb.ProxyConfig` that were declared in #2291.

[2019-02-15 20:15] alpeb opened #2299 "Refactor injection in proxy-injector so it applies the stored config"
Refactor the proxy-injector injection logic so that it applies the Global and Proxy config declared in #2285.

Also extract into a separate library the method that does the actual injection given those configs, so that it can be reused by `linkerd install` to inject the control plane pods.

[2019-02-15 21:23] grampelberg opened #2300 "Endpoint load balancing weighting"
## What problem are you trying to solve?

I would like to provide weights for endpoints behind a service. This can be
used to do things such as canary deploys, A/B testing and saturation testing.

## How should the problem be solved?

An addition to `ServiceProfile`s. The `Service` selector will be
maintained as a superset, with weights sub-selecting groups inside that set.

[code]

Things I like

[2019-02-15 21:38] Aagat commented on #1997
This is a great idea!

This makes sense for my use case in conjunction with `linkerd.io/auto-inject: enabled` annotation to selectively enable proxy injection for certain deployments while excluding certain ports.

[2019-02-15 21:52] klingerf commented on #1997
I agree! We're actively working on annotation-based overrides for all inject configuration options as part of #2287. That will include overrides for inbound/outbound ports.

[2019-02-15 22:17] ihcsim commented on #1997
The current workaround is to modify the the config map which the proxy-injector reads from. Inside the `linkerd-proxy-injector-sidecar-config` config map (within the `linkerd` namespace), there is a`proxy-init.yaml` key, with the `--inbound-ports-to-ignore` property.

If for example, I am auto-injecting into a NATS server, I'll add port 4222 and 6222 to the `--inbound-ports-to-ignore` comma-separa

[2019-02-15 22:29] olix0r opened #2301 "proxy: Include debug symbols in packages?"
https://github.com/linkerd/linkerd2-proxy/pull/193 adds the ability to easily bundle debug symbols with the proxy's artifacts; though, this impacts build time and package size. Before we incur this cost, we should be sure that these debug symbols will actually be useful to us, i.e. for #2199.

[2019-02-15 22:36] klingerf commented on #1997
@ihcsim I don't think there's a need to modify the `ConfigMap` in the `linkerd install` output directly. The install command accepts flags to modify the values in that `ConfigMap`. For instance, for the example you gave, I recommend running:

[code]

But the values in the ConfigMap are applied globally and can't be overridden per injected deployment. We're planning on fixing that by adding support

[2019-02-15 23:28] olix0r commented on #2300
I am not particularly thrilled about the ServiceProfile suggestion -- it doesn't feel like the correct abstraction to me, and I think it complicates discovery logic...

What is the logic that the destination service needs to implement to resolve a name?

[2019-02-16 00:52] klingerf opened #2304 "CLI is dropping paths from kubeconfig server URLs"
When the `linkerd` CLI loads the API server URL from a kubeconfig file, it strips the path from the URL. This means that our CLI can't successfully connect to clusters where the API server is served from a non-root path (e.g. Rancher clusters). We must fix this by preserving the path, as described in the client-go rest package documentation:

[code]

[2019-02-16 19:19] olix0r opened #2309 "proxy: Measure allocator differences in Rust 1.32"
There are [reports](https://github.com/rust-lang/rust/issues/56980) that rust 1.32 introduced a substantial memory allocation change by adopting jemalloc.  We should compare builds of the proxy between 1.31 and 1.32 and measure the impact of the change on our base case, at least.

[2019-02-16 21:17] olix0r opened #2310 "proxy: set `l5d-remote-ip` header"
It's important that applications be able to know (for diagnostics, and policy), the source information for requests. Typically, proxies add a [`forwarded`](https://tools.ietf.org/html/rfc7239) header including `for=IP`. However, the identity service will need to use this header to make an authoritative decision, so we need to establish a header that the proxy may actively strip and set on inbound

[2019-02-17 01:02] bourquep opened #2311 "The help text for '--proxy-auto-inject' still mentions that the feature is experimental"
## Bug Report

### What is the issue?

The help text for `linkerd install --proxy-auto-inject` still mentions that the feature is experimental.

### How can it be reproduced?

* Run `linkerd install --help`
* Observe that the help text for `--proxy-auto-inject` states: _**Experimental**: Enable proxy sidecar auto-injection webhook (default false)_

### Environment

- Linkerd version: stable-2.2.0

[2019-02-17 15:49] bourquep opened #2312 "Mismatch between documentation and output of 'linkerd profile --open-api'"
## Bug Report

### What is the issue?

The service profile documentation for the [Route object](https://linkerd.io/2/features/service-profiles/#route) describes a `responses` field, while the `linkerd profile --open-api` command outputs a `responseClasses` field.

### How can it be reproduced?

Run `linkerd profile --open-api` on a swagger yaml file.

### Environment

- Kubernetes Version:
- Clust

[2019-02-18 15:38] Pothulapati commented on #2007
I would like to take this issue :)

[2019-02-18 16:12] grampelberg commented on #2300
@olix0r I'm not a huge fan of it either. The recommendation changed about 4 times as I thought it through.

Hmm?

[2019-02-18 16:17] grampelberg commented on #2311
Oh, great catch!

[2019-02-18 16:17] grampelberg commented on #2312
@adleong which needs to be updated? The docs?

[2019-02-18 17:10] #2183 closed

[2019-02-18 17:27] wmorgan commented on #1406
@hawkw is this still valid?

[2019-02-18 17:48] dadjeibaah commented on #2007
Sure thing! My guess is that this would look very similar to this PR #2086. Let us know if you have any other questions!

[2019-02-18 18:17] adleong commented on #2312
Nice catch!  The field name is `responseClasses`, the docs should be updated.

[2019-02-18 18:20] klingerf commented on #2007
@Pothulapati Great! As @dadjeibaah said, this should be very similar to what we did for DaemonSets in #2086 and StatefulSets in #2234. The only additional thing to note is that all Prometheus metrics include a `job` label by default, but that label does not represent a Kubernetes Job. We've configured Prometheus to add a `k8s_job` label when collecting stats from Kubernetes Jobs, and that's the la

[2019-02-18 18:30] siggy opened #2316 "Remove integration test dependency on httpbin.org"
The egress integration test relies on httpbin.org to test requests:
https://github.com/linkerd/linkerd2/blob/ed3fbd75f3cbee76b45d73687134e23f45b41374/test/egress/egress_test.go#L92

This means that behavior changes in that external online service can break ci:
https://travis-ci.org/linkerd/linkerd2/jobs/495002001#L7405

Propose removing the dependency on httpbin.org. One approach could be to boot

[2019-02-18 18:46] adleong commented on #2300
I initially didn't like this, but the more I think about it, the more it makes sense to me.

The common scenario that I'm imagining is that pods may already have labels on them (e.g. version) and users will want to apply some mapping of labels to weights (e.g. 90% on v1, 10% on v2).  Furthermore, users will want to be able to apply this mapping and dynamically change the mapping (shift traffic) wi

[2019-02-18 18:50] olix0r commented on #2300
The one thing I'll note: weights should almost definitely _not_ be specified as percentage (what do you do when there are other endpoints that match neither label, for instance?)  I'd strongly encourage using _weights_ (as we do in linkerd 1) -- where we say that all endpoints have a weight of 1.0, and endpoints may be weighted more heavily (larger numbers) or more lightly (smaller numbers).

a no

[2019-02-18 19:39] siggy commented on #217
Taking this a bit further, #2284 introduced a [.golangci.yml](https://github.com/linkerd/linkerd2/blob/5b836526b8018ae1315df87005a42a493b31ba55/.golangci.yml) file, which specifies which golangci-lint checkers to run.

To help improve the codebase further, we should work towards reducing the number of checkers in the `disable` list. Essentially repeat this pattern:
1. remove an item from the `disa

[2019-02-18 20:19] hawkw commented on #2309
AFAICT based on the linked issue above, it looks like the performance issues in 1.32 may be caused not by the use of jemalloc in general, but by a bug in the specific way jemalloc is linked or exposed to Rust. So, if we find that we're affected by these issues, we may want to consider re-assessing jemalloc later if/when the performance issues on 1.32 are resolved.

[2019-02-18 21:15] bourquep opened #2320 "Seeing "profile stream failed" warnings in proxy logs"
## Bug Report

### What is the issue?

I was seeing quite a few `WARN linkerd2_proxy::app::profiles profile stream failed: Grpc(Status { code: Internal })` proxy log entries across my pods. It does not seem to have a negative impact on my services

### How can it be reproduced?

Don't know

### Logs, error output, etc

`WARN linkerd2_proxy::app::profiles profile stream failed: Grpc(Status { code:

[2019-02-18 21:57] grampelberg commented on #2300
Any change to the pod spec will require a redeploy (annotations as well). It would be possible to change the *deployment* spec without a redeploy. However, users commonly stick things like timestamps in pod specs which would force the redeploy anyways.

Hmmm, I like that this scopes things down a little bit. It feels a little alien to the k8s way (tm) though. Selectors are a big concept across mos

[2019-02-18 22:27] grampelberg commented on #2173
@bourquep still seeing this?

[2019-02-18 22:31] klingerf commented on #2011
The increased timeouts have now been released as part of the stable-2.2.0 release; am going to close this.

[2019-02-18 22:31] #2011 closed

[2019-02-18 22:37] klingerf commented on #2320
@bourquep Thanks for reporting this. Can you also paste the logs from the `proxy-api` container, next time you see those warning in any of your `linkerd-proxy` containers? `linkerd logs -c proxy-api` should do the trick.

[2019-02-18 23:26] bourquep commented on #2173
Nope! 🎉

[2019-02-18 23:31] #2154 closed

[2019-02-18 23:32] #2311 closed

[2019-02-18 23:33] klingerf commented on #2173
Great, thanks @bourquep! Closing this out.

[2019-02-18 23:33] #2173 closed

[2019-02-18 23:35] bourquep commented on #2320
@klingerf The only logs I see from this container for the past 24 hours are a few `Establishing watch on endpoint xyz` entries, not many.

[2019-02-18 23:36] klingerf commented on #2320
Hmm, ok, that's good to know too, thanks.

[2019-02-18 23:55] siggy commented on #1704
@murarisumit Thanks for submitting that PR! I recommend we replace the existing `linkerd.rb` formula, as there was never much use case for installing Linkerd 1.0 via brew.

[2019-02-19 01:57] #2304 closed

[2019-02-19 04:22] murarisumit commented on #1704
@siggy okies 👍,  have made those changes into existing formula and pushed them.
Thanks for your comment up here in PR, was thinking about how to test more without k8s cluster

[2019-02-19 13:08] rnd4222 opened #2322 "linkerd2-proxy too many open files"
## Bug Report

### What is the issue?
linkerd2-proxy hangs when sending data via tcp to proxy port of linkerd2-proxy

### How can it be reproduced?
curl http://localhost:4140

### Logs, error output, etc
Script used to start linkerd2-proxy

[code]
Sending HTTP-request to proxy:
curl http://localhost:4140

Log is flooded with messages:

[code]

And lsof shows lots of connections for linkerd2-proxy

[2019-02-19 17:31] philwhln opened #2323 ""linkerd routes" fails due to non-.default.svc.cluster.local Host header"
Most of our traffic comes via an AWS ELB (created using `Service` of `type: LoadBalancer` with annotations - see below). Therefore the `Host` header in requests is not generally in the `foo.default.svc.cluster.local` format.

This means that even _after_ adding a `ServiceProfile` and running `linkerd routes` we see this error...
[code]

Looking at the code, it seems that we're silently ignoring er

[2019-02-19 17:45] ihcsim commented on #2260
@grampelberg @kl I want to get your thoughts on the kind of scenarios we'd like to cover during an `update` event. After some testing, these happy paths work:

* if a deployment isn't meshed, but it's annotated with `linkerd.io/inject: enabled`, then the proxy will be auto-injected
* if a deployment is already meshed, then no-op on the webhook. All custom proxy configs are preserved.

What about:

[2019-02-19 19:13] khappucino commented on #2219
A possible option may include cluster admins constructing a single daemonset CNI plugin. For example if we know we are using Calico and LinkerdCNI we may write a single config file that has both plugins in it. The binaries that each plugin references will be copied to the nodes as well.  In this configuration, nodes will either come up fully formed or in a state that pods cannot deploy on.

[2019-02-19 19:28] wmorgan commented on #62
Is this issue still relevant?

[2019-02-19 19:29] wmorgan commented on #421
Now in https://linkerd.io/2/features/load-balancing/

[2019-02-19 19:29] #421 closed

[2019-02-19 19:31] wmorgan commented on #475
Is this satisfied by https://linkerd.io/2/features/service-profiles/ ?

[2019-02-19 19:31] wmorgan commented on #565
This is in https://linkerd.io/2/tasks/upgrade/

[2019-02-19 19:31] #565 closed

[2019-02-19 19:37] adleong commented on #2323
Thanks, @philwhln!

To give a bit of context around this, when the Linkerd proxy gets a request, it tries to reverse engineer which service the request was sent to by looking at the Host header (authority).  If the host header is a fully qualified service name like `foo.default.svc.cluster.local` then it's easy to know which service was used and which service profile to look up.  If the host heade

[2019-02-19 19:38] wmorgan opened #2325 "remove vertical line in dashboard header"
Minor, but there is a vertical line in the dashboard header to the right of the Linkerd logo, and it would look better to follow the K8s dashboard's approach of "no such line".

![image 14](https://user-images.githubusercontent.com/4026/53042258-bd49f900-343a-11e9-9d19-6f08af5d83d1.png)

[2019-02-19 19:44] #2273 closed

[2019-02-19 19:44] wmorgan opened #2326 "tweaks to help navbar section"
Minor, but I think the help section of the dashboard would look better without a "Help" hierarchy (i.e. just have "Join the mailing list", "Join the Slack", "File an issue" straight on the dashboard).

![image](https://user-images.githubusercontent.com/4026/53042517-4b25e400-343b-11e9-90b6-15aedc32f435.png)

[2019-02-19 19:49] wmorgan opened #2327 ""community" navbar section"
I'd like to add a "Community" navbar item, above the help section, that loads a linkerd.io page (possibly as an iframe, ugh) and displays a notification bubble when this page has changed since the last view by this user.

cc @grampelberg

[2019-02-19 20:11] bourquep commented on #2276
So I can safely ignore those errors for now in stable-2.2.0?

[2019-02-19 20:14] klingerf commented on #2276
@bourquep That's correct. And we're planning on cutting a stable-2.2.1 release this week that includes the fix for this issue.

[2019-02-19 20:19] bourquep commented on #2320
So now, I have a public-facing service (api-v3) that is unable to communicate with other in-cluster services via gRpc. The proxy logs from that pod are:

[code]

Observations:
* None of the destination pods have been restarted recently.
* The control plane has not been restarted, all pods are healthy with a 0 restart count
* Communications started failing a few hours ago, everything was fine this

[2019-02-19 20:28] #2285 closed

[2019-02-19 20:31] grampelberg commented on #2260
@ihcsim I've not had adding the annotation work post-create.

+1 from me.

This feels like the right thing to do, but we should make it explicit instead of implicit. I'd hate for a user to accidentally get a new proxy version they weren't expecting. Perhaps it is another annotation? `linkerd.io/upgrade: true` ?

[2019-02-19 20:34] bourquep commented on #2320
I had to delete the 2 service profiles, then restart the control plane, in order to bring everything back to a working state.

[2019-02-19 20:42] grampelberg opened #2328 "Routes error message is misleading"
### What is the issue?

When there is no traffic to a service, running `linkerd routes` produces:

[code]

The error message should be `Error: No traffic observed over the last X minutes, see ... for more details`

[2019-02-19 20:43] grampelberg commented on #2328
@adleong now that we can fetch a service profile without metrics, can we just always show the table with 0s in all the columns?

[2019-02-19 20:45] grampelberg commented on #2323
Related to #2328

[2019-02-19 20:45] bourquep commented on #2320
Additional observation: After restarting the failing pod (api-v3), but before deleting the service profiles and restarting the CP, the `linkerd-proxy` logs for the restarted pod spewed an endless bunch of:

`WARN linkerd2_proxy::app::profiles error fetching profile for XYX`

Where `XYZ` is most of my other services defined in my cluster, for which I did not create service profiles.

[2019-02-19 20:50] ihcsim commented on #2260
Did you try with `kubectl annotate --overwrite`? Also fwiw, I'm using kubectl 1.13.0. (I'm gonna do some more testing in a bit.)

Following this AM discussion on auto un-inject. we probably not going to do it until #2289 has landed. There are also some lingering questions around the removal of the namespace-level annotation. Do we interpret that as the user's way of wanting to un-mesh all workload

[2019-02-19 20:52] grampelberg commented on #2260
`kubectl apply`

[2019-02-19 21:04] adleong commented on #2328
yes, I think this should be possible

[2019-02-19 21:10] rmars commented on #2208
This was fixed in https://github.com/linkerd/linkerd2/pull/2315

[2019-02-19 21:10] #2208 closed

[2019-02-19 21:42] rmars opened #2329 "Add TCP stats to the Linkerd Pod Grafana dashboard"
We should expose TCP stats in the Pod dashboard. When this happens, we should also link to this dashboard from the TCP tables in the dashboard. (https://github.com/linkerd/linkerd2/pull/2262#discussion_r)

[2019-02-19 22:17] ihcsim commented on #2260
@grampelberg and I tested this on his GKE cluster. It works after we updated the mutating webhook configuration to pick `update` events.

Also, we will limit the scope of this issue to the more common scenario of auto-injecting proxy into un-meshed workload, without the needs to re-deploy. Auto un-inject and proxy version upgrade will be addressed in separate issues.

[2019-02-19 22:51] klingerf commented on #2260
@ihcsim That all makes sense to me. I like your suggestion of only updating workloads that weren't previously injected in the first pass, and worrying about re-inject / upgrade later. And I agree that the reason why adding the annotation doesn't work today is that we're not watching update events.

[2019-02-19 23:33] siggy commented on #2316
Related: https://github.com/postmanlabs/httpbin/issues/536

[2019-02-19 23:49] siggy opened #2331 "proxy: inotify watch error on Debian stretch"
#2241 bumps the proxy's base Docker image from `debian:jessie-slim` to `debian:stretch-20190204-slim`. When Linkerd is deployed via TLS, we observe repeated `inotify watch error`s:
[code]

## Steps to reproduce

[code]

First reported at https://github.com/linkerd/linkerd2/pull/2241#discussion_r258260696

[2019-02-20 00:04] olix0r commented on #2164
What is the summary of "things in the admin install" versus "things in the user install"?  I.e. when we add new resources, what's the question that we use to determine which phase the resource should be installed within?

[2019-02-20 00:10] olix0r commented on #2164
Is it safe to summarize this issue as the following:
* Introduce an `install --admin` that emits CRDs, ClusterRoles, ClusterRoleBindings, and the linkerd-cni config
* `install --user` emits all other resources (including those previously installed by `install-sp`).

Is that it?

[2019-02-20 00:22] hawkw commented on #62
@wmorgan I'm not aware of anything that's happened recently that would fix it, but would have to test to confirm...

[2019-02-20 00:29] siggy commented on #2164
@olix0r That's basically the gist.

Another way to think about it:
- `linkerd install --admin` is for things that require privileges outside of a predetermined set of namespaces
- `linkerd install --user` is for things that only require privileges within a predetermined set of namespaces

There is still some discussion around supporting something like a `--single-namespace` mode, and how that woul

[2019-02-20 05:18] sudermanjr commented on #1455
I don't believe there is any distinction on the dashboard or in the grafana dashboards about which of the two metrics we are seeing (actual vs. non-actual).

[2019-02-20 13:42] bourquep commented on #2320
This morning, looking at the `linkerd-proxy` container logs from all my pods, I see that at some point proxies from most pods started spewing these:

[code]

With the last one (destination_set) being by far the most frequent, 10k occurrences in the last 6 hours.

The `proxy-api` logs still show a ton of `failed to parse duration for route` errors, which can be ignored, but nothing else except the

[2019-02-20 16:22] philwhln commented on #2323
Thanks @grampelberg !

I've added the following ServiceProfiles, but no metrics are coming in for this. All stats are sitting at zero.

[code]

[2019-02-20 16:27] grampelberg commented on #2320
This really sounds like https://github.com/Azure/AKS/issues/790. Have you tried rolling the tunnel instead of restarting the control plane yet?

[2019-02-20 16:29] bourquep commented on #2320
Not in the current scenario, no. I'll give it a shot next time.

[2019-02-20 16:31] grampelberg commented on #2323
What does the `:authority` look when you run `linkerd tap deploy/foo`?

[2019-02-20 20:07] #2029 closed

[2019-02-20 20:40] hawkw commented on #2310
@olix0r should this header also include ports, or just the IP?

[2019-02-20 21:57] grampelberg opened #2337 "Focus install by role and stage"
### Task Breakdown

- [x] #2719 introduce 2 new subcommands: `admin` and `user`
- [x] #2719 finalize stage naming
- [x] #2719 templatize stages
- [x] #2723 corresponding `linkerd upgrade` updates
- [x] #2765 corresponding `linkerd check` updates
- [x] #2474 `--single-namespace` removal
- [x] #2719 unit tests for subcommands
- [x] #2723 integration tests for subcommands

### Tasks we may or may not

[2019-02-20 22:17] klingerf commented on #2337
Just curious, how does this issue relate to #2164?

[2019-02-20 22:20] grampelberg commented on #2337
@klingerf I'm trying to organize everything from #2164 and think through the details a little bit more. Halfway through writing this up =)

[2019-02-20 22:21] klingerf commented on #2337
Ok cool, works for me.

[2019-02-20 23:11] grampelberg commented on #2337
Okay, I think I've got the entire flow laid out @klingerf and @siggy. See what you think!

[2019-02-20 23:24] ihcsim opened #2338 "Support Automatic Proxy Uninjection"
## Feature Request

### What problem are you trying to solve?
Automate the proxy uninject experience, so that a user can utilize the namespace and pod annotations to automatically uninject previously injected proxies. Currently, the proxy injector doesn't honor the `linkerd.io/inject: disabled` annotation during workload updates.

Continuation of #2260.
Depends on #2289.

### How should the proble

[2019-02-20 23:40] siggy commented on #2337
Thanks for the writeup @grampelberg. Some thoughts:

I'm onboard with:
- Subcommands, to elevate the stages above flags
- Rolling `--single-namespace` into the namespace admin command
- Eliminating `install-sp`

Open questions:
- Is it possible to keep `install-cni` out of scope for this change, as it won't necessarily be a recommended install flow, at least initially? We could always roll it into

[2019-02-20 23:42] ihcsim opened #2339 "New Annotation To Trigger Automatic Proxy Version Upgrade"
## Feature Request

### What problem are you trying to solve?
Support a new annotation (`linkerd.io/upgrade:true`) to trigger automatic proxy version upgrade using the proxy injector during workload updates. This can help to streamline the users' proxy version upgrade process, without the needs for CLI interaction. Currently, the proxy injector will skip all workloads that are already injected wit

[2019-02-21 00:28] adleong commented on #2337
The ClusterRoleBindings generated by `linkerd install config` will restrict which namespaces the Linkerd control plane can be installed into and which namespaces those control planes can watch.

Ideally we should be able to support multiple namespace isolated control planes in a single cluster, while also having sane and simple defaults that work for most people.  I have a proposal in https://gith

[2019-02-21 00:45] dadjeibaah commented on #2199
While reading all referenced issues and the description, I've got a couple of questions:

- What's the reasoning behind basing this on Alpine vs. our own Linkerd base image?  It seems to me that only the controller uses a scratch image. Issue #2167 mentions that this is for security reasons. Should we be concerned since we would be adding a debug container possibly in the control plane as well?
-

[2019-02-21 01:43] siggy commented on #2199
Re: Alpine vs. Linkerd's base image (`gcr.io/linkerd-io/base:2017-10-30.01`). I'd be fine using the Linkerd base image, and then adding more debug-specific tooling on top of it. To be clear, I'm not suggesting we modify the Linkerd base image itself. I think the security concerns arise from running a non-scratch image in production full-time. Deploying a one-off debug container for a limited perio

[2019-02-21 04:32] olix0r commented on #2184
I think https://github.com/linkerd/linkerd2/pull/2274 would be pretty slick as part of the CLI update, fwiw

[2019-02-21 14:02] bourquep commented on #2320
24 hours later, after deleting all of my service profiles in all namespaces and restarting the CP, the proxy logs have been pretty quiet.

[2019-02-21 15:55] olix0r opened #2342 "autoinject: Inject Pods rather than Deployments"
Currently, the autoinjector service watches deployments and adds proxies to deployments. However, deployments are only created/updated when a user invokes `kubectl apply`... As we introduce injector config that might be dynamic (i.e. a user may change it at runtime), this means that existing deployments would have no way of using this configuration as the deployments pods are (re-)created.

What i

[2019-02-21 16:25] #2260 closed

[2019-02-21 16:29] grampelberg commented on #2337
@adleong I'm not sure I understand why you need `--data-plane-namespaces`?

[2019-02-21 16:31] grampelberg commented on #2199
No good reason, I just like it better. I'm good using the debian base. It definitely needs to be updated, but that's in progress.

Debug container should not be anywhere by default, and injected alongside the proxy container. It is more valuable for workloads that aren't the control plane.

[2019-02-21 17:18] grampelberg commented on #2337
I tried to think through the end state, `install-cni` should definitely not be tackled all at once with the majority of these changes.

I'm not a huge fan of the roles, `linkerd install admin` and `linkerd install user` just seems weird - I'm not installing an admin or a user. Your ordering point is something I'd not thought of and is a great point though. Maybe `linkerd install step-one` and `lin

[2019-02-21 19:03] gamer22026 commented on #2320
Same issue for me (* stable-2.2.0) Not on Azure/AKS. Same fix (delete all serviceprofiles, restart CP).

[2019-02-21 20:00] scottcarol commented on #2325
@wmorgan @grampelberg, do you want just a vertical line deletion in the header, or do you also want the behavior of the K8s dashboard, where the full header bar remains at the top of the screen when a user is scrolling downward?

K8s header when user is at top of screen:

![k8s1](https://user-images.githubusercontent.com/2289389/53197148-72f98100-35ce-11e9-9c3e-82b81bfc32c2.png)

K8s header when u

[2019-02-21 20:46] christianhuening opened #2345 "Suspected Memory Leak in linkerd-proxy"
## Bug Report

### What is the issue?
`linkerd-proxy` container is using more than 35GB of memory
We're using TLS and auto-inject, running with Linkerd2  2.2 stable

### How can it be reproduced?
Run a Pod with TLS. Happens occasionally

### Logs, error output, etc
linkerd-proxy container output:
[code]

Metrics output (process_* only):
[code]

(If the output is long, please create a [gist](https:

[2019-02-21 20:53] grampelberg commented on #2325
+1 to having it be sticky

[2019-02-21 20:54] hawkw commented on #2345
Fairly sure this is caused by #2331. The polling-based fs watch implementation probably has a slow leak in it somewhere.

[2019-02-21 20:55] hawkw commented on #2331
It looks like this has been observed on stable-2.2 (see #2345) so I'm not convinced it's caused by switching from `jessie` to `stretch`?

[2019-02-21 21:05] wmorgan commented on #2325
Agreed!

[2019-02-21 23:08] dadjeibaah commented on #2199
Thanks for clarifying, I was able to get a debug container working. Do we want this container to run as a sidecar or as a pod running alongside a meshed pod? I ask because I would imagine that if we wanted to use something like ksniff, we would need to have the container running inside the meshed pod in order to capture packets coming in and out of the meshed pod.

[2019-02-21 23:12] grampelberg commented on #2199
It'll need to be in the same network namespace, so inside a meshed pod.

[2019-02-21 23:32] klingerf commented on #2331
@hawkw You're correct. I just verified that these warnings show up in the linkerd-proxy logs of the control plane components of a stable-2.2.1 deployment with TLS enabled on GKE. Am not seeing the corresponding increase in memory, however, as reported in #2345. And interestingly, I don't see these warnings when deploying demo to the same cluster -- in my case the warnings only show up in the contr

[2019-02-22 00:54] scottcarol opened #2347 "Tap start button remains disabled even if new resource is selected"
## Bug Report

### What is the issue?

If you run a Top query on a resource that does not return data, the buttons will be disabled even if you choose a new resource. An Unexpected close error also occurs in the terminal.

### How can it be reproduced?

From Web UI, click Top.
Enter a namespace (default) and a resource (statefulsets) that will not load data. Click 'Start'. The buttons will be disa

[2019-02-22 01:09] klingerf opened #2348 "Integration tests should validate control plane container logs"
## Feature Request

### What problem are you trying to solve?

When manually vetting a Linkerd build, it's easy to forget to look in the control plane's logs for warnings or errors that might be indicative of a problem. It's frequently the case that control plane components are spewing warnings or errors, but we don't notice them until after the code has already been released (e.g. #2331).

### Ho

[2019-02-22 01:23] hawkw commented on #2331
linkerd/linkerd2-proxy#195 fixes this; we'll have to investigate whether or not this resolves the memory leak as well.

[2019-02-22 01:50] #2326 closed

[2019-02-22 05:29] adleong commented on #2337
`--data-plane-namespaces` specify the namespaces which can be watched by the ClusterRole.  Without such a flag, we'd need the linkerd-controller ClusterRole to be able to watch all namespaces.  I think this is how it works today, but is probably over-permissive in some cases.

Probably not critical, but it's an easy thing to include that feels right for completeness and fits the theme of permissio

[2019-02-22 16:41] grampelberg commented on #2337
ClusterRoles encompass all namespaces. We'd need to get rid of the ClusterRoles and do a Role for every namespace (as RBAC is additive in k8s).

[2019-02-22 18:03] ihcsim commented on #2199
Not sure if [kubectl-debug](https://github.com/aylei/kubectl-debug) will be useful here. A bit similar to `kubectl exec`, but (I think) it injects a debug container (via a daemonset agent) into a pod using the `kubectl debug` plugin. If anything, for inspiration maybe.

[2019-02-22 18:06] olix0r opened #2350 "cli: fetch metrics dump from a specific pod"
When helping linkerd users debug proxy issues, it's helpful to get a spotcheck the metrics for a specifc pod.  For instance, today I said "can you `curl exec $pod -c linkerd-proxy curl localhost:4191/metrics`?"

It would be great if we just baked this into the linkerd cli. Ultimately, we shouldn't rely on `curl` in the proxy container (so that we can eventually run it in a minimalist image), and i

[2019-02-22 18:14] dadjeibaah commented on #2199
@ihcsim, kubectl-debug is super cool. Interesting approach having a debug server auto inject debug containers on demand.

[2019-02-22 18:22] olix0r opened #2351 "Remove --api-port from inject and install"
The --api-port is superfluous for install and inject -- there's no good reason a user would want to configure it. We should remove it.

[2019-02-22 18:23] olix0r commented on #2350
It's also important that this doesn't hardcode the port 4191 and instead looks up the port by name (in case it's overridden at inject-time).

[2019-02-22 18:39] grampelberg commented on #2199
Woah, that's cool. I didn't realize you could go directly to the kubelet and modify pods at run time. Not sure it'll work for us though ...

[2019-02-22 18:41] olix0r commented on #2199
There's another question as to whether this pod should run as the proxy user or not. Remember that the proxy user is not iptabled through the proxy and communicates directly with the external world... so you'll be unable to debug certain things, depending on which decision is made.

[2019-02-22 18:47] #2331 closed

[2019-02-22 18:53] grampelberg opened #2352 "port-forward traffic skips the proxy"
### What is the issue?

Issuing requests to a service that has been exposed via `kubectl port-forward` skips the proxy entirely. This makes testing service profiles a little challenging as it takes some effort to

### How can it be reproduced?

Run `port-forward` and `tap`, see that requests sent to `localhost` do not show up in tap. Verified via tcpdump.

[2019-02-22 19:04] olix0r opened #2353 "Wrangling proxy-to-control-plane communication"
The proxy has a special client it constructs to communicate with with the destination (and when additional control plane services are introduced, it will manage additional clients to these services). These clients currently have a distinct stack from outbound traffic, are not load balanced, and only resolve through DNS once connections fail.

Furthermore, because the proxy (and the gRPC control pl

[2019-02-22 19:12] grampelberg opened #2354 "Check kubectl version"
### What problem are you trying to solve?

It is common for users to have kubectl be out of sync with their cluster. `linkerd check` should look at the local kubectl version as well as the cluster.

[2019-02-22 20:13] adleong commented on #2337
Ah, you're right, I got mixed up about how that worked.  Seems a bit weird that you can't have a cluster level ClusterRole which grants access to a subset of namespaces... but anyway!

Given that, yeah, `--data-plane-namespaces` doesn't make sense.

[2019-02-22 23:12] grampelberg opened #2355 "CNI configuration is not cleaned up on deletion"
### What is the issue?

Removing the CNI DaemonSet from my cluster does not clean the plugin or configuration up.

### How can it be reproduced?

[code]

### Logs, error output, etc

(If the output is long, please create a [gist](https://gist.github.com/) and
paste the link here.)

#### `linkerd check` output

[code]

### Environment

- Kubernetes Version: 1.12.5-gke.5
- Cluster Environment: GKE
-

[2019-02-22 23:19] olix0r commented on #2352
Is the only solution to this to change the iptables behavior to intercept port-forwards? Or is it suitable to provide better debugging tools (i.e. #2199 ) that can exercise proxy behavior without port-forward?

[2019-02-22 23:23] siggy commented on #2355
FWIW I've observed this working sometimes but not all the time. In the failed cases the pod just exits before `cleanup()` executes.

Here's output from a success cleanup:
[code]

[2019-02-22 23:28] #2298 closed

[2019-02-23 00:16] klingerf commented on #2342
This seems like a good idea, and could be a fix for #1751. It would be worth verifying this assumption:

We can setup a webhook that watches pods and logs when the webhook is called, to figure out exactly when that happens in a pod lifecycle. I suspect it might only be called once per apply, and subsequent incarnations of the pod will just use the previously applied and modified yaml, instead of r

[2019-02-23 00:35] olix0r commented on #2342
I'm pretty confident that this _has to_ work: a pod doesn't actually exist until it's instantiated.  I.e. if i delete one pod in a deployment, a new pod is _created_ (with a new name), so there can't be a pod resource in the kubernetes API until then... But I certainly agree it's important to prototype this and to figure out what other metadata we have access to in the pod spec we receive from the

[2019-02-23 05:18] hpandeycodeit commented on #2354
@grampelberg I am interested in working on this one.  `linkerd check` to check the versions and tell the users that it's in sync or not?

[2019-02-23 16:35] olix0r opened #2359 "linkerd logs emits nothing"
[code]

outputs nothing, though running kubectl manually results in logs:

[code]

[2019-02-23 21:41] olix0r commented on #2342
Another thought: we may need to watch BOTH parent resource types (like Deployment) AND pods: the parent resource to add our own annotations, and the pod to actually do the injection. That is, if the webhook call we get for a single pod lacks that metadata.

[2019-02-24 00:23] jamesallen-vol opened #2363 "proxy: router at capacity error"
## Bug Report
### What is the issue?
I'm seeing logging errors stating the proxy router is at capacity from the linkerd-controller

### How can it be reproduced?
I'm currently running 9 meshed services. 8/9 deployments are running 2-3 pods. 1/9 of the deployments is running approximately 150 pods.

Checking the metrics of the linkerd controller using `kubectl exec linkerd-controller -n linkerd -c

[2019-02-24 00:29] olix0r commented on #2363
Thanks for the report, @jamesallen-vol

Can you describe a bit about the HTTP requests that this pod sends? How many services is this app a client of? How does the app set the `Host` header (if HTTP/1) for these requests?

Additionally, if you have a pod in this state, I'd be curious to see the output of curling `$pod:4191/metrics` (or running `kubectl exec ...pod... curl localhost:4191/metrics`)

[2019-02-24 16:56] olix0r opened #2370 "proxy: replace Error::cause with Error::source"
Rust's [`std::error::Error::cause`](https://doc.rust-lang.org/std/error/trait.Error.html#method.cause) has been deprecated. We should update our code to use `Error::source`.

[2019-02-24 18:01] olix0r commented on #2359
I think this may actually be something related to `kubectl logs -f` -- still, it's frustrating that we can't surface these errors.

[2019-02-24 21:52] hawkw commented on #2370
this might also be a good chance to double-check that all `source` impls do the right thing (i.e. don't return `Some(self)` when at the root error), too.

[2019-02-25 05:07] dadjeibaah commented on #2359
@olix0r Does running the command with the flag `--tail 10` result in any lines being shown?

[2019-02-25 11:15] budim12 opened #2373 "How i can uninstall it completely ?"
## Feature Request
I just install it, and i just trial this, i just wanna know what feature it have, and after that i want to remove this, how i could completely remove this tools ?

### What problem are you trying to solve?
Uninstall this tool..

### How should the problem be solved?
Some link that clear and easy to understand..

What do you want to happen? Add any considered drawbacks.

### Any

[2019-02-25 11:18] budim12 commented on #2373
`kubectl get deploy -o yaml | linkerd uninject - | kubectl apply -f -`
is it enough ?

[2019-02-25 13:04] mati865 commented on #2309
Rust 1.32 switched to system allocator (glibc on Linux) from jemalloc for produced executables. On recent systems (glibc 2.26+ IIRC) it improves performance and reduces memory usage for most of the typical cases. You can return to jemalloc with this crate: https://crates.io/crates/jemallocator

[2019-02-25 16:55] grampelberg commented on #2352
@olix0r I would like to be able to generate load for a service from my local computer and have that show up in stats. We could (and should) build out other debugging tools.

I think the core of this is that `port-forward` *doesn't* go through the proxy and so if you're doing some manual testing the way you've done it before, nothing appears to work. We'll need to add warnings/alerts into the dashb

[2019-02-25 17:05] grampelberg commented on #2354
@hpandeycodeit looks like @yb172 beat you to it with https://github.com/linkerd/linkerd2/pull/2358. Are you interested in small issues like this? I'll be creating a bunch this week and would be happy to ping you!

[2019-02-25 17:13] grampelberg commented on #2373
@budim12

[code]

[2019-02-25 18:36] wmorgan commented on #2322
Thanks for filing this, @rnd4222 . Are you running this proxy locally? What is your file descriptor ulimit?

[2019-02-25 18:42] ihcsim commented on #2342
If we watch the pods only, I believe the webhook will only receive and mutate the pod YAML in the admission request from the k8s API server, not the parent's `spec.template.spec.containers`. Hence, auto-injection will always be triggered because the pod YAML is based on the parent's original, unmeshed  `spec.template.spec.containers`.

Then I am not sure if we are gaining anything by watching the

[2019-02-25 18:53] hpandeycodeit commented on #2354
@grampelberg oh no :(
No worries then and yeah I will be happy to work if there are more issues.

[2019-02-25 19:15] #2373 closed

[2019-02-25 19:15] olix0r opened #2374 "proxy: expose http/2 flow control metrics"
Application owners don't have great visibility into when the linkerd proxy's flow control is throttling a stream. We should devise a metric that gives users a tool to understand windowing/flow control/throughput.

[2019-02-25 19:20] jonrichards opened #2375 "Update Prometheus URL in documentation"
## Bug Report

### What is the issue?
Linkerd2 documentation (https://linkerd.io/2/tasks/exporting-metrics/) has Prometheus URLs listed as `http://prometheus.linkerd.svc.cluster.local:9090`, but it should be `http://linkerd-prometheus.linkerd.svc.cluster.local:9090`.

### How can it be reproduced?
Run `kubectl get svc -n linkerd` and observe the `NAME` for the Prometheus service.

#### `linkerd ch

[2019-02-25 19:21] grampelberg opened #2376 "Make removing Linkerd easier"
### What problem are you trying to solve?

I'm writing up uninstall instructions and it would be nice to have a single `kubectl` command that selects everything with a proxy to uninject. Right now, it appears that `linkerd.io/control-plane-ns` is the only common label to select on (and that's not on the control plane components).

### How should the problem be solved?

Add a label `linkerd.io/inje

[2019-02-25 19:24] grampelberg opened #2377 "Uninject does not remove linkerd.io labels"
### What is the issue?

Running `uninject`, I would expect all the labels that linkerd adds to be removed.

### How can it be reproduced?

[code]

Labels are still there.

### Environment

- Linkerd version: stable-2.2.0

[2019-02-25 19:28] grampelberg commented on #2342
This feels like an improvement to me. When someone looks at the YAML in k8s it won't differ nearly as much for something like a Deployment. We'll also natively end up supporting more than just deployments.

Looking at some other solutions, it appears that watching for `CREATE` on pods is what other folks are doing (and not anything else). See https://github.com/istio/istio/blob/master/install/kube

[2019-02-25 20:05] olix0r commented on #2342
Consider the case where the control plane is upgraded, and so a new proxy version will be injected. If we only watch, e.g., deployments, then we require that the user update the _deployment object_ to get a new proxy version. By watching pods, upgrading to a new proxy is as simple as "delete the existing pods" and, as the replica set scales the deployment back up, the new pods get the new configur

[2019-02-25 20:28] grampelberg commented on #2374
@olix0r do you have an example of flow control doing something?

[2019-02-25 20:51] #2375 closed

[2019-02-25 22:13] grampelberg commented on #2323
Let's close this out once #2328 is taken care of.

@philwhln you're up and running right?

[2019-02-25 23:15] philwhln commented on #2323
@grampelberg Sorry, just saw this...

[code]

This is the same as `dst:` and is `<pod id><containerPort>`

[2019-02-25 23:17] philwhln commented on #2323
No, not seeing and traffic from `linkerd routes`

[code]

[2019-02-25 23:21] grampelberg commented on #2323
Gah, I'm sorry, I vaguely remember hashing it out with you on slack. The `:authority` header needs to match the route. If you're forwarding external traffic, the easiest thing would be to use that domain name (eg `foo.example.com`) as the name in the profile. As you're getting IPs in there .... that's a little odd. Is this through an ELB or an ALB?

[2019-02-25 23:25] philwhln commented on #2323
Through ELB

[2019-02-25 23:25] codeman9 commented on #2355
I remember this during development. It may be related to the shutdown grace period that is set in the daemonset. Right now it is on 5 seconds. Maybe we need to play with that a bit.

[2019-02-25 23:25] grampelberg commented on #2355
Should we use a `preStop` hook instead?

[2019-02-25 23:30] codeman9 commented on #2355
Yes, the documentation looks promising for prestop

[2019-02-25 23:32] grampelberg commented on #2323
So the `:dst` and `:authority` are identical? Is there anything that could be rewriting the host header? What env are you using? EKS? kops?

[2019-02-25 23:39] philwhln commented on #2323
We're using `kops` to generate the terraform that we then deploy on AWS.

[2019-02-25 23:42] grampelberg commented on #2323
What's providing `type: LoadBalancer`?

[2019-02-25 23:42] philwhln commented on #2323
Yes, this is correct

[2019-02-25 23:43] philwhln commented on #2323
Yes, here's an example of what it looks like...

https://gist.github.com/philwhln/cabdc868e9b88ae0acb122332a91a79e#file-test-sh-L79

[2019-02-25 23:51] grampelberg commented on #2323
There's a controller that is doing the automation of setting up the ELB. You wouldn't happen to know what that is?

[2019-02-26 00:58] philwhln commented on #2323
I'm not clear on the exact mechanism, but the kops (version `1.10.1`) we're using uses `k8s.gcr.io/kube-controller-manager:v1.10.12` and we pass `cloudProvider: aws` to kops config.

https://github.com/kubernetes/kubernetes/blob/v1.10.12/pkg/cloudprovider/providers/aws/aws.go

[2019-02-26 03:09] jon-walton opened #2382 "Memory leak in proxy-api"
## Bug Report

### What is the issue?

I woke up to alerts that one of the ingress controller pods was in crash loop backoff. It was the usual case of the ingress controller logs looking fine and then being killed due to failing a health check.

Looking further, I saw that the linkerd controller pods were using excessive amounts of memory (1.96GB, 535MB and 520MB). Linkerd was installed with `--ha

[2019-02-26 03:10] olix0r opened #2383 "Controller debug logging leaks serviceaccount secrets"
Our new control debug logging is great, but unfortunately it leaks the service account tokens into the logs.
[code]

This makes it difficult for us to ask for users to send us control plane debug logs, and is especially sensitive for the linkerd-ca (and soon linkerd-identity) services.

[2019-02-26 03:16] olix0r commented on #2382
Thanks for the great report @jon-walton. A few random questions...

About how many pods exist in your cluster? About how many of these were configured to use linkerd?

Were pods being created/deleted?

Had you created any service profiles?

[2019-02-26 03:22] jon-walton commented on #2382
`k -n ava get pod -l linkerd.io/control-plane-ns=linkerd --all-namespaces | wc -l`

adjusting for the linkerd pods, 16 pods are meshed, 95 pods exist in the cluster (including linkerd pods)

no pods were being created (the last pods created were 17 hours ago, waaay after the memory leak started

The only service profiles created are the ones with `linkerd install-sp`

[2019-02-26 03:31] jon-walton commented on #2382
@olix0r if my alerts are right, the ingress controller would have started to go into crash loop backoff around 4am (before the start of the charts unfortunately)

[2019-02-26 16:02] codeman9 commented on #2355
Can you try the following to see if it helps?

in the linkerd install-cni .yaml, this goes at the same level as `volumeMounts` as part of the `install-cni` container spec.
[code]

That may or may not be enough. If you still see this problem, then try this:

in the install-cni.sh change the bottom where the sleeping happens to:
[code]

[2019-02-26 16:18] olix0r commented on #2342
OK, and it does appear the pods should have enough information for us to discover ownership. From `v1.ObjectMeta`:

[code]

[2019-02-26 16:48] alpeb commented on #2342
Please let's wait for #2334 to land before tackling this :pray:

[2019-02-26 16:50] olix0r commented on #2342
@alpeb absolutely. i've just been noting things i've learned as i bump against the API... I've no plans to work on this ;)

[2019-02-26 17:05] rnd4222 commented on #2322
@wmorgan Yes, proxy is running locally.
The problem, I believe, is that linkerd2-proxy expects CONNECT method.
File descriptors are leaking in a tight loop, so it doesn't matter what ulimit I set - it does exhausted very quickly anyway.

[2019-02-26 17:13] olix0r commented on #2374
@grampelberg flow constraints how much data can be in-flight on a given connection/stream. If a client is sending data faster than a receiver can consume it, flow control is the mechanism that puts backpresure on the sender.  It's an important part of debugging "why is this slow?" or "why isn't anything happening?"

[2019-02-26 17:17] grampelberg commented on #2323
Could you try this with emojivoto? I just spun up an EKS cluster, used the ELB that is setup automatically with emojivoto and am at least getting `:authority` that I'd expect (you'll want to `kubectl -n emojivoto delete deploy vote-bot` to make things a little easier to read).

[code]

I can't see any reason why an ELB would be rewriting the `Host` header to a pod's destination IP.

[2019-02-26 17:19] grampelberg commented on #2374
Sounds like something that should go into #2271

[2019-02-26 17:28] christianhuening opened #2384 "Updating image on injected deployments tries to route to non-existent pods"
## Bug Report

### What is the issue?
When using auto-inject to deploy linkerd2 into Pods and then after initial deploy using `kubectl set image...` to update the image of a deployment which is injected. the following errors start appearing in the rolled-over pods:
[code]
In that case `10.7.106.1` is not owned by any Pod in the cluster and leads to the linkerd2 health and readiness checks failing

[2019-02-26 17:30] ihcsim opened #2385 "Decouple CLI install From inject"
The current CLI `install` code depends on the `inject` code to modified the Kubernetes resource YAML manifests. This coupling requires us to modify the `inject` code  to depend on the `globalConfig` and `proxyConfig` pb structs even though the `inject` code doesn't require it. Once #2334 is merged, we should be able to break this dependency, and update `install` to call the `/pkg/inject/` lib.

[2019-02-26 17:34] olix0r commented on #2383
It appears that there should be a way to disable this logging:

https://github.com/kubernetes/kubernetes/blob/d262343acdabf585d889a2e51034061a6b24f176/staging/src/k8s.io/client-go/transport/round_trippers.go#L418-L421

[2019-02-26 17:43] grampelberg commented on #2384
What does `linkerd endpoints` look like when this is happening?

[2019-02-26 17:51] olix0r commented on #2383
It appears that, in order to log URLs or responses with klog, one must also log request headers, which include the `Authorization`.

https://github.com/kubernetes/kubernetes/blob/7a4496429d7965f3b9ef7df86d91b294b8d77eb2/staging/src/k8s.io/client-go/transport/round_trippers.go#L68-L81

Honestly, I don't think we can/should include these logs with our debug logs. Our application's debug logging shou

[2019-02-26 17:55] philwhln commented on #2323
@grampelberg I was having trouble getting the `emojivoto` working.

Instead, I jumped on the k8s host and had a look at the traffic going to `linkerd-proxy` for my app...

[code]

I'm seeing the Host header as I'd expect it. e.g `foo.<external domain>`, which is a CNAME to the ELB's hostname.

[code]

[2019-02-26 17:56] grampelberg commented on #2385
To get to the point where a helm chart is published, the `install` flow will need to do inject somehow outside of the usual inject flow (or maybe they need to be unified?). This is obviously not a blocker or anything, just something to think about while the code's being moved around.

[2019-02-26 17:56] dadjeibaah commented on #2383
That makes sense and I agree, based on the link you posted, the best debug log level to achieve this would be `6`. I can create a new issue that addresses the k8s API flag.

[2019-02-26 17:58] grampelberg commented on #2323
TIL, badass use of `strace`.

And `linkerd tap deploy/foo` still has the wrong `Host`? Editing the service profile to use `foo.<external domain>` doesn't work?

[2019-02-26 17:59] olix0r commented on #2383
@dadjeibaah i'd hold off on that for now. i'm about to push a pr for this change. we can revisit higher verbosity if we ever actually find a need for it...

[2019-02-26 18:04] olix0r commented on #2383
With lesser logging, we get lines like:

[code]
which probably seems sufficient for our immediate needs.

[2019-02-26 18:14] philwhln commented on #2323
Ok, so it looks like I was half wrong previously. `linkerd tap deploy/foo` is returning `:authority=<pod ip>:<app port>` for requests from k8s and `:authority=<elb hostname>` for external requests. So `tap` appears to reflect what I'd expect.

Although `linkerd routes` is still returning zeros on the service/cluster where I made that explicit `curl -H "Host: foo.default.svc.cluster.local"` from an

[2019-02-26 20:03] christianhuening commented on #2384
i am trying to reproduce. It's flappy it appears. Will continue tomorrow.

[2019-02-26 20:13] olix0r opened #2390 "proxy: Expose stream concurrency limit settings"
The proxy should accept a configuration that controls the default value of `SETTINGS_MAX_CONCURRENT_STREAMS` for the inbound routerr. Probably `LINKERD2_PROXY_INBOUND_MAX_CONCURRENT_STREAMS`.

[2019-02-26 20:20] olix0r opened #2391 "proxy: Test what happens when the controller's stream limit is reached"
What happens when the controller's stream limit is reached?

In order to start improving our monitoring and failure management behavior, we should instrument an integration test (i.e. in the proxy repo) that configures a controller with a very low stream limit. Then, we should test to ensure that outbound requests fail as expected when the stream limit is reached. We should probably also check for

[2019-02-26 20:32] olix0r opened #2392 "proxy: Load balance requests to the control plane"
The control plane client does not use a load balancer. It should.  We should discover the control plane via DNS, and ultimately via SRV records.

[2019-02-26 20:34] olix0r opened #2393 "install: Do not use a clusterIP for proxy-facing services"
When #2392 is done, we should stop exposing the linkerd-destination service with a ClusterIP, instead using a headless service.

[2019-02-26 20:37] grampelberg opened #2394 "Query non-standard incoming service profile names"
### What problem are you trying to solve?

External traffic is directed at a service of mine that has been injected. I would like to see per-route metrics but am unable to modify the incoming `Host` header. Creating a service profile with a name of `example.com` collects metrics, unfortunately it is not possible to query these outside of prometheus.

### How should the problem be solved?

I would

[2019-02-26 20:37] grampelberg commented on #2323
If you change the name of the service profile from `foo.default.svc.cluster.local` to `<elb hostname>`, the metrics will be collected. Unfortunately, there's no way to query those with the CLI right now.

Ideally, you'd rewrite the host header to match `foo.default.svc.cluster.local` and everything would work (see the [ingress documentation](https://linkerd.io/2/tasks/using-ingress/)). I've opened

[2019-02-26 20:38] grampelberg commented on #2394
Similar section of code to #2328

[2019-02-26 20:40] olix0r opened #2395 "destination: Increase MAX_CONCURRENT_STREAMS"
The destination service's grpc interface should use a larger MAX_CONCURRENT_STREAMS value (of, let's say 10K).

This should be configurable on the grpc server:

https://github.com/grpc/grpc-go/blob/3aaef9f0c1b114366cb4507ba4f3c083b17d2f4e/server.go#L259-L265

This isn't really important until https://github.com/linkerd/linkerd2/issues/2390 is done.

Once this is done, linkerd router capacity limit

[2019-02-26 20:42] olix0r opened #2396 "proxy: expose http/2 window configuration"
We should expose an environment configuration that controls the default stream window size so that we can test alternate values without recompiling.

[2019-02-26 20:43] manimaul opened #2397 "High latency when host header is not present"
## Bug Report

### What is the issue?

High latency when host header is removed via a L5d injected Traefik ingress controller.

### How can it be reproduced?

Linkerd inject an ingress controller capable of removing host headers and adding custom headers.
Compare using a coordinated omission load test tool such as wrk2 results with host header removed and not removed.

### Logs, error output, etc

[2019-02-26 20:51] olix0r commented on #2397
Thanks for the great report @manimaul. This is, indeed, very surprising!

My first guess is that, when a Host is present, we are able to treat the request as proper HTTP/1.1, which means we can (1) maintain connections with the endpoint and (2) use HTTP/2 multiplexing between proxies.

When a Host is not present, I believe that we treat the request as HTTP/1.0 (because it doesn't meet the 1.1. spe

[2019-02-26 21:06] philwhln commented on #2323
As mentioned here, I already have a `ServiceProfile` for each possible hostname.
https://github.com/linkerd/linkerd2/issues/2323#issuecomment-465649112

[code]

You mean `linkerd routes` only works with the `foo.default.svc.cluster.local` ServiceProfile?

[2019-02-26 21:18] grampelberg commented on #2323
Yes, the CLI command is unable to look up the metrics in prometheus that have been labeled correctly. You can see the metrics by doing a query of `route_request_total{dst="<elb hostname>:<pod port>"}`.

[2019-02-26 22:27] grampelberg commented on #2397
This appears to be related to something in the client side of Linkerd. Load testing configuration:

[code]

Note: it appears that Traefik does include a `Host` header, it just becomes the IP:port combo for the destination pod.

Here's the three configurations I've tried:

- web-svc.emojivoto injected, slow_cooker not injected

[code]

- web-svc.emojivoto injected, slow_cooker injected

[code]

[2019-02-26 23:13] klingerf commented on #2376
I already mentioned this to @grampelberg, but wanted to note that our current inject implementation only modifies pod specs; it makes no modifications to parent resources. If we want to start modifying parent resources to include the `linkerd.io/injected: true` annotation, that is going to have some implications for #2342, which proposes that we switch our auto-inject implementation to watch pods

[2019-02-27 00:00] #2383 closed

[2019-02-27 03:07] scottcarol commented on #2327
@wmorgan When you say "loads a linkerd.io" page, do you mean the navbar item would load the "Community" page on linkerd.io (screenshot attached)?

<img width="1198" alt="community" src="https://user-images.githubusercontent.com/2289389/53462649-6ffcf700-39f9-11e9-92ee-43ef02bdafad.png">

[2019-02-27 11:00] reegnz commented on #1751
I just encountered this issue with StatefulSet, verified that it also doesn't work with DaemonSet.

I think the best approach would be to move towards injecting pods like suggested in #2342

[2019-02-27 16:20] wmorgan commented on #2327
Not a bad idea, but my sense is that page might look a little funky if we
just iframe it. I’d prefer having a dedicated page for this that doesn’t
have all the header/footer stuff and feels like part of the dashboard.

On Tue, Feb 26, 2019 at 7:07 PM Carol A. Scott <notifications@github.com>
wrote:

--
-William

[2019-02-27 16:46] grampelberg commented on #2327
I'm envisioning something a little more news/blog style than the community page.

[2019-02-27 16:56] grampelberg opened #2402 "Create manual helm chart"
### What problem are you trying to solve?

We're slowly working on getting `install` to use an actual helm chart. Unfortunately, #2385 is currently blocking the process. This is because the control plane has proxies injected and the only way to inject proxies currently is via the `inject` code which isn't usable from helm.

### How should the problem be solved?

In the mean time, there's no reason

[2019-02-27 16:57] grampelberg commented on #2402
See https://github.com/helm/charts/blob/master/CONTRIBUTING.md#technical-requirements for the full requirements. Sounds pretty reasonable based off what's there today.

[2019-02-27 17:17] scottcarol commented on #2327
Sounds good! Some clarifying questions:
* What is the overall purpose of the Community page? To highlight Linkerd news/opportunities to users who use the CLI/dashboard but might not visit our main webpage?
* Will this be a dashboard-specific Community page, accessible only through a link on the dashboard (or the direct URL)? Or will this be a new page publicly linked on linkerd.io?
* @grampelberg,

[2019-02-27 17:21] grampelberg commented on #2327
- Announce new versions
- Warn of security issues or bugs
- Solicit the community for information such as surveys, who's running in production, ...

I'd start off making it direct for now. We can decide if it is valuable as a replacement for `blog.linkerd.io` later.

As the unofficial website owner, I guess I'd own the page. It'd be manual and should fit in with the standard hugo methods of conten

[2019-02-27 17:26] scottcarol opened #2403 "Move section titles of Web UI into tables to conserve space"
From comments for #2297 by @siggy and @rmars:

The section titles in the web UI should be moved into the tables themselves to conserve space.

_Originally posted by @rmars in https://github.com/linkerd/linkerd2/pull/2297_

Currently the filter feature adds extra space:

![extra space](https://user-images.githubusercontent.com/2289389/53509918-b2fab100-3a71-11e9-96bb-59c7623c3493.png)

[2019-02-27 17:45] cohix commented on #2402
Injecting the sidecars "manually" for now seems like a good stop-gap to me.

In the future, it feels like [helm post-install hooks](https://github.com/technosophos/k8s-helm/blob/master/docs/charts_hooks.md) would be a decent solution to run the inject code after the control plane pods come up.

[2019-02-27 17:52] grampelberg commented on #2402
I hadn't even thought of that, good suggestion! Another possibility would be to use a `pre-install` hook that adds the injector before the rest of the control plane components are added. That way we'd not run into any weird identity bootstrapping issues. @olix0r you're in the trenches there right now, what do you think?

[2019-02-27 18:04] jamesallen-vol opened #2404 "Merging of PUTS and POSTS route metrics"
## Feature Request
Merge specific requests in a service profile. (e.g. totaling all PUTS and POSTS to a specific route)

### What problem are you trying to solve?
This would allow requests that commonly result in a write to a database (PUTS, POSTS, DELETES) to be tracked with route metrics. Likewise read requests (GETS) could be tracked separately as well.

### How should the problem be solved?
Ad

[2019-02-27 18:09] gaurav9825 commented on #2403
@scottcarol  if possible would love to work on this issue

[2019-02-27 18:12] scottcarol commented on #2403
Hey @gaurav9825! This issue will build on the UI changes I'm making in PR #2297. That PR is still being reviewed and I'm incorporating feedback - once it's merged you can definitely grab this issue!

[2019-02-27 18:12] #2370 closed

[2019-02-27 18:13] gaurav9825 commented on #2403
Sure thank you !

[2019-02-27 18:43] alpeb commented on #2377
We only inject annotations and labels at the pod spec template level, so that's what `uninject` is currently removing. But it appears that when the deployment we injected gets applied in Kubernetes, the labels (not the annotations) get copied from the pod spec template into the Deployment metadata. I'll see if I can have `uninject` get rid of those as well.

[2019-02-27 18:45] grampelberg commented on #2377
That's useful to be aware of in relation to #2376.

[2019-02-27 18:51] olix0r opened #2405 "proxy: Replace router eviction strategy"
The proxy current implements a router with a fixed maximum capacity. Each time a request is dispatched to a service, the service is marked with at timestamp. When the router's capacity is full, the oldest, idle services are removed to create new capacity.

This has some drawbacks. For one, we only teardown routes once the capacity is full, rather than letting them idle-out after a time-period.

Ca

[2019-02-27 18:52] klingerf commented on #2377
@alpeb Good find! This also relates to #2342.

[2019-02-27 19:27] grampelberg commented on #1285
@olix0r is this still valid? Seems pretty useful.

[2019-02-27 19:33] alpeb commented on #2377
While we're at it, we're gonna fix this while also removing _all_ the labels and annotations that start with "linkerd.io/", not just the list of hard-coded ones we currently have.

[2019-02-27 20:15] olix0r commented on #1285
As far as I understand, the skip-ports configurations impact both iptables and the proxy today. So, it's probably technically possible to stop setting this configuration on proxy-init, though I'm not clear on the benefits of using the proxy in this scenario.

[2019-02-27 20:16] grampelberg commented on #1285
TCP metrics for now, possibility of TLS in the future (obviously with lots of details to sort out).

[2019-02-27 20:18] #2217 closed

[2019-02-27 21:01] klingerf opened #2407 "Control plane access review requests fail when proxy is unavailable"
When installing the control plane from latest master, I see that some components have restarted:

[code]

Looking at the logs for a container that restarted I see this printed immediately prior to exiting:

[code]

This appears to be a result of the RBAC checks that were added in #2349. We need to add code that retries those requests until they are successfully returned, rather than exiting, to ac

[2019-02-27 21:15] olix0r commented on #2407
As @siggy and I discussed, one potential quick-and-dirty (maybe temporary) solution to this is to simply add 443 to the set of outbound skip ports. We don't get any real value from forwarding the TLS stream through the proxy, and it introduces a set of annoying operational issues that are difficult to fully eliminate (until kubernetes offers better ordering primitives).

[2019-02-27 21:55] klingerf commented on #2348
As part of this change, it would also be good to validate that no control plane containers have restarted after all integration tests have completed. That will help to catch issues like the one described in #2407.

[2019-02-27 22:32] kleimkuhler commented on #2363
@jamesallen-vol I’m trying to figure out if this behavior should be expected with default configurations, or if you are experiencing a bug in the router logic. If you still have the proxy router in a state that you would be to answer some of Oliver’s questions above, that would be super helpful!

Also, is the application is doing any of its own service discovery or load balancing? Are you aware of

[2019-02-27 22:36] rmars commented on #2327
Yeah! I think a JSON feed for things on the page would make a lot of sense.

I'm assuming we'll do something similar to how we do version checks; maybe issuing a call to something like `https://versioncheck.linkerd.io/community.json`, which would return json, and then on the dashboard, just rendering each section as usual.

I think this could probably be done in two parts, so that we can make incr

[2019-02-27 22:42] grampelberg commented on #2327
If we do something like `https://linkerd.io/dashboard.json`, hugo can generate the whole thing via template. There's some question in my mind about sticking CORS headers in there (we can do it now at least). Push comes to shove we can just get around it by going old-school JSONP.

I'd like for this to just be an embedded iframe to start with.

[2019-02-27 23:51] seanmonstar commented on #2390
This mentions the inbound router, is that supposed to mean the capacity (that's mentioned in #2405)? Or specifically the HTTP2 setting?

[2019-02-28 00:12] hawkw commented on #2390
@seanmonstar I believe this is referring specifically to the HTTP2 setting.

[2019-02-28 02:09] scottcarol opened #2413 "Implement stable sort for web UI"
Currently we are using the native JavaScript `sort()` method to sort columns in our web UI. This leads to unexpected behavior when a table is re-rendered, where order of the rows may not be preserved in `BaseTable` despite no change to the `orderBy` or `order` values.

Proposed solution:

Switch from native `sort` to Lodash `_sortBy` which is a stable sort. Rewrite the `sorter()` methods in `Metri

[2019-02-28 02:25] seanmonstar commented on #2390
FWIW, in Rust's `h2` case, this would be to reduce the limit, since the HTTP2 spec says that without specifying this setting, there is no limit set, and `h2` doesn't set a default.

[2019-02-28 02:28] #1250 closed

[2019-02-28 02:28] #1249 closed

[2019-02-28 02:28] #1248 closed

[2019-02-28 02:28] #1269 closed

[2019-02-28 02:28] #1251 closed

[2019-02-28 02:28] #1254 closed

[2019-02-28 02:28] #1253 closed

[2019-02-28 02:28] #1277 closed

[2019-02-28 02:28] #1271 closed

[2019-02-28 02:28] #1350 closed

[2019-02-28 02:28] #1240 closed

[2019-02-28 02:28] #416 closed

[2019-02-28 02:28] #917 closed

[2019-02-28 02:28] #1029 closed

[2019-02-28 02:28] #1281 closed

[2019-02-28 02:28] #307 closed

[2019-02-28 02:45] olix0r commented on #2390
@seanmonstar okay, if we don't configure a stream limit within our stack, then this can be closed and we should focus (in another issue) on altering the destination service's default, which I (perhaps incorrectly?) is limited at 100.

[2019-02-28 02:45] #2390 closed

[2019-02-28 03:43] ihcsim commented on #2345
@christianhuening Can you try out the latest [edge-19.2.5](https://github.com/linkerd/linkerd2/releases/tag/edge-19.2.5) release to see if it resolves this issue? Let us know how it goes.

[2019-02-28 07:41] yb172 opened #2415 "Update "Getting started" documentation to have autoinjection"
Currently "Getting started" guide [contains command to install linkerd without auto injection](https://linkerd.io/2/getting-started/#step-3-install-linkerd-onto-the-cluster). It would be nice to have a paragraph that describes how to install auto injection

[2019-02-28 13:48] christianhuening commented on #2345
@ihcsim updated, I'll report back, should I see another high mem use

[2019-02-28 16:18] bdimcheff commented on #2192
Anyone know what [istio is doing](https://istio.io/docs/tasks/traffic-management/egress/#configuring-istio-external-services) to deal with tls?

[2019-02-28 17:36] previousdeveloper opened #2417 "gRPC kubernetes load balancer"
How to make gRPC kubernetes load balancer integration with linkerd ? We couldn't make well. Is there any enough doc ?

[2019-02-28 17:41] christianhuening opened #2418 "Linkerd 19.2.5 not auto-injecting into all containers"
## Bug Report

### What is the issue?
When using Linkerd 19.2.5 with mTLS and auto-inject it does work for some Deployments in an annotated namespace and for some not.

The deployments are almost the same except for some command args of the starting container. Also both do not contain disabled annotations. Here are some specs:

Working:

[code]

vs. not working

[code]

And here are excerpts from

[2019-02-28 18:08] ihcsim commented on #2418
Following our _slack_ convo, please let us know if this is reproducible in another namespace on your cluster. For the record, the proxy injector will skip the mutation if either:

1. There is another proxy sidecar or proxy init container (including istio and envoy) in the same workload
1. There is a `linkerd.io/inject: disabled` explicitly defined either at the namespace or pod level. (This doesn'

[2019-02-28 18:32] klingerf commented on #2415
@yb172 Thanks for reporting this. We have a separate page about enabling auto-injection, [here](https://linkerd.io/2/tasks/automating-injection/), but I agree that it could make sense to link to that from the Getting Started guide. I'm going to move this issue to the [website](https://github.com/linkerd/website) repo so that we don't lose track of it.

[2019-02-28 18:34] grampelberg commented on #2192
It appears that they require [configuration](https://istio.io/docs/examples/advanced-egress/egress-tls-origination/#tls-origination-for-egress-traffic). My understanding is that istio's egress is opt-in (eg all traffic is blocked by default), so that makes some sense.

[2019-02-28 18:37] klingerf commented on #2417
Hey @previousdeveloper, check out the [Getting Started guide](https://linkerd.io/2/getting-started/), which walks you through installing Linkerd and and a demo application that uses gRPC. Linkerd will work seamlessly with your existing gRPC clients and servers. If you have questions after completing the Getting Started guide, please ask in the [Linkerd slack](https://slack.linkerd.io/); we use Git

[2019-02-28 18:37] #2417 closed

[2019-02-28 18:38] klingerf commented on #2417
Ah, and I forgot that there's also a thorough blog post about this topic on the Kubernetes blog, here: https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears/

[2019-02-28 19:06] seanmonstar commented on #2395
In both the server and client case, unless otherwise limited, the max is `u32::MAX` (in grpc-go) as well. That `defaultMaxStreamsClient = 100` bit appears to be used by the client [until it receives the first `SETTINGS` frame](https://github.com/grpc/grpc-go/blob/3aaef9f0c1b114366cb4507ba4f3c083b17d2f4e/internal/transport/http2_client.go#L985), probably to protect from sending thousands of streams

[2019-02-28 19:43] jonrichards opened #2419 "Mark High Availability as non-experimental"
## Bug Report

### What is the issue?
The help text for `linkerd install` shows HA as experimental. The website (https://linkerd.io/2/features/ha/) also shows it as experiemental.
### How can it be reproduced?
Run `linkerd install -h`.
Visit https://linkerd.io/2/features/ha/.

# Environment
- Linkerd version: 2.2.1

### Possible solution
Remove phrasing for "experimental".

[2019-02-28 19:52] klingerf commented on #2407
This was fixed by #2411

[2019-02-28 19:52] #2407 closed

[2019-02-28 20:21] StevenACoffman commented on #2192
It looks like they are moving to using their own CNI: https://github.com/istio/cni

[2019-02-28 21:31] bdimcheff commented on #2192
yeah i think what's interesting about istio's docs above is that (in their example) it allows you to exec into the pod and then `curl https://www.google.com`, presumably without getting a cert error. That config must somehow configure a mitm, no?

fwiw it'd definitely meet our needs if we needed to define service profiles (or some other k8s crd config) for each external TLS service that we wanted

[2019-02-28 22:06] scottcarol opened #2420 "Order of tables changing unexpectedly in Top Routes Web UI view"
## Bug Report

### What is the issue?

Originally spotted by @rmars.

In the newest edge release (19.2.5) if you have booksapp installed, go to http://localhost:8084/routes?namespace=default&resource_type=deployment to get to the Top Routes page on the web UI. Click "Start" and wait for a few seconds, you'll see the order of the deployment tables (books, authors, etc.) change.

I haven't looked ba

[2019-02-28 22:10] scottcarol commented on #2420
Ok, just checked and this is happening in the stable release 2.2.1 as well. Good 👁 @rmars!

[2019-02-28 22:40] grampelberg commented on #2192
@bdimcheff as I understand the docs a `curl https://www.google.com` without a VirtualService will not  be mitm'd or have any stats. I *tried* to figure out the egress prometheus metrics and gave up though, so I might be entirely wrong.

I still really like the idea of mitm, especially if the injector can put trust bundles in the correct place automatically. We'll just need to figure out how feasib

[2019-02-28 22:56] bdimcheff commented on #2192
yeah that's my understanding as well, which I think is fine/expected. I appreciate the ways in which linkerd just magically works, but in this case I'm definitely willing to write some config. There may be some outgoing TLS connections that I legitimately _don't_ want linkerd to intercept, and it seems reasonable to me for TLS MITM to be opt-in.

[2019-02-28 23:06] siggy commented on #1732
For reference:
https://github.com/istio/istio.io/blob/52e19a81a20f6727966333af00630e9de32b44f7/content/help/ops/setup/required-pod-capabilities/index.md
https://preliminary.istio.io/help/ops/setup/required-pod-capabilities/

[2019-03-01 00:17] hawkw commented on #2320
Hi @bourquep and @gamer22026, we've recently merged a PR (#202) that should improve the error messages for those gRPC errors.  If you're able to upgrade to edge-19.2.5, the improved error messages will hopefully help us to track down where the problem is coming from!

@gamer22026 Yeah, the proxy uses gRPC internally for talking to the control plane, so seeing gRPC error messages in the logs for se

[2019-03-01 06:17] BK1603 commented on #2419
I'd like to help with this one!

[2019-03-01 11:10] christianhuening commented on #2418
It's reproducible in another namespace as well. Interestingly enough it's always the same deployments. I double checked they don't have `linkerd.io/inject: disabled` defined and we certainly do not have istio in the cluster.

[2019-03-01 11:36] jon-walton opened #2423 "linkerd-controller causing outage in 2.2.0?"
## Bug Report

### What is the issue?

Numerous times this week, sites behind our ingress controllers have been unavailable. Upon digging into it, the following is flooding through the ingress-controller logs

[code]

and this flooding through one of the linkerd-controller pod (i have 3 running)

[code]

If I restart that controller pod, another pod starts flooding the errors. Restarting that seco

[2019-03-01 12:49] bourquep commented on #2320
@hawkw Will upgrade this weekend!

[2019-03-01 17:15] ihcsim commented on #2418
Strange :thinking: Are you able to send me a stripped down version of the deployment YAML?

[2019-03-01 17:19] christianhuening commented on #2418
@ihcsim sure, where to?

[2019-03-01 17:26] vaibhavk commented on #2073
I would like to work on this issue

[2019-03-01 17:30] christianhuening commented on #2418
Working:

[code]

[2019-03-01 18:04] #2354 closed

[2019-03-01 18:14] wmorgan commented on #2073
@vaibhavk sounds good. We need a final call on the `x-linkerd-retry` question first, from @grampelberg or someone else, but feel free to assign the issue to yourself and get started in the meantime!

[2019-03-01 19:31] ihcsim opened #2425 "Proxy Injector Webhook Not Updated During Version Upgrade"
## Bug Report

### What is the issue?
During a version upgrade from 2.2.1 to 19.2.5, the proxy injector MWC doesn't pick up the latest configurations. The only configuration that is [updated is the CA bundle](https://github.com/linkerd/linkerd2/blob/4cd1f99e89691c1544d796c0d599d477e52fe030/controller/proxy-injector/webhook_config.go#L104), to ensure the CA bundle in the MWC is the same with that i

[2019-03-01 20:55] #2395 closed

[2019-03-01 21:47] #1792 closed

[2019-03-01 22:26] gamer22026 opened #2427 "Websockets for top/tap not working through nginx ingress controller"
## Bug Report

### What is the issue?
After setting up an ingress (kubernetes/ingress-nginx) for linkerd dashboard, there are websocket errors and neither top nor tap work. We use the same ingress controller for our own websocket based app so it's not related to the ingress controller.
### How can it be reproduced?

### Logs, error output, etc
From linkerd-web logs:
[code]

#### `linkerd check` ou

[2019-03-01 22:51] scottcarol commented on #2403
Hey @gaurav9825 we ended up resolving this in PR #2297 so I'm going to close this issue. If you're interested in other UI issues let me know!

[2019-03-01 22:51] #2403 closed

[2019-03-01 22:54] gamer22026 commented on #2427
Update: Working for me now. The docs https://linkerd.io/2/tasks/exposing-dashboard have the `nginx.ingress.kubernetes.io/upstream-vhost` annotation being set, but if the nginx ingress controller is not meshed, this is not needed and actually breaks the websockets being used in the dashboard. Leaving this open in case the docs need to be modified.

[2019-03-02 01:16] #2007 closed

[2019-03-02 03:24] SUMUKHA-PK commented on #1903
Hello people! I saw this under the GSoC projects list and Im interested. Currently building linkerd. Can I know how to reproduce the above issue?

[2019-03-02 07:42] christianhuening commented on #2418
So i found that I am still running on an older version of the MutatingWebhookConfiguration (https://github.com/linkerd/linkerd2/blob/d805cb9a2b1a0636869cf60cc01b8dfe9b261d3f/controller/proxy-injector/tmpl/mutating_webhook_configuration.go#L19-L22) .

Mine still looks like so:
[code]

[2019-03-02 13:48] liquidslr commented on #2403
@scottcarol I would love to, meanwhile  I have myself looked into some issues and will be making pr's for the same in some time

[2019-03-02 19:22] komljen commented on #2427
I have websocket isssue with nginx ingress, this is the error message:

[code]

But, other apps are working well with websocket. Which version of nginx ingress you are running?

[2019-03-02 20:33] cAbhi15 commented on #2214
Hi,
I am interested to work on this issue and contribute to it as a GSoC project.
Although I am new to Go and Rust programming languages, I do have a prior experience working with Kafka and have a good understanding of the it's architecture and working.

It would be great if I can get some help in getting started.

[2019-03-02 21:29] liquidslr commented on #2420
![screenshot 2019-03-03 at 2 47 21 am](https://user-images.githubusercontent.com/26876811/53687832-b6d34f80-3d5f-11e9-98c4-717ee2e6d61f.png)
![screenshot 2019-03-03 at 2 54 00 am](https://user-images.githubusercontent.com/26876811/53687833-bdfa5d80-3d5f-11e9-9c64-0c1a1a8a5369.png)

@scottcarol i tried to recreate the issue following the above steps, although i did'nt noticed any change in order bu

[2019-03-03 03:43] olix0r opened #2435 "proxy: Replace bounded futures::mpsc with tokio_sync::mpsc"
The proxy's channels (at least the bounded ones) should be changed to use <s>futures</s>tokio_sync::mpsc, because the latter implements the desired backpressure semantics when cloned.

[2019-03-03 04:38] hawkw commented on #2435
It would be nice to do some before/after benchmarking as well. I'd be curious to see if there's a noticeable perf impact.

[2019-03-03 06:04] liquidslr commented on #2413
Hey @scottcarol I would like to work on this issue

[2019-03-03 06:20] scottcarol commented on #2413
Hi @liquidslr! So glad you're interested in the UI! I'm sorry for being unclear, I created this issue with a proposed solution and am asking for feedback on it from others before implementing it. I should have assigned it to myself - doing that now! Have you seen #2347? I would love to assign that to you if you are interested in jumping in.

[2019-03-03 06:23] scottcarol commented on #2420
Hi @liquidslr, thanks for checking this out! The issue I'm seeing is the specific tables switching positions when you're on the Top Routes page on the Linkerd dashboard. That's interesting that you're not seeing it - what version of Linkerd are you running currently?

[2019-03-03 06:27] liquidslr commented on #2413
Sure 👍

[2019-03-03 06:28] scottcarol commented on #2413
Awesome @liquidslr, am assigning that one to you now!

[2019-03-03 06:30] scottcarol commented on #2413
Oops, I seem to not have that administrative ability to assign it to you! But if you'd like to take that one and begin work on it that would be ⭐️ ⭐️ ⭐️

[2019-03-03 06:31] scottcarol commented on #2347
@liquidslr is interested in working on this!

[2019-03-03 06:31] liquidslr commented on #2420
Currently, I am using
Client version: git-21849288
Server version: git-21849288

[2019-03-03 06:51] ihcsim commented on #2418
So sounds like it's the same issue as #2425, where the MWC isn't upgraded during a version upgrade. I have submitted a fix in PR #2431. Meanwhile, you can use `kubectl edit` to update the `webhooks.rules[0].operations` list to include `UPDATE`.

[2019-03-03 07:02] liquidslr commented on #2329
hey @rmars is this issue of adding it to grafana dashboard still open ?

[2019-03-03 13:04] liquidslr opened #2438 "Buffer() DeprecationWarning in Node"
I am getting this warning, The complete stack trace is below

**Steps to reproduce:**
Run the web pack server in development mode (bin/web dev) and check the console.

[code]

[2019-03-03 20:08] komljen commented on #2427
My issue is related to buzzfeed sso auth, which sits in front. Without it works fine.

[2019-03-03 21:08] wmorgan commented on #2423
Thanks for reporting this @jon-walton. We'll dig in.

[2019-03-04 04:42] liquidslr commented on #2179
Hy @adleong I would like to work on this issue.

[2019-03-04 05:57] Pothulapati commented on #1981
@klingerf I'm willing to take this issue :smile:

[2019-03-04 16:26] grampelberg commented on #2073
+1 from me for `x-linkerd-retry`.

[2019-03-04 16:28] grampelberg commented on #2425
@ihcsim if I understand correctly, anyone running 2.2 upgrading to the eventual 2.3 won't get the MWC?

[2019-03-04 16:35] ihcsim commented on #2425
That's correct. Shall we roll a stable-2.2.2 to include this fix then? Alternately, users can also manually update the MWC with `kubectl edit`.

[2019-03-04 16:36] grampelberg commented on #2425
I assume we'll have that fixed before 2.3 comes out though? If there's a manual way to do it, putting the steps into the upgrade instructions is alright as well.

[2019-03-04 17:15] christianhuening commented on #2345
That one didn't reappear. Closing for now

[2019-03-04 17:15] #2345 closed

[2019-03-04 17:46] wmorgan commented on #2073
@grampelberg any thoughts on `Path Item` vs `Operation` ?

[2019-03-04 17:49] rmars commented on #2420
Hey @liquidslr! So the screenshot you've sent is of the books demo app. The sorting issue is in the linkerd dashboard, which you can access by running a `linkerd dashboard` in the terminal, and then going to `/routes`. (You'll then need to make a routes query, which, if you're running the books app, could be something like selecting the `default` namespace and then selecting `deployment` as the re

[2019-03-04 17:54] liquidslr commented on #2420
Oh thanks for the update @rmars, I'll take a look I have a working development setup.

[2019-03-04 17:57] christianhuening commented on #2418
@ihcsim Ok, I recreated the MutatingWebhookConfiguration by deleting it and restarting the injector proxy. It got created just fine with the UPDATE verb in it. I then redeployed everything and all pods were injected automatically.
This is great, but I find it a bit weird that the UPDATE verb's presence or absence alters the general behavior of the injector-proxy. Or what kind of issue could this b

[2019-03-04 17:57] grampelberg commented on #2073
@wmorgan I *think* `Operation` makes more sense? @jon-walton from reading the docs, it appears that `Path` is a higher level concept than `Operation`. Would you happen to know what the tradeoffs are between one or the other?

[2019-03-04 18:02] klingerf commented on #2347
If I remember correctly, this issue is related to websockets, and it may require some investigation on the web server side as well, to verify that we're properly conforming to the websocket spec, so that browsers handle our responses properly.

[2019-03-04 19:04] ihcsim commented on #2418
It can also be that the CA bundle in the MWC got out-of-sync during the upgrade to edge-19.2.5. If that's the case, you should see the proxy injector TLS errors in the k8s API server logs. PR #2431 will fix that too.

[2019-03-04 19:28] christianhuening commented on #2418
would a restart of the injector fix the CA bundle desync?

[2019-03-04 19:40] MarkDeckert opened #2443 "linkerd-cni renames kuberouter cni config without warning"
## Bug Report

### What is the issue?

We're using kube-router as a complete replacement for kube-proxy (https://github.com/cloudnativelabs/kube-router).  Upon deployment, the linkerd-cni daemonset renames the 10-kube-router.conf file to 10-kube-router.conflist without warning.  Since kube-router only looks for 10-kube-router.conf by default, this breaks the default install of kube-router.  The pr

[2019-03-04 19:50] dadjeibaah commented on #2423
@jon-walton do you still have metrics available for proxies in the ingress-controller and the linkerd-controller? I am curious to see information for the following:
- the number of open file descriptors in both proxies
- the GRPC call volume between the ingress proxy and the control plane
- TCP stats

[2019-03-04 20:55] hawkw commented on #2345
@christianhuening Great, I'm glad to hear that this was fixed!

We should probably open a new ticket to resolve the underlying issue with the polling fs watch implementation. However, since fixing #2331 has resolved the issue that was causing us proxies to fall back to polling unnecessarily, it might be somewhat less urgent.

[2019-03-04 21:06] adleong commented on #2179
@liquidslr awesome!  To get started, I'd recommend taking a look at https://github.com/linkerd/linkerd2/blob/master/TEST.md#writing-tests and reading some of the existing integration tests in the `/test` directory.  Please let me know if you need any further guidance!

[2019-03-04 22:07] rmars commented on #2329
Hey @liquidslr! Yep! this issue is available, feel free to work on it!

[2019-03-04 22:14] klingerf commented on #2425
I also wanted to mention that this relates to #2176. If we move the MWC to the install YAML, then the proxy-inject won't need to create it on startup. See #2176 for implementation details, though.

[2019-03-04 22:18] klingerf commented on #2427
@gamer22026 @komljen Thanks for the updates! Glad you've got it working now. I'm going to move this issue to the website repo so that we can track updating the ingress docs to account for this.

[2019-03-04 22:26] klingerf commented on #2443
@MarkDeckert Thanks for reporting this. I definitely agree that we'd need to document any interference with existing CNI plugins. @codeman9 Offhand, do you know why the renames are happening as part of linkerd-cni install?

[2019-03-04 22:35] klingerf commented on #2419
@jonrichards Thanks for kicking this off. The `--ha` flag is marked as experimental because we've been waiting for feedback from users that it's working for them. Can you provide more info of how it's working in your setup. I know there are a few other issues that we might want to address (e.g. #1895, #2392) before fully graduating `--ha` from experimental.

[2019-03-04 22:36] klingerf commented on #2404
@jamesallen-vol Thanks for reporting this. I agree that it could be useful to rollup multiple request methods into a single route.

[2019-03-04 22:40] klingerf commented on #2384
@christianhuening Any luck reproducing this again? It sounds somewhat similar to #1762.

[2019-03-04 22:42] klingerf commented on #2363
It looks like this issue was fixed in linkerd/linkerd2-proxy#203, and we'll bump the proxy dependency in this repo prior to this week's edge release to pick it up.

[2019-03-04 22:45] klingerf commented on #2322
@rnd4222 Thanks for reporting this. Getting the proxy to run locally isn't a high priority for this project, but if you could provide detailed instructions to reproduce this in your environment, that would be really helpful.

[2019-03-04 22:57] dadjeibaah commented on #2423
Looking at this a little bit more, do you also have logs for the proxy-api in linkerd's controller pod? Based on `grpc-status header missing` error and the `in-flight limit exceeded` it sounds like the destination API is not resolving destination requests and the proxy API is in a bad state. We would want to get as much information about the proxy API as possible.

[2019-03-05 00:19] klingerf commented on #1981
@Pothulapati Sounds good to me. For reference, you'll need to change the external API client that the CLI uses to stop using the kubernetes apiserver proxy. We build that client here:

https://github.com/linkerd/linkerd2/blob/28fb72590145d30f61629bc4b1b6481e5637ba5c/controller/api/public/client.go#L220-L234

[2019-03-05 01:07] hawkw commented on #2423
It's possible that this shares a root cause with https://github.com/linkerd/linkerd2/issues/2320#issuecomment-466124664; potentially worth looking into further.

[2019-03-05 02:06] vielmetti commented on #1165
Looks like this closed because of being stale - can we get a current status?

[2019-03-05 02:18] olix0r commented on #1165
Hi @vielmetti. I don't think anyone has actually done the work to enumerate what this change entails. It could possibly be as simple as running the docker builds on an appropriate host.

If someone in the community figures out how to build artifacts for the target platform, it may not be that hard for us to include those steps in the release process.

[2019-03-05 03:21] jon-walton commented on #2423
Hi @dadjeibaah sorry but those metrics aren't available anymore. I'll get them the next time i can reproduce the issue.

@hawkw I think you're right. The errors in #2320 are all showing up in my cluster. shall we close this one in favour of #2320 ?

[2019-03-05 03:24] jon-walton commented on #2320
@grampelberg I'm not so sure about Azure/AKS#790 I was seeing this on an AKS-Engine cluster (aks-engine doesn't use the tunnel component).

I'll upgrade to edge now and try to reproduce

[2019-03-05 03:39] hawkw commented on #2423
@jon-walton I'm not convinced they're the same underlying issue; that error message could have a number of causes. I just thought it was worth trying to compare the reports to see if there was anything in common

[2019-03-05 03:45] vielmetti commented on #1165
Thanks @olix0r - just working on the dependencies right now, and it looks like the build environment depends on `minikube`, which in turn is blocked behind https://github.com/kubernetes/minikube/pull/2455  on arm64.

[2019-03-05 03:59] olix0r commented on #1165
@vielmetti minikube shouldn't be a hard requirement. If you can make `bin/docker-build` succeed on ARM, that should the majority of the work.

[2019-03-05 04:39] jon-walton commented on #2073
I agree, operation makes more sense in the real world. It'll allow you to have a retry on `GET /bla` but disable it for `POST /bla`

[2019-03-05 07:42] christianhuening commented on #2384
@klingerf Yes, i repro'ed this succesfully with `edge-19.2.5`. I wouldn't say it's like #1762 . I deployed and had the linkerd sidecars auto-injected, then rolled over to a new version of the images for my app. result:
[code]

[2019-03-05 07:43] christianhuening commented on #2384
The Pod is crashing because the liveness and readiness checks of the linkerd-proxy are crashing:
[code]

[2019-03-05 13:40] alpeb commented on #2289
Closed via #2334

[2019-03-05 13:40] #2289 closed

[2019-03-05 14:10] bourquep commented on #2320
I've just upgraded to `edge-19.2.5`, will monitor the proxy logs today. Once I confirm that all seems good, I'll redeploy my service profiles and see what happens.

[2019-03-05 16:10] alpeb commented on #2299
Fixed via #2334

[2019-03-05 16:10] #2299 closed

[2019-03-05 16:50] bourquep opened #2446 "Seeing a lot of linkerd2_proxy::proxy::http::router errors in linkerd-web proxy logs"
## Bug Report

### What is the issue?

I have upgraded to `edge-19.2.5` this morning. Since then, I'm seeing this error in the proxy logs of the `linkerd-web` pod (logged once per minute on average):

[code]

### How can it be reproduced?

Not sure. I did run `linkerd dashboard` after upgrading to `edge-19.2.5`, to make sure everything was working properly. But I since killed the `linkerd dashboar

[2019-03-05 17:04] olix0r commented on #2446
Thanks for letting us know, @bourquep. My guess is that these are benign socket errors -- 'connection reset by peer' is likely to happen when you close the dashboard, for instance. We should investigate, though, to determine whether we expect to handle this error elsewhere or whether this logging should be downgraded from error to debug.

[2019-03-05 17:16] ihcsim opened #2447 "CLI Inject With Proxy Config Overrides Annotations"
Provide a mechanism to override the configurations of a proxy during `linkerd inject`. By default, if no flags are provided, the proxy will inherit the configurations specified in the `linkerd-config` config map during CLI inject. If present, the config flags should be converted into annotations on the pod spec before being passed to the proxy-injector. The proxy-injector will then perform the con

[2019-03-05 18:40] hawkw commented on #2320
@bourquep thanks, Pascal! Please let me know if anything goes wrong!

[2019-03-05 19:42] siggy commented on #1732
@alenkacz I should have checked in with you prior to pushing ahead with a PR. Apologies for swooping in, I'll check in from now on.

[2019-03-05 20:23] grampelberg commented on #1903
@SUMUKHA-PK what do you mean by reproducing the issue?

[2019-03-05 21:11] jonrichards commented on #2419
@klingerf no worries, I think it's just me and @grampelberg getting a bit ahead of things. Those 2 issues look like good ones to go along with HA coming out of experimental. So far running in HA mode has been fine on my end, but I haven't done any explicit testing of HA itself, just implicitly via other testing we're doing. I'll look to get some HA specific testing here and provide any feedback on

[2019-03-05 21:18] #2310 closed

[2019-03-05 21:43] grampelberg commented on #2214
@cAbhi15 you bet! The first step would be to start getting to know the codebase. This one is primarily on the rust side of things, so you'll want to check out how the codecs work with tokio. You'll also want to dig into the metrics and how that all works! @hawkw have any good pointers for good first steps?

Before you end up implementing anything or throwing up a PR, it'd be great to see a design

[2019-03-05 22:04] hawkw commented on #2214
It's probably worth looking into previous attempts at writing a `futures`-based async Kafka codec in Rust; it looks like there's currently a [prototype implementation](https://github.com/spicavigo/kafka-rust/issues/63#issuecomment-301323163) but it doesn't seem complete or production-ready.

The codec implementation is probably going to comprise a majority of the work on this project --- integrati

[2019-03-05 22:09] hawkw commented on #2446
See also https://github.com/linkerd/linkerd2/issues/1462

[2019-03-05 22:09] hawkw commented on #559
I believe this has been implemented...

[2019-03-05 22:47] grampelberg commented on #2347
@liquidslr any pointers that'd help?

[2019-03-05 22:51] manimaul opened #2449 "Developer Documentation"
## Feature Request

The Linkerd2-Proxy needs better developer documentation. Empower contributors to be able to work in the productivity fast lane

### What problem are you trying to solve?

Contributing developers should be able to read docs that demonstrate a simple setup in order to easily build, run and debug the proxy inside and outside of a k8s environment.

### How should the problem be sol

[2019-03-05 22:52] grampelberg commented on #2438
@liquidslr does bumping the websocket-driver version fix this?

[2019-03-05 22:59] grampelberg commented on #2425
Ahhha, that helps me understand what was going on, thank you @klingerf !

[2019-03-05 23:00] hawkw commented on #2449
I definitely agree that the internal architecture of the proxy codebase ought to be better documented!

Regarding docs for how to run the proxy, are there `make` targets(s) that could be added to the proxy's [Makefile](https://github.com/linkerd/linkerd2-proxy/blob/master/Makefile) to make this easier?  IMO it's probably less flaky to automate things than to explain them, if that makes sense.

[2019-03-05 23:14] siggy opened #2450 "stabilize inject output"
For diff and debugging purposes, it's helpful if `linkerd inject` does not reorder the input k8s resources.

When injecting https://run.linkerd.io/emojivoto.yml, observe the `serviceAccountName` get moved within the pod spec:

[code]

[2019-03-05 23:42] liquidslr commented on #2347
@grampelberg i did a bit of debugging, checkout the conversation in the pr

[2019-03-05 23:53] #2425 closed

[2019-03-05 23:57] ihcsim commented on #2418
Yes, restarting the injector pre-19.2.5 (including stable-2.2.1) will always update the CA bundle. The bug in the stable-2.2.1 to 19.2.5 MWC upgrade is that the code **only** updates the CA bundle. In #2431, we force the proxy-injector to delete its MWC and re-create the latest one.

[2019-03-06 00:00] grampelberg commented on #2443
@codeman9 what do you think about changing the CNI logic to fail if we see a config file that hasn't been tested or isn't supported? There would need to be a `--no-really-i-know-what-im-doing` flag, but it would at least help users from getting into this state.

[2019-03-06 00:01] grampelberg commented on #2443
@MarkDeckert I'd love to test this myself. Do you know of any way to get kube-router setup on a hosted service? Or, do I just need to go bare metal to play around?

[2019-03-06 00:14] grampelberg commented on #1165
I added a bunch of labels to keep this one alive. If you're interested in looking into the details it'd be greatly appreciated @vielmetti !

[2019-03-06 00:26] MarkDeckert commented on #2443
@grampelberg I haven't run it on a hosted service but it probably wouldn't have any issues.  There are some existing examples at the top of https://github.com/cloudnativelabs/kube-router/blob/master/docs/user-guide.md

However, you could likely get pretty close to what I have just by deleting the daemonsets for any existing network providers (ie calico/flannel) and kube-proxy and installing kube-r

[2019-03-06 00:26] grampelberg commented on #2073
Ahha, that's exactly the context I was looking for. `Operation` it is!

[2019-03-06 00:28] grampelberg commented on #2384
@christianhuening would you mind putting together a small repro? Maybe a default `nginx` deployment that shows this behavior? With that we can look into exactly what the problem is!

[2019-03-06 00:28] MarkDeckert commented on #2443
BTW I also filed an issue on kube-router project to make it use .conflist by default, which would in theory prevent this from being an issue at least with kube-router.

[2019-03-06 00:51] liquidslr commented on #2329
Sure I would like to work on this @rmars, could you please give a brief idea on how to proceed, thanks.

[2019-03-06 01:19] #1732 closed

[2019-03-06 01:25] liquidslr commented on #2329
thanks, @rmars  i would like to work on this, could you please give a brief idea on how to proceed.

[2019-03-06 01:54] SUMUKHA-PK commented on #1903
I wanted to know about any current implementations/the module where the implementation must be done actually.

[2019-03-06 03:49] #2348 closed

[2019-03-06 05:30] siggy opened #2453 "Fix known logging errors and warnings"
#2414 introduced an integration test to ensure proxy and control-plane logs do not contain unexpected errors. This test required inclusion of a list of known errors and warnings which commonly occur:
https://github.com/linkerd/linkerd2/blob/d850b02b667dfdbbf08f4dcccf2046c5165d8209/test/install_test.go#L51-L68

This ticket is intended to track tasks that eliminate these known errors.

[2019-03-06 05:58] christianhuening commented on #2384
This morning we're going to swap our CNI Network from kube-router to cilium as we suspect some problems in the current cni setup. If that doesn't help, I'll put something together @grampelberg

[2019-03-06 09:36] zaharidichev commented on #2214
@hawkw Is the HTTP codec living mostly in https://github.com/linkerd/linkerd2-proxy/tree/master/src/proxy/http ?

[2019-03-06 17:40] grampelberg opened #2456 "Fail CNI update on unsupported configuration"
### What problem are you trying to solve?

The state of networking in k8s isn't great. There are tons of CNI plugins and networking configurations. Many of these are not yet supported by the LD2 CNI plugin. In the case of `kube-router` (#2443), by updating the config, the cluster can enter a broken state.

### How should the problem be solved?

To make this experience a little bit better, there sh

[2019-03-06 17:40] grampelberg commented on #2443
That's super helpful, thank you! I've added kube-router to my compatibility tracking ticket (#2174) and opened up a new one for failing out fast (#2456).

[2019-03-06 18:05] grampelberg commented on #1903
There's nothing that exists so far, it would end up being a completely separate component of the control plane. Probably a Deployment with a single replica that polls `version.json`, checks the control plane version and then starts to update it. A naive solution would be something that pulls down the new version of the `linkerd` CLI, applies the YAML from `install` to the cluster and then does som

[2019-03-06 18:19] grampelberg commented on #2384
I'd love to hear your experiences with kube-router and cilium too =) They're both super interesting projects!

[2019-03-06 18:24] grampelberg commented on #2214
The H2 codec is at https://github.com/carllerche/h2

[2019-03-06 18:40] grampelberg commented on #1943
@klingerf is this just a query issue or do you think there is something more systemic?

[2019-03-06 18:41] klingerf commented on #1943
Am not sure, but it should be pretty easy to reproduce and validate which queries we're making to Prometheus.

[2019-03-06 18:57] #2355 closed

[2019-03-06 19:22] hawkw commented on #2214
@zaharidichev The `linkerd2_proxy::proxy::http` module mostly consists of HTTP-specific proxy _behaviours_; the actual protocol implementation and codecs are provided by libraries.

Linkerd 2 uses [`hyper`](https://hyper.rs/) (maintained by @seanmonstar), which implements clients and servers for HTTP/1 and HTTP/2. As @grampelberg mentioned, the HTTP/2 protocol implementation is [`h2`](https://gith

[2019-03-06 19:36] #2377 closed

[2019-03-06 21:22] rmars commented on #2329
Hi @liquidslr! Yeah, so if you go to the grafana dashboard in the current linkerd dashboard (by running `linkerd dashboard --show grafana`) you can navigate to any of the Resource dashboard (e.g. `Linkerd Deployment`, /grafana/d/deployment/linkerd-deployment?refresh=5s&orgId=1) and notice the inbound and outbound tcp stats. We want to add those tcp stats to the `Linkerd Pod` view. I'd recommend ad

[2019-03-06 21:35] manimaul commented on #2449
@hawkw Makefile targets would be great as that is where one will likely be looking first when looking to contribute.  There likely needs to be some accompanying documentation. For example if I start up the proxy with `LINKERD2_PROXY_LOG=debug LINKERD2_PROXY_POD_NAMESPACE=linkerd cargo run` and notice the log output:
[code]

Then I refer back to the code I notice that `V4(127.0.0.1:4140)` is outbou

[2019-03-06 21:51] grampelberg commented on #1948
Does this require proxy work (it sounds like it does)?

[2019-03-06 21:54] adleong commented on #1948
Yes, and possibly a pretty significant refactor to the tap system in the proxy.

[2019-03-06 21:56] grampelberg commented on #1948
Well, damn. Postponed until the tap body work then!

[2019-03-06 22:31] admc opened #2459 "Linkerd 2.3 release test plan"
We have testing to do in order to feel confident about a 2.3 release.

- Manual testing
  - [x] #2516 Mutli-cloud (AKS, EKS, GKE, DO)
    - Manual script to validate identity and auto inject
    - Run integration tests
  - [x] #2518 Introduce test plan for service profiles
    - [x] #2638 introduce integration tests
    - [x] #2685 service profile metrics
  - [x] #2517 Emojivoto / books
    - iden

[2019-03-06 22:33] rmars opened #2460 "Add tcp_connection_duration to stats returned by linkerd stat"
Once #2207 is completed (as mentioned in https://github.com/linkerd/linkerd2/issues/2224), we should add tcp_connection_duration to the TCP stats returned on stat queries.

The other TCP stats were added in https://github.com/linkerd/linkerd2/pull/2262 and https://github.com/linkerd/linkerd2/pull/2408.

[2019-03-06 22:34] rmars commented on #2224
Going to close this issue now that tcp stats have been added to the web UI and CLI.
Opened https://github.com/linkerd/linkerd2/issues/2460 to track adding tcp_connection_duration.

[2019-03-06 22:34] #2224 closed

[2019-03-06 22:36] rmars opened #2461 "Add the ability to display a contextual error banner in the web UI"
As discussed here: https://github.com/linkerd/linkerd2/pull/2437#discussion_r263026524, we'd like to create a banner that will display helpful errors to the user above the page content (probably below the nav though). This would be separate from ErrorBanner.jsx, which currently displays unknown/unexpected errors.

[2019-03-06 22:48] admc opened #2462 "Identity exposed in the UI"
@ver @grampelberg can you please define what the requirements are here.

[2019-03-06 23:07] klingerf commented on #1999
@olix0r is working on this in  #2434, but the implementation will change once the config endpoint has been added (#2455). Assigning to him.

[2019-03-06 23:35] klingerf commented on #2447
I just wanted to clarify that once we've added the new public API config endpoint (#2455) and updated the CLI to call that endpoint (#2434), the CLI can apply flag overrides directly to the config before calling the inject library. There won't be any need to convert the flags to annotations on the pod spec, and this change won't be blocked on needing the inject library to honor pod spec annotation

[2019-03-06 23:54] #2351 closed

[2019-03-07 01:02] hawkw commented on #2363
Should be fixed in `edge-19.3.1`!

[2019-03-07 01:02] #2363 closed

[2019-03-07 03:09] ihcsim commented on #2418
@christianhuening Can you try out the new [edge-19.3.1](https://github.com/linkerd/linkerd2/releases/tag/edge-19.3.1) release, to see if this is still an issue?

[2019-03-07 14:05] christianhuening commented on #2418
@ihcsim thanks, working like a charm now!

[2019-03-07 14:05] #2418 closed

[2019-03-07 14:05] christianhuening commented on #2384
Seems to be solved after fixing our CNI

[2019-03-07 14:23] christianhuening commented on #2384
@grampelberg Cilium works great. We have a bit of a special setup with bird and eBGP, which probably was problematic with kube-router in some cases

[2019-03-07 14:24] wmorgan commented on #2384
@christianhuening do you have any thoughts about what was causing this with your previous CNI setup? Is it something we could detect, or avoid for future people who might have a similar situation?

[2019-03-07 16:06] christianhuening commented on #2384
@wmorgan sadly not really. We suspect this had something to do with some BGP routes gone rogue. We weren't able to find the root cause and so replaced the CNI with Cilium, which did work and solve all problems.

[2019-03-07 16:53] codeman9 commented on #2443
@grampelberg having a known set of configuration files is possibly an option, but would eventually become a hassle to keep updated as other projects rename files. Even if we had a warning somewhere, it would be buried in logs and it might not be obvious where to look and what to do about it. I'm not really sure what we can do if a project doesn't support the CNI specification other than try to kee

[2019-03-07 17:27] scottcarol commented on #2420
@liquidslr Hi! Were you able to replicate the original issue? If so I have some suggestions for you to try!

[2019-03-07 17:28] scottcarol commented on #2134
Closed by #2440

[2019-03-07 17:28] #2134 closed

[2019-03-07 17:30] grampelberg commented on #2266
@hawkw @adleong any ideas on the scope for this and what pieces of code it'll touch?

[2019-03-07 17:42] grampelberg opened #2465 "Add check for unschedulable pods"
### What problem are you trying to solve?

On clusters, it is possible for the control plane to be unschedulable. This could be because there aren't enough resources in the cluster or there is a PSP that does not allow the pods to launch.

### How should the problem be solved?

There should be two checks added:

- Control plane pods are in pending and have events such as `no nodes available`.
- Th

[2019-03-07 17:48] scottcarol commented on #1945
Issue:
Currently, when the sidebar is at its default (full) width, the `SuccessRateDots` are visible underneath the arrow icons.

Image:
![current-full-sidebar](https://user-images.githubusercontent.com/2289389/53977493-fed6d700-40bd-11e9-9a7f-e8ba44856961.png)

However, when the sidebar is minimized, the dots are off-center and look jarring.

Image:
![current-minimized-sidebar](https://user-image

[2019-03-07 17:51] hawkw commented on #2266
@grampelberg I'd have to double-check to be sure, but I think this will only require a change to the control plane's Destination service. I don't think a proxy change is necessary.

[2019-03-07 18:04] grampelberg commented on #1744
@adleong any thoughts on what the columns should be and how this should look?

[2019-03-07 18:24] #2350 closed

[2019-03-07 18:31] grampelberg commented on #2384
Damn, I wish we knew what the root cause was. Keep us updated if you come up with any ideas. It would be great to add some debugging to make it easier to understand what's going on.

[2019-03-07 18:34] grampelberg commented on #2443
I don't mind maintaining the list, TBH. The potential of hosing someone's cluster is much scarier than regular updates for files (especially since there's the break in case of glass option).

[2019-03-07 18:35] grampelberg commented on #2266
If the work isn't massive, this is a great getting started issue as it introduces folks to how discovery is working. I'd love to see if anyone's interested in tackling it (assuming the changes aren't massive).

[2019-03-07 18:53] adleong commented on #1744
Unclear if we want to pursue this.  I think this just entails renaming `linkerd top` to `linkerd tap table` to make it more clear that the output is a tabular representation of tap data.

[2019-03-07 19:11] grampelberg commented on #1744
Oh, I was thinking it would be a table format for `tap` like the dashboard has. I was interested in it because we could group req/resp/end and do a better job with expanding data for `-o wide`.

[2019-03-07 19:15] adleong commented on #1744
Interesting.  Seems like that kind of functionality is better suited to web than to the CLI.  I'm sure we could replicate the functionality in ncurses style, but I'm not totally convinced of the value.

[2019-03-07 19:18] zaharidichev commented on #2214
@hawkw Thanks for the information.  This is indeed quite an interesting issue.

[2019-03-07 19:20] christianhuening commented on #2384
Will do! We’d also like to know it.

[2019-03-07 19:23] colinmorelli opened #2468 "Issue when using clusterIPs and backend pods restart"
## Bug Report

### What is the issue?

*tl;dr*: consuming services talking to backend services via cluster IP (not using hostnames) fail first requests after backends restart

--

@grampelberg helped track down an issue today in slack where one of our front end services would fail to call to a backend service on the first call after the backend pods restart (i.e. during a deployment).

After exhau

[2019-03-07 19:27] grampelberg commented on #1744
That's a great point, you've talked me out of it.

[2019-03-07 19:27] #1744 closed

[2019-03-07 22:21] liquidslr commented on #2438
tried bumping the version but it didn't help

[2019-03-07 22:43] liquidslr commented on #2450
@siggy  just had a small question although i didn't go in the details of this issue,but according to my knowledge the output of diff command takes the formatting of the input files, so in this case, the extra indent of serviceAccountName is coming from the yaml file I guess, Just asking out of curiosity.

[2019-03-07 22:51] siggy commented on #2450
Hi @liquidslr. Thanks for the question. The output diff is exhibiting changes to the order of the YAML elements, not the indents.

Consistent indentation between input and output of our inject/uninject commands is not currently supported (not impossible but more work).

The intent of this ticket is to stabilize the ordering of elements across inject/uninject commands, with the goal being that I ca

[2019-03-07 23:00] liquidslr commented on #1726
@grampelberg  would love to work on this issue as a part of gsoc this year,  just had a small question are we planning to build a web UI for configuration of channel or cli or both.

[2019-03-08 00:50] siggy opened #2473 "dashboard service profiles have quoted filenames"
Generating and downloading a ServiceProfile from the `/routes` page in the dashboard yields a filename wrapped in quotes (`'test-profile.yml'` rather than `test-profile.yml`).

[code]
![screen shot 2019-03-07 at 4 49 52 pm](https://user-images.githubusercontent.com/236915/53999646-0cf61900-40f9-11e9-8c79-0d1689b632c1.png)

[2019-03-08 14:24] colinmorelli commented on #2423
Upgraded a dev cluster to 2.2.0 yesterday (to try to solve a different issue) and started experiencing an unavailability of services that seems to be caused by linkerd-controller stalls. In my case, I was getting the same errors spamming linkerd-proxy:

```WARN admin={bg=resolver} linkerd2_proxy::control::destination::background::destination_set Destination.Get stream errored for NameAddr { name:

[2019-03-08 15:39] jon-walton commented on #2423
A quick update from me. I upgraded the problematic cluster to edge-19.2.5 almost 4 days ago now and can no longer reproduce these error messages. I'll keep it at this edge build for a while longer to see if the controller goes unresponsive again.

[2019-03-08 15:55] grampelberg commented on #1944
Definitely working for me now, I'll close out.

[2019-03-08 15:55] #1944 closed

[2019-03-08 17:20] admc opened #2475 "Automated integration testing for the dashboard"
It would be very helpful if we had an integration test suite that was easy to run for the linkerd2 dashboard. It appears that webdriver.io is the most polished project for building that suite, and we have a free open source account with lots of concurrency to run it on our build using Sauce Labs.

I would start with each of the pages in the sidebar, and build a test for each component on that page

[2019-03-08 17:30] grampelberg commented on #2475
A mostly priority sorted list of pages:

- [ ] Sidebar
- [ ] Overview
- [ ] Resources
    - [ ] Deployments
    - [ ] Pods
    - [ ] Namespaces
    - [ ] Daemon Sets
    - [ ] Stateful Sets
- [ ] Tap
- [ ] Top
- [ ] Top Routes
- [ ] Service Mesh

[2019-03-08 17:30] grampelberg commented on #2475
@rmars where do you think this should live in the repo?

[2019-03-08 17:45] grampelberg commented on #2438
Looks like they're using it all over the place, https://github.com/faye/websocket-driver-node/blob/master/lib/websocket/driver/hybi.js#L190.

Could submit a PR to fix it for them, or just wait to have upstream be updated. It appears to be limited webpack-dev-server and not anything in Linkerd's code specifically.

[2019-03-08 17:57] grampelberg commented on #1726
That's a great question, as of right now, the `dashboard` is 100% read only. We should probably maintain that for the time being as it simplifies the RBAC and security implications of the dashboard. Once the pending identity and RBAC work lands for the dashboard, it would be awesome to have the alerting config in there. From a delivery perspective, I'd personally chunk it as:

1. Consume raw alert

[2019-03-08 18:56] admc commented on #2475
A hint for running on Sauce is that to hit any web property running on a local port from the cloud service needs to use the Sauce Connect tunnel: https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy

That probably isn't a concern until we want to think about running them across multiple platforms and or in CI.

[2019-03-09 00:05] liquidslr commented on #2420
No i was not able to reproduce the issue, one of the reason being whenever i deploy the books app on my local machine the linkerd dashboard becomes extremely slow and it starts to give Internal server error (500) every time i do some activity in the dashboard.

[2019-03-09 01:06] scottcarol commented on #2420
Hey @liquidslr thanks for the update. Have you been able to use the linkerd dashboard with the emojivoto app or have both apps produce the same behavior?

[2019-03-09 01:12] liquidslr commented on #2420
No emojivoto is working just fine, the problem only comes after I install books app

[2019-03-09 15:08] zaharidichev commented on #2435
I wanted to try and give that one a go but I am struggling understanding the following two things:

1. Should futures::mpsc be replaced with tokio::sync::mpsc (as stated in the title) or the other way around as stated in the comment:)
2. @hawk mentions before/after benchmarking. Is that running some cpecific benchmarks that are already written (if yes, which ones) or writing some new benchmarks

T

[2019-03-09 15:11] zaharidichev commented on #2449
I absolutelly support that. As a new commer lurking around the code its quite hard for me to grasp the basic data pipeline. As a matter of fact a write up that is something like "The life of a request" will be very useful. Just tracking what happens when an http request hits a pod, how is that instrumented relayed, etc as well as providing pointers to concrete parts of the code will be super usefu

[2019-03-09 18:34] kurktchiev commented on #151
So i am encountering this on a non OCP cluster, just a vanilla kube 1.10 cluster. What is the work around that has been settled on? I see that there was a PR that addresses the issue, maybe?

[2019-03-09 21:24] iffyio opened #2480 "linkerd-controller in crash loop after linkerd install"
### What is the issue?
Trying out the getting-started guide and after running `linkerd install`
the controller pod does not startup successfully

### How can it be reproduced?
run `linkerd install | kubectl apply -f -`

### Logs, error output, etc
[code]
[code]

#### `linkerd check` output
[code]

### Environment

- Kubernetes Version: v1.10.0
- Cluster Environment: Minikube
- Host OS: Linux 4.15.

[2019-03-09 22:18] liquidslr commented on #2179
thanks for the update @adleong, just needed a small help in getting started, can you briefly explain the requirements of these tests and related information and when will these tests run?

[2019-03-09 23:43] hawkw commented on #2435
@zaharidichev

The proxy is currently using `futures::sync` channels, and they should be replaced with `tokio::sync` channels. I believe the comment is a typo.

I don't think new benchmarks should be necessary, though I hadn't put too much thought into which specific benchmarks should be run. I think the proxy performance benchmarks at https://github.com/linkerd/linkerd-examples/tree/master/perf-b

[2019-03-10 05:01] hawk commented on #2435
I suppose that this message was intended for somebody else.

/Github user "hawk"

On Sat, Mar 9, 2019, 16:08 Zahari Dichev <notifications@github.com> wrote:

[2019-03-10 05:01] hawk commented on #2435
I suppose that this message was intended for somebody else.

/Github user "hawk"

On Sun, Mar 10, 2019, 00:43 Eliza Weisman <notifications@github.com> wrote:

[2019-03-10 14:34] zaharidichev commented on #2392
I want to give that one a go if its fine. However a bit of a guidance would be greatly appreciated. I cannot find any dev docs on how load balancing of other requests is done at the moment. Where should I look for, what things I need to take into consideration. All pointers will be greatly appreciated. Pardon the noobiness :)

[2019-03-10 16:02] iffyio commented on #2480
It seems to work after deleting and restarting minikube. Likely this was a localized issue with my minikube environment. Closing this issue as a result :)

[2019-03-10 16:02] #2480 closed

[2019-03-10 22:14] hawkw opened #2482 "proxy: include rust-foolchain file"
A [`rust-toolchain` file](https://github.com/rust-lang/rustup.rs#the-toolchain-file) is used to specify which Rust version should be used to build a project.

If we include one in the proxy repo, this will make contributing to the proxy easier (especially for new contributors) by ensuring that the same Rust toolchain is used for building the proxy locally and on CI. This will help to protect again

[2019-03-10 22:54] liquidslr commented on #2465
@grampelberg  could you please briefly explain what is actually an unschedulable pod is, I would like to work on this issue but would need a little help in getting started.

[2019-03-11 02:17] jon-walton commented on #2423
I woke up this morning to an alert that one of my ingress controllers was in a crash loop.

[code]

[code]

This time, all I've got in the logs is:

[code]

![image](https://user-images.githubusercontent.com/9859186/54096053-26db7880-43e5-11e9-8ebb-9d7dcde39a99.png)
Open file descriptors. The top 3 lines are the linkerd controllers, followed by the ingress controller and some apps. The 4th line is

[2019-03-11 02:23] jon-walton commented on #2423
tcp stats

![image](https://user-images.githubusercontent.com/9859186/54096625-92bee080-43e7-11e9-98ee-b12099cbcf35.png)

![image](https://user-images.githubusercontent.com/9859186/54096643-a1a59300-43e7-11e9-9854-8acebe5327dd.png)

![image](https://user-images.githubusercontent.com/9859186/54096661-aff3af00-43e7-11e9-9fc1-40740ff17c92.png)

[2019-03-11 02:25] dadjeibaah commented on #2423
@jon-walton what service profiles have you added? Just for the Linkerd controller? do you have service profiles for the services backed by the nginx-controller?

[2019-03-11 02:58] jon-walton commented on #2423
If there are any service profiles, it'll only be for the linkerd control plane. I can check if they're still installed when I arrive in the office in the next 30 mins or so

[2019-03-11 02:59] hawkw commented on #2423
@jon-walton is TLS enabled?

[2019-03-11 03:05] jon-walton commented on #2423
@hawkw yep, control and data plane

The only log entries I see regarding TLS are

[code]

Are there any additional stats I should collect for TLS?

[2019-03-11 03:22] jon-walton commented on #2423
@dadjeibaah

service profiles only installed for the control plane

[code]

[2019-03-11 17:36] adleong commented on #2179
@liquidslr: The requirements would just be to verify the behaviors listed in the issue.

Unfortunately, this test is a bit different from our existing integration tests because it needs to verify the behavior of individual requests rather than just passively observing existing traffic.

There are probably a number of different ways to accomplish this but here's one suggestion:
Create a new test ap

[2019-03-11 17:41] christianhuening commented on #2384
Sadly this is back.
[code]

Then the readiness probes for the linkerd-proxy container failed and thus the whole pods kept restarting:

[code]

[2019-03-11 17:42] christianhuening commented on #2384
I am running `19.3.1`

[2019-03-11 18:45] grampelberg opened #2484 "Allow configuration of Prometheus log level"
### What problem are you trying to solve?

I'm debugging some prometheus issues, it would be nice to have a way to set the log level to debug.

### How should the problem be solved?

Add `--log.level={{.Values.ControllerLogLevel}}` to the startup args.

[2019-03-11 20:10] grampelberg commented on #151
@kurktchiev what is the error you're seeing?

[2019-03-11 20:11] grampelberg commented on #2392
@hawkw any pointers?

[2019-03-11 20:13] grampelberg commented on #2480
Turning it on and off again always helps =)

[2019-03-11 20:14] grampelberg commented on #2482
+1 to a bash script, akin to `update-go-deps-shas`.

[2019-03-11 20:15] olix0r commented on #2392
FYI, in the next ~week, there are going to be some significant changes that impact how the destination client is constructed. You're welcome to start on this issue, but I didn't want merge conflicts to come as a surprise to you.

[2019-03-11 20:17] grampelberg commented on #2465
@liquidslr I don't believe a pod can have something that actually says "unschedulable" added to it, so we have to guess a little bit. The two cases that I'm aware of are:

- Cluster does not have enough resources to run the pods. Pod is created, not scheduled and has events saying that no resources are available.
- Deployments are created, pod security policy blocks creation of the pods.

[2019-03-11 20:21] grampelberg commented on #2423
@jon-walton when you go into a crash loop, is it the proxy crashing or nginx?

[2019-03-11 20:43] dadjeibaah commented on #2423
@jon-walton the Linkerd health dashboard in Grafana has some information about the Kubernetes clients in the control plane, in order to rule out whether there is something wrong with connections to the api server, do the graphs show any 5XX or 4XX errors for the destination container?

[2019-03-11 20:46] grampelberg commented on #2384
It sounds like the connection between pods becomes unreliable for awhile. I'm still super interested in what the underlying issue is.

That said, the proxy should handle this and fall back to DNS. I assume that `10.7.87.1` is the IP of `linkerd-controller`?

[2019-03-11 21:01] christianhuening commented on #2384
hm AFAIK no. `10.7.87.1` is not set for any pod or service in the cluster.

[2019-03-11 21:01] christianhuening commented on #2384
it could be that this is a leftover issue from our kube-router to cilium switch. Will monitor

[2019-03-11 21:05] grampelberg commented on #2384
There are some issues open for stale watches, `linkerd endpoints` is a good way to look into that. It sounds like the proxy isn't crashing though? Mind either opening up a separate issue or changing the title to something more like "tries to route to non-existent pods"?

[2019-03-11 21:17] #2328 closed

[2019-03-11 21:24] klingerf commented on #2179
Yep, 👍 to @adleong's suggestion. I actually recommend making the succeed-after-tries change that he mentions directly in bb itself, so that we don't end up with a proliferation of test apps. And bb already supports a `--sleep-in-millis` flag, which you can use for testing timeout logic.

[2019-03-11 23:07] dadjeibaah commented on #2423
@jon-walton one more question. Does your ingress-controller add the `l5d-dst-override` header to every outgoing request?

[2019-03-11 23:29] jon-walton commented on #2423
@grampelberg the nginx container is failing health checks and being terminated by k8s. it then goes into crashloopbackoff due to continued failing health checks. Right now, my assumption is that it's failing health checks due to the linkerd-proxy within that pod not behaving

the stats provided for the ingress controller are from the linkerd-proxy container

@dadjeibaah i'm not seeing any 5xx/4xx

[2019-03-12 01:27] dadjeibaah commented on #2423
Ah ok. You mentioned that this issue maybe somehow related to #2382, are you able to take a look at the number of goroutines in the proxy-api? Is this metric showing unusually high values? Do they begin to increase before the `CrashLoopBackOff` occurs?

[2019-03-12 01:58] jon-walton commented on #2423
@dadjeibaah

It's not possible for me to correlate the initial crashloopbackoff with a rise in goroutines, I'll try get my prometheus federated with linkerd today so that I have the data available next time.

Here's the current state of the goroutines

![image](https://user-images.githubusercontent.com/9859186/54169036-25c14e80-44ac-11e9-953a-2cfa137a1ae5.png)

I think i've mixed this issue up wit

[2019-03-12 03:16] #1451 closed

[2019-03-12 09:03] notwiben opened #2488 "linkerd-controller crash loop back off after working for a while"
## Bug Report

### What is the issue?
linkerd-controller CrashLoopBackOff after running for a while, causing all restarted pod failed to communicate with other services
[code]

### How can it be reproduced?
not sure, install and wait for few hour (for me it's around 4 hour).
a panic screenshot on logs may related

### Logs, error output, etc

![Screen Shot 2019-03-12 at 13 44 36](https://user-imag

[2019-03-12 15:40] olix0r commented on #2488
If you run `kubectl describe -n linkerd po -l linkerd.io/control-plane-component=controller` when it's in this state, it would be helpful to know what kubernetes reports as the crash cause. At a guess, this may be related to #2382 ?

[2019-03-12 16:03] grampelberg commented on #2488
There's a ton of `tap` error messages in the logs. Were you running `tap` at the time it went down?

[2019-03-12 16:06] grampelberg commented on #2423
I wonder if this has something to do with my grafana issue, sounds pretty similar. #1762

[2019-03-12 17:09] #1747 closed

[2019-03-12 17:23] admc commented on #2475
In CI we should use the webdriver.io sauce service, locally - whatever is faster for building good tests (webdriver, chromedriver, etc)

[2019-03-12 17:27] gane5hvarma commented on #2465
@grampelberg hi. I would like to work on this issue.

[2019-03-12 17:29] grampelberg commented on #2465
@liquidslr are you working on this already or can @gane5hvarma take it?

[2019-03-12 17:35] liquidslr commented on #2465
@grampelberg actually I am working on this issue

[2019-03-12 17:36] gane5hvarma commented on #2465
ok then. i will look on other issue

[2019-03-12 17:40] dadjeibaah commented on #2382
I ran some tests on an AKS cluster and it looks like we might be leaking connection from proxies to the destination service when getting service profiles.

I ran a rough test with an nginx-ingress-controller and an injected proxy and a go client that made requests to the external IP of the cluster.  Each request the client made contained the `l5d-dst-override` header with a randomly generated stri

[2019-03-12 18:02] gane5hvarma commented on #2073
working on this issue :)

[2019-03-12 18:11] rmars opened #2489 "Access dashboard icons when offline"
This is fairly minor, but when accessing the dashboard with no internet access, some of the icons (I believe the fetched fontawesome ones) show up as squares because we need to download them.
It would be nice to either use a material ui alternative or to make the fa ones accessible offline.

<img width="239" alt="Screen Shot 2019-03-11 at 2 36 30 PM" src="https://user-images.githubusercontent.com/

[2019-03-12 21:27] liquidslr commented on #2489
Hey, @rmars I think that making fa stylesheet available offline would be a better option.

[2019-03-12 21:54] liquidslr commented on #2420
@scottcarolI I was finally able to reproduce the issue, any suggestions you have for me to proceed further?

[2019-03-12 22:49] #2473 closed

[2019-03-12 22:50] alpeb opened #2490 "Add validation to the New Service Profile popup form"
The "New Service profile" popup form isn't validating proper values for the Service nor the Namespace fields

![image](https://user-images.githubusercontent.com/554287/54241362-a43ee000-44ee-11e9-8f9d-351f9643689c.png)

Trying to apply a service or a namespace with bad syntax triggers the following error, which might give a hint on the validation function to be used in this form:

` Invalid value:

[2019-03-12 22:50] gamer22026 opened #2491 "Add option for logging in json format"
## Feature Request
Add the option for all the stack components to log in JSON format
### What problem are you trying to solve?
In trying to do log normalization across our stack, disparate logging formats cause extra work on the parsing end. Having all logging in JSON greatly simplifies the need to parse logs into a common format.
### How should the problem be solved?

ENV variable to enable loggi

[2019-03-12 22:53] scottcarol commented on #2420
@liquidslr Thanks for your persistence! My hunch is that `results` in line 46 of TopRoutesModule.jsx:
[code]
may need to be sorted by resource. That's where I'd start first.

[2019-03-12 22:54] adleong commented on #2404
@jamesallen-vol have you tried constructing a route like:

[code]

[2019-03-12 23:09] #1403 closed

[2019-03-12 23:09] #1452 closed

[2019-03-13 00:09] #1850 closed

[2019-03-13 01:39] hawkw commented on #2491
See also #2157, #56

[2019-03-13 11:05] rnd4222 commented on #2322
@klingerf Please see OP for instructions on how to reproduce this. Let me know if you need any additional information.

[2019-03-13 13:51] jjbubudi commented on #1165
Hi all,

I came across this issue because I wanted to get Linkerd2 running on a Raspberry Pi cluster with `k3s`. So far I can see 2 different approaches to make `bin/docker-build` work for ARM:

1. Run the build directly on an ARM device and push the ARM images.
    - This feels kind of natural but the major drawback is the current builder images are x86 based
    - CI is hard without significant

[2019-03-13 14:41] datosh opened #2493 "Enhance TLS / Encryption / mTLS related documentation"
## Feature Request

Enhance TLS / Encryption / mTLS related documentation

### What problem are you trying to solve?

I'm currently trying to find information regarding the state of TLS & mTLS support in Linkerd2.x.

- How is TLS implemeneted?
- Whats the lifetime of keys / certificates? How are they distributed?
- Which TLS versions are used / supported?
- Is mutual TLS implemeted, so that only v

[2019-03-13 17:17] #1474 closed

[2019-03-13 17:17] #1877 closed

[2019-03-13 17:33] vielmetti commented on #1165
@jjbubudi -

Jimmy, this account of cross-compiling Rust on Travis CI might be useful reading:

https://mudge.name/2019/01/02/cross-compiling-rust-for-a-raspberry-pi-on-travis-ci.html

[2019-03-13 17:49] jjbubudi commented on #1165
Thank you @vielmetti !! That is very helpful

[2019-03-13 18:06] adleong commented on #2068
One way to address this is to add a validation that checks: If the service profile name is of the form `<x>.<y>.svc.cluster.local` then `<x>` must be a service in namespace `<y>`.  (names of other forms are arbitrary DNS names and do not need to correspond to service objects)  This can be tackled as part of #2075.  @grampelberg, does that seem reasonable?

[2019-03-13 19:17] #823 closed

[2019-03-13 20:17] #1604 closed

[2019-03-14 01:17] #1883 closed

[2019-03-14 04:30] ihcsim opened #2497 "Support Proxy Image Version Override"
Following @klingerf [comment](https://github.com/linkerd/linkerd2/pull/2471#discussion_r265286474), add a new `config.linkerd.io/linkerd-version` annotation to enable version override. The [`taggedProxyImage()`](https://github.com/linkerd/linkerd2/blob/e862e98d1a3c533b5eefafd72afe8925dfb49ea7/pkg/inject/inject.go#L580-L584) and [`taggedProxyInitImage()`](https://github.com/linkerd/linkerd2/blob/e8

[2019-03-14 04:58] ihcsim opened #2498 "Support Configs Override On Meshed Workloads"
Following discussion in [2471](https://github.com/linkerd/linkerd2/pull/2471#discussion_r265355427), we have agreed to re-visit the design around ways to support configs override during resource update. In general, we want the `inject` library to honor the config overrides annotations, even though the proxy injection process is [skipped](https://github.com/linkerd/linkerd2/blob/e862e98d1a3c533b5ee

[2019-03-14 13:25] notwiben commented on #2488
@grampelberg yes, I do tap for a few hour

[2019-03-14 13:39] notwiben commented on #2488
Got that, still haven't close that terminal windows yet
[code]

[2019-03-14 15:42] #2287 closed

[2019-03-14 16:27] ihcsim commented on #1997
This is fixed by #2471.

[2019-03-14 16:27] #1997 closed

[2019-03-14 16:54] ihcsim opened #2499 "Namespace-level Configs Override Annotations"
## Feature Request

### What problem are you trying to solve?
Extend the configs override annotations to work at the namespace level. This will allow proxy configs to be overridden for all workloads in a namespace, so that the users won't have to repeat the annotations on each workload.

Following our discussion in #2497, we've decided to exclude this feature from that PR, until we see a realistic

[2019-03-14 16:55] #2327 closed

[2019-03-14 18:39] klingerf commented on #1967
I can verify that I'm seeing the spinners in the web UI when pods are initializing:

![image](https://user-images.githubusercontent.com/9226/54382740-d1ee6b00-464d-11e9-82c7-cd6db28b6bfd.png)

[2019-03-14 21:49] #2329 closed

[2019-03-14 22:44] #2347 closed

[2019-03-14 23:49] devurandom commented on #1990
I am using Linkerd stable-2.2.1. Is there an ETA for when edge-18.12.4 will become stable-2.3.0?

[2019-03-14 23:52] klingerf commented on #1990
Hey @devurandom, the fix for this issue shipped with the `stable-2.2.0` release, so it should already be available to you in `stable-2.2.1`.

[2019-03-15 09:18] chenjpu commented on #1354
Is there any plan or progress?

[2019-03-15 12:36] Pothulapati commented on #1895
I'm willing to take this issue :)

[2019-03-15 13:51] glindsell commented on #2120
*I have noticed the following behaviour:*

If I run 5 pods, each a copy of a grpc server, grouped into a service of grpc servers, along with a single grpc client, all meshed in the same k8s cluster - load balancing occurs across the servers per grpc stream on a single grpc connection as required by my use case. *This suggests load balancing is occurring _per grpc stream_.*

However, if I run _only

[2019-03-15 13:57] hazsetata opened #2503 "Scripting friendly output for "linkerd check""
## Feature Request

I would like to use "linkerd check --pre" and "linkerd check" in a deployment script. It would be great to have the possibility that would enable the output to be in a scripting friendly, easy to parse format (e.g.: JSON)

### What problem are you trying to solve?

I would like to inform the users of the deployment script without "dumping" the whole "linkerd check" output into

[2019-03-15 14:20] wmorgan commented on #1354
@chenjpu It's on the roadmap, but isn't currently being worked on or designed.

[2019-03-15 15:09] olix0r opened #2504 "proxy: Remove fs-watch crate"
As fallout from linkerd/linkerd2-proxy#213, the `fs-watch` crate is no longer used. We should remove the utility from the linkerd repo. If it seems generally useful, we may opt to to migrate it to another repo.

The main goal of removing it from the linkerd2-proxy repo is so that we don't have to maintain this code going forward (in the course of linkerd development).

[2019-03-15 15:13] olix0r opened #2505 "proxy: Integration tests for identity"
https://github.com/linkerd/linkerd2-proxy/pull/213 introduces a new control client to an identity service. This change breaks the `outbound_http{1,2}_l5d_server_id_l5d_client_id` tests in the discovery test module, since we can't actually instrument tests that provide with the proxy with identity yet.

As we have done for the destination client, we should add a mock identity service that can be in

[2019-03-15 15:39] grampelberg commented on #2503
Awesome feature request! I'd like to see this be `-o json`.

@siggy is there any way for us to have a `-o json` be standard across all the commands? Is that something that is even worth the work? Feels like `kubectl` does it, but I don't know how.

[2019-03-15 17:40] grampelberg commented on #2120
Linkerd load balances on the *client* side. You can get the benefits of gRPC load balancing by injecting the clients and do not need to actually inject the server side. When Linkerd is not injected on the client side, it is unable to do load balancing and you'll end up falling back to whatever other load balancer is in the way. For k8s and services that use cluster IPs, this will be at the TCP lev

[2019-03-15 19:08] hazsetata opened #2506 "Generate non-changing installation yaml"
## Feature Request

I would like to have an option to generate stable (non-changing) installation yaml when running "linkerd install".

### What problem are you trying to solve?

I’m trying to integrate linkerd2 to my provisioning script (Pulumi). I created a resource that calls “linkerd install --proxy-auto-inject” to generate the install yaml (this way the user can use any version of linkerd (ed

[2019-03-15 21:05] scottcarol commented on #2490
Flagging that @liquidslr is taking this issue, see discussion in #2479

[2019-03-16 22:43] siggy commented on #2503
I agree an `-o json` feature would be useful here.

@grampelberg This is doable for `check`. Making it standard across every command would be interesting, but obviously more work.

[2019-03-18 00:15] #1691 closed

[2019-03-18 00:15] #1869 closed

[2019-03-18 09:52] #1919 closed

[2019-03-18 11:19] speier opened #2511 "Port based service discovery"
## Feature Request

Support port based service discovery.

### What problem are you trying to solve?

Service talks to localhost on a port number and sidecar proxy forwards the request to a configured upstream using FQDN.

For example:
[code]

### How should the problem be solved?

Add the ability to configure routing of LD2 proxy.

### Any alternatives you've considered?

It is possible with [Env

[2019-03-18 15:22] grampelberg commented on #2511
This is an interesting issue. Service discovery is so dependent on k8s DNS right now, it doesn't work particularly well in other environments (development for example). I'm wondering whether this fits into the mesh expansion work a little bit as well.

[2019-03-18 15:40] gamer22026 commented on #2382
Had similar issue. Running 19.3.2 w/auto-inject no TLS. 66 meshed pods and 32 serviceprofiles. Memory usage was at 2.5G on the linkerd-controller and linkerd-proxy was throwing `linkerd2_proxy::app::profiles error fetching profile for someservice:443: Status { code: Unknown, message: "operation timed out after 3s" }` errors for services that had serviceprofiles applied and services were failing. R

[2019-03-18 18:45] olix0r opened #2512 "proxy: exponential backoff on reconnects"
Replace the fixed backoff logic in the reconnect module with a jittered, exponential backoff strategy configured with min/max backoffs.

[2019-03-18 18:52] grampelberg commented on #1990
@devurandom pod localhost traffic will never go through the proxy. The problem with health checks is that they come from the kubelet which is outside of the pod's `localhost` and end up going through the proxy. You could have a special health check port and skip that in the proxy. Then, it would go directly to your service and skip the proxy entirely.

re. `stable-2.3.0`, should be april. We're wo

[2019-03-18 18:56] grampelberg commented on #2506
It would be nice to have `install` hit the cluster first to see what's there.

@ihcsim @alpeb do you think this issue is an extension of the work to get `inject` working off config in the cluster or something completely separate?

[2019-03-18 19:19] liquidslr commented on #2490
@alpeb are the restrictions for namespace and service the same?

[2019-03-18 19:53] ihcsim commented on #2506
I don't think it's directly related to the `inject` config work, since the goal here is to pin/configure the `web` UUID during `install`. fwiw, it can just be a new `install` flag, in which case, this can be a good first issue.

[2019-03-18 20:42] grampelberg commented on #2506
@ihcsim makes sense as a good first pass.

[2019-03-18 20:46] alpeb commented on #2490
@liquidslr Yes. If you try saving a service or a namespace with a string not abiding to the regex above, it will through the same error message.

[2019-03-18 20:47] klingerf commented on #2506
I'd prefer for us to solve this a bit differently. We should start storing the UUID as a field in the `linkerd-config` ConfigMap that's created when you first install the control plane. As of #2455, the control plane has a `Config()` endpoint that we can call from the CLI to get the contents of the ConfigMap. I think it would make sense for `linkerd install` to start calling that endpoint if it's

[2019-03-18 20:47] grampelberg commented on #2506
@klingerf that's definitely my preferred approach!

[2019-03-18 21:08] devurandom commented on #1990
Would it be possible to inject an iptables rule on the host that forces the health checks (originating from the kubelet) through Linkerd? That way they would transparently be encrypted (if Linkerd and its iptables rules are present) and not worry anyone when looking at the dashboard.

[2019-03-18 21:28] siggy commented on #2320
@bourquep any update?

[2019-03-18 21:31] siggy commented on #2462
Relates to #2271

[2019-03-18 21:39] alpeb opened #2513 "Cleanup item: pkg/k8s/api.go has some repeated code"
There are at least three appearances of this code, that may benefit to be extracted into a separate function:

[code]

[2019-03-18 21:50] olix0r commented on #2468
This may or may not be related, but this weekend I observed something similar. Before my server pod passed its readiness check, the cluster IP is available for clients to connect to, but no instances exists to accept the connection.  Once the client's connection times out, subsequent attempts will succeed. It's the desired behavior for the proxy to time out individual connections without impacting

[2019-03-18 22:00] #2420 closed

[2019-03-18 22:25] grampelberg commented on #1990
Sure. Basically, you need the proxy client side and not the server side (which is what gets hit right now).

Not sure why it matters if health checks on the same host are encrypted though? The % in the dashboard is just misleading and needs to be fixed up.

[2019-03-18 22:31] siggy opened #2516 "Cloud-provider test script"
Create a manual test script to validate Linkerd, with the intent of running it on multiple cloud providers (AKS, EKS, GKE, DO).

Test script should instruct users to do the following:
- Validate identity
- Validate auto-inject
- Validate service profiles
- Run integration tests

Part of #2459

[2019-03-18 22:31] siggy opened #2517 "Test script to deploy emojivoto and books at scale"
Introduce a test script to deploy emojivoto and books at scale, specifically:
- deploy emojivoto to 10 namespaces (with identity)
- deploy books to 10 namespaces (with identity) / or find a way to get to 100+ services
- scale each deployment to 10 replicas
- increase traffic to 1000 rps

Part of #2459

[2019-03-18 22:31] siggy opened #2518 "Introduce ServiceProfile test plan"
Introduce a test plan to exercise ServiceProfile features, specifically:
- for each of emojivoto and books:
  - generate service profiles
    - from tap
    - from swagger (books only)
    - from proto (emojivoto only)
  - validate retries
  - validate timeouts
  - validate request matches
  - validate metrics
  - #2517 deploy to cloud providers at scale

Part of #2459

[2019-03-18 22:37] siggy opened #2519 "Identity integration tests"
The existing integration tests perform some basic testing with `--tls optional`. Once identity ships as part of the default install, the integration tests will automatically begin testing Identity.

Update the existing integration tests with additional validation for Identity, via metrics, etc.

Part of #2459

[2019-03-18 22:41] siggy opened #2520 "Introduce ServiceProfile integration tests"
Introduce additional integration tests to validate ServiceProfile functionality. This may include:
- Installing ServiceProfiles via `install-sp`
- Installing ServiceProfiles for `bb` as part of the [smoke test](https://github.com/linkerd/linkerd2/blob/277e644f5a0423b93fd03aae8244df845a06bd60/test/testdata/smoke_test.yaml)
- validating `linkerd check` confirms well-formed service profiles
- validat

[2019-03-19 00:27] #1932 closed

[2019-03-19 01:15] dadjeibaah opened #2523 "GetProfile streams are never closed when proxy evicts services from router cache"
When a proxy's router cache reaches its limit, as a result of servicing multiple unique requests from a client, the proxy is supposed to evict services after a certain configured `ttl` to make room for other services. It is assumed that when these services are dropped from the cache, any  service discovery/profile streams related to that service in the cache should be cleaned up.

There seems to b

[2019-03-19 08:23] liquidslr commented on #2503
@grampelberg  @siggy  if currently we only want it in check I can work on it!

[2019-03-19 08:40] alenkacz commented on #2503
@liquidslr I was planning to pick it up, I talked with @siggy about that yesterday but since you were the first to comment here... :)

[2019-03-19 09:40] liquidslr commented on #2503
no problem @alenkacz you can work on this I thought no one was working on it but since you are I will pick up some other issue :)

[2019-03-19 15:34] ihcsim commented on #2447
Per discussion with @klingerf, the step to convert the CLI inject proxy options to annotations is still necessary, to ensure that subsequent updates (via `kubectl apply` etc.) don't override the existing proxy configs. The current override logic will always look for config annotations, before falling back to defaults defined in the `linkerd-config` config map.

[2019-03-19 18:05] bourquep commented on #2320
Sorry, haven't tried re-deploying my service profiles yet.

[2019-03-19 18:47] adleong opened #2525 "Services throw 504s after serviceprofiles are deleted"
Reported by ksm on the Linkerd slack:

(edge-19.3.2)

[2019-03-19 19:41] olix0r commented on #1897
The proxy now supports intermediate certificates via its new Identity service client. https://github.com/linkerd/linkerd2-proxy/blob/master/src/app/identity.rs#L219

[2019-03-19 19:41] #1897 closed

[2019-03-19 19:52] gamer22026 commented on #2525
Just tried adding in a serviceprofile (just one) and running for a while, then deleting the serviceprofile and everything looks OK. Might be related to https://github.com/linkerd/linkerd2/issues/2382 (which as I commented I'm also experiencing).

[2019-03-19 20:12] supra08 commented on #2489
@rmars, @grampelberg,  I would like to take up this issue.

[2019-03-19 20:27] rmars commented on #2475
I think it could live in `web/app/integration` since we have the unit tests alongside components in `web/app/js` and we have test fixtures in `web/app/test` (or even `web/integration` could work)

[2019-03-19 21:40] liquidslr commented on #2489
@supra08 I was working on it, was just waiting for @rmars reply

[2019-03-19 21:44] liquidslr commented on #2450
thanks @siggy I would like to work on this !

[2019-03-19 23:03] olix0r commented on #1849
The single-namespace flag has been removed, which simplifies this.

[2019-03-19 23:03] #1849 closed

[2019-03-19 23:04] olix0r commented on #1274
Fixed by https://github.com/linkerd/linkerd2/pull/2371

[2019-03-19 23:04] #1274 closed

[2019-03-19 23:05] olix0r commented on #919
This has been implemented.

[2019-03-19 23:05] #919 closed

[2019-03-19 23:05] olix0r commented on #918
T==

[2019-03-19 23:05] #918 closed

[2019-03-19 23:05] #1341 closed

[2019-03-19 23:43] rmars commented on #2489
@liquidslr making the fa stylesheet available offline sounds good to me!

[2019-03-20 00:20] drholmie commented on #2475
Hey there! I have been working on this issue a bit. (https://github.com/drholmie/webdrive-tests). Thanks for clarifying where this should live on the repo! So far I think I have covered the tests for sidebar(they check if all buttons are working, and if links are broken. Do tell if I've missed anything). Will begin work on individual pages now.

[2019-03-20 14:38] KoeSystems commented on #1981
I found this looking for the "issue" about GKE private cluster not able to connect to K8s services. Since I find out the solution I will paste it here, just in case is helpful.

When you do `kubectl proxy` the requests to your services will have a source IP that belongs to the master_ipv4_cidr_block you define, for example, `172.16.3.0/28`.

By default the GKE cluster creates a rule like this
`gke

[2019-03-20 17:25] grampelberg commented on #1981
@KoeSystems that's an awesome explanation, I've been wondering why that was an issue.

[2019-03-20 17:53] olix0r opened #2531 "rfc: Changing install & inject to support identity configuration"
## Problem

Linkerd's new identity implementation expects that proxies are configured with trust anchors and basic identity configuration at inject-time. During installation, we must include this information in generated configuration that is stored in the control plane; and during inject, we must fetch this configuration to configure proxies.

Currently, a configuration is generated during instal

[2019-03-20 18:13] klingerf commented on #2531
Thanks for writing this up. This looks like the right approach to me. Switching the install and inject flags to be override-only is going to make our CLI help text for those commands less useful, but I can't think of a good way to avoid that. Maybe down the road we can consider a `linkerd config` subcommand to print the current control plane config and (potentially) modify it without reinstalling.

[2019-03-20 18:15] siggy commented on #2531
For my own understanding, I'd like to document the user-facing install flow. Can you confirm this is how it would work?

[code]

If the above is accurate, a few comments:
- I think the output of `linkerd install` should not depend on the state of the user's k8s cluster. A use case could be if a user is documenting the steps for an initial k8s cluster setup, and they want a copy of the `linkerd ins

[2019-03-20 18:58] ihcsim commented on #2531
A few questions:

Is the expected behaviour of `linkerd install --overwrite` to basically purge the existing `linkerd-config` config map, and re-create a new one, resulting in all proxies being issued new identity assets (key, cert, CA etc.)? Or the other way round to preserve the existing config map?

Maybe just details, I'm wondering why we need to (re-)generate the `public.config.All` during in

[2019-03-20 19:47] grampelberg commented on #2531
I like a lot of @siggy's points. What about simplifying this a little bit from the UX perspective.

- `linkerd install` - assumes that it will do a fresh install, fail if there's an active install detected.
- `linkerd upgrade` - do everything that is suggested here.

This way we can do hard fails and understand a user's intent instead of trying to guess it.

[2019-03-20 19:53] olix0r commented on #2531
we need to generate one to be stored in the config map ;)  it's mostly an impl detail that we need to do this earlier so we can properly configure identity settings.

Identity is a mandatory component of the control plane. It's not mandatory that all pods participate in identity.

That seems like a good assumption...

[2019-03-20 19:57] olix0r commented on #2531
The alternative is that `install` will totally break meshed communication. I think it's better to optimize to safety in the typical use cases. The cases where you're running install and don't actually want to impact a cluster are pretty rare and i think requiring additional flags in these cases is a great tradeoff.

Then we can't enable identity by default. The goal of the current identity work is

[2019-03-20 20:03] olix0r commented on #2531
To be clear, i'm suggesting that `install` **fails** if a config already exists in kubernetes; and `install --overwrite` should be used if this config should be ignored. We won't blindly use the existing config in a new install; that needs a seperate `upgrade` command/flag

[2019-03-20 20:14] grampelberg commented on #2531
Alright, lemme walk through a full proposal with cluster states:

[code]

[2019-03-20 20:17] olix0r commented on #2531
@grampelberg That looks about right to me.

[2019-03-20 21:04] rmars commented on #2223
@grampelberg TCP stats are now available in the CLI and in several dashboard pages. Is this ticket still something we should do? If there's TCP only stats, the http-based tables do still look bare, but you can scroll down and still see some metrics. We could possibly add a TCP connections column to all the metrics tables so that they don't look so weird. We could alternatively add a note that says

[2019-03-20 21:07] grampelberg commented on #2223
@rmars the core problem is that folks go looking for stats, let's say for an HTTPS service, and are confused/surprised that nothing is there. For the GUI, a little notification that says there are TCP metrics with a link would be great (whether there are HTTP one or not, it is nice to teach users about other functionality in the platform).

For the CLI, it is a little bit tougher. Perhaps adding a

[2019-03-20 21:38] rmars commented on #2223
@grampelberg For the CLI additional column, how about a simple `TCP detected` that just says y/n? That would at least give some indication when there are no http stats present. The criterion could be tcp open connections > 0.

[2019-03-20 21:46] grampelberg commented on #2223
Maybe just show the open connections count?

[2019-03-20 22:38] grampelberg commented on #2503
/assign @alenkacz

[2019-03-21 00:48] #1794 closed

[2019-03-21 00:48] #1577 closed

[2019-03-21 00:51] olix0r commented on #1577
Yes, this was completed.

[2019-03-21 03:54] olix0r opened #2534 "Disable external profiles by default"
Currently, profiles are enabled for all names; but, practically, this puts undue stress on the destination service when, in the majority of cases, the lookups will never yield results.

For now, let's change the default configuration so that this is not enabled. Ideally, I think users should explicitly _enable_ external profiles for specific domains, rather than whitelisting for all. I think it's

[2019-03-21 15:58] glindsell commented on #1585
I'm seeing the same `reset-error=6` when trying to load balance gRPC using linkerd2 and nginx ingress.

Steps to recreate here:

https://github.com/glindsell/free-peer/tree/ingress/stream-meshed

[2019-03-21 16:10] olix0r commented on #1585
@glindsell thanks for putting together a repro and sharing! It's a little hard to tease out a clear problem description from that README, though. Would you mind opening a new issue so that we can make sure we get to the bottom of it?

[2019-03-21 19:49] #2531 closed

[2019-03-21 20:53] #2523 closed

[2019-03-21 20:58] adleong commented on #2534
@dadjeibaah did some testing and found that the destination service was able to handle 10000 concurrent profile requests without really breaking a sweat.  So assuming that the proxy respects the outbound router capacity of 10000, I think we can leave external profiles enabled.

@dadjeibaah can you provide more details?

[2019-03-21 21:59] #1648 closed

[2019-03-21 23:21] #2413 closed

[2019-03-21 23:56] klingerf opened #2540 "Add support for `config.linkerd.io/disable-identity` annotation in auto-inject"
#2535 added a `--disable-identity` flag for CLI inject, but there's no equivalent for disabling identity in the auto-injector. We should add support for a `config.linkerd.io/disable-identity` annotation that allows disabling identity per workload. We should also consider a `--disable-identity` flag for `linkerd install`, which globally disables identity for all workloads. cc @olix0r

[2019-03-22 10:46] glindsell commented on #2120
I have attempted to create the following data path to achieve the desired result:

gRPC client -> Linkerd (server) -> ingress controller -> Linkerd (client) -> backend gRPC pods

But am seeing the same error as identified in this solved issue:

https://github.com/linkerd/linkerd2/issues/1585
(`reset-error=6`)

Steps to recreate the issue can be found here:

https://github.com/glindsell/free-peer/t

[2019-03-22 10:49] glindsell commented on #1585
@olix0r good idea, I've updated the issue which I opened specifically for the purpose of gRPC stream load balancing with this info:

https://github.com/linkerd/linkerd2/issues/2120

[2019-03-22 16:03] grampelberg commented on #2534
From my perspective, I'm happy disabling external names for now and tackling this as part of #2191.

[2019-03-22 17:13] grampelberg opened #2541 "Observability Query Language"
### What problem are you trying to solve?

There's a lot of great observability data in Linkerd. Between prometheus and tap, you can get all kinds of data that explains how your system is working. Unfortunately, these two pieces of data are separate and somewhat difficult to introspect and understand. It is possible to use the CLI, script the output and build a solution on top of that. This soluti

[2019-03-22 17:13] grampelberg commented on #2541
@rmars @scottcarol we've talked about something much smaller than this in the past to get around the weird data sync issues we've got in the GUI. What do you think about potentially moving over to using an API like this for the dashboard instead of the REST based API that is there today?

[2019-03-22 17:13] grampelberg commented on #2541
@Pothulapati what do you think? I'm getting more and more excited about this issue the more I think about it.

[2019-03-22 17:26] grampelberg opened #2542 "Request/Response step debugging"
### What problem are you trying to solve?

It is becoming more and more common to use `tap` to debug why something isn't happening quite right in Linkerd. When looking at the `tap` stream, understanding what you should be looking for is a little difficult. Liveness/readiness checks gum up the works and make it hard to find your specific request.

### How should the problem be solved?

Create a deb

[2019-03-22 17:31] rmars commented on #2541
This would be extremely cool. Am in support of a graphql API for exploring all of linkerd's data!

[2019-03-22 17:37] dadjeibaah commented on #2534
Yea, the destination service can handle 10,000 concurrent profile requests with no problem. So, we can keep querying external profiles.

[2019-03-22 17:40] olix0r commented on #2534
I still feel pretty strongly that we follow through with this.

[2019-03-22 17:40] scottcarol commented on #2541
@grampelberg Could you share a couple specific examples of how a graphql API-based dashboard could help a user solve an issue that they currently can't on the dashboard? Big ⭐️ to graphql, it would be very cool to use that technology.

[2019-03-22 17:42] grampelberg commented on #2541
@scottcarol you can't do the three that I added in the `allows for`. The underlying issue, though, is that it is hard to understand how the dashboard is doing something and there's no standard API there. This would make integrations and exploration much easier.

[2019-03-22 17:57] scottcarol commented on #2541
@grampelberg Makes sense re: integrations and exploration, sounds really cool.

This example: `imagine getting all the requests/responses that do not have identity or don't match with service profiles` is really interesting. Sounds like part of the project will be UI/design-related, to maintain the simplicity of the dashboard while communicating the richness of the added data. 💯

[2019-03-22 17:57] olix0r opened #2543 "Identity controller must only serve responses for trusted requests"
An identity service may serve requests in one of two ways:
* via `localhost`, i.e. from the controller's local proxy
* via the proxy's inbound router

In the first case, we _can't_ do TLS (due to bootstrapping), so the controller must serve requests that originated on the localhost.

In the second case, the proxy might accept EITHER non-TLS'd or TLS'd requests (it adds headers to indicate that it

[2019-03-22 18:26] grampelberg commented on #1895
/assign @Pothulapati

[2019-03-22 18:38] kleimkuhler commented on #2405
I'd like to start getting some eyes on the cache prototype. I have it pushed up as a separate project [here](https://github.com/kleimkuhler/tec) for the time being.

There are several design decisions similar to the current cache implementation. The big difference is the introduction of using [tokio::timer::DelayQueue](https://docs.rs/tokio/0.1.17/tokio/timer/struct.DelayQueue.html) to maintain ca

[2019-03-22 18:42] grampelberg commented on #2120
Looking at this, I can't get it working without linkerd. It looks like nginx-ingress requires HTTPS to do any kind of grpc, see https://github.com/kubernetes/ingress-nginx/issues/2444.

[2019-03-22 19:05] #1965 closed

[2019-03-22 19:11] bourquep opened #2545 "Linkerd inject should respect field omissions"
## Bug Report

### What is the issue?

When my source deployment yaml file has no `resources` key, the injected yaml ends up having `resources: {}`

### How can it be reproduced?

* Run `linkerd inject` on a deployment yaml file that has no `resources` key.
* Observe that the output yaml has a `resources: {}` key.

### Logs, error output, etc

#### Input file example

[code]

#### Inject output ex

[2019-03-22 22:20] alpeb commented on #2213
Looks like #2516 will supersede this one.

[2019-03-22 22:25] alpeb commented on #1999
Closed via #2535

[2019-03-22 22:25] #1999 closed

[2019-03-22 22:29] grampelberg commented on #2213
@alpeb I think they're separate? #2516 is for manual testing, this is for building the tooling and automating the testing. It looks like the scope of this is larger as well, as it looks at doing soak tests with multiple workloads.

[2019-03-22 22:36] alpeb commented on #2286
This has been superseded by #2447

[2019-03-22 22:36] #2286 closed

[2019-03-22 22:37] alpeb commented on #2288
This has been superseded by #2447

[2019-03-22 22:37] #2288 closed

[2019-03-22 22:40] alpeb commented on #2484
Fixed via #2487

[2019-03-22 22:40] #2484 closed

[2019-03-22 22:45] alpeb commented on #2213
Ok gotcha :+1:

[2019-03-22 23:14] dadjeibaah commented on #2382
@jon-walton @gamer22026, we just released [edge-19.3.3]( https://github.com/linkerd/linkerd2/releases/tag/edge-19.3.3) and I believe there is a fix for this issue in the release. Are you able to test this out to confirm that this is the case?

[2019-03-22 23:20] hawkw commented on #2320
Hi @borquep, if you're able, we'd really like to know if this issue still exists for you on today's edge (`edge-19.3.3`). This is currently a release blocker for `stable-2.3`, but since we haven't been able to reproduce it, we can't verify whether or not this bug has been fixed --- there have certainly been some recent changes to the subsystems that might be _involved_ in this issue.

[2019-03-23 18:16] olix0r commented on #2543
Relates to https://github.com/linkerd/linkerd2/issues/2185

[2019-03-23 21:36] gane5hvarma commented on #1943
working on this issue :)

[2019-03-24 03:14] olix0r opened #2548 "stat: pod count can be mis-reported"
[code]

This seems to indicate that there are 44 server instances, however:
[code]

[2019-03-24 15:47] drholmie opened #2549 "Linkerd dashboard start button stays disabled when using top"
Bug Report:
What is the issue?
In the linkerd dashboard top page, when selecting resource as daemonset or statefulset for any namespace, starting and stopping works fine, but the start button remains disabled until page is refreshed. Top works correctly for every other resource.

How can it be reproduced?
Start linkerd dashboard and in the top page, select any namespace and select resource as daem

[2019-03-24 16:50] olix0r opened #2550 "proxy: discovery resolution can stop updating balancer"
Running an injected [strest deployment](https://gist.github.com/olix0r/29609810625c92f26a8b450c23d37175) (on edge-19.3.3), and scaling the server deployments between 2 and 0 pods every few minutes on AKS...

I see an endpoint removed via the gRPC client but not being observed by the outbound stack:

[code]

Other endpoints were properly removed, however:
[code]

The destination client observes man

[2019-03-24 17:33] olix0r commented on #2550
My current hypothesis is that the reconnect logic live-locks the task. When polling ready on the last service in the balancer, it looks like reconnect goes into a tight loop:
[code]

My guess is that configuring a backoff on this client may fix this? I'll give it a try.

[2019-03-24 17:42] olix0r commented on #2550
This doesn't manifest as a problem when the balancer is notified that the endpoint goes away via discovery;  but if the endpoint goes away before we get the notification from discovery, the whole balancer can go out to lunch.

[2019-03-24 18:22] olix0r opened #2551 "inject: `--linkerd-version` override is not applied"
[code]

[2019-03-24 19:14] olix0r commented on #2550
Okay, i think I have a handle on this:

In this case, I'm only running strest with one stream at a time.

When a request comes into the balancer, it only has one endpoint. The endpoint's stack is considered ready because there is a buffering layer under the balancer. The request is buffered; but the underlying stack cannot connect and goes into a reconnect loop trying to flush the request. No more

[2019-03-24 20:10] ihcsim commented on #2551
Related to #2497.

[2019-03-24 20:32] olix0r opened #2552 ""Effective success" is worse than "actual success""
When a service profile configures timeouts on a route, odd things can occur:

[code]

It looks like the "actual" metrics don't know that a timeout failed the request?

[2019-03-24 21:01] olix0r opened #2553 "destination controller panics during shutdown"
Running an AKS cluster, I noticed one of my controller instances in crashloopbackoff; and it appears that during shutdown the controller just panics:
[code]

[2019-03-24 21:04] olix0r opened #2554 "check/dashboard fails when any linkerd pod is down"
Even when running with --ha with redundant controllers, `linkerd dashboard` fails to start when a single pod is down:

[code]

[code]

This logic should probably only warn if ALL instances are not down.

[2019-03-24 22:14] olix0r commented on #2550
for posterity, here's the setup i used to test/repro/burnin: https://gist.github.com/olix0r/dbfb8af23d3199f7f72d18685e936c82

[2019-03-25 13:38] glindsell commented on #2120
Thanks @grampelberg, looks like you're right! Hopefully that's the issue - I'll take a look at adding the SSL config required by nginx for gPRC and give it another go.

[2019-03-25 15:20] olix0r opened #2556 "cli: add an Upgrade command"
Now that `install` fails if a cluster exists, we need an `upgrade` command that fetches the controller's config to use to configure the newer installation. This command should probably NOT accept override configuration (i.e. as is accepted by install and inject), since config updates and software upgrades should, hopefully, be distinct.

[2019-03-25 15:36] grampelberg commented on #2475
/assign @drholmie

[2019-03-25 16:00] grampelberg commented on #1943
/assign @gane5hvarma

[2019-03-25 16:11] grampelberg commented on #2465
/assign @liquidslr

[2019-03-25 16:12] grampelberg commented on #1981
/assign @Pothulapati

[2019-03-25 16:18] ZzEeKkAa commented on #1741
I will look into it.

[2019-03-25 16:22] grampelberg commented on #2554
Related to #2419

[2019-03-25 16:27] olix0r opened #2557 "inject: Inform applications of local identity, control plane, etc"
It may be useful to instrument an application container with [utilities](https://github.com/olix0r/linkerd-await) that act as pass-throughs when the proxy is not injected.

As a first suggestion, `inject` should be modified to set env var:
- `LINKERD_CONTROL_NS` -- the control plane namespace.

And, when the pod participates in identity:
- `LINKERD_IDENTITY_LOCAL` -- the pod's local ID (i.e. defau

[2019-03-25 16:55] grampelberg commented on #1741
/assign @ZzEeKkAa

[2019-03-25 17:03] olix0r commented on #2550
We should consider alternatives to making the balancer more complex by adding a daemon task... For instance, it may be possible to implement this as a Discover middleware if we're okay with service discovery being authoritative (which we are for the moment, a least).

[2019-03-25 17:43] olix0r commented on #2556
i have a branch that adds the basis for the command...

[2019-03-25 18:07] siggy commented on #2382
For reference, we believe this was fixed via linkerd/linkerd2-proxy#220.

[2019-03-25 18:21] gane5hvarma opened #2558 "The table obtained from linkerd top deploy/linkerd-web is not wrapping in terminal properly"
## Bug Report

### What is the issue?
The table obtained from linkerd top deploy/linkerd-web is not wrapping in terminal properly. The issue might be not using correct function of printing table on terminal of termbox go package.
### How can it be reproduced?
linkerd -n linkerd top deploy/linkerd-web
### Logs, error output, etc
![linkerdmetrics](https://user-images.githubusercontent.com/23616236/5

[2019-03-25 19:36] gane5hvarma commented on #1943
couldn't able to reproduce the issue
![linkerd3](https://user-images.githubusercontent.com/23616236/54948707-518c0c00-4f63-11e9-8c8a-d49301ba83b8.png)

[2019-03-25 19:43] gane5hvarma commented on #2558
working on this issue :)

[2019-03-25 20:46] siggy opened #2559 "Improve k8s access check during initialization"
## Background
When controller components initialize a k8s client:
https://github.com/linkerd/linkerd2/blob/eafd7482f56e6ba851d1f90f479f4e387b0a0e94/controller/k8s/api.go#L87

... they perform a `SelfSubjectAccessReview` check to verify they have `list` capability on the `pod` resource:
https://github.com/linkerd/linkerd2/blob/eafd7482f56e6ba851d1f90f479f4e387b0a0e94/pkg/k8s/authz.go#L74-L78

## Pr

[2019-03-25 21:29] siggy commented on #2488
Would be easier to investigate with #2199.

[2019-03-25 21:38] siggy commented on #2423
@jon-walton We believe this is fixed with edge-19.3.3, via linkerd/linkerd2-proxy#220, can you confirm?

[2019-03-25 21:59] hawkw commented on #2505
Speaking with Oliver offline, I think the first proxy tests to prioritize are:
- the `/ready` endpoint doesn't indicate readiness until the proxy's id has been certified, and
- the proxy refreshes its id as it approaches the TTL

[2019-03-25 22:56] alpeb opened #2560 "Enhance webhook unit tests"
Enhance `webhook_test.go` to include tests verifying the correct creation of the labels pointing to the parent resource.

[2019-03-26 00:17] #1349 closed

[2019-03-26 01:08] klingerf commented on #1943
@gane5hvarma Thanks for investigating! I can confirm that I also can't reproduce this. Will close it.

[code]

[2019-03-26 01:08] #1943 closed

[2019-03-26 01:34] jon-walton commented on #2423
yep, working on getting that confirmation for you 👍

[2019-03-26 04:30] olix0r commented on #2551
It's convenient to fix this with #2556, so i'll take it

[2019-03-26 04:51] olix0r opened #2563 "Split proxy-init into separate repo"
The proxy-init container rarely changes. Yet, we build it on every build, publish it on every release, etc. Furthermore, because the proxy version we inject with needs to match the init version, it complicates testing proxy versions.

Why don't we split this code out into a separate repo (i.e. linkerd/proxy-init) and depend on a less-frequently-changing version during inject? This streamlines the

[2019-03-26 10:42] jon-walton commented on #2382
@siggy @dadjeibaah  This seems to be fixed for me. thanks 👍

[2019-03-26 10:47] jon-walton commented on #2423
@siggy I haven't seen any proxy errors in the logs over the last 24 hours. I think we can class this as fixed. thanks

[2019-03-26 10:47] #2423 closed

[2019-03-26 13:05] bourquep commented on #2320
@hawkw Sorry about that, I'll try to test this today!

[2019-03-26 15:59] olix0r commented on #2482
Why would we want to do this when we automatically get the latest stable from CI?

[2019-03-26 16:03] olix0r commented on #2482
Or, to put this another way: what is the advantage of pinning the version and manually having to update it when a new stable is released?

In the case of the dockerfile-- that's really just a convenience for development and it seems fine if that gets updated manually as-needed.

[2019-03-26 16:38] #2382 closed

[2019-03-26 16:39] olix0r opened #2565 "proxy: mark `outbound_dest_limit_does_not_limit_dns` as flakey"
Any test that contacts httpbin.org is inherently flakey. Let's not let them cause CI failures...

[2019-03-26 16:53] #2342 closed

[2019-03-26 17:12] alpeb opened #2566 "Replace client.Corev1() calls with k8s.API calls in webhook.go"
Follow-up to #2508

Replace direct calls like `client.CoreV1().Namespaces().Get(request.Namespace, metav1.GetOptions{})` with `k8s.API` calls that are cached, like we did [here](https://github.com/linkerd/linkerd2/pull/2472#discussion_r267464173).

[2019-03-26 17:19] klingerf commented on #2563
This also relates to #1318.

[2019-03-26 17:34] klingerf opened #2567 "Update web server to read the UUID from the linkerd-config ConfigMap"
#2561 added the control plane install's UUID to the global `linkerd-config` ConfigMap. This means that the web server no longer needs to be explicitly passed the UUID via the `-uuid` flag, and it can instead volume mount the ConfigMap and read it from there.

For an example of how other containers volume mount the ConfigMap in the install YAML, see:

https://github.com/linkerd/linkerd2/blob/7efe38

[2019-03-26 20:42] klingerf opened #2568 "Remove --linkerd-cni-enabled inject flag"
~~Relates to #2540. It's now possible to override most inject options via `config.linkerd.io` annotations on the pod spec, but there's no support for a `config.linkerd.io/linkerd-cni-enabled` annotation that corresponds to running `linkerd inject --linkerd-cni-enabled`. We should add support for that in `pkg/inject`, and once #2547 merges, we should also start setting that annotation from the CLI

[2019-03-26 20:46] siggy opened #2569 "Injection integration tests"
## Background

Injection behavior is changing via PRs like #2500, #2547, and #2555, particularly in the interaction between manual and auto-injection.

## Proposal

Introduce integration tests to validate various dimensions of injections and annotations:
- [x] #2595 with and without `--proxy-auto-inject`
- cli inject with and without auto inject
- pod deploys and deployment deploys
- `linkerd.io/i

[2019-03-26 21:21] #2447 closed

[2019-03-26 21:45] ihcsim commented on #2551
Fixed under #2547.

[2019-03-26 22:54] KatherineMelnyk commented on #2567
I will take it.

[2019-03-26 23:35] ihcsim commented on #2551
The overridden linkerd version needs to be encoded as annotation. Re-opening issue.

[2019-03-27 10:19] harsh-98 commented on #2568
I would like to work on it and i have understood the issue.

[2019-03-27 11:22] harsh-98 commented on #2568
On line https://github.com/linkerd/linkerd2/blob/master/cli/cmd/install.go#L338, why is options.noInitContainer correct even though options is of type InstallOptions which doesn't have noInitContainer.